.contacts {
  &__title {
    color: inherit;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    margin-bottom: 20px;
  }

  &__list {
    color: inherit;
  }

  &__data {
    color: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    transition: color;

    @include add-transition;

    &:hover {
      color: $main-data-color;
      font-weight: 600;
    }
  }
}
