* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.container {
  padding-inline: 20px;
  max-width: 1280px;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .container {
    padding-inline: 39px;
  }
}
@media (min-width: 1280px) {
  .container {
    padding-inline: 55px;
  }
}

/* stylelint-disable */
h1 {
  font-family: "PlayfairDisplay";
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
}
@media (min-width: 640px) {
  h1 {
    font-size: 72px;
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 96px;
  }
}

h2 {
  font-family: "PlayfairDisplay";
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
}
@media (min-width: 640px) {
  h2 {
    font-size: 62px;
  }
}
@media (min-width: 1280px) {
  h2 {
    font-size: 80px;
  }
}

h3 {
  font-family: "PlayfairDisplay";
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
}
@media (min-width: 640px) {
  h3 {
    font-size: 40px;
  }
}
@media (min-width: 1280px) {
  h3 {
    font-size: 48px;
  }
}

h4 {
  font-family: "PlayfairDisplay";
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
}
@media (min-width: 640px) {
  h4 {
    font-size: 24px;
  }
}

h5 {
  font-family: "PlayfairDisplay";
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.main-text {
  font-family: "Raleway";
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}

.sub-title {
  font-family: "Raleway";
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: #CD4D31;
}

p {
  font-family: inherit;
}

/* stylelint-enable */
/* stylelint-disable */
.main-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #F1F5F4;
  background-color: #CD4D31;
  padding-block: 22px;
  white-space: nowrap;
  text-align: center;
  width: 100%;
  transition: background-color 0.3s;
}
.main-btn:hover {
  background-color: #AF3419;
}
.main-btn:active {
  background-color: #EA340D;
}
.main-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.secondary-btn {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: #CD4D31;
  background-color: #F1F5F4;
  border: 1px solid #CD4D31;
  padding-block: 22px;
  width: 100%;
  max-height: 60px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: color 0.3s;
  transition: border 0.3s;
}
.secondary-btn::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/Icons/orange-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.secondary-btn:hover {
  color: #AF3419;
}
.secondary-btn:hover {
  border: 1px solid #AF3419;
}
.secondary-btn:hover::after {
  background-image: url("../images/Icons/dark-orange-arrow.svg");
}
.secondary-btn:active {
  color: #EA340D;
  border: 1px solid #EA340D;
}
.secondary-btn:active::after {
  background-image: url("../images/Icons/light-orange-arrow.svg");
}
.secondary-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.lang-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #F1F5F4;
  font-size: 16px;
  position: relative;
  opacity: 0;
  pointer-events: none;
}
@media (min-width: 640px) {
  .lang-btn {
    pointer-events: auto;
    opacity: 1;
  }
}
.lang-btn span {
  background-color: #F1F5F4;
  display: block;
  height: 1px;
  width: 4.6px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -13px;
}
.lang-btn span:nth-child(1) {
  right: -13px;
  transform: rotate(45deg);
}
.lang-btn span:nth-child(2) {
  right: -16px;
  transform: rotate(-45deg);
}

/* stylelint-enable */
.burger {
  height: 30px;
  width: 30px;
  position: relative;
  padding: 5px 3px;
}
.burger span {
  background-color: #F1F5F4;
  display: block;
  width: 25px;
  height: 2px;
}
.burger span:nth-child(1) {
  position: absolute;
  top: 5px;
}
.burger span:nth-child(2) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.burger span:nth-child(3) {
  position: absolute;
  bottom: 5px;
}

.mobile-menu {
  background-color: #3F5252;
  color: #F1F5F4;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  transition: transform 0.3s;
  right: 0;
  z-index: 10;
  transform: scale(0);
  transform-origin: top right;
  pointer-events: none;
}
.mobile-menu:target {
  transform: scale(1);
  pointer-events: auto;
  overflow: auto;
  scroll-behavior: smooth;
}
.mobile-menu__wrap {
  --column: 2;
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: repeat(var(--column), 1fr);
  position: relative;
  padding-top: 10px;
}
@media (min-width: 640px) {
  .mobile-menu__wrap {
    --column: 6;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 1280px) {
  .mobile-menu__wrap {
    --column: 12;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 640px) {
  .mobile-menu__wrap {
    padding-top: 30px;
  }
}
@media (min-width: 1280px) {
  .mobile-menu__wrap {
    padding-top: 40px;
  }
}
.mobile-menu__time {
  grid-column: 1/-1;
  margin-bottom: 20px;
}
@media (min-width: 640px) {
  .mobile-menu__time {
    grid-column: 1/3;
    margin-bottom: 0;
  }
}
.mobile-menu__thin-text {
  font-size: 14px;
  line-height: 19.6px;
}
.mobile-menu__adress {
  grid-column: 1/-1;
  transition: opacity 0.3s;
}
.mobile-menu__adress:hover {
  opacity: 0.6;
}
@media (min-width: 640px) {
  .mobile-menu__adress {
    grid-column: 3/6;
  }
}
.mobile-menu__bold-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  grid-column: 1/-1;
  display: inline-block;
}
.mobile-menu__nav {
  grid-column: 1/-1;
}
@media (min-width: 1280px) {
  .mobile-menu__nav {
    grid-column: 1/7;
  }
}
.mobile-menu__nav ul {
  flex-direction: column;
  padding-block: 40px;
  border-bottom: 1px solid #F1F5F4;
}
@media (min-width: 640px) {
  .mobile-menu__nav ul {
    padding-block: 50px;
  }
}
@media (min-width: 1280px) {
  .mobile-menu__nav ul {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}
.mobile-menu__btn {
  grid-column: 1/-1;
  margin-top: 40px;
}
@media (min-width: 640px) {
  .mobile-menu__btn {
    grid-column: 1/4;
    margin-top: 50px;
  }
}
@media (min-width: 1280px) {
  .mobile-menu__btn {
    margin-top: 60px;
  }
}
.mobile-menu__img {
  display: none;
}
@media (min-width: 640px) {
  .mobile-menu__img {
    display: block;
    margin-top: 30px;
    grid-column: 2/-2;
  }
}
@media (min-width: 1280px) {
  .mobile-menu__img {
    position: absolute;
    right: -155px;
    z-index: -1;
  }
}

.nav {
  color: #F1F5F4;
  /* stylelint-disable */
  /* stylelint-enable */
}
.nav__list {
  display: flex;
  gap: 20px;
}
@media (min-width: 640px) {
  .nav__list {
    gap: 30px;
  }
}
@media (min-width: 1280px) {
  .nav__list {
    gap: 60px;
  }
}
.nav__item {
  font-family: "PlayfairDisplay", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
@media (min-width: 640px) {
  .nav__item {
    font-size: 48px;
    line-height: 57.6px;
  }
}
.nav__link {
  position: relative;
}
.nav__link::after {
  content: "";
  transform-origin: 1;
  background-color: #F1F5F4;
  width: 100%;
  height: 1px;
  transition: transform 0.3s;
  display: block;
  position: absolute;
  bottom: 0;
  transform: scale(0);
  z-index: 100;
}
.nav__link:hover::after {
  transform: scale(1);
}

.exhibition-card:not(:last-of-type) {
  margin-bottom: 60px;
}
@media (min-width: 640px) {
  .exhibition-card {
    grid-column: span 3;
    --column: 2;
    display: grid;
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-template-columns: repeat(var(--column), 1fr);
  }
}
@media (min-width: 640px) and (min-width: 640px) {
  .exhibition-card {
    --column: 6;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 640px) and (min-width: 1280px) {
  .exhibition-card {
    --column: 12;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 640px) {
  .exhibition-card:not(:last-of-type) {
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .exhibition-card {
    grid-column: span 6;
  }
}
@media (min-width: 640px) {
  .exhibition-card__link {
    grid-column: span 6;
  }
}
@media (min-width: 1280px) {
  .exhibition-card__link {
    grid-column: span 12;
  }
}
.exhibition-card__img {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  max-height: 356px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 640px) {
  .exhibition-card__img {
    max-height: 420px;
    justify-self: stretch;
    margin-bottom: 30px;
  }
}
@media (min-width: 1280px) {
  .exhibition-card__img {
    margin-bottom: 20px;
    max-height: 484px;
    grid-column: span 12;
  }
}
.exhibition-card__date {
  margin-bottom: 10px;
  line-height: 24px;
}
@media (min-width: 640px) {
  .exhibition-card__date {
    grid-column: span 6;
  }
}
@media (min-width: 1280px) {
  .exhibition-card__date {
    grid-column: span 12;
  }
}
.exhibition-card__title {
  margin-bottom: 20px;
}
@media (min-width: 640px) {
  .exhibition-card__title {
    grid-column: span 6;
  }
}
@media (min-width: 738px) and (max-width: 880px) {
  .exhibition-card__title {
    height: 60px;
  }
}
@media (min-width: 1280px) {
  .exhibition-card__title {
    grid-column: span 12;
  }
}
.exhibition-card__text {
  margin-bottom: 30px;
  grid-column: span 6;
}
@media (min-width: 640px) {
  .exhibition-card__text {
    margin-bottom: 40px;
  }
}
@media (min-width: 1280px) {
  .exhibition-card__text {
    margin-bottom: 50px;
    grid-column: span 12;
  }
}
.exhibition-card__btn {
  height: 60px;
  grid-column: span 6;
  align-self: self-end;
}
@media (min-width: 1280px) {
  .exhibition-card__btn {
    width: calc(50% - 15px);
    grid-column: span 12;
  }
}

.events-card:not(:last-of-type) {
  margin-bottom: 60px;
}
@media (min-width: 640px) {
  .events-card {
    grid-column: span 6;
    --column: 2;
    display: grid;
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-template-columns: repeat(var(--column), 1fr);
    grid-template-rows: min-content 1fr;
  }
}
@media (min-width: 640px) and (min-width: 640px) {
  .events-card {
    --column: 6;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 640px) and (min-width: 1280px) {
  .events-card {
    --column: 12;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 640px) {
  .events-card:not(:last-of-type) {
    margin-bottom: 70px;
  }
}
@media (min-width: 1280px) {
  .events-card {
    grid-column: span 12;
  }
}
.events-card__img {
  margin-bottom: 20px;
}
@media (min-width: 640px) {
  .events-card__img {
    margin-bottom: 0;
    grid-column: 1/4;
    grid-row: span 2;
  }
}
@media (min-width: 860px) {
  .events-card__img {
    grid-column: 1/3;
  }
}
@media (min-width: 1280px) {
  .events-card__img {
    grid-column: 1/5;
  }
}
@media (min-width: 640px) {
  .events-card__content {
    grid-column: 4/7;
  }
}
@media (min-width: 860px) {
  .events-card__content {
    grid-column: 3/6;
  }
}
@media (min-width: 1280px) {
  .events-card__content {
    grid-column: 5/11;
  }
}
.events-card__date {
  margin-bottom: 10px;
  line-height: 24px;
}
.events-card__title {
  margin-bottom: 20px;
}
.events-card__text {
  margin-bottom: 30px;
}
@media (min-width: 640px) {
  .events-card__text {
    margin-bottom: 50px;
  }
}
@media (min-width: 640px) {
  .events-card__btn {
    grid-column: 4/7;
    height: 60px;
  }
}
@media (min-width: 860px) {
  .events-card__btn {
    grid-column: 3/6;
  }
}
@media (min-width: 1280px) {
  .events-card__btn {
    grid-column: 5/8;
  }
}

.news-card:not(:last-of-type) {
  margin-bottom: 50px;
}
@media (min-width: 640px) {
  .news-card {
    grid-column: span 3;
  }
  .news-card:not(:last-of-type) {
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .news-card {
    grid-column: span 6;
  }
}
@media (min-width: 640px) {
  .news-card__link {
    grid-column: span 6;
  }
}
@media (min-width: 1280px) {
  .news-card__link {
    grid-column: span 12;
  }
}
.news-card__img {
  margin-bottom: 20px;
}
@media (min-width: 640px) {
  .news-card__img {
    margin-bottom: 30px;
  }
}
@media (min-width: 1280px) {
  .news-card__img {
    margin-bottom: 20px;
  }
}
.news-card__date {
  font-size: 14px;
  line-height: 19.6px;
  color: #1C1B29;
}
.news-card__title {
  margin-bottom: 20px;
}
@media (min-width: 640px) {
  .news-card__title {
    grid-column: span 6;
  }
}
@media (min-width: 1280px) {
  .news-card__title {
    grid-column: span 12;
  }
}
.news-card__text {
  line-height: 24px;
}

.header {
  background-color: #3F5252;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header__btns {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 40px;
}
@media (min-width: 640px) {
  .header__btns {
    flex-direction: row;
  }
}

.first {
  background-color: #3F5252;
  color: #F1F5F4;
  padding-top: 50px;
  /* stylelint-disable */
}
@media (min-width: 640px) {
  .first {
    padding-top: 100px;
  }
}
.first__wrap {
  --column: 2;
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: repeat(var(--column), 1fr);
  position: relative;
}
@media (min-width: 640px) {
  .first__wrap {
    --column: 6;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 1280px) {
  .first__wrap {
    --column: 12;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.first__date-text {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  grid-column: 1/-1;
}
.first__title {
  margin-bottom: 30px;
  grid-column: 1/-1;
}
@media (min-width: 1280px) {
  .first__title {
    grid-column: 1/7;
  }
}
.first__text {
  margin-bottom: 40px;
  grid-column: 1/-1;
}
@media (min-width: 640px) {
  .first__text {
    grid-column: 1/4;
    margin-bottom: 50px;
  }
}
@media (min-width: 1280px) {
  .first__text {
    grid-column: 1/6;
    margin-bottom: 80px;
  }
}
.first__btn {
  grid-column: 1/-1;
  margin-bottom: 40px;
}
@media (min-width: 640px) {
  .first__btn {
    grid-column: 1/4;
    margin-bottom: 70px;
  }
}
@media (min-width: 1280px) {
  .first__btn {
    margin-bottom: 135px;
  }
}
.first__img {
  grid-column: 1/-1;
}
@media (min-width: 640px) {
  .first__img {
    grid-column: 2/-2;
  }
}
@media (min-width: 1280px) {
  .first__img {
    position: absolute;
    right: -154px;
    bottom: 0;
  }
}
.first__line {
  display: none;
}
@media (min-width: 1280px) {
  .first__line {
    display: flex;
    align-items: center;
    gap: 20px;
    grid-column: 1/7;
    margin-bottom: 50px;
  }
  .first__line span {
    background-color: #F1F5F4;
    height: 1px;
    width: 100%;
    display: block;
  }
}
.first__line-text {
  font-family: "PlayfairDisplay", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.5px;
  white-space: nowrap;
}

/* stylelint-enable */
.exhibition {
  padding-block: 90px 120px;
}
@media (min-width: 640px) {
  .exhibition {
    padding-block: 100px 160px;
  }
}
@media (min-width: 1280px) {
  .exhibition {
    padding-block: 110px 200px;
  }
}
@media (min-width: 640px) {
  .exhibition__wrap {
    --column: 2;
    display: grid;
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-template-columns: repeat(var(--column), 1fr);
  }
}
@media (min-width: 640px) and (min-width: 640px) {
  .exhibition__wrap {
    --column: 6;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 640px) and (min-width: 1280px) {
  .exhibition__wrap {
    --column: 12;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.exhibition__title {
  margin-bottom: 60px;
}
@media (min-width: 640px) {
  .exhibition__title {
    margin-bottom: 75px;
    grid-column: 1/5;
  }
}
@media (min-width: 1280px) {
  .exhibition__title {
    margin-bottom: 70px;
    grid-column: 1/7;
  }
}
.exhibition__btn {
  display: none;
}
@media (min-width: 640px) {
  .exhibition__btn {
    display: flex;
    grid-column: 5/7;
  }
}
@media (min-width: 1280px) {
  .exhibition__btn {
    grid-column: 10/13;
  }
}
.exhibition__mobile-btn {
  display: flex;
  margin-top: 30px;
}
@media (min-width: 640px) {
  .exhibition__mobile-btn {
    display: none;
  }
}

.events {
  padding-bottom: 90px;
}
@media (min-width: 640px) {
  .events {
    padding-bottom: 100px;
  }
}
@media (min-width: 1280px) {
  .events {
    padding-bottom: 110px;
  }
}
@media (min-width: 640px) {
  .events__wrap {
    --column: 2;
    display: grid;
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-template-columns: repeat(var(--column), 1fr);
  }
}
@media (min-width: 640px) and (min-width: 640px) {
  .events__wrap {
    --column: 6;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 640px) and (min-width: 1280px) {
  .events__wrap {
    --column: 12;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.events__title {
  margin-bottom: 60px;
}
@media (min-width: 640px) {
  .events__title {
    margin-bottom: 75px;
    grid-column: 1/5;
  }
}
@media (min-width: 1280px) {
  .events__title {
    margin-bottom: 70px;
    grid-column: 1/7;
  }
}
.events__btn {
  display: none;
}
@media (min-width: 640px) {
  .events__btn {
    display: flex;
    gap: 3px;
    grid-column: 5/7;
  }
}
@media (min-width: 750px) {
  .events__btn {
    gap: 8px;
  }
}
@media (min-width: 1280px) {
  .events__btn {
    grid-column: 10/13;
  }
}
.events__mobile-btn {
  display: flex;
  margin-top: 30px;
}
@media (min-width: 640px) {
  .events__mobile-btn {
    display: none;
  }
}

.visit {
  background-color: #3F5252;
  color: #F1F5F4;
  padding-block: 50px;
}
@media (min-width: 640px) {
  .visit {
    padding-block: 80px;
  }
}
@media (min-width: 1280px) {
  .visit {
    padding-block: 205px;
    background-image: url("../images/visit-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media (min-width: 640px) {
  .visit__content {
    --column: 2;
    display: grid;
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-template-columns: repeat(var(--column), 1fr);
  }
}
@media (min-width: 640px) and (min-width: 640px) {
  .visit__content {
    --column: 6;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 640px) and (min-width: 1280px) {
  .visit__content {
    --column: 12;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.visit__title {
  margin-bottom: 20px;
}
@media (min-width: 640px) {
  .visit__title {
    grid-column: 1/6;
  }
}
@media (min-width: 1280px) {
  .visit__title {
    margin-bottom: 10px;
    grid-column: 6/13;
  }
}
.visit__text {
  margin-bottom: 40px;
}
@media (min-width: 640px) {
  .visit__text {
    margin-bottom: 60px;
    grid-column: 1/6;
  }
}
@media (min-width: 1280px) {
  .visit__text {
    margin-bottom: 50px;
    grid-column: 6/11;
  }
}
@media (min-width: 640px) {
  .visit__btn {
    grid-column: 1/4;
  }
}
@media (min-width: 1280px) {
  .visit__btn {
    grid-column: 6/9;
  }
}

.news {
  padding-block: 90px 120px;
}
@media (min-width: 640px) {
  .news {
    padding-block: 120px 160px;
  }
}
@media (min-width: 1280px) {
  .news {
    padding-block: 110px 200px;
  }
}
@media (min-width: 640px) {
  .news__wrap {
    --column: 2;
    display: grid;
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-template-columns: repeat(var(--column), 1fr);
  }
}
@media (min-width: 640px) and (min-width: 640px) {
  .news__wrap {
    --column: 6;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 640px) and (min-width: 1280px) {
  .news__wrap {
    --column: 12;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.news__title {
  margin-bottom: 60px;
}
@media (min-width: 640px) {
  .news__title {
    margin-bottom: 75px;
    grid-column: 1/5;
  }
}
@media (min-width: 1280px) {
  .news__title {
    margin-bottom: 55px;
    grid-column: 1/7;
  }
}
.news__btn {
  display: none;
}
@media (min-width: 640px) {
  .news__btn {
    display: flex;
    grid-column: 5/7;
  }
}
@media (min-width: 1280px) {
  .news__btn {
    grid-column: 10/13;
  }
}
.news__mobile-btn {
  display: flex;
  margin-top: 30px;
}
@media (min-width: 640px) {
  .news__mobile-btn {
    display: none;
  }
}

.subscribe {
  padding-bottom: 80px;
}
@media (min-width: 640px) {
  .subscribe {
    padding-bottom: 130px;
  }
}
@media (min-width: 1280px) {
  .subscribe {
    padding-bottom: 200px;
  }
}
@media (min-width: 640px) {
  .subscribe__wrap {
    --column: 2;
    display: grid;
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-template-columns: repeat(var(--column), 1fr);
  }
}
@media (min-width: 640px) and (min-width: 640px) {
  .subscribe__wrap {
    --column: 6;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 640px) and (min-width: 1280px) {
  .subscribe__wrap {
    --column: 12;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.subscribe__title {
  margin-bottom: 20px;
}
@media (min-width: 640px) {
  .subscribe__title {
    margin-bottom: 50px;
    grid-column: 1/6;
  }
}
.subscribe__text {
  margin-bottom: 50px;
  line-height: 24px;
}
@media (min-width: 640px) {
  .subscribe__text {
    grid-column: 1/6;
  }
}
@media (min-width: 1280px) {
  .subscribe__text {
    grid-column: 7/13;
  }
}
.subscribe__form {
  margin-bottom: 30px;
}
@media (min-width: 640px) {
  .subscribe__form {
    grid-column: 1/5;
  }
}
@media (min-width: 1280px) {
  .subscribe__form {
    margin-bottom: 40px;
    grid-column: 1/6;
  }
}
.subscribe__email {
  width: 100%;
  padding-bottom: 3px;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-bottom: 1px solid #1C1B29;
  background-color: #F1F5F4;
  line-height: 24px;
  transition: border-bottom 0.3s;
}
.subscribe__email:focus, .subscribe__email:active {
  outline: none;
  border-bottom: 1px solid #AF3419;
}
.subscribe__email:focus::-moz-placeholder, .subscribe__email:active::-moz-placeholder {
  color: #AF3419;
}
.subscribe__email:focus::placeholder, .subscribe__email:active::placeholder {
  color: #AF3419;
}
.subscribe__email::-moz-placeholder {
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  font-weight: 400;
}
.subscribe__email::placeholder {
  transition: color 0.3s;
  font-weight: 400;
}
.subscribe__email:hover {
  border-bottom: 1px solid #CD4D31;
}
.subscribe__email:hover::-moz-placeholder {
  color: #CD4D31;
}
.subscribe__email:hover::placeholder {
  color: #CD4D31;
}
@media (min-width: 640px) {
  .subscribe__btn {
    grid-column: 1/4;
  }
}

/* stylelint-disable */
.footer {
  background-color: #3F5252;
  color: #F1F5F4;
  padding-block: 34px 30px;
}
@media (min-width: 640px) {
  .footer {
    padding-block: 50px 30px;
  }
}
.footer__wrap {
  display: grid;
  gap: 50px;
}
@media (min-width: 640px) {
  .footer__wrap {
    --column: 2;
    display: grid;
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-template-columns: repeat(var(--column), 1fr);
  }
}
@media (min-width: 640px) and (min-width: 640px) {
  .footer__wrap {
    --column: 6;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 640px) and (min-width: 1280px) {
  .footer__wrap {
    --column: 12;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 640px) {
  .footer__left {
    grid-column: 1/3;
  }
}
@media (min-width: 1280px) {
  .footer__left {
    grid-column: 1/4;
  }
}
.footer__title {
  margin-bottom: 10px;
}
@media (min-width: 640px) {
  .footer__title {
    margin-bottom: 30px;
  }
}
.footer__link, .footer__schedule {
  line-height: 24px;
}
.footer__link {
  transition: opacity 0.3s;
}
.footer__link:hover {
  opacity: 0.6;
}
.footer__media {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}
@media (min-width: 640px) {
  .footer__media {
    margin-top: 50px;
  }
}
.footer__icon {
  padding: 5px;
  transition: opacity 0.3s;
}
.footer__icon:hover {
  opacity: 0.6;
}
@media (min-width: 640px) {
  .footer__center {
    grid-column: 3/5;
  }
}
@media (min-width: 1280px) {
  .footer__center {
    grid-column: 5/7;
  }
}
@media (min-width: 640px) {
  .footer__right {
    grid-column: 5/7;
  }
}
@media (min-width: 1280px) {
  .footer__right {
    grid-column: 9/11;
  }
}
.footer__nav ul {
  flex-direction: column;
  gap: 5px;
}
.footer__nav ul li {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.footer__bottom {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  font-size: 14px;
}
@media (min-width: 330px) {
  .footer__bottom {
    gap: 22px;
  }
}
@media (min-width: 1280px) {
  .footer__bottom {
    --column: 2;
    display: grid;
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-template-columns: repeat(var(--column), 1fr);
    margin-top: 70px;
  }
}
@media (min-width: 1280px) and (min-width: 640px) {
  .footer__bottom {
    --column: 6;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .footer__bottom {
    --column: 12;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 1280px) {
  .footer__copyright {
    grid-column: 1/3;
  }
}
@media (min-width: 1280px) {
  .footer__terms {
    grid-column: 3/5;
  }
}
.footer__scroll-up {
  position: absolute;
  right: 0;
  border-radius: 5px;
  display: block;
  transition: scale 0.3s;
  transition: opacity 0.3s;
}
.footer__scroll-up:hover {
  scale: 1.1;
}
.footer__scroll-up:hover {
  opacity: 0.6;
}

/* stylelint-enable */
/* stylelint-disable */
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Black.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/* stylelint-enable */
/* stylelint-disable */
html {
  font-family: "Raleway", sans-serif;
  background-color: #F1F5F4;
  font-size: 16px;
  scroll-behavior: smooth;
}
html:has(.mobile-menu:target) {
  overflow: hidden;
}

/* stylelint-enable *//*# sourceMappingURL=main.css.map */