@font-face {
  font-family: "IBMPlexSans";
  src: url("../fonts/IBMPlexSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("../fonts/IBMPlexSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("../fonts/IBMPlexSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("../fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("../fonts/IBMPlexSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.page__body {
  margin: 0;
}

.header__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  position: relative;
}
@media (min-width: 768px) {
  .header__wrapper {
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
  }
}
@media (min-width: 1280px) {
  .header__wrapper {
    grid-template-columns: repeat(12, 1fr);
  }
}

.header__main {
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .header__main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20px;
  }
}
@media (min-width: 1280px) {
  .header__main {
    gap: 30px;
  }
}

.header__img-container {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
  background-image: url(../images/header-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .header__img-container {
    margin-bottom: 0;
    justify-content: start;
    height: 384px;
  }
}
@media (min-width: 1280px) {
  .header__img-container {
    height: 655px;
  }
}

.header__burger-menu {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/burger-menu.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 34px;
  top: 39px;
}
@media (min-width: 768px) {
  .header__burger-menu {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (min-width: 1280px) {
  .header__burger-menu {
    left: 55px;
  }
}

.header__logo {
  display: block;
  width: 55px;
  height: 61px;
  background-image: url(../images/icons/header-logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 9px;
}
@media (min-width: 768px) {
  .header__logo {
    width: 220px;
    height: 72px;
    margin-top: 15px;
  }
}
@media (min-width: 1280px) {
  .header__logo {
    width: 170px;
  }
}

.art-museum {
  margin-inline: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .art-museum {
    margin: 0;
    margin-left: 34px;
    justify-content: end;
    align-items: start;
  }
}
@media (min-width: 1280px) {
  .art-museum {
    margin-left: 55px;
  }
}

.art-museum__title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 768px) {
  .art-museum__title {
    margin-bottom: 38px;
    text-align: start;
    font-size: 54px;
    line-height: 120%;
  }
}
@media (min-width: 1280px) {
  .art-museum__title {
    font-size: 72px;
    margin-bottom: 89px;
  }
}

.art-museum__ticket {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 280px;
  border: 1px solid #1A5A4C;
}
@media (min-width: 768px) {
  .art-museum__ticket {
    height: 70px;
    width: 270px;
  }
}
@media (min-width: 1280px) {
  .art-museum__ticket {
    align-self: flex-end;
  }
}

.art-museum__ticket-text {
  text-align: center;
  display: block;
  line-height: 50px;
  flex-grow: 1;
  font-family: "IBMPlexSans", sans-serif;
  font-weight: 500;
}
@media (min-width: 768px) {
  .art-museum__ticket-text {
    line-height: 70px;
  }
}

.art-museum__ticket-button {
  width: 50px;
  background-color: #1A5A4C;
  padding: 0;
  border: none;
  background-image: url(../images/icons/arrow-white-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .art-museum__ticket-button {
    width: 70px;
  }
}

.art-museum__section {
  display: none;
}
@media (min-width: 1280px) {
  .art-museum__section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.art-museum__section-title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  margin: 0;
  color: #687480;
  font-family: "IBMPlexSans", sans-serif;
  font-weight: 700;
}

.art-museum__section-divider {
  width: 1px;
  height: 70px;
  background-color: #1A5A4C;
  border: none;
  margin: 0 auto;
}

.events {
  padding: 70px 20px 60px;
}
@media (min-width: 768px) {
  .events {
    padding: 88px 34px 112px;
  }
}
@media (min-width: 1280px) {
  .events {
    padding: 200px 55px 104px;
  }
}

.events__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (min-width: 768px) {
  .events__wrapper {
    grid-template-columns: repeat(6, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 1280px) {
  .events__wrapper {
    grid-template-columns: repeat(12, 1fr);
  }
}

.events__title {
  grid-column: 1/-1;
  margin: 0;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 768px) {
  .events__title {
    text-align: start;
    font-size: 48px;
  }
}

.events__catalog {
  grid-column: 1/-1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
@media (min-width: 768px) {
  .events__catalog {
    gap: 64px;
  }
}
@media (min-width: 1280px) {
  .events__catalog {
    gap: 104px;
  }
}

.event {
  width: 280px;
}
@media (min-width: 768px) {
  .event {
    width: 700px;
  }
}
@media (min-width: 1280px) {
  .event {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 130px;
  }
}

.event__img {
  width: 100%;
  height: 210px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .event__img {
    height: 520px;
  }
}
@media (min-width: 1280px) {
  .event__img {
    max-width: 670px;
    margin-bottom: 0;
  }
}

.event__content {
  width: 100%;
}
@media (min-width: 768px) {
  .event__content {
    width: 460px;
  }
}
@media (min-width: 1280px) {
  .event__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.event__meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .event__meta {
    justify-content: start;
    gap: 20px;
    margin-bottom: 32px;
  }
}

.event__type {
  font-size: 14px;
  font-family: "IBMPlexSans", sans-serif;
  font-weight: 500;
  color: #687480;
}

.event__date {
  font-family: "IBMPlexSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  color: #1A5A4C;
}

.event__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 400;
  display: flex;
  gap: 5px;
  align-items: baseline;
}
@media (min-width: 768px) {
  .event__title {
    gap: 10px;
    font-size: 36px;
    align-items: center;
    margin-bottom: 15px;
  }
}

.event__point {
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(../images/icons/exhibition-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .event__point {
    width: 15px;
    height: 15px;
  }
}

.event__desc {
  margin: 0;
  font-family: "IBMPlexSans", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 300;
  color: #4E4E4E;
}

.art-periods {
  height: 210px;
}
@media (min-width: 768px) {
  .art-periods {
    padding-inline: 34px;
    height: 390px;
  }
}
@media (min-width: 1280px) {
  .art-periods {
    padding-inline: 0;
    height: 550px;
  }
}

.art-periods__wrapper {
  height: 100%;
  background-image: url(../images/art-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.art-periods__item {
  padding-block: 20px;
  box-sizing: border-box;
  width: 280px;
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) {
  .art-periods__item {
    width: 570px;
    bottom: -25%;
    padding: 45px 55px 50px;
  }
}

.art-periods__meta {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .art-periods__meta {
    justify-content: flex-start;
    gap: 140px;
  }
}

.art-periods__type {
  font-family: "IBMPlexSans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #687480;
}
@media (min-width: 768px) {
  .art-periods__type {
    font-size: 14px;
  }
}

.art-periods__date {
  font-family: "IBMPlexSans", sans-serif;
  font-weight: 700;
  color: #1A5A4C;
  font-size: 16px;
}
@media (min-width: 768px) {
  .art-periods__date {
    font-size: 14px;
  }
}

.art-periods__title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 768px) {
  .art-periods__title {
    font-size: 36px;
    text-align: start;
  }
}/*# sourceMappingURL=main.css.map */