@media (min-width:320px) {
  h1 {
    font-size: 45px;
    line-height: 120%;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 28px;
  }

  .menu-text-list {
    font-size: 16px;
  }

  .subscrib-text {
    line-height: 150%;
  }
}

@media (min-width:768px) {
  h1 {
    font-size: 54px;
    line-height: 120%;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 28px;
  }

  .subscrib-text {
    line-height: 100%;
  }
}

@media (min-width:1280px) {
  h1 {
    font-size: 72px;
    line-height: 120%;
  }

  .menu-text-list {
    font-size: 22px;
  }
}
