.footer {
  background-color: $darkGreen;
  color: $clearDay;
  font-weight: 300;
  line-height: 180%;
  position: relative;
  overflow: hidden;

  &__container {
    padding: 160px 40px;

    @media (max-width: $notebookSize) {
      padding: 120px 20px 155px;
    }

    @media (max-width: $mobileXLsize) {
      padding: 80px 20px 118px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;

    @media (max-width: $notebookSize) {
      grid-template-columns: repeat(2, 240px);
      grid-template-rows: repeat(2, 250px);
      grid-row-gap: 60px;
      justify-content: center;
    }

    @media (max-width: 550px) {
      grid-template-columns: 270px;
      grid-template-rows: repeat(4, auto);
    }
  }

  &__title {
    color: inherit;
    margin-bottom: 40px;
    cursor: pointer;

    @media (max-width: $notebookSize) {
      margin-bottom: 30px;
    }
  }

  &__days {
    font-family: $font1;
    font-weight: 200;
  }

  &__socials {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 10px 20px 22px 17px;
    grid-column-gap: 20px;
    align-items: center;
    cursor: pointer;

    @media (max-width: $notebookSize) {
      margin-top: 20px;
    }
  }

  &__icon {
    fill: $silver;
    transition: transform 0.75s ease;

    &:hover {
      transform: scale(1.3);
    }
  }

  &__bottom {
    position: absolute;
    bottom: 60px;
    right: 50%;
    transform: translateX(50%);
    font-weight: 100;
    cursor: pointer;

    @media (max-width: 550px) {
      bottom: 30px;
    }
  }

  &__copy {
    padding-right: 40px;

    @media (max-width: 550px) {
      display: block;
    }
  }

  &__terms {
    @media (max-width: 550px) {
      display: block;
    }
  }

  &__arrow {
    position: absolute;
    top: 163px;
    right: 85px;
    cursor: pointer;
    transition: transform 500ms ease;

    @media (min-width: 2000px) {
      right: 500px;
    }

    @media (max-width: $notebookSize) {
      top: 120px;
      right: 60px;
    }

    &:hover {
      transform: scale(1.3) translateY(-5px);
    }
  }
}
