.events {
  margin-block: -7px 60px;

  @include onTable {
    margin-block: 6px 112px;
  }

  @include onDesktop {
    margin-block: 118px 104px;
  }

  &__title {
    text-align: center;
    margin-bottom: 40px;

    @include onTable {
      text-align: left;
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin-bottom: 56px;
    }
  }
}
