.events {
  padding-bottom: 90px;

  @include onTable {
    padding-bottom: 100px;
  }

  @include onDesktop {
    padding-bottom: 110px;
  }

  &__wrap {
    @include onTable {
      @include pageGrid;
    }
  }

  &__title {
    margin-bottom: 60px;

    @include onTable {
      margin-bottom: 75px;
      grid-column: 1 / 5;
    }

    @include onDesktop {
      margin-bottom: 70px;
      grid-column: 1 / 7;
    }
  }

  &__btn {
    display: none;

    @include onTable {
      display: flex;
      gap: 3px;
      grid-column: 5 / 7;
    }

    @media (min-width: 750px) {
      gap: 8px;
    }

    @include onDesktop {
      grid-column: 10 / 13;
    }
  }

  &__mobile-btn {
    display: flex;
    margin-top: 30px;

    @include onTable {
      display: none;
    }
  }
}
