.exhibition {
  padding-block: 90px 120px;

  @include onTable {
    padding-block: 100px 160px;
  }

  @include onDesktop {
    padding-block: 110px 200px;
  }

  &__wrap {

    @include onTable {
      @include pageGrid;
    }
  }

  &__title {
    margin-bottom: 60px;

    @include onTable {
      margin-bottom: 75px;
      grid-column: 1 / 5;
    }

    @include onDesktop {
      margin-bottom: 70px;
      grid-column: 1 / 7;
    }
  }

  &__btn {
    display: none;

    @include onTable {
      display: flex;
      grid-column: 5 / 7;
    }

    @include onDesktop {
      grid-column: 10 / 13;
    }
  }

  &__mobile-btn {
    display: flex;
    margin-top: 30px;

    @include onTable {
      display: none;
    }
  }
}
