.first {
  background-color: $bg-green;
  color: $white;
  padding-top: 50px;


  @include onTable {
    padding-top: 100px;
  }

  &__wrap {
    @include pageGrid;

    position: relative;
  }

  &__date-text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    grid-column: 1 / -1;
  }

  &__title {
    margin-bottom: 30px;
    grid-column: 1 / -1;

    @include onDesktop {
      grid-column: 1 / 7;
    }
  }

  &__text {
    margin-bottom: 40px;
    grid-column: 1 / -1;

    @include onTable {
      grid-column: 1 / 4;
      margin-bottom: 50px;
    }

    @include onDesktop {
      grid-column: 1 / 6;
      margin-bottom: 80px;
    }
  }

  &__btn {
    grid-column: 1 / -1;
    margin-bottom: 40px;

    @include onTable {
      grid-column: 1 / 4;
      margin-bottom: 70px;
    }

    @include onDesktop {
      margin-bottom: 135px;
    }
  }

  &__img {
    grid-column: 1 / -1;

    @include onTable {
      grid-column: 2 / -2;
    }

    @include onDesktop {
      position: absolute;
      right: -154px;
      bottom: 0;
    }
  }

  &__line {
    display: none;

    @include onDesktop {
      display: flex;
      align-items: center;
      gap: 20px;
      grid-column: 1 / 7;
      margin-bottom: 50px;

      & span {
        background-color: $white;
        height: 1px;
        width: 100%;
        display: block;
      }
    }
  }
/* stylelint-disable */
  &__line-text {
    font-family: "PlayfairDisplay", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17.5px;
    white-space: nowrap;
  }
}
/* stylelint-enable */
