/* stylelint-disable */
.footer {
  background-color: $bg-green;
  color: $white;
  padding-block: 34px 30px;

  @include onTable {
    padding-block: 50px 30px;
  }

  &__wrap {
    display: grid;
    gap: 50px;

    @include onTable {
      @include pageGrid;
    }
  }

  &__left {
    @include onTable {
      grid-column: 1 / 3;
    }

    @include onDesktop {
      grid-column: 1 / 4;
    }
  }

  &__title {
    margin-bottom: 10px;

    @include onTable {
      margin-bottom: 30px;
    }
  }

  &__link,
  &__schedule {
    line-height: 24px;
  }

  &__link {
    @include hover(opacity, 0.6);
  }

  &__media {
    margin-top: 30px;
    display: flex;
    gap: 10px;

    @include onTable {
      margin-top: 50px;
    }
  }

  &__icon {
    padding: 5px;

    @include hover(opacity, 0.6);
  }

  &__center {
    @include onTable {
      grid-column: 3 / 5;
    }

    @include onDesktop {
      grid-column: 5 / 7;
    }
  }

  &__right {
    @include onTable {
      grid-column: 5 / 7;
    }

    @include onDesktop {
      grid-column: 9 / 11;
    }
  }

  &__nav ul {
    flex-direction: column;
    gap: 5px;
  }

  &__nav ul li {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &__bottom {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    font-size: 14px;

    @media (min-width: 330px) {
      gap: 22px;
    }

    @include onDesktop {
      @include pageGrid;

      margin-top: 70px;
    }
  }

  &__copyright {
    @include onDesktop {
      grid-column: 1 / 3;
    }
  }

  &__terms {
    @include onDesktop {
      grid-column: 3 / 5;
    }
  }

  &__scroll-up {
    position: absolute;
    right: 0;
    border-radius: 5px;
    display: block;

    @include hover(scale, 1.1);
    @include hover(opacity, 0.6);
  }
}
/* stylelint-enable */
