.header {
  background-color: transparent;
  padding-top: 10px;
  position: relative;


  @include onTable {
    padding-top: 15px;
  }

  &__wrap {
    @include pageGrid;
    align-items: center;
  }

  &__logo {
    grid-column: 1 / -1;
    justify-self: center;
    grid-row: 1 / 2;
    z-index: 2;

    @include onTable {
      grid-column: 4 / 6;
    }

    @include onDesktop {
      grid-column: 6 / 8;
    }
  }
}
