.header {
  background-color: $bg-green;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  &__btns {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 40px;

    @include onTable {
      flex-direction: row;
    }
  }
}
