.lecture {
  position: relative;
  padding-bottom: 197px;

  @include on-tablet {
    padding: 0 34px 210px;
  }

  @include on-lap-top {
    padding: 0 0 302px ;
  }
  @include on-desktop {
    padding-bottom: 297px;
  }
  @include on-hd-resolution {
    padding-bottom: 316px;
  }

  &__background {
    background-image: url("../../src/images/lecture-background-320w210.png");
    min-width: 320px;
    padding-bottom: 65.7%;
    background-position: center;
    background-size: cover;

    @include on-tablet {
      background-image: url("../../src/images/lecture-background-700w390.png");
      min-width: 700px;
      padding-bottom: 55.7%;
    }
    @include on-lap-top {
      background-image: url("../../src/images/lecture-background-1280w550.png");
      min-width: 1280px;
      padding-bottom: 43%;
    }
    @include on-desktop {
      background-image: url("../../src/images/lecture-background-1440w619.png");
      min-width: 1440px;
      padding-bottom: 43%;
    }
    @include on-hd-resolution {
      background-image: url("../../src/images/lecture-background-1920w674.png");
      min-width: 1920px;
      padding-bottom: 35.1%;
    }
  }

  &__content-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 280px;
    max-width: 570px;
    height: 204px;
    text-decoration: none;
    padding: 29px 20px 34px;
    bottom: 75px;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
    background-color: $c-white;
    left: 50%;
    width: calc(100% - 42px);
    transform: translateX(-50%);
    transition: all 0.2s linear;

    &:hover {
      box-shadow: -1px 3px 8px 5px $c-green, 2px 5px 16px 0  $c-green, 5px 5px 15px 5px $c-white;
    }

    @include on-tablet {
      width: 570px;
      height: 204px;
      bottom: 90px;
      padding: 45px 100px 50px;
      left: 50%;
      transform: translateX(-50%);
    }
    @include on-lap-top {
      bottom: 190px;
    }
  }

  &__time-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 19px;

    @include on-tablet {
      margin-bottom: 16px;
    }

  }
  &__date-title {
    font-family: "IBMPlexSans-Bold", sans-serif;
    text-transform: uppercase;
    color: $c-gray-first;

    @extend %font-style-16-16;

    @include on-tablet {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__date {
    font-family: "IBMPlexSans-Bold", sans-serif;
    font-weight: 700;
    color: $c-green;

    @extend %font-style-16-16;

    @include on-tablet {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: $c-dark-first;
    text-align: center;

    @include on-tablet {
      font-size: 36px;
      line-height: 36px;
      text-align: left;
    }
  }

}
