.work-schedule {
  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  margin-top: 24px;

  @include on-tablet {
    grid-column: 4 / -1;
    margin: 0;
  }

  @include on-desktop {
    grid-column: 8 / 12;
  }

  &__wrap {
    @include on-tablet {
      width: 340px;
      display: flex;
      gap: 26px;
    }
  }

  &__title {
    font-weight: 400;
    line-height: 19.69px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;

    @include on-tablet {
      width: 170px;
    }
  }

  &__time {
    font-weight: 600;
  }

  &__add-info {
    margin: 0;
    margin-top: 16px;

    @include on-tablet {
      width: 160px;
      margin-top: 20px;
    }
  }

  &__bold-words {
    font-weight: 600;
  }
}
