.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 $containerPadding;

  @media (max-width: 1500px) {
    & {
      padding: 0 $containerPaddingMedium;
    }
  }

  @media (max-width: 1260px) {
    & {
      padding: 0 $containerPaddingSmall;
    }
  }

  @media (max-width: 720px) {
    & {
      padding: 0 $containerPaddingMinimum;
    }
  }
}
