.event {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__info {
    width: 370px;

    &--gap {
      margin: 0 130px;
    }
  }

  &__type,
  &__date {
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    font-family: "IBM Plex Sans", sans-serif;
    color: #687480;
  }

  &__date {
    margin-left: 26px;
    font-weight: 700;
    line-height: 1.5;
    color: #1a5a4c;
  }

  &__title {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    color: #0f0e08;
    padding: 30px 0 15px;

    &--red-box::after {
      content: "";
      position: absolute;
      width: $redBoxSize;
      height: $redBoxSize;
      background: #f14a27;
      top: 50%;
      margin-left: 20px;
    }
  }

  &__text {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #4e4e4e;
  }
}
