.footer {
  padding: 50px 20px;

  @include on-tablet {
    padding: 51px 34px;
  }

  @include on-desktop {
    padding: 47px 55px 35px;
  }

  &__info-field {
    @include on-tablet {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    @include on-desktop {
      padding-bottom: 87px;
    }
  }

  &__first-section {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include on-tablet {
      margin-right: 40px;
      display: grid;
      grid-template-columns: 1 / -1;
      width: 98px;
    }

    @include on-desktop {
      margin-right: 130px;
    }
  }

  &__logo {
    width: 63px;
    height: 72px;
    transform: scale(1);
    transition: transform $transition;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }

    @include on-tablet {
      margin-bottom: 62px;
    }
  }

  &__social-list {
    display: flex;

    &--link {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }

  .icon {
    width: 24px;
    height: 24px;
    transform: scale(1);
    transition: transform $transition;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }

  .facebook {
    background-image: url(../images/icons/facebook-icon.png);
  }

  .instagram {
    background-image: url(../images/icons/instagram-icon.png);
  }

  &__social-item:not(:last-child) {
    margin-right: 20px;
  }

  &__lists-field {
    @include on-desktop {
      display: flex;
    }
  }

  &__second-section {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(26, 90, 76, 0.5);
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include on-tablet {
      column-gap: 20px;
      padding-right: 120px;
      padding-bottom: 64px;
    }

    @include on-desktop {
      column-gap: 31px;
      border-bottom: none;
      padding-right: 65px;
      padding-bottom: 0;
      border-right: 1px solid rgba(26, 90, 76, 0.5);
    }
  }

  &__schedule-list {
    color: $current-events-title-color;
    padding-right: 20px;

    &--title {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 400;
    }

    &--bold {
      font-weight: 600;
    }

    &--text {
      margin-top: 30px;
    }

    @include on-tablet {
      padding-right: 0;
    }

    @include on-desktop {
      width: 170px;
    }
  }

  &__contact-list-info {
    &--title {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 400;
    }

    &--item {
      transition: color $transition;
    }

    &--item:hover,
    &--item:focus {
      color: $subscription-color;
    }

    @include on-desktop {
      width: 195px;
    }
  }

  &__anchor-link-list {
    padding-top: 40px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    &--item {
      transition: color $transition;

      &:hover,
      &:focus {
        color: $subscription-color;
      }
    }

    @include on-tablet {
      padding-top: 64px;
      padding-bottom: 120px;
    }

    @include on-desktop {
      padding-top: 0;
      padding-left: 65px;
      padding-bottom: 0;
      gap: 32px;
      height: 90px;
    }
  }

  &__design-and-copyright-field {
    @include on-tablet {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }

    @include on-desktop {
      font-size: 12px;
      font-weight: 300;
    }
  }

  &__design-auther {
    margin-bottom: 10px;

    @extend %footer-text;
  }

  &__copyright {
    @extend %footer-text;
  }
}
