.footer {
  &__content {
    $lineWidth: 1px;

    padding-top: 51px;
    height: 457px;
    display: flex;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: $lineWidth;
      height: 260px;
      background: rgba(26, 90, 76, 0.5);
      left: calc(50% - #{$lineWidth / 2});
    }

    &--left,
    &--right {
      width: 50%;
    }

    &--left {
      display: flex;
    }

    &--right {
      padding-left: 117px;
    }
  }

  &__logo {
    margin-bottom: 63px;
    margin-right: 138px;
  }

  &__online-contact {
    margin-bottom: 197px;
  }

  &__schedule {
    margin-right: 138px;
  }

  &__copyright {
    font-size: 12px;
    line-height: 1.4;
    font-weight: 300;
    font-family: "IBM Plex Sans", sans-serif;
    color: #0f0e08;
  }

}
