.footer {
  &__content {
    $lineWidth: 1px;

    padding-top: 51px;
    height: 457px;
    display: flex;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: $lineWidth;
      height: 260px;
      background: rgba(26, 90, 76, 0.5);
      left: calc(50% - #{$lineWidth / 2});
    }

    &--left,
    &--right {
      width: 50%;
    }

    &--left {
      display: grid;
      grid-gap: 138px;
      grid-template-columns: repeat(3, auto);
      justify-content: start;
    }

    &--right {
      padding-left: 117px;
    }
  }

  &__logo {
    margin-bottom: 63px;
  }

  &__copyright,
  &__designed {
    position: absolute;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 300;
    font-family: "IBM Plex Sans", sans-serif;
    color: #0f0e08;
    bottom: 34px;
  }

  &__copyright {
    left: $containerPadding;
  }

  &__designed {
    right: $containerPadding;
  }
}
