.header {
  display: grid;
  grid-template-columns: inherit;
  box-sizing: border-box;
  position: relative;

  &__image {
    width: 100%;
    max-height: 100vh;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    grid-column: 1 / -1;
    box-sizing: border-box;

    &--on-phone {
      @include on-tablet {
        display: none;
      }
    }

    &--on-tablet {
      grid-column: 4 / -1;
      display: none;

      @include on-tablet {
        display: flex;
      }

      @include on-desktop {
        grid-column: 6 / -1;
      }
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: end;

    @include on-tablet {
      grid-column: 1 / 6;
      padding-right: 0 !important;
    }

    &__container {
      display: grid;
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 20px;
      margin-top: 20px;
      justify-content: end;

      @include on-tablet {
        margin-bottom: 10%;
      }

      @include on-desktop {
        gap: 90px;
        margin-top: 0;
        margin-bottom: 30%;
      }
    }

    &__button {
      width: 100%;
      height: 50px;
      padding: 0;
      background-color: $white-color;
      border: 1px solid $text-main-color;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: all 0.3s;

      @include on-tablet {
        width: 270px;
        height: 70px;
      }

      @include on-desktop {
        align-self: flex-end;
      }

      &:hover {
        background-color: $main-color;
      }

      &__text {
        width: 100%;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        text-decoration: none;
        color: $text-main-color;
        text-align: center;
        transition: all 0.3s;
      }

      &:hover > &__text {
        color: $white-color;
      }
    }

    &__vert_link {
      position: absolute;
      left: 0;
      bottom: 0;
      padding-left: inherit;
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 14px;
      line-height: 14px;
      font-weight: 600;
      text-decoration: none;
      color: $text-main-color-light;

      @include on-desktop {
        display: flex;
      }

      @include hover(color, $text-main-color);

      & > p {
        transform: rotate(-90deg);
      }

      &__line {
        background-color: $main-color;
        width: 1px;
        height: 70px;
      }
    }
  }
}
