.icon {
  display: flex;
  height: 24px;
  width: 24px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    transform: scale(1.3);
  }

  &:focus {
    transform: none;
  }

  &--menu {
    background-image: url(/src/images/icons/baseline-menu-24px.svg);
    padding: 6px 3px;
  }

  &--close {
    background-image: url(/src/images/icons/ri-close-fill.svg);
    padding: 5.5px;
  }

  &--arrow {
    background-image: url(/src/images/icons/arrow_white-24px.svg);
    background-color: $main-color;
    height: 50px;
    width: 50px;
    padding: 19px 21px;

    @include on-tablet {
      height: 70px;
      width: 70px;
      padding: 29px 31px;
    }

    &--orange {
      background-image: url(/src/images/icons/arrow-black.svg);
      background-color: $main-color-orange;
      border: none;

      &:hover {
        cursor: pointer;
        transform: none;
        background-color: $main-color-orange-light;
      }
    }
  }

  &--up {
    background-image: url(/src/images/icons/Arrow\ up.svg);
    height: 50px;
    width: 50px;
    padding: 0;
  }

  &--logo {
    background-image: url(/src/images/icons/NA\ MU.svg);
    padding: 6px;
    width: 55px;
    height: 61px;
    justify-self: center;

    @include on-tablet {
      width: 72px;
      height: 72px;
    }
  }

  &--fb {
    background-image: url(/src/images/icons/facebook-letter-logo.svg);
    padding: 0 6.4px;
  }

  &--ig {
    background-image: url(/src/images/icons/instagram\ \(3\).svg);
    padding: 0;
  }

  &--no-hover {
    &:hover {
      cursor: default;
      transform: none;
    }
  }
}
