.lecture {
  $lectureWidth: 540px;
  $lectureHeight: 204px;
  margin-bottom: 216px;

  position: relative;
  height: 674px;
  width: 1920px;
  background-image: url("../images/hero2.png");

  &__current {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    left: calc(50% - #{$lectureWidth / 2});
    bottom: - $lectureHeight / 2;
    width: $lectureWidth;
    height: $lectureHeight;
    background: #fff;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
  }
}
