.main {
  &__events {
    display: grid;
    grid-row-gap: 60px;

    &--gap {
      margin-bottom: 100px;
    }
  }

  &__event--reverse {
    justify-content: flex-end;
  }

  &__lecture {
    position: relative;
    height: 674px;
    width: 1920px;
    background-image: url("../images/hero2.png");

    &--gap {
      margin-bottom: 216px;
    }
  }

  &__gallery {
    &--gap {
      margin-bottom: 100px;
    }
  }
}
