.main {
  &--gap {
    margin-bottom: 100px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__current-header {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    color: #0f0e08;
    margin-bottom: 60px;
  }

  &__event--first {
    margin-bottom: 60px;
  }

  &__event--last {
    justify-content: flex-end;
  }
}
