.nav {
  &__list {
    display: grid;
    gap: $navGap;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, 1fr);

    list-style-type: none;

    @media (max-width: 1170px) {
      & {
        gap: $navGapMedium;
        justify-content: center;
        margin-left: -50px;
      }
    }

    @media (max-width: 670px) {
      & {
        gap: $navGapSmall;
        margin-left: 0;
      }
    }

    @media (max-width: 370px) {
      & {
        justify-content: start;
      }
    }
  }

  &__link {
    color: #0f0e08;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    font-family: "IBM Plex Sans", sans-serif;
  }
}
