.radio {
  display: none;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  justify-content: center;

  &__button {
    width: 9px;
    height: 9px;
    border-color: #e0e0e0;

    &--active {
      border-color: #1a5a4c;
    }
  }
}
