.contacts {
  &__title {
    display: inline-block;
    line-height: 140%;
    margin-bottom: 20px;
  }

  &__link-title {
    color: $color-dark;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    display: block;
    transition: color 0.5s;
  }

  @include onDesktop {
    &:hover {
      .contacts__link-title {
        color: $color-special;
      }
    }
  }
}
