.current-events {
  @extend %column;
  gap: 40px;

  @include onTablet {
    gap: 48px;
  }

  @include onLaptop {
    gap: 56px;
  }

  &__content {
    @extend %column;
    gap: clamp(60px, 10vw, 104px);
  }

  &__event,
  &__title {
    @extend %p-page;

    @include onLaptop {
      padding-inline: 0;
    }
  }
}
