.event {
  @extend %grid;
  row-gap: clamp(16px, 5.85vw, 44px);

  @include onLaptop {
    row-gap: 0;
  }

  &__left {
    grid-column: 1 / -1;

    @include onLaptop {
      grid-column: span 7;
    }
  }

  &__img {
    width: 100%;

    @include hover {
      transform: scale(1.05);
    }
  }

  &__right {
    grid-column: 1 / -1;
    display: flex;

    @include onLaptop {
      grid-column: span 5;

      justify-content: flex-end;
      align-items: center;
    }
  }

  &__right-content {
    @extend %column;
    gap: clamp(10px, 3.5vw, 30px);

    max-width: 460px;

    @include onLaptop {
      width: 80%;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      justify-content: flex-start;
      gap: 1.5rem;
    }
  }

  &__bottom {
    @extend %column;
    /* stylelint-disable-next-line */
    gap: clamp(10px, 3.125vw, 15px);
  }

  &__description {
    @extend %text-1;
  }
}
