.events-button {
  display: none;

  position: absolute;
  bottom: 70px;
  transform: rotate(-90deg);

  color: $c-type;
  /* stylelint-disable-next-line */
  font-size: 0.875rem;
  text-transform: uppercase;

  @include onLaptop {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &::before {
    content: "";
    width: 70px;
    height: 1px;
    background-color: $c-accent;
  }

  @include hover {
    transform: rotate(-90deg) scale(1.05) translateX(-10%);
  }
}
