.form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-right: 25px;

  &__button {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: $c-red;
      background-image: url(/src/images/icon/Vector.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 8px 12px;
      bottom: -2px;
      left: -2px;

      @include on-tablet {
        width: 71px;
        height: 73px;
      }
    }
  }

  &__input {
    padding: 16.5px 24px;
    outline: none;
    border: none;

    @include on-tablet {
      padding: 28px 180px 28px 24px;
      margin-right: 16px;
    }

    @include on-desktop {
      padding: 28px 300px 28px 32px;
    }

    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 14px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: $c-white;
  -webkit-text-fill-color: $c-black;
  -webkit-box-shadow: 0 0 0 1000px $c-white inset;
  transition: background-color 5000s ease-in-out 0s;
}
