.header {
  padding-top: 27px;
  font-size: $font-size-md;
  color: $white;

  &__logo {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 2px;
    border-radius: 50%;

    @include hover(background, $active-color);
  }

  &__logo-img {
    width: 35px;
    height: 35px;
    display: block;
  }
}
