.icon-logo {
  width: 55px;
  height: 61px;
  opacity: 0px;
}

.icon-logo-link {
  margin-right: 110px;

  @include on-tablet {
    width: 220px;
    margin-right: 110px;
  }

  @include on-desktop-mini {
    margin-right: 220px;
  }

  @include on-desktop {
    margin-right: 450px;
  }

  &--footer-margin {
    margin-right: 0;
  }
}

.icon-cross {
  width: 24px;
  height: 24px;
}

.footer-icon {
  width: 24px;
  height: 24px;

  @include hover(transform, scale(1.3));
}
