.important-event {
  @extend %column;

  &__img {
    width: 100%;
    min-height: 210px;
    object-fit: cover;
  }

  &__info {
    align-self: center;

    width: clamp(280px, 75vw, 570px);
    transform: translateY(calc(-1 * clamp(60px, 18.75vw, 95px)));
    margin-bottom: calc(-1 * clamp(60px, 18.75vw, 95px));

    @extend %column;
    gap: 20px;

    padding-block: clamp(20px, 7.5%, 45px);
    padding-inline: clamp(0, calc((100% - 280px) * 55 / (570 - 280)), 55px);

    background-color: $c-bg;
    box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);

    &-top {
      display: flex;
      justify-content: space-between;
    }
  }
}
