.initial-info {
  @extend %column;
  align-items: center;
  gap: clamp(20px, 6.25vw, 40px);

  @extend %p-page-mobile;

  @include onTablet {
    align-items: flex-start;
    gap: clamp(40px, 7vw, 100px);

    padding-top: 128px;
    padding-right: 0;
  }

  &__title {
    @extend %page-title;
    text-align: center;

    @include onTablet {
      text-align: left;
    }
  }

  &__button {
    @include onLaptop {
      align-self: flex-end;
    }
  }
}
