.menu {
  z-index: 11;
  height: 400px;
  padding-block: 27px;
  background-color: $color-accent;
  font-weight: 400;
  color: $color-light;

  @include onTablet {
    height: 225px;
    padding-block: 40px;
  }

  @include onDesktop {
    height: 233px;
  }

  &__container {
    @include page-grid;

    row-gap: 49px;
  }

  &__top {
    grid-column: span 2;

    display: flex;
    gap: 28px;

    position: relative;
    padding-bottom: 24px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.5);

      @include onTablet {
        right: 19px;
        width: 1px;
        height: 100%;
      }

      @include onDesktop {
        right: -27px;
      }
    }

    @include onTablet {
      gap: 38px;
      grid-column: span 3;
    }

    @include onDesktop {
      gap: 102px;
      grid-column: span 6;
    }
  }

  &__timetable {
    grid-column: span 2;
    font-size: 14px;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: 8 / 12;
    }
  }

  &__timetable-title {
    display: inline-block;
    line-height: 140%;
    margin-bottom: 20px;
  }

  &__timetable-inner {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include onTablet {
      flex-direction: row;
      align-items: center;
      gap: 26px;
    }
  }

  &__timetable-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include onTablet {
      min-width: 158px;
    }

    @include onDesktop {
      min-width: 170px;
    }
  }

  &__timetable-time {
    font-weight: 600;
  }

  &__timetable-texts {
    @include onTablet {
      max-width: 170px;
    }
  }

  &__timetable-text {
    margin: 0;
  }

  &__timetable-text span {
    font-weight: 600;
  }
}
