.nav {

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 28px;

    @include onTablet {
      gap: 24px 20px;
      grid-template-columns: 100px 100px;
    }

    @include onDesktop {
      gap: 30px 31px;
      grid-template-columns: 169px 169px;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    display: block;
    line-height: 100%;

    // width: fit-content;
    // // position: relative;
    // // transition: box-shadow 0.5s;

    // // &::before {
    // //   content: '';

    // //   position: absolute;
    // //   bottom: -7px;
    // //   height: 1px;
    // //   width: 100%;
    // //   background-color: $color-light;

    // //   transition: transform 0.5s;
    // //   transform: scale(0);
    // //   transform-origin: left;
    // // }

    @include onDesktop {
      font-size: 22px;

      // &:hover::before {
      //   transform: scale(1);
      // }

      // &:focus {
      //   outline: transparent;
      //   box-shadow: 0 0 0 2px $color-light;
      // }
    }
  }
}
