.nav {
  &__title {
    line-height: 140%;
  }

  &__list {
    --row-gap: 1.25rem;

    display: flex;
    flex-wrap: wrap;
    gap: var(--row-gap);
  }

  &__list-item {
    @extend %text-2;
    line-height: 100%;

    width: calc(50% - 2 * var(--row-gap));

    &:hover {
      opacity: 0.75;
      transition: $a-transition-time;
    }

    &--white {
      color: $c-bg;
      font-size: 1rem;
      font-weight: 500;
    }
  }
}
