.site-info {
  @extend %column;
  align-items: center;

  color: $c-title;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 140%;

  @include onTablet {
    flex-direction: row;
    justify-content: space-between;
  }
}
