.slider {
  overflow: hidden;
  margin: 0 auto;

  // @include onTablet {
  //   min-width: 700px;
  //   max-width: 800px;
  // }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    transition: transform 0.5s;

    @include onTablet {
      gap: 20px;
    }
  }

  &__img {
    display: block;
  }

  &__img img {
    width: 280px;
    height: 410px;
    object-fit: cover;

    @include onTablet {
      width: 340px;
      height: 543px;
    }
  }

  &__buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
  }

  &__buttons-btn {
    padding: 0;
    border: none;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color: #e5e6eb;

    &--active {
      background-color: $color-accent;
    }
  }
}
