.subscription {
  @extend %p-page-laptop;
  @extend %center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../images/bgs/subscription-bg.png);
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);

  height: clamp(386px, 120vw, 550px);

  &__content {
    @extend %column;
    @extend %p-page-mobile;
    align-items: center;
  }

  &__description {
    margin-top: 1rem;
    @extend %text-3;
  }

  &__input-email {
    /* stylelint-disable-next-line */
    margin-top: 3.125rem;
  }
}
