.title {
  margin: 0 auto 40px;
  font-size: 36px;
  line-height: 100%;
  text-align: center;

  @include onTablet {
    margin: 0 0 48px;
    font-size: 48px;
    text-align: left;
  }

  @include onTablet {
    margin: 0 0 56px;
  }
}
