body,
h1,
h2,
p,
hr,
ul {
  margin: initial;
  padding: initial;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0, 0);
}

