.page {
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-align: center;
  height: 100%;

  &__lock {
    overflow: hidden;
  }
}

.body {
  background: $c-gray;
}

img {
  width: 100%;
  height: 100%;
}

.icon {
  width: 24px;
  height: 24px;
}
