.button {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid $green-bg;
  transition: all 0.3s;

  @include on-tablet {
    height: 70px;
  }

  &__arrow {
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include on-tablet {
      height: 70px;
      width: 70px;
    }
  }
}
