.dreams {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
  align-items: center;

  &__img {

    &__picture {
      width: 870px;
      height: 520px;

      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    width: 370px;
  }
}
