.dreams {
  display: grid;
  grid-template-columns: repeat(2, 100%);
  position: relative;
  width: 100%;
  height: 520px;

  &__img {
    position: absolute;
    right: 0;
    &__picture {
      width: 870px;
      height: 520px;

      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    position: absolute;
    left: 0;
    top: 30%;
    width: 370px;
  }
}
