.return {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 60px;

  &:first-child {
    width: calc(67% - 130px);
  }

  &:last-child {
    width: calc(33% - 130px);
  }

  &__img {

    &__picture {
      width: 300px;
      height: 300px;

      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    position: absolute;
    right: 0;
    top: 30%;
    width: 370px;
  }
}
