@import "../../utils/animation/animation";

.return {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 60px;
  align-items: center;

  &__img {
    flex: 0 0 50%;

    &__picture {
      justify-content: flex-start;
      transition: 1s;

      max-width: 100%;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 6px 23px black;
      }
    }
  }

  &__text {
    margin-left: 130px;
    text-align: left;
    width: 370px;
    transition: 3s;
  }
}

@include onIpad {
  .return {
    flex-wrap: wrap;
    justify-content: flex-end;
    &__img {
      flex: 0 0 100%;
      margin-bottom: 40px;
    }

    &__text {
      justify-content: flex-end;
      margin: 0;
    }
  }
}

@include onMobile {
  .return {
    &__img {
      padding: 20px;
      transform: scale(1.2);
      margin-bottom: 10px;
    }
  }
}
