.slider-wrapper {
  @include on-desktop {
    display: none;
  }
}

.swiper {
  box-sizing: border-box;
  padding-inline: 20px;
  width: 100vw;
  height: 447px;

  @include on-tablet {
    padding-inline: 39px;
    height: 584px;
  }
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 410px;
  width: 280px !important;

  @include on-tablet {
    height: 543px;
    width: 340px !important;
  }
}

.swiper-slide1 {
  background-image: url(./../images/slider/gallery1.png);
}

.swiper-slide2 {
  background-image: url(./../images/slider/gallery2.png);
}

.swiper-slide3 {
  background-image: url(./../images/slider/gallery3.png);
}

.swiper-slide4 {
  background-image: url(./../images/slider/gallery4.png);
}
