.subscription {
  color: $color-light-primary;
  background-image: url("../images/backgrounds/subscription-mobile.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include onTablet {
    background-image: url("../images/backgrounds/subscription-tablet.webp");
  }

  @include onDesktop {
    background-image: url("../images/backgrounds/subscription-desktop.webp");
  }

  &__content {
    @include pageGrid;
    padding-block: 88px;

    @include onTablet {
      padding-block: 82px;
    }

    @include onDesktop {
      padding-block: 163px;
    }
  }

  &__title {
    grid-column: 1 / -1;

    font-weight: 700;
    font-size: 36px;
    line-height: 1em;
    text-align: center;

    @include onTablet {
      font-size: 48px;
    }
  }

  &__text {
    grid-column: 1 / -1;
    margin-top: 20px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
    text-align: center;

    @include onTablet {
      margin-top: 16px;
      line-height: 1em;
    }
  }

  &__form {
    grid-column: 1 / -1;
    margin-top: 50px;

    @include onTablet {
      grid-column: 2 / -2;
      margin-top: 64px;
    }

    @include onDesktop {
      grid-column: 4 / -4;
      margin-top: 72px;
    }
  }
}
