@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?ijhgng");
  src: url("fonts/icomoon.eot?ijhgng#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?ijhgng") format("truetype"),
    url("fonts/icomoon.woff?ijhgng") format("woff"),
    url("fonts/icomoon.svg?ijhgng#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: "icomoon", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dot:before {
  content: "\e900";
}

.icon-active-dot:before {
  content: "\e901";
}

.icon-arrow-top:before {
  content: "\e902";
}

.icon-facebook:before {
  content: "\e903";
}

.icon-instagram:before {
  content: "\e904";
}

.icon-arrow-right:before {
  content: "\e905";
}
