.card {
  margin-bottom: 60px;

  @include on-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
  }

  &__img {
    margin-bottom: 20px;
    height: 210px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include on-tablet {
      height: 520px;
    }

    &-one {
      background-image: url('./../images/events/photo-1.png');
    }

    &-two {
      background-image: url('./../images/events/photo-2.png');
    }
  }

  &__content {
    @include on-tablet {
      max-width: 460px;
    }

    @include on-desktop {
      max-width: 370px;
    }

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      @include on-tablet {
        justify-content: start;
        gap: 30px;
      }
    }

    &-bottom {
      display: flex;
      flex-direction: column;
    }
  }

  &__subtitle {
    color: $color-subtitle;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
  }

  &__date {
    color: $color-date;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    @include on-tablet {
      justify-content: start;
      gap: 20px;
    }

    &-text {
      color: $color-title-main;
      font-family: $font-second;
      font-size: 28px;
      font-weight: 400;
      line-height: 100%;

      @include on-tablet {
        font-size: 36px;
      }
    }

    &-square {
      width: 10px;
      height: 10px;
      background-color: $color-square;

      @include on-tablet {
        width: 15px;
        height: 15px;
      }
    }
  }

  &__text {
    color: $color-card-text;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
  }

  &-bottom {
    padding-block: 20px;
    background-color: #FFF;
    box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);
    transform: translateY(-60px);

    @include on-tablet {
      max-width: 570px;
      margin-inline: auto;
      padding: 50px 55px;
      transform: translateY(-100px);
    }

    @include on-desktop {
      padding-inline: 100px;
    }

    &__top {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin-bottom: 20px;

      @include on-tablet {
        justify-content: left;
        gap: 200px;
      }

      @include on-desktop {
        justify-content: space-between;
        gap: 0;
      }
    }

    &__subtitle {
      color: $color-subtitle;
      font-size: 16px;
      font-weight: 500;
      line-height: 100%;
      text-transform: uppercase;
    }

    &__date {
      color: $color-date;
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;
    }

    &__title {
      color: $color-title-main;
      font-family: $font-second;
      font-size: 28px;
      font-weight: 400;
      line-height: 100%;
      text-align: center;

      @include on-tablet {
        text-align: left;
        font-size: 36px;
      }
    }
  }
}
