.container {
  position: relative;
  
  margin-inline: auto;
  min-width: $size-mobile;
  max-width: $size-desktop;
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 39px;
  }

  @include on-desktop {
    padding-inline: 55px;
  }
}
