.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &-menu {
    background-image: url('./../images/icons/icon-menu.svg');
  }
}
