.nav {

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
  }

  &__link {
    display: block;
    width: 100px;
    color: $color-text-menu;

    @include on-desktop {
      font-size: 22px;
    }
  }
}
