.actual-events {
padding-bottom: 183px;

  @include on-tablet{
    padding-bottom: 208px;
  }

  @include on-desktop{
    padding-bottom: 302px;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;

    @include on-tablet{
      margin-bottom: 48px;
    }

    @include on-desktop{
      margin-bottom: 56px;
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;

    @include on-tablet{
      padding-bottom: 112px;
    }

    @include on-desktop{
      padding-bottom: 104px;
    }
  }
}
