.actual {
  &__container {
    margin: 0 20px;

    @include onTablet {
      margin: 0 39px;
    }

    @include onDesktop {
      margin: 0 55px;
    }
  }

  &__title {
    font-family: $fontMontserrat;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 40px;

    @include onTablet {
      font-size: 48px;
      text-align-last: left;
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin-bottom: 56px;
    }
  }
}
