.actual {
  padding-top: 70px;

  &__shows {
    padding-top: 40px;
    display: grid;
    gap: 60px;

    @include onTablet {
      padding-top: 48px;
      gap: 64px;
    }

    @include onDesktop {
      padding-top: 56px;
      gap: 104px;
    }
  }
}
