.arrow-link {
  width: 70px;
  min-height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  &__cursor {
    transition: all $transition-value-default;
  }

  @include big-phone {
    width: 50px;
    min-height: 50px;
  }
}
