.btn {
  display: flex;

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    @include size(230px, 50px);
    @extend %link-text;
    color: $c-accent-first;
    border: 1px solid $c-accent-first;
    transition: background-color 0.3s, color 0.3s;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    @include size(50px);
    background-color: $c-accent-first;
  }

  @include media(tablet) {
    &__text {
      @include size(150px, 70px);
    }

    &__arrow {
      @include size(70px);
    }
  }

  &:hover {
    .btn__text {
      color: #fff;
      background-color: $c-accent-first;
    }
  }
}
