.button {
  height: 50px;
  border: 1px solid $primary-green;

  display: flex;
  align-items: center;
  justify-content: end;

  &__text {
    @include font-ibm-plex-sans-medium;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    margin-inline: auto;
  }

  &__link {
    height: 50px;
    width: 50px;
    background-color: $primary-green;
    cursor: pointer;
  }
}