.button {
  height: 70px;
  aspect-ratio: 1;
  background: $dark-grey-color url(./../images/icons/keyboard_arrow_right.svg)
    center no-repeat;
  background-size: 24px 24px;
  transition-duration: $effect-duration;

  @include on-mobile {
    height: 50px;
  }

  &:hover {
    background: $red-accent url(./../images/icons/arrow_right-black.svg) center
      no-repeat;
  }

  &--red {
    background: $red-accent url(./../images/icons/arrow_right-black.svg) center
      no-repeat;

    &:hover {
      background-color: hsl(0deg, 100%, 70%);
    }
  }
}
