.call-to-action {
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  &__name {
    border: 1px solid $main-color;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all $transition-duration-speed;

    &:hover {
      background-color: $main-color;
    }
  }

  &__text {
    color: $color-headers;

    &:hover {
      color: $color-white;
    }
  }

  &__button {
    border: 1px solid transparent;
    background-color: $main-color;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @include onTablet {
    height: 70px;
  }
}
