.card {
  align-items: center;
  padding-bottom: 60px;

  @include onDesktop {
    padding-bottom: 104px;
  }
  
  &__photo {

    &-img {
      width: 100%;
    }
  }

  &__data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

    @include onTablets {
      padding-top: 40px;
      width: 220px;
      height: 15px;
    }

    @include onDesktop {
      padding-top: 0;
    }

    &-title {
      margin: 0;
      font-family: "IBM Plex Sans", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: $gray;
      
      @include onTablets {
        font-size: 14px;
      }
    }

    &-number {
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: $green;

      @include onTablets {
        font-size: 14px;
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    line-height: 100%;
    color: $black;

    @include onTablets {
      padding-top: 30px;
      font-size: 36px;
      gap: 15px;
    }

    &::after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background-color: $coral;

      @include onTablets {
        width: 15px;
        height: 15px;
      }
    }
  }

  &__description {
    margin: 0;
    padding-top: 10px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #4e4e4e;

    @include onTablets {
      padding-top: 15px;
    }
  }
}
