.contact-us {
  &__link {
    text-decoration: none;
    color: inherit;
    display: block;
    border-bottom: 1px solid transparent;

    @include add-transition;

    &:hover {
      border-bottom: 1px solid $main-black-color;
    }
  }
}
