.contacts-row {
  font-size: 14px;
  line-height: 21px;

  &__title {
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  &__list {

    &--header{
      @include on-tablet{
      display: grid;
      grid-template-columns: repeat(2, minmax(120, 160px));
      column-gap: 24px;
    }

    @include on-desktop{
      column-gap: 30px;

    }

    }
  }

  &__item {
   grid-column: 1;
    &--weekend {
      margin-top: 16px;


      @include on-tablet{
        margin-top: 0;
      grid-area: 1 / 2 / -6 /-1;
      }

      }

    &--last{
      margin-bottom: 24px;
    }
    }




  &__link {
    &--footer{
      color: $dark-color;
      text-decoration: none;
    }
  }
}
