.contacts {
  font-family: 'IBM Plex Sans', sans-serif;
  color: $colorBlack;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;

  @include onTablet {
    grid-column: 4/6;
  }

  &__title {
    line-height: 140%;
    padding-bottom: 20px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: $colorBlack;

    &:hover {
      color: $colorBlack;
      opacity: 0.3;
    }

    &:active {
      color: $colorGreen;
    }
  }

  &__button {
    display: block;
    border: 1px solid $colorGreen;
    border-radius: 50%;

    width: 50px;
    height: 50px;
    stroke-width: 1px;

    background-image: url(../images/array__footer.svg);
    background-repeat: no-repeat;
    background-position: center;

    margin-top: 164px;
    margin-left: 80px;

    &:hover {
      @include transformElement;
    }

    @include onTablet {
      display: none;
    }
  }
}
