.container {
  max-width: 1440px;
  width: 100%;
  padding-inline: 55px;
  box-sizing: border-box;
  margin-inline: auto;

  @include tablet {
    padding-inline: 34px;
  }

  @include big-phone {
    padding-inline: 20px;
  }
}
