.contact-form {
  display: flex;
  align-items: center;
  height: 50px;

  @include onTablet {
    height: 70px;
    gap: 16px;
  }

  @include onDesktop {
    height: 70px;
    gap: 30px;
  }

  &__label {
    width: 100%;
    height: 100%;

    @include hover(transform, scale(1.02));
  }

  &__input {
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 18px 18px 18px 24px;
    outline: none;
    width: 100%;
    height: 100%;

    background: $clr--bg;

    &::placeholder {
      color: $clr--article-title;
      font-family: $font--secondary;
      font-weight: 400;
      line-height: 100%; /* 14px */
    }
  }

  &__button {
    display: block;
    width: 50px;
    padding: 25px;
    border: none;
    cursor: pointer;

    background: $clr--btn-form;
    background-image: url(../images/icons/arrow-right-2.svg);
    background-position: center;
    background-repeat: no-repeat;
    @include hover(transform, scale(1.05));

    @include onTablet {
      width: 70px;
      padding: 35px;
    }
  }
}
