.contucts {
  background-color: #000000bf;
  background-image: url(./../images/pidpiska-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include on-tablet {
    background-image: url(./../images/pidpiska-bg-tablet.png);
  }

  &__wrapper {
    padding-block: 80px;

    @include on-tablet {
      padding-block: 82px;

      @include page-grid;
    }

    @include on-desctop {
      padding-block: 163px;
    }
  }

  &__title {
    margin-bottom: 20px;
    color: #fff;

    @include on-tablet {
      margin-bottom: 16px;
      grid-column: 2 / 6;
      text-align: center;
    }

    @include on-desctop {
      grid-column: 5 / 9;
    }
  }

  &__text {
    margin-bottom: 50px;
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    @include on-tablet {
      margin-bottom: 64px;
      line-height: 18px;
      grid-column: 2 / 6;
    }

    @include on-desctop {
      margin-bottom: 72px;
      grid-column: 4 / 10;
    }
  }

  &__form {
    display: flex;

    @include on-tablet {
      grid-column: 2 / 6;
    }

    @include on-desctop {
      grid-column: 4 / 10;
    }
  }

  &__email {
    flex-grow: 1;
    border: none;
    padding: 18px 0 18px 24px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-align: left;
    color: $color-black;

    @include hover(box-shadow, 5px 5px 10px #fff);

    @include on-tablet {
      margin-right: 16px;
      padding: 28px 0 28px 24px;
    }

    @include on-desctop {
      margin-right: 30px;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      // padding: 18px 0 18px 24px;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      text-align: left;
      color: $color-grey;

      @include on-tablet {
        // padding: 28px 0 28px 24px;
      }
    }
  }

  &__button {
    height: 50px;
    width: 50px;
    border: none;
    background-color: $color-orange;
    background-image: url(./../images/icons/arrow-black.svg);
    background-position: center;
    background-repeat: no-repeat;

    @include hover(box-shadow, 5px 5px 10px $color-orange);

    &:active {
      box-shadow: 5px 5px 10px #fff;
    }

    @include on-tablet {
      height: 70px;
      width: 70px;
    }
  }
}
