.contacts {
  grid-column: span 1;
  font-family: $subtitle-font;
  font-size: 14px;
  line-height: 150%;

  @media (min-width: 768px) {
    grid-column: span 2;
  }

  @media (min-width: 1280px) {
    grid-column: span 3;
  }

  &__phone-number {
    display: none;

    @media (max-width: 320px) {
      display: block;
    }
  }

  &__title {
    margin: 0;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 141%;
  }

  &__address {
    font-style: normal;
  }

  &__info-address,
  &__phone,
  &__fax,
  &__email {
    text-decoration: none;
    color: #0F0E08;
    cursor: pointer;
  }
}





