.contacts {
  &__title {
    margin-bottom: 20px;
  }

  &__link {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: $footer-text-c;
    text-align: left;
    line-height: 21px;
  }
}
