.container {
  --padding-inline: 20px;
  padding-inline: var(--padding-inline);
  margin-inline: auto;

  @include onTablet {
    --padding-inline: 34px;
  }

  @include onDesktop {
    --padding-inline: 55px;
  }
}
