.contacts {
  font-family: $font-IBM;
  font-weight: $font-weight-normal;
  font-size: 14px;

  &__title {
    line-height: 140.63%;
  }

  &__item {
    line-height: 150%;

    &:first-child {
      padding-top: 20px;
    }
  }

  &--black {
    max-width: 220px;
    grid-column: span 1;

    @include onTablet {
      grid-column: span 2;
    }
  }

  &__link {
    text-decoration: none;
    color: $main-text-color;

    @include hover (color, $secondary-bg-color);
  }
}
