.CTA {
  padding-top: 50px;

  @include onDesktop {
    display: flex;
    padding-top: 47px;
    gap: 65px;
  }

  &__icons-and-logo {
    display: flex;
    justify-content: space-between;

    @include onTablet {
      flex-direction: column;
      gap: 62px;
      justify-content: flex-start;
    }
  }

  &__icons {
    color: $main-title-color;
    display: flex;
    column-gap: 20px;
  }

  &__schedule-contacts-container {
    padding-top: 40px;

    @include onTablet {
      display: flex;
      justify-content: space-between;
      padding-top: 0;
      gap: 31px;
    }
  }

  &__go-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid $secondary-bg-color;
    border-radius: 50%;
    margin: 17px 0 0 230px;

    @include onTablet {
      display: none;
    }
  }

  &__strip {
    height: 1px;
    width: 280px;
    background: $secondary-bg-color;

    @include onTablet {
      width: 460px;
    }

    @include onDesktop {
      width: 1px;
      height: 260px;
    }

  }

  &__top {
    @include onTablet {
      display: flex;
      gap: 130px;
    }
  }

  &__bottom {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onTablet {
      padding-top: 64px;
    }

    @include onDesktop {
      padding-top: 0;
      flex-direction: row;
      align-items: flex-start;
      gap: 69px;
    }
  }
}
