.current-events {
  @include on-desktop {
    scroll-margin-top: -150px;
  }

  &__title {
    padding-block: 70px 40px;

    @include on-tablet {
      padding-block: 88px 48px;
    }

    @include on-desktop {
      padding-block: 200px 56px;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    row-gap: 60px;

    @include on-desktop {
      row-gap: 104px;
    }
  }
}
