.current-events {
  &__title {
    padding-block: 70px 40px;

    @include on-tablet {
      padding-block: 88px 48px;
    }

    @include on-desktop {
      padding-block: 200px 56px;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }
}
