.dots {
  display: flex;
  gap: 22px;
  justify-content: center;
  align-content: center;
  padding: 20px 0 100px;

  @include onTablet {
    padding: 32px 0 92px;
  }

  &__dot {
    cursor: pointer;
    height: 9px;
    width: 9px;
    background-color: $dot-color;
    border-radius: 50%;
    display: inline-block;

    &:hover,
    &:active,
    &:focus {
      background-color: $secondary-bg-color;
    }
  }

  @include onDesktop {
    display: none;
  }
}
