.dropdown-menu {
  height: 100vh;
  background-color: #80808080;

  &__content {
    padding-inline: 20px;
    background-color: #1A5A4C;

    @include on-tablet {
      @include page-grid;
      
      padding-inline: 34px;
    }

    @include on-desktop {
      padding-inline: 55px;
    }
  }

  &__navigation {
    @include on-tablet {
      margin-block: 39px;
    }
  }
}
