.email {
  background-image: url(../images/email-background.png);
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    min-height: 550px;

    @include small-tablet {
      min-height: 380px;
    }
  }
}
