.events {
  margin-bottom: 100px;

  &__title {
    margin-bottom: 40px;
    color: $color-title-main;
    font-family: $font-second;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;

    @include on-tablet {
      font-size: 48px;
      text-align: left;
    }
  }

  &__bg {
    width: 100%;
    height: 210px;
    background-image: url('./../images/events/photo-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include on-tablet {
      height: 390px;
    }

    @include on-desktop {
      height: 550px;
    }
  }
}
