.events-item {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include on-tablet {
    gap: 40px;
  }

  @include on-desktop {
    flex-direction: row;
    align-items: center;
    gap: 130px;
  }

  &__info {
    @include on-tablet {
      max-width: 460px;
    }

    @include on-desktop {
      max-width: 370px;
    }
  }

  &__category-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;

    @include on-tablet {
      justify-content: inherit;
      margin-bottom: 30px;
    }
  }
  &__category {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #687480;
  }
  &__date {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #1a5a4c;
  }
  &__info-title {
    margin-bottom: 10px;

    @include on-tablet {
      margin-bottom: 15px;
    }

    &::after {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #f14a27;
      margin-bottom: 2px;
      margin-left: 5px;
    }
  }

  &__info-desc {
    font-size: 16px;
    line-height: 24px;
    color: #4e4e4e;
  }
}
