.events {

  &__item{
    margin-top: 60px;

    @include onTablet {
      margin-top: 64px;
    }

    @include onDesktop {
      margin-top: 104px;
    }
  }

  &__lecture {
    margin-top: 60px;

    @include onTablet {
      margin-top: 112px;
    }

    @include onDesktop {
      margin-top: 104px;
    }
  }
}
