.events {
  padding-top: 70px;

  @include tablet-above {
    padding-top: 88px;
  }

  @include desktop-above {
    margin-bottom: 192px;
  }

  &__title {
    margin-bottom: 40px;

    @include tablet-above {
      margin-bottom: 48px;
    }

    @include desktop-above {
      margin-bottom: 56px;
    }
  }


  &__item {

    &:not(:last-child) {
      margin-bottom: 60px;
    }

    @include tablet-above {
      &:not(:last-child) {
        margin-bottom: 44px;
      }
    }

    @include desktop-above {
      &:not(:last-child) {
        margin-bottom: 104px;
      }
    }
  }
}

.title {
  font-family: var(--font-family-second);
  font-size: 36px;
  font-weight: 700;
  text-align: center;

  @include tablet-above {
    text-align: left;
    font-size: 48px;
  }
}

.event {
  @include grid-template;
  font-family: var(--font-family-first);
  align-items: center;

  &__image {
    grid-column: 1/-1;
    object-fit: cover;
    max-height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet-above {
      max-height: 520px;
      width: 100%;
    }

    @include desktop-above {
      grid-column: 1/8;
    }
  }

  &__info {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    @include tablet-above {
      grid-column: span 4;
    }

    @include desktop-above {
      grid-column: 9/-1;
    }
  }

  &__present {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;

    @include tablet-above {
      justify-content: start;
    }

  }

  &__name {
    color: var(--color-gray-alt);
    font-weight: 500;
  }

  &__date {
    color: var(--color-green);
    font-weight: 700;
  }

  &__title {
    font-family: var(--font-family-second);
    font-size: 28px;
    color: var(--color-dark-alt);
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 400;
  }

  &__decor {
    width: 10px;
    height: 10px;
    background-color: var(--color-orange);
  }

  &__description {
    font-weight: 300;
    color: var(--color-gray);
  }

}

.lecture {
  @include grid-template;
  gap: 0;

  @include tablet-above {
    gap: 0;
  }

  @include desktop-above {
    gap: 0;
  }


  &__image {

    grid-column: 1 / -1;
    margin: 0 calc(var(--container-padding-x) * -1);

    @include tablet-above {
      margin: unset;
    }

    @include desktop-above {
      margin: 0 calc(var(--container-padding-x) * -1);
    }
  }

  &__photo {
    justify-content: center;
    align-items: center;
    min-height: 210px;
    display: flex;
    object-fit: cover;

    @include tablet-above {
      min-height: 390px;
    }

  }

  &__info {
    grid-column: 1/-1;
    row-gap: 20px;
    translate: 0 -56px;
    background-color: #fff;
    padding: 20px clamp(0px, 5vw, 55px);

    max-width: 430px;
    margin: 0 auto;

    @include tablet-above {
      padding: 45px 55px;
      max-width: 500px;
      translate: 0 -80px;

    }

    @include desktop-above {
      max-width: 570px;
      width: 100%;
    }

  }

  &__title {
    text-align: center;

    @include tablet-above {
      text-align: left;
      font-size: 36px;
    }
  }

  &__present {
    padding-left: 20px;
    justify-content: center;

    @include tablet-above {
      padding-left: 0;
      justify-content: space-between;
    }
  }


}
