.event {
  margin-bottom: 60px;

  @include on-tablet{
    &:not(:last-child){
      margin-bottom: 64px;
    }
    &:last-child{
      margin-bottom: 112px;
    }

  @include on-desktop{
    @include page-grid;

    align-items: center;

    &:not(:last-child){
      margin-bottom: 104px;
    }

    &:last-child{
      margin-bottom: 104px;
    }
  }
}

  &__photo {
    width: 100%;
    margin-bottom: 16px;

    @include hover(transform, scale(1.02));

    @include on-tablet{
      grid-column: span 7;
      margin-bottom: 40px;
    }

    @include on-desktop{
      margin-bottom: 0;
    }


  }

  &__wrapper{
    grid-column: 9/-1;
    max-width: 460px;

  }

  &__subtitle{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include on-tablet{
      margin-bottom: 32px;
      justify-content: start;
    }

    @include on-desktop{
      margin-bottom: 30px;
    }
  }

  &__category {
  color: $grey-light-color;
  text-transform: uppercase;
  text-decoration: none;


  @include on-tablet{
    margin-right: 30px;
    font-size: 14px;
    line-height: 14px;

  }
  }

  &__date {
  color: $green-color;
  text-decoration: none;



  }

  &__title {
    display: inline-block;
    position: relative;
    padding-right: 22px;
    margin-bottom: 10px;



    &::after{
      content: '';
      width: 10px;
      height: 10px;
      background-color: #F14A27;
      position: absolute ;
      top: 10px;
      right: 0;

      @include on-tablet{
        width: 12px;
        height: 12px;
        top: 14px;
      }
    }

    @include on-tablet{
     margin-bottom: 15px;
    }


  }

  &__description {
   font-size: 16px;
  line-height: 24px;
    font-weight: 300;
  }
}
