.event {
  padding-top: 60px;

  @include onTablet {
    grid-column: span 6;
    padding-top: 64px;
    @include pageGrid;
  }

  @include onDesktop {
    @include pageGrid;
    grid-column: span 12;
    padding-top: 104px;
  }

  &--1 {
    padding-top: 40px;

    @include onTablet {
      padding-top: 48px;
    }

    @include onDesktop {
      padding-top: 56px;
    }
  }

  &--3 {
    display: block;
    @include onTablet {
      padding-top: 112px;
    }
  }

  &__content {
    @include onDesktop {
      grid-column: 9 / -1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__img {
    width: 100%;
    @include hover (transform, scale(1.05));

    @include onTablet {
      grid-column: span 6;
    }

    @include onDesktop {
      grid-column: span 7;
    }

    &--3 {
      @include hover (transform, scale(1));
    }
  }

  &__exposition {
    position: relative;

    &--position {
      @include onTablet {
        @include pageGrid;
      }
    }
  }

  &__container-for-container {
    grid-column: 2/-2;
    @include onTablet {
      @include pageGrid;
    }
  }
  &__date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 280px;
    font-family: $font-IBM;

    @include onTablet {
      margin-top: 44px;
      width: 220px;
      font-size: $font-size-main-text-smaller;
    }

    @include onDesktop {
      height: auto;
      margin-top: 0;
    }

    &--on-img {
      position: absolute;
      display: flex;
      justify-content: space-evenly;
      justify-self: center;
      margin-top: 0;
      width: 100%;
      bottom: 100%;
      height: 50px;
      z-index: 1;
      background-color: $main-bg-color;

      @include onTablet {
        grid-column: 2/-2;
        margin-top: 0;
        height: 91px;
      }

      @include onDesktop {
        padding: 45px 0 23px;
        grid-column: 4/-4;
        height: 0;
      }
    }
  }

  &__kind-of-event {
    color: $accent-text-color;
    font-weight: $font-weight-madium;
    line-height: $line-hight-100;
  }

  &__date {
    color: $secondary-bg-color;
    font-weight: $font-weight-bold;
    line-height: $line-hight-150;
  }

  &__subtitle-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    margin-top: 15px;

    @include onTablet {
      padding-right: 99px;
      margin-top: 32px;
    }

    @include onDesktop {
      width: 370px;
      padding-right: 9px;
    }

    &--2 {
      padding-right: 40px;

      @include onTablet {
        padding-right: 145px;
      }

      @include onDesktop {
        padding-right: 55px;
      }
    }
  }

  &__subtitle {
    font-size: 28px;
    font-weight: $font-weight-normal;
    line-height: $line-hight-100;

    @include onTablet {
      font-size: $font-size-mobile-h2;
    }

    &--position {
      padding-bottom: 20px;
      text-align: center;
      box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);

      @include onTablet {
        padding-bottom: 50px;
        grid-column: 2/-2;
        padding-left: 55px;
      }

      @include onDesktop {
        grid-column: 4/-4;
        text-align: start;
        padding-left: 100px;
      }
    }
  }

  &__square {
    width: 10px;
    height: 10px;
    background-color: $accent-color;

    @include onTablet {
      width: 15px;
      height: 15px;
    }
  }

  &__paragraph {
    padding-top: 11px;
    color: $secondary-text-color;
    font-family: $font-IBM ;
    font-weight: $font-weight-light;
    line-height: $line-hight-150;

    @include onTablet {
      padding-top: 15px;
      width: 460px;
    }

    @include onDesktop {
      width: 370px;
    }
  }
}
