.events-section {

  &__title {
    margin-bottom: 56px;

    @include tablet {
      margin-bottom: 48px;
    }

    @include big-phone {
      margin-bottom: 40px;
    }
  }

  &__block_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 44px;

    padding-bottom: 104px;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;

      padding-bottom: 64px;

      &:last-child {
        padding-bottom: 112px;
      }
    }

    @include big-phone {
      padding-bottom: 60px;

      &:last-child {
        padding-bottom: 60px;
      }
    }

    @include phone {
      gap: 20px;
    }
  }

  &__image {
    max-width: 670px;
    height: 520px;

    @include tablet {
      max-width: 100%;
      width: 100%;
    }

    @include phone {
      height: 210px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__event {
    max-width: 370px;
    width: 100%;
  }
}
