.footer-menu {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    row-gap: 20px;
    flex-direction: column;
    display: flex;

    @include on-tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &__list-first {
    @include on-tablet {
      grid-column: 2 / 4;
    }

    @include on-desktop {
      grid-column: 8 / 10;
    }
  }

  &__list-second {
    @include on-tablet {
      grid-column: 4 / 6;
    }

    @include on-desktop {
      grid-column: 10 / 12;
    }
  }

  &__item {
    @include hover(transform, scale(1.05));
  }

  &__link {
    text-decoration: none;
    color: rgba(15, 14, 8, 1);

    &:hover {
      color: $accent-color;
      transform: scale(1.05);
    }
  }
}
