.footer {
  padding: 50px 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140.62%;
  color: #0f0e08;

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: max-content;

    @include onTablets {
      flex-direction: column;
      gap: 62px;
    }

    &-logo {
      background-image: url(../images/NAMU.svg);
      background-repeat: no-repeat;
      height: 72px;
      width: 70px;
    }

    &-socialmedia {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: max-content;
      width: 80px;
    }
  }

  &__contacts {
    position: relative;
    line-height: 140.62%;

    &-title {
      margin: 0;
      padding-bottom: 14px;
    }

    &-address {
      display: block;
      text-decoration: none;
      color: #0f0e08;
    }

    &-button {
      position: absolute;
      display: block;
      bottom: 0;
      right: 0;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: 1px solid $green;
      transform: translateY(100%);

      background-image: url(../images/top.svg);
      background-size: 10px, 12px;
      background-repeat: no-repeat;
      background-position: center;

      @include onTablets {
        display: none;
      }
    }
  }

  &__line {
    margin-top: 70px;
    height: 1px;
    background-color: $green;

    @include onDesktop {
      margin: 0;
      height: 100%;
      width: 1px;
      justify-self: center;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    height: 100%;

    @include onTablets {
      padding-top: 60px;
    }

    @include onDesktop {
      padding: 0;
    }

    
    &-item {
      line-height: 100%;
      text-decoration: none;
      color: #0f0e08;
      cursor: pointer;
    }
  }

  &__designed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: max-content;
    width: 100%;
    padding-top: 80px;

    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 140.62%;
    color: #0f0e08;

    @include onTablets {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 120px;
    }

    &-rights,
    &-author {
      margin: 0;
    }
  }
}
