.footer {
  &__content {
    margin-top: 50px;

    margin-bottom: 50px;

    @include on-tablet {
      margin-top: 51px;
    }

    @include on-desktop {
      margin-top: 47px;
    }
  }

  &__content-info {
    @include on-desktop {
      display: flex;
    }
  }

  &__contacts {
    position: relative;

    @include on-tablet {
      display: flex;
    }
  }

  &__info {
    display: flex;
    gap: 20px;
    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;

      background-color: #1a5a4c80;
      position: absolute;
      bottom: 0;

      @include on-tablet {
        max-width: 520px;
        bottom: -64px;
      }

      @include on-desktop {
        height: 100%;
        width: 1px;
        right: -65px;
        top: 0;
      }
    }
  }

  &__nav {
    margin-top: 40px;

    @include on-tablet {
      margin-top: 129px;
    }

    @include on-desktop {
      margin-top: 0;
    }

    &--nav {
      @include on-tablet {
        margin-left: 115px;
      }

      @include on-desktop {
        margin-left: 136px;
      }
    }
  }

  &__bottom {
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    @include on-tablet {
      flex-direction: row;
      justify-content: space-between;
    }

    &--text {
      font-size: 12px;
      font-weight: 300;
      line-height: 16.88px;
      text-align: center;

      color: $text-color;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 40px;

    @include on-tablet {
      flex-direction: column;
      justify-content: flex-start;
      margin-right: 40px;

      gap: 62px;
    }

    @include on-desktop {
      margin-right: 130px;
    }
  }

  &__icons-container {
    display: flex;
    gap: 20px;

    @include on-tablet {
      gap: 32px;
    }
  }

  &__schedule {
    width: 280px;

    @include on-desktop {
      width: 170px;
    }
    &--title {
      font-size: 14px;
      font-weight: 400;
      line-height: 19.69px;
      color: $text-color;
      padding-bottom: 20px;
    }

    &--item {
      color: $text-color;
    }
  }

  &__contact {
    @include on-tablet {
      width: 220px;
    }

    @include on-desktop {
      width: 169px;
    }
  }

  &__info-links {
    display: flex;
    flex-direction: column;
  }

  &__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: $text-color;
  }
  &__cont-button {
    display: flex;
    justify-content: end;

    @include on-tablet {
      display: none;
    }
  }

  &__button {
    width: 50px;
    height: 50px;

    border: 1px solid $main-color;

    border-radius: 50%;
    text-align: center;
    margin-bottom: 20px;

    cursor: pointer;
  }

  &__nav-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;

    color: $text-color;
  }
}
