.form {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: auto;

  @include on-tablet {
    gap: 16px;
  }

  @include on-desktop {
    gap: 30px;
  }

  &__field {
    flex: 1;
    height: 50px;
    padding-left: 24px;
    background-color: #fff;
    color: #000;
    border: 3px solid #fff;
    outline: none;

    @include on-tablet {
      height: 70px;
    }

    &:focus {
      border: 3px solid #f14a27;
    }
  }

  &__button {
    cursor: pointer;
    background-color: #f14a27;
    background-image: url('../img/icons/arrow-right-black.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
    width: 50px;
    height: 50px;

    @include on-tablet {
      width: 70px;
      height: 70px;
    }

    @include hover(background-color, #b0351c);
    @include active(background-color, #8b2b17);
  }
}
