.gallery {
  @media (min-width: 1280px) {
    margin: 70px 0;
  }

  &__static {
    display: none;
    @media (min-width: 1280px) {
      display: block;
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    padding-top: 100px;
    padding-bottom: 40px;

    @media (min-width: 768px) {
      font-size: 48px;
      padding-bottom: 48px;
    }

    @media (min-width: 1280px) {
      grid-column: 1/12;
      padding-bottom: 56px;
    }
  }

  &__p {
    grid-column: 4/7;
    @media (min-width: 768px) {
      display: block;
    }
    @media (min-width: 1280px) {
      display: none;
    }
  }

  &__p1 {
    display: none;
    grid-column: 1/4;

    @media (min-width: 1280px) {
      display: block;
      grid-column: 1/5;
    }
  }

  &__p2 {
    display: none;
    @media (max-width: 1279px) {
      display: none;
    }

    @media (min-width: 1280px) {
      display: block;
      grid-column: 5/13;
    }
  }

  &__p3 {
    @media (max-width: 1279px) {
      display: none;
    }
    @media (min-width: 1280px) {
      grid-column: 1/9;
    }
  }

  &__p4 {
    display: none;
    @media (min-width: 1280px) {
      display: block;
      grid-column: 9/13;
    }
  }

  &__p,
  &__p1,
  &__p2,
  &__p3,
  &__p4 {
    @include size (100%, 100%);
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__box {
    grid-column: 1/3;
  }
}
