.gallery {
  padding-inline: 20px;
  overflow-x: hidden;

  @include on-tablet {
    padding-inline: 34px;
  }

  &__title {
    padding-block: 40px;

    @include on-tablet {
      padding-block: 0 48px;
    }
  }

  &__img-block {
    display: flex;
    column-gap: 20px;
    height: 410px;
    transition: transform $effect-duration ease-in-out;

    @media (width >= $gallery-width) {
      height: 480px;
    }

    @include on-tablet {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      height: 543px;
    }

    @include on-desktop {
      @include page-grid;

      grid-template-rows: 600px 360px;
      row-gap: 30px;
      height: auto;
      margin-bottom: 200px;
    }
  }

  &__img {
    display: block;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @include hover(transform, scale(1.05));

    @include on-tablet {
      min-width: 340px;
      grid-row: 1;
    }

    &--first {
      @include on-desktop {
        grid-column: 1 / 5;
        grid-row: 1;
      }
    }

    &--second {
      @include on-desktop {
        display: none;
      }
    }

    &--third {
      @include on-desktop {
        grid-row: 1;
        grid-column: 5 / -1;
      }
    }

    &--fourth {
      @include on-desktop {
        grid-row: 2;
        grid-column: 1 / 9;
      }
    }

    &--fifth {
      @include on-desktop {
        grid-row: 2;
        grid-column: span 4;
      }
    }
  }

  &__btn-block {
    display: flex;
    justify-content: center;
    column-gap: 22px;
    padding-block: 20px 100px;

    @include on-desktop {
      display: none;
    }
  }

  &__btn {
    width: $gallery-btn-w;
    height: $gallery-btn-h;
    border-radius: 50%;
    background-color: $gallery-btn-c;
    cursor: pointer;

    &--active {
      background-color: $gallery-btn-active-c;
    }

    @include on-tablet {
      &:nth-child(n + 3) {
        display: none;
      }
    }
  }
}
