.header__button {
  padding-top: 20px;
  display: flex;
  align-items: center;

  @include onTablet {
    padding-top: 38px;
    align-self: flex-start;
  }

  @include onDesktop {
    padding-top: 89px;
    align-self: flex-end;
    margin-right: 90px;
  }

  &--link {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 50px;
    padding: 18px 80px;

    @include onTablet {
      height: 70px;
      padding: 18px 68px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background: $clr--bg;
    border: 1px solid $clr--bg-menu;

    color: $clr--main;
    text-align: center;
    font-family: $font--main;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;

    @include hover(transform, scale(1.02));
  }

  &--elem {
    position: absolute;
    content: '';
    padding: 25px;
    top: -1px;
    right: -50px;
    background-color: $clr--bg-menu;

    background-image: url(../images/icons/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;

    @include onTablet {
      padding: 35px;
      right: -70px;
    }
  }
}
