.header {
  // display: none !important;
  position: relative;
  margin-bottom: 40px;
  overflow-x: hidden;

  &__top-bar {
    position: absolute;
    z-index: 1;
  }

  &__content {
    position: relative;
    padding-block: 30px;

    @include on-tablet {
      max-width: 340px;
      padding-top: 127px;
      height: 380px;
    }

    @include on-desktop {
      display: flex;
      flex-direction: column;
      padding-top: 206px;
      max-width: calc(50% - 30px);
      height: 655px;
    }
  }

  &__bg {
    height: 500px;
    background-image: url('./../images/header-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include on-tablet {
      position: absolute;
      top: 0;
      right: 0;
      left: 50%;
      z-index: -2;

      height: 380px;
    }

    @include on-desktop {
      height: 655px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-family: $font-second;
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;

    @include on-tablet {
      margin-bottom: 40px;
      text-align: left;
    }

    @include on-desktop {
      font-size: 72px;
      margin-bottom: 90px;
    }
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    border: 1px solid $color-bg-main;
    text-align: center;

    color: #0F0E08;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;

    @include on-tablet {
      height: 70px;
      max-width: 270px;
    }

    @include on-desktop {
      align-self: flex-end;
    }

    & > .btn-text {
      display: block;
      width: 100%;
    }

    & > .arrow {
      display: block;
      height: 50px;
      width: 50px;
      background-color: $color-bg-main;
      background-image: url('./../images/icons/icon-arrow.png');
      background-size: 20px 20px;
      background-position: center;
      background-repeat: no-repeat;

      @include on-tablet {
        height: 70px;
        width: 70px;
      }
    }
  }

  &__events {
    position: absolute;
    left: -50px;
    bottom: 55px;

    display: none;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    color: #687480;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    transform: rotate(-90deg);
    text-transform: uppercase;

    @include on-desktop {
      display: flex;
    }

    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 70px;
      background-color: #687480;
    }
  }
}
