.hero {

  &__title {
    font-family: Montserrat, sans-serif;
    font-size: 45px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 54px;
      line-height: 120%;
    }

    @media (min-width: $desktop-width) {
      font-size: 72px;
    }
  }
}
