.hero {

  &__img {
    width: 100%;
    height: 300px;
    background: url("../images/namu.jpg") no-repeat;
    background-size: cover;
    background-position: 70% 20%;
  }

  &__decor-side {
    display: none;
    @extend %decor-text;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

  &__heading {
    text-align: center;
  }

  @include media(tablet) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 9px;
    height: 384px;

    &__img {
      order: 2;
      width: 65%;
      height: 100%;
      background-position: center;
    }

    &__content {
      align-items: flex-end;
      justify-content: flex-end;
      width: 30%;
      padding-right: 0;
    }

    &__heading {
      position: relative;
      right: -115px;
      text-align: left;
    }

    &__heading-clip {
      -webkit-text-stroke: 1px #0f0e08;
      color: transparent;
    }
  }

  @include media(dt) {
    height: 655px;
    align-items: center;

    &__heading {
      right: -150px;
    }

    &__content {
      position: relative;
      height: 100%;
      justify-content: center;
      max-width: 284px;
    }

    &__decor-side {
      $s-decor-line-width: 70px;
      $s-decor-line-height: 1px;
      position: absolute;
      left: 0;
      bottom: $s-decor-line-width;
      display: block;
      transform: rotate(-90deg);
      transform-origin: left top;
      &::before {
        content: "";
        position: absolute;
        left: -#{($s-decor-line-width + 10)};
        top: 50%;
        transform: translateY(-50%);
        display: block;
        @include size($s-decor-line-width, $s-decor-line-height);
        background-color: $c-accent-first;
      }
    }
  }
}
