.icon {
  display: block;
  background-image: url(./../images/icons/icon-burger-menu.svg);
  background-size: cover;

  @include hover(transform, scale(1.2));

  &--burger-menu {
    width: 18px;
    height: 12px;
    padding: 6px 3px;
    z-index: 2;
    margin-bottom: 143px;
    background-image: url(./../images/icons/icon-burger-menu.svg);
    grid-column: 1;

    @include on-tablet {
      margin-bottom: 64px;
    }

    @include on-mobile {
      margin-bottom: 270px;
    }
  }

  &--close {
    display: inline-block;
    width: 14px;
    aspect-ratio: 1;
    margin: 5px;
    background-image: url(./../images/icons/icon-close.svg);
  }

  &--facebook {
    background-image: url(./../images/icons/icon-facebook.svg);
  }

  &--instagram {
    background-image: url(./../images/icons/icon-instagram.svg);
  }
}
