.icon {
  --icon-size: 24px;

  display: block;
  height: var(--icon-size);
  width: var(--icon-size);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--menu {
    background-image: url(../images/icons/menu.svg);

    @include hover(transform, scale(1.2));
  }

  &--close {
    background-image: url(../images/icons/menu-close.svg);

    @include hover(transform, scale(1.2));
  }

  &--facebook {
    background-image: url(../images/icons/facebook-logo.svg);

    @include hover(transform, scale(1.2));
  }

  &--instagram {
    background-image: url(../images/icons/instagram-logo.svg);

    @include hover(transform, scale(1.2));
  }

  &--arrow-up {
    background-image: url(../images/icons/arrow-up.svg);
  }

  &--green {
    --icon-size: 48px;
    margin-left: auto;
    background-image: url(../images/icons/square-green.svg);

    @include onTablet {
      --icon-size: 68px;
    }
  }

  &--orange {
    --icon-size: 50px;
    margin-left: auto;

    background-image: url(../images/icons/square-orange.svg);

    @include onTablet {
      --icon-size: 70px;
    }

    @include hover(transform, scale(1.2));
  }
}
