.icon {
  border: 0;
  padding: 0;
  width: 24px;
  height: 24px;

  background-color: transparent;
  cursor: pointer;

  &__line {
    display: block;
    width: 18px;
    height: $height-burger-line;
    background-color: $black-color;
    position: absolute;
    top: $position-burger-line;
    transition: $transition-value-default;
  }
}
