.icon {
  width: 24px;
  height: 24px;

  &--menu {
    width: 100%;
    height: 100%;

    padding-bottom: 100%;
    @extend %icon-style;

    background-image: url(../icons/menu.svg);
    transition: background-image $time ease-in-out;

    &:hover {
      background-image: url(../icons/menu_hover.svg);
    }
  }

  &--cross {
    width: 60%;
    height: 60%;
    padding-bottom: 60%;
    @extend %icon-style;
    background-image: url(../icons/cross.svg);
  }

  &--search {
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    @extend %icon-style;
    background-image: url(../icons/search.svg);
    transition: transform $time ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}
