.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  &--menu {
    background-image: url(../images/icons/menu.svg);
  }

  &--close {
    background-image: url(../images/icons/menu-close.svg);
  }

  &--facebook {
    background-image: url(../images/icons/facebook-logo.svg);
  }

  &--instagram{
    background-image: url(../images/icons/instagram-logo.svg);
  }
}
