.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-position: center;
  background-repeat: no-repeat;

  @include hover(scale, 1.2);

  &--burger {
    background-image: url(../images/icons/icon-burger-menu.svg);
  }

  &--white-arrow {
    background-image: url(../images/icons/icon-arrow-white.svg);
  }

  &--black-arrow {
    background-image: url(../images/icons/icon-arrow-black.svg);
  }

  &--close {
    background-image: url(../images/icons/icon-close-menu.svg);
  }

  &--facebook {
    background-image: url(../images/icons/icon-facebook.svg);
  }

  &--instagram {
    background-image: url(../images/icons/icon-instagram.svg);
  }
}
