.landscape {
  position: sticky;
  bottom: 0;
  z-index: -1;
  background-image: url(../images/landscape-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include tablet {
    background-image: none;
  }

  @include big-phone {
    background-image: url(../images/landscape-background.png);
  }

  &__content {
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @include tablet {
      background-image: url(../images/landscape-background.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    @include big-phone {
      background-image: none;
      min-height: 390px;
    }

    @include phone {
      min-height: 210px;
    }
  }

  &__block-event {
    position: sticky;
    bottom: $landscape-block-bottom;
    max-width: 570px;
    width: 100%;
    min-height: $landscape-block-height;
    box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white-color;
    transform: translateY(50%);

    @include phone {
      min-height: 140px;
    }
  }

  &__event {
    max-width: 370px;
    width: 100%;
  }
}
