.lection {
  &__photo {
    background: url(../images/events/events-img-3.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 100vw;
    z-index: -1;

    @include on-tablet {
      height: 390px;
      width: 700px;
    }
    @include on-desktop {
      height: 550px;
      width: 100vw;

    }
  }
  &__info {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: auto;
    height: 140px;
    width: 280px;

    background-color: #fff;
    box-shadow: 0px 2px 0px 0px #1A5A4C40;
    position: relative;
    transform: translateY(-57px);


    @include on-tablet {
      height: 204px;
      width: 570px;
      padding: 50px 100px;
      transform: translateY(-84px);

    }
    @include on-desktop {
      transform: translateY(-102px);
    }
  }
}
