.lection {
  &__section {
    width: 100%;
    position: relative;

    @include Tablet {
      padding: 0 34px;
    }

    @include Dektop {
      padding: 0;
    }
  }

  &__img {
    height: 210px;
    width: 100%;
    z-index: -100;

    @include Tablet {
      height: 390px;
    }

    @include Dektop {
      height: 550px;
    }
  }

  &__block {
    max-width: 570px;
    padding: 20px 0;
    margin: 0 auto;
    transform: translateY(-50%);

    background: $color-white;
    box-shadow: 0px 2px 0px rgba(26, 90, 76, 0.25);
    z-index: 1;

    &:hover {
      transition: all 0.3s linear;
      box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.48);
    }

    @include Tablet {
      padding: 45px 55px 50px;
    }

    @include Dektop {
      padding: 45px 100px 50px;
    }
  }

  &__date {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-family: "IBM Plex Sans";
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    color: $color-gray;

    @include Tablet {
      font-size: 14px;
      justify-content: space-between;
      width: 460px;
    }

    @include Dektop {
      width: 370px;
    }

    &-time {
      font-weight: 700;
      line-height: 150%;

      color: $color-green;

      @include Tablet {
        width: 220px;
      }

      @include Dektop {
        width: 170px;
      }
    }
  }

  &__title {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    text-align: center;

    color: $color-dark;

    @include Tablet {
      font-size: 36px;
      text-align: left;
    }

    &--top {
      margin: 20px 0 0 0;

      @include Tablet {
        margin: 16px 0 0 0;
      }
    }
  }
}