.lecture {
  &__photo {
    
    &-img {
      width: 100%;
      object-fit: cover;
      height: 210px;

      @include onTablets {
        height: 390px;
      }

      @include onDesktop {
        height: 550px;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: center;
  }
}
