.lecture {
  position: relative;

  &__img {
    margin-top: 60px;
    width: 100%;

    @include onTablet {
      margin-top: 112px;
    }

    @include onDesktop {
      margin-top: 104px;
    }
  }

  &__text-block {
    width: 280px;
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    padding-block: 24px;
    background: #fff;
    box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);

    @include onTablet {
      width: 570px;
      padding-block: 45px;
      padding-inline: 55px;
      bottom: -109px;
    }

    @include onDesktop {
      padding-inline: 100px;
      bottom: -97px;

      @include hover(bottom, -90px);
    }
  }

  &__info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__type {
    color: #687480;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
  }

  &__time {
    color: #1a5a4c;
    font-weight: 700;
    line-height: 150%;
  }

  &__title {
    margin-top: 20px;
    color: #0f0e08;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;

    @include onTablet {
      margin-top: 15px;
      font-size: 36px;
      text-align: left;
    }

    @include onDesktop {
      margin-top: 23px;
    }
  }
}
