.link {
  text-decoration: none;
  color: inherit;

  --initial-value: 1.1;

  @include hover(scale, var(--initial-value));

  &--title {
    --initial-value: 1.03;

    @include on-tablet {
      --initial-value: 1.02;
    }
  }
}
