.list {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;

  @media (min-width: 1280px) {
    grid-row: 1;
  }

  &__item {
    grid-column: 1/2;
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &:nth-child(even) {
      grid-column: 2/3;
    }

    &:hover {
      color: #f14a27;
    }

    @media (min-width: 1280px) {
      grid-row: 1;
      &:nth-child(3),
      &:nth-child(4) {
        margin-top: 30px;
      }
    }
  }
}
