.logo {
  display: flex;
  width: 55px;
  height: 61px;

  @include hover(transform, scale(1.3));

  &--header {
    margin-top: -18px;

    @include tablet {
      margin-top: 0;
      padding-left: 56px;
    }

    @include desktop {
      padding-left: 54px;
    }
  }
}
