.logo {
  @include hover(transform, scale(1.2));

  &__img {
    display: block;
    height: 61px;

    @include onTablet {
      height: 72px;
    }

    &--bottom {
      height: 72px;
      width: 62px;
    }
  }
}
