.main {
  padding-top: 70px;

  @include on-tablet {
    padding-top: 107px;
  }

  @include on-desktop {
    padding-top: 318px;
  }

  &__events {
    display: grid;
    row-gap: 100px;
    padding-bottom: 60px;

    @include on-tablet {
      padding-bottom: 112px;
      row-gap: 88px;
    }

    @include on-desktop {
      padding-bottom: 104px;
      row-gap: 200px;
    }
  }
}
