.main {
  background-color: $white-color;

  &__content {
    display: grid;
    row-gap: 200px;
    padding-block-start: 200px;

    @include on-tablet {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      row-gap: 88px;
      padding-block-start: 88px;
    }

    @include on-mobile {
      row-gap: 100px;
      padding-block-start: 70px;
    }
  }
}
