.menu {
  background-color: $secondaryColor;
  height: 100vh;
  z-index: 5;
  &__nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    &-link {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 28px;
      font-weight: 400;
      line-height: 28px;
      color: white;
      text-decoration: none;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
