.menu {
  height: 399px;
  padding: 27px 0;
  background-color: $color-accent;
  font-weight: 400;
  color: $color-light;

  @media (min-width: $tablet-width) {
    padding: 39px 0;
    height: 255px;
  }

  @media (min-width: $desktop-width) {
    height: 233px;
    padding: 40px 0;
  }

  &__container {
    @include page-grid;
  }

  &__top {
    display: flex;
    gap: 28px;
    grid-column: 1 / -1;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      gap: 38px;
      grid-column: span 3;
      padding: 0;
      border: none;
      border-right: 1px solid rgba(255, 255, 255, 0.5);
    }

    @media (min-width: $desktop-width) {
      gap: 102px;
      grid-column: span 6;
      padding: 0;
      border-right: 1px solid rgba(255, 255, 255, 0.5);
    }
  }

  &__timetable {
    grid-column: 1 / -1;
    font-size: 14px;
    line-height: 150%;

    @media (min-width: $tablet-width) {
      grid-column: span 3;
    }

    @media (min-width: $desktop-width) {
      grid-column: 8 / 12;
    }
  }

  &__timetable-title {
    display: inline-block;
    line-height: 140%;
    margin-bottom: 20px;
  }

  &__timetable-inner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__timetable-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__timetable-time {
    font-weight: 600;
  }

  &__timetable-text {
    margin: 0;
    max-width: 280px;

    @media (min-width: $tablet-width) {
      max-width: 144px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 8 / 12;
    }
  }

  &__timetable-text span {
    font-weight: 600;
  }
}
