.icon.icon--burger {
  position: relative;
  width: 18px;
  height: $height-burger;
  padding: $burger-padding-block 3px;
  box-sizing: content-box;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: $height-burger-line;
    background-color: $black-color;
    transition: $transition-value;
  }

  &::before {
    top: $burger-padding-block;
  }

  &::after {
    bottom: $burger-padding-block;
  }
}

.icon--burger.icon--active {

  &::before {
    transform: rotate(45deg);
    top: $position-burger-line;
  }
  &::after {
    transform: rotate(-45deg);
    bottom: $position-burger-line;
  }
}

.icon--active .icon__line {
  transform: scale(0);
}

.arrow-link--green {
  background-color: $green-color;
}
