.icon.icon--burger {
  position: relative;
  width: $width-burger;
  height: $height-burger;
  padding: $burger-padding-block $burger-padding-inline;
  box-sizing: content-box;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: $width-burger;
    height: $height-burger-line;
    background-color: $black-color;
    transition: $transition-value;
  }

  &::before {
    top: $burger-padding-block;
  }

  &::after {
    bottom: $burger-padding-block;
  }
}

.icon--burger.icon--active {

  &::before {
    transform: rotate(45deg);
    top: $position-burger-line;
  }
  &::after {
    transform: rotate(-45deg);
    bottom: $position-burger-line;
  }
}

.icon--active .icon__line {
  transform: scale(0);
}

.arrow-link--green {
  background-color: $green-color;
}

.logo-link.logo-link--on-desktop {
  width: 60px;
  position: relative;
  z-index: 1;
}

.logo-link--on-phone {
  display: none;

  @include phone {
    display: block;
    width: 55px;
    position: absolute;
    top: $header-top-padding;
    left: 50%;

    transform: translate(-50%);
  }
}
