.nav {
  padding: 80px 0 20px;
  border-bottom: 1px solid $c-secondary-text;
  background-color: #fff;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__search-ico {
    fill: $c-dark-text;
    @include hover(fill, $c-secondary-text);
  }

  &__list {
    @include media(tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @include media(dt) {
      display: flex;
      gap: 50px;
    }

  }

  &__list-item {
    @extend %header-links;
    padding-bottom: 5px;
    width: fit-content;
    border-bottom: 1px solid transparent;
    @include hover(border-color, $c-secondary-text);
  }
}

.nav_footer {
  padding: 40px 0 70px;
  border-bottom: none;
  .nav {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 22px;
      width: 100%;
      @include media(dt) {
        gap: 0 60px;
      }
    }

    &__list-item {
      @extend %footer-text;
    }
  }

  @include media(dt) {
    padding: 0;
    height: fit-content;

    .nav {
      &__list-item {
        margin-bottom: 20px;
      }
    }
  }
}
