.nav-bottom {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    list-style-type: none;
    padding: 0;
    font-size: 14px;

    @include onTablet {
      column-gap: 30px;
    }
  }

  &__link {
    color: $dark-text-color;
    font-family: IBM Plex Sans, Helvetica, sans-serif;
    line-height: 100%;
    text-decoration: none;

    @include onDesktop {
      @include hover(color, $red-color);
      @include hover(font-weight, 600);
    }
  }
}
