.page {
  font-family: "Montserrat", "IBM Plex Sans", sans-serif;
  font-size: 14px;

  &__body {
    margin: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateY(-100%);
    transition: transform $time ease-in-out;

    &:target {
      transform: translateY(0);
    }
  }
}
