.page {
  scroll-behavior: smooth;
  height: 100vh;
  
  &__body {
    font-family: "IBM Plex Sans", sans-serif;
    font-family: "Montserrat", sans-serif;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transition: all 0.3s linear;
    transform: translateY(-100%);

    &:target {
      transform: translateY(0);
    }
  }
}