.picture {
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  cursor: zoom-in;
  overflow: hidden;
  transition: object-position $time ease-in-out,
    object-fit $time ease-in-out,
    border-radius $time ease-in-out,
    transform $time ease-in-out,
    box-shadow $time ease-in-out;

  &:hover {
    overflow: hidden;
    object-position: center top;
    border-radius: 12px;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  &-background {
    display: block;
    z-index: 1;
    width: 100%;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
    transition: border-radius $time ease-in-out,
      transform $time ease-in-out,
      box-shadow $time ease-in-out;

    &:hover {
      border-radius: 12px;
      transform: scale(0.98);
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
  }
}
