.points {
  display: flex;
  gap: 22px;
  justify-content: center;
  
  .point {
    width: 9px;
    height: 9px;
    border-radius: 9px;
    background-color: #E0E0E0;

    &--active {
      background-color: #1A5A4C;
    }
  }
}
