.promo {
  height: 210px;
  background: url("../images/promo-bg.jpg") no-repeat;
  background-size: cover;

  &__content {
    position: absolute;
    top: 155px;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 80%;
    max-width: 570px;
    padding: 25px 22px 34px;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

    @include hover(transform, translate(-50%, -25px));
  }

  &__heading {
    @extend %h3;
  }

  @include media(600px) {
    height: 390px;
    &__content {
      top: 306px;
      padding: 50px 100px;
    }
  }

  @include media(dt) {
    height: 550px;
    &__content {
      top: 448px;
    }
  }

  @include media(1440px) {
    height: 619px;
    &__content {
      top: 512px;
    }
  }

  @include media(1670px) {
    height: 674px;
    &__content {
      top: 586px;
    }
  }
}
