.schedule {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140.62%;

  &__title {
    margin: 0;
    line-height: 140.62%;
  }
    
  &__time {
    padding: 0;
    line-height: 150%;
    list-style: none;
  }

  &__description {
    margin: 0;
    line-height: 150%;
  }
}
