.schedule {
  &__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 141%;
    margin: 0 0 20px;
  }

  &__day {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }

  &__hours {
    font-weight: 600;
  }

  &__weekends {
    margin-top: 42px;
  }

  &__weekends-txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
  }
}
