.schedule {
  margin-right: 100px;

  @include on-tablet {
    margin-right: 0;
  }

  @include on-mobile {
    margin-inline: auto;
  }

  &__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 140.625%;
    margin-bottom: 20px;
    width: 140px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 170px);
    column-gap: 30px;

    &--footer {
      grid-template-columns: 170px;
      row-gap: 20px;
    }

    @include on-mobile {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  &__info,
  &__days {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;

    span {
      font-weight: 600;
    }
  }
}
