.section {
  &__title {
    margin: 0;
    padding-bottom: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: #0f0e08;

    @include onTablets {
      padding-bottom: 48px;
      padding-left: 34px;
      text-align: left;
    }

    @include onDesktop {
      padding-bottom: 56px;
      padding-left: 55px;
    }
  }
}
