.section-title {
  width: 100%;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  color: $color-black;

  @include on-tablet {
    font-size: 48px;
    text-align: left;
  }
}
