.section {
  &--events {
    margin: 70px 0 0 0;

    @include Tablet {
      margin: 107px 0 0 0;
    }

    @include Dektop {
      margin: 318px 0 0 0;
    }
  }

  &--lection {
    margin: 60px 0 0 0;

    @include Tablet {
      margin: 112px 0 0 0;
    }

    @include Dektop {
      margin: 104px 0 0 0;
    }
  }

  &--gallery {
    margin: 70px 0 0 0;

    @include Tablet {
      margin: 58px 0 0 0;
    }

    @include Dektop {
      margin: 170px 0 0 0;
    }
  }

  &--follow {
    margin: 100px 0 0 0;

    @include Tablet {
      margin: 92px 0 0 0;
    }

    @include Dektop {
      margin: 200px 0 0 0;
    }
  }
}