.section__title {
  margin: 70px 0 40px;
  text-align: center;
  font-size: 36px;

  @include onTablet {
    margin: 88px 0 48px;
    text-align: start;
    font-size: 48px;
  }

  @include onDesktop {
    margin: 200px 0 56px;
  }
}
