.signboard {
  background-color: #fff;
  box-shadow: 0 2px 0 #1a5a4c40;
  transform: translateY(-50%);
  width: 570px;
  padding: 20px 0;
  margin: 0 20px;

  @include onTablets {
    margin: 0;
    padding: 45px 55px 50px;
  }

  @include onDesktop {
    padding: 45px 100px 50px;
  }

  &__container {
    display: flex;
    font-display: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    @include onTablets {
      padding: 0;
    }

    &-event {
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: #687480;
    }

    &-date {
      font-family: "IBM Plex Sans", sans-serif;
      text-align: left;
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      color: $green;
    }
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
    color: #0f0e08;
    padding-top: 20px;

    @include onTablets {
      text-align: left;
      font-size: 36px;
    }
  }
}
