.slide {
  width: 0;
  &__content {
    width: 87.5vw;
    height: 410px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 3s;
    overflow-y: auto;
    background-size: cover;
    background-repeat: no-repeat;
    &:hover {
      transform: scale(1.05);
      @include hover(transition, 0.3s);
    }
    &-1 {
      background-image: url(../images/slides/slide1.jpg);
    }
    &-2 {
      background-image: url(../images/slides/slide2.jpg);
    }
  }
}
