.slideshow {
  position: relative;
  display: flex;
  justify-content: center;

  &__inner {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    text-align: center;

    @include onTablet {
      width: calc( 100vw - 34px);
    }

    @include onDesktop {
      width: $desktop-min-width;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    list-style: none;
    height: 100%;
    position: relative;
    left: 0;
    transition: left 0.8s cubic-bezier(0.77, 0, 0.17, 1);

    @include onTablet {
      column-gap: 20px;
    }

    @include onDesktop {
      @include pageGrid;
      column-gap: 30px;
      row-gap: 30px;
      width: fit-content;
    }
  }

  &__slide {
    height: 410px;
    float: left;

    @include onTablet {
      height: 543px;
    }

    @include onDesktop {
      height: 600px;
    }

    &--4 {
      display: none;

      @include onDesktop {
        display: block;
        grid-column: 1/9;
        height: 360px;
      }
    }

    @include onDesktop {
      width: fit-content;

      &--2 {
        display: none;
      }
    }

    &--1 {
      @include onDesktop {
        grid-column: 1/5;
      }
    }

    &--3 {
      @include onDesktop {
        grid-column: 5/-1;
      }
    }

    &--5 {
      @include onDesktop {
        grid-column: 9/-1;
        height: 360px;
      }
    }
  }

  &__picture {
    height: 100%;
    // max-width: 256px;
    object-fit: contain;

    @include onTablet {
      max-width: none;
    }

    @include onDesktop {
      object-fit: contain;
      max-width: none;
    }
  }

  &__label {
    position: absolute;
    left: 50%;
    bottom: -20px;
    z-index: 100;
    width: 9px;
    height: 9px;
    background-color: $dot-color;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;

    &--1 {
      margin-left: -44px;
    }

    &--2 {
      margin-left: -22px;
    }

    &--5 {
      margin-left: 22px;
    }

    @include onDesktop {
      display: none;
    }
  }

  &__input {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;

    &:checked + .slideshow__label {
      background-color: $secondary-bg-color;
    }

    &--1:checked ~ .slideshow__inner > .slideshow__list {
      left: 0;
    }

    &--2:checked ~ .slideshow__inner > .slideshow__list {
      // left: -100%;
      left: -272px;
    }

    &--3:checked ~ .slideshow__inner > .slideshow__list {
      // left: -200%;
      left: -544px;
    }

    &--5:checked ~ .slideshow__inner > .slideshow__list {
      // left: -400%;
      left: -815px;
    }

    // @include onTablet {
    //   &--2:checked ~ .slideshow__inner > .slideshow__list {
    //     left: -20%;
    //   }

    //   &--3:checked ~ .slideshow__inner > .slideshow__list {
    //     left: -90%;
    //   }

    //   &--5:checked ~ .slideshow__inner > .slideshow__list {
    //     left: -180%;
    //   }
    // }
  }
}
