.slide {
  height: 410px;
  float: left;
  @include hover (transform, scale(1.05));

  @include onTablet {
    height: 543px;
  }

  @include onDesktop {
    height: 600px;
  }

  &--4 {
    display: none;

    @include onDesktop {
      display: block;
      grid-column: 1/9;
      height: 360px;
    }
  }

  @include onDesktop {
    width: fit-content;

    &--2 {
      display: none;
    }
  }

  &--1 {
    @include onDesktop {
      grid-column: 1/5;
    }
  }

  &--3 {
    @include onDesktop {
      grid-column: 5/-1;
    }
  }

  &--5 {
    @include onDesktop {
      grid-column: 9/-1;
      height: 360px;
    }
  }
}
