.slider {
  box-sizing: border-box;
  width: 280px;
  height: 410px;
  overflow: hidden;

  @include onTablet {
    width: 700px;
    height: 543px;
  }

  @include onDesktop {
    display: none;
  }

  &__list {
    margin: 0;
    padding: 0;

    display: flex;
    list-style: none;
    width: 1120px;

    transition: transform .5s ease;

    @include onTablet {
      width: 1360px;
      gap: 20px;
    }
  }

  &__item {
    flex: 0 0 auto;
  }

  &__image {
    display: block;
    width: 280px;
    height: 410px;

    @include onTablet {
      width: 340px;
      height: 543px;
    }
  }

  &__pagination {
    margin: 20px 0 0 89px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 102px;

    @include onTablet {
      margin: 32px 0 0 299px;
    }

    @include onDesktop {
      display: none;
    }

    &--link {
      border: 1px solid $colorGary;
      background-color: $colorGary;
      width: 9px;
      height: 9px;
      border-radius: 50%;

      &:active {
        background-color: $colorGary;
        opacity: 0.5;
        transition: all .5s;
      }

      &:hover {
        background-color: $colorGreen;
      }


    }
  }
}

