.socialmedia {
  transition: box-shadow 0.3s;

  &__facebook {
    background-image: url(../images/facebook.svg);
    background-repeat: no-repeat;
    width: $icon-size;
    height: $icon-size;

    &:hover {
      box-shadow: 1px 4px 16px #2f2f3e66;
      border-radius: 20%;
    }
  }

  &__instagram {
    background-image: url(../images/instagram.svg);
    background-repeat: no-repeat;
    width: $icon-size;
    height: $icon-size;

    &:hover {
      box-shadow: 1px 4px 16px #2f2f3e66;
    }
  }
}
