.social {
  margin-top: 62px;
  display: flex;
  justify-content: space-between;

  @include on-tablet{
    justify-content: start;
    gap: 32px;
  }

  @include on-mobile {
    margin-top: 0;
    gap: 20px;
  }

  &__img {
    @include hover(transform, scale(1.2));

    @include on-tablet {
      @include hover(transform, none);
    }
  }
}
