.subscribe {
  height: 386px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/subscribe-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;

  &__heading {
    margin-bottom: 30px;
    @extend %h2;
    color: #fff;
  }

  &__text {
    margin-bottom: 50px;
    max-width: 70%;
    color: #fff;
    text-align: center;
  }

  &__form {
    display: flex;
  }

  &__input {
    @include size(233px, 50px);
    padding: 18px 31px;
  }

  &__btn {
    @include size(50px);
    background-color: $c-accent-second;

    &::placeholder {
      color: $c-secondary-text;
    }
  }

  @include media(tablet) {
    &__form {
      gap: 10px;
    }

    &__text {
      margin-bottom: 66px;
    }

    &__input {
      @include size(395px, 70px);
      padding: 18px 31px;
    }

    &__btn {
      @include size(70px);
    }
  }

  @include media(dt) {
    height: 550px;
    &__form {
      gap: 30px;
    }

    &__input {
      font-size: 16px;
    }
  }
}
