.subscription {
  background-image: url('../images/subscription/subscription.svg');
  background-position: center;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: #fff;
    margin: 88px 0 20px;

    @include tablet {
      margin: 82px 0 16px;
    }

    @include desktop {
      margin-top: 163px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    text-align: center;

    padding-bottom: 50px;

    @include tablet {
      line-height: 18px;
      padding-bottom: 64px;
    }

    @include desktop {
      padding-bottom: 72px;
    }
  }

  &__form {
    display: flex;
    width: 280px;

    margin-bottom: 88px;

    @include tablet {
      width: 460px;
      gap: 16px;
      margin-bottom: 82px;
    }

    @include desktop {
      width: 570px;
      gap: 30px;
      margin-bottom: 163px;
    }
  }

  &__input {
    width: 100%;
    color: $color-base-light;
    font-size: 14px;
    line-height: 100%;
    font-family: Montserrat, sans-serif;
    outline: none;

    padding-left: 24px;
  }

  &__btn {
    background-color: $color-accent;
    padding: 13px;
    cursor: pointer;

    @include tablet {
      padding: 23px;
    }

    &:hover {
      transition: background-color 0.3s;
      background-color: $color-primary;

      .subscription__btn-icon {
        content: url('../images/header/icon-btn.svg');
      }
    }
  }

  &__icon {
    color: $color-base;
  }
}
