.subscription {
  margin-top: 100px;
  background-image: url(../images/subscription__image.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 380px;
  border: none;

  @include onTablet {
    margin-top: 92px;
  }

  @include onDesktop {
    margin-top: 200px;
    height: 550px;
  }

  &__info {
    padding-top: 88px;
    text-align: center;

    @include onTablet {
      padding-top: 82px;
    }

    @include onDesktop {
      padding-top: 163px;
    }

    &--title {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: $colorWhite;
      font-size: 36px;
      font-weight: 700;
      line-height: 100%;

      @include onTablet {
        font-size: 48px;
      }
    }

    &--subtitle {
      padding-top: 20px;
      font-family:'IBM Plex Sans', sans-serif;
      color: $colorWhite;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;

      @include onTablet {
        padding-top: 16px;
      }
    }
  }

  &__form {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 0;

    @include onTablet {
      padding-top: 64px;
      gap: 16px;
    }

    @include onDesktop {
      padding-top: 72px;
      gap: 30px;
    }

    &--email {
      padding: 18px 24px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: $colorGary;
      font-size: 14px;
      font-weight: 400;
      line-height: 100%;

      border: none;
      outline: none;
      width: 230px;
      height: 50px;
      transition: .3s ease;

      @include hover(box-shadow, 15px 15px 20px -5px $colorRed);

      &:hover {
        @include transformElement;

        border-radius: 10px;
      }

      @include onTablet {
        padding: 28px 24px;
        width: 374px;
        height: 70px;
      }

      @include onDesktop {
        padding: 28px 32px;
        width: 470px;
      }
    }

    &--button {
      background-color: $colorRed;
      border: none;
      width: 50px;
      height: 50px;
      background-image: url(../images/arrow_black.svg);
      background-repeat: no-repeat;
      background-position: center;

      @include onTablet {
        width: 70px;
        height: 70px;
      }

      &:hover {
        @include transformElement;
      }

      &:active {
        @include transformElement;

        border-radius: 100%;
      }
    }
  }
}
