.subscribe {
  height: 386px;
  margin-bottom: 50px;

  @include onTablet() {
    height: 380px;
  }

  @include onDesktop() {
    height: 550px;
  }

  @include iconRules();
  background-image: url(../images/subscribe-photo.svg);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-top: 88px;
    margin-bottom: 20px;

    @include montserrat();
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: $lightColor;

    @include onTablet() {
      font-size: 48px;
    }

    @include onDesktop() {
      margin-top: 163px;
    }
  }

  &__text {
    margin-bottom: 50px;

    width: 280px;

    @include ibmPlex();
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: $lightColor;

    @include onTablet() {
      width: unset;
    }
  }

  &__button {
    display: flex;

    &-input {
      box-sizing: border-box;
      padding: 0;
      padding-left: 24px;

      width: 230px;
      height: 50px;

      @include onTablet() {
        width: 374px;
        height: 70px;

        margin-right: 16px;
      }

      @include onDesktop() {
        width: 470px;
        height: 70px;

        margin-right: 30px;
      }

      border: none;
      outline: none;
    }

    &-arrow {
      width: 50px;
      height: 50px;

      @include onTablet() {
        width: 70px;
        height: 70px;
      }

      @include onDesktop() {
        width: 70px;
        height: 70px;
      }

      border: none;
      outline: none;

      background-color: #f14a27;

      @include montserrat();
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: $greyColor;

      @include iconRules();
      background-image: url(../images/right-arrow.svg);
      background-size: auto;

      transition: $transitionTime;

      &:hover {
        transform: translateX(20px);
      }
    }
  }
}
