.subscribe {
  box-sizing: border-box;
  height: 386px;
  margin-top: 129px;
  padding: 88px 20px;

  @include background-image('../images/subscribe-background.png', cover, top);

  @include on-tablet {
    height: 390px;
    margin-top: 133px;
    padding: 82px 0;
  }

  @include on-desktop {
    height: 550px;
    margin-top: 200px;
    padding: 163px 0;
  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;

    @include on-tablet {
      font-size: 48px;
      margin-bottom: 16px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;

    @include on-tablet {
      margin-bottom: 64px;
      padding-inline: 154px;
    }

    @include on-desktop {
      margin-bottom: 72px;
      padding-inline: 455px;
    }
  }

  &__form {
    display: flex;
    height: 50px;
    margin: auto;

    @include on-tablet {
      height: 70px;
      width: 460px;
      gap: 16px;
    }

    @include on-desktop {
      width: 570px;
      gap: 30px;
    }
  }

  &__email {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 18px 24px;
    border: none;
    height: 100%;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 100%;

    &::placeholder {
      color: #687480;
      font-weight: 400;
    }

    &:hover {
      color: #161616;
    }

    &:active {
      color: #161616;
      border-color: #161616;
    }
  }

  &__button {
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 100%;
    border: none;
    background-color: #f14a27;
    padding: 20.5px;
    cursor: pointer;

    @include background-image(
      '../images/icons/icon-arrow-right-black.png',
      contain
    );

    background-origin: content-box;

    @include on-tablet {
      width: 70px;
      padding: 30px;
    }
  }
}
