.swiper-pagination {
  position: static;
  margin-top: 32px;
}

.swiper-pagination-bullet {
  margin-inline: 11px !important;
  background-color: $green-color;
  transition: $transition-value-default;

  width: 9px;
  height: 9px;
}
