.swiper {
  @include on-desktop {
    display: none !important;
  }
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  height: auto;
  max-width: 100%;
  text-align: center;
}

.swiper-pagination {
  margin-top: 20px;
  position: relative !important;
}

.swiper-pagination-bullet {
  margin-inline: 11px !important;
  height: 9px !important;
  width: 9px !important;
}

.swiper-pagination-bullet-active {
  background-color: #1a5a4c !important;
}