.swiper-container {
  @include onDesktop {
    display: none;
  }
}

.swiper {
  width: 280px;
  height: 445px;

  @include onTablet {
    width: 700px;
    height: 584px;
  }
}

.swiper-slide {
  width: 340px;
  height: 543px;
}

.swiper-slide img {
  width: 340px;
  height: 543px;
}

.swiper .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background-color: $background;
}
