.swiper {
  @include on-desktop {
    display: none;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
}

.swiper-pagination {
  margin-top: 32px;
  position: relative;
}

.swiper-pagination-bullet {
  margin-inline: 7px !important;
}

.swiper-pagination-bullet-active {
  background-color: #1a5a4c;
}
