.time {
  font-size: 14px;
  line-height: 21px;
  color: #fff;

  @include on-tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 26px;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19.69px;

    @include on-tablet {
      grid-column: 1 / -1;
    }
  }

  &__list {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    list-style: none;

    @include on-tablet {
      margin: 0;
    }

    &--footer {
      @include on-tablet {
        margin-bottom: 20px;
      }
    }
  }

  &__item {
    margin: 0;
  }

  &__bold {
    font-weight: 600;
  }

  &__weekends {
    margin: 0;

    @include on-tablet {
      align-self: end;
    }
  }
}
