.section {
  &__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    &--bottom {
      margin-bottom: 56px;
    }
  }

  &__text {
    color: $grey-colour;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
  }

  &__data {
    color: $green-colour;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
  }

  &__heading {
    color: $black-color;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}

@media (max-width: 474px) {
  .section {
    &__heading {
      font-size: 28px;
    }
  }
}

@media (max-width: 320px) {
  .section {
    &__title {
      text-align: center;
      font-size: 36px;
      &--bottom {
        margin-bottom: 40px;
      }
    }
  }
}
