.title-h3 {
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
  color: #0f0e08;

  @include on-tablet {
    font-size: 36px;
    line-height: 36px;
  }
}
