.title {
  font-family: $montserrat;
  font-weight: 700;
  text-align: center;

  &--header {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 20px;

    @include tablet {
      padding-top: 64px;
      margin-bottom: 38px;
      text-align: left;
      font-size: 54px;
      line-height: 65px;
    }

    @include desktop {
      padding-top: 143px;
      font-size: 72px;
      line-height: 86.4px;
      margin-bottom: 89px;
    }
  }

  &--main {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 40px;

    @include tablet {
      text-align: left;
      font-size: 48px;
      line-height: 48px;
    }

    @include desktop {
      margin-bottom: 56px;
    }
  }

  &--article {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    text-align: left;

    @include tablet {
      font-size: 36px;
      line-height: 36px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: $orange-color;
      left: 265px;
      top: 50%;
      transform: translateY(-50%);

      @include tablet {
        width: 15px;
        height: 15px;
        left: 346px;
      }
    }
  }

  &--lection {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    text-align: center;

    @include tablet {
      font-size: 36px;
      line-height: 36px;
      width: 460px;
      text-align: left;
      margin-inline: auto;
    }
  }

  &--subscription {
    color: $background-color;
    font-size: 36px;
    line-height: 36px;

    @include tablet {
      font-size: 48px;
      line-height: 48px;
    }
  }
}
