.title {
  color: $dark-text-color;
  text-align: center;
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;

  @include onTablet {
    text-align: left;
    font-size: 48px;
  }
}
