.to__top {
  position: fixed;
  display: block;
  border-radius: 50%;
  border: 1px solid $color-green;
  height: 50px;
  width: 50px;
  background-image: url(./../images/icons/arrow-up.svg);
  background-position: center;
  background-repeat: no-repeat;
  right: 20px;
  bottom: 20px;

  @include on-tablet {
    right: 34px;

    @include hover (transform, scale(1.2));
  }
}
