.top-bar {
  grid-area: top;
  background-image: url(../images/header/header-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  // width: 100vw;
  height: 300px;

  @include onTablet {
    height: 384px;
    grid-column: 4/7;
  }

  @include onDesktop {
    height: 655px;
    grid-column: 6/-1;
  }

  &__content {
    width: 100%;
    @include onTablet {
      // width: 340px;
      // grid-row: 4/6;
    }

    @include onDesktop {
      // width: 470px;
      grid-column: 6/12;
    }
  }
}
