.top-bar {
  &__logo {
    height: 61px;

    @include on-tablet {
      height: 72px;
      width: 220px;
    }
  }

  &__logo-link {
    grid-column-start: 2;
    translate: -40px 0;

    @include on-tablet {
      grid-column: 4 / 6;
      translate: 0;
    }

    @include on-desktop {
      grid-column: 7 / 9;
    }
  }
}
