.top-icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 250px;
  align-items: center;
    
  @include onTablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    padding-bottom: 40px;
  }
  
  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 119px;
  }
}
