.top-bar {
  @include page-grid;
  align-items: center;

  @include on-mobile {
    position: relative;
  }

  &__link {
    width: 24px;

    @include hover(transform, scale(1.5));

    @include on-mobile {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(50%);
    }
  }

  &__logo {
    grid-column: 6 / 8;

    @include on-tablet {
      grid-column: 4 / 6;
    }

    @include on-mobile {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
  }
}
