.work-schedule {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 0;
  padding: 0;
  padding-block: 24px 28px;

  @include on-tablet {
    grid-column: span 3;
    padding-block: 39px;
  }

  @include on-desktop {
    grid-column: span 4;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @include on-tablet {
      flex-direction: row;
      column-gap: 26px;
    }

    @include on-desktop {
      column-gap: 30px;
    }

    &--footer {
      @include on-tablet {
        flex-direction: column;
      }
    }
  }

  &__list {
    @include on-tablet {
      flex-shrink: 0;
    }
  }

  &__text {
    font-size: 14px;
    color: $menu-text-c;
    line-height: 21px;

    &--weight600 {
      font-weight: 600;
    }

    &--color {
      color: $footer-text-c;
    }
  }
}
