.wrapper {
  width: calc(100% - 40px);
  margin: 0 auto;
  @include onTablet {
    width: calc(100% - 70px);
  }
  @include onDesktop {
    width: calc(100% - 110px);
  }
  &--lection {
    position: relative;
    padding-top: 20px;
    top: -58px;
    height: 119px;
    background-color: #fff;
    box-shadow: 0 2px 0 0 #1a5a4c40;
    @include onTablet {
      width: 570px;
      top: -150px;
      padding-top: 40px;
      height: 164px;
    }
    @include onDesktop {
      height: 164px;
      padding-top: 42px;
      top: -104px;
    }
  }
}
