.about-us {
  position: relative;
  height: 386px;

  @include on-tablet {
    height: 380px;
  }

  @include on-desktop {
    height: 550px;
  }

  &__background {
    position: absolute;
    z-index: -1;
    top: 0;

    width: 100vw;
    height: 100%;

    background-image: url(/src/images/about-us-bg.png);
    background-position: center;
    background-size: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 88px;

    @include on-tablet {
      padding-top: 82px;
    }

    @include on-desktop {
      padding-top: 163px;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 50px;

    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: $white-text-color;
    text-align: center;
  }

  &__subscription {
    display: flex;
    place-content: center center;
    align-items: center;
    margin-bottom: 88px;

    @include on-tablet {
      gap: 16px;
    }
  }
}
