.about-creators {
  @include onTablet {
    @include pageGrid;
  }

  &__category {
    display: none;

    @include onDesktop {
      display: block;
      grid-column: span 1;
    }

    &-img {
      height: 230px;
    }
  }

  &__wrap {
    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 2 / 6;
    }
  }

  &__title {
    @include title;
    margin-bottom: 10px;
  }

  &__text {
    @include text;
    margin-bottom: 20px;

    &--desctop {
      display: none;

      @include onDesktop {
        display: block;
      }
    }
  }

  &__photo {
    display: none;

    @include onTablet {
      display: block;
      grid-column: 4 / 7;

      background-image: url(/images/about/about-creators__photo.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @include onDesktop {
      grid-column: 7 / -1;
    }
  }

  &__link {
    text-decoration: none;
    margin-bottom: 36px;
  }

  &__button {
    margin-inline: 0;
  }
}
