.actions {
  &__title {
    font-size: 36px;
    margin-bottom: 40px;

    @media (min-width: 768px) {
      text-align: start;
      font-style: 48px;

      margin-bottom: 48px;
    }

    @media (min-width: 1280px) {
      margin-bottom: 56px;
    }
  }

  &__space {
    @media (min-width: 768px) {
      display: none;
    }
  }
}
