.actions {
  padding-bottom: 10rem;

  @include on-tablet {
    padding-bottom: 15rem;
  }

  @include on-desktop {
    padding-bottom: 20rem;
  }

  &__container {
    display: grid;
    row-gap: 60px;

    @include on-desktop {
      row-gap: 104px;
    }
  }

  &__block {
    width: 100%;
    max-width: 460px;

    @include on-desktop {
      max-width: 370px;
    }

    @include on-design {
      display: block;
      margin: 0 auto;
    }

    &--title-and-event {
      position: absolute;
      bottom: -100px;
      background-color: $c-white;
      box-shadow: 0 2px 0 0 $c-shadow;

      @include on-tablet {
        padding: 20px 80px 20px 20px;
        transform: translate(13%, 15%);
      }

      @include on-desktop-mini {
        padding: 20px 80px 20px 20px;
        transform: translate(35%, 15%);
      }

      @include on-desktop {
        padding: 45px 100px 50px;
        transform: translate(50%, 35%);
      }

      @include on-design {
        transform: translate(65%, 40%);
      }
    }
  }

  &__card {
    &--position {
      position: relative;
    }

    @include on-desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__images {
    width: 100%;

    @include hover(transform, scale(1.1));

    @include on-desktop {
      max-width: 670px;
    }
  }

  &__img-full-width {
    width: calc(100% + 40px);
    margin: -20px;

    @include on-tablet {
      width: 100%;
      height: 390px;
    }

    @include on-desktop {
      width: calc(100% + 110px);
      height: 550px;
      margin: -55px;
      margin-top: 20px;
    }
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    &--inline {
      padding-inline: 20px;

      @include on-desktop {
        padding-inline: 15px 35px;
      }
    }
  }

  &__type {
    @include ibm-plex-sans-500;

    font-size: 16px;
    line-height: 1;
    color: $c-text;
    text-transform: uppercase;

    @include on-tablet {
      font-size: 14px;
    }
  }

  &__date {
    color: $c-button-green;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;

    @include on-tablet {
      font-size: 14px;
    }
  }

  &__title-flex {
    display: flex;
    gap: 10px;
    align-items: center;

    @include on-tablet {
      gap: 20px;
    }
  }

  &__red-square {
    width: 15px;
    height: 15px;
    background-color: $c-red;
  }

  &__title-center {
    text-align: center;
    margin-bottom: 20px;
  }

  &__information {
    width: 100%;
    display: block;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: $c-text;
  }
}
