.actions {
  &__card {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto 60px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  
    @media (max-width: 1279px) {
      flex-direction: column;

      &:nth-child(2n) {
        flex-direction: column;
      }
    }

    @media (max-width: $medium-screen) {
      align-items: flex-start;
    }
  }
}
