.actual {

  &__section-title {
    display: block;
    text-align: center;
    width: 270px;
    margin: 0 auto;
    margin-bottom: 40px;

    @include onTablet {
      width: 460px;
      height: 48px;
      text-align-last: left;
      margin: 0 0 48px;
    }
  }

  &__img-box {
    margin-bottom: 25px;

    @include onTablet {
      margin-bottom: 40px;
    }
  }

  &__img {
    width: 100%;
    object-position: center;
    object-fit: cover;

    &:hover {
      border-radius: 15%;
      border-color: $bg-green;
      border-width: 2px;
      border-style: solid;
    }
  }

  &__info-box {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 80px;
    }

    @include onDesktop {
      margin: 0;
    }

    &--last {
      width: 320px;
      height: 140px;
      margin: 0 auto;
      padding: 20px 20px;
      text-align: center;

      background-color: #fff;
      border-bottom: 2px solid $text-color;

      transform: translateY(-35%);

      @include onTablet {
        width: 570px;
        height: 204px;
        text-align: left;
        padding: 45px 100px 0;
      }
    }
  }

  &__info-show-box {
    display: flex;
    margin-bottom: 15px;

    @include onTablet {
      margin-bottom: 30px;
    }
  }

  &__info-show {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #687480;
    margin-right: 40px;
  }

  &__info-date {
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 16px;
    color: $bg-green;
  }

  &__info-title {
    display: flex;
    align-items: center;
    line-height: 33px;
    margin-bottom: 11px;

    @include onTablet {
      line-height: 39px;
      margin-bottom: 15px;
    }
    
    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background-color: $orange-color;
      transform: translateY(3px);
      margin-left: 15px;
    }
  }

  &__info-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }

  &__last-title {
    line-height: 33px;

    @include onTablet {
      line-height: 39px;
    }
  }
}
