@import '../utils/mixins';

.events {
  margin: 70px 20px 0;

  @include onTablet {
    margin: 88px 34px 0;
  }

  @include onDesktop {
    margin: 200px 55px 0;
  }

  &_title {
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    @include onTablet {
      font-size: 48px;
      text-align: start;
    }
  }

  &_block1 {
    margin-top: 40px;

    @include onTablet {
      margin-top: 48px;
    }

    @include onDesktop {
      margin-top: 56px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &_block2 {
    margin-top: 60px;

    @include onTablet {
      margin-top: 64px;
    }

    @include onDesktop {
      margin-top: 104px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &_block {

    &_image {
      width: 100%;
      grid-column: 1 / 8;
      margin-right: 130px;
    }

    &-for-grid {
      grid-column: 9 / -1;
    }

    &_date {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;

      @include onTablet {
        margin-top: 40px;
        max-width: 220px;
      }

      @include onDesktop {
        margin-top: 159px;
      }

      &-text {
        font-family: IBM Plex Sans;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        margin: 0;
        color: #687480;

        @include onTablet {
          font-size: 14px;
        }

      }

      &-time {
        font-family: IBM Plex Sans;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        margin: 0;
        color: #1A5A4C;

        @include onTablet {
          font-size: 14px;
        }

      }
    }

    &_title {
      display: flex;
      flex-direction: row;
      margin-top: 15px;

      @include onTablet {
        margin-top: 32px;
      }

      @include onDesktop {
        margin-top: 30px;
      }


      &-text {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 28px;
        line-height: 100%;
        letter-spacing: 0%;
        margin: 0;

        @include onTablet {
          font-size: 36px;
        }
      }

      &-box {
        width: 10px;
        height: 10px;
        background: #F14A27;
        line-height: 100%;
        margin-left: 15px;
        margin-top: 12px;

        @include onTablet {
          height: 15px;
          width: 15px;
        }
      }
    }

    &_text {
      font-family: IBM Plex Sans;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #4E4E4E;
      margin-top: 10px;
      margin-bottom: 0;

      @include onTablet {
        max-width: 460px;
        margin-top: 15px;
      }

      @include onDesktop {
        max-width: 370px;
      }
    }
  }
}

