.actuals {
  &__title {
    margin-bottom: 40px;

    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;

    text-align: center;

    color: $main-text-color;

    @include onTablet {
      font-size: 48px;
      text-align: left;
    }

    @include onDesktop {
      margin-bottom: 56px;
    }
  }

  &__article {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 64px;

      &:last-child {
        margin-bottom: 112px;
      }
    }

    @include onDesktop {
      margin-bottom: 104px;

      &:last-child {
        margin-bottom: 104px;
      }
    }
  }
}
