.actual-events {
  @include content-padding-inline;

  &__title {
    margin: 0;
    font-size: 36px;
    text-align: center;

    @include on-tablet {
      font-size: 48px;
      text-align: left;
    }
  }

  &__exhibitions {
    padding-top: 40px;

    @include on-tablet {
      padding-block: 48px;
    }

    @include on-desktop {
      padding-top: 56px;
      padding-bottom: 0;
    }
  }
}

.exhibition {
  &__blocks {
    @include page-grid;

    padding-bottom: 60px;

    @include on-tablet {
      padding-bottom: 64px;
    }

    @include on-desktop {
      align-items: center;
      padding-bottom: 104px;
    }
  }

  &__photos {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-desktop {
      grid-column: span 7;
    }
  }

  &__photo {
    @include hover(transform, scale(1.05));

    width: 100%;
  }

  &__description {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: 9 / -1;
    }
  }

  &__information {
    display: flex;
    padding-top: 16px;
    justify-content: space-between;

    font-family: $font-description-ibm;
    font-size: 16px;

    &--title {
      margin: 0;
      font-weight: 500;
      color: $events-color;
    }

    &--date {
      margin: 0;
      line-height: 21px;
      color: $corporate-color;
      font-weight: 700;
    }

    @include on-tablet {
      justify-content: start;
      gap: 20px;
      padding-top: 44px;
      font-size: 14px;
    }
  }

  &__block {
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 14px;

    &--title {
      margin: 0;
      font-weight: normal;
      line-height: 28px;
      font-size: 28px;

      @include on-tablet {
        font-size: 36px;
      }
    }

    &--element {
      background-color: #f14a27;
      width: 10px;
      height: 10px;

      @include on-tablet {
        width: 15px;
        height: 15px;
      }
    }

    @include on-tablet {
      padding-top: 30px;
    }
  }

  &__text {
    margin: 0;
    padding-top: 10px;
    color: #4e4e4e;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-family: $font-description-ibm;
    font-weight: 300;

    @include on-tablet {
      padding-top: 15px;
    }
  }
}
