.actual-events {
  &__title {
    @include contentPaddingInline;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    @include onTablet {
      font-size: 48px;
      text-align: start;
    }
  }
}
