.actual {
  padding-top: 70px;
  padding-bottom: 40px;
  @include onTablet {
    padding-top: 88px;
    padding-bottom: 96px;
  }
  @include onDesktop {
    padding-top: 200px;
    padding-bottom: 56px;
    scroll-margin-top: -150px;
  }

}
