.actual-events {
  position: relative;

  &__title {
    margin-bottom: 40px;
  }

  &__exhibition {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: 104px;
    }
  }

  &__event-title {
    @extend %montserrat;
    font-weight: 400;
    font-size: $page-section-font-size;
    line-height: 100%;
    color: $c-title;

    @include onTablet {
      font-size: $page-section-font-size-on-tablet;
    }
  }
}
