.address {
  font-size: 14px;
  color: inherit;

  &__title {
    font-size: inherit;
    color: inherit;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__text {
    line-height: 150%;
  }

  &__phone {
    color: inherit;
    text-decoration: none;

    &__phone:visited {
      color: inherit;
    }
  }
}
