@import "src/styles/utils/mixins";

.address {
  color: $color-black;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-right: 22px;

  @include for-desktop {
    margin-right: 0;
  }

  &__fax {
    &--br::before {
      @include for-desktop {
        content: "\a";
        white-space: pre;
      }
    }
  }
}
