@use "./utils/_mixins.scss" as *;

.address {
  color: $color-black;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-right: 22px;

  @include forDesktop() {
    margin-right: 0;
  }

  &__fax {
    &--br::before {
      @include forDesktop() {
        content: "\a";
        white-space: pre;
      }
    }
  }
}
