.adress{
  &__title {
    margin: 0;
    margin-bottom: 20px;
    @include pageIBMPlex;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    color: $section-title-color;
  }

  &__text-link {
    margin: 0;
  }

  &__link {
    text-decoration: none;
    @include pageIBMPlex;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $section-title-color;

    &:hover {
      color: #a3ecd3;
    }
  }

}
