.album {
  display: none;
  flex-direction: column;
  gap: 30px;

  &__container-img {
    display: flex;
    position: relative;
    overflow: hidden;
    max-height: 360px;
    width: 100%;

    &--max-h {
      max-height: 600px;
    }
  }

  &__img {
    object-fit: cover;
    object-position: center;
  }
}
