@for $scaleOut from 1 to 100 {
  .animation-scale--#{$scaleOut} {
    transition: transform $animation-time;
    &:hover {
      transform: scale(#{1 + $scaleOut / 100});
      transform-origin: center center;
    }
  }
}
