.announcement {
  position: relative;
  height: 210px;

  background-image: url(../images/announcement-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;

  @media (min-width: $tablet-min-width) {
    height: 390px;
  }

  @media (min-width: $desktop-min-width) {
    height: 550px;
  }

  &__content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -83;
    width: 280px;
    padding-block: 20px;
    border-bottom: 2px solid #C6D6D2;
    background-color: #fff;

    @media (min-width: $tablet-min-width) {
      bottom: -120px;
      width: 570px;
      padding-block: 45px 50px;
      padding-inline: 55px;
    }

    @media (min-width: $desktop-min-width) {
      padding-inline: 100px;
    }
  }

  &__caption {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;

    @media (min-width: $tablet-min-width) {
      justify-content: flex-start;
      gap: 190px;
      margin-bottom: 16px;
    }

    @media (min-width: $desktop-min-width) {
      gap: 150px;
    }
  }

  &__category {
    font-weight: 500;
    line-height: 16px;
    color: $category-color;

    @media (min-width: $tablet-min-width) {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__date {
    line-height: 24px;
    font-weight: 700;
    color: $border-color;

    @media (min-width: $tablet-min-width) {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    color: $btn-color;
    text-align: center;

    @media (min-width: $tablet-min-width) {
      font-size: 36px;
      line-height: 36px;
      text-align: left;
    }
  }
}
