.announcement {
  position: relative;
  top: 153px;
  padding: 0 20px;
  width: 278px;
  height: 154px;
  background-color: #fff;
  box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
  z-index: 1;

  &__subscriptions {
    font-family: "IBM Plex Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #687480;
  }

  &__date {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #1a5a4c;
  }

  &__title {
    margin: 0;
    margin-top: 16px;
    position: relative;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: #0f0e08;
  }
}
