.announcement {
  height: 210px;
  margin-bottom: 183px;
  display: flex;
  align-items: flex-end;
  background-image: url('/src/images/announcement.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include on-tablet {
    height: 390px;
    margin-bottom: 208px;
  }

  @include on-desktop {
    height: 550px;
    margin-bottom: 302px;
  }

  &__content {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 570px;
    transform: translateY(57px);
    box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);

    @include on-tablet {
      padding: 45px 55px 50px;
    }

    @include on-desktop {
      padding: 45px 100px 50px;
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    padding-left: 21px;
    padding-right: 21px;

    @include on-tablet {
      justify-content: space-between;
    }
  }

  &__type {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: $text-subheaders-color;
  }

  &__date {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: $accent-color;
  }

  &__title {
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;

    @include on-tablet {
      font-size: 36px;
      line-height: 36px;
      text-align: left;
    }
  }
}
