.anonce {
  position: relative;
  
  &__photo {
    position: relative;
    width: 100%;
    object-fit: cover;
    min-height: 210px;
    max-height: 550px;
  }
  
  &__info {
    position: relative;
    box-sizing: border-box;
    min-width: 280px;
    max-width: 570px;
    min-height: 140px;
    max-height: 204px;
    background-color: #fff;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
    margin: -80px auto 0;
    padding: 24px 5px 20px;
    
    @include onTablet {
      padding: 45px 200px 50px 55px;
      margin: -80px auto 0;
    }

    @include onDesktop {
      padding: 45px 100px 50px;
      margin: -90px auto 0;
    }

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 24px;
      font-size: 16px;

      @include onTablet {
        font-size: 14px;
      }

      &--name {
        text-transform: uppercase;
        font-weight: 500;
        line-height: 100%;
        color: #687480;
      }

      &--date {
        font-weight: 700;
        line-height: 150%;
        color: $colorGreen;
      }
    }

    &-title {
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
      color: $colorBlack;
    }
  }
}
