.arrow {
  display: flex;
  width: 70px;
  height: 70px;
  outline: none;
  border: none;
  background-image: url(../images/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
}
