.arrow-block {
  display: inline-block;
  margin-right: 0;
  width: 50px;
  height: 50px;
  background-color: #1a5a4c;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 767px) {
    width: 70px;
    height: 70px;
  }

  &--red {
    background-color: #f14a27;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;

    @include onTabletMore {
      width: 70px;
      height: 70px;
      margin-left: 16px;
    }

    @include onDesktop {
      margin-left: 30px;
    }
  }
}
