.arrow-up {
  width: 100%;
  display: flex;
  justify-content: end;

  @include onTablet {
    display: none;
  }

  &__img {
    width: 50px;
    height: 50px;
    object-fit: cover;

    &:hover {
      filter: invert(30%)
        sepia(94%)
        saturate(3904%)
        hue-rotate(185deg)
        brightness(95%)
        contrast(104%);
    }
  }
}
