.art-museum {

  @include onTablet {
    width: 340px;
    margin: 0;
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;

    @include onTablet {
      text-align: left;
    }

    @include onDesktop {
      margin-bottom: 90px;
      font-size: 72px;
      font-weight: 700;
      line-height: 120%;
    }
  }

  &__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 290px;
    border: 1px solid $green;
    border-right-width: 50px;
    color: $black;
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 500;
    line-height: 100%;

    @include onTablet {
      height: 70px;
      border-right-width: 70px;
    }

    @include onDesktop {
      margin-left: 145px;
    }

    @include hover(transform, scale(105%));

    &-arrow {
      position: absolute;
      right: -37px;
      width: 24px;
      height: 24px;
      background-image: url("../images/blocks/museum/button__arrow-right.svg");
      background-repeat: no-repeat;

      @include onTablet {
        right: -47px;
      }
    }
  }
}
