.art-content {
  position: relative;

  margin-bottom: 120px;

  &__picture-container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-height: 280px;
    margin-bottom: 20px;
    overflow: hidden;

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    @include on768 {
      margin-bottom: 32px;
      max-height: 520px;
    }
  }

  &__picture {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  &__time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #687480;
  }

  &__datas {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: $greenColor;
  }

  &__sub-title {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: normal;
    margin: 0;
    font-size: 28px;
    line-height: 100%;

    color: $subTitleColor;

    &--bot {
      margin-bottom: 10px;

      @include on768 {
        text-align: left;
      }
    }

    &--rect::after {
      content: "";
      display: inline-block;
      justify-content: center;
      align-items: center;
      width: 10px;
      height: 10px;
      transform: translate(-25%, -25%);

      background-color: red;
    }
  }

  &__art {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-items: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 15%);
    height: 140px;

    background: #fff;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

    @include on768 {
      top: 80%;
    }

    @include on768 {
      top: 85%;
    }

    @media (max-width: 467px) {
      height: 180px;
    }
  }
}
