.art-museum {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include onTablet {
    gap: 38px;
  }
  @include onDesktop {
    gap: 89px;
  }

  &__button {
    @include onDesktop {
      align-self: flex-end;
    }
  }
}
