.art {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 300px;

  @include onTablet {
    margin-bottom: 200px;
  }

  @include onPhone {
    margin-bottom: 100px;
  }

  &__img {
    width: auto;
    height: 100%;
    max-height: 600px;
  }

  &__item {
    position: absolute;
    bottom: -102px;
    left: 50%;
    transition: 0.3s;

    &:hover {
      bottom: -90px;
    }

    transform: translateX(-50%);
    width: 570px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 45px 100px 50px;
    background: $white;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

    @include onTablet {
      padding: 45px 55px;
      width: 80%;
    }

    @include onPhone {
      padding: 20px 0;
      bottom: -80px;
      height: 140px;
    }

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 20px;

      &__name {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: #687480;
      }

      &__data {
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;

        color: #1a5a4c;
      }
    }

    &__title {
      text-align: center;
    }

  }

}
