.article {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include on-tablet {
    gap: 40px;
  }

  @include on-desktop {
    flex-direction: row;
    gap: 130px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include on-tablet {
      gap: 15px;
    }

    @include on-desktop {
      align-self: center;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.03);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }

  &__date {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

    @include on-tablet {
      justify-content: flex-start;
      gap: 20px;
      margin-bottom: 15px;
    }
  }

  &__exhibition {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: rgba(104, 116, 128, 1);

    @include on-tablet {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__when {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(26, 90, 76, 1);

    @include on-tablet {
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(15, 14, 8, 1);
    margin: 0;

    @include on-tablet {
      font-weight: 400;
      font-size: 36px;
      line-height: 36px;
    }
  }

  &__square {
    width: 10px;
    height: 10px;
    background-color: rgba(241, 74, 39, 1);
  }

  &__description {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(78, 78, 78, 1);
    margin: 0;
    text-align: left;
  }
}
