@import '../utils';


.art-museum {
  @include column-flex;

  gap: 20px;

  &__content {
    padding: 0 20px;

    @include column-flex;

    gap: 20px;
  }
  &__picture {
    min-height: 300px;
    max-height: 544px;
  }

  &__title {
    font-size: 45px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
  }

  &__button {
    display: block;
    position: relative;
    color: $black;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    border: 1px solid $green;
    width: 100%;
    text-align: center;
    padding: 18px;
    max-width: 270px;
    transition: all 0.3s;

    &::after {
      position: absolute;
      content: '>';
      width: 50px;
      height: 100%;
      color:$white;
      padding: 19px 21px;
      background-color: $green;
      right: 0;
      top: 0;
      transition: background-color 0.3s;
    }

    &:hover {
      border: 1px solid $red;
      transform: scale(1.05);
      &::after {
        background-color: $red;
      }
    }
  }


}
