.menu {
  background-color: #1a5a4c;
  height: max-content;
  overflow: auto;
  box-sizing: border-box;

  .container__aside {
    @include content-padding-inline;

    display: block;
    color: #fff;
    padding-top: 27px;
    padding-bottom: 27px;

    @include on-tablet {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @include on-desktop {
      padding-bottom: 48px;
    }
  }

  .content--aside {
    justify-content: space-between;
    font-size: 16px;
    line-height: 100%;
    padding: 0;
    gap: 28px;
    display: flex;
    width: 100%;
    font-weight: 400;

    @include on-tablet {
      display: flex;
      width: auto;
    }

    @include on-desktop {
      gap: 102px;
    }
  }
}

.nav--aside {
  display: flex;
  align-self: flex-start;
  gap: 28px;
  text-align: left;

  @include on-desktop {
    gap: 30px;
  }
}

.nav {
  &__list--aside {
    margin: 0;
    list-style: none;
    font-size: 16px;
    line-height: 16px;

    @include on-tablet {
      width: auto;
    }

    @include on-desktop {
      font-size: 22px;
    }
  }

  &__link--aside {
    color: #fff;
    cursor: pointer;
  }
}

.menu__underline {
  border-bottom: 1px solid #fff;
  margin-bottom: 40px;
  margin-top: 4px;

  @include on-tablet {
    border-right: 1px solid #fff;
    border-bottom: none;
    display: flex;
    margin-block: 0;
    justify-content: space-around;
  }

  @include on-desktop {
    align-items: center;
  }
}

.aside__bottom {
  @include on-desktop {
    display: flex;
    justify-content: space-between;
  }
}

.schedule--aside {
  @include on-tablet {
    display: flex;
    justify-content: space-between;
    gap: 28px;
  }

  @include on-desktop {
    gap: 30px;
    margin-right: 12vw;
  }
}

.schedule {
  &__table--aside {
    display: block;
  }

  &__hours--aside {
    width: auto;
    font-size: 14px;
    line-height: 21px;
  }

  &__note--aside {
    @include on-tablet {
      align-self: flex-end;
      width: 144px;
      margin-block: revert;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
