.ayurvedic-tooth-powder {
  display: grid;

  @include onTablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
  }

  @include onDesktop {
    grid-template-columns: min-content 1fr min-content 1fr;
    grid-template-rows: repeat(2, auto);
  }

  &__side-img {
    display: none;

    @include onDesktop {
      display: inherit;
      background-image: url(../images/img_Desktop/ayurvedic-tooth-powder-side.svg);
      background-size: cover;
      height: 179px;
      width: 18px;
      margin: 0 32px 0 50px;
      grid-column: 1 / 2;
    }
  }

  &__title {
    @include titleDefault;
    margin: 0 0 20px 20px;

    @include onTablet {
      position: absolute;
      grid-column: 1 / 2;
    }

    @include onDesktop {
      position: relative;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin: 0 0 20px 50px;
    }
  }

  &__block {
    display: flex;
    justify-content: end;
    margin: 0 0 30px;

    @include onTablet {
      grid-column: 1 / -1;
    }

    @include onDesktop {
      display: block;
      grid-column: 4 / 5;
      grid-row: 1 / 2;
      margin: 0;
    }

    &--img {
      background-image: url("../images/img_Mobile/Group\ 38.svg");
      height: 397px;
      width: 300px;
      background-size: cover;
      background-position: 50%;
      position: relative;
      right: 0;

      @include onTablet {
        background-image: url("../images/img_Table/Group\ 41.svg");
        height: 397px;
        width: 515px;
      }

      @include onDesktop {
        background-image: url(../images/img_Desktop/ayurvedic-tooth-powder-img.svg);
        height: 397px;
        width: 480px;
        left: 0;
      }
    }
  }

  &__button {
    @include buttonForInfoDefault;
    width: 86px;
    margin-left: 20px;

    @include onTablet {
      grid-column: 1 / 2;
    }

    @include onDesktop {
      padding-top: 366px;
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      margin-left: 50px;
    }
  }

  &__ingridients {
    display: none;

    @include onDesktop {
      width: 180px;
      display: inherit;

      &--list {
        list-style: none;
        margin: 35px 20px 40px 0;
        text-align: right;
        padding: 0;
      }

      &__kaolin {
        padding-bottom: 52px;
      }

      &__sivak {
        padding-bottom: 49px;
      }

      &__calcium {
        padding-bottom: 49px;
      }

      &__licorice-root {
        padding-bottom: 52px;
      }

      &__turmeric {
        padding-bottom: 0;
      }
    }
  }
}
