.background {

  @media (max-width: 1210px) {
    max-width: 700px;
    margin: 0 auto;
  }

  &__image {
    background-image: url(../photo/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 300px;

    @media (max-width: 1210px) {
      max-width: 700px;
      height: 390px;
      margin-bottom: 210px;
    }
  }

  &__container {
    position: absolute;
    bottom: -15%;
    width: 570px;
    height: 204px;
    background-color: #fff;
    box-shadow: 0 2px rgba(26, 90, 76, 0.25);
    text-decoration: none;
    transition: transform 0.5s ;
    &:hover {
      transform: scale(1.2);

    }

    &-title {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 120px;
      margin-top: 16px;
      font-size: 36px;
      font-weight: 400;
      text-decoration: none;
      color: #000;
    }
  }
}

.lection {
  margin-top: 45px;
  display: flex;
  justify-content: space-evenly;
  &__text {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #687480;
  }

  &__date {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #1a5a4c;
  }
}
