.background {
  display: flex;
  height: 85vw;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 100px;
  @include onTablet {
    align-self: start;
    margin: 0 34px;
  }
  @include onDesktop {
    margin: 0;
  }
  &--announcement {
    flex-direction: column;
    justify-content: end;
    background-image: url("/images/pictures/content-3.png");
  }
  &__container {
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    width: 280px;
    background-color: #fff;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

    @include onTablet {
      margin-bottom: 88px;
      width: 570px;
    }

    @include onDesktop {
      margin-bottom: 200px;
    }
  }
  &__schedule {
    padding: 20px 0;
    justify-content: space-around;

    @include onTablet {
      justify-content: space-between;
      width: 330px;
      padding: 45px 0 16px;
      margin: 0 55px 16px;
    }
  }
  &__subtitle {
    margin: 0 0 20px;

    @include onTablet {
      margin: 0 0 55px;
      font-size: 36px;
    }
  }
  &__subtitle-container {
    text-align: center;

    @include onTablet {
      margin: 0 auto;
      max-width: 460px;
      text-align: left;
    }
  }
}
