.back-to-top {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $main-color;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 20px;
  background-image: url(../images/graphics/carbon_arrow-up.svg);
  background-repeat: no-repeat;
  background-position: center;

  @include hover(scale, 105%);

  @include onTablet {
    display: none;
  }
}
