.banner {
  width: 100%;
  height: 210px;
  background-image: url('/src/images/events/panorama.png');
  background-size: cover;
  object-position: center;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-top: 10px;

  @include on-tablet {
    height: 390px;
    margin-top: 62px;
  }

  @include on-desktop {
    height: 550px;
    margin-top: 54px;
  }

  &__plate {
    position: absolute;
    width: calc(100% - 40px);
    max-width: 570px;
    background-color: $white;
    border-bottom: 2px solid $text-color-light;
    padding: 20px 0;
    margin: 0 20px;
    left: 0;
    right: 0;
    top: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @include on-tablet {
      box-sizing: border-box;
      margin: auto;
      top: 80%;
      padding: 55px 50px;
      gap: 23px;
    }

    &__subtitle {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      text-align: left;
      color: $text-color-light;
      display: flex;
      flex-wrap: wrap;
      place-content: space-between;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;

      @include on-tablet {
        padding: 0;
      }

      & > .b {
        color: $accent-color;
      }
    }

    &__title {
      margin: 0;
      color: $text-color;
      font-family: Montserrat, sans-serif;
      font-weight: 400;
      font-size: 28px;
      line-height: 28px;
      text-align: center;

      @include on-tablet {
        text-align: left;
        font-size: 36px;
        line-height: 36px;
      }
    }
  }
}
