.baseline-menu {
  opacity: 1;
  background-image: url(../images/icons/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  width: 24px;
  height: 24px;

  display: block;
  position: absolute;

  margin-top: 27px;

  @include on-tablet {
    margin-top: 39px;
  }

  @include on-desktop {
    margin-top: 40px;
  }
}

.baseline-opacity {
  opacity: 1;
}

.baseline-close {
  &--tablet {
    @include on-tablet {
      background-image: url(../images/icons/close.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;

      width: 24px;
      height: 24px;
    }
  }

  &--phone {
    background-image: url(../images/icons/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

    width: 24px;
    height: 24px;

    @include on-tablet {
      display: none;
    }
  }
}
