.bg {
  grid-area: bg;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
  object-fit: cover;

  @include onTablet {
    height: 384px;
    width: 374px;
    left: unset;
    right: 0;
    object-fit: cover;
  }

  @include onPC {
    height: 655px;
    width: 725px;
    left: unset;
    right: 0;
    object-fit: cover;
  }
}
