.block__info {
  display: flex;
  gap: 30px;
  
  margin-bottom: 15px;
  
  @include onDesktop {
    margin-bottom: 32px;
  }
  
  @include onTablet {
    margin-bottom: 32px;
  }

  &-text {
    font-family: "IBM Plex Sans", sans-serif;
    
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
 
    color: #4e4e4e;
  }
  
  &-event {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
  
    color: #687480;
  
    @include onDesktop {
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
    }
  }
  
  &-date {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
  
    color: #1a5a4c;
  }
  
  &-header {
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
  
    color: #0f0e08;
  
    margin-bottom: 15px;
  
    &::after {
      content: "";
      display: inline-block;
  
      width: 10px;
      height: 15px;
  
      vertical-align: top;
  
      background-image: url(../images/square.svg);
         
  
      @include onTablet {
        width: 15px;
        height: 20px;
      }
   
      @include onDesktop {
        width: 15px;
        height: 15px;
      }
    }
  }
}
