.block__info {
  display: flex;
  gap: 30px;
  
  margin-bottom: 15px;
  
  @include onDesktop {
    margin-bottom: 32px;
  }
  
  @include onTablet {
    margin-bottom: 32px;
  }

  &-text {
    font-family: "IBM Plex Sans", sans-serif;
    
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
 
    color: #4e4e4e;

    margin-top: 11px;

    @include onTablet {
      margin-top: 15px;
    }

    @include onDesktop {
      margin-top: 15px;
    }
  }
  
  &-event {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
  
    color: #687480;
  
    @include onDesktop {
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
    }
  }
  
  &-date {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
  
    color: #1a5a4c;
  }
  
  &-header {
    display: flex;
    align-items: center;

    gap: 10px;

    @include onTablet {
      gap: 20px;
    }
   
    @include onDesktop {
      gap: 20px;
    }
    
    &--text {
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;

      @include onTablet {
        font-size: 36px;
      }

      @include onDesktop {
        font-size: 36px;
      }
    }

    &--after {
      width: 10px;
      height: 10px;

      @include onTablet {
        width: 15px;
        height: 20px;
      }
   
      @include onDesktop {
        width: 15px;
        height: 15px;
      }
    }
  }
}
