.bottom {
  border-bottom: 1px solid #1a5a4c80;
  margin: 20px 20px 40px;

  @include iPadMini {
    width: 460px;
    margin: 0 auto 64px;
  }

  @include onDesctop {
    position: relative;
    top: 47px;
    left: 180px;
    width: 260px;
    transform: rotate(-90deg);
   
  }
}
