.bottom {
  position: relative;
  display: flex;
  justify-content: center;

  @include onTablet {
    padding-inline: 34px;
  }

  @include onDesktop {
    padding: 0;
  }

  &__img {
    width: 100%;

    @include onDesktop {
      height: 550px;
    }
  }

  &__container {
    position: absolute;
    width: 280px;
    height: 140px;
    bottom: -96px;
    padding-bottom: 20px;
    background-color: $color-white;
    box-shadow: 0px 2px 0px 0px rgba(26, 90, 76, 0.25);

    @include onTablet {
      width: 570px;
      height: 204px;
      bottom: -135px;
    }

    @include onDesktop {
      bottom: -117px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 24px 20px;

    @include onTablet {
      padding: 45px 55px 23px;
    }

    @include onDesktop {
      padding-inline: 100px;
    }
  }

  &__header--title {
    color: $color-gray;
    font-size: 16px;
    font-weight: 500;

    @include onTablet {
      font-size: 14px;
    }
  }

  &__header--date {
    color: $color-green;
    font-size: 16px;
    font-weight: 700;

    @include onTablet {
      font-size: 14px;
    }
  }

  &__container--title {
    text-align: center;
    font-family: $second-family;
    font-size: 28px;
    font-weight: 400;

    @include onTablet {
      padding-inline: 55px;
      font-size: 36px;
      text-align: left;
    }

    @include onDesktop {
      padding-inline: 100px;
    }
  }
}
