.box {
  display: block;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/icons/arrow-right-light.svg');
  background-color: $primary-decor-color;

  @include on-phone {
    width: 50px;
    height: 50px;
  }

  &--secondary {
    background-color: $secondary-decor-color;
    background-image: url('../assets/icons/arrow-right-dark.svg');
  }
}
