.brand-of-eco-cosmetics {
  @include onDesktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__img {
    background-image: url(/images/img_Mobile/header_photo.svg);
    height: 267px;
    background-size: cover;
    background-position: 50%;

    @include onTablet {
      height: 500px;
      margin: 0 27px;
    }

    @include onDesktop {
      grid-column: 2/3;
      height: 451px;
      margin: 0 50px 0 0;
    }
  }

  &__block {
    padding: 25px 0 30px 0;
    width: 280px;
    margin: 0 auto;

    @include onTablet {
      padding: 30px 0;
      width: 466px;
    }

    @include onDesktop {
      margin-left: 150px;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      padding: 0;
    }

    &--title {
      margin: 0 0 10px 0;
      font-weight: 600;
      font-size: 24px;
      line-height: 31.2px;
      text-align: center;
      width: 270px;

      @include onTablet {
        font-size: 36px;
        line-height: 54px;
        width: 466px;
      }

      @include onDesktop {
        font-size: 60px;
        line-height: 78px;
        text-align: left;
        margin: 0 0 30px 0;
      }
    }


    &--text {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;

      @include onDesktop {
        text-align: left;
      }
    }

    &--button {
      @include buttonDefault;

      margin-top: 30px;

      @include onDesktop {
        margin: 0;
        margin-top: 50px;
      }
    }
  }
}
