.btn-menu {
  background-image: url("../images/menu.png");
  background-size: contain;
  display: block;
  height: 12px;
  width: 18px;
  position: absolute;
  top: 35px;
  left: 20px;

  @include inIpad {
    position: inherit;
  }
}
