.btn {
  border: none;
  cursor: pointer;
  width: 100%;

  &__tickets {
    background-color: $color-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  &__form {
    background-color: #f14a27;
    width: 50px;
    height: 50px;

    @include onTablet {
      width: 70px;
      height: 70px;

      margin-left: 15px;
    }

    @include onDesktop {
      margin-left: 30px;
    }
  }
}
