.btn {
  display: flex;
  min-height: 50px;
  min-width: 50px;
  background-color: $colorGreen;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    background-image: url(../images/icons/arrow-white.svg);
    width: 24px;
    height: 24px;
  }

  @include onDesktop {
    min-height: 70px;
    min-width: 70px;
  }
}
