.btn {
  color: $btn-color;
  border: 1px solid $border-color;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 80px;

  @media (min-width: $tablet-min-width) {
    gap: 68px;
  }

  @media (min-width: $desktop-min-width) {
    &:hover {
      transform: scale(1.1);

      &::after {
        background-color: #F14A27;
      }
    }
  }

  &::after {
    content: url(../images/icons/arrow-right.svg);
    background-color: $border-color;
    padding: 13px;
    transition: .3s;

    @media (min-width: $tablet-min-width) {
      padding: 23px;
    }
  }
}
