.burger {
  background-image: url(../images/signs/burger.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 12px;
  height: 12px;
  @include hover(transform, scale);

  &:hover {
    transform: scale(1.2);
  }

  &--close {
    background-image: url(../images/signs/black.svg.png);
  }
}
