.burger-menu {
  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    height: 100px;
    transition: $hover-durations;
    transform: translateY(-100%);
    background-color: #fff;
  }

  &__label {
    position: absolute;
    display: block;
    cursor: pointer;

    margin-top: 24px;
    width: 24px;
    height: 24px;

    background: url("../images/header/burger-menu.svg") no-repeat center;
    z-index: 2;
    transition: background-color $hover-durations, transform 0.5s;

    &:hover {
      background-color: #1a5a4c;
      background-image: url("../images/header/Icon-Burger-menu.svg");
    }
  }

  &__check-box {
    display: none;
    
    &:checked ~ .burger-menu__nav {
      box-shadow: 0 1px 10px rgba(0,0,0,0.2);
      transform: translate(0);
    }

    &:checked + .burger-menu__label {
      position: fixed;
      z-index: 3;
      background-color: #1a5a4c;
      background-image: url("../images/header/header-btn.svg");
      transform: rotate(-90deg);
    }
  }
}
