.burger-menu {
  width: 100%;
  position: relative;

  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    transform: translateY(-200%);
    
    background-color: white;
    transition: $hover-durations;

    @media (max-width: $large-screen-breakpoint) {
      height: 350px;
    }
  }

  &__label {
    position: absolute;
    display: block;
    cursor: pointer;

    @include square(18px);
    margin-top: 24px;

    background: url("../images/header/burger-menu.svg") no-repeat center;
    background-size: contain;

    transition: transform 0.6s;
    z-index: 2;
  }

  &__search {
    position: fixed;
    top: 30px;
    right: 10px;
    padding: 10px;
    
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
    z-index: 3;
  }

  &__check-box {
    display: none;
    
    &:checked ~ .burger-menu__nav {
      transform: translate(0);
      box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    }

    &:checked ~ .burger-menu__search {
      visibility: visible;
      opacity: 1;
    }

    &:checked + .burger-menu__label {
      position: fixed;
      transform: rotate(-90deg);
      display: flex;

      background: url("../images/header/free-icon-next-130884.svg") no-repeat center;
      background-size: cover;
      z-index: 3;

      &:hover {
        transform: rotate(-90deg);
      }
    }
  }
}
