.burger-menu {
  font-family: "Montserrat", serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;

  position: fixed;
  margin: 0;
  padding: 0 20px;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #fefcea, $burger-menu-bgc);
  border: 5px ridge rgb(255, 255, 255);
  left: -100%;
  transition: left 0.5s ease 0s;

  &__link {
    color: $burger-menu-link-color;
    transition: transform 0.3s linear;

    &:hover {
      box-shadow: 2px 1px 10px 2px rgb(94, 137, 255);
      transform: scale(1.1);
    }
  }

  &__item {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    &:first-child {
      margin-top: 140px;
    }
  }
}

.burger-menu--active {
  left: 0;
}
