.button-link {
  display: flex;
  justify-content: right;
  align-items: center;
  border: 1px solid $green-color;
  text-decoration: none;
  box-sizing: border-box;
  transition: transform $transition;

  @include onDesktop {
    &:hover {
      transform: scale(1.1);
    }
  }

  @include onTablet {
    width: 270px;
  }

  &__title {
    width: 100%;
    text-transform: uppercase;
    padding-block: 20px;
    text-align: center;
    color: #000;
    @include ff_ibm;
  }

  &__arrow {
    padding: 20px;
    background: $green-color;
  }
}
