.button-arrow {
  box-sizing: border-box;
  height: $mobile-button-height;
  width: $mobile-button-height;

  border: 0;
  background-color: $accent-color;
  background-image: url(../images/button.png);
  background-repeat: no-repeat;
  background-position: center center;

  @include on-tablet {
    height: $desktop-button-height;
    width: $desktop-button-height;
  }

  transition: background-position 400ms;

  &:hover {
    background-color: #174d42;
    background-position: 30px;

  }

  &--orange {
    background-color: $accent-2;

    &:hover {
      background-color: #d84224;
      background-position: 30px;
    }
  }
}
