.button-mobl-up {
  height: $mobile-button-height;
  width: $mobile-button-height;

  border-radius: 50%;
  border: 1px solid $accent-color;
  background-image: url(../images/button_up.png);
  background-repeat: no-repeat;
  background-position: center center;

  @include on-tablet {
    display: none;
  }
}
