.button {
  width: 70px;
  height: 70px;
  background-image: center no-repeat url(../images/arrow.png);
  background-color: $green-color;
  transition: transform 0.8s;

  &:hover {
    background-color: $orange-color;
    transform: translateX(15px) rotate(15deg) translateY(10px);
  }

  &__inverse {
    background: center no-repeat url(../images/blackArrow.png);
    background-color: $orange-color;

    &:hover {
      background-color: $green-color;
    }
  }

  @media (max-width: 600px) {
    width: 50px;
    height: 50px;
  }
}
