.button__ticket {
  cursor: pointer;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border: 1px solid $brandColor;
  margin-top: 20px;
  text-decoration: none;

  @include onTablet {
    width: calc(100% - 60px);
    margin-top: 38px;
    height: 70px;
  }

  @include onDesktop {
    margin-top: 90px;
    grid-column: 3 / -1;
    width: 100%;
  }

  &-text {
    text-align: center;
    color: $mainTextColor;
    font-size: 16px;
    font-weight: 500;
    width: calc(100% - 50px);

  }

  .button__arrow {
    height: 100%;
    width: 50px;
    background-color: $brandColor;
    background-image: url("../images/icons/button-ticket-arrow.png");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center center;

    @include onTablet {
      width: 70px;
    }
  }
}
