.button {
  margin: 0;
  margin: 433px 0 0 20px;
  position: absolute;
  box-sizing: border-box;
  border: 1px solid $main-green-color;
  width: 280px;
  height: 50px;
  grid-column: 1 / -1;
  z-index: -3;

  @include ontable {
    width: 270px;
    height: 70px;
    margin: 295px 0 0 34px;
    grid-column: 1 / 2;
  }

  @include ondesktop {
    margin-top: 467px;
    grid-column: 3 / 6;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    margin-top: 16px;
    margin-left: 80px;

    @include ontable {
      margin-top: 27px;
    }
  }

  &__click {
    cursor: pointer;
    position: absolute;
    border: 0;
    padding: 0;
    margin-left: 230px;
    background-color: $main-green-color;
    width: 49px;
    height: 49px;

    @include ontable {
      margin-left: 200px;
      width: 69px;
      height: 69px;
    }
  }

  &__icon {
    cursor: pointer;
    background-image: url(../images/button__icon.svg);
    background-size: cover;
    margin-left: 21px;
    width: 8px;
    height: 12px;

    @include ontable {
      margin-left: 21px;
    }

    @include ondesktop {
      margin-left: 31px;
    }
  }
}
