.button-link {
  display: flex;
  &__title {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #0f0e08;
  }
  &__button {
    height: 50px;
    width: 50px;
    @include onTablet {
      height: 70px;
      width: 70px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/icons/arrowRight.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
