.buttons {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  grid-row: 2/3;

  &__btn {
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #e0e0e0;
  }

  &__radio {
    display: none;
  }

  &__radio:checked + &__btn {
    background-color: $green-secondary;
  }

  &--mobile {
    @include onTablet {
      display: none;
    }
  }
}
