.buttons {
  padding-inline: 20px;
  display: flex;

  @include hover(transform, scale(1.1));

  @include on-tablet {
    padding-left: 34px;
  }

  @include on-desktop {
    padding-inline: 0 30px;
    justify-self: end;
  }
}
