.button {
  height: 50px;
  width: 50px;

  background-size: 8px 12px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background-color 0.3s;

  @include onTablet {
    height: 70px;
    width: 70px;
  }

  &--first-type {
    background-color: $green-button-color;
    background-image: url(/images/arrow.svg);
  }

  &--second-type {
    background-color: $red-square-color;
    background-image: url(/images/vector.svg);
  }
}
