.buy-link {
  display: flex;
  height: 50px;

  @media (min-width: 768px) {
    height: 70px;
    width: 270px;
  }

  &__text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;

    color: #0f0e08;

    border: 1px solid #1a5a4c;
    height: 100%;
    flex-grow: 1;
  }

  &__button {
    height: 100%;
    width: 50px;
    background-image: url("/images/white-arrow.svg");
    background-size: auto;
    background-color: #1a5a4c;

    @media (min-width: 768px) {
      width: 70px;
    }
  }

  &:hover {
    background-color: #1a5a4c;

    .buy-link__text {
      color: #fff;
    }
    
  }
}
