.buy-btn {
  height: 50px;
  display: flex;
  text-decoration: none;
  

  @include inIpad {
    height: 70px;
    text-align: left;
  }

  @include inDesktop {
    justify-content: flex-end;
  }

  &__title {
    font-family: "IBM Plex Sans", sans-serif;
    height: 100%;
    width: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1a5a4c;
    font-weight: 500;
    font-size: 16px;
    color: $title-color;
    box-sizing: border-box;
    
    @include inIpad {
      width: 200px;
    }
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d7dde3;
    background-color: #1a5a4c;
    background-image: url(../images/arrow.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border: 1px solid #1a5a4c;
    width: 50px;
    height: 100%;
    box-sizing: border-box;

    @include inIpad {
      min-width: 70px;
    }

    &--footer {
      background-color: #f14a27;
      border-color: #f14a27;
      color: #000;
      background-image: url(../images/arrow-black.png);
    }
  }
}
