.buy {
  display: flex;
  justify-content: center;
  align-items: center;

  @include onTablet {
    justify-content: flex-start;
  }

  @include onDesctop {
    justify-content: flex-end;
  }

  &__text {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-weight: 500;
    color: $titles-color;
    line-height: $button-size-mobile;
    text-transform: uppercase;

    height: $button-size-mobile;
    border: 1px solid $green-elements-color;
    flex-grow: 1;

    @include onTablet {
      height: $button-size;
      width: 200px;
      flex-grow: 0;

      line-height: $button-size;
    }

    @include onDesctop {
      height: $button-size;
      width: 200px;
      flex-grow: 0;

      line-height: $button-size;
    }
  }

  &__link {
    text-decoration: none;
    color: $green-elements-color;
    padding: 0 ((100vw - $base-spaces-mobile * 2 - 40vw) / 2);

    @include onTablet {
      padding: 0 68px;
    }

    @include onDesctop {
      padding: 0 68px;
    }

    &:visited {
      color: $green-elements-color;
    }
  }

  &__button {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $light-arrow-color;

    width: $button-size-mobile;
    height: $button-size-mobile;
    background-color: $green-elements-color;

    &:hover {
      cursor: pointer;
      box-shadow: 2px -2px 2px 1px #888;
    }

    &:visited {
      color: $light-arrow-color;
    }

    @include onTablet {
      width: $button-size;
      height: $button-size;
    }

    @include onDesctop {
      width: $button-size;
      height: $button-size;
    }
  }
}
