.capital {
  position: relative;
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  background-color: $c-pageBackground;

  @media (max-width: 760px) {
    flex-direction: column-reverse;
    align-items: center;
  }

  &__information {
    font-family: "IBM Plex Sans", sans-serif;
    padding-top: 235px;

    @media (max-width: 1279px) {
      padding-top: 135px;
    }

    @media (max-width: 760px) {
      padding-top: 20px;
    }
  }

  &__title {
    margin-right: -140px;
    margin-bottom: 80px;

    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 72px;
    line-height: 1;

    @media (max-width: 1279px) {
      margin-right: -108px;
      font-size: 55px;
    }

    @media (max-width: 760px) {
      margin-right: 0;
      margin-bottom: 20px;
      font-size: 45px;
      font-weight: 700;
      text-align: center;
    }
  }

  &__title--empty {
    position: relative;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;

    @media (max-width: 760px) {
      color: inherit;
      -webkit-text-stroke-width: unset;
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 70px;
    height: 70px;
    width: 220px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid $c-textDate;
    transition: border-radius 0.3s, padding-right 0.3s;
    color: $c-darkText;

    //&:hover {
    //  box-shadow: $shadow-field;
    //}

    @media (max-width: 760px) {
      width: 280px;
      height: 50px;
      padding-right: 50px;
    }
  }

  &__button {
    position: absolute;
    right: -1px;
    transition: filter 0.3s, border-radius 0.3s;
  }

  &__item:hover .capital__button {
    filter: brightness(120%);
  }

  &__image {
    height: 655px;
    width: 65%;
    background-image: url("../images/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom ;

    @media (max-width: 1279px) {
      height: 505px;
    }

    @media (max-width: 760px) {
      height: 320px;
      width: 100%;
      background-position: bottom ;
    }
    @media (max-width: 426px) {
      display: flex;
      justify-content: center;
    }
  }

  &__logo {
    margin-top: 15px;
    margin-left: 51px;

    @media (min-width: 1920px) {
      margin-left: 251px;
    }

    @media (max-width: 760px) {
      margin-left: 87px;
    }

    @media (max-width: 426px) {
      margin: 9px 0 0;
    }
  }
}
