.card {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;

  @media (min-width: $tablet-min-width) {
    @include create-page-grid;
  }

  &__img {
    width: 280px;
    height: 210px;
    margin-bottom: 16px;

    @media (min-width: $tablet-min-width) {
      grid-column: span 6;
      width: 700px;
      height: 520px;
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-min-width) {
      grid-column: span 7;
      grid-row: span 5;
      width: 670px;
      margin-bottom: 0;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    @media (min-width: $tablet-min-width) {
      grid-column: span 6;
      width: 220px;
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-min-width) {
      grid-column: 9 / 13;
      grid-row: 2;
    }
  }

  &__category {
    font-weight: 500;
    line-height: 16px;
    color: $category-color;

    @media (min-width: $tablet-min-width) {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__date {
    line-height: 24px;
    font-weight: 700;
    color: $border-color;

    @media (min-width: $tablet-min-width) {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    color: $btn-color;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    &::after {
      content: '';
      width: 10px;
      height: 10px;
      background-color: $btn-bg;

      @media (min-width: $tablet-min-width) {
        width: 15px;
        height: 15px;
      }
    }

    @media (min-width: $tablet-min-width) {
      grid-column: span 4;
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 15px;
    }

    @media (min-width: $desktop-min-width) {
      grid-column: 9 / 13;
      grid-row: 3;
    }
  }

  &__text {
    line-height: 24px;
    color: $card-color;

    @media (min-width: $tablet-min-width) {
      grid-column: span 4;
    }

    @media (min-width: $desktop-min-width) {
      grid-column: 9 / 13;
      grid-row: 4;
    }
  }
}
