.gallery {
  &__js-slider {
    display: block;

    @include on-desktop {
      display: none;
    }
  }

  &__container {
    min-width: 300px;
    max-width: 768px;
    display: block;
    overflow: hidden;
  }

  &__image {
    width: 280px;
    height: 410px;

    @include hover(transform, scale(1.1));

    @include on-tablet {
      width: 340px;
      height: 543px;
    }
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;

  &__button {
    width: 12px;
    height: 12px;
    padding: 0;
    background-color: $c-shadow;
    border-radius: 50%;

    &--active {
      background-color: $c-button-green;
    }
  }
}

.carousel-button {
  display: none;
}
