.classicism {
  @include onTablet {
    padding: 0 34px;
  }

  @include onDesktop {
    padding: 0;
  }

  &__img {
    height: 210px;
    width: 100%;

    @include onTablet {
      height: 300px;
    }

    @include onDesktop {
      height: 550px;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    bottom: 60px;

    width: 280px;
    height: 140px;
    background-color: #fff;
    box-shadow: 0 2px 0 0 #1a5a4c40;

    @include onTablet {
      align-items: flex-start;
      width: 570px;
      height: 204px;
      padding-top: 45px;
    }

    @include onDesktop {
      bottom: 100px;
    }
  }

  &__event-block {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    font-size: 16px;

    @include onTablet {
      font-size: 14px;
      padding-left: 55px;
      gap: 180px;
    }

    @include onDesktop {
      gap: 150px;
    }
  }

  &__lecture {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    color: #687480;
  }

  &__data {
    color: #1a5a4c;
    font-weight: bold;
    line-height: 150%;
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    color: #0f0e08;
    font-weight: normal;
    font-size: 28px;
    text-align: center;

    @include onTablet {
      text-align: left;
      font-size: 36px;
      color: #0f0e08;

      padding-left: 55px;
    }
  }
}
