.classicism {
  height: 210px;
  background-image: url("../images/main__bc/sunset.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  @include onTablet {
    margin-inline: 20px;
    height: 390px;
  }

  @include onDesktop {
    margin-inline: 0;
    height: 550px;
    background-position: center top;
  }

  &__bottom {
    position: relative;
    top: 153px;
    margin: auto;
    max-width: 570px;
    padding-block: 24px 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    background: #fff;
    box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);

    @include onTablet {
      top: 306px;
      padding: 45px 55px 50px;
    }
    @include onDesktop {
      top: 448px;
    }
  }

  &__lection {
    text-align: center;
    color: #687480;
    font-family: $first-font-family;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;

    @include onTablet {
      text-align: left;
    }
  }

  &__date {
    margin-left: 20px;
    color: #1a5a4c;
    font-family: $first-font-family;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;

    @include onTablet {
      margin-left: 140px;
    }
  }
}
