.classic {
  max-width: 1280px;
  margin: 0 auto;
  &__img {
    @extend %imgProperty;
    width: 100%;
    height: 210px;
    @include onTablet {
      height: 390px;
    }
    @include onDesktop {
      height: 550px;
    }
  }

  &__description {
    max-width: 280px;
    margin: 0 auto;
    padding: 20px 0;
    transform: translateY(-50%);
    background-color: #fff;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
    @include onTablet {
      max-width: 570px;
      padding: 50px 55px;
    }
  }

  &__info {
    padding: 0 20px;
    @include onTablet {
      padding: 0;
      gap: 170px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
    @include onTablet {
      font-size: 36px;
      line-height: 100%;
      text-align: start;
    }
  }
}
