.class {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  z-index: 2;

  @include content-padding-inline;


  &__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    height: 140px;
    padding: 10px;
    max-width: 570px;

    border-radius: 8px;
    box-shadow: 2px 0 0 #1A5A4C40;
;
    background: #fff;
    position: absolute;
    transform: translateY(-10%);
    z-index: 10;

    @include on-tablet{
      width: 570px;
      height: 204px;
      padding: 20px  40px;
      justify-content: center;
    }
  }

  &__event {
    display: flex;
    width: 100%;
    max-width: 570px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 0;

    @include on-tablet{
      justify-content: space-between;
    }

    &-type {
      font-family: $font-primary;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      text-align: left;
      color: #687480;
      text-transform: uppercase;

      @include on-tablet {
        font-size: 14px;
        line-height: 14px;
      }
    }

    &-date {
      font-family: $font-primary;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      text-align: left;
      color:$green-color;

      @include on-tablet {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  h3.class__name {
    font-family: $font-secondary;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    padding: 2px;
    margin: 20px 0;

    @include on-tablet {
      font-size: 36px;
      line-height: 36px;
      margin: 16px 0;
      text-align: left;
    }
  }
}
