.classicism {
  position: relative;

  padding-bottom: 133px;
  padding-top: 60px;

  @include onTablet {
    margin: 0 auto;
    padding-top: 112px;
    padding-bottom: 164px;
  }

  @include onDesktop {
    margin: 0 auto;
    padding-bottom: 202px;
  }

  &__bg {
    height: 210px;
    width: 100%;

    @include onTablet {
      height: 390px;
    }

    @include onDesktop {
      height: 550px;
    }
  }

  &__card {
    height: 140px;
    width: 280px;
    margin-right: 20px;

    position: absolute;
    top: 213px;
    left: calc(50% - 140px);

    background-color: $colorPage;
    border-bottom: 2px solid $colorBorder;

    @include onTablet {
      margin: 0;

      width: 570px;
      height: 204px;

      top: 418px;
      left: calc(50% - 285px);
    }

    @include onDesktop {
      top: 560px;
    }
  }

  &__lecture {
    display: flex;
    justify-content: space-between;

    margin: 20px 21px;

    @include onTablet {
      margin: 45px 55px 23px;
    }

    &-text {
      font-family: 'IBM Plex Sans', sans-serif;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      color: $colorGrey;

      @include onTablet {
        font-size: 14px;
      }
    }

    &-time {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: $colorBorder;

      @include onTablet {
        font-size: 14px;
      }
    }
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    line-height: 28px;
    color: $colorBlackText;

    margin: 0;

    @include onTablet {
      margin-left: 55px;

      font-size: 36px;
      line-height: 36px;
      text-align: left;
    }
  }
}
