.classicism {
  margin-top: -70px;

  @include on-tablet {
    margin-top: -88px;
  }

  @include on-desktop {
    margin-top: -200px;
  }

  &__photo {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    background-image: url(/images/від_класицизму_tablet.png);
    background-position: center;
    background-size: cover;
    min-height: 210px;

    @include on-tablet {
      min-height: 390px;
      background-image: url(/images/від_класицизму_desctop.png);
    }

    @include on-desktop {
      min-height: 550px;
    }
  }

  &__article {
    position: relative;
    z-index: 2;
    background-color: #fff;
    min-height: 140px;
    width: 280px;
    margin: 153px auto 0;

    @include on-tablet {
      min-height: 204px;
      width: 570px;
      margin: 306px auto 0;
    }

    @include on-desktop {
      margin: 448px auto 0;
    }
  }
}
