
.classicism {
  --columns: 12;

  margin-bottom: 302px;
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @media (max-width: 1024px){
    --columns: 6;

    padding-left: 39px;
    padding-right: 39px;
    margin-bottom: 208px;
  }

  @media (max-width: 640px){
    --columns: 2;

    height: 210px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 183px;
  }

  &__bg {
    height: $size-of-bg-photo;

    background-image: url(../images/classicism.svg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1 / -1;

    @media (max-width: 640px){
      height: 210px;
      width: 100%;
      position: absolute;
      left: 0;
    }
  }

  &__block {
    place-self: center;
    position: absolute;
    margin-top: 320px;


    @media (max-width: 640px){
      grid-column: 1 / -1;
      position: relative;
      margin-top: 10px;
    }

    &--form {
      width: 570px;
      padding-top: 45px;
      padding-bottom: 50px;
      transform: translateY(110px);
      background-color: #fff;
      box-shadow: 0 2px 0 0 #1A5A4C40;

      @media (max-width: 640px){
        --columns-border: 1 / -1;

        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      &--border {
        --columns-border: 6;

        display: grid;
        column-gap: 30px;
        grid-template-columns: repeat(var(--columns-border), 1fr);

        @media (max-width: 1024px){
          --columns-border: 5;

          margin-left: 55px;
        }

        @media (max-width: 640px){
          --columns-border: 2;

          justify-content: space-around;
          margin-left: 0;
        }

        &-l {
          margin-bottom: 15px;
          grid-column: 2 / 3;

          @media (max-width: 1024px){
            grid-column: 1 / 2;
          }

          @media (max-width: 640px){
            margin-left: 20px;
            grid-column: 1 / 1;
          }

          font-family: $ibm-font;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          color: #687480;
        }

        &-d {
          grid-column: 4 / -2;

          @media (max-width: 1024px){
            grid-column: 3 / -2;
            margin-left: 20px;
          }

          @media (max-width: 640px){
            grid-column: 2 / 2;
            margin-left: 0;
            width: 174px;
          }

          font-family: $ibm-font;
          font-size: 16px;
          font-weight: 700;
          color: #1A5A4C;
        }

        &--title {
          grid-column: 2 / 6;
          font-family: Montserrat, sans-serif;
          font-size: 36px;
          margin-bottom: 10px;

          @media (max-width: 1024px){
            grid-column: 1 / -1;
          }

          @media (max-width: 640px){
          margin-left: 20px;
          margin-right: 20px;
          font-size: 28px;
            text-align: center;
          }
        }
      }
    }
  }
}
