.classic-romantic {
  &__container {
    @include pageGrid;
  }

  &__photo {
    grid-column: 1 / -1;
    margin-inline: -20px;

    img {
      width: 100%;
      height: 210px;
    }

    @include onTablet {
      margin-inline: 0;

      img {
        height: 390px;
      }
    }

    @include onDesktop {
      margin-inline: -55px;

      img {
        height: 550px;
      }
    }
  }

  &__lecture {
    grid-column: 1 / -1;
    margin-top: -57px;
    padding: 20px 0;
    background-color: $color-white;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

    @include onTablet {
      padding: 45px 55px 50px 55px;
      margin-inline: 65px;
      padding-inline: 55px;
      text-align: left;
    }

    @include onDesktop {
      padding: 45px 100px 50px 100px;
      margin-inline: 355px;
      padding-inline: 80px;
      text-align: left;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-inline: 21px;

    @include onTablet {
      padding-inline: 0;
    }
  }

  &__text {
    @include fontStyle(
      $fz: 16px,
      $fw: 500,
      $lh: 150%,
      $color: $color-blue-gray-accent
    );
    text-transform: uppercase;

    @include onTablet {
      font-size: 14px;
    }
  }

  &__date {
    @include fontStyle(
      $fz: 16px,
      $fw: 700,
      $lh: 150%,
      $color: $color-dark-green-accent
    );

    @include onTablet {
      font-size: 14px;
    }
  }

  &__title {
    @include fontStyle($ff: "Montserrat", $fz: 28px);
    text-align: center;

    @include onTablet {
      font-size: 36px;
    }

    @include onDesktop {
      text-align: left;
    }
  }
}
