.classicism-to-romanticism {
  background-image: url(../images/photos/picture_action3.png);
  height: 210px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @include onTablet {
    height: 390px;
    margin-bottom: 208px;
  }
  @include onDesktop {
    height: 550px;
    margin-bottom: 302px;
  }

  &__lecture-block {
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $colorwhite;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
    width: 280px;
    @include onTablet {
      width: 570px;
      align-items: start;
    }
    @include onDesktop {
      width: 570px;
      align-items: start;
    }

    &--text {
      box-sizing: border-box;
      padding-bottom: 20px;
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
      text-align: center;
      color: $black;
      @include onTablet {
        padding: 0 55px 50px;
        text-align: left;
        font-weight: 400;
        font-size: 36px;
        line-height: 100%;
      }
      @include onDesktop {
        padding: 0 100px 50px;
        text-align: left;
        font-weight: 400;
        font-size: 36px;
        line-height: 100%;
      }
    }
  }

  &__lecture-date {
    padding: 24px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    @include onTablet {
      padding: 45px 55px 23px;
      align-items: start;
      gap: 140px;
    }
    @include onDesktop {
      padding: 45px 100px 16px;
    }

    &--text {
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: $colorlightgreen;
      @include onTablet {
        font-size: 14px;
      }
    }

    &--time {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: $colorgreen;
      @include onTablet {
        font-size: 14px;
      }
    }
  }
}
