.container {
  @include contentPaddingInline;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
a {
  text-decoration: none;
  list-style: none;
}

.page,
.page__body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.title {
  color: $accent-title;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;

  @include onTablet {
    font-size: 48px;
    text-align: left;
  }
}
