.main {
  max-width: 1570px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;

  &__container-galery {
    display: flex;
    flex-direction: row;
    gap: 130px;
  }

  &__container-galery-reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 130px;
    margin-top: 100px;
  }

  &__galery-image {
    max-width: 670px;
    width: 100%;
  }

  &__galery-text {
    width: 370px;
    height: 97px;
  }

  &__galery-text-header {
    display: flex;
    gap: 26px;
  }
}
