.content {

  &__gallery--forDesktop {
    @include onMobile {
      display: none;
    }

    @include onTablet {
      display: none;
    }

    @include onDesktop {
      width: 100%;
      display: block;
      padding-left: 55px;
      margin-bottom: 200px;
    }

    &-text {
      font-family: "Montserrat", sans-serif;
      font-size: 36px;
      line-height: 36px;
      font-weight: 700;
      color: $colorBlack;
      text-align: center;

      margin-bottom: 48px;
    }

    &-first {
      max-width: 1280px;
      display: flex;
      gap: 50px;
      margin: 0 auto 30px;
    }

    &-second {
      max-width: 1280px;
      display: flex;
      gap: 50px;
      margin: 0 auto;
    }

    &-foto {
      transition: transform 0.8s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
