.contents-sign {
  display: none;
  
  color: #687480;
  font-weight: bold;
  font-size: 14px;
  
  transform: rotate(-180deg);

  @include on-desktop {
    display: flex;
    align-items: center;
    flex-direction: column;

    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__events {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  
  &__line {
    height: 70px;
    width: 1px;
    margin-bottom: 20px;
  
    background-color: $accent-color;
  }

}
