.content__gallery {
  @include onDesktop {
    display: none;
  }
  &--text {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: $colorBlack;
    text-align: center;

    margin-bottom: 40px;

    @include onTablet {
      font-size: 48px;
      line-height: 48px;
      text-align: left;

      margin: 0 34px 48px;
    }
  }

  &--photo {
    object-fit: contain;
    width: 90%;
    height: 410px;
    margin: 0 20px 129px;
    transition: transform 0.8s;

    &:hover {
      transform: scale(1.1);
    }

    @include onTablet {
      height: 543px;

      margin-left: 34px;
      margin-bottom: 133px;

    }
  }
}
