.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 38px;

  @include onTablet {
    justify-content: left;
  }

  @include onDesktop {
    margin-top: 89px;
  }

  &__tickets {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 230px;
    margin-bottom: 20px;

    box-sizing: border-box;
    border: 1px solid #1a5a4c;

    font-family: IBM Plex Sans, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    color: #0f0e08;
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover {
      background-color: #1a5a4c;
    }

    @include onTablet {
      height: 70px;
      width: 200px;
    }

    @include onDesktop {
      margin-bottom: 112px;
      margin-left: 155px;
    }
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;

    background: #1a5a4c;
    text-decoration: none;

    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: center;

    @include onTablet {
      width: 70px;
      height: 70px;
    }

    @include onDesktop {
      margin-bottom: 112px;
    }
  }

  &__events {
    display: none;
  
    @include onDesktop {
      display: flex;
      font-family: IBM Plex Sans, sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      color: #687480;
      transform: rotate(-90deg);
      transform-origin: left top 0;
      text-decoration: none;
    }
  }

  &__line {
    display: none;
  
    @include onDesktop {
      display: flex;
      position: absolute;
      border-top: 70px solid #1a5a4c;
      width: 1px;
      bottom: 0;
      margin-left: 6px;
    }
  }
}
