.contacts {
  grid-column: span 1;

    @media (min-width: $tablet-min-width) {
      grid-column: 4 / 5;
    }

    @media (min-width: $desktop-min-width) {
      grid-column: span  2;
    }

  &__title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
    color: $btn-color;
  }

  &__link {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: $btn-color;
    display: block;

    @media (min-width: $tablet-min-width) {
      width: 220px;
    }

    @media (min-width: $desktop-min-width) {
      width: 170px;

      &:hover {
        color: $btn-bg;
      }
    }
  }
}
