.contact-us {
  &__contact {
    display: block;
    text-decoration: none;
    color: $main-color;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  &__contacts {
    &:hover .contact-us__contact {
      opacity: 0.8;
    }

    &:hover .contact-us__contact:hover {
      opacity: 1;
      text-shadow: -0.3px 0.3px 0;
    }
  }
}
