.contacts {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;

  &__title {
    margin: 0;
    margin-bottom: 20px;
    line-height: 141%;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style: none;
  }

  &__text {
    margin: 0;
  }
}
