.container {
  margin: 0 auto;
  padding: 0 20px;
  @include onTablet {
    padding: 0 34px;
  }
  @include onDesktop {
    padding: 0 55px;
    max-width: 1170px;
  }
  &-wide {
    @include onDesktop {
      max-width: 1280px;
    }
  }
}

.wrapper {
  margin: auto 0;
  max-width: 130px;
  @include onTablet {
    max-width: 460px;
  }
}
