.contacts {
  @include padding-inline;

  &__top {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    &--img {
      width: 55px;
      height: 61px;
    }
  }

  &__socials {
    display: flex;
    gap: 20px;

    @include on-tablet {
      gap: 32px;
    }

    @include on-desktop {
      gap: 22px;
    }
  }

  &__content {
    margin-top: 40px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;

    @include on-tablet {
      margin-bottom: 70px;
    }
  }

  &__schedule {
    &--color {
      color: rgba(15, 14, 8, 1);
    }
  }

  &__contact {
    font-family: 'IBM Plex Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(15, 14, 8, 1);
  }

  &__title {
    margin-bottom: 20px;
  }

  &__link {
    text-decoration: none;
    color: rgba(15, 14, 8, 1);
  }

  &__arrows {
    display: flex;
    justify-content: flex-end;
    margin-block: 20px;

    @include on-tablet {
      display: none;
    }
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 1px solid rgba(26, 90, 76, 1);
    border-radius: 50%;
    cursor: pointer;
    font-size: large;
    color: rgba(26, 90, 76, 1);
    font-weight: bold;

    &:hover {
      box-shadow: 0 1px 10px rgba(26, 90, 76, 1);
    }
  }

  &__divider {
    color: rgba(26, 90, 76, 0.5);
    margin-bottom: 40px;
  }

  &__nav {
    margin-bottom: 80px;
    &--color {
      color: rgba(15, 14, 8, 1);
    }
  }
}
