.contact-us {

  &__title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 140.62%;

    color: $c-black;
  }

  &__link {
    display: block;
    font-size: 14px;
    line-height: 150%;

    color: $c-black;
  }
}
