.content__subscription {
  width: 100%;
  height: 386px;
  background-image: url(../images/photos/subscription.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  padding: 88px 20px;
  margin-bottom: 50px;

  @include onTablet {
    height: 380px;

    padding: 82px 154px;
  }

  @include onDesktop {
    max-width: 1280px;
    margin: 0 auto 50px;
    height: 550px;
  }

  &--title {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: $colorWhite;
    text-align: center;

    margin-bottom: 20px;

    @include onTablet {
      font-size: 48px;
      line-height: 48px;

      margin-bottom: 16px;
    }

  }

  &--text {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: $colorWhite;
    text-align: center;

    margin-bottom: 50px;

    @include onTablet {
      line-height: 18px;

      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: 72px;
    }
  }

  &--form {
    display: flex;
    width: 100%;
    padding: 0 20px;

    &-input {
      width: 70%;
      height: 50px;
      padding-left: 20px;

      @include onTablet {
        height: 70px;
      }

      @include onDesktop {
        width: 40%;
        margin-left: 205px;
      }

      &::placeholder {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        color: #687480;
      }
    }

    &-button {
      width: 30%;
      height: 52px;
      background-color: $colorOrange;
      cursor: pointer;

      &:hover {
        background-color: $colorGreen;
      }

      &:active {
        color: cadetblue;
      }

      @include onTablet {
        height: 72px;
      }

      @include onDesktop {
        width: 10%;
      }
    }
  }
}
