.contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  @include onTablet {
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 30px;
  }

  &--2 {
    @include onTablet {
      margin-bottom: 15px;
    }
  }

  &--3 {
    justify-content: flex-start;
    gap: 20px;
  }
}
