.contact {
  flex-basis: 130px;

  @include onTablet {
    flex-basis: 220px;
  }

  &__title {
    color: $colorBlack;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 140.625%;

    margin-bottom: 20px;
  }

  &__list {
    @extend %resetStyleList;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__link {
    color: $colorBlack;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;

    @include hover(color, $colorRed);
  }
}
