.content__events {
  width: 100%;

  &--title {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: $colorBlack;

    margin: 0 20px 40px;

    @include onTablet {
      font-size: 48px;
      line-height: 48px;

      text-align: left;
      margin: 0 34px 48px;
    }

    @include onDesktop {
      text-align: center;
      margin: 0 55px 56px;
    }
  }

  &--goAndComeBack {
    @include onDesktop {
      max-width: 1280px;
      margin: 0 auto;
      display: flex;
      position: relative;
    }

    &-photo {
      width: 90%;
      height: 210px;

      margin: 0 20px 16px;

      @include onTablet {
        height: 520px;
        margin: 0 34px 40px;
      }

      @include onDesktop {
        max-width: 670px;
        max-height: 520px;

        margin: 0 40px 104px;
      }
    }

    &-links {
      display: flex;
      justify-content: space-between;

      margin: 0 20px 10px;

      @include onTablet {
        margin-top: 0;
        margin-left: 34px;
        margin-right: 0;
        margin-bottom: 30px;

        justify-content: start;
      }

      @include onDesktop {
        position: absolute;
        left: 62%;
        top: 25%;
      }
    }

    &-title {
      font-family: "Montserrat", sans-serif;
      font-size: 28px;
      line-height: 28px;
      font-weight: 400;
      color: $colorBlack;

      margin: 0 20px 10px;

      @include onTablet {
        font-size: 36px;
        line-height: 36px;

        margin: 0 34px 15px;
      }

      @include onDesktop {
        position: absolute;
        left: 62%;
        top: 38%;
      }
    }

    &-text {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      color: $colorGrey;

      margin: 0 20px 60px;

      @include onTablet {
        width: 460px;
        margin: 0 34px 64px;
      }

      @include onDesktop {
        width: 370px;
        position: absolute;
        left: 62%;
        top: 50%;
      }
    }
  }

  &--memoriesAndDreams {
    position: relative;

    @include onDesktop {
      max-width: 1280px;
      margin: 0 auto;
    }

    &-photo {
      width: 90%;
      height: 210px;

      margin: 0 20px 20px;

      @include onTablet {
        width: 90%;
        height: 520px;

        margin: 0 35px 40px;
      }

      @include onDesktop {
        max-width: 670px;
        min-height: 520px;

        margin: 0 40px 104px;
      }
    }

    &-links {
      display: flex;
      justify-content: space-between;

      margin: 0 20px 10px;

      @include onTablet {
        margin-top: 0;
        margin-left: 34px;
        margin-right: 0;
        margin-bottom: 30px;

        justify-content: start;
      }

      @include onDesktop {
        position: absolute;
        left: 62%;
        top: 25%;
      }
    }

    &-title {
      font-family: "Montserrat", sans-serif;
      font-size: 28px;
      line-height: 28px;
      font-weight: 400;
      color: $colorBlack;

      margin: 0 20px 11px;

      @include onTablet {
        font-size: 36px;
        line-height: 36px;

        margin: 0 34px 15px;
      }

      @include onDesktop {
        position: absolute;
        left: 62%;
        top: 38%;
      }
    }

    &-text {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      color: $colorGrey;

      margin: 0 20px 60px;

      @include onTablet {
        width: 460px;

        margin: 0 34px 112px;
      }

      @include onDesktop {
        width: 370px;
        position: absolute;
        left: 62%;
        top: 50%;
      }
    }
  }
}
