.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  grid-row-start: 1;

  height: 100%;

  @include onPad {
    align-items: start;
  }

  &__pad {
    display: flex;
    position: absolute;
    right: -320px;
  }
}
