.content {
  &__main {
    @include onTablet {
      display: flex;
      gap: 40px;
    }

    @include onDesktop {
      gap: 130px;
    }
  }

  &__wrapper {
    @include onDesktop {
      display: flex;
      flex-direction: row;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @include onTablet {
      flex-direction: column;
      justify-content: flex-start;
      gap: 62px;
    }
  }

  &__social-network {
    display: flex;
    gap: 20px;
  }

  &__icon {
    transition: $transition;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__schedule {
    width: 130px;

    @include onTablet {
      width: 220px;
    }

    @include onDesktop {
      width: 170px;
    }
  }

  &__contacts {
    width: 130px;

    @include onTablet {
      width: 220px;
    }

    @include onDesktop {
      width: 170px;
    }
  }

  &__nav {
    color: $main-black;
    margin-bottom: 80px;

    @include onTablet {
      margin-bottom: 120px;
    }

    @include onDesktop {
      margin-bottom: 87px;
    }
  }

  &__main-info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 70px;
    border-bottom: 1px solid #1a5a4c80;
    margin-bottom: 40px;
    position: relative;

    @include onTablet {
      padding-bottom: 64px;
      margin-bottom: 64px;
    }

    @include onDesktop {
      border-bottom: none;
      border-right: 1px solid #1a5a4c80;
      padding: 0 65px 0 0 ;
      margin: 0 65px 87px 0;
    }
  }

  &__button {
    width: 50px;
    height: 50px;
    border: 1px solid $main-green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 0;
    @include hover(box-shadow, 1px 4px 16px 0 rgb(12, 112, 84));

    @include onTablet {
      display: none;
    }
  }

  &__copyright {
    text-align: center;
    margin-bottom: 56px;

    @include onTablet {
      display: flex;
      justify-content: space-between;
      margin-bottom: 36px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 16.88px;

    &:nth-of-type(1) {
      margin-bottom: 10px;
    }
  }
}
