.contact {
  &__paragraph {
    margin-bottom: 50px;
  }

  &__input {
    width: 100%;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #1c1b29;
    background-color: #fff;

    outline: none;

    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    &::placeholder {
      color: #1c1b29;
    }
  }

  @include onTablets {
    &__title {
      display: flex;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
      gap: 210px;
    }

    &__form {
      display: block;
      width: min-content;
    }
  }

}
