.contact-us {
  padding: 0 20px;

  &__logo {
    margin: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__time-work {
    font-weight: 600;
  }

  &__title {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    padding-bottom: 20px;
  }

  &__icon {
    display: flex;
    gap: 25px;
  }

  &__time {
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 150%;
    font-size: 14px;
    max-width: 110px;
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    color: #0f0e08;
  }

  &__text {
    line-height: 150%;
    padding-bottom: 70px;
  }

  &__links {
    font-size: 14px;
    max-width: 120px;
  }

  &__link {
    line-height: 150%;
    text-decoration: none;
    color: #0f0e08;

    &:hover {
      color: #64f0f5;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    gap: 45px;
    border-top: 1px solid #1a5a4c80;
    padding-top: 40px;
  }

  &__nav-item:first-child {
    margin-bottom: 20px;
  }

  &__nav-link {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #0f0e08;
  }
}
