.container-photo {
  background-image: url(../images/header_fon.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;

  width: 100%;
  max-height: 300px;

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;

  }
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  @include onTablet {
    background-position: top right;
    width: 60%;
    max-height: 600px;
  }

  @include onDesktop {
    right: 35px;
    background-position: top left;
  }

}
