.container {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding-inline: 55px;
  padding-top: $container-padding-top;
  max-width: 1260px;
  margin-inline: auto;

  @include onTablet {
    padding-inline: 34px;
  }

  @include onMobile {
    padding-top: $container-padding-top-mobile;
    padding-inline: 20px;
    min-width: 320px;
  }
}
