.contact {
  @include pageGrid;

  &__category {
    display: none;

    @include onDesktop {
      display: block;
      grid-column: span 1;
    }

    &-img {
      height: 132px;
    }
  }

  &__wrap {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 2 / 6;
    }
  }

  &__title {
    @include title;
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__img {
    display: none;

    @include onTablet {
      display: block;
      grid-column: 4 / -1;

      background-image: url(/images/contact/bird-contacts.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @include onDesktop {
      grid-column: 7 / -1;
    }
  }

  &__button {
    margin-inline: 0;
  }
}
