.content__toRomantic {
  position: relative;

  &--background {
    width: 100%;
    height: 210px;
    background-image: url(../images/photos/fromClassieToRomantic.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin-bottom: 183px;

    @include onTablet {
      width: 90%;
      height: 390px;

      margin: 0 34px 208px;
    }

    @include onDesktop {
      max-width: 1280px;
      height: 550px;
      margin: 0 auto 302px;
    }
  }

  &--card {
    position: absolute;

    top: 80%;
    left: 6%;
    width: 280px;
    height: 140px;
    background-color: $colorWhite;

    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

    @include onTablet {
      left: 95px;

      width: 570px;
      height: 204px;
    }

    @include onDesktop {
      left: 470px;
    }

    &-links {
      display: flex;
      justify-content: space-between;

      @include onTablet {
        justify-content: space-around;
        margin-bottom: 23px;
      }

      @include onDesktop {
        margin-top: 45px;
      }
    }

    &-text {
      font-family: "Montserrat", sans-serif;
      font-size: 28px;
      line-height: 28px;
      font-weight: 400;
      color: $colorBlack;
      text-align: center;

      @include onTablet {
        font-size: 36px;
        line-height: 36px;
      }
    }
  }
}
