.copyright {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
}

.copyright-wrapper {
  margin: 0 0 56px;
}

.copyright-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 141%;
  color: $copyright-text-color;
}

@include tablet {
  .copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: unset;
  }

  .copyright-wrapper {
    margin: 0 0 36px;
  }
}
