.copy-right {
  display: flex;
  flex-direction: column;
  gap: 10px;

  color: $copy-right-text-color;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  line-height: 140%;

  @include onTable() {
    flex-direction: row;
    justify-content: space-between;
  }
}
