.copyright {
  font-size: 12px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
  color: $darkColor;

  @include onTablet {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    &:first-of-type {
      margin-bottom: 14px;

      @include onTablet {
        margin-bottom: 0;
      }
    }
  }
}
