.copyright {
  @include onTablet {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  }

  &__item {
    margin: 0;
    font-family: $font-main;
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.7rem;

    &:first-child {
    margin-bottom: 8px;
    }
  }
}
