.credits {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;

  @include on-tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @include on-desktop {
    flex-direction: row-reverse;
  }

  &__text {
    margin: 0;
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
  }
}
