.cred {
  display: flex;
  flex-direction: column;
  gap: 10px;

  grid-column: 1 / span 2;
  grid-row: 4;

  margin-bottom: 60px;

  font-weight: 300;
  font-size: 12px;
  line-height: 140.62%;
  text-align: center;
  color: #0f0e08;

  @include onTablet {
    grid-column: 1 / span 6;
    grid-row: 3;

    flex-direction: row;
    justify-content: space-between;
  }

  @include onDesktop {
    grid-column: 1 / span 12;
    grid-row: 2;

    flex-direction: row;
    justify-content: space-between;
  }
}
