.cta {
  background-image: url(../images/cta/cta-320.png);
  background-color: $kindaBlack;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 386px;
  padding: 56px 20px 0;

  display: flex;
  justify-content: center;

  @include forTablet {
    background-image: url(../images/cta/cta-768.png);

    height: 380px;
    padding-top: 64px;
  }

  @include forDesktop {
    background-image: url(../images/cta/cta-1280.png);

    height: 550px;
    padding-top: 144px;
  }

  @include forLargeDesktop {
    background-image: url(../images/cta/cta-1920.png);

    height: 650px;
    padding-top: 176px;
  }

  &__title {
    text-align: center;
    color: #fff;

  }

  &__text {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 64px;
    text-align: center;
    color: #fff;
  }

  &__form {
    display: flex;
    justify-content: center;
  }

  &__email {
    min-width: 232px;
    padding-left: 32px;

    &::placeholder {
      @extend %title-text-small;
      font-size: 14px;
      line-height: 50px;
      color: $greyBlue;

      @include forTablet {
        line-height: 70px;
      }
    }
    
    &:focus {
      outline: none;
    }

    @include forTablet {
      min-width: 392px;
    }
  }

  &__btn {
    width: 50px;
    height: 50px;
    background-color: $kindaRed;
    background-image: url(../images/arrow_cta.png);
    background-size: 8px 12px;
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: #f55d3e;
    }

    @include forTablet {
      width: 70px;
      height: 70px;
      margin-left: 10px;
    }
  }
}
