.currentEvents {
  box-sizing: border-box;

  &__photo {
    width: 100%;
    height: 210px;
    margin-bottom: 16px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s;

    @include hover (transform, scale(1.05));

    &--3 {
      margin-bottom: 0;
    }

    @include onTablet {
      height: 520px;
      margin-bottom: 40px;
      padding-bottom: 0;
    }

    @include onDesktop {
      margin-bottom: 104px;
    }
  }

  &__exhibition {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 30px;
      justify-content: start;
    }
  }

  &__exhibition--show {
    padding-right: 30px;
    font-weight: 500;
    line-height: 100%;
    color: $colorShow;
  }

  &__exhibition--data {
    font-weight: 700;
    color: $colorShowData;
  }

  &__title {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: $colorText_H2_H3;
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 15px;
    }

    &::after {
      display: block;
      content: "";
      width: 10px;
      height: 10px;
      margin-left: 15px;
      background-color: #f14a27;
    }
  }

  &__paragraf {
    color: $colorTextParagraf;
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 64px;
    }

    &--tablet {
      @include onTablet {
        margin-bottom: 112px;
      }
    }
  }

  &__lection {
    box-sizing: border-box;
    margin: 0 auto;

    padding: 24px 0 0;
    width: 280px;
    height: 140px;
    z-index: 1;
    transform: translateY(-50%);
    background-color: #fff;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

    @include onTablet {
      margin: 0 auto -40px;
      padding: 45px 55px 50px;
      width: 572px;
      height: 204px;
    }

    @include onDesktop {
      transform: translateY(-80%);
    }

    &--container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 20px 20px;

      @include onTablet {
        justify-content: start;
        margin: 0 0 16px;
      }
    }

    &--lection {
      font-weight: 500;
      line-height: 100%;
      color: $colorShow;

      @include onTablet {
        text-align: left;
        margin-right: 160px;
      }
    }

    &--data {
      font-weight: 700;
      color: $colorShowData;
    }

    &--name {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
      text-align: center;
      color: $colorText_H2_H3;

      @include onTablet {
        font-size: 36px;
        text-align: left;
      }
    }

  }
}
