.current-events {
  &__title {
    text-align: center;

    @include on-tablet {
      text-align: left;
    }
  }

  &__panorama {
    height: 210px;
    background-image: url('../images/current-events/panorama--lg.png');
    background-repeat: no-repeat;
    background-size: cover;

    @include on-tablet {
      height: 390px;
      margin-inline: 34px;
    }

    @include on-desktop {
      height: 550px;
      margin: 0;
    }
  }
}
