@import '../utils';

.current-events {
  margin-top: 70px;
  margin-bottom: 60px;

  &__container {
    padding: 0 20px;

    @include column-flex;

    gap: 40px;
  }

  &__block,
  &__main,
  &__content,
  &__blocks {
    @include column-flex;
  }

  &__blocks {
    gap: 64px;
  }

  &__block {
    gap: 16px;
  }

  &__main,
  &__content {
    gap: 10px;
  }

  &__title,
  &__subtitle {
    color: $black;
    font-size: 36px;
    line-height: 100%;
  }

  &__day,
  &__text {
    font-family: "IBM Plex Sans", sans-serif;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }

  &__subtitle {
    font-size: 28px;
    font-weight: 400;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: $red;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__day {
    color: rgb(104, 116, 128);
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__date {
    color: $green;
    font-weight: 700;
    line-height: 150%;
  }

  &__text {
    color: $gray;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
  }

  &__picture {
    width: 100%;
    transition: $main-transition;

    &:hover {
      transform: scale(1.05);
    }
  }
}
