.currentEvents {
  padding-top: 35px;

  @include onTablet {
    max-width: 836px;

    margin: 0 auto;
    padding-top: 44px;
  }

  @include onDesktop {
    max-width: 1280px;

    margin: 0 auto;
    padding-top: 100px;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    color: $colorBlackText;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;

    margin: 0 0 40px;

    @include onTablet {
      text-align: left;
      font-size: 48px;
      line-height: 48px;

      margin-bottom: 48px;
    }
  }
}
