.current-events {
  padding: 70px 0 0;

  &__title {
    margin-bottom: 40px;
    @include onTablets {
      margin-bottom: 48px;
      text-align: left;
    }
  }

  &__card {
    margin-bottom: 60px;

    @include onTablets {
      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: 104px;
    }
  }

  &__middle-card {
    margin-bottom: 112px;
  }
}
