.current {
  padding-block: 70px 60px;

  @media (min-width: $tablet-min-width) {
    padding-block: 88px 112px;
  }

  @media (min-width: $desktop-min-width) {
    padding-block: 200px 104px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media (min-width: $tablet-min-width) {
      gap: 64px;
    }

    @media (min-width: $desktop-min-width) {
      gap: 104px;
    }
  }
}
