.date {
  display: flex;
  align-items: center;
  position: relative;

  &__text {
    color: $color-date-text;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    @include Tablet {
      font-size: 14px;
    }
  }

  &__day {
    position: absolute;
    right: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: $color-btn;

    @include Tablet {
      left: 100px;
      font-size: 14px;
    }
  }
}
