.date {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(2, min-content);

  grid-template-areas: 'type date';

  @include on-tablet {
    column-gap: 30px;
    justify-content: stretch;

    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'type date date';

    &--lecture {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: 'type nothing date date';
    }
  }

  &__type {
    grid-area: type;

    color: #687480;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;

    @include on-tablet {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__date {
    grid-area: date;

    color: $secondary-color;
    text-wrap: nowrap;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    @include on-tablet {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
