.decorative {

  &__item {
    margin: 0;

    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: $captionColor;
    text-transform: uppercase;

    @include onDesktop {
      display: flex;
      align-items: center;
    }

    &::before {
      content: "";
      display: inline-block;

      width: 70px;
      height: 1px;
      background-color: $mainGreenColor;

      margin-right: 20px;
    }
  }
}
