.description {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 30px;
      justify-content: start;
      gap: 20px;
    }

    @include onDesktop {
      gap: 30px;
    }
  }

  &__type {
    color: $events-type-color;

    @include onTablet {
      font-size: 14px;
    }
  }

  &__date {
    font-weight: 700;
    line-height: 150%;

    color: $secondary-color;

    @include onTablet {
      font-size: 14px;
    }
  }

  &__middle {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 15px;
    }
  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;

    color: $main-color;

    @include onTablet {
      font-size: 36px;
    }
  }

  &__icon {
    @include squareSize(10px);
    padding-left: 10px;

    @include onTablet {
      @include squareSize(15px);
      padding-left: 20px;
    }

    @include onTablet {
      padding-left: 25px;
    }
  }

  &__info {
    font-weight: 300;
    line-height: 150%;

    color: #4e4e4e;
  }
}
