.descr {
  display: flex;
  flex-direction: column;
  width: 370px;
  font-family: "IBM Plex Sans", sans-serif;

  @media (max-width: 760px) {
    align-items: center;
    width: 100%;
  }

  &__main {
    display: flex;
    align-items: center;
    font-size: 14px;

    @media (max-width: 760px) {
      justify-content: space-between;
      width: 280px;
    }
  }

  &__info {
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: $c-lightGreyText;
  }

  &__date {
    margin-left: 26px;
    font-weight: 700;
    line-height: 1.5;
    color: $c-textDate;
  }

  &__title {
    margin-top: 30px;

    font-weight: 400;
    font-size: 36px;
    color: $c-darkText;

    font-family: "IBM Plex Sans", sans-serif;

    &::after {
      position: relative;
      left: 25px;
      bottom: 3px;
      content: "";
      display: inline-block;
      justify-items: center;
      height: 15px;
      width: 15px;
      background-color: $c-squareEvets;

      @media (max-width: 760px) {
        width: 10px;
        height: 10px;
      }
    }
    @media (max-width: 760px) {
      width: 280px;
      font-size: 28px;
    }
  }

  &__text {
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
    color: $c-greyText;

    @media (max-width: 760px) {
      width: 280px;
      margin-top: 11px;
    }
  }
}
