.description {
  &__date-block {
    font-size: 16px;

    @include onTablet {
      font-size: 14px;
    }
  }

  &__event {
    color: $eventTextColor;
    font-weight: 500;
    line-height: 100%;
  }

  &__date {
    color: $brandColor;
    font-weight: 700;
    line-height: 150%;
  }

  &-title {
    font-family: "Montserrat", sans-serif;
    color: $mainTextColor;
    font-size: 28px;
    line-height: 100%;

    @include onTablet {
      font-size: 36px;
    }
  }

  &-text {
    color: #4e4e4e;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
  }
}
