.description-lection {
  padding-block: 20px;

  background-color: $main-bg-color;
  box-shadow: 0 2px 0 0 #1a5a4c40;

  @include onTablet {
    padding-top: 45px;
    padding-bottom: 50px;
    padding-inline: 55px;
  }

  @include onDesktop {
    padding-inline: 100px;
  }

  &__top {
    justify-content: space-evenly;
    margin-bottom: 20px;

    @include onTablet {
      justify-content: start;
      gap: 190px;
      margin-bottom: 16px;
    }

    @include onDesktop {
      gap: 150px;
    }
  }

  &__title {
    text-align: center;

    @include onTablet {
      text-align: left;
    }
  }
}
