.desiner-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  row-gap: 10px;

  font-size: 12px;

  @include onTablet {
    justify-content: space-between;
  }
}
