.designed-by {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  font-weight: 300;
  line-height: 17px;
  color: $dark-main-color;
  text-align: center;
  row-gap: 10px;

  @include on-tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}
