.designer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;

  @include on-tablet {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 36px;
  }

  &__text {
    margin: 0;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 141%;
    color: $black-text-color;
    text-align: center;
  }
}
