.div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &__info {
    width: 280px;
    height: 57px;
    background-color: #FFF;
    position: relative;
    margin: 0 20px;
    // margin-top: -57px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: -57px auto 0;

    &__lesson {
      color: #687480;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      /* 16px */
    }

    &__data {
      color: #1A5A4C;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      /* 24px */
    }

    &__bottom {
      width: 280px;
      height: 83px;
      display: flex;
      align-items: center;
      margin: 0 auto 100px;
      box-shadow: 0px 2px 0px 0px rgba(26, 90, 76, 0.25);
      background-color: #FFF;
    }

    &__title {
      color: #0F0E08;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      /* 28px */
    }
  }
}
