.ellipse {
  stroke-width: 1px;
  stroke: #1A5A4C;
  margin-right: 20px;

  &__container {
    display: flex;
    justify-content: flex-end;
    width: 320px;
  }

  &__position {
    display: flex;
    margin-right: 20px;
  }
}

.arrow-up {
  margin-left: -53px;
}
