.event-type {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1em;
  color: $event-type-color;

  @include onTablet {
    padding-right: 24px;
  }
  @include onDesctop {
    padding-right: 32px;
  }
}
