.events-item {
  @include gridPage;

  &__img {
    grid-column: 1 / -1;
    margin-bottom: 20px;

    transition-duration: 0.5s;
    @include hover (transform, scale(1.1));

    img {
      width: 100%;
    }

    @include smartphone {
      margin-bottom: 40px;
    }

    @include smalldesktop {
      grid-column: 1 / 8;
      margin-bottom: 104px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;

    @include smartphone {
      grid-column: 1 / 5;
    }

    @include  smalldesktop {
      grid-column: 9 / -1;
    }
  }

  &__info-first {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    @include smartphone {
      margin-bottom: 32px;
    }
  }

  &__text {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #687480;

    @include smartphone {
      font-size: 14px;
    }
  }

  &__date {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    color: $color-green;

    @include smartphone {
      font-size: 14px;
    }
  }

  &__info-second {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    position: relative;
    max-width: fit-content;

    font-family: 'Montserrat';
    font-style: $font-style;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;

    color: $color-dark;
    margin-bottom: 10px;

    &::after {
      content: " ";
      display: block;
      position: absolute;

      top: 60%;
      right: -25px;
      width: 10px;
      height: 10px;
      background-color: #f14a27;

      transform: translateY(-50%);

      @include smartphone {
        width: 15px;
        height: 15px;
      }
    }

    @include smartphone {
      font-size: 36px;
      margin-bottom: 15px;
    }
  }

  &__description {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #4E4E4E;
  }
}
