.events {
  margin-bottom: 100px;

  &__title {
    display: flex;
    justify-content: center;

    @include title (36px);
    margin-bottom: 40px;

    @include tablet {
      font-size: 48px;
      margin-bottom: 48px;
    }

    @include laptop {
      font-size: 48px;
      margin-bottom: 56px;

      justify-content: flex-start;
    }
  }

  &__event {
    width: 100%;
    margin-bottom: 60px;

    &--1,
    &--2 {
      @include laptop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }

    @include tablet {
      margin-bottom: 64px;

      &--2 {
        margin-bottom: 112px;
      }
    }

    @include laptop {
      margin-bottom: 104px;
    }

    &--3 {
      width: 100%;
      margin-bottom: 0;
    }
  }

  &__image-container {
    width: 100%;
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 40px;

      width: 100%;
    }

    @include laptop {
      margin-bottom: 0;
      width: max-content;

      &:hover {
        transform: scale(0.9);
        transition: all 0.5s ease 0s;
        box-shadow: $box-shadow;
      }
    }

    &--3 {
      @include laptop {
        width: 100%;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    max-height: 360px;
    object-fit: cover;
    object-position: center;

    @include tablet {
      height: 520px;
      max-height: max-content;
    }

    @include laptop {
      width: 670px;
      height: 520px;
    }

    &--3 {
      width: 100%;
      height: 210px;
      object-fit: cover;
      object-position: center;

      @include tablet {
        height: 390px;
      }

      @include laptop {
        height: 550px;
      }
    }
  }

  &__description {
    max-width: 280px;

    @include tablet {
      max-width: 520px;
    }

    @include laptop {
      width: max-content;
      max-width: 370px;
      height: 202px;
    }
  }

  &__event-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;

    @include tablet {
      justify-content: flex-start;
    }

    &--lecture {
      display: block;
      margin-bottom: 0;

      transform: translateY(-40%);
      --container-width: 280px;
      width: var(--container-width);
      box-sizing: border-box;
      // padding: 10px;
      margin-left: calc(50% - var(--container-width) / 2);
      box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

      z-index: 2;
      background-color: #fff;

      @include tablet {
        --container-width-tab: 570px;
        width: var(--container-width-tab);
        margin-left: calc(50% - var(--container-width-tab) / 2);
      }

      @include laptop {
        --container-width-lap: 570px;
        width: var(--container-width-lap);
        margin-left: calc(50% - var(--container-width-lap) / 2);
      }
    }
  }

  &__lecture-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
    margin-left: 0;

    @include tablet {
      margin-left: 36px;
    }

    @include laptop {
      margin-left: 82px;
    }
  }

  &__event-title {
    width: 129px;
    height: 15px;
    margin-right: 15px;

    @include text-start (16px, 500, 100%);

    color: $light-gray-color;

    @include tablet {
      font-size: 14px;
    }

    &--3 {
      display: flex;
      align-items: center;

      width: 109px;
      height: 24px;
      margin-left: 21px;

      @include tablet {
        width: 100px;
      }
    }
  }

  &__event-dates {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    color: $green-color;

    @include tablet {
      font-size: 14px;
    }

    &--3 {
      width: 174px;
      height: 24px;
    }
  }

  &__event-name {
    max-width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include title(28px);
    font-weight: 400;

    margin-bottom: 10px;

    @include tablet {
      max-width: max-content;
      font-size: 36px;
    }

    @include laptop {
      max-width: max-content;
      font-size: 36px;
    }

    &--3 {
      padding-bottom: 20px;
      margin-bottom: 0;

      @include tablet {
        margin-left: 56px;
        text-align: start;
      }

      @include laptop {
        max-width: 370px;
        margin-left: 100px;
        text-align: start;
      }
    }
  }

  &__event-name-dot {
    @include tablet {
      margin-left: 18px;
    }

    @include laptop {
      margin-left: 18px;
    }
  }

  &__event-paragraph {
    @include text-start (16px, 300, 150%);

    color: $dark-gray-color;

    @include tablet {
      max-width: 460px;
    }
  }
}
