.event-lecture {
  position: relative;

  @include onTablet {
    padding: 0 35px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;

  }

  @include onDesktop {
    padding: 0;
  }

  &--margin-bottom {
    margin-bottom: 180px;
  }

  &__image-container {
    @include onTablet {
      grid-column: 1 / -1;
    }

    @include onDesktop {
      height: 550px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__poster {
    height: 140px;

    background: $nav-font-color;
    box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);

    position: absolute;
    top: 75%;
    left: 20px;
    right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include onTablet {
      left: 100px;
      right: 100px;

      height: 210px;
      padding: 45px 25px;

      justify-content: space-between;
    }

    @media (min-width: 700px) {
      padding: 45px 55px;
    }

    @include onDesktop {
      width: 570px;
      padding: 50px 100px;

      top: 80%;
      left: 50%;

      transform: translateX(-50%);
    }
  }

  &__start {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include onTablet {
      justify-content: start;
    }
  }

  &__what {
    color: $gray-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;

    @include onTablet {
      margin-right: 140px;
    }

    @include onDesktop {
      margin-right: 80px;
    }
  }

  &__when {
    color: $green-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
  }

  &__name {
    color: $title-color;
    font-size: 28px;
    font-family: $title-color;
    font-weight: 400;
    line-height: 100%;
    text-align: center;

    @include onTablet {
      text-align: left;

      font-size: 36px;
    }
  }
}
