.event {
  position: relative;
  top: 100%;
  left: 50%;
  width: 570px;
  padding: 45px 100px 50px;
  border-bottom: 1px solid $grey-color;
  background-color: #fff;
  transform: translate(-50%, -50%);

  &__data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__exposition {
    margin-right: 26px;
    text-transform: uppercase;
    font-family: $text-font;
    font-size: 14px;
    font-weight: 500;
    color: $grey-color;
  }

  &__time {
    font-family: $text-font;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    color: $main-color;
  }

  &__title {
    font-family: $title-font;
    font-size: 36px;
    line-height: 100%;
    color: $title-color;
  }
  
  @media (max-width: $small-screen) {
    width: 278px;
    padding: 25px 20px 34px;
    transform: translate(-50%, -35%);

    &__data {
      margin-bottom: 15px;
    }
  
    &__exposition,
    &__time {
      font-size: 16px;
    }
  }

  @media (max-width: $medium-screen) {
    width: 278px;
    padding: 25px 20px 34px;
    transform: translate(-50%, -40%);

    &__title {
      font-size: 28px;
    }
  }

  @media (min-width: $large-screen) {
    transform: translate(-50%, -45%);
  }
}
