.event {
  &__title {
    margin-bottom: 60px;
    @media (max-width: 1320px) {
      text-align: center;
    }
  }

  &__image {
    width: 870px;
    height: 520px;
    margin-right: 130px;

    @media (max-width: 1550px) {
      width: 670px;
    }

    @media (max-width: 1320px) {
      margin-right: 0;
      margin-bottom: 30px;
    }

    @media (max-width: 768px) {
      display: flex;
      width: 100%;
      height: 100%;
      margin-right: 0;
      margin-bottom: 30px;
      justify-content: center;
    }
  }

  &__row {
    display: flex;
    margin-bottom: 100px;

    @media (max-width: 768px) {
      margin-bottom: 50px;
    }

    &--reverse {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 100px;

      & .event__image {
        margin-right: 0;
        margin-left: 130px;
      }
    }

    @media (max-width: 1320px) {
      flex-direction: column;
      align-items: center;

      &--reverse {
        align-items: center;
        flex-direction: column-reverse;

        & .event__image {
          margin-left: 0;
          margin-bottom: 30px;
        }
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 1320px) {
      justify-content: flex-start;
      align-items: flex-start;
    }

    @media (max-width: 768px) {
      width: 300px;
    }
  }

  &__schedule {
    display: flex;
    padding-bottom: 32px;
  }

  &__type {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
    padding-right: 28px;
    color: $colorEvents;
  }

  &__date {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    color: $colorElemens;
  }

  &__subtitle {
    padding-bottom: 15px;

    &::after {
      position: absolute;
      display: inline-block;
      content: "";
      width: 15px;
      height: 15px;
      margin: 13px 20px;
      line-height: 15;
      background-color: $colorDecor;
    }
  }

  &__description {
    width: 370px;
    font-weight: 300;
    line-height: 24px;

    @media (max-width: 768px) {
      width: 280px;
    }
  }

  &__single {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__panorama {
    &-img {
      width: 100vw;
    }
  }

  &__info_wide {
    box-sizing: border-box;
    padding: 45px 100px 50px;
    width: 570px;
    height: 204px;
    position: relative;
    top: -105px;
    background-color: $colorWhite;
    box-shadow: 0 3px 0 0 rgba(26, 90, 76, 0.25);

    @media (max-width: 768px) {
      width: 278px;
      height: 154px;
      padding: 25px 20px 34px;
      top: -55px;
    }
  }

  &__schedule_wide {
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: center;
  }
}
