.event-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__type {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #687480;

    @include onTablet {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__data {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #1a5a4c;

    @include onTablet {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
