.event__title {
  position: relative;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 28px;
  line-height: 100%;
  color: #0f0e08;
  margin-bottom: 10px;
  
  @include tablet {
    font-size: 36px;
  }
  
  &--element::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 10px;
    left: 300px;
    background: #f14a27;
  
    @include tablet {
      left: 346px;
    }
  }
}
