.event {
  &__photo-container {
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__photo {
    width: 100%;
  }

  &__top-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 30px;
      width: 220px;
    }
  }

  &__type {
    @include event-text-type;
  }

  &__date {
    @include event-text-date;
  }

  &__title {
    margin-bottom: 10px;

    @include event-text-title;

    @include onTablet {
      margin-bottom: 15px;
    }

    &::after {
      content: url(../images/square.svg);
      width: 10px;
      height: 10px;
      margin-left: 8px;
      margin-bottom: 4px;

      @include onTablet {
        width: 15px;
        height: 15px;
        margin-bottom: 10px;
      }
    }
  }

  &__description {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    text-align: left;

    color: #4e4e4e;

    @include onTablet {
      width: 460px;
    }

    @include onDesktop {
      width: 370px;
    }
  }
}
