.event-lecture {
  height: 210px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/background/lecture.png');
  position: relative;

  @include on-tablet {
    height: 390px;
    margin-top: 48px;
    margin-inline: 20px;
  }

  @include on-desktop {
    height: 550px;
    margin: 0;
  }

  &__content {
    box-sizing: border-box;
    position: absolute;
    bottom: -83px;
    left: calc((100% - 280px) / 2);
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 140px;
    width: 280px;
    background-color: $white-color;
    box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);

    @include on-tablet {
      left: calc((100% - 570px) / 2);
      bottom: -120px;
      gap: 16px;
      height: 204px;
      width: 570px;
      padding: 45px 140px 50px 55px;
    }

    @include on-desktop {
      bottom: -102px;
    }
  }

  &__title {
    @include font-montserrat-regular;

    padding: 0;
    margin: 0;
    font-size: 28px;
    line-height: 28px;
    text-align: left;
    color: $dark-font-color;
    position: relative;

    @include on-tablet {
      font-size: 36px;
      line-height: 36px;
    }
  }

  &__subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 21px;

    @include on-tablet {
      padding-inline: 0;
    }
  }

  &__type {
    @include font-ibm-plex-sans-medium;

    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    color: $light-font-color;

    @include on-tablet {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__time {
    @include font-ibm-plex-sans-bold;

    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: $green-color;

    @include on-tablet {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
