/* Error: Undefined mixin.
 *   ,
 * 7 | /   @include on-tablet {
 * 8 | |     gap: 64px;
 * 9 | \   }
 *   '
 *   exhibition.scss 7:3  @import
 *   event.scss 1:9       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 7 \2502  \250c    @include on-tablet {\a 8 \2502  \2502      gap: 64px;\a 9 \2502  \2514    }\a   \2575 \a   exhibition.scss 7:3  @import\a   event.scss 1:9       root stylesheet";
}
