.description {
  &__announcement {
    display: inline-block;
    @include ibm;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #687480;
    margin-right: 30px;
  }

  &__date {
    display: inline-block;
    @include ibm;
    color: $green;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
  }

  &__title {

    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    @include title;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    margin: 30px 0 15px;

    @media (max-width: 460px) {
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
    }

    &::after {

      content: "";
      height: 15px;
      width: 15px;
      background-color: $orange;
    }
  }

  &__text {
    @include text;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
  }
}
