.event-description {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__name {
    color: $event-description-name-color;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;

    @include onTable() {
      font-size: 14px;
    }
  }

  &__date {
    color: $event-description-date-color;
    font-weight: 700;
    line-height: 150%;

    @include onTable() {
      font-size: 14px;
    }
  }
}
