.exhibitions {
  padding-inline: 20px;
  margin-top: 88px;

  @include on-tablet {
    padding-inline: 39px;
    margin-top: 86px;
  }

  @include on-desktop {
    padding-inline: 55px;
    margin-top: 200px;
  }

  &__title {
    text-align: center;
    margin-bottom: 40px;

    @include on-tablet {
      text-align: left;
      margin-bottom: 48px;
    }

    @include on-desktop {
      text-align: left;
      margin-bottom: 56px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @include on-tablet {
      gap: 64px;
    }
  }
}
