// .exhibitions {
//   // margin-bottom: 0;
// }

.exhibition {
  &__title {

    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 56px;
    }
  }

  &__img {
    width: 100%;
    height: 210px;
    margin-bottom: 16px;

    object-position: center;
    object-fit: cover;
    transition: all 0.3s;

    @include onTablet {
      height: 520px;
      margin-bottom: 40px;
    }

    @include onNotebook {
      // height: 520px;
      margin-bottom: 104px;
    }

    &:hover {
      transform: scale(105%);
      box-shadow: 5px 5px 5px #687480;
    }

    &-lection {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
    }
  }

  &__about {

    @include onNotebook {
      align-self: center;
    }

    &-data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      line-height: 100%;
      font-weight: 500;
      margin-bottom: 15px;

      @include onTablet {
        width: 220px;
        font-size: 14px;
        margin-bottom: 30px;
      }
    }

    &-podiya {
      color: #687480;
    }

    &-dt {
      font-weight: 700;
      line-height: 150%;

      color: $colorGreen;
    }

    &-title {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 10px;
    }

    &-name {
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;

      @include onTablet {
        font-size: 36px;
      }
    }

    &-square {
      --square-width: 10px;
      box-sizing: border-box;
      width: var(--square-width);
      height: var(--square-width);
      background: $colorOrange;
      margin-left: var(--square-width);

      @include onTablet {
        --square-width: 12px;
      }

      @include onNotebook {
        --square-width: 15px;
      }
    }

    &-text {
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      color: #4e4e4e;
      margin-bottom: 60px;
    }
  }
}
