.exhibitions-link {
  display: none;

  font-family: IBM Plex Sans, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  color: $events-type-color;

  @include onDesktop {
    display: flex;
    align-items: center;

    text-decoration: none;

    transform: translateX(5%) rotate(-90deg);
    transform-origin: left;
  }

  &__line {
    width: 70px;
    margin-right: 20px;

    background-color: $secondary-color;
  }
}
