.exhibition {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;

  @include on-tablet {
    margin-bottom: 64px;
  }

  @include on-desktop {
    margin-bottom: 104px;

    @include page-grid;
  }

  &__picture {
    /*object-fit: cover;
    object-position: center;*/
    margin-bottom: 20px;

    @include on-tablet {
      margin-bottom: 40px;
    }

    @include on-desktop {
      margin: 0;
      grid-column: 1 / 8;
    }
  }

  &__img {
    width: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include on-desktop {
      grid-column: 10 / 13;
    }
  }

  &__wrapper {
    font-family: 'IBM Plex Sans';
    font-size: 16px;
    line-height: 100%;

    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    @include on-tablet {
      justify-content: flex-start;
      column-gap: 30px;
    }
  }

  &__name {
    font-weight: 500;
    color: rgba(104, 116, 128, 1);
    text-transform: uppercase;
  }

  &__date {
    font-weight: 700;
    color: rgba(26, 90, 76, 1);
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  &__title-block {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
  }

  &__title {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: $main-title-color;
    margin-bottom: 10px;

    @include on-tablet {
      font-size: 36px;
    }
  }

  &__red {
    vertical-align: text-top;
  }

  &__quadrat {
    background-color: rgba(241, 74, 39,1);
    border: none;
    display: inline-block;
    width: 10px;
    height: 10px;

    @include on-tablet {
      width: 15px;
      height: 15px;
    }
  }

  &__text {
    font-family: 'IBM Plex Sans';
    font-weight: 300;
    font-size: 16px;
    height: 119px;
    line-height: 150%;
    color: $main-text-color;
  }
}
