.exhibit {
  margin-bottom: 60px;

  @include onTablet {
    margin-bottom: 64px;
  }

  @include onDesktop {
    margin-bottom: 104px;
  }

  &__image-1 {
    @include image;
    background-image: url(../images/image-1.jpg);
    transition: all 0.3s;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__image-2 {
    @include image;
    background-image: url(../images/image-2.jpg);
    transition: all 0.3s;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__event-and-date-box {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      margin-bottom: 32px;
      width: 230px;
    }
  }

  &__event {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    color: #687480;

    @include onTablet {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__date {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: #1a5a4c;

    @include onTablet {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;

    color: #0f0e08;

    @include onTablet {
      margin-bottom: 15px;
      width: 360px;
      font-size: 36px;
      line-height: 36px;
    }

    &::after {
      content: "";
      height: 10px;
      width: 10px;
      background-color: #f14a27;
    }
  }

  &__title--after {
    &::after {
      content: "";
      margin-right: 40px;
      height: 10px;
      width: 10px;
      background-color: #f14a27;
    }
  }

  &__description {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    color: #4e4e4e;
  }

  &__info {
    @include onDesktop {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
