.flex {
  display: flex;
  flex-direction: column;

  @include onDesktop {
    flex-direction: row;
    justify-content: space-between;

    &--reverse {
      flex-direction: row-reverse;
    }
  }
}
