.flex {
  display: flex;
  &-w {
    flex-direction: column;
  }

  &_wq {
    margin-right: 15px;
    // width: 200px;
    @include onDesktop {
      // width: 230px;
      margin-right: 115px;
    }
  }
}
