.follow {
  height: 650px;
  background: url(..\images\Follow.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  display: grid;
  justify-items: center;
  align-content: center;
  gap: 66px;

  color: #fff;

  &__article {
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;

    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    line-height: 48px;
  }

  &__desctiption {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
  }

  &__input {
    margin-right: 10px;
    padding-left: 28px;

    width: 395px;
    height: 70px;
    border: 0;

    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
  }

  &__button {
    width: 70px;
    height: 70px;
    background-color: #f14a27;
    color: #000;
    border: 1px solid #f14a27;
    cursor: pointer;
  }
}

@media (max-width: 950px) {
  .follow {
    height: 550px;

    &__input {
      width: 233px;
      height: 50px;

      margin-right: 0;
    }

    &__button {
      width: 50px;
      height: 50px;
    }

    &__desctiption {
      padding: 0 5px;
    }
  }
}
