.follow {
  margin: 100px auto 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) rgba(0, 0, 0, 0.75));
  background-image: url(../images/subscription.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75%;
  padding: 88px 0;

  &__title {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #fff;

    @include tablet {
      font-size: 48px;
    }
  }

  &__description {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;

    @include tablet {
      margin-bottom: 65px;
    }

    @include desktop {
      margin-bottom: 75px;
    }
  }

  &__form {
    display: flex;

    @include tablet {
      gap: 30px;
    }
  }

  &__input {
    display: flex;
    flex-grow: 1;
    color: #687480;
    align-items: center;
    text-align: left;
    padding-left: 24px;
    outline: none;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f14a27;
    height: 50px;
    width: 50px;
    background-image: url(../images/arrow.png);
    background-size: auto;
    background-position: 50%;
    background-repeat: no-repeat;

    @include tablet {
      width: 70px;
      height: 70px;
    }
  }
}
