input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $follow-button-color;
  transition: all $effectDuration;
}

.follow {
  background-image: url(../images/bg-follow.png);
  background-size: cover;
  width: 100vw;
  height: 550px;
  margin-inline: calc(-50vw + 50%);
  margin-top: 200px;
  display: flex;
  justify-content: center;

  @include onTablet {
    margin-top: 92px;
    height: 380px;
  }

  @include onMobile {
    margin-top: 100px;
    height: 386px;
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include onMobile {
      width: 280px;
    }
  }

  &__text {
    margin: 0;
    color: $white-text-color;
    text-align: center;
    font-family: $secodary-text-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 72px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onMobile {
      margin-bottom: 50px;
      line-height: 150%;
    }
  }

  &__form-wrapper {
    box-sizing: border-box;
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;

    @include onTablet {
      display: flex;
      gap: 16px;
    }

    @include onMobile {
      gap: 0;
    }
  }

  &__input {
    box-sizing: border-box;
    height: $button-hight;
    border: 0;
    width: 470px;
    padding-left: 32px;
    outline: none;

    @include onTablet {
      width: 374px;
    }

    @include onMobile {
      height: $button-hight-mobile;
      width: 230px;
    }

    &::placeholder {
      color: $event-link-color;
      font-family: $secondary-font;
      font-size: 14px;
      font-weight: 400;
      line-height: 100%;
      margin: 0;
    }
  }

  &__button {
    background: url(../images/icons/icon-arrow-black.png) no-repeat center, $follow-button-color;
    border: 0;
    width: $button-hight;
    padding: 0;

    @include hover(cursor, pointer);

    &:active {
      transform: scale(0.95);
    }

    @include onMobile {
      width: $button-hight-mobile;
    }
  }
}
