h1 {
  font-family: $uppercase-font-family;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: $color-text;

  @include on-tablet {
    font-size: 54px;
    line-height: 65px;
  }

  @include on-desktop {
    font-size: 72px;
    line-height: 86.4px;
  }
}

h2 {
  font-family: $uppercase-font-family;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: $color-text-second;

  @include on-tablet {
    font-size: 48px;
    line-height: 48px;
  }
}

h3 {
  font-family: $uppercase-font-family;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: $color-text-second;

  @include on-tablet {
    font-size: 36px;
    line-height: 36px;
  }
}

p {
  font-family: $main-font-family;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $color-text-third;
}

span {
  font-family: $main-font-family;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color-text-second;
}

.white-text {
  color: $color-white;
}

.black-text {
  color: $color-text-second;
}
