.footer-nav {
  box-sizing: border-box;

  &__list {
    display: grid;
    gap: 20px;

    list-style: none;
    padding: 0;
    margin-block: 111px 80px;

    @include on-desktop {
      margin-block: 47px 160px;
    }

    &-left {
      grid-column: 1/2;

      @include on-tablet {
        grid-column: 2/4;
      }

      @include on-desktop {
        grid-column: 8/10;
      }
    }
    &-right {
      grid-column: 2/3;

      @include on-tablet {
        grid-column: 4/5;
      }

      @include on-desktop {
        grid-column: 10/12;
      }
    }
  }

  &__link {
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #0f0e08;
  }
}
