.footer {
  --column: 12;

  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(var(--column), 1fr);
  margin-bottom: 35px;

  @media (max-width: 1280px){
    --column: 6;
  }

  @media (max-width: 768px){
    --column: 2;

    margin-bottom: 70px;
  }

  &__logo {
    @media (max-width: 768px){
      grid-column: 1 / -1;
      display: grid;
      column-gap: 30px;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    &--logo {
      grid-column: 1 / 1;
      text-decoration: none;

      @media (max-width: 768px){
        margin-bottom: 40px;
      }

      &--text {
        font-family: Montserrat, sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 62px;
        color: $main-black;
        transition: transform 500ms;

        @media (max-width: 768px){
          margin-bottom: 0;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &--icons {
      display: flex;

      @media (max-width: 768px){
        grid-column: 2 / -1;
        justify-content: flex-end;
        align-items: center;
      }

      &--instagram {
        margin-left: 22px;

        @media (max-width: 1280px){
          margin-left: 32px;
        }

        @media (max-width: 768px){
          margin-left: 20px;
        }
      }

      &--facebook,
      &--instagram {
        transition: transform 500ms;
      }

      &--facebook:hover,
      &--instagram:hover {
        transform: scale(1.3);
      }
    }
  }

  &__schedule {
    grid-column: 3 / 5;
    font-family: $ibm-font;
    font-size: 14px;
    font-weight: 500;

    @media (max-width: 1280px){
      grid-column: 2 / 4;
      font-size: 13px;
    }

    @media (max-width: 768px){
      grid-column: 1 / 1;
    }

    &--title {
      margin-bottom: 20px;
    }

    &--b {
      font-family: $ibm-font;
      line-height: 21px;
      font-size: 15px;
      font-weight: 600;

      @media (max-width: 1280px){
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  &__contacts {
    grid-column: 5 / 7;

    font-family: $ibm-font;
    font-size: 13px;
    font-weight: 500;

    @media (max-width: 1280px){
      grid-column: 4 / 6;
    }

    @media (max-width: 768px){
      grid-column: 2 / 2;
    }

    &--title {
      margin-bottom: 20px;
    }

    &--b {
      font-size: 13px;
      font-weight: 400;
      line-height: 21px;
    }
  }

  &__line {
    width: 1px;
    height: 260px;
    justify-self: center;
    grid-column: 7 / 7;
    background-color: $main-black;
    margin-top: 87px;
    margin-bottom: 87px;

    @media (max-width: 1280px){
      grid-column: 2 / 6;
      width: 100%;
      height: 1px;
      justify-self: left;
      margin-top: 64px;
      margin-bottom: 64px;
    }

    @media (max-width: 768px){
      grid-column: 1 / -1;
    }
  }

  &__nav {
    grid-column: 8 / 12;
    font-family: $ibm-font;
    font-size: 15px;
    font-weight: 500;

    @media (max-width: 1280px){
      grid-column: 2 / 5;
      font-size: 14px;
    }

    @media (max-width: 768px){
      grid-column: 1 / -1;
      height: 80px;
      margin-bottom: 80px;
    }
  }

  &__list {
    list-style-type: none;
    margin-bottom: 120px;

  }

  &__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;

    @media (max-width: 768px){
      grid-column: 1 / -1;
    }
  }

  &__item {
    @media (max-width: 1280px){
      margin-left: 0;
    }

    &-left {
      margin-bottom: 20px;
      margin-right: 20px;
      grid-column: 1 / 2;

      @media (max-width: 768px){
        grid-column: 1 / 2;
      }

      transition: transform 500ms;
      &:hover {
        transform: scale(1.1);
      }
    }

    &-right {
      margin-right: 20px;
      grid-column: 4 / 5;

      @media (max-width: 768px){
        grid-column: 3 / 5;
      }

      transition: transform 500ms;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__font--style {
    text-decoration: none;
    color: $main-black;
  }

  &__copyright {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;

    font-family: $ibm-font;
    font-size: 12px;
    font-weight: 300;

    @media (max-width: 768px){
      display: grid;
      column-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }

    &--left{
      grid-column: 1 / -1;
      margin-bottom: 10px;

      @media (max-width: 768px){
        justify-self: center;
      }
    }

    &--right{
      grid-column: 1 / -1;

      @media (max-width: 768px){
        justify-self: center;
      }
    }
  }
}
