.page__footer--first {
  margin: 100px -20px 50px;

  @include on-desktop {
    margin-top: 200px;
  }

  background-image: url('../images/footer-img.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 386px;

  @include on-tablet {
    height: 380px;

    margin-right: -39px;
    margin-left: -39px;
  }

  @include on-desktop {
    height: 550px;

    margin-right: -55px;
    margin-left: -55px;
  }

  &-section {
    margin: auto;

    &-h3 {
      width: 100%;
      padding-top: 88px;
      margin: 0;
      font-family: Montserrat, sans-serif;
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
      text-align: center;
      color: #fff;

      @include on-tablet {
        padding-top: 82px;
        font-size: 48px;
        line-height: 48px;
      }

      @include on-desktop {
        padding-top: 163px;
      }
    }

    &-p {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      color: #fff;
      margin-top: 20px;
      max-width: 280px;
      margin-bottom: 50px;

      @include on-tablet {
        max-width: 460px;

        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 64px;
      }

      @include on-desktop {
        margin-bottom: 72px;
      }
    }

    &--sub {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &--form {
      display: flex;
      justify-content: center;
    }

    &--cont {
      display: flex;
    }

    &__email {
      height: 50px;
      width: 230px;
      padding-left: 24px;

      @include on-tablet {
        height: 70px;
        width: 374px;
        margin-right: 16px;
      }

      @include on-desktop {
        height: 70px;
        width: 470px;
        margin-right: 20px;
        padding-left: 32px;
      }

      border: none;
      outline-width: 0;

      font-family: Montserrat, sans-serif;
      font-size: 14px;
      line-height: 14px;
      text-align: left;
      color: #687480;
    }

    &__button {
      border: none;
      outline-width: 0;
      background-color: #f14a27;
      transition: all $transition-speed;

      width: 50px;
      height: 50px;

      @include on-tablet {
        height: 70px;
        width: 70px;
      }

      &-arr {
        width: 7.41px;
        height: 12px;

        background-image: url(../images/icons/arrow-black.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin: auto;
      }

      &:hover {
        rotate: 90deg;
      }
    }
  }
}
