.footer__brench {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 280px;
  height: 1px;
  background-color: $main-green-color;
  margin-top: 70px;

  @include ontable {
    top: 0;
    right: 0;
    width: 460px;
    margin-top: 315px;
  }

  @include ondesktop {
    margin-top: 0;
    margin-left: 690px;
    left: 0;
    width: 1px;
    height: 260px;
  }
}
