.footer-info {
  grid-column: 3 / 5;
  margin: 47px 0 0;

  @include on-tablet {
    grid-column: 2 / 4;
    margin: 51px 0 0;
  }

  @include on-phone {
    grid-column: 1 / 2;
    margin: 40px 0 0;
  }

  &__title {
    @include text-styler(IBM Plex Sans, 400, 14px, 19.69px, $c-coal);

    margin: 0;
  }

  &__content {
    @include text-styler(IBM Plex Sans, 400, 14px, 21px, $c-coal);

    margin: 20px 0 0;
  }
}
