.footer {
  color: $button-color-text;

  &__content {
    display: block;

    @include onTablet {
      display: grid;
    }

    @include onDesktop {
      display: grid;
    }
  }

  &__top {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 0;
    }

    &--logo {
      display: flex;
      justify-content: space-between;

      @include onTablet {
        flex-direction: column;
      }
    }

    &--social {
      display: flex;
      justify-content: center;
      align-items: center;

      @include onTablet {
        justify-content: start;

        margin-top: 62px;
      }
    }
  }

  &__icon {
    &--facebook {
      width: 11px;
      height: 24px;

      margin-right: 38px;
    }

    &--insta {
      width: 24px;
      height: 24px;
    }

    transition: transform $time-animation;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__schedule {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;

    @include onTablet {
      display: grid;
      gap: 0;
    }

    @include onDesktop {
      margin-bottom: 87px;
    }

    &__time {
      width: 130px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include onTablet {
        width: 220px;
      }

      @include onDesktop {
        width: 170px;
      }
    }

    &--holiday {
      margin-bottom: 19px;

      @include onDesktop {
        margin-bottom: 0;
      }
    }
  }

  &__contacts {
    width: 128px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    
    @include onTablet {
      width: 220px;
    }

    @include onDesktop {
      width: 170px;
      height: 271px;

      margin-left: 30px;

      border-right: 1px solid $button-color-text;
      padding-right: 65px;
    }

    &--title {
      margin-bottom: 20px;
    }

    &__info {
      margin-bottom: 180px;
    }

    &__info--link {
      display: block;
      color: $button-color-text;
      text-decoration: none;

      transition: all $time-animation;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $button-color-text;

    transition: all $time-animation;

    &:hover {
      text-decoration: underline;
    }
    
  }

  &__nav {
    display: flex;
    column-gap: 40px;
    border-top: 1px solid $button-color-text;
    border-bottom: none;

    padding-top: 40px;
    padding-bottom: 0;
    margin-bottom: 80px;

    @include onTablet {
      column-gap: 115px;
    }

    @include onDesktop {
      justify-content: space-between;
      border-top: none;
      column-gap: 0;

      margin-bottom: 0;
      padding-top: 0;
    }

    &--item {
      margin-right: 0;
    }
  }

  &__rights {
    text-align: center;

    font-weight: 300;
    font-size: 12px;
    line-height: 140.62%;
    color: $button-color-text;

    margin-bottom: 128px;

    &--designed {
      margin-bottom: 10px;
    }

    @include onTablet {
      display: flex;
      justify-content: space-between;

      margin-bottom: 36px;
    }
  }

  &__button {
    position: sticky;
    left: 250px;
  
    width: 50px;
    height: 50px;

    border: 1px solid #1a5a4c;
    border-radius: 50%;
    cursor: pointer;

    @include onTablet {
      display: none;
    }
  }
}
