.footer__links {
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 111px 20px 0;
    position: absolute;
    right: 0;
    left: 0;

    @include ontable {
      top: 0;
      margin: 380px 154px 0;
    }

    @include ondesktop {
      justify-content: left;
      margin: 0 0 0 756px;
    }

    &__position {
      display: flex;
      flex-direction: column;
      padding-bottom: 24px;
    }

    &__text {
      width: 130px;
      text-decoration: none;
      font-weight: 400;
      font-size: 14px;
      color: $main-black-color;

      @include ontable {
        width: 220px;
      }

      @include ondesktop {
        width: 170px;
      }
    }
}
