.form-field {
  display: block;
  width: 100%;
  height: 50px;
  border: 2px solid transparent;
  padding: 14px 32px;
  color: #000;
  background-color: #fff;

  &::placeholder {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #687480;
  }

  &:hover {
    background-color: #f9f0f4;
  }

  &:focus {
    box-shadow: inset 2px 2px 2px rgba(26, 90, 76, 0.25);
    outline: none;
  }

  @include onTablet {
    height: 70px;
  }
  
  @include onDesktop {
    height: 70px;
  }
}
