.form {
  display: grid;
  grid-template-columns: 230px 50px;
  align-items: center;

  &--header {
    @include onTablet {
      grid-column: 1;
      grid-template-columns: 200px 70px;
    }

    @include onDesktop {
      grid-column: 2;
    }
  }

  &--footer {
    &-link {
      grid-column: 2;

      display: flex;
      justify-content: center;
      align-items: center;

      border: none;
      height: 50px;
      width: 50px;
      background-color: $square-color-orange;

      @include onTablet {
        height: 70px;
        width: 70px;
      }
    }

    @include onTablet {
      grid-column: 2 / 6;
      grid-template-columns: 374px 70px;
      grid-row-start: 4;
      column-gap: 40px;
    }

    @include onDesktop {
      grid-column: 4 / 10;
    }
  }

  &__input {
    height: 44px;
    width: 230px;
    outline: none;
    color: $text-color-main;
    font-family: $font-family-secondary;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    padding-left: 24px;

    &:-webkit-autofill {
      -webkit-text-fill-color: #fff;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px $text-color-main inset;
    }

    &--footer {
      &::placeholder {
        color: $text-color-grey;
        font-family: $font-family-secondary;
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        padding-left: 24px;
      }

      @include onTablet {
        width: 370px;
        height: 66px;
      }
    }
  }
}
