.form {
  display: flex;
  align-items: center;

  &__input {
    box-sizing: border-box;

    padding: 18px 24px;

    width: 230px;
    height: 50px;

    color: $mainTextColor;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 100%;

    outline: none;
    border: 2px solid transparent;

    transition: box-shadow $animationDuration, border-color $animationDuration;

    @include onTablet {
      margin-right: 16px;
      padding: 28px 24px;

      width: 374px;
      height: 70px;
    }

    @include onDesktop {
      margin-right: 30px;
      padding: 28px 32px;

      width: 470px;
    }

    &:hover {
      box-shadow: rgba(26, 90, 76, 0.25) 0 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
    }

    &:focus {
      border-color: $decorativeColor;
    }
  }

  &__button {
    display: grid;
    flex-grow: 1;
    align-content: center;

    box-sizing: border-box;

    color: $mainTextColor;
    background-color: $decorativeColor;
    border: 2px solid $decorativeColor;

    cursor: pointer;

    transition: background-color $animationDuration, color $animationDuration;

    &:hover {
      color: $decorativeColor;
      background-color: $mainTextColor;
    }
  }
}
