.form {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  @include onTablet {
    margin-top: 64px;
  }

  @include onDesktop {
    margin-top: 72px;
  }

  &__field {
    width: 100%;
    height: $size-btn-small;
    padding-left: 24px;
    border: none;
    outline: none;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $c-grey;

    @include onTablet {
      margin-right: 16px;
      height: $size-btn-big;
    }

    @include onDesktop {
      padding-left: 32px;
      margin-right: 30px;
    }
  }
}
