.from-classicism-to-romanticism {
  background-image: url(../images/backgrounds/from-classicism-to-romanticism--mobile.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 210px;
  margin-bottom: 85px;

  @include onTable {
    background-image: url(../images/backgrounds/from-classicism-to-romanticism--table.png);

    height: 390px;
    margin-bottom: 85px;
  }

  @include onDesktop {
    background-image: url(../images/backgrounds/from-classicism-to-romanticism.png);

    height: 550px;
    margin-bottom: 104px;
  }

  &__content {
    position: relative;
    top: 153px;
    left: 50%;
    transform: translate(-50%);

    background-color: $from-classicism-to-romanticism-background-color;
    box-shadow: 02px 0 0 rgba(26, 90, 76, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 20px;

    width: 280px;
    height: 140px;

    @include onTable() {
      top: 306px;

      width: 570px;
      height: 204px;
    }

    @include onDesktop() {
      top: 448px;
    }
  }

  &__event-description {
    padding-inline: 21px;

    @include onTable() {
      padding-inline: 55px;
    }
  }

  &__title {
    text-align: center;

    @include onTable() {
      padding-inline: 55px;
      text-align: start;
    }
  }
}
