.from-classicism-to-romanticism {
  position: relative;
  margin-bottom: 100px;
  min-height: 293px;

  @include on-tablet {
    min-height: 510px;
    margin-bottom: 88px;
  }

  @include on-desktop {
    min-height: 652px;
    margin-bottom: 200px;
  }

  &__background {
    background-image: url(../images/bg-img/classicism-to-romant-bg/from-classicism_bg_mobile_2x.png);
    background-size: cover;
    background-position: center;

    height: 210px;

    position: absolute;
    left: 50%;
    right: 50%;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;

    z-index: -1;

    @include on-tablet {
      margin: 0;
      position: relative;
      top: 0;
      right: 0;
      left: 0;

      background-image: url(../images/bg-img/classicism-to-romant-bg/from-classicism_bg_tablet_2x.png);
      height: 390px;
      width: 100%;
    }

    @include on-desktop {
      background-image: url(../images/bg-img/classicism-to-romant-bg/from-classicism_bg_desktop_1.5x.png);
      height: 550px;

      position: absolute;
      left: 50%;
      right: 50%;
      width: 100vw;
      margin-left: -50vw;
      margin-right: -50vw;
    }
  }

  &__content {
    background-color: $white-color-main;
    z-index: 1;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    right: 0;
    margin-top: 153px;
    margin-inline: auto;
    width: 280px;

    padding-block: 20px;

    box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);

    @include hover(transform, scale(1.04));

    @include on-tablet {
      position: relative;
      margin-top: -84px;

      padding: 50px 55px;

      width: 400px;
      margin-bottom: 88px;
    }

    @include on-desktop {
      position: absolute;
      margin-top: 448px;
      padding: 50px 100px;
    }
  }

  &-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 20px;

    margin-bottom: 15px;

    @include on-tablet {
      justify-content: space-between;

      margin-bottom: 30px;
    }

    &-name {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;

      color: $hypnotic-color;

      @include on-tablet {
        width: 90px;
      }
    }

    &-number {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;

      color: $rousseau-green;
    }
  }

  &-title {
    font-size: 28px;
    line-height: 28px;
    color: $black-second-color;
    text-align: center;

    display: flex;
    align-items: center;

    @include on-tablet {
      text-align: left;
    }
  }
}
