.from-romantism {

  @include onTablet {
    padding: 40px 0;
  }

  @include onDesktop {
    padding: 0;
  }

  &__info-block {
    box-sizing: border-box;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    width: 280px;
    padding: 24px;
    background-color: $main-bg;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

    @include onTablet {
      width: 570px;
      padding: 45px 55px 50px;
    }

    @include onDesktop {
      padding: 45px 100px 50px;
    }
  }

  &__img {
    width: 100%;
    height: 210px;

    @include onTablet {
      height: 390px;
    }

    @include onDesktop {
      height: 550px;
    }
  }

  &__type {
    margin: 0;
    display: grid;
    text-transform: uppercase;
    @extend %ibm;
    @include text-decoration ($font-w-m, $font-s-m, $lh2, $color-3);

    @include onTablet {
      @include text-decoration ($font-w-m, $font-s-s, $lh1, $color-3);
    }
  }

  &__date {
    margin: 0;
    display: grid;
    justify-content: end;
    width: max-content;
    @extend %ibm;
    @include text-decoration ($font-w-xl, $font-s-m, $lh8, $second-bg);

    @include onTablet {
      @include text-decoration ($font-w-xl, $font-s-s, $lh6, $second-bg);
    }
  }

  &__subtitle {
    margin: 0;
    text-align: center;
    display: grid;
    grid-column: 1/3;
  }

  &__subtitle-link {
    text-decoration: none;
    @extend %montserrat;
    @include text-decoration ($font-w-s, $font-t-s-xxs, $lh10, $color-2);

    @include onTablet {
      text-align: left;
      @include text-decoration ($font-w-s, $font-t-s-s, $lh12, $color-2);
    }
  }
}
