.from-classicism {
  width: 100vw;
  overflow: hidden;
  justify-self: center;

  &__picture {
    display: block;
    width: 100%;

    &--100vw {
      object-fit: cover;
      object-position: center;
      width: 100vw;
      height: calc(100vw * 0.54);
    }
  }

  &__block {
    box-sizing: border-box;
    position: relative;
    height: 140px;

    @include on-tablet {
      height: 204px;
      display: flex;
      justify-content: center;
    }
  }

  &__content {
    position: absolute;
    top: -40%;
    background-color: rgba(255, 255, 255, 1);
    min-width: 280px;
    width: 100%;
    padding-block: 20px;
    box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);

    @include on-tablet {
      width: 570px;
      padding: 45px 55px 50px;
    }

    @include on-desktop {
      padding-inline: 100px;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    font-family: 'IBM Plex Sans';
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 20px;

    @include on-tablet {
      margin-bottom: 16px;
      column-gap: 130px;
    }
  }

  &__name {
    font-weight: 500;
    color: rgba(104, 116, 128, 1);
    text-transform: uppercase;
  }

  &__date {
    font-weight: 700;
    color: rgba(26, 90, 76, 1);
  }

  &__title {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: $main-title-color;
    text-align: center;

    @include on-tablet {
      font-size: 36px;
    }
  }
}
