.galery-slider {
  overflow: hidden;

  @include onDesktop {
    display: none;
  }

  &--margin-bottom {
    margin-bottom: 100px;
  }

  &__title {
    margin-bottom: 40px;
    text-align: center;

    @include onTablet {
      margin-bottom: 48px;
      text-align: left;
    }
  }

  &__owl-carousel-slide {
    height: 480px;
  }

  &__owl-carousel-image {
    height: 100%;
    object-fit: cover;

    transition-duration: 300ms;

    &:hover {
      transform: scale(1.05);
    }
  }
}
