.gallery {
  @include maxWidth;
  margin-bottom: 100px;
  overflow: hidden;

  @include onTablet {
    margin-bottom: 92px;
    padding-right: 34px;
  }

  @include onDesktop {
    margin-bottom: 200px;
    @include paddingInline;
    @include gridPage;
  }

  &__title {
    grid-column: 1 / -1;

    @include onTablet {
      padding-left: 34px;
    }

    @include onTablet {
      padding-left: 0;
    }
  }
}
