.carousel-indicators {
  position: absolute;
  bottom: -70px;
}

.carousel-indicators li {
  background-color: #E0E0E0;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin-right: 5px;
}

.carousel-indicators .active {
  background-color: #1A5A4C;
}

.gallary {
  margin-bottom: 100px;

  @include on-desktop {
    margin-bottom: 200px;
  }

  &__title {
    text-align: center;
    color: #0F0E08;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 55px;
      text-align-last: left;
    }
  }

  &__swiper {
    display: block;
    margin: 0 auto;

    @include on-desktop {
      display: none;
    }
  }

  &__wrap {
    display: none;
    gap: 30px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @include on-desktop {
      display: grid;
    }
  }

  &__img {
    width: 280px;
    display: block;
    margin: 0 auto;

    @include on-tablet {
      width: 340px;
    }

    @include on-desktop {
      width: 100%;
      transition-duration: 1s;

      &:hover {
        transform: scale(1.1);
        opacity: 1;
        background: #EEE;
        border-radius: 10px;
        z-index: 10;
      }
    }
  }
}