.gallery-desktop-images {
  @extend .grid;
  display: none;

  @include onDesktop {
    display: grid;
    grid-template-rows: 600px 360px;
    row-gap: 30px;
  }

  &__image {
    width: 100%;
    height: 100%;

    &--1 {
      @extend .grid__item--desktop-1-4;
    }

    &--2 {
      @extend .grid__item--desktop-5-12;
    }

    &--3 {
      @extend .grid__item--desktop-1-8;
    }

    &--4 {
      @extend .grid__item--desktop-9-12;
    }
  }
}
