.gallery {
  &__title {
    margin: 0 0 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1;

    color: $mainDarkColor;

    @include onTablet {
      margin-bottom: 48px;
      font-size: 48px;
    }
  }
}
