html {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  background: $c-white;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 573px max-content max-content;

  @include onSmallTablet {
    grid-template-rows: 320px max-content max-content;
  }

  @include onBigTablet {
    grid-template-rows: 384px max-content max-content;
  }

  @include onDesktop {
    grid-template-rows: 100vh max-content max-content;
  }
}

input {
  margin-top: 5px;

  @include onDesktop {
    margin-top: 10px;
  }
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}
