.go-back {
  margin: 0;
  margin-bottom: 60px;

  @include on-tablet {
    margin-bottom: 64px;
  }

  @include on-desktop {
    display: flex;
    align-items: center;
    margin-bottom: 104px;
  }

  &__img {
    margin: 0;
    margin-bottom: 20px;
    width: 100%;

    @include on-tablet {
      margin-bottom: 40px;
    }

    @include on-desktop {
      height: 520px;
      width: 670px;
      margin-right: 130px;
    }
  }

  &__filling {
    @include on-desktop {
      margin-left: auto;
      width: 370px;
      height: 202px;
    }
  }

  &__exhibition {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 15px;

    @include on-tablet {
      width: 260px;
      margin-bottom: 30px;
    }

    &-title {
      margin: 0;
      font-family: IBM-Plex-Sans, sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      text-align: left;
      color: rgba(104, 116, 128, 1);

      @include on-tablet {
        line-height: 14px;
        font-size: 14px;
      }
    }

    &-date {
      margin: 0;
      font-family: IBM-Plex-Sans, sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      color: rgba(26, 90, 76, 1);

      @include on-tablet {
        line-height: 21px;
        font-size: 14px;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 34px;
    width: 280px;
    margin: 0;
    margin-bottom: 10px;

    @include on-tablet {
      width: 360px;
      margin-bottom: 15px;
    }

    &-text {
      margin: 0;
      font-family: Montserrat, sans-serif;
      font-size: 28px;
      line-height: 28px;
      text-align: left;
      letter-spacing: 2px;
      color: rgba(15, 14, 8, 1);

      @include on-tablet {
        font-size: 36px;
        line-height: 36px;
      }
    }

    &-rectangle {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      height: 10px;
      width: 10px;
      background-color: rgba(241, 74, 39, 1);

      @include on-tablet {
        height: 15px;
        width: 15px;
      }
    }
  }

  &__description {
    margin: 0;
    font-family: IBM-Plex-Sans, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: rgba(78, 78, 78, 1);

    @include on-tablet {
      width: 460px;
    }

    @include on-desktop {
      width: 370px;
    }
  }
}
