.go,
.dreams {
  padding-bottom: 60px;
  @include onDesktop {
    padding-bottom: 104px;
  }
  &__image {
    margin-bottom: 20px;
    @extend %imgProperty;
    width: 100%;
    height: 210px;
    @include onTablet {
      margin-bottom: 40px;
      height: 520px;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.05);
      }
    }
    @include onDesktop {
      margin: 0;
    }
  }

  &__description {
    @include onTablet {
      transition: all 0.5s;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    @include onTablet {
      justify-content: start;
      gap: 30px;
      margin-bottom: 30px;
    }
    
    &-text {
      font-weight: 500;
      color: #687480;
      text-transform: uppercase;
    }

    &-date {
      font-weight: 700;
      line-height: 150%;
      color: #1a5a4c;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: $black;
    &::after {
      content: "";
      display: inline-block;
      margin-left: 12px;
      width: 10px;
      height: 10px;
      background: #f14a27;
    }
    @include onTablet {
      margin-bottom: 15px;
      font-size: 36px;
    }
  }

  &__text {
    font-weight: 300;
    line-height: 150%;
    color: #4e4e4e;
    @include onTablet {
      width: 460px;
    }
    @include onDesktop {
      width: 100%;
    }
  }
}
