.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: max-content;
  grid-column-gap: 20px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 30px;
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(12, 1fr);
  }

  &--device {
    display: block;

    @media (min-width: 768px) {
      display: grid;
    }
  }

  &--header {
    grid-row: 1 / 1;
  }

  &__item {

    @for $start from 1 through 6 {
      @for $end from $start through 6 {
        &--onTab_#{$start}-#{$end} {
          @media (min-width: 768px) {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--onDesktop_#{$start}-#{$end} {
          @media (min-width: 1280px) {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    &--slider {
      grid-column-start: 7;

      @media (min-width: 1600px) {
        grid-column-start: 8;
      }
    }
  }
}
