.half-1 {
  min-height: 300px;
  background-image: url(../images/Natsionalnij-hudozhnij-muzej-Ukr.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__logo {
    grid-column: 2 / 3;
  }

  &__content {
    text-align: center;
    width: 100%;
    padding-top: 27px;
  }

  @media (min-width: 640px) {
    order: 2;
    min-height: 384px;

    &__logo {
      width: fit-content;

      margin-left: 40px;
    }

    &__content {
      text-align: left;
    }
  }

  @media (min-width: 1120px) {
    min-height: 665px;

    &__logo {
      font-size: 36px;
      line-height: 36px;
      margin-left: 10px;
    }
  }
}
