@use "./utils/mixins.scss" as *;

.hamburger {
  position: absolute;
  z-index: 100;
  top: 27px;
  left: 20px;
  cursor: pointer;

  @include for-tablet {
    top: 39px;
    left: 34px;
  }

  @include for-desktop {
    top: 39px;
    left: 55px;
  }
}

.closeIcon {
  display: none;
}
