.hat {
  display: flex;
  flex-direction: column;
  

  @include iPadMini {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 70px;
  }

  @include onDesctop {
    display: flex;
    flex-direction: row-reverse;
    
  }
}
