.header {
  position: relative;
  margin: 0;
  width: 100%;
  margin-bottom: 70px;

  @include on-tablet {
    margin-bottom: 88px;
  }

  @include on-desktop {
    height: 100vh;
    height: 100dvh;
  }

  &__logo {
    position: absolute;
    left: 45%;
    top: 9px;
    z-index: 1;

    @include hover(transform, scale(1.1));

    &--img {
      width: 55px;
      height: 61px;
    }

    @include on-tablet {
      left: 62%;
      top: 15px;
    }
    @include on-desktop {
      left: 50%;
      top: 15px;
    }
  }

  &__bg {
    background-image: url(../images/Natsionalnij-hudozhnij-muzej-Ukrayini-Kiyiv-10-1800x1200.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;

    @include on-tablet {
      position: absolute;
      top: 0;
      right: 0;
      width: 45%;
      height: 384px;
      /*grid-column: 4 / 7;*/
    }

    @include on-desktop {
      width: 55%;
      height: 655px;
      /*grid-column: 6 / 13;*/
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*padding-left: 20px;*/

    @include on-tablet {
      padding-top: 127px;
      gap: 38px;

      @include padding-inline;
    }

    @include on-desktop {
      padding-top: 206px;
      gap: 89px;
    }
  }

  &__title {
    color: rgba(0, 0, 0, 1);
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 45px;
    height: 93px;
    line-height: 100%;
    align-items: center;
    text-align: center;

    @include on-tablet {
      font-size: 54px;
      height: 130px;
      line-height: 120%;
      text-align: left;
    }

    @include on-desktop {
      font-size: 72px;
      height: 172px;
      line-height: 120%;
    }
  }

  &__tickets {
    margin: 0 auto;

    @include  on-tablet {
      margin: 0 auto 0 0;
    }

    @include on-desktop {
      margin: 0 auto 0 200px;
    }
  }
}
