.header {
  width: 100%;
  position: relative;
  margin-bottom: 70px;

  @include onTablet {
    height: 384px;
    padding-top: 0;
    margin-bottom: 88px;
  }

  @include onDesktop {
    height: 665px;
    margin-bottom: 200px;
    padding-top: 0;
  }

  &__content {
    width: 100%;
    padding-top: 320px;

    @include onTablet {
      padding-top: 127px;
      height: 384px;
    }

    @include onDesktop {
      padding-top: 320px;
      height: 665px;
    }
  }

  &__wrap {
    position: absolute;
    padding-top: 11px;
    background: url('../images/Museum.jpg') center/cover no-repeat;
    top: 0;
    left: 0;
    width: 320px;
    height: 300px;

    @include onTablet {
      padding: 11px 0 0 55px;
      left: auto;
      right: 0;
      width: 374px;
      height: 384px;
    }

    @include onDesktop {
      width: 645px;
      height: 100%;
    }
  }

  &__logo {
    display: block;
    margin: 0 auto;

    @include onTablet {
      margin: 0;
    }
  }

  &__humburger {
    position: absolute;
    z-index: 3;
    top: 11px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: 143px;
    }
  }

  &__title {
    color: #000;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;

    @include onTablet {
      text-align: left;
      margin-bottom: 40px;
    }

    @include onDesktop {
      font-size: 64px;
      margin-bottom: 90px;
    }
  }

  &__tickets {
    display: flex;

    @include onDesktop {
      justify-content: end;
      align-items: end;
    }

    &__btn {
      width: 280px;
      height: 50px;
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $green;
      background: #fff;
      z-index: 0;

      @include onTablet {
        width: 270px;
        height: 70px;
      }

      &-rigth {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: $green;

        @include onTablet {
          width: 70px;
          height: 70px;
        }
      }
    }

    &__text {
      color: #0F0E08;
      font-family: "IBM Plex Sans";
      font-size: 16px;
      font-weight: 500;
      line-height: 100%;
      padding: 20px 68px;
      margin: 0 auto;
    }
  }

  &__event {
    display: none;
    position: absolute;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    white-space: nowrap;
    padding-top: 90px;
    bottom: 0;

    color: #687480;
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-weight: 700;

    &:visited {
      color: #687480;
    }

    &::before {
      content: '';
      display: flex;
      position: absolute;
      height: 70px;
      width: 1px;
      right: 50%;
      top: 0;

      background: $green;
    }

    @include onTablet {}

    @include onDesktop {
      display: block;
    }
  }
}