.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0;

  @include onTablet {
    padding: 15px 0 0;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;

    &-menu {
      display: block;
      height: 12px;
      width: 18px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../images/nav/Vector-3.png);
      transition: transform $transition-speed;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: $c-text-title;
    text-align: center;
    text-transform: uppercase;
    text-shadow: $c-text-title-active 0 0 35px;
    transition: transform $transition-speed;

    &:hover {
      transform: scale(1.1);
    }

    &--footer {
      text-align: start;

      @include onTablet {
        margin-bottom: 62px;
      }
    }

    @include onTablet {
      height: 72px;
      width: 220px;

      &--footer {
        width: min-content;
      }
    }

    @include onDesktop {
      width: 170px;

      &--footer {
        width: min-content;
      }
    }

    &-title {
      color: $c-text-title;
      font-weight: 700;
      text-decoration: none;

      @include onTablet {
        font-size: $size-font-title-s;
        line-height: $size-font-title-s;
      }
    }
  }

  &__empt {
    width: 18px;
    height: 18px;
  }
}
