.header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 70px;
  font-family: "Montserrat", sans-serif;
  color: #0F0E08;

  @include onTablet {
    @include pageGrid;
    margin-bottom: 88px;
  }
  @include onLaptop {
    // height: 100vh;
    margin: 0 55px 200px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 5px;
    bottom: 0;
    width: 1px;
    height: 70px;
    display: none;
    background: #1a5a4c;
  }

  &::after {
    content: "ПОДІЇ";

    position: absolute;
    left: -15px;
    bottom: 100px;
    display: none;
    transform: rotate(-90deg);
    font-size: 14px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    line-height: 100%;
    color: #687480;
  }
  &::before,
  &::after {
    @include onLaptop {
      display: block;
    }
  }
  &__bg {
    position: relative;
    height: 300px;
    background-image: url('../images/header/header-bg.png');
    background-position: top;
    background-size: cover;

    @include onTablet {
      grid-column: 4 / -1;
      width: calc(100% + 34px);
      height: 384px;
      background-position: center;
    }
    @include onLaptop {
      height: 655px;
      width: calc(100% + 55px);
      grid-column: 7 / -1;
    }
  }

  &__logo {
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 61px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 100%;
    font-size: 30px;
    cursor: pointer;

    @include onTablet {
      font-size: 36px;
    }

    @include hover(scale, 1.2);
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-inline: 20px;

    @include onTablet {
      grid-row: 1;
      grid-column: 1 / 4;
      justify-content: flex-end;
      padding-inline: 0;
      align-items: flex-start;
      gap: 38px;
      margin-bottom: 20px;
      line-height: 120%;
    }

    @include onLaptop{
      grid-column: 1 / 7;
      justify-content: center;
      gap: 89px;
      margin: 0;
    }
  }

  &__title {
    height: fit-content;
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 700;
    line-height: 100%;
    color: #000;

    @include onTablet {
      text-align: left;
      font-size: 54px;
    }

    @include onLaptop {
      font-size: 72px;
    }
  }
  &__tickets {
    position: relative;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;

    border: 1px solid #1a5a4c;

    @include onTablet {
      width: 80%;
      height: 70px;
    }
    @include onLaptop {
      align-self: flex-end;
      width: 50%;
    }

    &-left {
      display: flex;
      justify-content: center;
      width: calc(100% - 70px);

      text-transform: uppercase;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 100%;

      @include hover(scale, 1.2)
    }
    &-right {
      position: absolute;
      right: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      height: fit-content;
      height: 100%;
      width: 50px;
      transition: all 0.3s ease-in-out;
      background-color: #1a5a4c;

      &:hover {
        background-color: transparent;
        border-left: 1px solid #1a5a4c;
      }

      &:hover .header__tickets-right-link::after {
        background-image: url('../images/icons/right-black.svg');
      }

      @include onTablet {
        height: 70px;
        width: 70px;
      }
      &:hover::after {
        transform: scale(2);
        transition-duration: 0.3s;
      }

      &-link {
        height: 24px;
        width: 24px;

        &::after {
          content: "";
          position: absolute;
          height: 24px;
          width: 24px;
          background-image: url('../images/icons/right.svg');
          // background-position: center;
          background-repeat: no-repeat;
          cursor: pointer;
        }
        @include hover(scale, 1.5)
      }
    }
  }
}

