.hero {
  &__img {
    width: 100%;
    height: 300px;
    background-image: url("../images/nationalArtMuseum.png");
    background-position: 70% 20%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

  &__heading {
    @extend %h1;
    text-align: center;
  }

  @media (min-width: 767px) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 9px;
    height: 384px;

    &__img {
      order: 2;
      width: 65%;
      height: 100%;
      background-position: center;
    }

    &__content {
      align-items: flex-end;
      justify-content: flex-end;
      width: 30%;
      padding-right: 0;
      gap: 40px;
    }

    &__heading {
      position: relative;
      right: -115px;
      text-align: left;
    }

    &__heading-clip {
      -webkit-text-stroke: 1px $letterColor;
      color: transparent;

    }
  }

  @media (min-width: 1279px) {
    height: 655px;
    align-items: center;

    &__heading {
      right: -150px;
    }

    &__content {
      position: relative;
      height: 100%;
      justify-content: center;
      gap: 80px;
      max-width: 488px;
    }

    &__button {
      margin-right: 63px;
    }
  }
}
