.hero {
  box-sizing: border-box;
  padding-top: 9px;
  height: 300px;
  display: flex;
  justify-content: center;
  background-image: url('../images/museum.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include on-tablet {
    justify-content: flex-start;
    padding-left: 80px;
    padding-top: 15px;
    width: 45%;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    height: 100%;
  }

  @include on-desktop {
    width: 50%;
  }
}
