@import '../utils/vars';

.hero {

  &__title {
    margin-top: 250px;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
  }

  &__tickets {
    margin-top: 20px;
    border: 1px solid #1a5a4c;
    height: 50px;
    position: relative;

    &-title {
      font-size: 16px;
      padding: 18px 130px 18px 80px;
    }

    &-arrow {
      position: absolute;
      right: 0;
      top: 0;
      background-color: #1a5a4c;
      width: 50px;
      height: 50px;
      background-image: url('../images/icons/arrow-right.svg');
      background-size: 30px 30px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
