.icon {
  display: block;

  width: 24px;
  height: 24px;

  @include hover(transform, scale($photo-scale));

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--arrow-black {
    width: 100%;
    height: 100%;
    background-image: url(/src/images/icons/icon-arrow-black.svg);
    background-size: 24px 24px;
  }

  &--facebook {
    background-image: url(/src/images/icons/icon-facebook.svg);
  }

  &--instagram {
    background-image: url(/src/images/icons/icon-instagram.svg);
  }

  &--close {
    background-image: url(/src/images/icons/icon-close.svg);
  }

  &--arrow {
    width: 100%;
    height: 100%;
    background-image: url(/src/images/icons/icon-arrow.svg);
    background-size: 24px 24px;
  }

  &--menu {
    background-image: url(/src/images/icons/icon-menu.svg);

    &:active {
      .menu {
        z-index: 1000;
        transform: translateY(0);
      }
    }
  }
  &--arrow-up {
    width: 100%;
    height: 100%;
    background-image: url(/src/images/icons/icon-arrow-up.svg);
    background-size: 16px 16px;
  }
}
