.icon {
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  width: $size-icon-top;
  height: $size-icon-top;

  @include hover (transform, scale(1.05));

  &--size-footer {
    width: 24px;
    height: 24px;
  }

  &--burger {
    background-image: url(../images/menu-open.svg);
  }

  &--cross {
    background-image: url(../images/menu-close.svg);
  }

  &--facebook {
    background-image: url(../images/facebook.svg);
  }

  &--instagram {
    background-image: url(../images/instagram.svg);
  }
}
