.icons {
  display: block;
  width: 24px;
  height: 24px;

  &--menu {
    background-image: url(/images/icons/burger-menu.svg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--cross {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    background-image: url(/images/icons/cross.svg);
  }

  &--social {

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
  }

  &--fb {
    background-image: url(/images/icons/facebook.svg);
  }

  &--instagram {
    background-image: url(/images/icons/instagram.svg);
  }

  &--arrow-up {
    background-image: url(/images/icons/arrow-up.svg);
    height: 50px;
    width: 50px;
  }
}
