
.top-bar__logo-link {
  width: 55px;
  height: 61px;
  text-align: center;
  align-items: center;
  background-image: url(../images/namu-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include hover(transform, scale(1.2));

  @include onTablet {
    width: 220px;
    height: 71px;
  }

  @include onDesktop {
    width: 170px;
    height: 72px;
  }
}
  
.icon {
  display: block;
  background-image: url(../images/icons/burger-menu-icon.svg);
  background-repeat: no-repeat;
  padding: 3px;
  width: 24px;
  height: 24px;

  @include hover(transform, scale(1.3));
}

.menu__top-bar--parent {
  position: absolute;
  top: 27px;
  left: 20px;

  @include onTablet {
    top: 39px;
    left: 34px;
  }

  @include onDesktop {
    top: 40px;
    left: 56px;
  }
}

.icon-close {
  display: block;
  background-image: url(../images/icons/close-icon.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;

  @include hover(transform, scale(1.3));
}

.to-header {
  display: block;
  width: 62.9px;
  height: 72px;
  background-image: url(../images/namu-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include hover(transform, scale(1.2));
}

.footer-icons__facebook {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/facebook-icon.svg);
  
  @include hover(transform, scale(1.2));
}

.footer-icons__instagram {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/instagram-icon.svg);

  @include hover(transform, scale(1.2));
}
