.icon {
  margin: 33px 0 0 23px;
  background-size: cover;
  position: absolute;

  @include ontable {
    margin: 45px 0 0 37px;
  }

  @include ondesktop {
    margin: 45px 0 0 58px;
  }

  &--menu {
    cursor: pointer;
    background-image: url(../images/menu__burger.svg);
    width: 18px;
    height: 12px;
  }

  &--close {
    margin: 0;
    background-image: url(../images/close__menu.svg);
    width: 13px;
    height: 13px;
  }
}
