.icon {
  width: 18px;
  height: 12px;

  &--menu {
    background-image: url(../images/menu.svg);

    @include onTablet {
      position: fixed;
      top: 45px;
      left: 40px;
    }

    @include onDesktop {
      left: 55px;
    }
  }

  &--close {
    margin-top: 33px;
    height: 13px;

    background-image: url(../images/close.svg);
    background-repeat: no-repeat;

    @include onTablet {
      margin-bottom: 167px;
    }
  }
}
