.icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @include hover (all, translateY(-4px));

  &:hover {
    transform: translateY(-4px) scale(1.1);
  }
}
