$swiper-pagination-bottom: 12px;

.image-slider {
  @include on-desktop {
    position: absolute;
    overflow: hidden;
    display: none;
  }

  &__pagination .swiper-pagination-bullet {
    bottom: $swiper-pagination-bottom;
    width: 9px;
    height: 9px;
    background-color:#1A5A4C;
  }
}




