.info {
  font-size: 14px;
  line-height: 20px;
  color: $kindaBlack;

  &__wrapper {
    display: flex;
    flex-direction: column;

    @include forTablet {
      display: flex;
      flex-direction: row;
      justify-content: start;
    }
  }

  &__logo {
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @include forTablet {
      flex-direction: column;
      height: 152px;
      margin: 0 56px 0 0;
    }

    @include forDesktop {
      margin-right: 136px;
    }
  }

  &__media-networks {
    display: flex;
    justify-content: space-between;
    width: auto;
  }

  &__media-link {
    width: 24px;
    height: 24px;
    margin-right: 24px;

    transition: transform 0.3s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;

    @include forDesktop {
      flex-direction: row;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 72px;

    @include forTablet {
      justify-content: start;
      margin-bottom: 48px;
      gap: 0;
    }

    @include forDesktop {
      margin-bottom: 0;
    }
  }

  &__work-days,
  &__title,
  &__btn-container {
    margin-bottom: 20px;
  }

  &__schedule {
    width: 192px;
    
    @include forTablet {
      margin-right: 80px;
    }

    @include forDesktop {
      margin-right: 32px;
    }

    @include forExtraLargeDesktop {
      margin-right: 136px;
    }
  }

  &__work-time {
    font-weight: 600;
    display: inline-block;
  }

  &__contacts {
    width: 192px;

    @include forDesktop {
      margin-right: 64px;
    }

    @include forExtraLargeDesktop {
      margin-right: 112px;
    }
  }

  &__contacts-link {
    display: block;

    transition: all 0.3s;

    &:hover {
      color: $swampGreen;
      transform: translateX(5px);
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    bottom: 170px;
    margin-bottom: 24px;
    
    @include forTablet {
      display: none;
    }

    width: 50px;
    height: 50px;
    background-image: url(../images/arrow-up.png);
    background-size: 10px 12px;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 1px solid $swampGreen;
    border-radius: 50%;
    cursor: pointer;

    transition: all 0.3s;

    &:hover {
      background-color: $lightGrey;
      transform: translateY(-3px);
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    border-top: 1px solid rgba(26, 90, 76, 0.5);

    @include forTablet {
      padding-top: 48px;
      justify-content: start;
      
    }

    @include forDesktop {
      border-top: none;
      border-left: 1px solid rgba(26, 90, 76, 0.5);
      padding-top: 0;
      padding-left: 64px;
    }

    @include forExtraLargeDesktop {
      padding-left: 112px;
    }
  }

  &__menu-list {

    &:last-child {
      margin-right: 0;
    }

    @include forTablet {
      width: 192px;
      margin-right: 80px;
    }
    
    @include forDesktop {
      margin-right: 64px;
    }

    @include forExtraLargeDesktop {
      margin-right: 160px;
    }
  }

  &__menu-item {
    margin-bottom: 20px;

    transition: all 0.3s;

    &:hover {
      color: $swampGreen;
      transform: translateX(5px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
