.information {
  color: #fff;

  &__title {
    margin-bottom: 20px;color: #FFF;
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include onTablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__working-hours {
    color: #FFF;
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }

  &__days-off {
    color: #FFF;
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }
}
