.info {
  position: relative;

  &--title {
    line-height: 140%;
    font-weight: 400;
    padding-block: 50px 20px;
  }

  &--schedule {
    padding-bottom: 16px;
  }

  &::before {
    content: '';
    background-color: #fff;
    height: 1px;
    width: 100%;
    display: block;
    top: 24px;
    position: absolute;
  }
}
