.information {
  @include page-grid;
  @include content-padding-inline;

  &__top {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 2;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

  @include on-tablet {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 62px;
  }


    &-link {
      padding-right: 150px;
      text-decoration: none;

      @include on-tablet {
        padding: 0;
      }
    }

    &-image {
      height: 72px;
      transition: $effect-duration;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__icons {
    display: flex;
    flex-direction: row;
    gap: 20px;

    &-facebook {
      background-image: url(/src/images/main/information/facebook-logo.svg);
      transition: $effect-duration;

      &:hover {
        transform: scale(1.2);
      }
    }

    &-instagram {
      background-image: url(/src/images/main/information/instagram-logo.svg);
      transition: $effect-duration;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__button {
    grid-column: 1 / -1;
    position: relative;
    display: flex;
    justify-content: right;
    padding-bottom: 20px;

    @include on-tablet {
      padding-bottom: 64px;
      grid-column: 2 / 6;
    }

    @include on-desktop {
      grid-column: 7 / 8;
    }

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 100%;
      background-color: #1a5a4c;
      bottom: 0;

      @include on-tablet {
        width: 460px;
      }

      @include on-desktop {
        height: 100%;
        width: 1px;
        right: 50%;
      }
    }

    &-link {
      text-decoration: none;
    }

    &-arrow {
      height: 50px;
      width: 50px;
      padding: 17px;
      border: 1px solid #1a5a4c;
      border-radius: 50%;
      cursor: pointer;
      transition: $effect-duration;

      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        transform: scale(1.1);
      }

      @include on-tablet {
        display: none;
      }
    }
  }

  &__nav {
    padding-top: 40px;
    grid-column: 1/-1;

    @include on-tablet {
      padding-top: 64px;
      grid-column: 2/-2;
    }

    @include on-desktop {
      padding-top: 0;
      grid-column: 8/-1;
    }

    &__list {
      padding: 0;
      margin: 0;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 24px 28px;
    }

    &__item {
      position: relative;
      text-decoration: none;

      &::after {
        position: absolute;
        content: "";
        background-color: #fff;
        width: 100%;
        height: 1px;
        bottom: -5px;
        left: 0;
        transition: all .3s;
        transform: scale(0);
        transform-origin: center;
      }
    }

    &__link {
      text-decoration: none;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      text-align: left;
      color: #0f0e08;
      transition: $effect-duration;

      &:hover {
        color: #2980b9;
      }
    }
  }
}
