.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;

  @media (min-width: 1280px) {
    width: 361px;
  }

  @media (min-width: 1920px) {
    padding-top: 0;
  }

  &__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 280px;
    max-width: 728px;
    margin-bottom: 10px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;

    &--special {
      padding: 0 15px;
      margin-bottom: 10px;

      @media (min-width: 1280px) {
        width: 80%;
      }
    }
  }

  @media (min-width: 768px) {
    align-items: flex-start;
    margin-bottom: 30px;
  }

  &__exhibition {
    width: max-content;
    color: #687480;
    text-transform: uppercase;
  }

  &__date {
    width: max-content;
    font-weight: 700;
    color: #1a5a4c;
  }

  &__title {
    position: relative;
    width: max-content;
    text-align: left;
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 34px;
    font-weight: 400;
    color: #0f0e08;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      top: 15px;
      right: -20px;
      background-color: #f14a27;
    }

    @media (min-width: 768px) {
      margin-bottom: 15px;
    }

    @media (min-width: 1280px) {
      font-size: 36px;
    }
  }

  &__text {
    width: 100%;
    text-align: left;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #4e4e4e;

    @media (min-width: 768px) {
      width: 370px;
    }
  }

  &--special {
    align-items: center;
    width: 278px;
    height: 154px;
    padding: 25px 20px 34px;
    background-color: #fff;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
    border-bottom: 1px solid #eee;
    transform: translateY(-35%);

    @media (min-width: 1280px) {
      width: 570px;
      height: 204px;
      padding: 45px 100px 50px;
    }

    &__title {
      font-family: "Montserrat", sans-serif;
      text-align: center;
      margin-bottom: 10px;
      font-size: 28px;
      line-height: 34px;
      font-weight: 400;
      color: #0f0e08;
    }
  }
}
