.info-block {
  &__event {
    text-transform: uppercase;
    color: $font-color-side-block;
    font-family: $font-family2;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
  }

  &__data {
    color: $background-color1;
    font-family: $font-family2;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
  }

  &__title {
    color: $font-color;
    font-family: $font-family1;
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    width: fit-content;

    @include onTablet {
      font-size: 36px;
    }

    &--orange {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        background-color: $rectangle-color;
        height: 10px;
        width: 10px;

        left: calc(100% + 13px);
        top: 12px;

        @include onTablet {
          height: 15px;
          width: 15px;

          left: calc(100% + 23px);
        }
      }
    }
  }
}
