.input {
  display: flex;
  align-items: center;



  &__footer {
    width: 230px;
    height: 50px;
    margin: 0 0 0 20px;

    &::placeholder {
      padding-left: 24px;

    }
  }

  &__rectangle {
    width: 46px;
    height: 50px;
    border: 2px solid #F14A27;
    background: #F14A27;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__arrow {
    width: 24px;
    height: 24px;
  }
}
