/* .intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 100%;

  @include content-padding-inline;

  @include on-tablet {

    display: grid;
    grid-column: 1 / span 3;
    text-align: left;
  }

  @include on-desktop {
    grid-column: 1 / span 5;
    margin-bottom: 200px;
  }

  &__title {
    margin: 0;
    font-family: $font-secondary;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;

    @include on-tablet {
      font-size: 54px;
      text-align: left;
    }

    @include on-desktop {
      max-width: 470px;
    }
  }

  &__cta-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    border: 2px solid $green-color;
    background-color: white;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    width: fit-content;

    @include on-tablet {
      width: 270px;
    }

    @include on-desktop {
      display: grid;
      grid-column: 3 / span 3;
    }

    &:hover {
      background-color: $green-color;
      color: white;
      transform: scale(1.05);
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      color: inherit;
      width: 100%;
    }

    &__text {
      font-size: inherit;
      font-weight: inherit;
      color: #0f0e08;
      padding: 18px 80px;

      @include on-tablet {
        padding: 27px 68px;
      }
    }

    &__icon {
      width: 50px;
      height: 50px;
      padding: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @include on-tablet {
        width: 70px;
        height: 70px;
      }

      &__icon:target {
        filter: invert(1);
      }
    }
  }
}

.intro__footnote {
  display: none;
  transform: translate(0);

  @include on-desktop {
    display: flex;
    justify-content: space-between;

    &__footnote-line {
      width: 7px;
      height: 70px;
      background-color: $green-color(--green-color);
    }

    &__footnote-name {
      font-family: $font-secondary;
      font-size: 14px;
      line-height: 14px;
      transform: rotate(90deg);
      transform-origin: left top;
      white-space: nowrap;
    }
  }
}
 */
