.ivent {
  &__title {
    @include h2-pageTitle;
  }

  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-width: 280px;
    min-height: 210px;

    margin-bottom: 20px;

    @include onTablet {
      min-width: 700px;
      min-height: 520px;
    }

    @include onDesktop {
      min-width: 550px;
      min-height: 520px;
    }

    &--1 {
      background-image: url(../images/photo/ivent_photo-1.jpg);
    }

    &--2 {
      background-image: url(../images/photo/ivent_photo-2.jpg);
    }

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 104px;
    }

    transition: all 0.5s;

    &:hover {
      scale: 110%;
    }
  }

  &__desk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 520px;

    margin-bottom: 60px;

    &-time {
      display: flex;
      gap: 15px;
      align-items: center;

      margin-bottom: 15px;

      &-iventName {
        font-family: "IBM Plex Sans", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: $greyColor;
        text-transform: uppercase;
      }

      &-date {
        font-family: "IBM Plex Sans", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: $greenColor;
      }

      @include onTablet {
        font-size: 14px;
        margin-bottom: 32px;
      }

      @include onDesktop {
        font-size: 14px;
        margin-bottom: 32px;
      }
    }

    &-title {
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
      color: $blackTextColor;
      white-space: nowrap;
      position: relative;
      display: block;
    }

    &-title-container {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 15px;
    }

    &-squere {
      width: 10px;
      height: 10px;
      background-color: #f14a27;
      margin-top: 5px;

      @include onTablet {
        width: 15px;
        height: 15px;
      }

      @include onDesktop {
        width: 15px;
        height: 15px;
      }

      @include onTablet {
        font-size: 36px;
      }

      @include onDesktop {
        font-size: 36px;
      }
    }

    &-paragraf {
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      color: $paragrafColor;
    }

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__bottom {
    width: 100%;
    min-height: 210px;
    background-image: url(../images/photo/ivent_photo-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    margin-bottom: 180px;

    @include onTablet {
      min-height: 390px;
      margin-bottom: 210px;
    }

    @include onDesktop {
      min-height: 550px;
      margin-bottom: 300px;
    }

    &-card {
      width: 280px;
      height: 140px;
      background-color: $whiteBg;
      box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
      margin: 0 auto;
      position: relative;
      top: 150px;

      @include onTablet {
        width: 570px;
        height: 204px;
        top: 320px;
      }

      @include onDesktop {
        width: 570px;
        height: 204px;
        top: 430px;
      }

      &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 20px 0;

        @include onTablet {
          padding: 45px 100px;
        }

        @include onDesktop {
          padding: 45px 100px;
        }
      }

      &-time {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 30px;

        margin-bottom: 16px;

        @include onTablet {
          justify-content: space-around;
          gap: 130px;
        }

        @include onDesktop {
          font-size: 14px;
        }

        &-iventName {
          font-family: "IBM Plex Sans", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          color: #687480;

          @include onTablet {
            font-size: 14px;
          }

          @include onDesktop {
            font-size: 14px;
          }
        }

        &-date {
          font-family: "IBM Plex Sans", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 150%;
          color: #1a5a4c;

          @include onTablet {
            font-size: 14px;
          }

          @include onDesktop {
            font-size: 14px;
          }
        }
      }

      &-title {
        font-weight: 400;
        font-size: 28px;
        line-height: 100%;
        color: $blackTextColor;
        text-align: center;

        @include onTablet {
          font-size: 36px;
        }

        @include onDesktop {
          font-size: 36px;
        }
      }
    }
  }
}
