.ivents {
  &__tittle {
    color: $second-text-color;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 40px;

    @include onTablet {
      font-size: 48px;
      text-align: left;
      padding-bottom: 48px;
    }

    @include onSmallDesktop {
      padding-bottom: 56px;
    }
  }
}
