.lecture {
  position: relative;

  &__image {
    background-image: url("../images/Lecture-sm.jpg");
    padding: 33% 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 183px;

    @media (min-width: 600px) and (max-width: 900px) {
      margin: 0 20px 183px;
    }

    @include onDasktop {
      background-image: url("../images/Lecture.jpg");
      padding: 22% 0;
    }
  }

  &__info {
    position: absolute;
    background-color: #fff;
    padding: 24px 0;
    text-align: center;
    bottom: -90px;
    border-bottom: 2px solid #c6d6d2;
    min-width: 280px;
    left: 50%;
    transform: translateX(-50%);

    @include onTablet {
      left: 50%;
      transform: translateX(-50%);
    }

    @include onDasktop {
      left: 50%;
      transform: translateX(-50%);
      bottom: -15%;
    }
  }

  &__content {
    margin-bottom: 26px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include onTablet {
      justify-content: space-between;
      margin-left: 55px;
      margin-right: 27%;
    }

    @include onDasktop {
      justify-content: space-between;
      margin-left: 100px;
      margin-right: 27%;
    }
  }

  &__info-title {
    font-family: $plex-sasns;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #687480;

  }

  &__info-dates {
    font-family: $plex-sasns;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #1a5a4c;
  }

  &__text-title {
    font-family: $montserrat;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #0f0e08;
    min-width: 279px;

    @include onDasktop {
      max-width: 459px;
      font-size: 36px;
      text-align: left;
      margin: 0 100px;
    }

    @include onTablet {
      margin: 0 55px;
      max-width: 459px;
      text-align: left;
      font-size: 36px;
      min-width: 363px;
    }
  }
}
