.lectures {
  &__background {
    background-image: url(../images/lecture.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50%;

    @include onTablet {
      margin: 0 39px;
    }

    @include onDesktop {
      margin: 0;
    }
  }

  &__container {
    position: relative;
    transform: translateY(-40%);

    background-color: $whiteColor;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

    @include onTablet {
      width: 570px;
      margin: 0 auto;
      padding: 0 55px;
    }

    @include onDesktop {
      padding: 0 100px;
    }
  }

  &__date {
    padding: 20px 20px 0;
    margin-bottom: 20px;

    @include onTablet {
      padding: 45px 0 0;
    }
  }

  &__title {
    margin: 0 0 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
    text-align: center;
    color: $mainDarkColor;

    @include onTablet {
      margin-bottom: 50px;
      font-size: 36px;
      text-align: left;
    }
  }
}
