.lections {
  margin-bottom: 60px;

  @include onTablet {
    padding: 0 34px;
    margin-bottom: 30px;
  }
  
  @include onDesktop {
    padding: 0;
    margin-bottom: 100px;
  }

  &__poster {
    height: 210px;
    background-image: url("../images/blocks/history/img-1.png");
    background-repeat: no-repeat;
    background-size: cover;

    @include onTablet {
      height: 390px;
    }
  }

  &__info {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 140px;
    background-color: $white;
    transform: translateY(-50%);

    @include onTablet {
      width: 570px;
      height: 204px;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 20px 21px;

      @include onTablet {
        padding: 45px 55px 23px;
      }
    }
  }

  &__title {
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid rgba(26, 90, 76, 0.25);

    @include onTablet {
      padding-bottom: 50px;
    }
  }

  &__type {
    margin-bottom: 15px;
    color: $greyBoldText;
    font-weight: 500;
    line-height: 150%;
  }

  &__schedule {
    color: $green;
    font-weight: 700;
    line-height: 150%;
  }
}
