.lectures {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/lectures/lectures_mob-fon.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  margin-bottom: 100px;

  @include onTablet {
    background-image: url(../images/lectures/Lectures_tablet-fon.png);
    min-height: 550px;
  }

  @include onDesktop {
    margin-bottom: 200px;
  }

  &__link {
    display: block;
    text-decoration: none;
    background-color: #fff;

    max-width: 504px;
    height: 140px;
    max-height: 204px;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
    padding: 20px 0;
    margin: 0 auto;

    transform: translateY(70%);
    box-sizing: border-box;

    @include onTablet {
      height: 204px;
      width: 504px;
      padding: 45px 55px 20px;
    }

    @include onDesktop {
      transform: translateY(150%);
    }
  }

  &__visit {
    display: flex;
    justify-content: center;

    @include onTablet {
      justify-content: space-between;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #687480;
    padding-right: 20px;
    text-transform: uppercase;
  }

  &__date {
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: #1a5a4c;
  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #0f0e08;
    text-align: center;

    @include onTablet {
      text-align: left;
    }

    &:hover {
      color: cornflowerblue;
    }
  }
}
