.lections {

  &__photo-container {
    position: relative;
    width: 100%;
    height: 210px;

    @include onTablet {
      height: 390px;
    }

    @include onDesktop {
      height: 550px;
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  &__info-container {
    margin: 0 20px 60px;

    position: relative;
    bottom: 60px;
    height: 140px;
    background-color: #fff;
    box-shadow: 0 2px 0 0 #1a5a4c40;

    @include onTablet {
      margin: 0 100px 28px;
      height: 204px;
    }

    @include onDesktop {
      margin: 0 355px 140px;
      height: 204px;
    }
  }

  &__type-n-date {
    padding: 20px 0;

    display: flex;
    justify-content: space-around;
    align-items: baseline;

    font-size: 16px;

    @include onTablet {
      padding: 45px 0 24px;
      font-size: 14px;
    }
  }

  &__type {
    text-transform: uppercase;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: inherit;
    line-height: 16px;
    color: #687480;
  }

  &__date {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: inherit;
    line-height: 24px;
    color: #1a5a4c;
  }

  &__theme {

    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;

    @include onTablet {
      font-size: 36px;
      line-height: 36px;
    }

    @include onDesktop {
      font-size: 36px;
      line-height: 36px;
    }
  }
}
