.lection {
  display: flex;
  justify-content: center;

  &__wrapper {
    background-color: $color-white;
    width: 100%;
    padding-block: 20px;
    box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);
    transform: translateY(-50%);

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      width: 570px;
    }
  }

  &__info {
    font-family: 'IBM Plex Sans', sans-serif;
    margin-inline: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      margin: 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: #687480;
    }

    &-date {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #1a5a4c;
    }
  }

  &__title {
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #0f0e08;
  }
}
