.lecture-announcement {
  width: 280px;
  height: 140px;

  background-color: #fff;
  box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

  padding: 20px 0;

  @include onTablet {
    width: 570px;
    height: 204px;
    padding: 45px 55px 50px;
  }

  @include onDesktop {
    padding: 45px 100px 50px;
  }

  &__subtitle {
    margin: 0 20px 24px;

    @include onTablet {
      margin: 0 0 16px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;

    text-align: center;
    color: $blackColor;

    @include onTablet {
      font-size: 36px;
      text-align: left;
    }
  }
}
