.lection-card {
  &__details {
    margin-bottom: 20px;
  }

  &__background {
    width: 100%;
    height: 210px;
    background-image: url(../images/lecture.png);
    background-size: cover;
    background-position: bottom;

    @include on-tablet {
      height: 290px;
    }

    @include on-desktop {
      height: 550px;
    }

    @include on-large-screen {
      height: 675px;
    }
  }

  &__name {
    font-weight: normal;
    font-size: 28px;
    line-height: 100%;
    color: $text-color;
    text-align: center;

    @include on-tablet {
      font-size: 36px;
    }
  }

  &__link {
    &:hover {
      color: $accent-color;
    }
  }

  &__lection-info {
    box-sizing: border-box;
    z-index: 1;
    position: relative;
    bottom: 60px;
    height: 150px;
    padding: 25px 20px;

    text-align: center;

    background-color: #fff;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

    @include on-tablet {
      bottom: 85px;
      max-width: 570px;
      height: 200px;
      padding: 45px 100px;
    }
  }
}
