.lecture {
  position: relative;
  margin-bottom: 200px;

  &__img {
    padding: 0;
    height: 210px;
    width: 100%;
    object-fit: cover;
  }

  &__info {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    width: 278px;
    height: 154px;
    background-color: #fff;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
  }

  &__date-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 20px 15px;
  }

  &__name {
    @include secondaryText;
    font-weight: 500;
    font-size: 16px;
    color: $colorGray;
  }

  &__date {
    @include secondaryText;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: $colorForDate;
  }

  &__title-text {
    margin: 0 20px 34px;

    @include firstText;
    font-weight: normal;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
    color: $colorTitleAndFooter;
  }
}
