.lection {
  &__image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 210px;

    @include onTablet {
      padding-inline: 39px;
      width: calc(100% - 2 * 39px);
      height: 390px;
    }

    @include onDesktop {
      padding-inline: 0;
      width: 100%;
      height: 550px;
    }
  }

  &__content {
    @include pageGrid;
  }

  &__description {
    grid-column: 1 / -1;
    margin-top: 153px;

    @include onTablet {
      margin-top: 306px;
      margin-inline: 65px;
    }

    @include onDesktop {
      grid-column: 4 / -4;
      margin-top: 418px;
      margin-inline: 0;
    }
  }
}
