@import '../utils/mixins';

.lection {
  margin-top: 60px;
  position: relative;
  text-align: center;

  &_back {
    width: 100%;
    display: block;

    @include onTablet {
      max-height: 390px;
    }

    @include onDesktop {
      max-height: 550px;
    }
  }

  &_date {
    width: 280px;
    background-color: #fff;
    border-bottom: 2px solid #1a5a4c40;
    position: absolute;
    left: 50%;
    top: 153px;
    transform: translateX(-50%);
    height: 140px;

    @include onTablet {
      width: 570px;
      height: 204px;
      top: 306px;
      padding: 45px 55px 50px;
      box-sizing: border-box;
    }

    @include onDesktop {
      top: 448px;
      padding: 45px 100px 50px;
      box-sizing: border-box;
    }

    &-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px 21px 0;

      @include onTablet {
        padding: 0;
      }

      &-text {
        margin: 0;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #687480;

        @include onTablet {
          font-size: 14px;
        }
      }

      &-time {
        margin: 0;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #1a5a4c;

        @include onTablet {
          font-size: 14px;
        }
      }
    }

    &-bottom {
      font-family: Montserrat, sans-serif;
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      color: #0f0e08;
      margin: 0;
      margin-top: 20px;

      @include onTablet {
        font-size: 36px;
        text-align: start;
      }
    }
  }
}
