.lecture {
  margin: 0 auto 45px;

  width: 280px;
  height: 140px;
  background: $c-white;
  transform: translateY(-40%);
  box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

  @include onTablet {
    margin: 0 auto 38px;
    width: 570px;
    height: 204px;
  }

  @include onLaptop {
    margin: 0 auto 98px;

    transform: translateY(-50%);
  }

  &__items {
    padding: 20px 0;

    @include onTablet {
      margin-left: 55px;

      padding: 45px 0 23px;
    }

    @include onLaptop {
      margin-left: 100px;

    }
  }

  &__date {
    margin: 0 auto 24px;

    max-width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      margin: 0 0 24px;
      max-width: 375px;
    }

    @include onLaptop {
      max-width: 335px;

    }

    &--title {
      margin: 0;

      font-size: 16px;
      text-transform: uppercase;
      color: $c-lightgrey;

      @include title4_500_100;

      @include onTablet {
        font-size: 14px;
      }
    }

    &--item {
      font-size: 16px;

      @include title4_700_150_green;

      @include onTablet {
        font-size: 14px;
      }
    }
  }

  &__subtitle {
    margin: 0 auto;

    font-size: 28px;
    text-align: center;

    @include title3_400_100;

    @include onTablet {
      margin: 0;

      max-width: 460px;
      font-size: 36px;
      text-align: left;
    }
  }
}
