.left-side-mark {
  display: none;
  position: absolute;
  bottom: 0;

  transform-origin: top left;
  transform: rotate(-90deg);
  width: fit-content;
  text-decoration: none;

  @include onDesktop {
    display: flex;
  }

  &__line {
    height: 1px;
    width: 70px;
    align-self: center;
    background-color: $mainGreen;
  }

  &__text {
    margin-left: 20px;

    font-family: "IBM Plex Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    color: #687480;
    text-transform: uppercase;
  }
}

.grid--left-side-mark {
  grid-row: 2 / 3;
  position: relative;
}
