.lesson {
  background:center/ cover no-repeat url(../images/3.png);
  height: 210px;

  @include onTablet {
    margin: 0 34px;
    height: 390px;
  }

  @include onDesktop {
    margin: 0;
    height: 550px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    height: 100%;
  }

  &__body {
    max-width: 570px;
    background-color: #fff;
    box-shadow: 0px 2px 0px rgba(26, 90, 76, 0.25);

    transform: translateY(50%);
  }

  &__row {
    padding: 20px;

    @include onTablet {
      padding: 45px 55px 20px;
    }

    @include onDesktop {
      padding: 45px 100px 20px;
    }
  }

  &__title {
    text-align: center;
    padding-bottom: 20px;

    @include onTablet {
      padding: 0 55px 50px;
      text-align: left;
    }

    @include onDesktop {
      padding: 0 55px 100px;
    }
  }
}
