.line {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: -100px;
  margin-bottom: -140px;

  &__horizontal {
    width: 1px;
    height: 280px;
    transform: rotate(-90deg);
    color: #1a5a4c80;
    background-color: #1a5a4c80;
    border: 0px;

    &--white {
      color: #fff;
      background-color: #fff;
      margin-top: -24px;
    }
  }
}
