.link {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}
.new-link {
  text-decoration: none;
  color: inherit;

    &:hover {
      transform: scale(1.1);
    }
}
