$link-height: 52px;
$tablet-desktop-link: 72px;

.link {
  display: flex;
  justify-content: space-between;
  min-width: 280px;
  width: 100%;
  height: $link-height;
  border: 1px solid $green-color;
  cursor: pointer;

  @include onTabletAndDesktop() {
    max-width: 270px;
    height: $tablet-desktop-link;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $link-height;
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    color: $accent-text-color;

    @include onTabletAndDesktop() {
      height: $tablet-desktop-link;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
    background-color: $green-color;

    @include onTabletAndDesktop() {
      min-width: 70px;
    }
  }
}
