@use "./utils/_mixins.scss" as *;

.links {

  &__list {
    display: grid;
    grid-template-columns: 130px 130px;
    gap: 20px;

    @include forTablet {
      grid-template-columns: repeat(2, 220px);
    }
  }

  &__link {
    color: #0f0e08;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-decoration: none;
  }
}
