.links {
  @include onTablet {
    grid-column: 2 / 6;
  }

  @include onSmallDesktop {
    grid-column: 8 / 13;
  }
  &__content {
    @include pageGrid;
    padding: 0;
    margin: 0;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onSmallDesktop {
      grid-column: 1 / 6;
    }

    &--second {
      @include onTablet {
        grid-column: 4 / 6;
      }

      @include onSmallDesktop {
        grid-column: 6 / 12;
      }
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $second-text-color;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 14px;
    padding-bottom: 20px;
    transition: 0.4s ease-in-out;

    &:hover {
      color: $main-item-color;
    }
  }
}
