.link-one {
  text-decoration: none;

  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #687480;

  &:hover {
    color: $colorOrange;
  }

  @include onTablet {
    font-size: 14px;
    line-height: 14px;

    padding-top: 3px;
    margin-right: 20px;
  }
}
