.links {
  margin-bottom: 80px;

  &__list {
    list-style: none;
    @include pageGrid;
    grid-column: 1/-1;
    gap: 20px;
    padding: 0;
  }

  &__item {
    grid-column: span 1;
  }

  &__link {
    text-decoration: none;
    color: $main-title-color;
    font-family: 'IBM Plex Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;

    @include transition;

    &:hover {
      color: $background-color;
    }
  }
}
