.list-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  list-style: none;
  
  &__item {
    padding-bottom: 24px;

    &--footer {
      padding-bottom: 20px;
    }
  }
  
  &__link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    &--footer {
      color: $colorBlack;
    }
  }
}
