.logo-link {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
  text-decoration: none;
  color: #0f0e08;

  @include onTablet {
    font-size: 36px;
    text-align: center;
  }
}
