.logo {

  &__link {
    display: flex;
    width: 66px;
    height: 90%;

    @include On768 {
      margin: 0;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;

    @include On768 {
      margin: 0;
    }
  }

  &--not-mobile {
    display: none;

    @include On768 {
      display: flex;
      transform: translateY(14px);
    }
  }
}
