.logo {
  display: flex;
  width: 55px;
  height: 61px;

  @include onTablet {
    position: absolute;
    width: 63px;
    height: 72px;
    left: 70px;
  }

  @include onDesktop {
    left: 55px;
  }

  &--footer {
    position: relative;
    width: 63px;
    height: 72px;
    left: 0;
  }
}
