.logo-link {
  @extend %styleLogo;
  transition: transform $transitionTime;

  &:hover .logo-link--left {
    transform: translateX(-10%);
  }

  &:hover .logo-link--right {
    transform: translateX(10%);
  }
}
