.logo {
  display: block;
  justify-content: center;
  padding-top: 9px;

  &__img {
    width: 56px;
    height: 62px;
  }

  &__imgface {
    width: 12px;
    height: 24px;
  }

  &__imgins {
    width: 24px;
    height: 24px;
  }
}
