.mail {
  display: flex;
  margin: 0 20px 90px;

  @include iPadMini {
    display: flex;
    gap: 16px;
    margin-left: 154px;
  }

  @include onDesctop {
    margin: 0;
  }

  &__field {
    width: 230px;
    height: 50px;

    @include iPadMini {
      height: 70px;
      width: 374px;
    }

    @include onDesctop {
      width: 470px;
    }
  }

  &__field::placeholder {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #687480;
    padding-left: 24px;
  }

  &__button {
    width: 50px;
    background-color: #f14a27;

    @include iPadMini {
      width: 70px;
    }
  }
}
