.main__content {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  padding-top: 70px;

  @include on-tablet {
    row-gap: 88px;
    padding-top: 88px;
  }

  @include on-desktop {
    row-gap: 200px;
    padding-top: 200px;
  }
}
