.main {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;

  &__events {
    padding: 70px 0 60px;
  }

  &__event {
    display: flex;
    flex-direction: column;

    &--first {
      padding-bottom: 60px;
    }
  }

  &__title {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: $colorDark;
    text-align: center;
    padding-bottom: 40px;
    

    @include onTablet {
      font-size: 48px;
      line-height: 48px;
      text-align: left;
    }
  }

    &__lection {
      background-image: url("../images/sunset.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      height: 210px;
      margin-bottom: 197px;

      @include onTablet {
        height: 390px;
      }

      @include onNoteBook {
        height: 550px;
      }

      @include onDesktop {
        height: 619px;
      }

      @include onLargeScreen {
        height: 674px;
      }
    }

}