.main {
  @include page-grid;
  margin-top: 70px;

  h2 {
    grid-column: 1 / -1;
    font-size: 40px;
  }

  &__current-events-item-img {
    img {
      width: 280px;
      height: 210px;
    }
  }

  &__current-events-item-data {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    &-title {
      font-size: 16px;
      font-weight: 500;
      color: #687480;
    }

    &-time {
      font-size: 16px;
      font-weight: 600;
      color: #1a5a4c;
    }
  }
}
