.main-photo-footer {
  display: flex;

  &__container {
    background: url(../images/Rectangle_22.1.png) no-repeat center;
    background-size: cover;
    margin-top: 200px;
    margin-bottom: 51px;
    width: 120%;
    max-width: 2000px;
    height: 600px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    color: $c-white;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: $c-white;
    margin-bottom: 66px;

    @media only screen and (max-width: $tablet-m) {
      width: 280px;
      height: 54px;
      font-weight: 300;
      line-height: 150%;
      text-align: center;
    }
  }

  &__input-container {
    display: flex;

  }

  &__input {
    width: 470px;
    height: 70px;
    padding: 28px 35px;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    margin-right: 30px;

    @media only screen and (max-width: $tablet-m) {
      width: 233px;
      height: 50px;
      padding: 18px 31px;
      margin: 0;
    }
  }

  &__button {
    width: 70px;
    height: 70px;
    font-size: 24px;
    line-height: 100%;
    background-color: $c-special-red;
    border: none;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: -1px 1px 27px 7px #f1492779;
      cursor: pointer;
    }

    @media only screen and (max-width: $tablet-m) {
      width: 50px;
      height: 50px;
    }
  }
}
