.main {

  &__title {

    @include content-padding-inline;
    grid-column: 1 / -1;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 70px;

    @include on-tablet {
      text-align: left;
      margin-top: 88px;
      font-size: 48px;
    }

    @include on-desktop {
      margin-left: 55px;
      margin-top: 200px;
    }
  }
}
