.main-block {
  &__events {
    margin-left: $base-spaces-mobile;
    margin-right: $base-spaces-mobile;

    @include onTablet {
      margin-left: $base-spaces-tablet;
      margin-right: $base-spaces-tablet;
    }

    @include onDesctop {
      margin-left: $base-spaces-desctop;
      margin-right: $base-spaces-desctop;
    }
  }

  &__special-event {
    @include onDesctop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 30px;
    }
  }

  &__gallery {
    margin: 0 $base-spaces-mobile 100px;

    @include onTablet {
      margin: 0 $base-spaces-tablet 92px;
    }

    @include onDesctop {
      margin: 0 $base-spaces-desctop 200px;
    }
  }
}
