.title {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include onTablet {
    font-size: 55px;
    line-height: 55px;
    align-items: flex-start;
    width: 230px;
    margin-top: 140px;
  }

  @include onDesktop {
    font-size: 72px;
    line-height: 72px;
    width: 300px;
  }

  &__start {
    display: flex;
  }

  &__middle {
    @include onTablet {
      color: transparent;
      -webkit-text-stroke: 1px black;
    }
  }

  &__end {
    display: flex;
  }

}

.container-title {
  margin: 20px 0;

  @include onTablet {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
  }

  @include onDesktop {
    margin-bottom: 80px;
  }

}

.main {
  display: flex;
  flex-direction: column;
}

.container-main-title {
  display: flex;
  flex-direction: column;

  @include onTablet {
    width: 35%;
    justify-content: flex-end;
    padding-left: 40px;
  }

}
