.main {
  &__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__title-text {
    align-self: center;
    @extend %mainTitle;
    font-size: 45px;
  }

  &__select {
    margin: 0 auto 70px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__events {
    font-family: "Montserrat", sans-serif;
    margin: 0 20px 60px;

    @media (min-width: 768px) {
      margin: 90px 34px;
    }

    @media (min-width: 1280px) {
      margin: 200px 55px 100px;
    }

    @media (min-width: 1440px) {
      margin: 200px 136px 100px 134px;
    }

    @media (min-width: 1920px) {
      margin: 200px 175px 100px;
    }
  }

  &__gallery {
    margin: 0 20px;

    @media (min-width: 768px) {
      margin: 0 34px;
    }

    @media (min-width: 1280px) {
      margin: 0 55px;
    }

    @media (min-width: 1440px) {
      margin: 0 134px;
    }

    @media (min-width: 1920px) {
      margin: 0 175px;
    }
  }
}
