.main-content {

  &__events {
    margin-bottom: 183px;

    @include onTablet {
      margin-bottom: 208px;
    }

    @include onDesktop {
      margin-bottom: 302px;
    }
  }

  &__gallery {
    margin-bottom: 92px;

    @include onTablet {
      margin-bottom: 86px;
    }

    @include onDesktop {
      margin-bottom: 200px;
    }
  }

  &__title {
    text-align: center;
    font-size: 36px;

    margin: 0;
    margin-bottom: 40px;

    @include onTablet {
      text-align: start;
      font-size: 48px;
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin-bottom: 56px;
    }
  }
}
