.main {
  padding: 70px 20px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include onTablet {
    padding: 88px 0 0;
  }

  @include onDesktop {
    padding: 200px 0 0;
    align-items: start;
  }
}
