.main {
  padding: 0 20px;

  @media (min-width: 768px) {
    padding: 0 34px;
  }

  @media (min-width: 1280px) {
    padding: 0 55px;
    max-width: 1280px;
  }
  
  &__title {
    margin: 0 0 40px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    color: #0f0e08;

    @media (min-width: 768px) {
      text-align: left;
      font-size: 48px;
    }
  }

  &__section {
    margin: 0;
  }

  &__middle {
    box-sizing: unset;
    width: 100%;

    @media (max-width: 767px) {
      height: 210px;
      padding-bottom: 197px;
    }

    @media (min-width: 768px) {
      height: 390px;
      padding-bottom: 210px;
    }

    @media (min-width: 1280px) {
      height: 550px;
      padding-bottom: 302px;
    }

    @media (min-width: 1440px) {
      height: 619px;
      padding-bottom: 297px;
    }

    @media (min-width: 1920px) {
      height: 674px;
      padding-bottom: 316px;
    }
  }

  &__image {
    position: absolute;
    left: 0;
    width: 100%;
    height: 210px;
    object-fit: fill;
    object-position: center;
    z-index: -1;
    
    @media (min-width: 768px) {
      height: 390px;
    }

    @media (min-width: 1280px) {
      height: 550px;
    }

    @media (min-width: 1440px) {
      height: 619px;
    }

    @media (min-width: 1920px) {
      height: 674px;
    }
  }
}
