.marker {
  display: none;

  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  color: #687480;
  text-transform: uppercase;
  transform: rotate(-180deg);
  writing-mode: vertical-lr;
  width: max-content;
  height: max-content;
  padding-top: 10px;

  @include hover(color, $colorGreen);

  @include onDesktop {
    display: block;
    position: relative;
    bottom: 6px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: -70px;
      left: 50%;
      width: 1px;
      height: 70px;
      background: $colorGreen;
    }
  }
}
