
@media (min-width: 840px) and (max-width: 950px) {
  .header__bg-img {
    width: 410px !important;
  }
}

@media (min-width: 951px) and (max-width: 1279px) {
  .header__bg-img {
    width: 550px !important;
  }
}

@media (min-width: 640px) and (max-width: 735px) {
  .header__title {
    font-size: 38px;
    line-height: 56px;
  }

  .header__button {
    height: 60px;
    width: 200px;
  }

  .header__button-dec {
    width: 60px;
    height: 60px;
  }
}
