@import "./links.scss";

.media {
  &__logo {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $c-dark-gray;
  }

  &__links {
    margin-top: 63px;
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .media {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__links {
      margin: 0;
    }
  }
}
