.menu-icon {
  display: flex;
  flex-direction: column;
  padding: 3px;
  z-index: 5;
  position: relative;

  &__line {
    display: block;
    width: 18px;
    height: 2px;
    background-color: $titleDarkColor;
    margin-bottom: 2px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
