.menu-nav {
  width: 368px;
  height: 96px;

  @include on-tablet {
    width: 220px;
  }

  @include on-phone {
    width: 100%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;

    @include on-tablet {
      row-gap: 24px;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__item {
    width: 50%;
  }

  &__link {
    @include text-styler(IBM Plex Sans, 500, 22px, 22px, $c-white);

    text-decoration: none;
    margin: 0;

    @include hover(font-weight, 900);

    @include on-tablet {
      font-size: 16px;
      line-height: 100%;
    }
  }
}
