.menu-list {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(2, min-content);
  justify-content: center;
  gap: 24px 28px;

  padding-left: 52px;

  @include onTablet {
    column-gap: 20px;
    padding-left: 0;
  }

  @include onDesktop {
    gap: 30px 31px;
  }

  &--footer {
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-start;

    gap: 20px;
    padding-left: 0;

    @include onDesktop {
      gap: 20px 32px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    color: #fff;

    @include hover(color, #aaa);

    @include onDesktop {
      font-size: 22px;
    }

    &--footer {
      font-weight: 400;
      font-size: 14px;
      color: $blackColor;
    }
  }
}
