.menuTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 225px;
  background: #1a5a4c;
  opacity: 1;

  @include desktop {
    justify-content: space-between;
    height: 233px;
  }

  @include smartphone {
    display: block;
    height: 400px;
  }

  &__introduce {
    display: flex;
    width: 320px;
    height: 96px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 4.4vw;

    @include desktop {
      width: 500px;
    }

    @include smartphone {
      width: 320px;
      height: 121px;
      margin: 0;
      
    }

    &--logo {
      width: 12px;
      height: 12px;
      background-image: url(./pictures/crest.svg);
      color: #fff;
      margin-left: 40px;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.2);
      }

      @include desktop {
        margin: 0;
      }

      @include smartphone {
        margin: 27px 0 0 20px;
      }
    }

    &--link1 {
      width: 100px;
      margin-left: 40px;
      @include link;

      @include desktop {
        width: 168px;
        margin-left: 110px;
        margin-bottom: 30px;
      }
      
      @include smartphone {
        width: 100px;
        margin: 27px 0 0 35px;
      }
    }

    &--link2 {
      width: 100px;
      margin-left: 20px;
      @include link;

      @include desktop {
        width: 168px;
        margin-bottom: 30px;
      }

      @include smartphone {
        width: 100px;
        margin: 27px 0 0 28px;
      }
    }

    &--link3 {
      display: inline-block;
      width: 100px;
      margin-left: 96px;
      @include link;

      @include desktop {
        width: 168px;
        margin-bottom: 57px;
        margin-left: 126px;
      }

      @include smartphone {
        width: 100px;
        margin-left: 70px;
      }
    }

    &--link4 {
      display: inline-block;
      width: 100px;
      @include link;

      @include desktop {
        width: 168px;
      }

      @include smartphone {
        width: 100px;
        margin-left: 28px;
        margin-bottom: 16px;
      }
    }
  }

  &__line {
    position: absolute;
    width: 1px;
    height: 145px;
    margin-left: 46vw;
    background: rgba(255, 255, 255, 0.5);

    @include desktop {
      position: absolute;
      margin-top: 40px;
      margin-left: 51vw;
    }

    @include smartphone {
      position: unset;
      width: 280px;
      height: 1px;
      margin: 0 auto 20px;
    }
  }

  &__schedule {
    display: flex;
    height: 145px;
    width: 340px;
    margin-right: 4.5vw;
  
    @include desktop {
      margin-top: 40px;
      margin-right: 12vw;
    }

    @include smartphone {
      display: block;
      width: 280px;
      height: 230px;
      margin: 0 auto;
    }

    &--list {
      padding: 0;
      list-style: none;
    }

    &--workDay {
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #fff;
    }

    &--weekend {
      width: 144px;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #fff;
      margin-top: 40px;
      margin-left: 38px;

      @include desktop {
        width: 170px;
        margin-left: 30px;
      }

      @include smartphone {
        width: 280px;
        margin: 16px 0 0;
      }
    }
  }
}
