.menu-list-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
  gap: 20px;

  @include onDesktop {
    gap: 20px 32px;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;

    color: $blackColor;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      font-weight: bold;
    }
  }
}
