.menu__navigation {
  background-color: $green;
  position: relative;
  z-index: 1;

  &--schedule {
    @include onTablet {
      padding: 0 38px 10px;
      border-left: 1px solid rgba(255, 255, 255, 0.5);
    }

    @include onDesktop {
      padding: 0 38px 10px;
      border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
  }

  &--cross-btn {
    @include hoverTransform;
    position: absolute;
    left: 20px;
    top: 27px;

    @include onTablet {
      left: 40px;
      top: 44px;
    }

    &--image {
      width: 24px;
      height: 24px;
    }
  }

  &--nav {
    display: grid;
    padding: 28px 58px;
    gap: 28px;

    &--item {
      color: #fff;
      transition: all, 0.3s;

      &:hover {
        color: black;
      }
    }
  }

  &--schedule-and-contacts {
    color: #fff;
    padding: 24px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);

    @include onTablet {
      border-top: none;
    }
  }
}
