.menu {
  grid-column: 1 / -1;
  background-color: $brandColor;
  width: 100vw;
  color: $secondTextColor;

  &-block {
    position: relative;
    @include pageGrid;
    @include contentPaddingInline;
  }

  &__content {
    grid-column: 1 / -1;
    margin: 28px 0;

    @include onTablet {
      display: grid;
      grid-template-columns: auto minmax(1px, auto) auto;
      gap: 38px;
      margin: 40px 0;
    }

    @include onDesktop {
      gap: 102px;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: $secondTextColor;
    margin-top: 24px;

    @include onTablet {
      height: 100%;
      width: 1px;
      margin: 0;
    }
  }

  &__schedule {
    color: $secondTextColor;

    @include onTablet {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      gap: 20px 38px;
    }
  }

  &__schedule-title {
    margin-top: 24px;

    @include onTablet {
      min-width: 160px;
      max-width: 170px;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin: 0;
    }
  }

  &__schedule-open {
    margin-top: 20px;

    @include onTablet {
      grid-column: 1 / 2;
      grid-row: 2 / 2;
      margin: 0;
    }
  }

  &__schedule-close {
    margin-top: 16px;

    @include onTablet {
      min-width: 130px;
      max-width: 170px;
      grid-column: 2 / 2;
      grid-row: 2 / 2;
      margin: 0;
    }
  }
}
