.menuTop {
  display: flex;
  justify-content: space-between;
  padding: 40px 34px;

  @include desktop {
    justify-content: space-between;
    height: 233px;
    max-width: 1170px;
    padding: 40px 55px 48px;
    margin: 0 auto;
  }

  @include smartphone {
    display: block;
    height: 400px;
    padding: 0 20px;
  }

  &__introduce {
    display: flex;
    width: 320px;
    height: 96px;
    flex-direction: row;
    flex-wrap: wrap;

    @include desktop {
      width: 500px;
    }

    @include smartphone {
      width: 320px;
      height: 121px;
      margin: 0;
      
    }

    &--logo {
      width: 24px;
      height: 24px;
      background-image: url(./pictures/crest.svg);
      background-position: center;
      background-repeat: no-repeat;
      color: #fff;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.2);
      }

      @include desktop {
        margin: 0;
      }

      @include smartphone {
        margin-top: 27px;
      }
    }

    &--link1 {
      width: 100px;
      margin-left: 38px;
      @include link;

      @include desktop {
        width: 85px;
        margin-left: 102px;
        margin-bottom: 30px;
      }
      
      @include smartphone {
        width: 100px;
        margin: 27px 0 0 35px;
      }
    }

    &--link2 {
      width: 100px;
      margin-left: 20px;
      @include link;

      @include desktop {
        width: 168px;
        margin-left: 115px;
        margin-bottom: 30px;
      }

      @include smartphone {
        width: 100px;
        margin: 27px 0 0 28px;
      }
    }

    &--link3 {
      display: inline-block;
      width: 100px;
      margin-left: 62px;
      @include link;

      @include desktop {
        width: 168px;
        margin-bottom: 57px;
        margin-left: 126px;
      }

      @include smartphone {
        width: 100px;
        margin-left: 60px;
      }
    }

    &--link4 {
      display: inline-block;
      width: 100px;
      margin-left: 20px;
      @include link;

      @include desktop {
        width: 168px;
        margin-left: 31px;
      }

      @include smartphone {
        width: 100px;
        margin-left: 28px;
        margin-bottom: 16px;
      }
    }
  }

  &__line {
    position: absolute;
    width: 1px;
    height: 145px;
    margin-left: 39vw;
    background: rgba(255, 255, 255, 0.5);

    @include desktop {
      margin-left: 590px;
    }

    @include smartphone {
      position: unset;
      width: 87.5vw;
      height: 1px;
      margin: 0 auto 20px;
    }
  }

  &__schedule {
    display: flex;
    height: 145px;
    width: 340px;
  
    @include desktop {
      margin-right: 100px;
    }

    @include smartphone {
      display: block;
      width: 280px;
      height: 230px;
    }

    &--list {
      padding: 0;
      list-style: none;
    }

    &--workDay {
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #fff;
    }

    &--weekend {
      width: 144px;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #fff;
      margin-top: 40px;
      margin-left: 38px;

      @include desktop {
        width: 170px;
        margin-left: 30px;
      }

      @include smartphone {
        width: 280px;
        margin: 16px 0 0;
      }
    }
  }
}
