.menu__navigation {
  background-color: $green;
  position: relative;

  &-flexability {
    @include onTablet {
      max-height: 224px;
    }
  }

  &--schedule {
    padding-left: 38px;

    @include onTablet {
      display: grid;
      border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
  }

  &--cross-btn {
    position: absolute;
    left: 20px;
    top: 27px;
    transition: transform, 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    &--image {
      width: 24px;
      height: 24px;
    }
  }

  &--nav {
    padding: 28px 78px;
    height: min-content;

    &--item {
      color: #fff;
      transition: all, 0.3s;

      &:hover {
        color: black;
      }
    }
  }

  &--schedule-and-contacts {
    color: #fff;
    padding: 24px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);

    @include onTablet {
      border-top: none;
    }
  }
}
