.middle-line {
  width: 100%;
  height: 1px;
  margin: 0;
  background-color: $menu-text-color;

  @include on-tablet {
    width: 1px;
    height: auto;
  }

  &--footer {
    background-color: $footer-middle-line-color;

    @include on-tablet {
      width: 100%;
      height: 1px;
    }

    @include on-desktop {
      width: 1px;
      height: auto;
    }
  }
}
