.midlle-part {
  display: flex;
  padding-bottom: 70px;
  position: relative;

  @include onTablet {
    grid-column: 2 / 6;
  }

  @include onSmallDesktop {
    grid-column: 3 / 7;
  }

  &__right {
    margin-right: 20px;

    @include onTablet {
      width: 220px;
    }
  }

  &__left {
    @include onTablet {
      width: 220px;
    }
  }

  &__tittle {
    color: $second-text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    padding-bottom: 20px;
  }

  &__schedual {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 30px;
  }

  &__time {
    color: $second-text-color;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
  }

  &__subttitle {
    color: $second-text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }

  &__adress {
    display: block;
    text-decoration: none;
    color: $second-text-color;
    font-weight: 400;
    line-height: 150%;
    transition: 0.4s ease-in-out;

    &:hover {
      color: $main-item-color;
    }
  }

  &__button {
    position: absolute;
    background-color: transparent;
    border: 1px solid $main-item-color;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    bottom: 10px;
    right: 0;
    background-image: url(../images/footer/arrow-up.svg);
    background-repeat: no-repeat;
    background-position: center;

    @include onTablet {
      display: none;
    }
  }
}
