.museum {
  margin-top: 20px;
  @include contentPaddingInLine;

  @include onTablet {
    order: -1;
    margin-top: 127px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
  }

  @include onDesktop {
    margin-top: 206px;
    width: 40%;
    padding-right: 55px;
  }


  &__button {
    display: flex;
    justify-content: center;

    @include onTablet {
      justify-content: flex-start;
    }

    @include onDesktop {
      justify-content: space-between;
    }
  }

  h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    margin: 0;
    color: $main-titles-color;

    @include onTablet {
      text-align: start;
      width: 280px;
      font-size: 54px;
      line-height: 120%;
    }

    @include onDesktop {
      text-align: start;
      width: 470px;
      font-size: 72px;
      line-height: 120%;
      margin-bottom: 69px;
    }
  }

  &__event {
    display: none;

    @include onDesktop {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-start;

      &::before {
        content: "";
        width: 1px;
        height: 50px;
        background-color: $main-subtitle;
        margin-top: 20px;
        transition: margin-top 0.3s ease;
      }

      &:hover::before {
        margin-top: 25px;
      }

    }
  }

  &__ticket-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    height: 50px;
    background-color: white;
    border: 1px solid $main-green-color;
    cursor: pointer;
    padding: 0;
    margin: 20px 0;

    @include hover(border, 3px solid $main-green-color);

    @include onTablet {
      width: 270px;
      height: 70px;
    }

    @include onDesktop {
      margin-bottom: 118px;
    }
  }

  &__text-wrapper {
    width: 230px;
  }

  &__icon-wrapper {
    width: 50px;
    height: 100%;
    background-color: $main-green-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
    font-family: IBM;
    font-size: 16px;
    line-height: 16px;
    color: #0F0E08;
    font-weight: 500;
  }
}

#link {
  font-size: 14px;
  font-weight: 700px;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: $main-subtitle;
}
