.museum {
  grid-row: 1;

  &--img {
    width: 100%;
    height: 300px;

    @include onTablet {
      height: 384px;
    }

    @include onDesktop {
      height: 655px;
    }
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;

    @include onTablet {
      font-size: 54px;
      line-height: 65px;
      text-align: start;
    }

    @include onDesktop {
      font-size: 72px;
      line-height: 86px;
    }
  }

  &__action {
    display: none;
    position: absolute;

    transform: rotate(270deg) translateX(60px, -386px);

    @include onDesktop {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &--stick {
      height: 1px;
      width: 70px;
      background-color: #1a5a4c;
    }

    &--title {
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: bold;
      font-size: 14px;
      line-height: 14px;
      color: #687480;
      text-transform: uppercase;
    }
  }
}
