.museum-art {
  padding-top: 20px;

  @include onTablet {
    position: absolute;
    top: 127px;
    width: 380px;
    padding-top: 0;
  }

  @include onDesktop {
    top: 206px;
    width: 580px;
  }

  &__title {
    margin-bottom: 20px;

    font-family: $fontSecondary;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    text-align: center;
    color: #000;

    @include onTablet {
      margin-bottom: 38px;

      font-size: 54px;
      line-height: 120%;
      text-align: left;
    }

    @include onDesktop {
      margin-bottom: 89px;

      font-size: 72px;
      line-height: 120%;
    }
  }

  &__tickets {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 50px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #0f0e08;
    text-transform: uppercase;
    border: 1px solid #1a5a4c;

    @include onTablet {
      width: 200px;
      height: 70px;
    }

    &-container {
      display: flex;
      justify-content: center;

      @include onTablet {
        justify-content: start;
      }

      @include onDesktop {
        justify-content: end;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #1a5a4c;
    border: 0;

    @include onTablet {
      width: 70px;
      height: 70px;
    }

    &::before {
      content: "";
      width: 8px;
      height: 12px;
      background-image: url(../images/arrow.svg);
    }
  }
}
