.museum-info {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  gap: 20px;

  &__title {
    margin: 0;
    color: $white-text-color;
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 140.63%;

    &--footer {
      color: $title-color;
    }
  }

  &__work {
    display: flex;
    gap: 30px;

    &--footer {
      flex-direction: column;
    }

    &-column {
      margin: 0;
      color: $white-text-color;
      font-family: $secondary-font;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      width: 170px;

      &--footer {
        color: $title-color;
      }
    }
  }

  &__text-bold {
    font-weight: 600;
  }
}
