.museum-info {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  gap: 20px;

  &--footer {
    width: 50%;

    @include onMobile {
      width: 100%;
    }
  }

  &__title {
    margin: 0;
    color: $white-text-color;
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 140.63%;

    &--footer {
      color: $title-color;
    }
  }

  &__work {
    display: flex;
    gap: 30px;

    @include onMobile {
      flex-direction: column;
      gap: 16px;
    }

    &--footer {
      flex-direction: column;
    }

    &-column {
      margin: 0;
      color: $white-text-color;
      font-family: $secondary-font;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      width: 170px;

      &--we {
        @include onMobile {
          width: 100%;
        }
      }

      &--footer {
        color: $title-color;
        text-decoration: none;

        @include onMobile {
          width: 100%;
        }

        &-hover {
          @include hover(color, $main-green);
        }
      }
    }
  }

  &__text-bold {
    font-weight: 600;
  }
}
