.name {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;

  @include iPadMini {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
  }

  &__text {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 10px;

    @include iPadMini {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 15px;
    }
  }

  .square {
    height: 10px;
    width: 10px;
    transform: translateY(-30%);

    @include iPadMini {
      height: 15px;
      width: 15px;
      margin-left: 20px;
    }
  }

  &__square {
    margin-right: 40px;
  }
}
