.namu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__designer {
    text-decoration: none;
    font-family: $fontIBM;
    font-weight: 300;
    font-size: 12px;
    line-height: 140.62%;
    color: $colorBlack;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;

    &:hover {
      border-color: $colorBlack;
    }
  }
  @include onTablet {
    flex-direction: row;
    justify-content: space-between;
    margin: 35px;
  }
  @include onDesktop {
    margin: 35px 55px;
  }
}
