.nav-block {

  &--footer {
    margin-bottom: 80px;

    @include onTablet {
      margin-bottom: 120px;
    }

    @include onDesktop {
      margin-bottom: 0px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-right: 30px;

    @include onTablet {
      margin-right: 20px;
    }

    @include onDesktop {
      margin-right: 30px;
    }

    &:last-child {
      margin: 0;
    }

    &--footer {
      color: #0F0E08;
      flex-basis: 130px;
      flex-grow: 1;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      @include onDesktop {
        margin-right: 30px;
      }
    }
  }

  &__item {
    list-style: none;
    width: 100px;
    margin-bottom: 24px;

    @include onDesktop {
      width: 170px;
    }
  }

  &__link {
    width: 100%;
    text-decoration: none;
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;

    @include onDesktop {
      font-size: 22px;
    }

    &--footer {
      font-weight: 400;
      font-size: 14px;
      color: #0F0E08;
    }
  }
}
