.nav-block {
  display: flex;

  &--footer {
    margin-bottom: 80px;

    @include onTablet {
      margin-bottom: 120px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    &--footer {
      flex-basis: 130px;
      flex-grow: 1;
    }
  }

  &__item {
    list-style: none;
    width: 100px;
    margin-bottom: 24px;
    transition: $transition-all;

    &:hover {
      transform: translateX(2px) scale(1.03);
      text-shadow: 0.5px 0.5px 0.5px $green-color;
    }

    @include onTablet {
      margin: 0 20px 24px 0;
    }

    @include onDesktop {
      width: 170px;
      margin: 0 30px 24px 0;
    }

    &--footer {
      width: 130px;
    }
  }

  &__link {
    width: 100%;
    text-decoration: none;
    font-family: IBM Plex Sans, Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: $white-color;

    @include onDesktop {
      font-size: 22px;
    }

    &--footer {
      font-weight: 400;
      font-size: 14px;
      color: $font-color__semi-black;
    }
  }
}
