.nav-block {
  &--footer {
    margin-bottom: 80px;

    @include onTablet {
      margin-bottom: 120px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-right: 30px;

    @include onTablet {
      margin-right: 20px;
    }

    @include onDesktop {
      margin-right: 30px;
    }

    &:last-child {
      margin: 0;
    }

    &--footer {
      color: $font-color__semi-black;
      flex-basis: 130px;
      flex-grow: 1;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      @include onDesktop {
        margin-right: 30px;
      }
    }
  }

  &__item {
    list-style: none;
    width: 100px;
    margin-bottom: 24px;
    transition: $transition-all;

    &:hover {
      transform: translateX(2px) scale(1.03);
      text-shadow: 0.5px 0.5px 0.5px $green-color;
    }

    @include onDesktop {
      width: 170px;
    }
  }

  &__link {
    width: 100%;
    text-decoration: none;
    font-family: IBM Plex Sans, Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: $white-color;

    @include onDesktop {
      font-size: 22px;
    }

    &--footer {
      font-weight: 400;
      font-size: 14px;
      color: $font-color__semi-black;
    }
  }
}
