.nav-link {
  position: relative;

  padding-bottom: 2px;

  text-decoration: none;
  color: inherit;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    content: "";
    width: 0;
    height: 1px;

    background-color: #fff;

    transition: width $duration;
  }

  &:hover::after {
    width: 100%;
  }

  &--footer {
    &::after {
      background-color: $redColor;
    }
  }
}
