.nav-menu {

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;

    @include onTablet {
      gap: 20px;
    }

    @include onDesktop {
      gap: 30px;
    }

    &--footer {
      gap: 20px;

      @include onTablet {
        gap: 30px;
      }
    }
  }

  &__item-list {
    padding-bottom: 24px;

    @include onDesktop {
      width: 168px;
    }
  }

  &__item-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: $c-white;

    @include hover (text-shadow, 1px 1px $c-orange);

    @include onDesktop {
      font-size: 22px;
    }

    &--footer {
      font-weight: 400;
      font-size: 14px;
      color: $c-black;
    }
  }
}
