.nav {
  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-bottom: 24px;
    list-style: none;
  }

  &__link {
    position: relative;
    font-weight: $middle-font;
    font-size: 16px;
    line-height: 16px;
    color: $color-white;
    text-decoration: none;
  }

  &__link::after {
    @include underlineLinks;
  }

  &__link:hover::after {
    transform: scale(1);
  }
}
