.nav {
  @include header-grid;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &__icon {
    height: 12px;
    width: $icon-width;

    background-size: contain;
    background-repeat: no-repeat;

    transition: transform 300ms;
    &--open {
      background-image: url("../images/icon.png");
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.menu:target ~ .nav {
  display: none;
}
