.nav {
  &__content {
    margin: 0;
    padding: 0;
    margin-left: 52px;
    display: flex;
    gap: 28px;

    @include onTablet {
      margin-left: 52px;
      gap: 20px;
      width: 220px;
    }

    @include onSmallDesktop {
      margin-left: 127px;
      gap: 30px;
    }

    &--footer {
      visibility: visible;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $third-text-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 14px;
    transition: 0.4s ease-in-out;

    &:hover {
      color: $second-text-color;
    }
  }
}
