.navigate {
  display: flex;
  gap: 20px;
  font-family: $fonts-2;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin: 0 20px 80px;

  @include iPadMini {
    display: flex;
    gap: 20px;
    margin: 0 154px 120px;
  }

  @include onDesctop {
    margin: 0;
  }

  &__nav {
    text-decoration: none;
    color: $color-2;
    width: 130px;
    margin-bottom: 20px;

    @include iPadMini {
      width: 220px;
    }
  }

  &__block-one {
    display: flex;
    flex-direction: column;
  }
  
  &__block-two {
    display: flex;
    flex-direction: column;
  }
}
