.navigation-list {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  flex-wrap: wrap;
  flex-grow: 1;
  list-style: none;

  @include onTablet {
    align-content: flex-start;
    column-gap: 28px;
  }

  @include onDesktop {
    column-gap: 31px;
  }
  &__item {
    margin-bottom: 24px;
    flex-basis: 42%;
    flex-grow: 1;
    flex-shrink: 0;

    @include hover (transform, scale(1.05));

    @include onDesktop {
      flex-basis: 42%;
      margin-bottom: 30px;
    }
  }
  
  &__link {
    text-decoration: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    line-height: 100%;

    @include onDesktop {
      font-size: 22px;
    }
  
    &--color--white {
      color: $main-color;
    }
  
    &--color--black {
      color: $text-color;
    }

    &--size--14 {
      font-weight: 400;
      font-size: 14px;
    }

    &--size--16 {
      font-weight: 500;
      font-size: 16px;
    }
  
    &--size--22 {
      font-weight: 500;
      font-size: 22px;
    }
  }
}
