.nav {
  display: flex;
  gap: 28px;

  @include onDesktop {
    gap: 30px;
  }

  &__item {
    width: 100px;

    @include onDesktop {
      width: 170px;
    }

    &--footer {
      width: 130px;
    }
  }

  &__list {
    margin-bottom: 24px;
    list-style: none;

    @include hover(transform, scale(1.2));

    &:last-child {
      margin: 0;
    }

    &--footer {
      margin-bottom: 20px;
    }
  }

  &__link {
    font-weight: 500;
    color: #fff;

    @include onDesktop {
      font-size: 22px;
      line-height: 22px;
    }

    &--footer {
      color: #0f0e08;
      font-size: 14px;
      line-height: 14px;
    }
  }
}
