.navigation {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: flex-start;

  @include onTablet {
    margin-top: 64px;
    padding-inline: 118px;
    gap: 85px
  }

  @include onDesktop {
    margin-top: 0;
    padding: 0;
  }

  &--item {
    color: $color-black;
    cursor: pointer;
    @include hover(transform, scale(1.1));

    &:hover {
      color: $color-green;
    }
  }

  &--column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
