.networks {
  display: grid;
  grid-template-columns: repeat(2, 20px);
  column-gap: 26px;

  @include onTablet {
    column-gap: 38px;
  }

  @include onDesktop {
    column-gap: 28px;
  }

  &__network {
    position: relative;
    @include iconsBackgrounds;
    cursor: pointer;

    &--facebook {
      width: 11px;
      padding-bottom: 24px;
      background-image: url(../images/facebook-icon.jpg);
    }

    &--instagram {
      width: 24px;
      padding-bottom: 24px;
      background-image: url(../images/instagram-icon.jpg);
    }
  }
}
