* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
  font-weight: 400;
  font-family: "IBM Plex Sans", sans-serif;
  color: $main-dark;
}

body {
  background-color: #fff;
  max-width: 1920px;
  margin: 0 auto;
}
