.page {
  font-family: "IBM Plex Sans", sans-serif;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
  }

  &__container {
    margin: 0 auto;
  }

  &__header {
    position: relative;
    margin-bottom: 70px;

    @include onDesktop {
      margin-bottom: 90px;
    }

    @include onDesktop {
      margin-bottom: 200px;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-130%);
    transition: transform 0.3s;

    &:target {
      transform: translateY(0);
    }
  }

  &__current-events {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 90px;
    }

    @include onTablet {
      margin-bottom: 100px;
    }
  }

  &__lecture {
    position: relative;
    margin-bottom: 200px;
  }

  &__gallery {
    margin-bottom: 100px;

    @include onTablet {
      margin-bottom: 129px;
    }

    @include onDesktop {
      margin-bottom: 200px;
    }
  }

  &__subscription {
    margin-bottom: 50px;
  }

  &__section {
    &-title {
      @extend %h2;
      text-align: center;
      margin-bottom: 40px;

      @include onTablet {
        text-align: left;
        margin-bottom: 50px;
      }

      @include onDesktop {
        margin-bottom: 60px;
      }
    }
  }
}
