.page {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  &__body {
    margin: 0;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 72px;
  margin: 0;
}
