.pagination {
  display: flex;
  justify-content: center;

  @include onDesktop {
    display: none;
  }

  &__button {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: $color-pagination;

    &:not(:last-child){
    margin-right: 22px;
    }

    &--active {
    background-color: $color-green;
    }
  }
}
