.pagination {
  display: flex;

  @include desktopScreen {
    display: none;
  }

  &__point {
    width: 9px;
    height: 9px;
    margin-right: 22px;
    background-image: url(../images/pagination.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &--active {
      background-image: url(../images/pagination-active.svg);
    }
  }
   
}