.photo-collection {

  &__photo-container {
    display: flex;
    justify-content: center;
  }

  &__photo {
    margin-bottom: 20px;

    object-fit: contain;
    object-position: center;
  }

  &__buttons {
    padding-bottom: 60px;

    display: flex;
    justify-content: center;
    gap: 22px;
  }

  &__button {
    display: block;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #1a5a4c;
  }
}
