.photo {
  background-image: url(../images/photos/Museum_header.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  height: 300px;
  
  @include OnDesctop {
    height: 100vh;
  }
  
  @include OnLaptop {
    height: 384px;
  }
}
