.pictures {
  width: 280px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
 }

.picture {

   &_3 {
    width: 320px;
    height: 210px;
   }

   &_4 {
    width: 280px;
    height: 410px;
   }
}
