.pictures {
  transition: 3s;
  &__row {
    display: flex;
    max-width: 100%;
    :nth-child(n):hover {
      transition: 0.6s;
      transform: scale(1.01);
      box-shadow: 0 13px 27px rgba(151, 138, 63, 0.46);
    }
    &--first {
      grid-template-columns: (1fr 2fr 370px);
      gap: 30px;
      margin-bottom: 30px;
      height: 600px;
    }
    &--second {
      grid-template-columns: (2fr 1fr 370px);
      gap: 30px;
      height: 360px;
    }
    @media (max-width: 1920px) {
      &--first {
        :last-child {
          display: none;
        }
      }
      &--second {
        :last-child {
          display: none;
        }
      }
    }
  }
}
