.picture {
  position: relative;
  width: 100%;
  height: 210px;
  box-sizing: border-box;
  overflow: hidden;

  @media (min-width: 768px) {
    height: 520px;
  }

  @media (min-width: 1280px) {
    width: 670px;
  }

  @media (min-width: 1920px) {
    width: 870px;
  }

  @media (min-width: 1600px) {
    flex-grow: 0.3;
  }

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  //   &__block {
  //     width:100%;
  //     height: 410px;
  //   }

  ///////////////////////////
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    &--gallery {
      object-position: top;
    }
  }
  ////////////////////////

  &--special {
    width: 100%;

    @media (min-width: 768px) and (max-width: 1280px) {
      height: 390px;
      padding: 0 34px;
    }

    @media (min-width: 1280px) {
      height: 550px;
    }

    @media (min-width: 1440px) {
      height: 619px;
    }

    @media (min-width: 1920px) {
      height: 674px;
    }
  }

  &--gallery {
    flex-grow: 1;
    width: 100%;
    height: 410px;
  }
}
