.place {
  
  &__photo-container {
    position: relative;
    box-sizing: border-box;

    @include onDesktop {
      height: 520px;
      padding-bottom: 0;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__photo-gallery {
    margin-bottom: 30px;
    max-height: 600px;
  }

  &__photo {

    &--hidden {
      width: 0;
    }
    
    margin: 0 0 15px;
    width: 280px;
    object-fit: cover;
    object-position: center;

    &--main {
      @include onDesktop {
        height: 520px;
        width: 870px;
      }
    }

    &--high-resolution {
      @include onDesktop {
        width: fit-content;
        margin: 0;
      }
    }

    &--last {
      margin: 0;
    }

    &--last-desktop {
      @include onDesktop {
        height: 678px;
        width: 1920px;
      }
    }
  }

  &__padding {
    padding: 0 15px;

    @include onDesktop {
      padding: 0;
    }
  }
}
