.place {
  &__photo-container {
    position: relative;

    box-sizing: border-box;
    max-height: 520px;
    overflow: hidden;

    @include onDesktop {
      height: 520px;
      padding-bottom: 0;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__photo-gallery {
    margin-bottom: 30px;
    max-height: 600px;
  }

  &__photo {
    margin: 0;
    position: absolute;

    object-fit: cover;
    object-position: center;
  }
}
