.podii {

  &__block--wide {
    width: 320px;
    height: 210px;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    margin-bottom: 183px;
    background-image: url(../images/podii3.jpg);
    background-size: cover;
    background-position: center;

    @include onTablet {
      width: 700px;
      height: 390px;
      margin-bottom: 208px;
    }

    @include onDesktop {
      width: 1280px;
      height: 550px;
      margin-bottom: 302px;
    }

  }

  &__block-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 280px;
    height: 140px;
    background-color: #fff;
    border-bottom: 2px solid rgba(26, 90, 76, 0.25);
    margin: 0 auto;
    position: relative;
    bottom: -150px;


    @include onTablet {
      width: 570px;
      height: 204px;
      padding: 45px 50px 55px;
      bottom: -310px;
    }

    @include onDesktop {
      padding: 45px 50px 100px;
      bottom: -445px;
    }
  }

  &__block-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    @include onTablet {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 20px;
    }

    @include onDesktop {
    }
  }


  &__block-subtitle {
    @extend %ibm-500;
    font-size: 16px;
    line-height: 100%;
    color: $grey-color;

    @include onTablet {
      font-size: 14px;
    }
  }

  &__block-date {
    @extend %ibm-700;
    font-size: 16px;
    line-height: 150%;
    color: $button-color-green;

    @include onTablet {
      font-size: 14px;
    }
  }

  &__block-title {
    @extend %montserrat-400;
    font-size: 28px;
    line-height: 100%;
    color: $main-color-black;
    text-align: center;

    @include onTablet {
      font-size: 36px;
      text-align: left;
    }
  }


  &__content {
    &-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      @include onTablet {
        justify-content: flex-start;
        gap: 24px;
        margin-bottom: 30px;
      }

      @include onDesktop {
        padding-top: 163px;
        margin-bottom: 32px;
      }
    }

    &-subtitle {
      @extend %ibm-500;
      font-size: 16px;
      line-height: 100%;
      color: $grey-color;

      @include onTablet {
        font-size: 14px;
      }
    }

    &-date {
      @extend %ibm-700;
      font-size: 16px;
      line-height: 150%;
      color: $button-color-green;

      @include onTablet {
        font-size: 14px;
      }
    }

    &-title {
      @extend %montserrat-400;
      font-size: 28px;
      line-height: 100%;
      color: $main-color-black;
      margin-bottom: 6px;

      @include onTablet {
        font-size: 36px;
        margin-bottom: 3px;
      }

      &::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background-color: $element-color-red;
        position: relative;
        left: 265px;
        top: -17px;
        z-index: 1;

        @include onTablet {
          left: 340px;
          top: -22px;
          width: 15px;
          height: 15px;
        }

        @include onDesktop {
          left: 345px;
          top: -23px;
        }
      }
    }

    &-text {
      @extend %ibm-300;
      font-size: 16px;
      line-height: 150%;
      color: $paragraph-color;
      margin-bottom: 60px;

      @include onTablet {
        margin-bottom: 64px;
      }

      @include onDesktop {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    @extend %montserrat-700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: $main-color-black;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 48px;
      font-size: 48px;
      text-align: left;
    }

    @include onDesktop {
      margin-bottom: 56px;
    }
  }

  &__image {
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 104px;
    }

    &--item {
      display: flex;
      width: 280px;
      height: 210px;

      @include onTablet {
        width: 699px;
        height: 520px;
      }

      @include onDesktop {
        width: 670px;
      }
    }
  }
}



