.pointer {
  display: flex;
  justify-content: center;
  margin-bottom: 92px;

  &__button--1 {
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #1a5a4c;
    margin-left: 22px;
  }

  &__button--2 {
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-left: 22px;
  }

  &__button--3 {
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-left: 22px;
  }

  &__button--4 {
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-left: 22px;
  }
}
