.product {
  &__content {
    margin-bottom: 30px;
    @include onTablet {
      margin-bottom: 50px;
    }
    @include onSmallDesktop {
      margin-bottom: 40px;
      margin-inline: 0;
    }

    &--left {
      @include onTablet {
        margin-left: 27px;
      }
      @include onSmallDesktop {
        margin-left: 0;
      }
    }
    &--right {
      @include onTablet {
        margin-right: 27px;
      }
      @include onSmallDesktop {
        margin-right: 0;
      }
    }
  }

  &__left {
    @include onTablet {
      @include hover(transform, scale(1.07));
      grid-column: 1 / 4;
    }
    @include onSmallDesktop {
      grid-column: 2 / 3;
    }
  }

  &__right {
    display: none;
    @include onTablet {
      display: block;
      @include hover(transform, scale(1.07));
      grid-column: 4 / 7;
    }
    @include onSmallDesktop {
      grid-column: 3 / 4;
    }
  }

  &__picture {
    object-fit: cover;
    width: 100%;
    @include onTablet {
      width: 100%;
    }
  }

  &__name {
    color: $gray-1;
    font-family: $poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    padding-block: 20px 10px;
    @include onTablet {
      padding-block: 20px 15px;
    }
    @include onSmallDesktop {
      padding-block: 20px 13px;
    }
    &--left {
      padding-left: 20px;
    }
  }

  &__price {
    color: $gray-1;
    font-family: $poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.9px;
    text-transform: uppercase;

    &--left {
      padding-left: 20px;
    }
  }
}
