
.pros {
  @include pageGrid;
  gap: 50px;
  
  @include onTablet {
    gap: 30px;
  }

  @include onDesktop {
    gap: 20px;
  }

  &__item {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 2;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }

  &--img {
    display: block;
    width: 80px;
    margin: 0 auto 20px;

    @include onTablet {
      margin-bottom: 25px;
    }

    @include onDesktop {
      margin-bottom: 40px;
    }
  }

  &--description {
    color: black;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 18.2px;
    letter-spacing: 0.7px;
    margin: 0;
    text-align: center;
  }
}
