.relevance {

  &__wrapper {
    @include content-padding-inline;

    display: flex;
    flex-direction: column;
    gap: 60px;

    padding-top: 70px;

    @include on-tablet {
      padding-top: 107px;
    }

    @include on-desktop {
      padding-top: 318px;
    }
  }
}

.relevant {
  &__content {
    @include page-grid;
  }

  &__photo {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 1 / 8;
    }

  &-image {
    width: 100%;
    height: auto;
    transition: $effect-duration;

    &:hover {
      transform: scale(1.05);
    }
  }
 }

  &__link {
    text-decoration: none;
  }

  &__description {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 9/-1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__event {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      gap: 10px;

      @include on-tablet {
        padding-top: 44px;
        justify-content: left;
        gap: 30px;
      }
    }

    &__event-type {
      @include on-tablet {
        font-size: 14px;
        line-height: 14px;
      }
    }

    &__event-date {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      text-align: left;
      margin: 0;
      color: #1a5a4c;
      grid-column: 2 / -2;

      @include on-tablet {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &__title {
      padding-top: 10px;
      margin: 0;

      @include on-tablet {
        padding-top: 30px;
        font-size: 36px;
        line-height: 36px;
      }

      &--symbol::after {
        position: absolute;
        content: "";
        background-color: #f14a27;
        height: 10px;
        width: 10px;
        margin: 12px;
      }
    }

    &__text {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      text-align: left;
      color: #4e4e4e;

      padding-top: 10px;
      margin: 0;

      @include on-desktop {
        padding-top: 15px;
      }
    }
  }
}

.relevant__bottom {
  margin-top: 60px;

  @include on-tablet {
    margin-top: 112px;
    padding-inline: 34px;

  }

  @include on-desktop {
    margin-top: 104px;
    padding-inline: 55px;
  }

  &__bg__image {
    position: relative;
    background-image: url(/src/images/main/relevance-bottom.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 210px;
    grid-column: 1 / -1;

    @include on-tablet {
      height: 390px;
    }

    @include on-tablet {
      height: 550px;
    }
  }

  &__container {
    padding-inline: 20px;

    @include on-tablet {
      padding-inline: 65px;
    }

    @include on-desktop {
      padding-inline: 300px;
    }
  }

  &__description__event {
    position: relative;
    top: -57px;
    background-color: #fff;
    border-bottom: 2px solid rgba(26,90,76,.25);
    display: flex;
    flex-direction: column;
    padding-inline: 21px;

    @include on-tablet {
      padding-inline: 55px;
    }

    @include on-desktop {
      padding-inline: 100px;
    }
  }

  &__description__title {
    text-align: center;
    padding-block: 20px;

    @include on-tablet {
      text-align: left;
      padding-top: 16px;
      padding-bottom: 50px;
    }
  }
}
