.relevant {

  &__title {
    font-family: $montserrat;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #0f0e08;
    margin-bottom: 40px;
    text-align: center;

    @include onTablet {
      text-align: left;
      font-size: 48px;
    }

    @include onDasktop {
      text-align: left;
      font-size: 48px;
    }
  }

  &__exhibition {
    @include onDasktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 80px;
    }
  }

  &__image {
    padding: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;

    @include onTablet {
      padding: 37%;
      margin-bottom: 40px;
    }

    @include onDasktop {
      padding: 0;
      width: 670px;
      height: 520px;
      margin-right: 30px;
    }
  }

  &__image--first {
    background-image: url("../images/relevant1.jpg");
  }

  &__image--second {
    background-image: url("../images/relevant2.jpg");
  }

  &__info {

    @include onDasktop {
      max-width: 370px;
    }

    @include onTablet {
      max-width: 460px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;

    @include onDasktop {
      max-width: 215px;
    }

    @include onTablet {
      margin-bottom: 30px;
      max-width: 215px;
    }
  }

  &__info-title {
    font-family: $plex-sasns;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #687480;

    @include onDasktop {
      font-size: 14px;
    }

    @include onTablet {
      font-size: 14px;
    }
  }

  &__info-dates {
    font-family: $plex-sasns;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $green;

    @include onDasktop {
      font-size: 14px;
      line-height: 21px;
    }

    @include onTablet {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__text-title {
    font-family: $montserrat;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #0f0e08;
    margin-bottom: 11px;
    position: relative;

    @include onDasktop {
      margin-bottom: 15px;
      font-size: 36px;
    }

    @include onTablet {
      margin-bottom: 15px;
      font-size: 36px;
    }

    &::after {
      content: "";
      width: 15px;
      height: 15px;
      background-color: #f14a27;
      position: absolute;
      right: 0;
      top: 8px;

      @include onTablet {
        right: 10px;
      }

      @include onDasktop {
        right: 10px;
      }
    }
  }

  &__text-title_retreat {
    &::after {
      @include onTablet {
        right: 58px;
      }

      @include onDasktop {
        right: 58px;
      }
    }
  }

  &__text {
    font-family: $plex-sasns;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #4e4e4e;
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 64px;
    }
  }
}
