.reused-block {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__name {
    line-height: 20px;
    font-weight: 400;
  }

  &__info {
    line-height: 150%;
  }

  &__text {
    color: inherit;
    
    &--bold {
      font-weight: 600;
    }
  }

  &__nbsp-text {
    display: inline-block;
  }
}
