.relevant {
  max-width: 1170px;
  margin: 0 auto;

  @media (max-width: 750px) {
    margin-top: 400px;
    width: 93%;
  }

  @media (min-width: 1600px) {
    max-width: 1570px;
  }

  @media (max-width: 1210px) {
    max-width: 700px;
  }

  &__title {
    margin-top: 200px;
    margin-bottom: 60px;
    font-size: 48px;
    font-weight: 700;
    @media (max-width: 1210px) {
      margin-top: 90px;
      margin-bottom: 50px;
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1.3fr 1fr;

  @media (max-width: 1210px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
  }

  &__second {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    margin-bottom: 100px;

    @media (max-width: 1210px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.5fr;
      margin-top: 50px;
      margin-bottom: 90px;
    }
  }

  &__image {
    display: flex;
    width: 670px;
    height: 520px;
    object-fit: cover;
    object-position: center;

    @media (min-width: 1600px) {
      width: 870px;
    }

    @media (max-width: 1210px) {
      max-width: 700px;
    }

    @media (max-width: 750px) {
      width: 100%;
      height: 210px;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 10% 10% 30%;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;

    @media (max-width: 1210px) {
      justify-content: start;
      align-items: center;
      align-content: center;
      grid-template-rows: 20% 20% 60%;
    }

    &-exhibition {
      font-size: 14px;
      font-weight: 500;
      color: #687480;
      
      @media (max-width: 1210px) {
        align-self: center;
      }

      &::after {
        margin-left: 26px;
        content: "26.08-29.11.2019";
        font-weight: 700;
        font-size: 14px;
        color: #1a5a4c;
      }
    }

    &-title {
      font-size: 36px;
      font-weight: 400;
      position: relative;

      @media (max-width: 750px) {
        margin-bottom: 10px;
        font-size: 28px;
      
      }

      &::after {
        content: "";
        margin-left: 25px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        background-color: #f14a27;

        @media (max-width: 750px) {
          margin-left: 20px;
        }
      }
    }

    &-about {
      max-width: 370px;
      font-size: 16px;
      font-weight: 300;
      color: #4e4e4e;
    }
  }
}

@media (max-width: 1210px) {
  .box1 {
    order: 0;
  }

  .box2 {
    order: -1;
  }
}
