.romantic {
  overflow: hidden;

  &__image {
    width: 100%;
    height: 210px;

    @include hover(scale, 1.02);

    @include onTablet {
      box-sizing: border-box;
      height: 390px;
      padding-inline: 34px;
    }

    @include onDesktop {
      width: 100%;
      object-fit: cover;
      padding-inline: 0;
      height: 550px;
    }
  }

  &__wrap {
    padding-block: 20px;
    margin-bottom: 43px;
    grid-column: 1 / -1;
    text-align: center;
    transform: translateY(-57px);
    background: #fff;
    box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);

    @include onTablet {
      margin-inline: -55px;
      padding-inline: 55px;
      padding-top: 45px;
      padding-bottom: 50px;
      margin-bottom: 4px;
      grid-column: 2 / -2;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
      transform: translateY(-84px);
    }

    @include onDesktop {
      width: 570px;
      grid-column: 4 / -4;
      margin: 0;
      padding: 0;
      padding-top: 45px;
      padding-bottom: 50px;
      margin-bottom: 98px;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
      transform: translateY(-102px);
    }
  }

  &__date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 21px;
    align-items: center;
    color: $c-after;

    @include onTablet {
      margin-bottom: 32px;
      padding-left: 0;
      grid-column: 1 / -1;
      font-size: 14px;
      line-height: 100%;
    }

    @include onDesktop {
      margin-bottom: 16px;
      grid-column: 2 / -2;
    }
  }

  &__dating {
    width: 173px;
    text-align: left;
    font-weight: 700;
    line-height: 150%;
    color: $c-green;

    @include onTablet {
      width: 220px;
    }

    @include onDesktop {
      width: 170px;
    }
  }

  &__title {
    text-align: center;
    color: $c-title;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    text-decoration: none;

    @include onTablet {
      grid-column: 1 / -1;
      text-align: left;
      font-size: 36px;
    }

    @include onDesktop {
      grid-column: 2 / -2;
    }
  }

}
