.romantism {
  background-image: url(../images/romantism.png);
  background-size: cover;
  width: 100%;
  height: 210px;
  @include pageGrid;
  position: relative;
  margin-bottom: 200px;

  @include onTablet {
    height: 390px;
  }

  &__title {
    background-color: $white-color;
    box-shadow: 0 2px rgba(26, 90, 76, 0.25);
    width: 90%;
    height: 140px;
    padding-block: 20px;
    position: absolute;
    top: 80%;
    transform: translateX(5%);

    @include onTablet {
      height: 204px;
      padding-inline: 55px;
      padding-top: 45px;
      padding-bottom: 50px;
    }

    @include onDesktop {
      grid-column: 4 / 10;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 20% 80%;
      row-gap: 16px;
      padding-inline: 0;
      padding-top: 45px;
      padding-bottom: 50px;
      height: 204px;
    }
  }
}
