.romantic {
  margin-bottom: 100px;

  @include smartphone  {
    margin-bottom: 88px;
  }

  @include smalldesktop {
    margin-bottom: 200px;
  }

  &__container {
    @include  gridPage;
  }

  &__img {
    grid-column: 1 / -1;

    img {
      width: 100%;
    }
  }

  &__info  {
    grid-column: 1 / -1;
    width: 280px;
    height: 140px;
    margin-top: -57px;
    background: $color-white;
    box-shadow: 0px 2px 0px rgba(26, 90, 76, 0.25);
    padding: 0;

    transition-duration: 0.5s;
    @include hover (transform, scale(1.1));


    @include smartphone {
      margin-top: -90px;
      width: 570px;
      height: 204px;
    }

    @include smalldesktop {
      margin-top: -110px;
    }
  }

  &__info-first {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-top: 20px;
    padding: 0 21px;

    @include smartphone {
      margin-bottom: 23px;
      margin-top: 45px;
      padding: 0 55px;
    }

    @include smalldesktop {
      padding: 0 100px;
    }
  }

  &__text {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    color: #687480;
    text-align: center;
    margin-top: 4px;
  }

  &__date {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    color: $color-green;
  }

  &__subtitle {
    font-family: 'Montserrat';
    font-style: $font-style;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    text-align: center;

    color: $color-dark;
    margin-bottom: 20px;

    @include smartphone {
      font-size: 36px;
      margin-bottom: 50px;
      text-align: left;
      padding: 0 55px;
    }

    @include smalldesktop {
      padding: 0 100px;
    }
  }
}
