.romanticism {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: calc(100% - 40px);
  height: 140px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
  transform: translateY(-40%);
  box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);

  @include on-tablet {
    height: 204px;
    width: calc(100% - 200px);
  }

  @include on-desktop {
    transform: translateY(-50%);
    width: 570px;
    margin-bottom: 100px;
  }

  &__lecture {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;

    @include on-tablet {
      justify-content: space-between;
      width: calc(100% - 110px);
      margin: 0 auto;
    }

    @include on-desktop {
      width: 370px;
    }

    &-title {
      margin: 0;
      font-family: IBM-Plex-Sans, sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      text-align: left;
      color: rgba(104, 116, 128, 1);

      @include on-tablet {
        font-size: 14px;
        line-height: 14px;
      }
    }

    &-date {
      margin: 0;
      font-family: IBM-Plex-Sans, sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      text-align: left;
      color: rgba(26, 90, 76, 1);

      @include on-tablet {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  &__title {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: rgba(15, 14, 8, 1);

    @include on-tablet {
      font-size: 36px;
      line-height: 36px;
      width: calc(100% - 110px);
      text-align: left;
      margin: 0 auto;
    }

    @include on-desktop {
      width: 370px;
    }
  }
}
