.schedule-address {

  &__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    @include on-tablet {
      width: 170px;
    }
  }

  &__wrapper {
    gap: 16px;
    display: flex;
    flex-direction: column;

    @include on-tablet {
      width: 340px;
      flex-direction: row;
      gap: 26px;
    }
  }
}
