.schedule-block {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;

  &__title {
    margin-bottom: 20px;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include onTablet {
      flex-direction: row;
    }
  }

  &__time {
    line-height: 150%;
    margin: 0 0 16px;

    @include onTablet {
      width: 160px;
      margin: 0 38px 0 0;
    }

    @include onDesktop {
      width: 170px;
    }
  }

  &__days {
    line-height: 150%;

    @include onTablet {
      width: 145px;
    }

    @include onDesktop {
      width: 170px;
    }
  }
}
