.schedulee {
  font-size: 14px;
  line-height: 150%;

  &__title {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @include onTable() {
      flex-direction: row;
      column-gap: 38px;
    }
  }

  &__item {
    @include onTable() {
      width: 158px;
    }

    & span {
      font-weight: 600;
    }
  }

  &__more-information {
    & span {
      font-weight: 600;
    }
  }
}
