.schedule {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  &__wrapper {
    @include onTablet {
      display: flex;
      gap: 26px;
    }

    @include onDesktop {
      gap: 30px;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__list {
    padding: 0;
  }

  &__open-time {
    margin-bottom: 16px;

    @include onTablet {
      width: 170px;
    }
  }

  &__paragraph {
    @include onTablet {
      width: 144px;
    }
  }

  &__text {
    font-weight: 600;
  }

  &__item {
    list-style: none;
  }
}
