.schedule {
  @include onTablet {
    margin-bottom: 64px;
  }

  @include onMobile {
    margin-bottom: 70px;
  }

  &__title {
    color: #fff;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.63%;
    margin-bottom: 20px;

    &--footer {
      color: $c-black-text;
    }
  }

  &__flex {
    display: flex;
    justify-content: center;
    align-items: start;

    @include onTablet {
      gap: 38px;
    }

    @include onDesktop {
      gap: 30px;
    }

    &--footer {
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    width: 170px;
  }

  &__work-day {
    color: #fff;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    &--footer {
      color: $c-black-text;
    }

    &-text {
      color: #fff;
      font-family: IBM Plex Sans, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;

      @include onMobile {
        width: 280px;
      }

      @include onTablet {
        width: 220px;
      }

      @include onDesktop {
        width: 170px;
      }

      &--footer {
        color: $c-black-text;
      }
    }
  }

  &__work-day time {
    font-weight: 600;
  }

  &__work-day-text strong {
    font-weight: 600;
  }
}
