.schedule-address {
  font-size: 14px;

  &__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}
