.schedule {
  &__title {
    color: $color-white;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 141%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-tablet {
      flex-direction: row;
      gap: 38px;
    }
  }

  &__info {
    color: $color-white;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    @include on-tablet {
      width: 158px;
    }
  }
}
