.schedule-footer {
  @include onTablet {
    width: 170px;
  }

  &__title {
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__list {
    margin-bottom: 20px;
  }

  &__item {
    & span {
      font-weight: 600;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
