.scrolltop {
  display: flex;
  justify-content: flex-end;
 
  @include onTablet {
    display: none;
  }

  &__link {
    width: 50px;
    height: 50px;

    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #1a5a4c;

    background-image: url(../images/arrowTop.png);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
  }
}
