.scroll-to-top {
  position: absolute;
  bottom: 20px;
  right: 0;
  padding: 0;
  margin: 0;
  background-image: url('../images/icons/up.svg');
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $accent-color;

  @include on-tablet {
   display: none;
  }
}
