.scroll {
  display: flex;
  justify-content: center;

  & :nth-child(-n + 1) {
    background-image: url(../images/gallery/green-circle.svg);
  }

  &__item {
    height: 9px;
    width: 9px;

    background-image: url(../images/gallery/white-circle.svg);

    @extend %bgr-image;

    &:not(:first-child) {
      margin-left: 22px;
    }
  }
}
