.scroll-button {
  border-radius: 50%;
  border: 1px solid $color-green;
  background: center no-repeat url(../images/arrow.svg);
  transition: transform $duration;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
