.scroll-to-top {
  display: none;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  position: fixed;
  border: 1px solid $scroll-to-top-border-color;
  border-radius: 50%;
  background-color: rgb(237, 237, 237, 0.5);

  width: 50px;
  height: 50px;
  z-index: 50;
  bottom: 20%;
  right: 0;
  cursor: pointer;

  @include hover(background-color, rgb(237, 237, 237, 1));

  &.visible {
    display: flex;
  }

  &__img {
    width: 16px;
  }
}
