.scroll-to-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: fit-content;
  color: $tip-color;

  @include hover(color, $secondary-decor-color);

  &__decor {
    background-color: $primary-decor-color;
    width: 70px;
    height: 1px;
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
  }
}
