.section {

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #0f0e08;
  }

  @include iPad {
    &__title {
      text-align: unset;
      transform: unset;
    }
  }
}
