.section-one {
  &__title {
    margin: 200px 0 56px;
    @media (max-width: 1279px) {
      margin: 88px 0 48px;
    }
    @media (max-width: 767px) {
      margin: 253px 0 40px;
    }
  }

  &__place {
    display: flex;
    gap: 130px;
    margin-bottom: 104px;

    align-items: center;
    @media (max-width: 1279px) {
      display: block;
      margin-bottom: 112px;
    }
    @media (max-width: 767px) {
      margin-bottom: 60px;
    }
  }

  &__photo-container {
    width: 58%;
    @media (max-width: 1279px) {
      width: 100%;
    }
  }
  &__photo {
    width: 100%;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__about {
    width: 33%;

    @media (max-width: 1279px) {
      width: 100%;
    }
  }
  &__name-date {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    @media (max-width: 1279px) {
      margin: 40px 0 30px;
    }
    @media (max-width: 767px) {
      margin: 20px 0 15px;
    }
  }
  &__date {
    @include text-date;
  }
  &__name {
    margin-right: 20px;
    @include text-name;
  }
  &__title-icon {
    display: flex;
    align-items: center;

    gap: 15px;
  }
  &__text {
    margin-top: 15px;
    @include text;
    @media (max-width: 767px) {
      margin-top: 10px;
    }
  }
}

.section-two {
  background: url(../images/photos/section1.jpg) no-repeat;
  height: 550px;
  background-size: cover;
  width: auto;
  background-position: center center;
  padding-top: 400px;
  @media (max-width: 1279px) {
    height: 390px;
  }
  @media (max-width: 767px) {
    height: 210px;
  }

  &__name-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    @media (max-width: 1279px) {
      margin: 0 0 23px;
    }
    @media (max-width: 767px) {
      margin: 0 0 20px;
      padding: 0 20px;
    }
  }
  &__sticker-container {
    display: flex;
    flex-direction: column;
    margin: 41px auto 0;
    padding: 45px 100px;
    width: 570px;
    height: 204px;
    background: #fff;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
    @media (max-width: 1279px) {
      padding: 45px 80px;
      margin: -100px auto 0;
    }
    @media (max-width: 767px) {
      margin: -70px auto 0;
      padding: 20px 0;
      text-align: center;
      width: 280px;
      height: 140px;
    }
  }
}

.section-three {
  &__title {
    margin: 0 0 56px;
    padding: 300px 0 0;
    @media (max-width: 1279px) {
      margin: 0 0 48px;
      padding: 200px 0 0;
    }
    @media (max-width: 767px) {
      margin: 0 0 40px;
      padding: 180px 0 0;
    }
  }
  &__place {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow-y: hidden;

    @media (max-width: 1279px) {
      flex-wrap: nowrap;
      gap: 20px;
    }
    @media (max-width: 767px) {
      gap: 16px;
    }
  }
  &__photo-container {
    overflow: hidden;
    max-height: 600px;

    &-small {
      max-height: 360px;
      @media (max-width: 1279px) {
        max-height: 100%;
      }
    }
    @media (max-width: 1279px) {
      min-width: 340px;
      width: 45%;
      height: 543px;
    }
    @media (max-width: 767px) {
      height: 410px;
      min-width: 280px;
    }
  }
  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__sliders {
    display: flex;
    justify-content: center;
    gap: 22px;
  }
  &__slider {
    display: none;
    background-image: url(../images/slider.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 9px;
    height: 9px;
    transition: all 0.3s ease;
    &:hover {
      background-image: url(../images/aslider.svg);
    }
    &.active {
      background-image: url(../images/aslider.svg);
    }
  }
}

.section-four {
  padding: 0 20px;
  margin-top: 200px;
  background: url(../images/photos/section4.jpg);
  background-size: cover;
  background-position: center;
  height: 550px;
  @media (max-width: 1279px) {
    height: 380px;
    margin-top: 100px;
  }
  @media (max-width: 767px) {
    height: 386px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    color: #fff;
    margin-bottom: 16px;
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  &__text {
    @include menu-text;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 72px;
    @media (max-width: 1279px) {
      margin-bottom: 64px;
    }
    @media (max-width: 767px) {
      margin-bottom: 50px;
    }
  }
  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    @media (max-width: 1279px) {
      gap: 16px;
    }
    @media (max-width: 767px) {
      gap: 0;
    }
  }
  &__email {
    padding: 26px 24px;
    width: 470px;

    &::placeholder {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: #687480;
    }
    @media (max-width: 1279px) {
      width: 374px;
    }
    @media (max-width: 767px) {
      width: 230px;

      padding: 15px 24px;
    }
  }
  &__button {
    background: url(../images/email.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70px;
    width: 70px;
    border: none;
    transition: all 0.3s ease;
    &:hover {
      background: url(../images/email1.svg);
    }
    @media (max-width: 767px) {
      height: 50px;
      width: 50px;
    }
  }
}
