.section-title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;

  @include onTablet {
    text-align: left;
    font-size: 48px;
  }
}
