.section-title {
  display: inline-block;
  font-family: $font-primary;
  font-size: $fs-large;
  line-height: $lh-heading;
  margin: 0;
  text-align: center;

  margin-bottom: 40px;

  @include on-tablet {
    margin-bottom: 48px;
    text-align: left;
    font-size: 48px;
    line-height: $lh-tight;
  }

  @include on-desktop {
    margin-bottom: 56px;
  }

  &--subscription {
    color: #fff;
    margin-bottom: 20px;
    display: block;

    @include on-tablet {
      text-align: center;
      margin-bottom: 16px;
    }
  }

  @include text-hover-scaling;
}
