.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  font-family: Montserrat, sans-serif;
  margin: 0;
  margin-bottom: 40px;

  &--1 {
    margin-top: 70px;

    @include on-tablet {
      margin-top: 88px;
    }

    @include on-desktop {
      margin-top: 200px;
    }
  }

  &--2 {
    margin-top: 183px;

    @include on-tablet {
      margin-top: 208px;
    }

    @include on-desktop {
      margin-top: 302px;
    }
  }


  @include on-tablet {
    font-size: 48px;
    margin-bottom: 48px;
    text-align: left;
  }

  @include on-desktop {
    margin-bottom: 56px;
    text-align: left;
  }
}

.section-title-bottom {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  font-family: Montserrat, sans-serif;
  margin: 0;
  margin-bottom: 20px;
  color: $menu-text-colort;

  &--3 {
    margin-top: 88px;

    @include on-tablet {
      margin-top: 82px;
    }

    @include on-desktop {
      margin-top: 163px;
    }
  }


  @include on-tablet {
    font-size: 48px;
    margin-bottom: 16px;
  }
}

.section-title-text {
  font-weight: 400px;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;

  &--follow {
    color: $menu-text-colort;
  }

  @include on-tablet {
    line-height: 100%;
    margin-bottom: 64px;
  }

  @include on-tablet {
    margin-bottom: 72px;
  }
}
