.section {
  margin-right: 20px;
  margin-left: 20px;

  @include onTablet {
    margin-left: 34px;
    margin-right: 34px;
  }

  @include onDesktop {
    margin-left: 55px;
    margin-right: 55px;
  }
}
