.section-titile {
  font-size: 36px;
  text-align: center;
  color: $first-text-color;

  @include on-tablet {
    text-align: start;
  }

  &--centr {
    text-align: center;

    @include on-tablet {
      text-align: center;
    }
  }
}
