.section {

  &__title {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;

    padding-bottom: 40px;

    @include onTablet {
      padding-bottom: 48px;
    }
    @include onDesktop {
      padding-bottom: 56px;
    }

    &--events {
      @include onDesktop {
        text-align: left;
      }
    }
  }
}
