.section-titile {
  font-size: 36px;
  text-align: center;
  color: $first-text-color;
  font-weight: 700;

  @include on-tablet {
    text-align: start;
  }

  &--centr {
    text-align: center;
  }
}
