.page__section {
  box-sizing: border-box;

  &--content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;

    @include onDeskTop {
      flex-direction: row;
    }
  }

  &--container {
    max-width: 370px;
    margin: auto;

    @include onMobile {
      margin-top: 50px;
    }

    @include onTablet {
      margin: 0;
    }

    @include onDeskTop {
      margin-top: 200px;
    }
  }

  &-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin-top: 200px;
    padding-bottom: 40px;

    @include onDeskTop {
      display: flex;
      justify-content: start;
      margin-left: 55px;
    }
  }

  &-container {
    display: flex;
    justify-content: center;
    width: 280px;
    height: 210px;
  }

  &-painting {
    margin-bottom: 20px;
    transition: transform 0.2s;

    @include onMobile {
      width: 100%;
    }

    @include onTablet {
      width: 700px;
      height: 520px;
    }

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    &-painting-container {
      display: flex;
      justify-content: center;

      @include onDeskTop {
        justify-content: space-between;
      }
    }

    @include onDeskTop {
      height: 600px;
      margin-bottom: 104px;
      margin-left: 55px;
      margin-right: 130px;
    }
  }

  &--orange {
    height: 15px;
    width: 15px;
    align-self: center;
    margin-left: 12px;
  }

  &-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #687480;
    text-align: left;
  }

  &-date {
    white-space: nowrap;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #1a5a4c;
    text-align: right;
  }

  &-name {
    display: flex;
    width: 100%;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0f0e08;
    letter-spacing: 1.5px;
    border-bottom: 1px solid rgba(26, 90, 76, 0.25);
    padding-bottom: 50px;
    margin-top: 10px;
    white-space: nowrap;

    @include onDeskTop {
      margin-top: 23px;
      justify-content: center;
    }
  }

  &-names {
    display: flex;
    // justify-content: center;
    width: 100%;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0f0e08;
    letter-spacing: 1.5px;
    // text-align: center;
  }

  &-content {
    margin-bottom: 60px;
  }

  &-lection {
    display: flex;
    justify-content: center;
    background-image: url(../images/classicism.png);
    margin: 0;
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &-announcement {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 24px 20px;
    margin-top: 448px;
    width: 90%;

    @include onDeskTop {
      width: 50%;
      justify-content: center;
    }

    background-color: #fff;

    &--top {
      display: flex;
      gap: 15px;

      @include onDeskTop {
        gap: 130px;
      }

      @include onTablet {
        gap: 140px;
      }
    }
  }
}

.top {
  margin-bottom: 20px;

  &__title {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}
