.shedule {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;

  &__container {
    display: flex;
    flex-direction: column;
  }

  /*Розміщення графіків роботи у вер. меню*/
  &__menu-position {
    @include onTablet {
      justify-content: start;
      flex-basis: content;
      flex-direction: row;
      gap: 38px;
    }

    @include onDesktop {
      gap: 30px;
    }
  }

  &__work {
    flex-basis: content;
    flex-shrink: 0;
    margin-bottom: 16px;

  }

  &__holiday {
    flex-shrink: 1;
    flex-basis: 40%;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: normal;
  }

  &__title {
    margin: 0 0 20px;
  }

  &__text {
    font-weight: 600;
  }

  &--text-color-white {
    color: $main-color;
  }

  &--text-color-black {
    color: $text-color;
  }
}
