.shedule {
  font-weight: 400;
  line-height: 150%;
  color: $white-text-color;

  &--black-text {
    color: $black-text-color;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    line-height: 141%;
  }

  &__content {
    @include on-tablet {
      display: flex;
      flex-direction: row;
      gap: 26px;
    }
  }

  &__list {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
  }

  &__item {
    list-style: none;

    @include on-tablet {
      white-space: nowrap;
    }
  }

  &__text {
    display: inline;
    margin: 0;

    &--rude {
      font-weight: 600;
    }
  }

  &__off {
    width: fit-content;
  }
}
