.show-card {
  @include contentPaddingInline;
  margin-bottom: 60px;
  @include onDesktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
  }
  &__photo {
    width: 100%;
    @include onDesktop{
      max-width: 670px;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include onTablet {
      justify-content: start;
      gap: 20px;
      margin: 30px 0;
    }
  }
  &__name {
    font-family: IBM Plex Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #687480;
    text-transform: uppercase;
    @include onDesktop{
      font-size: 21px;
    }
  }
  &__date {
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #1a5a4c;
    @include onDesktop{
      font-size: 21px;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__title-name {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #0f0e08;
    margin: 0;
    @include onDesktop{
      font-size: 36px;
    }
  }
  &__square {
    width: 10px;
    height: 10px;
    background-color: #f14a27;
  }
  &__descr {
    font-family: IBM Plex Sans;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #4e4e4e;
    @include onTablet {
      max-width: 460px;
    }
  }
}
