.side-pin {
  position: absolute;
  display: none;
  align-items: center;
  gap: 20px;
  bottom: 0;
  transform: rotateZ(270deg);
  z-index: 1;

  @include onDesktop {
    display: flex;
  }
  
  &__text {
    display: inline-block;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: $font-light-grey;
  }

  &__line {
    display: inline-block;
    width: 70px;
    height: 2px;
    background-color: $font-light-grey;
  }
}
