.singUp {
  background-image: url(../images/background/background.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;

  &__title {
    @extend %Montserrat;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: $colorWhite;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 20px;

    @include onTablet {
      font-size: 48px;
      margin-bottom: 16px;
    }

    @include onDesktop {
      padding-top: 163px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $colorWhite;
    text-align: center;
    margin-bottom: 50px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: 72px;
    }
  }

  &__form {
    display: flex;
    justify-content: center;

    &--email {
      box-sizing: border-box;
      width: 230px;
      height: 50px;
      padding: 18px 24px ;
      @extend %Montserrat;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: $colorBlack;

      @include onTablet {
        width: 374px;
        height: 70px;
        padding: 28px 24px;
      }

      @include onDesktop {
        width: 470px;
        padding: 28px 32px;
      }

      &::placeholder {
        color: #687480;
      }
    }

    &--button {
      height: 50px;
      width: 50px;
      background-color: #f14a27;
      border: none;
      margin-bottom: 88px;
      cursor: pointer;
      transition: background-color 0.5s ease;

      @include onTablet {
        height: 70px;
        width: 70px;
        margin-left: 16px;
        margin-bottom: 82px;
      }

      @include onDesktop {
        margin-bottom: 163px;
      }

      &:hover {
        background-color: $colorGreen;
        @include BtnHover;
      }
      
      &--arrow {
        fill: #000;
        transition: fill 0.5s;
      }
    }
  }
}
