.sitemap {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    row-gap: 20px;

    width: 280px;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    position: relative;
  }

  &__link {
    text-decoration: none;

    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $colorMarshland;

    transition: all 0.3s;

    &:hover {
      color: $colorGreyLight;
      text-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    }
  }
}
