.slider {
  width: 100%;
  min-height: 100%;

  @include laptop {
    display: none;
  }

  &__wrapper {
    padding-bottom: 35px;

    @include tablet {
      padding-bottom: 47px;
    }
  }

  &__image {
    text-align: center;
  }

  &__image img {
    max-width: 100%;
  }
}

.swiper-pagination-bullet {
  margin: 0 11px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 11px;
}

.swiper-pagination-bullet-active {
  background-color: $green-color;
  @include square (9px);
}
