.slides {
  &__fade {
    row-gap: 30px;
    @include page-grid;

    @include on-tablet {
      padding-inline: 34px;
    }

    @include on-desktop {
      padding-inline: 55px;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @include hover(transform, scale(1.05));
  }

  &__image {
    position: relative;

    &--woman-heigt {
      min-height: 410px;
      grid-column: 1 / -1;

      @include on-tablet {
        height: 543px;
        grid-column: 1 / 4;
      }

      @include on-desktop {
        grid-column: 1 / 5;
        height: 600px;
      }
    }

    &--winter-big {
      @include on-tablet {
        grid-column: 4 / 7;
        height: 543px;
      }

      @include on-desktop {
        grid-column: 5 / 13;
        height: 600px;
      }
    }

    &--park-long {
      @include on-desktop {
        grid-column: 1 / 9;
        height: 360px;
      }
    }

    &--sea-aquare {
      @include on-desktop {
        height: 360;
        grid-column: 9 / 13;
      }
    }
  }
}
