.slider {
  &__item {
    display: none;

    &--active {
      display: block;
    }

    @include onDesktop {
      display: block;
    }
  }

  &__control {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-top: 20px;

    @include onDesktop {
      display: none;
    }
  }

  &__button {
    cursor: pointer;
    height: 9px;
    width: 9px;

    border-radius: 50%;

    background-color: #e0e0e0;

    &--active {
      background-color: #1a5a4c;
    }
  }
}
