.slider {
  position: relative;
  width: 100%;

  &__list {
    display: flex;
    position: relative;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin-bottom: 20px;
  }

  &__img {
    width: 100%;
    min-width: 280px;
    height: 410px;
    object-fit: cover;
    object-position: center;
    scroll-snap-align: start;

    @include hover (transform, scale(1.05));
    
    @include onTablet {
      min-width: 340px;
      height: 543px;
    }
  }

  &__nav {
    display: flex;
    align-self: end;
    justify-content: center;
    gap: 20px;
  }

  &__button {
    cursor: pointer;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #e0e0e0;

    &:hover {
      background-color: $menu-color;
    }

    &:focus {
      background-color: $menu-color;
    }

    &:active {
      background-color: $menu-color;
    }
  }
}
