.slider {
  &__wrapper {
    height: 543px;
  }
  &__img--1 {
    background-image: url("/images/picture5.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__img--2 {
    background-image: url("/images/picture6.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__img--3 {
    background-image: url("/images/picture7.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__img--4 {
    background-image: url("/images/picture8.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
