.slider-wrapper {
  @include on-desktop {
    display: none;
  }
}

.swiper {
  box-sizing: border-box;
  padding-inline: 20px;
  width: 100%;
  height: 410px;

  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;

  @include on-tablet {
    padding-inline: 39px;
    height: 584px;
  }

  &-horizontal {
    touch-action: pan-y;
  }

  &-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
  }

  &-slide {
    // background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 410px;


    // flex-shrink: 0;
    // width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;

    @include on-tablet {
      height: 543px;
      width: 340px;
    }
  }

  &-slide1 {
    background-image: url(../images/gallery1.svg);
  }

  &-slide2 {
    background-image: url(../images/gallery2.svg);
  }

  &-slide3 {
    background-image: url(../images/gallery3.svg);
  }

  &-slide4 {
    background-image: url(../images/gallery4.svg);
  }

  &-slide5 {
    background-image: url(../images/gallery5.svg);
  }

  &-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }

  &-pagination-bullet {
    display: inline-block;
  }
}




