.sm-bar {
  grid-area: sm;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  transition: all 1s;

  @include media(tablet, desktop, desktopWide) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 61px;
  }

  &__networks {
    display: flex;
    flex-direction: row;
    gap: 18px;
  }

  &__link {
    display: block;
    box-sizing: border-box;
    text-align: center;

    width: 24px;
    height: 24px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
  }
}
