.social {
  display: flex;
  gap: 0 28px;

  &__item-fb svg {
    width: 12px;
    height: 24px;
    fill: $black-color;

    @include hover {
      &:hover {
        transform: scale(1.2);
        fill: rgb(0, 132, 255);
      }
    }
  }

  &__item-inst svg {
    width: 24px;
    height: 24px;
    fill: $black-color;

    @include hover {
      &:hover {
        transform: scale(1.2);
        fill: rgb(232, 116, 255);
      }
    }
  }
}
