.socials {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.3s ease;

  &__fb,
  &__insta {
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 20px;
  }

  &__fb {
    background-image: url(../images/icons/fb_icon.svg);

    &:hover {
      background-image: url(../images/icons/fb_active.svg);
    }
  }

  &__insta {
    background-image: url(../images/icons/insta_icon.svg);

    &:hover {
      background-image: url(../images/icons/insta_active.svg);
    }
  }
}
