.social-icons {
  display: flex;
  align-items: center;
  width: fit-content;

  @include onTablet {
    justify-content: space-between;
  }

  &__item {
    padding: 10px;
    cursor: pointer;

    @include hover(transform, scale(1.2));

    @include onTablet {
      &:first-child {
        padding-left: 0;
      }
    }
  }
}
