.social__media {
  display: inline-block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;

  background-color: #000;
  transition: all 0.3s;

  &-f {
    -webkit-mask: url("../images/icons/Facebook.svg") no-repeat 50% 50%;
    mask: url("../images/icons/Facebook.svg") no-repeat 50% 50%;
  
    &:hover {
      background-color: #2217b6;
      transform: scale(120%);
    }
  }

  &-i {
    -webkit-mask: url("../images/icons/instagram.svg") no-repeat 40% 40%;
    mask: url("../images/icons/instagram.svg") no-repeat 50% 50%;
  
    &:hover {
      background: linear-gradient(#270a55, #e846a7, #d0f70e);
      transform: scale(120%);
    }
  }
}
