.social-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 40px;

  @include on-tablet {
    grid-column: span 1;
    flex-direction: column;
    gap: 64px;
    justify-content: start;
  }

  @include on-desktop {
    grid-column: span 2;
    align-items: flex-start;
  }

  &__logo {
    width: 63px;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
