.social-medias {
  margin-bottom: 40px;
  display: flex;
  justify-content: end;
  align-self: center;

  @include onTablet {
    align-self: flex-start;
  }

  @include onDesctop {
    align-self: flex-start;
  }
}
