.span {

  &-title {
    color: #687480;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 16px */
  }

  &-data {
    color: #1A5A4C;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 24px */
  }
}
