.span {
  &__break {
    &--mobile {
      @include mobile {
        display: table;
      }
    }
  
    &--tablet {
      @include tablet {
        display: table;
      }
    }
  
    &--laptop {
      @include laptop {
        display: table;
      }
    }
  }

  &__bold {
    font-weight: bold;
  }
}
