.square-button {
  border: 0;
  padding: 13px;
  cursor: pointer;

  &:focus-visible {
    outline: 0;
  }

  @include onTablet {
    padding: 23px;
  }

  &--tickets {
    background-color: $greenAccent;
  }

  &--subscription {
    background-color: $redAccent;

    @include onDesktop {
      @include hover (box-shadow, 0 0 20px 10px rgba(241, 74, 39, 0.5));
      @include scale(1.2);
    }
  }
}
