.square-button {
  border: 0;
  padding: 13px;
  cursor: pointer;
  border: 1px solid transparent;

  &:focus-visible {
    outline: 0;
  }

  @include onTablet {
    padding: 23px;
  }

  &--tickets {
    transition: all 0.3s;
    background-color: $dark-green;
  }

  &--subscription {
    background-color: #f14a27;
  }
}
