.sub {
  &__media {
    display: flex;
    justify-content: space-between;
    margin: 20px 32px;
    align-items: center;

    @include onTablet() {
      display: flex;

    }
    @include onTablet() {
      display: flex;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin: 0 20px 32px;
    padding-bottom: 30px;

    &-title {
      font-family: "IBM Plex Sans", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140.62%;
      color: #0f0e08;
      margin-bottom: 20px;
    }

    &-content {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 14px;
      line-height: 150%;
      color: #0f0e08;
    }
  }

  &__logo {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #0f0e08;
    text-decoration: none;
  }
  &__socialMedia {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}
