.sub {
  padding-block: 88px;
  background-image: url(../images/sub/sub-bg-m.png);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-min-width) {
    padding-block: 82px;
    background-image: url(../images/sub/sub-bg-t.png);
  }

  @media (min-width: $desktop-min-width) {
    padding-block: 163px;
    background-image: url(../images/sub/sub-bg-d.png);
  }

  &__title {
    color: #FFF;
    margin-bottom: 20px;

    @media (min-width: $tablet-min-width) {
      margin-bottom: 16px;
      text-align: center;
    }

    @media (min-width: $desktop-min-width) {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__text {
    color: #FFF;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 50px;

    @media (min-width: $tablet-min-width) {
      line-height: 18px;
      margin-bottom: 64px;
    }

    @media (min-width: $desktop-min-width) {
      margin-bottom: 72px;
    }
  }
}
