.subscription {
  padding: 90px 20px;
  margin-bottom: 50px;
  height: 386px;
  background-image: url(../images/subscription.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;

  @include onDesktop {
    height: 550px;
    background-image: url(../images/subscription__desktop.png);
  }
  

  &__title {
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    line-height: 100%;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
  }

  &__position {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
  }

  &__button {
    width: 230px;
    height: 50px;
    padding: 18px 24px;
    box-sizing: border-box;
    border: none;

    @include onTablet {
      height: 70px;
      width: 370px;
      margin-right: 16px;
    }

    @include onDesktop {
      width: 470px;
      margin-right: 30px;
    }

    &:focus {
      outline: none;
      border: 2px solid $squareColor;
    }
  }

  &__sqaure {
    position: absolute;
    @include smallBlock;
    border: none;
    transition: transform, 0.5s;

    &:hover {
      transform: scale(1.1);
    }

    @include onTablet {
      @include bigBlock;
    }
  }
}
