.subscribe-us {
  width: 100%;
  padding: 88px 0;
  background-image: url(../images/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &--margin-top {
    margin-top: 100px;

    @include onTablet {
      margin-top: 92px;
    }

    @include onDesktop {
      margin-top: 200px;
    }
  }

  @include onTablet {
    padding: 82px 0;
  }

  @include onDesktop {
    padding: 163px 0;
  }

  &__info {
    @extend %paddings;
  }

  &__subtitle {
    margin: 0;
    text-align: center;
    @extend %montserrat;
    @include text-decoration ($font-w-xl, $font-t-s-s, $lh12, $main-bg);

    @include onTablet {
      @include text-decoration ($font-w-xl, $font-t-s-l,$lh14, $main-bg);
    }
  }

  &__description {
    margin: 0;
    text-align: center;
    @extend %ibm;
    @include text-decoration ($font-w-s, $font-s-l, $lh9, $main-bg);

    @include onTablet {
      @include text-decoration ($font-w-s, $font-s-l, $lh4, $main-bg);
    }

    &--margins {
      margin: 20px 0 60px;

      @include onTablet {
        margin: 16px 0 64px;
      }

      @include onDesktop {
        margin: 16px 0 72px;
      }
    }
  }
}
