.subscription {
  height: 386px;
  width: 100%;
  background-image: url(../images/subscription.svg);
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $colorWhite;
}
