.substriction {
  box-sizing: border-box;

  &__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  &__background {
    height: 386px;
    width: 320px;
    background-image: url("../images/footer/footer.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    margin: 55px 69px 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;

    color: #fff;
  }

  &__content {
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;

    color: #fff;
  }

  &__form {
    display: flex;
    flex-direction: row;
  }

  &__input {
    border: none;
    outline: none;
    height: 47px;
    width: 233px;
    background: #fff;

    &::placeholder {
      width: 233px;
      padding-left: 31px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;

      color: #687480;
    }
  }

  &__button {
    border: none;
    outline: none;
    width: 50px;
    height: 50px;

    background: #f14a27;
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__icon {
    margin-right: 24px;
    height: 24px;
    width: 100%;
    
    &:nth-child(2n) {
      margin: 0;
    }
  }
}
