.subscription {
  padding-block: 88px;
  height: 386px;
  background-image: url("../images/subscription/Rectangle\ 22.3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include onTablet {
    background-image: url("../images/subscription/subscription.png");
    height: 380px;
  }

  @include onDesktop {
    height: 550px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  &__description {
    color: #fff;
    font-family: $first-font-family;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
  }

  &__form {
    display: flex;
    justify-content: center;

    @include onTablet {
      gap: 16px;
    }

    @include onDesktop {
      gap: 30px;
    }
  }

  &__input-email {
    width: 230px;
    height: 50px;
    padding-left: 24px;
    border: none;
    outline: none;

    color: #687480;
    font-family: $second-font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;

    @include onTablet {
      height: 70px;
    }

    @include onDesktop {
      width: 470px;
    }
  }
}
