.subscribe {
  @include gridTemplate;
  margin-top: 100px;
  row-gap: 50px;
  padding-block: 88px;

  height: 100%;

  @include onTablet {
    margin-top: 92px;
    row-gap: 64px;
    padding-block: 82px ;
  }
  @include onDesktop {
    margin-top: 200px;
    row-gap: 72px;
    padding-block: 163px;
  }

  &--bg {
    background: url(../images/footer.png);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    grid-column: 1/-1;
    grid-row: 1;
    @include onTablet {
      grid-column: 2/span 4;
      gap: 64px;
    }
    @include onDesktop {
      grid-column: 4/span 6;
      gap: 72px;
    }
  }
}

.top {
  display: flex;
  flex-direction: column;
  gap: 20px;

  text-align: center;
  color: $text-secondary;

  @include onTablet {
    gap: 16px;
  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%; /* 36px */

    @include onTablet {
      font-size: 48px;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; /* 27px */
  }
}

.mail_input {
  --height: 50px;

  display: flex;
  height: var(--height);
  @include onTablet {
    --height: 70px;
    gap: 16px;
  }
  @include onDesktop {
    gap: 30px;
  }

  &__input {
    flex-grow: 1;
    padding-block: 18px;
    padding-inline: 24px;
    border: none;
    color: #687480;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%; /* 14px */
    outline: 0;
    @include onTablet {
      padding-block: 18px;
    }
  }
  &__button {
    cursor: pointer;
    padding: 0;
    border: none;
    align-items: center;
    width: var(--height);
    background: $bg-button url(../images/arrow.svg) no-repeat center;
    &:hover {
      background-color: $bg-secondary-color;
    }
  }
}
