.subscr {
  height: 386px;
  padding: 0 82px;
  background-image: url(../images/subs.png);

  @include onTablet {
    height: 380px;
  }

  @include onDesktop {
    height: 550px;
  }

  &__title {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #fff;
  }

  &__text {
    margin-bottom: 64px;
    text-align: center;
    font-family: $fontIbn;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
  }

  &__form {
    display: flex;
    justify-content: center;
    // gap: 16px;
  }

  &__form-field {
    box-sizing: border-box;
    display: block;
    width: 374px;
    height: 50px;
    border: 1px solid transparent;
    // padding: 14px 16px;
    background-color: #fff;

    &:hover {
      border-color: #f14a27;
    }

    &:focus {
      border-color: $colorBlack ;
      outline: none;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 100%px;
      color: #687480;
    }
  }

  &__form-link {
    display: block;
    height: 50px;
    width: 50px;
    background-color: $colorGreen;
    background-image: url(../images/go.svg);
    background-position: center;
    background-repeat: no-repeat;

    @include onTablet {
      height: 70px;
      width: 70px;
    }
  }
}
