.main {

  &__subscription {
    height: 386px;
    padding: 88px 0;

    @include on-tablet {
      padding: 82px 0;
    }

    @include on-desctop {
      height: 550px;
    }
  }
}

.subscription {
  background-image: url(/src/images/subscription-block/image.png);
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1;
    color: $color-white;
    text-align: center;
    margin-bottom: 20px;

    @include on-tablet {
      font-size: 48px;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    color: $color-white;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  &__form {
    position: relative;

    @include on-tablet {
      width: 446px;
      margin: 0 auto;

    }
  }

  &__input {
    width: 100%;
    height: 50px;
    padding: 18px 24px;

    @include on-tablet {
      height: 70px;
      width: 374px;
    }
  }

  &__btn {
    width: 50px;
    height: 100%;
    background-color: $color-orange;
    position: absolute;
    right: 0%;
    transition: all 0.3s;


    @include on-desctop  {
      @include hover (background-color, rgba(255, 153, 0, 0.99));
    }

    @include on-tablet {
      right: -3%;
      width: 70px;
    }

    &::after {
      content: '>';
      font-weight: 700;
    }
  }
}
