.subscription-form {
  display: grid;
  grid-template-columns: 1fr min-content;

  @include on-tablet {
    column-gap: 16px;
  }

  @include on-desktop {
    column-gap: 30px;
  }

  &__field {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;

    height: 50px;
    padding-left: 24px;

    font-size: 14px;
    color: #687480;
    line-height: 14px;
    font-family: Montserrat, sans-serif;

    @include on-tablet {
      height: 70px;
    }

    @include on-desktop {
      padding-left: 32px;
    }

    &:-webkit-autofill {
      &,
      &:hover,
      &:focus {
        -webkit-text-fill-color: #687480;
        transition: background-color 5000s ease-in-out 0s;
      }
    }
  }

  &__button {
    margin: 0;
    padding: 0;
    border: none;

    font-size: 0;

    height: 100%;
    aspect-ratio: 1;

    cursor: pointer;
    background-color: #f14a27;

    background-size: 8px 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/icons/icon-next.svg');

    @include on-desktop {
      @include hover(transform, scale(1.2));
    }
  }
}
