.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/subscribe_bg.png);

  &__title {
    text-align: center;
    padding: 88px 0 20px;
    margin: 0;
    color: #fff;

    @include onDesktop {
      padding-top: 163px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    padding-bottom: 50px;

    color: #fff;

    @include onDesktop {
      padding-bottom: 72px;
    }
  }

  &__form {
    position: relative;
    padding-bottom: 88px;

    @include onDesktop {
      padding-bottom: 163px;
    }
    
    &--input {
      border: 0;
      height: 50px;
      width: 100%;
      
      @include onTablet {
        height: 70px;
      }
      
      @include onDesktop {
        height: 70px;
      }

      &::placeholder {
        padding-left: 24px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #687480;
      }
    }
    
    &--button {
      position: absolute;
      top: 0;
      right: 0;
      
      display: flex;
      justify-content: center;
      align-items: center;
      
      width: 50px;
      height: 50px;
      
      background-color: #f14a27;
      
      @include onTablet {
        width: 70px;
        height: 70px;
      }
      
      @include onDesktop {
        width: 70px;
        height: 70px;
      }
    }
  }
}
