.subscription-cta {
  background-image: url(../images/background/subscription-cta.jpg);
  padding: 88px $page-padding-inline-mobile;

  @include page-grid;

  @include on-tablet {
    padding: 82px $page-padding-inline-tablet;
  }

  @include on-desktop {
    padding: 163px $page-padding-inline-desktop;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 4 / -4;
    }
  }

  &__title {
    color: #fff;
  }

  &__description {
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-top: 20px;

    @include on-tablet {
      margin-top: 16px;
    }
  }

  &__form {
    margin-top: 50px;
    display: flex;
    width: 100%;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      margin-top: 64px;
      gap: 16px;
    }

    @include on-desktop {
      margin-top: 72px;
      gap: 30px;
    }
  }

  &__input {
    height: 50px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    flex-grow: 1;
    padding: 18px 24px;
    border: none;

    @include on-tablet {
      height: 70px;
    }

    &::placeholder {
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      line-height: 14px;
      text-align: left;
    }
  }

  &__button {
    box-sizing: border-box;
    padding: 13px;
    background-color: #f14a27;
    border: none;

    @include on-tablet {
      padding: 23px;
    }
  }
}

.icon {
  height: 24px;
  width: 24px;

  &--arrow-dark {
    background-image: url(../images/icons/arrow-dark.svg);
  }
}
