.subscribe {
  box-sizing: border-box;
  padding: 88px 0;

  color: #fff;

  background-image: url("/images/subsribe/subsribe-back.png");
  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;

  @media (min-width: 768px) {
    padding: 82px 0;
  }

  @media (min-width: 1280px) {
    padding: 163px 0;

    background-position: 0 -20%;
  }

  &__title {
    font-size: 36px;

    color: unset;

    margin-bottom: 20px;

    @media (min-width: 768px) {
      font-size: 48px;

      margin-bottom: 16px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 150%;
    text-align: center;

    margin-bottom: 50px;

    @media (min-width: 768px) {
      line-height: 100%;

      margin-bottom: 64px;
    }

    @media (min-width: 1280px) {
      margin-bottom: 72px;
    }
  }

  &__form {
    display: flex;
    height: 50px;

    @media (min-width: 768px) {
      height: 70px;

      gap: 16px;
    }

    @media (min-width: 1280px) {
      gap: 30px;
    }
  }

  &__input {
    box-sizing: border-box;
    padding: 18px 24px;

    flex-grow: 1;

    border: none;

    font-family: "Montserrat", "IBM Plex Sans", sans-serif;
    font-size: 14px;
    line-height: 100%;
    
    color: #687480;

    &:focus {
      outline: none;
    }
  }

  &__button {
    border: none;

    width: 50px;

    background-color: #f14a27;

    background-image: url("/images/black-arrow.svg");
    background-size: auto;

    @media (min-width: 768px) {
      width: 70px;
    }
  }
}
