.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__header {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    color: $greyColor;
    text-transform: uppercase;

    @include onTablet {
      font-size: 14px;
    }
  }

  &__green-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    color: $darkGreenColor;

    @include onTablet {
      font-size: 14px;
    }
  }
}
