.subtitle {
  margin-bottom: 10px;

  @include onTablet {
    margin-bottom: 15px;
  }

  &--lecture {
    @include onTablet {
      padding: 0 55px;
      margin-bottom: 50px;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: $color-2;
    transition-duration: 0.3s;

    &:hover {
      color: $color-6;
    }

    @include onTablet {
      font-size: 36px;
      line-height: 100%;
      gap: 15px;
    }
  }

  &__text-last {
    text-align: center;

    @include onTablet {
      text-align: start;
    }
  }

  &__button {
    width: 10px;
    height: 10px;
    background-color: $color-6;
    border: none;
    cursor: pointer;

    @include onTablet {
      width: 15px;
      height: 15px;
    }
  }
}
