.suscribe {
  margin-top: 100px;

  @include onTablet {
    margin-top: 92px;
  }

  @include onDesktop {
    margin-top: 200px;
  }

  background-image: url(../images/suscribeBack.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    margin-top: 88px;
    grid-column: 1/ -1;
    color: #fff;

    @include onDesktop {
      margin-top: 163px;

    }
  }

  &__text {
    margin-top: 20px;
    grid-column: 1/ -1;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;

    @include onTablet {
      margin-top: 16px;
    }
  }

  &__button {
    grid-column: 1 / -1;
    margin: 50px auto 0;
    padding-bottom: 88px;

    @include onTablet {
      margin-top: 64px;
      grid-column: 2 / -2;
      padding-bottom: 82px;
    }
    @include onDesktop {
      margin-top: 72px;
      grid-column: 4 / 8;
      padding-bottom: 163px;
    }

    &__text {
      width: 230px;
      height: 50px;
      display: block;
      text-decoration: none;
      color: $mainBlack;
      font-size: 16px;
      font-weight: 500;
      line-height: 100%;
      border: none;
      outline: none;
      padding-left: 24px;

      &::placeholder {
        color: $titleGrey;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
      }

      @include onTablet {
        width: 374px;
        height: 70px;
      }

      @include onDesktop {
        width: 470px;
        padding-left: 32px;
      }
    }
    &__photo {
      position: relative;
      top: -50px;
      right: -230px;
      width: 50px;
      height: 50px;
      display: block;
      background-image: url(../images/redArrow.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      outline: none;
      border: none;

      @include onTablet {
        width: 70px;
        height: 70px;
        top: -70px;
        right: -390px;
      }

      @include onDesktop {
        right: -500px;
      }
    }
  }
}
