.swiper {
  text-align: center;
  @include onTablet() {
    text-align: center;
  }
  @include onDesktop() {
    display: none;
  }

  &__slide {
    display: flex;
    flex-wrap: wrap;
  }

  &__img {
    width: 280px;
    height: 410px;
    position: cover;

    margin-bottom: 129px;
  }
}
