.swiper {
  width: 100%;
  height: 410px;

  @include onTablet {
    width: 340px;
    height: 543px;
  }

  &-slide img {
    width: 100%;
    height: 100%;
  }

  &-pagination {
    &-bullet-active {
      background: #fff !important;
    }
  }
}
