.swiper {
  @include onDesktop {
    display: none;
  }
  &__slider {
    padding-bottom: 40px;
  }
  &__img {
    height: 410px;
    width: 100%;
    background-position: center;
    background-size: cover;

    @include onTablet {
      height: 543px;
    }

    &--1 {
      background-image: url(../images/gallery/picture1.jpg);
    }

    &--2 {
      background-image: url(../images/gallery/picture2.jpg);
    }

    &--3 {
      background-image: url(../images/gallery/picture3.jpg);
    }

    &--4 {
      background-image: url(../images/gallery/picture4.jpg);
    }
  }
}

.swiper-pagination-bullet-active {
  background-color: $colorMainGreen;
}
