.schedule-and-contacts {
  display: grid;

  &--title {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
}

.schedule {
  line-height: 150%;

  &__list {
    &--item {
      &-time {
        font-weight: 600;
        font-size: 14px;
      }
    }
  }

  &__add-information {
    padding: 28px 0 36px;
  }
}

.contacts {
  line-height: 150%;

  &__list {
    &--item {
      &-time {
        font-weight: 600;
        font-size: 14px;
      }

      &--link {
        color: #0f0e08;
        transition: all 0.3s;

        &:hover {
          color: $red;
        }
      }
    }
  }
}

.nav {

  &--item {
    display: block;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 100%;
    color: #0f0e08;
    transition: all 0.3s;

    &:hover {
      color: $red;
    }
  }
}
