.schedule-and-contacts {
  display: flex;

  &--title {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
}

.schedule {
  line-height: 150%;

  @include onTablet {
    display: grid;
    grid-row-start: 2;
    grid-column-end: 5;
  }

  &__list {
    &--item {
      &-time {
        font-weight: 600;
        font-size: 14px;
      }
    }
  }

  &__add-information {
    padding: 28px 0 36px;
  }
}

.contacts {
  line-height: 150%;
  display: grid;

  @include onTablet {
    grid-row-start: 2;
    grid-column-end: 5;
  }

  &__list {
    &--item {
      &-time {
        font-weight: 600;
        font-size: 14px;
      }
    }
  }
}

.nav {
  &--item {
    display: block;
    font-size: 16px;
    line-height: 100%;
    color: #0f0e08;
    padding-bottom: 20px;
  }
}
