.table {
  @include text-s;

  &__title {
    margin-bottom: 20px;
    line-height: 20px;
  }

  &__content {
    display: grid;

    &--menu {
      grid-template-columns: repeat(2, 170px);
      column-gap: 30px;

      @include on-tablet {
        grid-template-columns: 170px 144px;
        column-gap: 26px;
      }

      @include on-phone {
        grid-template-columns: 1fr;
        row-gap: 16px;
      }
    }

    &--footer {
      row-gap: 20px;
    }
  }
}
