.text {
  position: relative;
  margin-bottom: 43px;
  left: 20px;
  bottom: 57px;
  width: 280px;
  background-color: white;
  box-shadow: 0 2px 0 0 #1a5a4c40;
  padding-bottom: 20px;

  @include onTablet {
    width: 570px;
    left: 99px;
    bottom: 82px;
    padding-bottom: 0;
  }

  @include onDesktop {
    left: 375px;
    margin-bottom: 98px;

  }

  &__name {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
    color: #0f0e08;

    @include onTablet {
      font-size: 36px;
      text-align: left;
      padding-left: 60px;
      padding-bottom: 50px;
    }
  }
}
