.ticket {
  @include page-grid;

  padding-top: 20px;

  @include on-tablet {
    padding-top: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;

    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/4;
      padding-top: 127px;
    }

    @include on-desktop {
      grid-column: 1/6;
      padding-top: 206px;
    }
  }

  &__button {
    margin-top: 20px;
    padding: 0;
    box-sizing: border-box;
    display: inline-flex;
    height: 50px;
    width: 280px;
    border: 1px solid $secondary-color;

    @include on-tablet {
      margin-top: 38px;
      margin-bottom: 19px;
      height: 70px;
      width: 270px;
    }

    @include on-desktop {
      margin-bottom: 118px;
      margin-top: 89px;
      margin-left: 201px;
    }

    &-title {
      width: 230px;
      margin: 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: $main-color;
      background-color: $c-white;
      display: flex;
      align-items: center;
      justify-content: center;

      @include on-tablet {
        width: 200px;
      }
    }

    &-arrow {
      width: 50px;
      background-color: $secondary-color;
      background-image: url(../icons/button-icon.svg);
      background-position: center;
      background-repeat: no-repeat;
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }

      @include on-tablet {
        width: 70px;
      }
    }
  }
}
