.ticket {
  display: flex;
  margin: 0 20px 70px;

  @include iPadMini {
    margin: 0;
  }

  @include onDesctop {
    position: absolute;
    top: 470px;
    left: 250px;
  }

  &__field {
    width: 230px;
    height: 50px;
   
    @include iPadMini {
      height: 64px;
    }

    @include onDesctop {
      width: 200px;
    }
  }

  &__field::placeholder {
    font-family: $fonts-2;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #0f0e08;
    text-align: center;
  }

  &__button {
    width: 50px;
    background-color: #1a5a4c;

    @include iPadMini {
      width: 70px;
    }

    @include onDesctop {
      height: 70px;
    }
  }
}
