.tickets {
  margin-bottom: 70px;

  @include onTablet {
    position: absolute;
    top: 136px;
    left: 34px;
    right: 34px;
  }
  @include onDesktop {
    position: absolute;
    top: 206px;
    left: 55px;
    right: 55px;
  }

  &__title {
    font-size: 45px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 20px;

    @include onTablet {
      font-size: 54px;
      text-align: left;
      margin-bottom: 38px;
    }

    @include onDesktop {
      font-size: 72px;
      text-align: left;
      line-height: 120%;
      margin-bottom: 90px;
    }
  }

  &__buy-btn {
    display: flex;
    text-decoration: none;
    color: $color-main-black;

    @include onDesktop {
      justify-content: end;
    }

    &--title {
      box-sizing: border-box;
      width: 82%;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 16px;
      font-weight: 500;
      border: 1px solid $color-main-green;

      @include onTablet {
        width: 59%;
        height: 70px;
        line-height: 70px;
      }

      @include onDesktop {
        width: 42%;
        height: 70px;
        line-height: 70px;
      }
    }

    &--arrow {
      width: 18%;
      height: 50px;
      text-align: center;
      line-height: 50px;
      background-color: $color-main-green;

      @include onTablet {
        width: 21%;
        height: 70px;
        line-height: 70px;
      }

      @include onDesktop {
        width: 14.65%;
        height: 70px;
        line-height: 70px;
      }

      
    }
  }
}
