.tickets {
  display: flex;
  height: 50px;
  text-decoration: none;

  cursor: pointer;

  @include hover(box-shadow, 0 5px 15px 0 $secondary-color);

  @include onTablet {
    height: 70px;
  }

  &__text {
    padding-inline: 82px;
    border: 1px solid $secondary-color;

    font-family: IBM Plex Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    color: $main-color;

    @include onTablet {
      padding-inline: 68px;
      line-height: 70px;
    }
  }

  &__link {
    @include squareSize(50px);
    display: flex;

    background-color: $secondary-color;

    @include onTablet {
      @include squareSize(70px);
    }
  }

  &__vector {
    margin: auto;
  }
}
