.timetable {
  box-sizing: border-box;

  &__item {
    margin: 0;

    &--btm {
      margin-bottom: 5px;
    }

    &--schedal {
      margin-bottom: 20px;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 150%;
    color: $subTitleColor;
    text-decoration: none;
    transition: border-bottom 0.4s linear 0;

    &:hover {
      cursor: pointer;
      border-bottom: 2px solid black;
    }
  }
}
