.timetable {
  &__title {
    margin-bottom: 20px;
  }

  &__time {
    &--bold {
      font-weight: 600;
    }
  }

  &__text {
    margin-top: 25px;
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .timetable {
    min-width: 130px;
  }
}
