.timetable {

  @include onTablet {
    display: flex;
    gap: 20px;
  }

  @include onDesktop {
    gap: 32px;
  }

  &--footer {
    color: $title_color;
  }

  &__title {
    color: white;
    @extend %font_main;
    margin: 24px 0 0;

    @include onTablet {
      margin: 0;
    }

    &--footer {
      margin: 0;
      color: $title_color;
    }
  }

  &__container {
    width: 158px;
  }

  &__body {
    @extend %font_timetable;
    margin: 20px 0 0;
    // color: white;

    &--foter {
      color: $title_color;
    }
  }

  &__time {
    font-weight: 600;
  }
}
