.tip {
  display: none;

  @include on-desktop {
    position: absolute;
    bottom: 0;
    transform-origin: bottom left;
    transform: rotate(-90deg);

    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  &__line {
    width: 70px;
    height: 1px;
    background-color: $green-color;
  }

  &__text {
    margin: 0;
    font-weight: 700;
    line-height: 100%;
    color: $grey-text-color;
  }
}
