.tiquets {
  display: flex;
  width: 280px;
  height: 50px;
  @include hover(transform, scale);

  &:hover {
    transform: scale(1.01);
  }

  @include On768 {
    height: 70px;
  }

  @include On1280 {
    width: 420px;
    justify-content: end;
  }

  &--orange {
    @include On768 {
      justify-content: space-between;
      width: 460px;
    }

    @include On1280 {
      width: 570px;
    }
  }

  &__botton {
    display: grid;
    place-items: center;
    background-color: #fff;
    border: 1px solid $green-col;
    width: 230px;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: $small-titles-color;

    @include On768 {
      width: 180px;
    }

    &--white {
      border: none;
      padding-left: 24px;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: #687480;
      width: 230px;
      height: 100%;

      @include On768 {
        width: 374px;
      }

      @include On1280 {
        width: 470px;
      }
    }
  }

  &__botton-2 {
    display: grid;
    place-items: center;
    background-color: $green-col;
    color: #fff;
    width: 50px;
    text-align: center;
    border: none;

    @include On768 {
      width: 70px;
    }

    &--orange {
      background-color: #f14a27;
      border-color: #f14a27;
    }
  }

  &__label {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
  }

  &__input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;

    &:focus {
      outline: none;
    }

    &--orange {
      background-color: #f14a27;
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
}
