.header__title {
  font-family: Montserrat, serif;
  font-weight: 700;
  margin: 0;
  font-size: 45px;
  line-height: 100%;

  @include on-tablet {
    font-size: 54px;
    line-height: 64.8px;
  }

  @include on-desktop {
    font-size: 72px;
    line-height: 86.4px;
  }
}

h2 {
  text-decoration: none;
  font-family: Montserrat, serif;
  font-weight: 700;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 100%;
  text-align: center;

  @include on-tablet {
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 48px;
    text-align: left;
  }

  @include on-desktop {
    margin-bottom: 56px;
  }
}

h3 {
  font-family: Montserrat, serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;

  @include on-tablet {
    font-size: 36px;
    line-height: 100%;
  }
}

.subscription__form {
  font-family: Montserrat, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}
