.title-block {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: #0F0E08;

  margin-bottom: 40px;

  @include onTablet {
    margin-bottom: 48px;
    text-align: left;
  }
}
