.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: $color-2;
  margin-bottom: 40px;

  @include onTablet {
    font-size: 48px;
    line-height: 100%;
    text-align: start;
    margin-bottom: 48px;
  }

  @include onDesktop {
    margin-bottom: 58px;
  }

  &--color-white {
    color: $color-5;
    padding: 88px 0 20px;
    margin-bottom: 0;

    @include onTablet {
      padding: 82px 0 16px;
    }

    @include onDesktop {
      padding: 163px 0 16px;
    }
  }
}
