.title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 100%;
  text-align: center;
  color: #000;

  @include onTablet {
    font-size: 54px;
    line-height: 120%;
    text-align: left;
  }

  @include onDesktop {
    font-size: 72px;
  }
}
