.title {
  font-family: $second-family;
  font-weight: 700;
  font-size: clamp-calc($min-break-point, $pc, 36px, 48px);

  @include mobile {
    text-align: center;
  }

  &--color {
    color: $bg-color;
  }

}