.titles {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: $base-titles-font-size-mobile;
  line-height: 1em;
  color: $titles-color;

  @include onDesctop {
    font-size: $base-titles-font-size-not-mobile;
    line-height: 1em;
  }

  @include onTablet {
    font-size: $base-titles-font-size-not-mobile;
    line-height: 1em;
  }
}
