.top-actions {
  display: grid;
  grid-template-columns: 24px 1fr;
  justify-items: center;
  padding-top: 8px;

  @include onTablet {
    grid-column: 1 / 7;
  }

  @include onDesktop {
    grid-column: 1 / 13;
  }
}
