.top-bar {
  @include contentPaddingInline;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  margin-top: 39px;

  &__burger {
    width: 18px;
    height: 12px;
    background-image: url(../images/icons/burger.png);
    z-index: 2;
    @include hover(transform, scale(1.1));
  }
  &__logo-link {
    z-index: 2;
    margin-right: 40%;
    margin-top: -30px;
    @include onTablet{
      position: absolute;
      left:55%;
    }
  }
  &__logo {
    width: 55px;
    height: 61px;
    
  }
}
