.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 9px 0;

  &__menu {
    position: absolute;
    height: 24px;
    width: 16px;
    left: 0;

    background-image: url(../images/menu.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      background-image: url(../images/menu_hover.svg);
    }

    &--cross {
      position: absolute;
      left: 0;

      transition: transform 0.6s;
    }

    &--cross:hover {
      transform: rotate(360deg);
    }
  }

  @include onTablet {
    padding: 15px 0;
  }
}
