.top-actions {
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  justify-items: center;
  align-items: center;
  
  padding-top: 8px;

  @include onTablet {
    grid-template-columns: repeat(6, 90px);
    column-gap: 30px;
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 70px);
    column-gap: 30px;
  }
}