.top-actions {
  &__content {
    display: flex;
    align-items: center;

    @include onIpad {
      display: grid;
    }
  }

  &__logo {
    margin: 0 auto;

    @include onIpad {
      justify-self: center;
    }
  }
}
