.top-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;

  @include onTablet {
    display: block;
    grid-column: 1 /2;
  }

  &__logo {
    display: block;
    text-decoration: none;
    color: $second-text-color;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;

    @include onTablet {
      padding-bottom: 62px;
    }
  }

  &__icon {
    display: flex;

    &--link {
      display: block;
      background-image: url(../images/footer/facebook.svg);
      width: 24px;
      height: 24px;
      transition: transform 0.4s ease-in-out ;

      &:hover {
        transform: scale(1.05);
      }

      &-instagram {
        background-image: url(../images/footer/instagram.svg);
        margin-left: 20px;
      }
    }
  }
}
