.top-button {
  display: none;
  // display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  border: 1px solid $c-green;
  border-radius: 50%;
  background-color: $c-white;

  position: fixed;
  z-index: 99;
  right: 20px;
  bottom: 40px;
  cursor: pointer;

  @include active(transform, scale(0.9));

  &--arrow {
    background-image: url(/images/top-button/top-button.svg);
    width: 16px;
    height: 16px;
  }
}
