.top-action {
  
  &__logo {
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);

    @include Tablet {
      position: static;
    }
  }

  &__icon {
    position: absolute;
    top: 33px;

    @include Tablet {
      position: static;
    }
  }
}
