.top-bar {
  display: flex;
  align-items: center;
  gap: 88px;
  position: absolute;
  z-index: 2;

  @include on-tablet {
    gap: 415px;
  }

  @include on-desktop {
    gap: 550px;
  }

  &__logo {
    width: 55px;
    height: 61px;
    margin-top: 9px;

    @include hover(transform, scale(1.1));

    @include on-tablet {
      height: 72px;
      width: 66px;
      margin-top: 15px;
    }
  }
}
