.top-action {
  
  &__logo {
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);

    @include Tablet {
      position: static;
      width: 220px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(0);
    }
    
    @include Desktop {
      width: 170px;
    }
  }

  &__icon-wrap {
    @include square(18px);
    position: absolute;
    top: 33px;

    @include Tablet {
      position: static;
    }
  }
}
