@import '../utils';

.top-bar {
  position: absolute;
  display: flex;
  z-index: 2;
  height: 80px;

  &__container {
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    gap: 90px;
    align-items: center;
  }

  &__menu {
    background-image: url(../images/header/menu.svg);
    background-position: center;
    display: block;
    width: 18px;
    height: 12px;
    transition: $main-transition;

    &:hover {
      transform: $menu-scale;
    }
  }

  &__logo {
    background-image: url(../images/logo.svg);
    display: block;
    width: 55px;
    height: 61px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: $main-transition;

    &:hover {
      transform: scale(1.05);
    }
  }
}
