.two-buttons {
  position: static;
  width: 100%;
  display: flex;

  @include on-tablet {
    width: 220px;
  }

  &__buy {
    height: $mobile-button-height;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    flex-grow: 1;

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: $text-color;
    text-decoration: none;

    border: 1px solid $accent-color;
    
    @include on-tablet {
      height: $desktop-button-height;
    }
  }
}
