.two-buttons {
  width: 100%;
  display: flex;

  @include on-tablet {
    width: 220px;
  }

  &__buy {
    height: $mobile-button-height;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    flex-grow: 1;

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: $text-color;
    text-decoration: none;

    border: 1px solid $accent-color;

    transition: background-color 300ms;
    
    @include on-tablet {
      height: $desktop-button-height;
    }
  }
  
  &:hover > &__buy {
    background-color: rgb(224, 223, 223);
  }

  &:hover > .button-arrow {
    background-color: #174d42;
    background-position: 35px;
  }
}
