$main-white-color: #fff;
$main-black-color: #000;
$main-green-color: #1A5A4C;
$color-for-button: #F14A27;
$shadow-for-box: #1A5A4C40;
$color-for-name: #687480;
$color-for-dot: #E0E0E0;
$color-for-text: #4E4E4E;
