.vertical {
  display: none;
  @include onSmallDesktop {
    display: block;

    &__container {
      position: relative;
      transform: rotate(-90deg);
      white-space: nowrap;
      display: flex;
      align-items: center;
      align-self: end;

      &::before {
        content: "";
        position: absolute;

        width: 100px;
        height: 1px;
        background: rgba(52, 79, 16, 0.5);
        display: block;
        right: 100%;  // Position the line before the text
        margin-right: 10px;
      }
    }

    &__text {
      color: rgba(52, 79, 16, 0.5);
    }
  }
}
