.vertical {
  display: none;

  @include on-desktop {
    transform-origin: 0 100%;
    align-items: center;
    gap: 20px;
    display: flex;
    position: absolute;
    padding-top: 650px;
    left: 70px;
    transform: rotate(-90deg);
  }

  &__line {
    @include on-desktop {
    background-color: #1a5a4c;
    width: 70px;
    height: 1px;
    }
  }

  &__text {
    @include on-desktop {
      color: #687480;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
    }
  }
}
