@import '../utils';

.plan-visit {
  color: rgb(241, 245, 244);
  background-color: $main-green;
  margin-top: 90px;

  &__container {
    @include grid;

    row-gap: 40px;
  }

  &__content {
    grid-column: 1 / -1;

    @include column-flex;
  
    gap: 5px;
  }

  &__title {
    font-family: "Playfair Display", sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 100%;
    max-width: 230px;
    margin-top: 30px;
  }

  &__text {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 150%;
  }

  &__button {
    background-color: $main-red;
    grid-column: 1 / -1;
    margin-bottom: 50px;
  }

  &__image {
    display: none;
    position: absolute;
  }
}
