.working-time {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #0f0e08;

  &--contact-us {
    width: 130px;
    @include onTablets {
      width: 220px;
    }
  }

  &--color_white {
    color: #fff;
  }

  &__subtitle {
    margin: 0 0 20px;
  }

  &__work {
    width: 100%;
    margin: 0 0 20px;
  }

  &__bold-text {
    font-weight: 600;
  }
}
