.work-schedule {
  padding: 24px 0 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  @include onTablet {
    padding: 0 0 0 38px;
  }

  @include onDesktop {
    padding: 0 0 0 102px;
  }

  &__title {
    margin-bottom: 20px;
    line-height: 140.62%;
  }

  &__content {
    @include onTablet {
      display: flex;

      & > :nth-child(2n + 1) {
        margin-right: 38px;
      }
    }

    &--footer {
      @include onTablet {
        flex-direction: column;

        & > :not(:last-child) {
          margin-bottom: 20px;
          margin-right: 0;
        }
      }
    }
  }

  &__list {
    margin-bottom: 16px;
    list-style-type: none;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__description {
    @include onTablet {
      width: 144px;
    }

    &--footer {
      @include onTablet {
        width: 100%;
      }
    }
  }

  &__time {
    font-weight: 600;
    line-height: 150%;
  }

  &--footer {
    max-width: 200px;
    margin-right: 30px;
    padding: 0;
    color: #0f0e08;

    @include onDesktop {
      width: 175px;
    }
  }
}
