.workinfo {
  display: grid;
  grid-template-columns: minmax(100px, 180px) minmax(100px, 180px);
  justify-content: space-between;
  column-gap: 20px;

  width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;

  transition: all 1s;

  @include media (tablet, desktop, desktopWide) {
    grid-template-columns: repeat(2, 180px);
    justify-content: space-between;
  }

  &__schedule {
    width: 100%;
    line-height: 21px;
  }
  &__section-title {
    margin-bottom: 20px;
    line-height: 20px;
  }

  &__day:last-child {
    margin-bottom: 21px;
  }

  &__emphasize {
    font-weight: 600;
  }

  &__link {
    line-height: 21px;
    text-decoration: none;
    color: $colorMarshland;

    &:hover {
      color: $colorGreyLight;
      text-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    }
  }
}
