.work-schedule {

  @include onTablet {
    padding-left: 38px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  @include onDesktop {
    padding-left: 102px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }


  &__title {
    margin: 24px 0 20px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;

    @include onTablet {
      margin: 0 0 20px;
    }
  }

  &__schedule-container {
    display: flex;
    flex-direction: column;

    @include onTablet {
      flex-direction: row;
      gap: 38px;
    }

    @include onDesktop {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__schedule {
    margin: 0 0 16px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #fff;

    @include onTablet {
      margin: 0;
      width: 158px;

    }

    @include onDesktop {
      width: 170px;
    }
  }


  &__day-off {
    width: 280px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #fff;

    @include onTablet {
      width: 150px;
    }

    @include onDesktop {
      width: 170px;
    }
  }
}
