.working-hours {
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  min-width: 170px;

  @include on-tablet {
    display: flex;
    gap: 26px;
  }

  @include on-desktop {
    gap: 30px;
  }

  &__schedule-wrapper {
    min-width: inherit;
  }

  &__schedule {
    margin-bottom: 16px;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__title {
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__time {
    font-weight: 600;

    @include on-tablet {
      min-width: 144px;
    }
  }

  &__detalization {
    @include on-tablet {
      align-self: flex-end;
    }

    @include on-desktop {
      width: 170px;
    }
  }
}
