.work-time {
  color: $c-white;
  line-height: 140.62%;

  @include onTablet {
    width: 340px;
  }
  
  @include onDesktop {
    width: 370px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    line-height: 150%;

    @include onTablet {
      flex-direction: row;
      justify-content: space-between;
    }

    &-time {
      width: 170px;
    }

    &-week {
      @include onTablet {
        width: 144px;
      }
 
      @include onDesktop {
        width: 170px;
      }
    }
  }

  &__title {
    font-weight: inherit;
    margin-bottom: 20px;
  }
}
