.wrapper {
  // width: 280px;
  margin: 0 auto;

  @include onTablet {
    width: 700px;
  }

  @include onSmallDesktop {
    width: 1170px;
  }

  @include onMediumDesktop {
    width: 1170px;
  }
}
