.action {

  &__place {
    position: relative;

    padding: 20px;

    box-sizing: border-box;
    width: 100%;
    max-height: 520px;
    overflow: hidden;

    @include onPad {
      padding: 5vh 0;
    }

    &::after {
      content: "";
      display: block;
    }
  }

  &__info {
    padding: 0 20px;

    @include onPad {
      padding: 40px 0;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 100%;

    min-height: 210px;
    min-width: 280px;

    object-position: center;
  }

  &__data {
    padding-bottom: 10px;

    @include onPad {
      padding-bottom: 35px;
    }

    &--time {
      font-family: "IBM Plex Sans", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;

      padding-left: 10px;

      color: #1a5a4c;

      @include onPad {
        padding: 0 10px;
      }

      &-first {
        padding-left: 76px;
      }
    }
  }

  &__classic {
    padding: 80px 0;
    text-align: center;

    @include onPad {
      padding: 60px 0;
    }

    @include onDesktop {
      padding: 12vh 0;
    }
  }

  &__history {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;

    color: #4e4e4e;
  }

  &__background {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onPad {
      padding: 0 35px;
      height: 390px;
    }

    @include onDesktop {
      padding: 0;
      height: 550px;
    }

    &--image {
      width: 100%;
      height: 21vh;

      @include onPad {
        height: 40vh;
      }

      @include onDesktop {
        height: 100%;
      }
    }
  }

  &__lection {
    display: flex;
    flex-direction: column;
    position: absolute;

    margin-top: 15vh;

    max-width: 280px;

    background-color: #fff;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

    @include onPad {
      padding: 55px;
      margin-top: 30vh;
      max-width: max-content;
    }

    @include onDesktop {
      margin-top: 45vh;
    }

    &--time {
      padding: 24px 20px;

      @include onPad {
        padding: 24px 0;
        max-width: 390px;

        display: flex;
        align-items: center;
        justify-content: space-between;

      }
    }
  }
}
