.title {

  display: block;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 120%;
  text-align: center;

  @include onPad {
    font-size: 54px;
    text-align: justify;
  }

  @include onDesktop {
    text-transform: uppercase;
    font-size: 74px;
  }

  &__head {
    text-transform: uppercase;
    margin-top: 2vh;
  }

  &__button {
    display: inline-block;
    height: auto;

  }

  &__second {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    max-width: 200px;

    margin: 0;
    padding-bottom: 20px;

    &--margin {
      margin: 20px;

      @include onPad {
        padding-top: 3.8vh;
      }
    }

    @include onDesktop {
      max-width: 500px;
    }
  }

  &__tree {
    padding: 0 20px 40px;
    font-size: 36px;
    margin: 0;
    text-align: center;

    @include onPad {
      text-align: left;
      font-size: 48px;
      padding: 0 40px;
    }

    @include onDesktop {
      padding: 0 66px 50px;
    }

    &--space {
      @include onPad {
        margin-top: 210px;
      }
    }
  }

  &__litle {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 100%;

    padding-bottom: 10px;

    color: #0f0e08;

    @include onPad {
      text-align: left;

      font-size: 36px;

      max-width: 460px;
    }
  }

  &__podii {
    position: absolute;
    top: -5vh;
    left: -2.3vh;

    transform: rotate(-90deg);

    &--text {
      font-family: "IBM Plex Sans", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      color: #687480;
    }

    &--line {
      @include onDesktop {
        position: absolute;
        width: 1%;
        height: 1%;
        padding: 0 50px;
        left: 5.5vh;
        top: 63.5vh;
        border-left: 1px solid #1a5a4c;
      }
    }
  }

  &__buttom {
    transition: 0.6s;
    &:hover {
      box-shadow: rgb(30, 104, 88) -5px 5px, rgb(37, 128, 108) -10px 10px;
    }

    @include onPad {
      margin: 0 48px;
    }

    @include onDesktop {
      margin-left: 55%;
    }
  }

  &__vector {
    background-color: none;
    border: none;
    text-decoration: none;

    @include onDesktop {
      justify-content: center;
    }

    display: flex;

    text-transform: uppercase;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #0f0e08;

    &--text {
      display: inline;
      padding: 18px 80px;
      border: 1px solid #1a5a4c;

      @include onPad {
        padding: 23px 68px;
      }

    }

    &--button {
      display: inline;
      background: #1a5a4c;
      padding: 17px 25px;
      color: #d7dde3;

      @include onPad {
        padding: 25px;
      }

      &::after {
        content: ">";
      }
    }
  }

  &__content {
    margin-bottom: 30px;

    @include onPad {
      margin: 117px 40px 30px;
    }
  }
}
