/* Error: Undefined mixin.
 *   ,
 * 4 | /   @include onTablet {
 * 5 | |     height: 384px;
 * 6 | \   }
 *   '
 *   src\styles\block\header.scss 4:3  @import
 *   src\styles\main.scss 2:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 4 \2502  \250c    @include onTablet {\a 5 \2502  \2502      height: 384px;\a 6 \2502  \2514    }\a   \2575 \a   src\\styles\\block\\header.scss 4:3  @import\a   src\\styles\\main.scss 2:9          root stylesheet";
}
