* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.page {
  scroll-behavior: smooth;
  min-width: 320px;
  margin: 0;
  padding: 0;
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;

  @include on-tablet {
    padding-left: 39px;
    padding-right: 39px;
  }

  @include on-desktop {
    padding-left: 55px;
    padding-right: 55px;
  }

  &--opacity {
    opacity: 0.5;
  }
}

html {
  scroll-behavior: smooth;
}
