.bg {
  margin: 0;
  padding: 0;
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;

  @include on-tablet {
    background-image: url(../images/header-bg-desktop.png);
  }

  &__logo-link {
    display: flex;
    justify-content: center;
    margin-top: 9px;

    @include on-tablet {
      justify-content: left;
      margin-top: 15px;
    }
  }

  &__logo {
    display: block;
    width: 55px;
    height: 61px;

    @include on-tablet {
      width: 220px;
      height: 72px;
    }

    @include on-tablet {
      width: 170px;
    }
  }
}
