.header {
  display: block;
  position: relative;

  @include on-large-desktop {
    height: 100vh;
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;

    @include content-space-inline;
  }

  &__burger-menu {
    display: block;
    height: 24px;
    width: 24px;
    background-image: url(../images/logo&icons/burger-menu.svg);
    background-position: center;
    position: absolute;
    top: 27px;

    @include on-small-desktop {
      top: 39px;
    }

    @include hover(transform, scale(1.2));
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 300px;

    @include on-small-desktop {
      width: 50%;
      height: 384px;
    }

    @include on-large-desktop {
      width: 50%;
      height: 655px;
    }
  }

  &__art-museum {
    margin-top: 300px;

    @include on-small-desktop {
      margin-top: 127px;
    }

    @include on-large-desktop {
      margin-top: 206px;
    }
  }

  &__form {
    margin: 0;
    padding: 0;
  }
}
