.menu {
  display: block;
  background-color: #1a5a4c;

  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    padding-block: 27px;

    @include on-tablet {
      flex-direction: row;
      padding-block: 27px;
    }

    @include on-small-desktop {
      padding-block: 40px;
    }

    @include content-space-inline;
  }

  &__top {
    display: flex;
    margin: 0;
    padding-bottom: 24px;
    border-bottom: 1px solid #fff;

    @include on-tablet {
      width: 50%;
      border-right: 1px solid #fff;
      border-bottom: none;
    }
  }

  &__icon {
    display: flex;
    height: 24px;
    width: 24px;
    background-image: url(../images/logo&icons/close.svg);
    background-position: center;
    background-repeat: no-repeat;

    @include hover(transform, scale(1.2));
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    width: 100%;
    margin: 0;
    gap: 16px;

    @include on-tablet {
      width: 50%;
      padding: 0;
      flex-direction: row;
      justify-content: center;
      gap: 26px;
    }

    @include on-large-desktop {
      gap: 30px;
    }
  }

  &__description {
    display: block;
    margin: 0;
    padding: 0;

    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #fff;

    @include on-tablet {
      width: 144px;
    }

    @include on-large-desktop {
      width: 170px;
    }
  }
}
