.aside {
  background-color: $aside-bg-color;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    left 0.3s ease;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: -1;

  @include tablet {
    display: flex;
    flex-direction: row;
  }

  &__open {
    left: 0;
    opacity: 1;
    pointer-events: auto;
    z-index: 10;
  }
}

.plan {
  color: $aside-text-color;
  font-family: 'IBM Plex Sans', serif;
  font-weight: 600;
  font-size: 14px;

  @include tablet {
    margin-bottom: 20px;
    margin-top: 0;
  }

  &--text {
    color: $footer-text-color;
    text-decoration: none;
  }
}

.plan--tablet {
  @include tablet {
    margin-bottom: 0;
    margin-top: 10px;
    line-height: 1.4;
  }
}

.plan__title {
  display: inline-block;
  margin-right: 10px;
  font-weight: 900;
  color: $aside-text-color;
  font-size: 19px;

  @include tablet {
    margin-top: 28px;
    font-size: 14px;
  }

  &--text {
    color: $footer-text-color;
  }
}

.menu {
  background-color: $asaideBottom-bg-color;
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-block: 24px;
  column-gap: 67px;
  width: 100%;
  height: auto;

  @include tablet {
    padding: 40px 18px 114px 34px;
    width: 50%;
    column-gap: 0;
    height: 300px;
  }
  &--footer {
    background-color: $footer-bg-color;
    padding-block: 40px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    column-gap: 45px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: $footer-text-color;
    }
  }

  &__button {
    background-image: url('/src/images/asideClose.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 24px;
    width: 24px;
    margin-top: 2px;
    margin-left: 20px;

    @include tablet {
      margin-left: 0;
      margin-right: 64px;
    }
  }

  &__galereyFoto {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 120px;

    @include tablet {
      margin-right: 20px;
    }

    &--footer {
      width: 160px;
    }

    &__links {
      text-decoration: none;
      color: $aside-text-color;
      font-family: 'IBM Plex Sans', serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      width: 100%;

      @include tablet {
        font-size: 16px;
      }

      &--text {
        color: $footer-text-color;
        font-size: 19px;
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 1px;
    width: calc(100% - 40px);
    background: $aside-text-color;

    @include tablet {
      inset: 40px auto 40px 0;
      width: 2px;
      height: auto;
    }
  }
}

.botom {
  background-color: $asaideBottom-bg-color;
  padding-inline: 20px;
  padding-block: 24px;
  width: 100%;
  height: 300px;
  box-sizing: border-box;

  &__schedule {
    @include tablet {
      width: 160px;
    }
  }

  &__information {
    width: 144px;
  }

  @include tablet {
    display: flex;
    flex-direction: row;
    padding-inline: 35px;
    padding-block: 40px;
    column-gap: 25px;
  }

  &--footer {
    background-color: $footer-bg-color;
    padding-block: 0;
  }

  &__planList {
    margin: 0;
    padding: 0;

    @include tablet {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
    }

    &__workTime {
      color: $aside-text-color;
      font-family: 'IBM Plex Sans', serif;
      font-weight: 600;
      font-size: 14px;
      list-style: none;

      &--text {
        color: $footer-text-color;
      }
    }
  }
}
