.header {
  position: relative;
  width: 100%;
  height: auto;

  @include tablet {
    display: flex;
    flex-direction: row;
  }

  &__content {
    display: flex;
    flex-direction: row;
    height: 350px;
    background-image: url(/src/images/HeaderBP.png);
    column-gap: 130px;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include tablet {
      width: 50%;
      height: 385px;
      order: 2;
    }
  }

  &__menu {
    background-image: url(/src/images/header-content-menu.png);
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 27px;
    margin-left: 20px;

    @include tablet {
      left: 35px;
      top: 40px;
      position: absolute;
      margin: 0;
    }
  }

  &__title {
    margin: 0;
    height: 61px;
    width: 55px;
    font-weight: 700;
    font-size: 37px;
    line-height: 100%;
    color: $header-text-color;
    padding-top: 9px;

    @include tablet {
      padding-top: 15px;
      margin-top: 0;
      margin-left: 60px;
    }
  }
}

.museum {
  margin-block: 20px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;

  @include tablet {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    order: 1;
    padding-block: 0;
    margin-block: 0;
    margin-top: 94px;
  }

  &__title {
    color: $museum-title-color;
    width: 280px;
    height: 100px;
    /* stylelint-disable-next-line font-family-name-quotes */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    text-align: center;
    margin-inline: auto;

    @include tablet {
      width: 340px;
      height: 130px;
      font-size: 54px;
      line-height: 120%;
      margin-left: 15px;
      text-align: start;
    }
  }

  &__link {
    display: flex;
    width: 280px;
    height: 50px;
    background-color: $museum-link-bg-color;
    border: 2px solid $asaideBottom-bg-color;
    margin-inline: auto;
    text-decoration: none;

    @include tablet {
      margin-left: 15px;
      width: 270px;
      height: 70px;
    }

    &__ticket {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 100%;
      color: $museum-title-color;
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 100%;

      @include tablet {
        width: 75%;
      }
    }

    &__arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
      height: 100%;
      background-color: $asaideBottom-bg-color;

      @include tablet {
        width: 25%;
      }

      &__img {
        width: 18px;
        height: 18px;
        color: #d7dde3;
      }
    }
  }
}
