.announcements {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    margin: 40px auto 0;
    width: 197px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #0f0e08;
  }
}

@media screen and (min-width: 768px) {
  .announcements {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
      margin: 0 auto;
      width: 52vw;
      font-family: Montserrat, sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      text-align: left;
      color: #0f0e08;
    }
  }
}

@media screen and (min-width: 1280px) {
  .announcements {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header {
      margin: 0 auto 0 4.3vw;

      width: 402px;
      justify-self: flex-start;
      font-family: Montserrat, sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      text-align: left;
      color: #0f0e08;
    }
  }
}
