.exhibition {
  margin-top: 40px;
  width: 87.5vw;

  &__image {
    width: 87.5vw;
    margin-bottom: 15px;
  }

  &__caption {
    margin-bottom: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 100%;
    color: #0f0e08;
  }

  &__decoration {
    width: 10px;
    height: 10px;
    background: #f14a27;
  }

  &__description {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #4e4e4e;
  }

}

@media screen and (min-width: 768px) {
  .exhibition {
    margin-top: 50px;
    width: 91.4vw;

    &__image {
      width: 91.4vw;
      margin-bottom: 30px;
    }

    &__caption {
      margin-bottom: 30px;
      width: 229px;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 370px;
      margin-bottom: 15px;
      font-family: Montserrat, sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
      text-align: left;
      color: #0f0e08;
    }

    &__decoration {
      width: 15px;
      height: 15px;
      background: #f14a27;
    }

    &__description {
      width: 370px;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px;
      text-align: left;
      color: #4e4e4e;
    }

  }

}

@media screen and (min-width: 1280px) {
  .exhibition {
    display: flex;
    margin-top: 50px;
    width: 91.4vw;
    max-width: 1570px;

    &__image {
      width: 52.34vw;
      height: 520px;
      object-fit: cover;
      margin-bottom: 30px;
    }

    &__text {
      margin-left: 131px;
      padding-top: 50px;
    }

    &__caption {
      margin-bottom: 30px;
      width: 229px;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 370px;
      margin-bottom: 15px;
      font-family: Montserrat, sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
      text-align: left;
      color: #0f0e08;
    }

    &__decoration {
      width: 15px;
      height: 15px;
      background: #f14a27;
    }

    &__description {
      width: 370px;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px;
      text-align: left;
      color: #4e4e4e;
    }

    &--memories-and-dreams {
      display: flex;
      flex-direction: row-reverse;
    }

    &__text--memories-and-dreams {
      margin-right: 131px;
    }

  }
}
