.footer {
  @include content-padding-inline;
  @include page-grid;

  padding-top: 50px;
  padding-bottom: 55px;

  @include on-tablet {
    padding-top: 51px;
    padding-bottom: 36px;
  }

  @include on-desktop {
    padding-top: 48px;
  }

  &__logo-block {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @include on-tablet {
      grid-column: span 1;
      flex-direction: column;
      justify-content: start;
      gap: 62px;
    }
  }

  &__logo-site {
    display: block;
    text-decoration: none;
  }

  &__logo-site-image {
    display: block;
    width: 63px;
  }

  &__logo-block-socials {
    display: flex;
    gap: 20px;

    @include on-tablet {
      gap: 32px;
    }

    @include on-tablet {
      gap: 22px;
    }
  }

  &__logo-fb {
    display: block;
    text-decoration: none;
  }

  &__logo-fb-image {
    display: block;
    width: 12px;
    height: 24px;
    padding-inline: 6px;
  }

  &__logo-insta {
    display: block;
    text-decoration: none;
  }

  &__logo-insta-image {
    display: block;
  }

  &__schedule {
    grid-column: span 1;

    @include on-tablet {
      grid-column: span 2;
    }

    @include on-desktop {
      grid-column: 3 / 5;
    }
  }

  &__schedule-title {
    margin: 0;
    font-family: 'IBM Plex Sans', serif;
    color: #0f0e08;
    font-size: 14px;
    margin-bottom: 20px;
  }

  &__schedule-list {
    margin: 0;
    padding: 0;
  }

  &__schedule-item {
    font-family: 'IBM Plex Sans', serif;
    list-style: none;
    font-size: 14px;
    line-height: 21px;
    color: #0f0e08;

    &--weekends {
      margin-top: 20px;
    }
  }

  &__contacts {
    grid-column: span 1;

    @include on-tablet {
      grid-column: span 2;
    }

    @include on-desktop {
      grid-column: 5 / 7;
    }
  }

  &__contacts-title {
    font-family: 'IBM Plex Sans', serif;
    margin: 0;
    margin-bottom: 20px;
    font-size: 14px;
    color: #0f0e08;
  }

  &__contacts-content {
    margin: 0;
    padding: 0;
  }

  &__contacts-contact {
    list-style: none;
    font-size: 14px;
    line-height: 21px;
    color: #0f0e08;
  }

  &__contacts-link {
    text-decoration: none;
    color: #0f0e08;
  }

  &__go-up-button_wrapper {
    display: flex;
    grid-column: span 2;
    flex-direction: row-reverse;
    margin-bottom: 20px;

    @include on-tablet {
      display: none;
    }
  }

  &__go-up-button {
    display: block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border: 1px solid #1a5a4c;
    border-radius: 50%;
    background-image: url(../images/arrow-up.png);
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;

    @include on-tablet {
      display: none;
    }
  }

  &__divider {
    all: unset;
    height: 1px;
    background-color: rgba(26, 90, 76, 0.5);
    grid-column: span 2;
    margin-bottom: 40px;

    @include on-tablet {
      margin: 64px 0;
      grid-column: 2 / -2;
    }

    @include on-desktop {
      margin: 0;
      height: 260px;
      width: 1px;
      grid-column: 7 / 8;
      justify-self: center;
    }
  }

  &__nav-1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: span 1;

    @include on-tablet {
      grid-column: 2 / 4;
    }

    @include on-desktop {
      grid-column: 8 / 10;
    }
  }

  &__nav-item-1 {
    list-style: none;
  }

  &__nav-link-1 {
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #0f0e08;
  }

  &__nav-2 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: span 1;

    @include on-tablet {
      grid-column: 4 / 6;
    }

    @include on-desktop {
      grid-column: 10 / 12;
    }
  }

  &__nav-item-2 {
    list-style: none;
  }

  &__nav-link-2 {
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #0f0e08;
  }

  &__page-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    grid-column: span 2;
    font-size: 12px;
    line-height: 140%;
    margin-top: 80px;

    @include on-tablet {
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
      gap: 0;
      grid-column: span 6;
      margin-top: 120px;
    }

    @include on-desktop {
      grid-column: span 12;
      margin-top: 87px;
    }
  }

  &__designed-info {
    margin: 0;
  }

  &__copyright-info {
    margin: 0;
  }
}
