.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-image: url(../icons/dropdown-icon.png);
  background-size: 18px 12px;
  background-position: center;
  background-repeat: no-repeat;

  &--dropdown {
    position: absolute;
    top: 33px;
    left: 23px;

    @include on-tablet {
      top: 39px;
      left: 34px;
    }

    @include on-desktop {
      left: 55px;
    }
  }
}
