.lection {
  max-height: 281px;
  @include on-tablet {
    @include content-padding-inline;
    max-height: 510px;
  }

  @include on-desktop {
    padding-inline: 0;
    max-height: 653px;
  }

  &__photo {
    background-image: url(../images/nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 210px;

    @include on-tablet {
      height: 390px;
    }

    @include on-desktop {
      height: 550px;
    }
  }

  &__block {
    @include content-padding-inline;
    transform: translateY(-50%);
    height: 140px;
    background-color: #fff;
    background-clip: content-box;
    filter: drop-shadow(0px 2px 0px 0px #1a5a4c40);

    @include on-tablet {
      height: 204px;
      padding-inline: 65px;
      transform: translateY(-42%);
    }

    @include on-desktop {
      transform: translateY(-50%);
      height: 204px;
      padding-inline: 355px;
      max-width: 1072px;
      margin-inline: auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include on-tablet {
      align-items: start;
      padding-left: 12%;
    }

    @include on-desktop {
      align-items: center;
      padding-left: 0;
    }
  }

  &__label {
    display: flex;
    font-family:
      IBM Plex Sans,
      sans-serif;
    font-size: 16px;
    line-height: 16px;
    gap: 26px;
    margin-top: 24px;

    @include on-tablet {
      justify-content: start;
      font-size: 14px;
      gap: 140px;
      margin-top: 45px;
    }

    @include on-desktop {
      gap: 130px;
    }
  }

  &__text {
    display: inline-block;
    color: #687480;
    font-weight: 500;

    text-transform: uppercase;
    margin: 0;
  }

  &__date {
    display: inline-block;
    font-weight: 700;
    color: #1a5a4c;
    margin: 0;
  }

  &__name {
    font-family: Montserrat, serif;
    font-size: 28px;
    line-height: 28px;
    color: #0f0e08;
    margin: 0;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;

    @include on-tablet {
      font-size: 36px;
      line-height: 36px;
    }
  }
}
