.page {
  scroll-behavior: smooth;
  &__body {
    margin: 0;
    min-width: 320px;
    font-family: $font-primary;
  }

  // No scroll when dropdown opened
  &--no-scroll {
    overflow: hidden;
  }
}

// .page:has(.header__dropdown:target) {
//   overflow: hidden;
// }
