.section-title {
  font-family: Montserrat;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  text-align: center;
  // margin-top: 70px;
  margin-bottom: 40px;

  @include on-tablet {
    // margin-top: 88px;
    margin-bottom: 48px;
    text-align: left;
    font-size: 48px;
    line-height: 48px;
  }

  @include on-desktop {
    // margin-top: 120px;
    margin-bottom: 56px;
  }

  &--subscription {
    color: #fff;
    margin-bottom: 20px;

    @include on-tablet {
      text-align: center;
      margin-bottom: 16px;
    }
  }
}
