.clasic {
  margin-bottom: 80px;

  &__photo {
    width: 320px;

    @include tablet {
      width: 700px;
      height: 390px;
    }

    @include desktop {
      width: 1280px;
      height: 550px;
    }

  }

  &__block {
    background-color: #fff;
    width: 280px;
    margin-left: 20px;

    transform: translateY(-50%);

    @include tablet {
      width: 570px;
      height: 204px;
      margin-left: 70px;
    }

    @include desktop {
      margin-left: 355px;
    }

    &::after {
      content: "";
      display: block;
      width: 280px;
      height: 2px;
      box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

      @include tablet {
        width: 570px;
      }
    }
  }

  &__for-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;

    @include tablet {
      padding-top: 45px;
      padding-bottom: 18px;
    }
  }

  &__lection {
    padding-left: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #687480;
  }

  &__data {
    padding-right: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #1a5a4c;

  }

  &__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #0f0e08;
    text-align: center;

    @include tablet {
      font-weight: 400;
      font-size: 36px;
      line-height: 100%;
      padding-bottom: 80px;
    }
  }
}
