.footer {
  margin-top: 50px;

  &__content {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-auto-rows: minmax(100px, auto);
    }

    @include Desktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    @include Desktop {
      position: relative;
      top: 13px;
    }
  }

  &__facebook {
    margin-right: 26px;

    @include tablet {
      position: relative;
      top: 120px;
      left: -50px;
    }
  }

  &__instagram {
    margin-right: 9px;

    @include tablet {
      position: relative;
      top: 120px;
    }

    @include Desktop {
      position: relative;
      top: 91px;
    }
  }

  &__info {
    padding-top: 40px;

    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #0f0e08;

    @include tablet {
      grid-column: 2 / 6;
    }
  }

  &__graphic {
    display: flex;
    justify-content: space-between;
  }

  &__description {
    @include tablet {
      margin-left: 20px;
      margin-right: 20px;
    }

    @include Desktop {
      position: relative;
      top: -35px;
    }
  }

  &__description-1 {
    padding-bottom: 20px;
    width: 220px;
  }

  &__description-2 {
    padding-bottom: 20px;
    width: 130px;
  }

  &__description-3 {
    width: 130px;
    margin-bottom: 70px;
    
  }

  &__contacts {
    width: 130px;

    @include Desktop {
      position: relative;
      top: -35px;
    }

    
  }

  &__contacts-1 {
    padding-bottom: 20px;
  }

  &__circle {
    width: 50px;
    height: 50px;
    border: 1px solid #1a5a4c;
    border-radius: 50%;

    background-image: url(../images/str.png);
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    left: 600px;
    bottom: 40px;
    margin-bottom: 50px;
    cursor: pointer;

    @include tablet {
      display: none;
    }

    @include Desktop {
      display: none;
    }

  }

  &__under {
    height: 460px;
    width: 1px;
    background: rgba(26, 90, 76, 0.5);
    transform: rotate(-90deg);
    margin: 0 auto;
    margin-top: -220px;

    @include tablet {
      position: relative;
      height: 460px;
      margin-top: 300px;
      right: 300px;
    }

    @include Desktop {
      transform: none;
      position: relative;
      bottom: 270px;
      left: 100px;
    }

    @include Desktop {
      @include Desktop {
        position: relative;
        top: -295px;
      }
    }
  }

  &__about {
    display: flex;
    justify-content: center;

    @include tablet {
      position: relative;
      left: 130px;

    }
  }

  &__g-1 {
    margin-right: 20px;
  }

  &__g-2 {
    @include tablet {
      position: relative;
      left: 170px;
    }
  }

  &__gallery {
    padding-bottom: 20px;
  }

  &__us {
    padding-bottom: 20px;
  }

  &__mari {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;

    font-weight: 300;
    font-size: 12px;
    line-height: 140.62%;
    color: #0f0e08;

    @include tablet {
      position: relative;
      right: 170px;
      top: 50px;
    }

    @include Desktop {
      position: relative;
      margin-top: 500px;
      right: 700px;
    }
  }

  &__copy {
    text-align: center;
    margin-bottom: 128px;

    font-weight: 300;
    font-size: 12px;
    line-height: 140.62%;
    color: #0f0e08;

    @include tablet {
      position: relative;
      left: 400px;
      top: 120px;
    }

    @include Desktop {
      position: relative;
      margin-top: 410px;
      padding-right: 100px;
    }
  }
}
