.galer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: 120px;
  margin-bottom: 129px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #0f0e08;
    margin-bottom: 40px;
  }

  &__img {
    width: 280px;
    height: 410px;
  }
}
