.header {
  margin-bottom: 50px;

  @include tablet {
    margin-bottom: 450px;
  }

  @include Desktop {
    margin-bottom: 100px;
  }

  &__back {
    height: 100vh;
    display: block;
    cursor: default;

    background-position: center;
    background-size: cover;
    background-image: url(../images/Natsionalnij-hudozhnij-muzej-Ukrayini-Kiyiv-10-1800x1200.png);

    @include tablet {
      width: 374px;
      height: 384px;
      
      position: absolute;
      right: 0;
      top: 0;
    }

    @include Desktop {
      width: 725px;
      height: 655px;
    }
  }

  &__icon {
    display: block;
    position: absolute;
    top: 0;
    margin-top: 23px;

    width: 18px;
    height: 18px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/menu.png);
  }

  &__logo {
    display: block;
    position: absolute;
    top: 0;
    right: 133px;

    margin-top: 23px;

    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/na.png);

    @include tablet {
      right: 210px;
    }

    @include Desktop {
      right: 600px;
    }
  }

  &__title {
    margin-top: 20px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    text-align: center;
    color: #000;

    @include tablet {
      position: absolute;
      font-size: 54px;
      top: 127px;
    }

    @include Desktop {
      top: 149px;

      font-weight: 700;
      font-size: 72px;
      line-height: 120%;
      color: #000;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: 230px;
    height: 50px;
    border: 1px solid $green;
    padding-left: 100px;

    @include tablet {
      position: absolute;
      margin-top: -140px;
      height: 60px;
    }

    @include Desktop {
      left: 200px;
      margin-top: 10px;
      height: 70px;
    }

    &::after {
      content: "";
      margin-left: 120px;
      width: 50px;
      height: 50px;
      background-color: $green;

      background-image: url(../images/arrow.png);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;

      @include tablet {
        height: 60px;
      }

      @include Desktop {
        height: 70px;
      }
    }
  }

  &__dekor {
    @include Desktop {
      width: 1px;
      height: 70px;
      background-color: $green;

      margin-top: 528px;

      &::before {
        content: "ПОДІЇ";

        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        color: #687480;

        transform: rotate(-90deg);
        padding: 0 20px;
      }
    }
  }
}
