.header {
  margin-bottom: 90px;
 
  &__blocks-for2 {
    margin-bottom: 70px;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }

    @include desktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__block1 {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url(../images/img.png);
    background-position: center;
    background-size: cover;

    margin-bottom: 20px;

    @include tablet {
      grid-row: 1;
      grid-column: 6;
      height: 400px;
      width: 400px;
    }

    @include desktop {
      grid-column: 12;
      width: 725px;
      height: 655px;
    }
  }

  &__menu {
    padding-left: 23px;
    padding-top: 33px;

    &:hover {
      transform: scale(1.2);
      transition: 0.5s;
    }

    @include tablet {
      position: absolute;
      left: 0;
      margin-left: 10px;
    }

    @include desktop {
      margin-left: 32px;
    }
  }

  &__logo {
    margin-left: 300px;
    padding-top: 15px;

    @include tablet {
      margin-left: 154px;
    }

    &:hover {
      transform: scale(1.3);
      transition: 0.5s;
    }
  }

  &__block2 {
    width: 280px;
    text-align: center;

    @include tablet {
      grid-column: 1 / 3;
      grid-row: 1;
      padding-top: 127px;
    }

    @include desktop {
      padding-top: 207px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    color: #000;
    text-align: start;

    @include tablet {
      font-weight: 700;
      font-size: 54px;
      line-height: 120%;
    }

    @include desktop {
      font-size: 72px;
      line-height: 120%;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    margin-top: 20px;

    @include tablet {
      margin-top: 38px;
    }

    @include desktop {
      padding-top: 50px;

      position: absolute;
      margin-left: 100px;
    }
  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #0f0e08;

    border: 1px solid #1a5a4c;
    width: 230px;
    height: 50px;

    @include tablet {
      height: 70px;
    }

  }

  &__arrow {
    width: 50px;
    height: 55px;
    background-color: #1a5a4c;

    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }

    @include tablet {
      height: 73px;
      width: 70px;
    }
  }

  &__line {
    display: none;

    @include tablet {
      display: none;
    }

    @include desktop {
      display: block;
      width: 1px;
      height: 70px;
      background-color: $green;
      margin-top: 144px;
    }
  }

  &__word {
    display: none;

    @include tablet {
      display: none;
    }

    @include desktop {
      display: block;
      text-align: start;
      transform: rotate(-90deg);
      position: absolute;
      left: 38px;
      margin-top: 100px;

    }
  }
}
