.icon {
  display: block;
  height: 24px;
  width: 24px;

  &__block {
    position: absolute;
    top: 39px;
  }

  &--menu {
    background-image: url(../images/icon/burger-menu.svg);
  }

  &--close {
    background-image: url(../images/icon/close.svg);
  }
}

@include on-phone {
  .icon {
    &__block {
      top: 27px;
      left: 20px;
    }
  }
}
