.icon {
  display: block;
  height: 24px;
  width: 24px;

  &__block {
    position: absolute;
    top: 39px;
  }

  &--menu {
    mask-image: url(../images/icon/burger-menu.png);
    -webkit-mask-image: url(../images/icon/burger-menu.png);
    background-color: $menu-mask-color;

    @include on-action-hover(180deg);
  }

  &--close {
    mask-image: url(../images/icon/close.svg);
    -webkit-mask-image: url(../images/icon/close.svg);
    background-color: $close-mask-color;

    @include on-action-hover(90deg);
  }
}

@include on-phone {
  .icon {
    &__block {
      top: 27px;
      left: 20px;
    }
  }
}
