.ivents {
  display: flex;
  justify-content: center;

  &__title {
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #0f0e08;

    display: flex;
    padding-left: 60px;

    margin-bottom: 40px;

    @include tablet {
      font-size: 48px;
      display: flex;
      justify-content: center;
    }
  }

  &__photo {
    @include tablet {
      display: block;
      width: 700px;
      height: 520px;
    }
  }

  &__vs {
    width: 130px;
    padding-right: 30px;
    padding-top: 5px;

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #687480;
  }

  &__date {
    width: 160px;

    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #1a5a4c;
  }

  &__opus {
    margin-bottom: 60px;
  }

  &__description {
    width: 280px;

    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #4e4e4e;

    padding-bottom: 60px;
  }

  &__block {
    width: 250px;
    height: 140px;
    background-color: #fff;
    padding: 24px 23px;
    transform: translateY(-60px);

    margin: auto;

    @include tablet {
      width: 570px;
      height: 204px;
      margin-left: 40px;
    }

    @include Desktop {
      margin: auto;
    }
  }

  &__photoss {
    width: 320px;
    height: 210px;
    margin-left: -15px;
  }

  &__lection {
    display: flex;
  }

  &__lect {
    padding-right: 60px;

    padding-top: 4px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #687480;

    @include tablet {
      padding-left: 140px;
    }
  }

  &__times {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #1a5a4c;

    padding-bottom: 20px;
  }

  &__titl {
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
    color: #0f0e08;
  }

  &__photo-t {
    @include Desktop {
      width: 1280px;
      height: 550px;
    }
  }

  &__inlain {
    @include Desktop {
      display: flex;
      align-items: center;
    }
  }

  &__under {
    margin-top: 16px;
    margin-bottom: 10px;
  }

  &__photoso {
    @include Desktop {
      padding-right: 130px;
      padding-bottom: 104px;
    }
  }

  &__together {
    display: flex;
    padding-top: 24px;
    padding-bottom: 15px;

    @include tablet {
      padding-top: 40px;
      padding-bottom: 30px;

      @include Desktop {
        padding-bottom: 30px;
      }
    }
  }

  &__titles {
    margin-bottom: 10px;

    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #0f0e08;
    padding-bottom: 11px;

    &::after {
      content: "";
      border: 1px solid #f14a27;
      padding-left: 20px;
      background-color: red;
      margin-left: 45px;
    }

    @include tablet {
      padding-bottom: 15px;
    }

    @include Desktop {
      padding-bottom: 15px;
    }
  }
}
