.ivent {

  &__wrap1 {
    max-width: 280px;
    margin-bottom: 80px;

    @include tablet {
      margin-bottom: 60px;
    }

    @include desktop {
      display: flex;
      align-items: center;
      gap: 130px;
    }
  }
  
  &__block2 {
    @include tablet {
      width: 400px;
      gap: 40px;
    }
  }

  &__wrap2 {
    max-width: 280px;
    margin-bottom: 80px;

    @include tablet {
      margin-bottom: 60px;
    }

    @include desktop {
      display: flex;
      align-items: center;
      gap: 130px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #0f0e08;
    width: 250px;
    text-align: center;

    @include tablet {
      width: 480px;
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
      text-align: start;
    }
  }

  &__photo {
    padding-top: 40px;
    padding-bottom: 16px;

    @include tablet {
      width: 700px;
      height: 520px;

      padding-top: 48px;
      padding-bottom: 40px;
    }

    &:hover {
      transform: scale(1.1);
      transition: 0.4s;
    }
  }

  &__together2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 10px;

    @include tablet {
      padding-bottom: 32px;
    }

    @include desktop {
      width: 370px;
    }
  }

  &__vustavka {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #687480;
  }

  &__time {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: $green;

  }

  &__for-titlewrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;

    @include tablet {
      padding-bottom: 15px;
    }

  }

  &__tit {
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #0f0e08;

    @include tablet {
      font-size: 36px;
    }
  }

  &__kvadrat {
    width: 10px;
    height: 10px;
    background-color: $red;

    @include tablet {
      height: 15px;
      width: 15px;
    }
  }

  &__desk {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #4e4e4e;
  }
}
