.nav {
  justify-self: center;
  column-count: 2;
  column-gap: 90px;
}

@include on-tablet {
  .nav {
    column-gap: 20px;
    justify-self: flex-start;

    &--footer {
      justify-self: auto;
      column-gap: 30px;
    }
  }
}

@include on-phone {
  .nav {
    justify-self: auto;
  }
}
