.schedule {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  &__title {
    font-size: 14px;
    font-weight: inherit;
    line-height: 20px;
    margin-bottom: 20px;
  }

  &__list {
  }

  &__text {
    &--bold {
      font-weight: 600;
    }
  }
}
