.subscription {
  background-image: url(../images/pd.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 320px;
  height: 390px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-left: -20px;

  @include tablet {
    width: 768px;
    height: 380px;
  }

  @include Desktop {
    width: 1280px;
    height: 550px;
    margin: auto;
  }
  

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    padding-bottom: 20px;
    color: #fff;

    @include tablet {
      font-size: 48px;
      line-height: 100%;
    }
  }

  &__descriptions {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    width: 280px;
    color: #fff;

    margin-bottom: 50px;

    @include tablet {
      font-size: 18px;
      line-height: 100%;
    }
  }

  &__input {
    width: 250px;
    height: 40px;

    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #687480;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 24px;

    @include tablet {
      width: 374px;
    }
  }

  &__button {
    width: 50px;
    height: 46px;
    position: absolute;
    margin-left: 235px;
    margin-top: 160px;
    background-color: #f14a27;

    background-image: url(../images/arrow-black.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    @include tablet {
      margin-right: -250px;
      margin-bottom: 4px;
    }
  }
}
