.subs {
  margin-bottom: 100px;

  &__tttt {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 386px;
  
    background-image: url(../images/imagessssss.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet {
      background-image: url(../images/import-2.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include desktop {
      height: 550px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #fff;
    padding-top: 86px;

    padding-bottom: 20px;

    @include tablet {
      font-size: 48px;
    }

    @include desktop {
      padding-top: 163px;
    }
  }

  &__desk {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    text-align: center;
    width: 280px;

    padding-bottom: 50px;

    @include tablet {
      width: 460px;

    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #0f0e08;

    width: 230px;
    height: 50px;

    @include tablet {
      width: 374px;
      height: 70px;
    }

    @include desktop {
      width: 470px;
    }
  }

  &__arrow {
    width: 50px;
    height: 55px;
    background-color: $red;

    background-image: url(../images/arrow-black.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }

    @include tablet {
      height: 70px;
      width: 70px;
      margin-left: 16px;
    }
  }
}
