@import "./exhibition.scss";

.article {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;

  &__img {
    width: 100%;
    min-height: 210px;
    margin-bottom: 15px;

    object-fit: cover;
    object-position: center;
  }

  &__exhibition {
    margin-bottom: 15px;
  }

  &__heading {
    position: relative;
    margin-bottom: 10px;

    font-family: "Montserrat", sans-serif;
    text-align: start;
    font-size: 28px;
    font-weight: 400;

    &::after {
      position: absolute;
      margin-left: 10px;
      bottom: calc(50% - 15px / 2);
      width: 12px;
      height: 12px;
      content: "";

      background-color: #f14a27;
    }
  }

  &__text {
    margin-bottom: 60px;
    text-size-adjust: none;
    text-align: start;
    font-weight: 300;
    line-height: 24px;
    color: $c-gray;
  }
}

//IPad Mini/9.7
@media screen and (min-width: 768px) {
  .article {
    text-align: center;
    &__img {
      margin-bottom: 30px;
      // max-width: 700px;
      height: 520px;
    }

    &__exhibition {
      margin-bottom: 30px;
    }

    &__heading {
      margin-bottom: 15px;
    }

    &__text {
      margin-bottom: 50px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .article {
    &__img {
      height: 520px;
      width: 670px;
      float: left;
      margin-right: 130px;
    }

    &__exhibition {
      margin-top: 150px;
    }
  }
}
