@import "./article";

// Iphone SE
@media screen and (min-width: 280px) {
  .current-events {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__heading {
      max-width: 280px;
      margin-bottom: 40px;

      font-size: 36px;
      font-weight: 700;
      color: #0f0e08;
    }
  }
}
