.events {
  @include container;

  &__title {
    margin: 70px 0 40px;
  }

  &-block {
    &:nth-child(3) {
      margin: 60px 0;
    }

    &__img {
      position: relative;
      width: 280px;
      z-index: -1;
    }

    &__exhibition {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 16px 0 10px;

      h3 {
        margin: 0;
      }
    }

    p {
      margin: 10px 0 0;
    }

    h2 {
      margin: 0;
    }
  }

  @include on-tablet {
    &__title {
      text-align: left;
    }

    &-block {
      width: 460px;

      &__exhibition {
        width: 220px;
      }
    }
  }
}
