.exhibition {
  display: flex;
  justify-content: space-between;

  &__title {
    color: #687480;
  }

  &__date {
    font-weight: 700;
    color: #1a5a4c;
  }
}

//IPad Mini/9.7
@media screen and (min-width: 768px) {
  .exhibition {
    justify-content: start;

    &__title {
      margin-right: 25px;
    }
  }
}
