.form {
  display: flex;
  justify-content: center;

  &__input {
    width: 230px;
    min-width: 150px;
    height: 50px;
    padding: 18px 48px;
    font-size: 16px;
    border: none;

    &::placeholder {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      color: #687480;
    }

    &:focus {
      outline: 0;
      outline-offset: 0;
    }
  }

  &__button {
    width: 50px;
    height: 50px;
    border: 1px solid #f14a27;

    color: #000;
    background-color: #f14a27;
  }
}
