.gallery {
  padding: 0 20px 130px;

  @include onTablet {
    padding: 0 0 92px;
  }

  @include onDesktop {
    padding: 0 0 200px;
  }

  &__image {
    max-width: 100%;
    display: block;
    transition: transform 0.3s ease-in-out;

    &:nth-child(3),
    &:nth-child(2) {
      margin-top: 56px;
    }

    &:nth-child(5),
    &:nth-child(4) {
      margin-top: 30px;
    }

    &--column-4 {
      grid-column: span 4;
    }

    &--column-8 {
      grid-column: span 8;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

}
