.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrap {
    width: 280px;

    @include on-tablet {
      width: 700px;
    }

    @include on-desktop {
      width: 1170px;
    }
  }

  &__title {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #0F0E08;
    text-align: center;

    @include on-tablet {
      font-size: 48px;
      line-height: 48px;
      text-align: left;
    }
  }
}
