.lection {
  &__background {
    display: inline;
    height: 210px;
    z-index: -1;
    width: 320px;
    margin: 0;
    padding: 0;
  }

  &__block {
    position: relative;
    bottom: 80px;
    background-color: $c-white;
    z-index: 2;
    margin: auto;
    width: 280px;
    box-shadow: 0 2px 0 0 #1A5A4C40;

    & h2 {
      margin: 0;
      padding-bottom: 20px;
      text-align: center;
    }
  }

  &__legend {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
