.main {
  &__actual {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include on-tablet {
      margin-top: 107px;
    }
  }

  &__lection {
    margin-top: 60px;

    @include on-tablet {
      margin-top: 112px;
    }

    @include on-desktop {
      margin-top: 104px;
    }
  }

  &__gallery {
    margin-top: 183px;

    @include on-tablet {
      margin-top: 208px;
    }

    @include on-desktop {
      margin-top: 302px;
    }
  }

  &__subscribe {
    margin-top: 129px;

    @include on-tablet {
      margin-top: 133px;
    }

    @include on-tablet {
      margin-top: 200px;
    }
  }

  @include on-tablet {
    margin-top: 133px;
  }
}
