.main {
  &__actual-events {
    padding-top: 70px;

    @include onTablet {
      padding-top: 88px;
    }

    @include onDesktop {
      padding-top: 200px;
    }
  }

  &__cultural-direction {
    padding-block: 60px 183px;

    @include onTablet {
      padding-block: 112px 208px;
    }

    @include onDesktop {
      padding-block: 104px 302px;
    }
  }

  &__follow {
    margin-block: 100px 50px;

    @include onTablet {
      margin-block: 92px 51px;
    }

    @include onDesktop {
      margin-block: 200px 48px;
    }
  }
}
