@import "./lection";

.romantism {
  position: relative;
  padding-bottom: 197px;

  &__img {
    height: 210px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

//IPad Mini/9.7
@media screen and (min-width: 768px) {
  .romantism {
    display: flex;
    justify-content: center;

    &__img {
      height: 400px;
      width: 700px;
      margin: 0 auto;
    }
  }
}
