.subscribe {
  @include container;

  margin-top: 124px;
  padding: 88px 20px;
  background-image: url('/images/main/subcribe.png');
  background-position: center;

  &__title,
  &__subtitle  {
    color: $c-white !important;
    text-align: center;
  }

  &__input {
    text-indent: 24px;
  }

  &__email {
    display: flex;
    align-items: center;
    gap: 0;
  }
}
