.subscription {
  background-image: url(../images/pictures/subscription.svg);
  background-repeat: no-repeat;
  color:#fff;
  margin-top: 88px;
  padding-bottom: 88px;
  background-size: cover;
}

.tickets__link--orange {
  background-color: #F14A27;
  &:hover {
    background-color: #be452b;
  }
  padding: 27%;
}

.tickets__row--orange {
  margin: 0 auto 88px;

}

@include phone {
  .subscription__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    padding: 88px 0 20px;
  }

  .subscription__subtitle {
    font-size: 18px;
    font-family: 400;
    line-height: 27px;
    text-align: center;
    padding-bottom: 50px;
  }
  .tickets__input {
    height: 50px;
    padding-left: 40px;
  }

}

@include tablet {
.tickets__row--orange {
  width: 460px;
}
.tickets__row {
  height: 70px;
}
  .tickets__input {
    height: 70px;
    padding-left: 24px;
  }
  .tickets__link--orange {
    margin-left: 16px;
  }
  .tickets__link {
    padding: 35% 33%;
  }
  .subscription__title {
    font-size: 48px;
    line-height: 48px;
    padding: 82px 0 16px;
  }

  .subscription__subtitle {
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 64px;
  }
}

@include desktop {
  .tickets__row--orange {
    width: 570px;
  }
  .tickets__input {
    padding-left: 32px;
  }
  .tickets__link--orange {
    margin-left: 30px;
  }
  .tickets__link {
    padding: 33% 33%;
  }
  .subscription__title {
    padding: 163px 0 16px;
  }

  .subscription__subtitle {
    padding-bottom: 72px;
  }
}
