@import "./form.scss";

.subscribe {
  padding: 55px 20px 113px;
  text-align: center;

  color: $c-white;
  background: no-repeat url("/images/subscribe.jpg");
  background-size: cover;
  background-position: center;

  &__heading {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
  }

  &__text {
    margin: 0 auto 48px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
  }
}

//IPad Mini/9.7
@media screen and (min-width: 768px) {
  .subscribe {
    padding: 64px 149px 94px;
  }
}

@media screen and (min-width: 1280px) {
  .subscribe {
    padding: 10% 335px 15%;
  }
}
