.subscribe {
  height: 386px;
  background-image: url(../images/back-imgs/subscribe.png);
  background-position: center;
  background-size: cover;

  @include on-tablet {
    height: 380px;
  }

  @include on-desktop {
    height: 550px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 88px 20px;
    color: #fff;

    @include on-tablet {
      padding: 82px 154px;
    }

    @include on-desktop {
      padding: 163px 355px;
    }
  }

  &__title {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;

    @include on-tablet {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__info {
    margin: 0;
    margin-top: 20px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    @include on-tablet {
      margin-top: 16px;
    }
  }

  &__mail-form {
    margin-top: 50px;
    display: flex;
    width: 280px;
    height: 50px;

    @include on-tablet {
      width: 460px;
      height: 70px;
      margin-top: 64px;
      justify-content: space-between;
    }

    @include on-desktop {
      width: 570px;
      margin-top: 72px;
    }
  }

  &__mail {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #687480;

    border: none;
    box-sizing: border-box;
    width: 230px;
    height: 100%;
    background-color: #fff;
    padding: 18px 24px;

    @include on-tablet {
      width: 374px;
    }

    @include on-desktop {
      width: 470px;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0 50px #F8F8FA;
      -webkit-text-fill-color: black;
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    background-color: #F14A27;
    border: none;
    cursor: pointer;

    background-image: url(../images/button-2.png);
    background-position: center;
    background-size: 7.12px 12px;
    background-repeat: no-repeat;

    @include transformer(1.05);

    @include on-tablet {
      width: 70px;
      height: 70px;
    }
  }
}
