$tablet-min-width: 640px;
$desktop-min-width: 1280px;

$font-family-main: "IBM Plex Sans", "Helvetica", sans-serif;
$font-family-secondary: "Montserrat", "Helvetica", sans-serif;

$text-color-main: #4e4e4e;
$text-color-title: #0f0e08;
$text-color-green: #1a5a4c;
$text-color-grey: #687480;
$square-color-orange: #f14a27;
