$mobile-min-width: 320px;
$tablet-min-width: 720px;
$desktop-min-width: 1092px;
$design-min-width: 1280px;
$effect-duration: all 0.6s;
$dott: #e0e0e0;
$black: #000;
$l-black: #0f0e08;
$d-gray: #4e4e4e;
$l-gray: #687480;
$white: #fff;
$orange: #f14a27;
$green: #1a5a4c;
$green-line: rgba(26, 90, 76, 0.50);
$green-shadow: rgba(26, 90, 76, 0.25);
$gray-line: rgba(255, 255, 255, 0.5);
