.date {
  @include flex-between-center;

  margin-bottom: 10px;

  @include tablet {
    margin-bottom: 30px;
    justify-content: flex-start;
    gap: 20px;
  }

  &--padding {
    margin-bottom: 20px;
    padding-inline: 20px;

    @include tablet {
      margin-bottom: 16px;
      justify-content: space-around;
      padding: 0;
    }
  }

  &__exhibition {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: $gray-main-color;

    @include tablet {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__full-date {
    font-size: 16px;
    line-height: 24px;
    color: $green-color;
    font-weight: 700;

    @include tablet {
      font-size: 14px;
      line-height: 21px;
    }

    &--width {
      margin-left: 188px;
    }
  }
}
