%basicBtn {
  width: $btnWidth;
  height: $btnHeight;
  font-family: $font1;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  transition: transform 500ms ease;

  &:hover {
    transform: scale(0.9);
  }

  @media (max-width: $mobileXLsize) {
    width: $btbWidthXL;
  }
}

%orangeButton {
  background-color: $orange;
  border: none;
  color: $clearDay;
}

%transparentButton {
  background-color: transparent;
  border: 1px solid $clearDay;
  color: $clearDay;
}

%backgroundWords {
  background-repeat: no-repeat;
  width: 568px;
  height: 576px;
  background-size: contain;

  @media (max-width: $notebookSize) {
    width: 398px;
    height: 388px;
  }

  @media (max-width: $tabletSize) {
    width: 298px;
    height: 288px;
  }

  @media (max-width: 550px) {
    width: auto;
    height: auto;
  }
}
