%basicBtn {
  width: $btnWidth;
  height: $btnHeight;
  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  outline: none;

  @media (max-width: $mobileXLsize) {
    width: $btbWidthXL;
  }
}

%orangeButton {
  background-color: $orange;
  border: none;
  color: $clearDay;
}

%transparentButton {
  background-color: transparent;
  border: 1px solid $clearDay;
  color: $clearDay;
}

%whiteLine {
  content: "";
  height: 1px;
  background: rgba(241, 245, 244, 0.3);
}
