%basicBtn {
  width: $btnWidth;
  height: $btnHeight;
  font-family: $font1;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  transition: transform 500ms ease, color 0.75s ease;

  &:hover {
    transform: scale(0.9);
  }

  @media (max-width: $mobileXLsize) {
    width: $btbWidthXL;
  }
}

%orangeButton {
  background-color: $orange;
  border: none;
  color: $clearDay;

  &:hover {
    background-color: #b8452c;
  }

  
}

%transparentButton {
  background-color: transparent;
  border: 1px solid $clearDay;
  color: $clearDay;
}

%backgroundWords {
  background-repeat: no-repeat;
  width: 568px;
  height: 576px;
  background-size: contain;

  @media (max-width: $notebookSize) {
    width: 398px;
    height: 388px;
  }

  @media (max-width: $tabletSize) {
    width: 298px;
    height: 288px;
  }

  @media (max-width: 550px) {
    width: auto;
    height: auto;
  }
}

%bottomLink {
  position: absolute;
  right: 212px;
  cursor: pointer;
  
  @media (max-width: $tabletSize) {
    right: 50%;
    transform: translateX(50%);
  }
}

%afterline {
  content: "";
  position: absolute;
  top: 50%;
  margin-left: 20px;
  width: 70px;
  height: 1px;
  background: $jaguar;
  transition: width 1s ease;

  @media (min-width: $tabletSize) {
    &:hover {
      width: 250px;
    }
  }
  
  @media (max-width: $tabletSize) {
    top: 100%;
    margin-left: 0;
    width: auto;
    left: 0;
    right: 0;
  }
}

%inputText {
  font-family: $font1;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 150%;
  color: $clearDay;
}
