.event {
  @include page-grid;

  &__image {
    grid-column: 1 / -1;
    width: 100%;

    @include float-hover;

    @include on-desktop {
      grid-column: 1 / 8;
    }
  }

  &__container {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 9 / -1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__info-container {
    grid-column: 1 / -1;
    margin-top: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include on-tablet {
      font-size: 14px;
      grid-column: 1 / 3;
    }

    @include on-desktop {
      justify-content: start;
      gap: 20px;
    }
  }

  &__type {
    font-weight: 500;
    text-transform: uppercase;
    color: $gray-text-color;
  }

  &__period {
    font-weight: 700;
    color: $green-color;
  }

  &__title-container {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
  }

  &__title {
    margin-block: 12px;
    font-size: 28px;
    font-weight: 400;
    margin-right: 10px;

    @include on-desktop {
      font-size: 36px;
    }
  }

  &__status {
    margin-top: 6px;
    height: 10px;
    aspect-ratio: 1 / 1;
    background: #f14a27;
  }

  &__description {
    grid-column: 1 / -1;
    line-height: 24px;
    color: #4e4e4e;

    @include on-tablet {
      grid-column: 1 / 5;
    }
  }
}
