.gallery {
  &__container {
    @include page-grid;
  }

  &__title {
    grid-column: 1 / -1;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;

    @include on-tablet {
      text-align: left;
      font-size: 48px;
    }
  }

  &__images {
    @include page-grid;

    grid-column: 1 / -1;
    display: flex;
    gap: 16px;
    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include on-desktop {
      display: none;
    }
  }

  &__images-grid {
    @include page-grid;

    display: none;

    @include on-desktop {
      display: grid;
      grid-template:
        'a b b'
        'a b b'
        'c c d';
      gap: 30px;
    }
  }

  &__image {
    width: 100%;

    &--tall {
      grid-area: a;
    }

    &--square {
      grid-area: b;
    }

    &--wide {
      grid-area: c;
    }

    &--small-quare {
      grid-area: d;
    }

    @include on-desktop {
      @include imageHover;
    }
  }

  &__dots {
    grid-column: 1 / -1;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 22px;

    @include on-desktop {
      display: none;
    }
  }

  &__dot {
    height: 9px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: #e0e0e0;

    &--active {
      background-color: #1a5a4c;
    }
  }
}
