.lecture {
  &__container {
    @include page-grid;
  }

  &__box {
    margin-top: -60px;
    grid-column: 1 / -1;
    padding-block: 20px;
    background-color: #fff;
    box-shadow: 0 2px 0 0 #1a5a4c40;
  }

  &__info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__type {
    font-weight: 500;
    text-transform: uppercase;
    color: #687480;
  }

  &__date {
    font-weight: 700;
    color: #1a5a4c;
  }

  &__title {
    grid-column: 1 / -1;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
  }
}
