.paintings {
  padding-inline: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  overflow: hidden;
  margin-bottom: 20px;

  &__photo {
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    height: 410px;
    width: 100%;

    transition: box-shadow $effectDuration;

    &:hover {
      @include onDesktop {

        box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.5);
      }
    }

    @include onTablet {
      height: 520px;
    }

    &--hot-girl {
      @include onDesktop {
        grid-column: span 4;
        height: 600px;
      }
    }

    &--future-food {
      @include onDesktop {
        display: none;
      }
    }

    &--street {
      display: none;

      @include onDesktop {
        grid-column: span 8;
        display: block;
        height: 600px;
      }
    }

    &--park {
      @include onDesktop {
        grid-column: span 8;
        height: 360px;
      }
    }

    &--sea {
      @include onDesktop {
        grid-column: span 4;
        height: 360px;
        transform: scaleX(-1);
      }
    }
  }

  @include onTablet {
    padding-inline: 39px;
    gap: 20px;
    margin-bottom: 32px;
  }

  @include onDesktop {
    @include pageGrid;
    row-gap: 30px;
    overflow: visible;
  }
}
