.section__title {
  @include paddingInline;
  padding-bottom: 40px;
  text-align: center;
  @include onTablet {
    text-align-last: left;
  }
}

.events {
  font-family: 'IBM Plex Sans';
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;

  @include onTablet {
    align-items: flex-start;
    gap: 64px;
  }
  @include onDesktop {
    gap: 112px;
  }

  &__subtitle {
    @include subtitle;
  }
}

.article-exhibition {
  &__wrapper {
    @include paddingInline;
    @include respGrid;
    align-items: center;
    justify-items: center;
    @include onTablet {
      justify-items: left;
    }
  }

  &__image {
    height: 210px;
    width: 100%;
    max-width: 280px;
    @include onTablet {
      height: 520px;
      max-width: 700px;
    }
    @include onDesktop {
      width: 670px;
    }
    grid-column: 1 / -1;
    grid-row: 1;

    @include hover(scale, 1.04);
  }
}

.event-description {
  grid-column: 1 / -1;
  padding-top: 20px;
  @include onTablet {
    padding-top: 40px;
  }
  @include onDesktop {
    padding-top: 0;
    grid-column: 9 / -1;
    grid-row: 1;
  }
  &--caption {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    @include onTablet {
      padding-top: 30px;
    }
    @include onTablet {
      padding-top: 0;
    }


    &-type {
      @include eventType;
      width: 129px;
    }

    &-date {
      @include eventDate;
    }
  }

  &--title {
    padding-block: 10px;
    position: relative;
    display: inline-flex;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      left: 110%;
      bottom: 27%;
      display: inline;
      width: 10px;
      height: 10px;
      background-color: $orange;

      @include onTablet {
        width: 15px;
        height: 15px;
      }
    }
    @include onTablet {
      padding-top: 30px;
      padding-bottom: 15px;
    }
  }

  &--paragraph {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #4E4E4E;

    @include onTablet {
      max-width: 470px;
    }
    @include onTablet {
      max-width: 370px;
    }
  }
}

.lecture {
  height: 210px;
  width: 100%;
  background-size: cover;
  background-image: url(../images/background/lecture-M-bg.png);

  @include onTablet {
    height: 390px;
    background-image: url(../images/background/lect-T-bg.jpg);
  }

  @include onDesktop {
    height: 550px;
    background-size: cover;
    background-image: url(../images/background/lect-d-bg.jpg);
  }

  @include stretchBg;

  &__info {
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 2px 0px rgba(26, 90, 76, 0.25);

    grid-column: 1 / -1;;
    padding-bottom: 20px;
    transform: translateY(105%);


    @include onTablet {
      padding: 45px 50px;
      margin-inline: auto;
      transform: translateY(145%);
      max-width: 615px;
    }
    @include onDesktop {
      padding: 45px 100px 50px;
      margin: 0;
      grid-column: 4 / 10;
      transform: translateY(225%);
    }

    &--caption {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-block: 20px;
      @include onTablet {
        padding-block: 0;
        padding-bottom: 16px;
        justify-content: space-between;
      }

      &-type {
        @include eventType;
        display: inline;
        @include onTablet {
          display: inline-block;
          width: 50%;
        }

      }

      &-date {
        @include eventDate;
        display: inline;
        @include onTablet {
          display: inline-block;
          width: 50%;
        }
      }
    }



    &--title {
      @include subtitle;
      text-align: center;

      @include onTablet {
        text-align: left;
      }
    }

  }
}


