.section-title {
  grid-column: 1 / -1;
  text-align: center;

  &-gal {
    margin-bottom: 40px;
    padding-inline: 20px;

    @include onTablet {
      padding-inline: 39px;
      margin-bottom: 48px;
    }
  }

  @include onTablet {
    text-align: left;
  }
}
