.subscribe {
  @include stretchBg;
  background-image: url(../images/background/sub-M-bg.jpg);
  height: 386px;
  background-position: center;
  @include onTablet {
    background-image: url(../images/background/sub-bg.jpg);
    height: 380px;
  }
  @include onDesktop {
    height: 550px;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  .purchase {
    text-align: center;
    &__title {
      color: #fff;
      padding-bottom: 20px;
      @include onTablet {
        padding-bottom: 20px;
      }
    }

    &__caption {
      padding-bottom: 50px;
      font-family: 'IBM Plex Sans';
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      color: white;
      @include onTablet {
        padding-bottom: 64px;
      }
      @include onDesktop {
        padding-bottom: 72px;
      }
    }

    &__wrapper {
      display: flex;
      justify-content: center;
      gap: 0px;
      @include onTablet {
        gap: 16px;
      }
      @include onDesktop {
        gap: 30px;
      }
    }

    &__email {
      display: block;
      padding-left: 24px;
      @include btnSize;
      width: 230px;
      @include onTablet {
        width: 374px;
      }
      @include onDesktop {
        width: 474px;
      }

      &::placeholder {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: $light-gray;
      }
    }

    &__button {
      display: block;
      @include btnSize;
      background-color: $orange;
    }
  }
}

