.subscription {
  @include page-grid;

  box-sizing: border-box;
  padding-block: 88px;
  background-image: url(../images/subscription-background-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include on-tablet {
    background-image: url(../images/subscription-background-tablet.png);
  }

  @include on-desktop {
    margin: 0;
    background-image: url(../images/subscription-background-desktop.png);
  }

  &__title {
    margin: 0;
    grid-column: 1 / -1;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #fff;

    @include on-desktop {
      font-size: 48px;
    }
  }

  &__subtitle {
    margin-top: 20px;
    grid-column: 1 / -1;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #fff;
  }

  &__input {
    margin-top: 50px;
    grid-column: 1 / -1;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include on-tablet {
      grid-column: 2 / 6;
      height: 70px;
      gap: 16px;
    }

    @include on-desktop {
      grid-column: 4 / 10;
    }
  }

  &__input-field {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-left: 24px;
    font-family: inherit;
    font-size: 14px;
    line-height: 14px;
    border: none;
    outline: none;

    &::placeholder {
      color: #687480;
    }
  }

  &__input-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    border: none;
    background-color: #f14a27;

    @include hover(transform, translateY(-5px));
  }
}
