.events {
  padding: 0 20px;
    &__title {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: $colortitle;

    @include onIpad {
      margin-right: 325px;
    }

    @include onDesktop {
      margin-right: 830px;
    }
  }
  overflow-x: hidden;

  @include onIpad {
    padding: 0 34px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  @include onDesktop {
    flex-direction: row;
  }

  &__image {
    padding: 0;
    @include onDesktop {
      padding: 0 0 100px;
    }
  }

}

.container {
  padding-top: 15px;

  @include onIpad {
    margin-top: 40px;
  }

  &__exibition {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    font-family: 'IBM Plex Sans';
    color: $colordata;

    @include onIpad {
      font-size: 14px;
    }

    @include onDesktop {
      position: relative;
      left: 150px;
      font-size: 14px;
      top: 120px;
    }

    &--date {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: $colordatatext;
      margin-left: 45px;
      @include onIpad {
        font-size: 14px;
      }

      @include onDesktop {
        font-size: 14px;
      }
    }
  }

  &__title {
    padding-top: 10px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;

    @include onIpad {
      font-size: 36px;
      padding-top: 30px;
    }

    @include onDesktop {
      font-size: 36px;
      padding-top: 30px;
      position: relative;
      left: 150px;
      top: 120px;
    }
    &::after {
      content: '';
      display: inline-block;
      position: relative;
      bottom: 3px;
      left: 5px;
      width: 10px;
      height: 10px;
      background: #f14a27;
    }
  }
  &__text {
    padding-top: 10px;
    padding-bottom: 60px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: $colortext;

    @include onDesktop {
      padding-top: 15px;
      position: relative;
      left: 150px;
      max-width:370px;
      top: 120px;
    }
  }
}


