.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: 0.3s;
  &:target {
    transform: translate(0);
  }

  background-color: antiquewhite;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    list-style: none;
    font-weight: bolder;
    font-size: 30px;
    padding-bottom: 50px;
  }
  &__link {
    text-decoration: none;
    color: $colordatatext;
    font-family: "Montserrat", sans-serif;
    transition: $transition9;
    &:hover {
      color: peru;
      transition: $transition9;

    }

  }
}
