.subscribe {
  margin-top: 100px;
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  padding: 88px 20px;
  background-size: cover;
  background-position: bottom;

  @include onDesktop {
    margin-top: 200px;
  }

  &__title {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #fff;

  }

  &__description {
    margin-bottom: 35px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #fff;

    @include onDesign {
      margin-bottom: 50px;
    }
  }

}
