.page {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: $font-size-base;
  font-weight: 300;
  font-style: normal;
  line-height: 100%;
  color: $primary;
  scroll-behavior: smooth;
  min-width: 320px;

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;

    &:target {
      z-index: 2;
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }
  }

  &__body {
    overflow-x: hidden;

    &--with-menu {
      overflow: hidden;
    }
  }
}
