input[type="email"]:focus, {
  background-color: $white;
  border-color: $primary;
  outline: 0;
}

input[type="email"][disabled] {
  background-color: $white;
  color: $primary;
  cursor: not-allowed;
  opacity: 1;
}
