*,
::before,
::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

:root {
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

dl,
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li::before {
  content: "\200B";
  float: left;
}

b,
strong {
  font-weight: bolder;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

svg:not([fill]) {
  fill: currentColor;
}

button,
input {
  margin: 0;
}

button,
[type="submit" i] {
  -webkit-appearance: button;
}
