body {
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: inherit;
  font-family: inherit;
  margin: 0;
}

h1 {
  font-size: $font-size-h1;
  @extend %h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

small {
  color: $secondary;
  vertical-align: bottom;
  font-size: 80%;
}

pre {
  background-color: $grey;
  color: $text;
  display: block;
  font-family: $monospace;
  font-size: $font-size-base;
  margin: $md-pad 0;
  padding: $md-pad;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow: auto;
}

code {
  color: $text;
  font-family: $monospace;
  font-size: $font-size-base;
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  word-break: break-all;
  word-wrap: break-word;
}

a {
  color: $link-color;
  text-decoration: none;
  background-color: transparent;
}

a:hover,
a:focus {
  color: $link-hover-color;
  text-decoration: underline;
}

dl {
  margin-bottom: $md-pad;
}

dd {
  margin-left: $xlg-pad;
}

ul,
ol {
  margin: $zero;
  vertical-align: baseline;
}

nav ul,
ol {
  list-style-type: none;
  padding: 0;
}

blockquote {
  border-left: 2px solid $text;
  font-family: $serif;
  font-style: italic;
  margin: $md-pad 0;
  padding-left: $md-pad;
}

figcaption {
  font-family: $serif;
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

sup {
  font-size: $font-size-sm;
  vertical-align: super;
}

sub {
  font-size: $font-size-sm;
  vertical-align: sub;
}

mark {
  background-color: $yellow;
}
