body {
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  color: inherit;
  font-family: inherit;
  margin: 0;
}

a {
  color: $primary;
  text-decoration: none;
  background-color: transparent;
}

a:hover,
a:focus {
  color: $primary;
  text-decoration: none;
}

ul,
ol {
  margin: $zero;
  vertical-align: baseline;
}

nav ul,
ol {
  list-style-type: none;
  padding: 0;
}
