.container {
  position:relative;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;

  &--reverse {
    @include onPhone {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
