.footer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, minmax(95px, 1fr));
  height: 300px;
  font-family: $ff-IBM;
  font-weight: 400;
  font-size: 14px;

  @include onTablet {
    grid-gap: 24px;
    grid-template-columns: repeat(6, minmax(70px, 1fr));
  }

  @include onDesktop {
    grid-gap: 24px;
    grid-template-columns: repeat(12, minmax(70px, 1fr));
  }

  &__links-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $ff-IBM;
    grid-column: 1 / span 2;

    @include onTablet {
      flex-direction: column;
      height: 70%;
      grid-column: 1;
    }

  }

  &__facebook {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &__instagram {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 20px;

    @include onDesktop {
      margin-left: 2px;
    }
  }

  &__img {
    width: 24px;
    height: 24px;
  }

  &__contacts {
    line-height: 21px;
    grid-row: 2;
    grid-column: 2;
    color: black;
    text-decoration: none;

    @include onTablet {
      grid-row: 1;
      grid-column: 4 / span 2;
    }

    @include onDesktop {
      width: 100%;
      grid-column: 5 / span 2;
    }
  }

  &__link {
    color: #0f0f08;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__schedule {
    width: 110px;
    grid-column: 1;

    @include onTablet {
      width: 100%;
      grid-column: 2 / span 2;
    }

    @include onDesktop {
      width: 100%;
      grid-column: 3 / span 2;
    }
  }

  &__information {
    margin: 0;
    padding: 0;
    align-self: start;
    grid-column: 1;

    @include onTablet {
      grid-column: 2 / span 2;
    }

    @include onDesktop {
      width: 100%;
      grid-column: 3 / span 2;
    }
  }

  &__arrow-up {
    display: flex;
    grid-row: 4;
    grid-column: 2;
    justify-self: end;
    align-self: flex-end;

    @include onTablet {
      display: none;
    }
  }

  &__horizontal-line {
    grid-column: 1 / span 2;
    grid-row: 5;
    border-top: 1px solid rgba(26, 90, 76, 0.5);

    @include onTablet {
      grid-column: 2 / span 4;
      grid-row: 3;
    }

    @include onDesktop {
      transform: rotate(90deg);
      width: 260px;
      grid-column: 6;
      grid-row: 1 / span 2;
      align-self: center;
    }
  }

  &__links-block-1 {
    height: 70px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    grid-row: 6;
    grid-column: 1;

    @include onTablet {
      grid-row: 4;
      grid-column: 2 / span 2;
    }

    @include onDesktop {
      grid-row: 1;
      grid-column: 8 / span 2;
    }
  }

  &__links-block-2 {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-row: 6;
    grid-column: 2;

    @include onTablet {
      grid-row: 4;
      grid-column: 4 / span 2;
    }

    @include onDesktop {
      grid-row: 1;
      grid-column: 10 / span 2;
    }
  }
}
