.galery {
  display: none;

  @include onDesktop {
    display: grid;
    gap: 24px;
    margin-bottom: 200px;
  }

  &__pictures {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, minmax(70px, 1fr));

  }

  &__img {
    height: 100%;
    width: 100%;
    transition: transform 1s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__first-picture {
    grid-column: 1 / span 4;

  }

  &__second-picture {
    grid-column: 5 / -1;
  }

  &__three-picture {
    grid-column: 1 / span 8;
  }

  &__four-picture {
    grid-column: 9 / -1;
  }

}
