.icon {
  background-repeat: no-repeat;
  background-size: contain;

  &__link {
   
  }

  &__logo {
    height: 72px;
    width: 170px;
    margin-top: 9px;

    @include onTablet {
      height: 72px;
      width: 220px;
    }

    @include onDesktop {
      margin-top: 15px;
    }
  }

  &__menu {
    position: absolute;
    top: 45px;
    display: block;
    height: 18px;
    width: 18px;
    background-image: url("../images/menu.svg");

    @include onPhone {
      top: 33px;
      left:23px;
    }
  }

  &__remove {
    display: block;
    height: 18px;
    width: 18px;
    background-image: url("../images/cross.svg");
  }
}
