.logo {
  width: 55px;
  height: 61px;
  display: block;
  margin: 0 auto;

  &__img {
    display: block;
    margin: 0 auto;
  }

  @include onTablet {
    display: grid;
    width: 220px;
    transform: translateY(0);
    grid-column: 5/ 7;
    margin: 0;

    &--menu {
      grid-column: 2 / 3;
      justify-self: center;
    }
  }

  @include onDesktop {
    width: 170px;
    grid-column: 6;

    &--menu {
      grid-column: 2 / 3;
      justify-self: center;
    }
  }

}
