@import "//src/styles/utils";

.main {
  
  @include onPhone {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    justify-content: center;
    gap: 20px;
    margin: 0 20px;
  }

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(6, 90px);
    justify-content: center;
    gap: 30px;
    margin: 0 39px 48px;
  }

  @include onDesctop {
    display: grid;
    grid-template-columns: repeat(12, 70px);
    justify-content: center;
    gap: 30px;
    margin: 0 55px;
  }
  
  .main__title {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;

    @include onPhone {
      grid-column: 1/3;
      grid-row: 1;
    }

    @include onTablet {
      font-size: 48px;
      line-height: 48px;
      grid-column: 1/5;
      grid-row: 1;
      margin: 0;
    }

    @include onDesctop {
      grid-column: 1/6;
      grid-row: 1;
    }
  }

  .main__photo {

    @include onPhone {
      width: 280px;
      height: 280px;
      grid-column: 1/2;
      grid-row: 2;
    }

    @include onTablet {
      width: 700px;
      height: 520px;
      grid-column: 1/6;
    }

    @include onDesctop {
      width: 585px;
      height: 520px;
      grid-column: 1/5;
      grid-row: 2;
      margin-bottom: 104px;
    }
  }

  .main__container {

    @include onPhone {
      grid-column: 1/3;
      grid-row: 3;
    }

    @include onTablet {
      grid-column: 1/6;
    }

    @include onDesctop {
      grid-column: 8/12;
      grid-row: 2;
      margin-top: 100px;
    }
  }

  .main__photo-2 {

    @include onPhone {
      width: 280px;
      height: 280px;
      grid-column: 1/2;
      grid-row: 4;
    }

    @include onTablet {
      width: 700px;
      height: 520px;
      grid-column: 1/6;
    }

    @include onDesctop {
      width: 585px;
      height: 520px;
      grid-column: 1/5;
      grid-row: 3;
      margin-bottom: 104px;
    }
  }

  .main__container-2 {

    @include onPhone {
      grid-column: 1/3;
      grid-row: 5;
    }

    @include onTablet {
      grid-column: 1/6;
    }

    @include onDesctop {
      grid-column: 8/12;
      grid-row: 3;
      margin-top: 100px;
    }
  }

  .main__box {
    display: flex;
    justify-content: space-between;

    @include onTablet {
      justify-content: start;
    }
  }

  .main__exhibition {
    display: block;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #687480;
    margin: 0;
    padding-top: 5px;

    @include onTablet {
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
    }
  }

  .main__data {
    display: block;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #1a5a4c;
    margin: 0;

    @include onPhone {
      font-size: 16px;
      font-weight: bold;
    }

    @include onTablet {
      padding-left: 30px;
      font-weight: 700;
      font-size: 14px;
    }
  }

  .main__text {
    font-weight: 400;
    font-size: 28px;
    font-style: 28px;
    line-height: 28px;
    color: #0f0e08;
    text-align: center;
    margin: 30px 0 15px;

    @include onTablet {
      font-size: 36px;
      line-height: 36px;
      text-align: left;
    }
  }

  .main__square {
    width: 15px;
    height: 15px;
    background-color: #f14a27;

    @include onPhone {
      margin: 38px 0 0 10px;
    }

    @include onTablet {
      margin: 43px 0 0 40px;
    }

    @include onDesctop {
      margin: 45px 0 15px 20px;
    }
  }

  .main__description {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0 0 60px;

    @include onTablet {
      width: 460px;
      text-align: left;
    }
  }
}
