.menu {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #0008;

  &_header {
    background-color: #1a5a4c;
    height: max-content;
    width: 100%;
    padding: 32px 21px 27px;

    @include onTablet() {
      padding: 44px 40px 40px;

      display: flex;
      gap: 50px;
    }

    @include onDeskTop() {
      padding: 46px 61px 48px;
      gap: 150px;
    }

    &_navigation {

      &_conteiner {
        display: flex;

        @include onTablet() {
          max-width: 350px;
        }
      }

      &_link {
        &_img {
          width: 13px;
          height: 13px;
        }
      }

      &_list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 20px;
        justify-content: space-between;
        padding-left: 30px;
        margin-bottom: 24px;

        &::after {
          content: "";
          width: 100%;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.5);

          @include onTablet() {
            width: 1px;
            height: 145px;
            position: absolute;
            left: 400px;
          }

          @include onDeskTop() {
            left: 480px;
          }
        }

        &_item {
          display: block;
          width: 100px;

          &_link {
            text-decoration: none;
            font-family: "IBM Plex Sans", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            color: #fff;
          }
        }
      }
    }

    &_info {

      &_title {
        margin-bottom: 20px;

        font-family: "IBM Plex Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140.62%;
        color: #fff;
      }

      &_conteiner {
        @include onTablet() {
          display: flex;
          gap: 38px;
        }
      }

      &_days {
        margin-bottom: 20px;
        width: 170px;

        font-family: "IBM Plex Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140.62%;
        color: #fff;
      }

      &_text {
        font-family: "IBM Plex Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140.62%;
        color: #fff;

        @include onTablet() {
          width: 144px;
        }
      }
    }
  }
}
