.menu {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.menu__first-block {
  //width: 100%;
  background-color: #1a5a4c;
  //height: 233px;
  height: 33%;
  margin: 0;
  padding: 0;

  
  @include onPhone {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    justify-content: center;
    gap: 20px;
    height: 480px;
  }

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(6, 90px);
    justify-content: center;
    gap: 30px;
    margin: 0;
    height: 225px;
  }

  @include onDesctop {
    display: grid;
    grid-template-columns: repeat(12, 70px);
    gap: 30px;
    margin: 0;
    height: 233px;
  }
}

.menu__cross {
  width: 12px;
  height: 12px;

  @include onPhone {
    margin: 0 34px 0 0;
  }
  
  @include onTablet {
    margin: 0 44px 0 0;
  }

  @include onDesctop {
    margin: 0 108px 0 0;
  }

}

.menu__all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include onPhone {
    grid-column: 1/2;
    grid-row: 1;
    margin: 27px 0 0;
  }

  @include onTablet {
    grid-column: 1/2;
    grid-row: 1;
    margin: 40px 0 0;
  }

  @include onDesctop {
    grid-column: 1/2;
    grid-row: 1;
    margin: 40px 0 0;
  }
}

.menu__block {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;

  .menu__text {
    width: 169px;
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    margin: 0 0 30px;

    @include onTablet {
      font-size: 16px;
    }

    &:hover {
      font-size: 23px;
      transition: transform 0.3s;
    }
  }

  .menu__text-2 {
    margin: 0;
  }
}

.menu__line {
  height: 145px;
  border-right: 1px solid #fff;
  margin: 40px 0 0;

  @include onPhone {
    display: none;
  }
  
  @include onTablet {
    display: block;
    grid-column: 3;
  }

  @include onDesctop {
    display: block;
    grid-column: 6;
  }
}

.menu__line-second {
  width: 280px;
  border-bottom: 1px solid #fff;
  margin: 40px 0 0;

  @include onPhone {
    display: block;
    grid-column: 1/3;
    grid-row: 2;
  }
  
  @include onTablet {
    display: none;
  }

  @include onDesctop {
    display: none;
  }
}

.menu__container {
  display: flex;
  flex-direction: column;
  
  @include onPhone {
    grid-column: 1/2;
    grid-row: 3;
    margin: 0;
  }

  @include onTablet {
    grid-column: 4/6;
    grid-row: 1;
    margin: 40px 0 0;
  }
  
  @include onDesctop {
    grid-column: 8/10;
    grid-row: 1;
    margin: 40px 0 0;
  }
}

.menu__timetable {
  width: max-content;
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin: 0 0 20px;
}

.menu__second-container {
  display: flex;

  @include onPhone {
    flex-direction: column;
  }
  
  @include onTablet {
    flex-direction: row;
  }

  @include onDesctop {
    flex-direction: row;
  }
}

.menu__box {
  display: flex;
  width: max-content;
  margin: 0;
  
  .menu__main-text {
    width: max-content;
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    margin: 0;
  }

  .menu__day {
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin: 0 10px;
  }
}

.menu__weekend {
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;

  @include onPhone {
    margin: 16px 0 0;
    width: 280px;
  }

  
  @include onTablet {
    margin: 0;
    width: 170px;
  }

  @include onDesctop {
    width: 170px;
    margin: 0;
  }
  
}

.menu__second-block {
  height: 422px;
  background-color: gray;
  opacity: 70%;
}
