.page {
  &__body {
    box-sizing: border-box;
    font-family: $ff-IBM;
  }

  &__section {

    margin-bottom: 200px;
    margin-left: 55px;

    @include onTablet {
      margin-left: 34px;
    }

    @include onPhone {
      margin-left: 0;
    }
  }

  &__header {
    @include onPhone {
      margin: auto;
    }
  }

  &__ticket-button {
    margin-top: 90px;
    align-self: flex-end;

    @include onTablet {
      align-self: start;
    }

    @include onPhone {
      align-self: center;
    }
  }

  &__title {
    margin-top: 20;
    align-self: flex-start;
    align-self: center;
    text-align: center;

    @include onTablet {
      margin-top: 127px;
    }

    @include onDesktop {
      margin-top: 204px;
    }

  }
}
