.classic {
  width: 100%;
  margin: 0;
  background-image: url(../images/photo-3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  @include onPhone {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    justify-content: center;
    gap: 20px;
    height: 210px;
    margin: 0 0 150px;
  }

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(6, 90px);
    justify-content: center;
    gap: 30px;
    height: 390px;
    margin: 0 0 190px;
  }

  @include onDesctop {
    display: grid;
    grid-template-columns: repeat(12, 70px);
    justify-content: center;
    gap: 30px;
    height: 550px;
    margin: 0 0 302px;
  }
}

.classic__box {
  background-color: #fff;
  /* box-shadow: 0px 2px 0px rgba(26, 90, 76, 0.25); */
  
  @include onPhone {
    width: 280px;
    height: 140px;
    grid-row: 9;
  }

  @include onTablet {
    width: 570px;
    height: 204px;
    margin: 0 0 0 65px;
    grid-row: 11;
  }

  @include onDesctop {
    grid-column: 4/8;
    grid-row: 16;
  }
}

.classic__events {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;

  .classic__lection {
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #687480;
    
    @include onPhone {
      margin: 24px 0 0 21px;
    }

    @include onTablet {
      padding: 45px 0 0 55px;
      margin: 0;
    }

    @include onDesctop {
      padding: 45px 0 0 100px;
      margin: 0;
    }
  }
  
  .classic__data {
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    width: max-width;
    color: #1a5a4c;
    margin: 24px 21px 0 0;

    @include onTablet {
      padding: 45px 55px 0 0;
      margin: 0;
    }

    @include onDesctop {
      padding: 45px 100px 0 0;
      margin: 0;
    }
  }
}

.classic__text {
  font-family: "Montserrat", Helvetica, sans-serif;
  color: #0f0e08;

  @include onPhone {
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    padding: 0;
  }

  @include onTablet {
    font-weight: 400;
    font-size: 36px;
    text-align: left;
    padding: 0 0 0 55px;
  }

  @include onDesctop {
    padding: 0 0 0 100px;
    margin: 0;
  }
}
