.slider {
  margin-bottom: 50px;

  @include onTablet {
    height: 543px;
  }

  @include onDesktop {
    display: none;
  }

  &__slide {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    @include onTablet {
      height: 543px;
    }
  }

  &__img {
    object-fit: fill;
    margin: auto;
    display: block;
  }
}
