.actualEvents {
  display: flex;
  flex-direction: column;
  padding: 0 34px;

  @include smartphone {
    display: grid;
    padding: 0 20px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(12, 70px);
    gap: 30px;
    justify-content: center;
    padding: 0;
  }

  &__title {
    width: 700px;
    font-family: "Montserrat", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: #0f0e08;
    margin-bottom: 48px;

    @include smartphone {
      width: 280px;
      font-size: 36px;
      justify-self: center;
      text-align: center;
      margin-bottom: 40px;
    }

    @include desktop {
      grid-column: 1 / 6;
      margin-bottom: 26px;
    }
  }

  &__picture {
    width: 100%;
    height: 520px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 44px;
    transition: all 0.3s;
    
    &:hover {
      transform: scale(1.05);
    }

    @include smartphone {
      width: 100%;
      height: 210px;
      margin: 0 auto 20px;
    }

    @include desktop {
      grid-column: 1 / 8;
      margin: 0;
    }
  }
  
  &__advertisement {
    width: 700px;
    margin-bottom: 32px;

    @include smartphone {
      width: 280px;
      height: 16px;
      margin: 0 auto 10px;
    }

    @include desktop {
      grid-column: 9 / 13;
      width: 370px;
      margin: 163px 0 0;
    }

    &--exibition {
      display: inline;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: #687480;

      @include smartphone {
        width: 130px;
      }
    }

    &--date {
      display: inline;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      color: #1a5a4c;
      margin-left: 25px;
      margin-bottom: 30px;

      @include smartphone {
        width: 142px;
        margin: 0 0 10px 50px;
      }
    }
  }

  &__smallTitle {
    display: inline-block;
    width: 700px;
    font-family: "Montserrat", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: #0f0e08;
    margin-bottom: 15px;

    &::after {
      display: inline-block;
      content: "";
      width: 15px;
      height: 15px;
      margin-bottom: 10px;
      background-color: #f14a27;
      transform: translateY(50%);

      @include smartphone {
        width: 10px;
        height: 10px;
      }
    }

    @include smartphone {
      width: 280px;
      font-size: 28px;
      text-align: center;
      margin: 0 auto 10px;
    }

    @include desktop {
      grid-column: 9 / 13;
      width: 370px;
      margin: -340px 0 0;
    }
  }

  &__containString {
    width: 700px;
    margin-bottom: 64px;

    @include smartphone {
      width: 280px;
      margin: 0 auto 60px;
    }

    @include desktop {
      grid-column: 9 / 13;
      width: 370px;
      margin: -325px 0 0;
    }

    &--text {
      width: 460px;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      color: #4e4e4e;
      margin-bottom: 64px;

      @include smartphone {
        width: 280px;
        margin: 0 auto 60px;
      }

      @include desktop {
        width: 370px;
      }
    }
  }
}
