.events {
  &__title {
    margin-bottom: rem(40);

    @media (min-width: $mobile) {
      margin-bottom: rem(48);
    }

    @media (min-width: $tablet) {
      margin-bottom: rem(56);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: rem(60);
    }

    @media (min-width: $mobile) {
      margin-bottom: rem(64);
    }

    @media (min-width: $tablet) {
      margin-bottom: rem(104);
    }
  }
}
