.galery-block {
  &__title {
    text-align: center;
    margin-bottom: rem(40);

    @media (min-width: $mobile) {
      margin-bottom: rem(48);
    }

    @media (min-width: $tablet) {
      margin-bottom: rem(56);
    }
  }

  &__galery {
    &:not(:last-child) {
      margin-bottom: rem(20);

      @media (min-width: $mobile-small) {
        margin-bottom: rem(32);
      }
    }
  }
}
