.lecture {
  height: rem(210);
  background: url(../images/lecture/lecture.png) center / cover no-repeat;

  @media (min-width: $mobile) {
    height: rem(390);
  }

  @media (min-width: $tablet) {
    height: rem(550);
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }

  &__card {
    box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);
    background: #fff;
    padding: rem(20) 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: rem(20);
    transform: translateY(50%);

    @media (min-width: $mobile) {
      padding: rem(50);
      max-width: rem(570);
    }
  }

  &__info {
    @media (min-width: $mobile) {
      justify-content: space-between;
      width: 100%;
    }
  }

  &__title {
    text-align: center;

    @media (min-width: $mobile) {
      text-align: left;
    }
  }
}
