.lecture {

  &__picture {
    display: block;
    width: 100%;
    height: 390px;
    margin: 0 auto;

    @include smartphone {
      height: 65vw;
    }

    @include desktop {
      height: 43vw;
    }
  }

  &__block {
    display: block;
    position: relative;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);
    bottom: 90px;
    margin: 0 auto;
    width: 570px;
    height: 204px;
    padding: 45px 55px 50px;

    @include smartphone {
      width: 280px;
      height: 140px;
      padding: 20px 0;
      bottom: 60px;
    }

    @include desktop {
      grid-column: 4 / 10;
    }

    &--exibition {
      display: inline-block;
      width: 100px;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: #687480;

      @include smartphone {
        font-size: 16px;
        margin-left: 21px;
      }
    }

    &--date {
      display: inline-block;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      color: #1a5a4c;
      margin-left: 140px;
      margin-bottom: 16px;

      @include smartphone {
        font-size: 16px;
        margin-left: 0;
      }
    }

    &--smallTitle {
      font-family: "Montserrat", Arial, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 100%;
      color: #0f0e08;

      @include smartphone {
        font-size: 28px;
        text-align: center;
      }
    }
  }
}
