.main {
  @media (min-width: $mobile) {
    position: relative;
  }

  &__logo {
    position: absolute;
    top: rem(10);
    left: 50%;
    height: rem(61);
    width: rem(55);
    z-index: 5;

    @media (any-hover: hover) {
      transition: transform $duration;
      transform: scale(1);

      &:hover {
        transform: scale(1.2);
      }
    }

    @media (max-width: $mobile) {
      transform: translateX(-50%);
    }

    @media (min-width: $mobile) {
      height: rem(72);
      width: rem(63);
      left: rem(55);
      top: rem(15);
    }
  }

  &__container {
    @media (min-width: $mobile) {
      @include page-grid;

      padding-top: rem(127);
    }

    @media (min-width: $tablet) {
      padding-top: rem(206);
    }
  }

  &__title {
    font-family: $second-family;
    font-weight: 700;
    font-size: rem(45);
    line-height: 100%;
    text-align: center;
    color: #000;
    margin-bottom: rem(20);

    @media (min-width: $mobile) {
      grid-column: 1 / 4;
      text-align: left;
      line-height: 120%;
      font-size: rem(54);
      margin-bottom: rem(38);
    }

    @media (min-width: $desktop) {
      font-size: rem(72);
      margin-bottom: rem(89);
    }
  }

  &__link {
    width: 100%;

    @media (min-width: $mobile) {
      grid-column: 1 / 4;
      width: rem(270);
    }

    @media (min-width: $tablet) {
      width: 100%;
    }

    @media (min-width: $desktop) {
      grid-column: 3 / 6;
    }
  }

  &__image {
    position: relative;
    height: percent(320, 300);
    margin-bottom: rem(20);
    padding-bottom: 95.2%;

    @media (max-width: $mobile) {
      margin: 0 rem(-20) rem(20) rem(-20);
    }

    @media (min-width: $mobile) {
      grid-column: 4 / -1;
    }

    @media (min-width: $mobile) {
      position: absolute;
      top: 0;
      right: 0;
      width: percent(374, 768);
      padding-bottom: 49.54%;
    }

    @media (min-width: $tablet) {
      width: percent(725, 1280);
      padding-bottom: 51.18%;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.link-tickets {
  display: flex;
  align-items: center;

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: rem(1) solid $main-bg;
    font-family: $font-family;
    font-weight: 500;
    font-size: rem(16);
    line-height: 100%;
    color: #0f0e08;
    text-align: center;
    padding: rem(18);
    height: rem(50);

    @media (min-width: $mobile) {
      height: rem(70);
    }
  }
}
