.subscription {
  position: relative;
  display: block;
  width: 100%;
  background-image: url("../img/subscription_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--color-grey);
  padding: 162px 0;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
  }

  @include max-tablet-portrait {
    padding: 82px 0;
  }

  @include max-phone {
    padding: 88px 0;
  }

  &__block {
    position: relative;
    width: 100%;
    max-width: 610px;
    padding: 0 20px;
    margin: 0 auto;

    @include max-tablet-portrait {
      max-width: 500px;
    }

    @include max-phone {
      max-width: none;
    }
  }

  &__cont {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 72px;

    &:last-child {
      margin-bottom: 0;
    }

    @include max-tablet-portrait {
      margin-bottom: 64px;
    }

    @include max-tablet {
      margin-bottom: 50px;
    }
  }

  &__title,
  &__text {
    color: var(--color-white);
  }

  &__title {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    @include max-phone {
      margin-bottom: 20px;
    }
  }
}
