.subscribe {
  background-image: url(./pictures/subscribe768.jpg);
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 82px 154px;

  @include smartphone {
    padding: 88px 20px;
  }

  @include desktop {
    padding: 163px 355px;
  }

  &__title {
    font-family: "Montserrat", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
  }

  &__text {
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 64px;
  }

  &__field {
    width: 374px;
    height: 70px;
    margin: 0 auto;

    @include smartphone {
      width: 230px;
      height: 50px;
    }

    &--form {
      padding: 0;
      border: none;
      width: 374px;
      height: 70px;
      text-indent: 24px;
      font-family: "Montserrat", Arial, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      background: #fff;
      outline: none;
      color: #687480;
      
      @include smartphone {
        width: 230px;
        height: 50px;
      }
    }

    &--button {
      display: block;
      position: relative;
      padding: 0;
      border: 0;
      left: 390px;
      bottom: 100%;
      width: 70px;
      height: 70px;
      background-color: #f14a27;
      background-image: url(./pictures/stringBlack.svg);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.05);
      }

      @include smartphone {
        width: 50px;
        height: 50px;
        left: 200px;
      }
    }
  }
}
