.main-events {

  &__header {
    margin-bottom: 60px;
  }
}

.content {
  &__header {
    margin: 30px 0 15px;
  }

  @media (min-width:1280px) {
    &--1 {
      grid-row-start: 1;
      grid-column-start: 9;
      grid-column-end: 13;
    }
    
    &--2 {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }

  @media (min-width:1800px) {
    &--1 {
      grid-row-start: 1;
      grid-column-start: 11;
      grid-column-end: 15;
    }
    
    &--2 {
      grid-row-start: 2;
      grid-column-start: 3;
      grid-column-end: 7;
    }
  }

  &__text {
    font-family: $plexSansFontFamily;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
  }
}

.wrap-event {
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(2, 520px);
  grid-gap: 60px 30px;
 
  @media (min-width:320px) {
    display: block;
    
  }

  @media (min-width:1280px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
  }
  
  @media (min-width:1800px) {
    grid-template-columns: repeat(16, 1fr);
    
  }

  &--position {
    align-items: end;
  }

  .content {
    margin-top: 50px;

    &__header {
      position: relative;
      font-family: $montserratFontFamily;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;

      @media (max-width:767px) {
        font-size: 28px;
        line-height: 28px;
      }

      &::after {
        content: " ";
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        margin-left: 10px;
        width: 15px;
        height: 15px;
        background-color: #f14a27;
      }
    }
  }

  .galery {
    &__album {
      margin-bottom: 60px;
    }
  }

  .cell-fit {
    // height: 210px;
    // width: 100%;
    object-fit: cover;

    @media (max-width:1799px) {
      height: 100%;
      width: 100%;
    }

    @media (min-width:320px) {
      margin: 50px 0 30px;
    }

    @media (min-width:1280px) {
      margin: 0;
      &--1 {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 8;
      }
    
      &--2 {
        grid-row-start: 2;
        grid-column-start: 6;
        grid-column-end: 13;
      }
    }

    @media (min-width:1800px) {
      &--1 {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 12;
      }
    
      &--2 {
        grid-row-start: 2;
        grid-column-start: 8;
        grid-column-end: 17;
      }
    }
  }

}

.type {
  display: flex;
  align-items: center;

  &__name {
    margin-right: 26px;
    font-family: $plexSansFontFamily;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
  }

  &__date {
    font-family: $plexSansFontFamily;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: #1a5a4c;
  }
}
