.info {
  &__text {
    font-size: 14px;
    line-height: 21px;
    margin: 0;

    &--mt-and-mb {
      margin-top: 44px;
      margin-bottom: 20px;

      @include tablet {
        margin-top: 0;
      }
    }

    &--footer {
      margin-bottom: 20px;
    }
  }

  &__schedule {
    margin-bottom: 16px;

    @include tablet {
      margin-bottom: 0;
    }

    &--footer {
      margin-bottom: 10px;
    }
  }

  &__white {
    font-weight: 600;
  }

  &__top {
    width: 170px;
  }

  &__botton {
    width: 144px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
