.insert {
  margin-bottom: 100px;
  &__transition {
    position: relative;
    &__picture {
      width: 99vw;
      height: 674px;
      margin: 0 auto;
      object-fit: cover;
      object-position: center;
    }

    &__text {
      position: absolute;
      left: calc(50% - 570px / 2);
      bottom: -150px;
      width: 570px;
      padding: 45px 100px;
      background-color: white;
      box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
    }
  }
}

.lecture {
  display: flex;
  justify-content: space-between;
}
