.footer {
  font-family: "IBM Plex Sans", Arial, sans-serif;
  &__content {
    @include respGrid;
    @include paddingInline;
    padding-top: 50px;
  }

  &__logo {
    font-size: 36px;
  }
  &__top {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      justify-content: flex-start;
      flex-direction: column;
      gap: 82px;
      grid-column: 1;
    }

    &--socials {
      display: flex;
      width: 60px;
      gap: 26px;
    }
  }
  &__info {
    grid-column: 1 / -1;
    display: flex;
    gap: 20px;
    padding: 40px 0 70px;
    border-bottom: 1px solid $border-green;
    position: relative;

    @include onTablet {
      padding-top: 0;
      grid-row: 1;
      grid-column: 2 / 6;
    }

    @include onDesktop {
      grid-column: 3 / 8;
      gap: 31px;

      border-bottom: none;
      border-right: 1px solid $border-green;

      padding-bottom: 0;
      padding-right: 60px;
    }

    &--go-top {
      position: absolute;
      width: 50px;
      height: 50px;
      bottom: 20px;
      right: 0;
      border: 1px solid $green;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;

      @include onTablet {
        display: none;
      }
    }
  }

  &__schedule {
    grid-column: 1;
    width: 130px;
    font-size: 14px;
    line-height: 150%;
    padding-top: 0;
    color: black;
    padding-left: 0;

    @include onTablet {
      width: 220px;
    }
    @include onDesktop {
      width: 170px;
    }

    &--wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__contacts {
    width: 128px;
    display: flex;
    flex-direction: column;
    &--title {
      padding-bottom: 20px;
    }

    @include onTablet {
      width: 220px;
    }
  }

  &__nav {
    grid-column: 1 / -1;
    padding-top: 40px;
    @include onTablet {
      grid-column: 2 / 6;
    }

    @include onDesktop {
      padding-top: 0;
      padding-left: 65px;
      grid-row: 1;
      grid-column: 8 / 11;
    }
    &--list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 20px;
      height: 100px;

      @include onTablet {
        height: 100px;
      }

      @include onDesktop {
        gap: 30px;
        height: 120px;
      }
    }

    &--link {
      font-size: 14px;
    }
  }

  &__copyright {
    grid-column: 1 / -1;
    padding-top: 80px;
    margin-bottom: 35px;

    @include onTablet {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    &--caption {
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 300;
      font-size: 12px;
      line-height: 140.62%;
      color: $page-black;

      text-align: center;
    }
  }
}
