.footer {
  @include page-grid;

  padding-block: 50px;

  font-size: 14px;
  line-height: 20px;
  color: $black-text-color;

  // Top
  &__top {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;

    @include on-tablet {
      grid-column: 1 / 2;
      flex-direction: column;
      justify-content: start;
      gap: 62px;
    }
  }

  &__logo {
    height: 72px;
    width: 72px;

    @include float-hover(2px, 4px);
  }

  &__socials {
    display: flex;
    gap: 20px;
  }

  &__social-link {
    display: flex;

    @include float-hover(2px, 4px);
  }

  // Containers
  &__info-container {
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    @include on-tablet {
      margin: 0;
    }
  }

  &__schelude-container {
    grid-column: 1;

    @include on-tablet {
      grid-column: 2 / 4;
    }

    @include on-desktop {
      grid-column: 3 / 5;
    }
  }

  &__contacts-container {
    grid-column: 2;

    @include on-tablet {
      grid-column: 4 / 6;
    }

    @include on-desktop {
      grid-column: 5 / 7;
    }
  }

  &__contact-link {
    color: $black-text-color;
    text-decoration: none;

    @include float-hover(2px, 4px);
  }

  // Bottom
  &__arrow-up {
    grid-column: -2;
    justify-self: end;

    height: 50px;
  }

  &__bottom-line {
    margin-block: 20px;
    grid-column: 1 / -1;
    height: 1px;
    background: #1a5a4c80;

    @include on-tablet {
      margin-block: 64px;
      grid-column: 2 / 6;
    }

    @include on-desktop {
      margin: 0;

      justify-self: center;

      height: 100%;
      width: 1px;
      grid-column: 7;
      grid-row: 1;
    }
  }

  // Links
  &__link {
    text-decoration: none;
    color: $black-text-color;

    font-size: 14px;

    @include float-hover(2px, 4px);
  }

  &__links-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include on-desktop {
      grid-row: 1;
    }

    &--left {
      @include on-tablet {
        grid-column: 2 / 4;
      }

      @include on-desktop {
        grid-column: 8 / 10;
      }
    }

    &--right {
      @include on-desktop {
        grid-column: 10 / 12;
      }
    }
  }

  &__copyright {
    margin-top: 80px;
    grid-column: 1 / -1;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;

    @include on-tablet {
      display: flex;
      justify-content: space-between;
    }
  }
}
