.footer {
  @include page-grid;

  padding-block: 50px;

  font-size: 14px;
  line-height: 20px;
  color: #0f0e08;

  // Top
  &__top {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
  }

  &__socials {
    display: flex;
    gap: 20px;
  }

  &__social-link {
    display: flex;
  }

  // Containers
  &__info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__schelude-container {
    grid-column: 1;
  }

  &__contacts-container {
    grid-column: 2;
  }

  // Bottom
  &__arrow-up {
    grid-column: -2;
    justify-self: end;
  }

  &__bottom-line {
    margin-top: 20px;
    grid-column: 1 / -1;
    height: 1px;
    background: #1a5a4c80;
  }

  // Links
  &__link {
    text-decoration: none;
    color: #0f0e08;

    font-size: 14px;
  }

  &__links-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__copyright {
    margin-top: 80px;
    grid-column: 1 / -1;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
  }
}
