.footer__nav {
  @include nav-container-common-opt(20px);
  grid-column: span 4;

  @include onMobile {
    grid-column: span 2;
  }

  &-links {
    @include nav-links-common-opt;
    font-size: 14px;
  }
}
