.actions {
  display: flex;
  flex-direction: column;

  @include onTablet {
    align-items: start;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    @include onTablet {
      align-items: start;
      gap: 64px;
    }

    @include onDesktop {
      gap: 105px;
    }
  }

  &__title {
    font-family: $font-family--1;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #0F0E08;
    margin-bottom: 40px;

    @include onTablet {
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin-bottom: 56px;
    }
  }
}
