.button {
  width: $btn-size;
  height: $btn-size;

  background-color: $color-green;
  color: $color-white;

  cursor: pointer;
  transition: background-color 0.5s;

  &:hover {
    background-color: $color-orange;
  }

  &--orange {
    background-color: $color-orange;
    transition: background-color 0.5s;

    &:hover {
      background-color: $color-green;
    }
  }
}
