.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #1a5a4c;
  cursor: pointer;

  &__icon {
    width: 24px;
    height: 24px;
    background: url("../images/icon/arrow_button.svg") no-repeat center;
  }

  @media (min-width: 768px) {
    width: 70px;
    height: 70px;
  }
}
