.container {
  @include content-padding-in-line;

  &__header-bg {
    overflow: hidden;

    @include on-tablet {
      position: absolute;
      padding-left: 39px;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1;
      margin-left: calc((100% - 768px) / 2);
    }

    @include on-desktop {
      margin-left: calc((100% - 1280px) / 2);
    }
  }
}
