.current {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  line-height: 100%;
  font-weight: 700;

  &__name {
    grid-column: 1 / -1;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
  }

  &__exhibition {
    font-weight: 500;
    font-size: 16px;
  }

  &__link {
    font-size: 16px;
    line-height: 150%;
    color: $menu-color;
  }

  &__exhibition-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__block {
    position: relative;
    grid-column: 1 / -1;
    margin-bottom: 183px;
  }

  &__depiction {
    width: 100%;
  }

  &__title {
    position: relative;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;

    &-square::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      right: 20px;
      top: 50%;
      transform: translateY(-25%);
      background-color: $square-colr;
    }
  }
  &__exhibition-block-mod {
    padding: 20px;
  }
  &_paragraph {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
  }

  &__description-card {
    position: absolute;
    width: calc(100% - 40px);
    height: 140px;
    text-align: center;
    left: 50%;
    top: 153px;
    transform: translateX(-50%);
    padding-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
  }

}

.margin {
  margin-bottom: 10px;
}
