.dots {
  display: flex;
  gap: 22px;
  width: calc(100vw - 34px - 42px);
  justify-content: center;

  &__item {
    background-color: #e0e0e0;
    width: 9px;
    height: 9px;
    border-radius: 50%;

    &--active {
      background-color: #1a5a4c;
    }
  }

  @media screen and (max-width: 613px) {
    width: calc(100vw - 20px - 42px);
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}
