.events {
  padding-top: 70px;

  &__image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    margin-bottom: 15px;

    &:hover {
      animation: pulse 3s;
    }

    @media (min-width: 768px) {
      margin-bottom: 30px;
    }

    @media (min-width: 1280px) {
      width: 670px;
    }

    @media (min-width: 1920px) {
      width: 870px;
    }
  }

  &__content {
    @media (min-width: 1280px) {
      padding-top: 50px;
    }
  }

  &__name {
    position: relative;

    &::after {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #f14a27;
      transform: translate(10px, -3px);

      @media (min-height: 768px) {
        width: 15px;
        height: 15px;
      }
    }
  }

}
