.event {
  padding: 0 20px;

  &__heading {
    margin-bottom: 40px;
    text-align: center;

    & ~ .event__block {
      margin-bottom: 40px;
    }
  }

  &__image {
    max-width: 100%;
    margin-bottom: 15px;
  }

  &__info {
    max-width: 370px;
  }

  &__date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 279px;
    margin-bottom: 10px;
  }

  &__mark {
    @extend %mark;
    margin-right: 26px;
  }

  &__date {
    @extend %date;
  }

  &__title {
    width: 280px;
    height: 34px;
    @extend %title;
    margin-bottom: 10px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      bottom: 50%;
      right: 5px;
      transform: translate(-50%, -50%);
      display: block;
      width: 10px;
      height: 10px;
      background-color: #f14a27;
    }

    &--near::after {
      right: 40px;
    }
  }

  &__text {
    font-weight: 300;
    line-height: 1.2em;
    color: #4e4e4e;
  }

  &:nth-child(2) {
    margin-bottom: 70px;
  }
}
