.event {
  padding: 100px calc(50% - #{$width-event-content / 2});

  &__heading {
    margin-bottom: 60px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    &:not(:last-child){
      margin-bottom: 60px;
    }
  }

  &__info {
    width: 370px;
  }

  &__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: $color-item;
    text-transform: uppercase;
    margin-right: 26px;
  }

  &__date {
    font-weight: 700;
    font-size: 14px;
  }
}
