.events {
  display: block;

  position: absolute;
  top: 535px;
  left: -16px;
  grid-column-start: 1;

  font-size: 14px;
  line-height: 14px;
  font-weight: 700;

  color: #687480;
  text-transform: uppercase;

  transform: rotate(270deg);

  &::before {
    content: "";
    display: block;
    position: absolute;

    top: 7px;
    right: 63px;
    width: 70px;
    height: 1px;
    background-color: #1a5a4c;
  }

  @media screen and (max-width: 1200px) {
    display: none;
  }
}
