.exhibition {

  margin-bottom: 60px;

  @media (min-width: 768px) {
    margin-bottom: 50px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 100px;
  }

  @media (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
  }

  &:nth-child(3) {
    @media (min-width: 1280px) {
      flex-direction: row-reverse;
    }
  }

  @media (min-width: 1920px) {
    align-items: center;
    justify-content: space-around;
  }

  &__content {
    @media (min-width: 1280px) {
      padding-top: 50px;
    }
  }

  &__image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    margin-bottom: 15px;

    @media (min-width: 768px) {
      margin-bottom: 30px;
    }

    @media (min-width: 1280px) {
      width: 670px;
    }

    @media (min-width: 1920px) {
      width: 870px;
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;

    @media (min-width: 768px) {
      font-size: 14px;
      margin-bottom: 30px;
      grid-auto-flow: column;
      display: grid;
      justify-content: start;
      column-gap: 26px;
    }
  }

  &__type {
    font-weight: 500;
    line-height: 100%;
    color: #687480;
  }

  &__date {
    font-weight: bold;
    line-height: 150%;
    color: #1a5a4c;
  }

  &__name {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    line-height: 100%;
    color: #0f0e08;
    margin-bottom: 10px;
    position: relative;

    @media (min-height: 768px) {
      font-size: 36px;
      margin-bottom: 15px;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #f14a27;
      transform: translate(10px, -3px);

      @media (min-height: 768px) {
        width: 15px;
        height: 15px;
      }
    }
  }

  &__description {
    font-weight: 300;
    line-height: 150%;
    @media (min-width: 768px) {
      width: 370px;
    }
  }
}
