@font-face {
  font-family: poppins, sans-serif;
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: poppins, sans-serif;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: poppins, sans-serif;
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
  font-weight: 500;
}
