.footer {
  padding: 0 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__socials {
    display: flex;
    gap: 25px;
  }

  &__data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    // margin-bottom: 70px;
  }

  &__graph {
    grid-column: 1;
  }

  &__contacts {
    grid-column: 2;
  }

  &__title {
    line-height: 140.62%;
  }

  &__time-work {
    line-height: 150%;
    font-weight: 600;
    margin-bottom: 30px;
  }

  &__holiday {
    line-height: 150%;
  }

  &__address {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }

  &__line {
    border-bottom: 1px solid rgba(26, 90, 76, 0.5);
    margin-bottom: 40px;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__link {
    margin-bottom: 20px;
  }

  &__links {
    margin-bottom: 80px;
  }

  &__captcha {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 140.62%;
    gap: 10px;
    margin-bottom: 60px;
  }

  &__circle {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid $menu-color;
    border-radius: 50%;
    margin: 0 0 20px auto;
    background: url(../images/icons/Vector1.png) center no-repeat;
  }
}
