.footer {
  &__head {
    &_social {
      display: flex;
      gap: 20px;
    }
  }

  &__main {
    &_content {
      display: flex;
      gap: 20px;
      &_schedule {
        display: flex;
        flex-direction: column;
        gap: 20px;
        &_text_working {
          display: flex;
          flex-direction: column;
          font-weight: 400;
        }
        &_text_weekend {
          color: black;
          font-weight: 400;

        }
      }

      &_contacts {
        gap: 20px;
        transition: all 0.2s ease;

        &_list {
          &_item {
            &_link {
              color: #000;
              &:hover {
                color: $c-coub;
              }
            }
          }
        }
      }
    }

    &_nav {
      display: flex;

      flex-wrap: wrap;
      &_link {
        color: #000;
        width: 130px;
        height: fit-content;
        &:hover {
          color: $c-coub;
        }
      }
    }

    .hr {
      width: 100%;
      height: 1px;
      background: rgba(26, 90, 76, 0.50);
    }
  }


  &__bottom {
    text-align: center;
  }
}
