.footer {
  position: relative;
  color: $footerTextColor;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  
  &__section {
    position: relative;
    padding-top: 50px;
  }

  &__networks {
    position: absolute;

    @media (max-width: $portableScreenSize) {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
    }
  }

  &__networks-links {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    @media (max-width: $portableScreenSize) {
      margin-top: 0;
    }
  }

  &__fb {
    @media (max-width: $portableScreenSize) {
      margin-right: 30px;
    }
  }

  &__img {
    height: 24px;
    transition: filter $buttonsHoverAnimTime;

    &:hover {
      filter: invert(0.4);
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    margin-bottom: 85px;
    transition: margin-bottom $mockupSizingAnim;

    @media (max-width: $tabletScreenSize) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 100px;
    }

    @media (max-width: $portableScreenSize) {
      margin-bottom: 70px;
    }
  }

  &__schedule,
  &__menu {
    width: 50%;

    @media (max-width: $tabletScreenSize) {
      width: 70%;
    }

    @media (max-width: $portableScreenSize) {
      width: 100%;
    }
  }

  &__schedule {
    display: flex;
    justify-content: flex-end;

    @media (max-width: $tabletScreenSize) {
      justify-content: space-between;
      padding-bottom: 50px;
    }
  }

  &__working-hours {
    padding-right: 5%;
  }

  &__contacts {
    padding-right: 5%;
  }

  &__working-hours,
  &__contacts {
    width: 40%;

    @media (max-width: $tabletScreenSize) {
      width: 45%;
      padding-right: 0;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__menu {
    display: inherit;
    justify-content: space-around;
    border-left: 1px solid rgba(26, 90, 76, 0.5);

    @media (max-width: $tabletScreenSize) {
      justify-content: space-between;
      padding-top: 50px;
      border-left: 0;
      border-top: 1px solid rgba(26, 90, 76, 0.5);
    }

    @media (max-width: $portableScreenSize) {
      padding-top: 40px;
    }
  }

  &__menu-link {
    display: block;
    padding: 10px 0;
    color: $contentTextColor;
    transition: color $buttonsHoverAnimTime;

    &:hover {
      color: $placeholderTextColor;
    }
  }

  &__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;

    @media (max-width: $portableScreenSize) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
    }
  }

  &__copyright {
    @media (max-width: $portableScreenSize) {
      order: 2;
      margin-top: 15px;
    }
  }
}
