.form {
  display: flex;
  min-width: 283px;
  justify-content: space-between;

  &__input {
    padding-left: 31px;
    flex-grow: 1;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }

  &__button {
    background-color: #f14a27;
  }
}
