.form {
  display: flex;
  min-width: 283px;
  justify-content: space-between;

  @media (min-width: 768px) {
    width: 475px;
  }

  @media (min-width: 1250px) {
    width: 570px;
  }

  &__input {
    padding: 0 10px 0 28px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;

    @media (min-width: 768px) {
      width: 395px;
    }

    @media (min-width: 1250px) {
      width: 470px;
    }
  }
}
