.form {
  display: flex;
  justify-content: center;

  &__input {
    padding: 18px 31px;
    border: none;
    font-size: 14px;
    height: 50px;

    @media (min-width: 768px) {
      height: 70px;
      width: 395px;
      margin-right: 10px;
    }

    @media (min-width: 1280px) {
      width: 470px;
      margin-right: 30px;
    }

    &::placeholder {
      font-family: "Montserrat", sans-serif;
      color: #687480;
      font-size: 14px;
      line-height: 100%;
    }
  }

  &__button {
    width: 50px;
    height: 50px;
    background-color: #f14a27;
    cursor: pointer;
    transition: 0.3s linear;
    position: relative;

    @media (min-width: 768px) {
      width: 70px;
      height: 70px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url(../images/vector.svg);
      background-repeat: no-repeat;
      width: 9px;
      height: 11px;
      top: 44%;
      left: 48%;
    }
  }
}
