.futer {
  padding: 50px calc((100% - #{$contentWidth}) / 2) 35px;
  display: flex;
  flex-direction: column;

  &__bottom {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 12px;
    line-height: 140.62%;
    color: #0f0e08;
    padding-top: 84px;
  }

  &__top {
    display: flex;
    justify-content: center;
  }

  &__left {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    gap: 60px;
  }

  &__logo {
    @include logo;
    margin: 0 0 62px;
  }

  &__-icons {
    display: flex;
    justify-content: space-between;
  }

  &__-icon {
    height: 24px;
    width: 24px;
  }

  &__timetable {
    &-heading {
      @include futerText;
    }

    &-text {
      @include futerText;
    }

    &-time {
      font-weight: 600;
    }
  }

  &__contacts {
    &-heading {
      @include futerText;
    }

    &-text {
      @include futerText;
    }
  }

  &__center {
    width: 1px;
    height: 260px;
    background: rgba(26, 90, 76, 0.5);
  }

  &__right {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
  }

  &__link {
    @include futerText;
  }

  &__nav-li {
    margin-bottom: 20px;
  }
}

@media (max-width: 1024px) {
  .futer {
    padding: 50px 35px;

    &__top {
      padding: 0 120px;
      position: relative;
      flex-direction: column;
      align-items: center;
    }

    &__icons {
      position: absolute;
      left: 0;
    }

    &__center {
      margin: 46px 0 51px;
      height: 1px;
      width: 100%;
    }

    &__left {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__timetable {
      width: 40%;

      &-text {
        margin: 0;
      }
    }

    &__contacts {
      width: 40%;
    }

    &__right {
      justify-content: space-between;
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .futer {
    padding: 50px 20px;

    &__icons {
      top: -100px;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .instagram {
      margin-left: 25px;
    }

    &__top {
      top: 100px;
      padding: 0;
    }

    &__timetable {
      width: 45%;

      &-text {
        margin-bottom: 20px;
      }
    }

    &__center {
      margin: 50px 0 40px;
    }

    &__bottom {
      margin: 0;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-between;
      margin-top: 70px;

      &-right {
        margin-bottom: 14px;
      }
    }
  }
}
