.gallery {
  margin: 0 $general-padding;

  &__picture {
    &-top {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;

      & :first-child {
        margin-right: 30px;
      }

      & :last-child {
        margin-left: 30px;
      }
    }

    &-bottom {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;

      & :first-child {
        margin-right: 30px;
      }

      & :last-child {
        margin-left: 30px;
      }
    }
  }

  &__img {
    border-radius: 5px;

    &--hidden {
      display: none;
    }
  }

  &__button {
    margin-bottom: 100px;
  }

  @media (min-width: 1550px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img--hidden {
      display: block;
    }
  }

  @media (max-width: 1200px) {
    &__img {
      width: 470px;
      object-fit: cover;
    }
  }

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__picture {
      &-top {
        align-items: center;
        flex-direction: column;

        & :first-child {
          margin-bottom: 30px;
          margin-right: 0;
        }
  
        & :last-child {
          margin-left: 0;
        }
      }

      &-bottom {
        align-items: center;
        flex-direction: column;

        & :first-child {
          margin-bottom: 30px;
          margin-right: 0;
        }
  
        & :last-child {
          margin-left: 0;
        }
      }
    }
  }
}
