.galery {
  @include paddingInline;

  &__title {
    font-family: $font-family--1;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #0F0E08;
    margin-bottom: 40px;

    @include onTablet {
      font-size: 48px;
      line-height: 48px;
      text-align: left;
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin-bottom: 56px;
    }
  }

  &__desktop {
    display: none;

    @include onDesktop {
      @include pageGrid;
      row-gap: 30px;

      margin-bottom: 200px;
    }
  }

  &__images {
    &--1 {
      width: 370px;
      height: 600px;

      grid-column: span 4;
    }

    &--2 {
      width: 770px;
      height: 600px;

      grid-column: span 8;
    }

    &--3 {
      width: 770px;
      height: 360px;

      grid-column: span 8;
    }

    &--4 {
      width: 370px;
      height: 360px;

      grid-column: span 4;
    }
  }
}
