.gallery {
  width: 100%;
  padding-left: 136px;
  padding-right: 136px;

  display: flex;
  flex-direction: column;
  gap: $grid-gap;

  @media screen and (max-width: 1280px) {
    padding-left: 55px;
    padding-right: 55px;
  }

  @media screen and (min-width: 1920px) {
    padding-left: 175px;
    padding-right: 175px;
  }

  @media screen and (max-width: 1200px) {
    padding-left: 34px;
  }

  @media screen and (max-width: 613px) {
    padding-left: 20px;
    padding-right: 20px;

    display: grid;
  }
}
