.gallery {
  margin-bottom: 100px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 40px;
  }

  &__slider {
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
  }

  &__image {
    padding: 0 20px;
    width: 100%;
  }

  &__items {
    display: flex;
    gap: 22px;
    justify-content: center;
  }

  &__item {
    width: 9px;
    height: 9px;
    background: #e0e0e0;
    border-radius: 50%;

    &:nth-child(1) {
      background: $menu-color;
    }

  }
}
