* {
  box-sizing: border-box;
}

html {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

strong {
  font-weight: 600;
}
