* {
  box-sizing: border-box;
}

html {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}
