html {
  scroll-behavior: smooth;
}

body {
  background: $bgColor;
}

.content-container {
  margin-left: $largeScreenSizeMargin;
  margin-right: $largeScreenSizeMargin;
  transition: margin-left $mockupSizingAnim, margin-right $mockupSizingAnim;

  @media (max-width: $fhdScreenSize) {
    margin-left: $fhdScreenSizeMargin;
    margin-right: $fhdScreenSizeMargin;
  }

  @media (max-width: $mediumScreenSize) {
    margin-left: $mediumScreenSizeMargin;
    margin-right: $mediumScreenSizeMargin;
  }
}

.section-container {
  margin-top: 100px;

  @media (max-width: $tabletScreenSize) {
    margin-top: 90px;
  }

  @media (max-width: $portableScreenSize) {
    margin-top: 70px;
  }

  &:first-child {
    @media (max-width: $portableScreenSize) {
      margin-top: 0;
    }
  }
}

.subsection-container {
  margin-top: 60px;

  @media (max-width: $portableScreenSize) {
    margin-top: 40px;
  }
}

.content-heading {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;

  @media (max-width: $tabletScreenSize) {
    text-align: center;
  }

  @media (max-width: $portableScreenSize) {
    font-size: 36px;
    line-height: 100%;
  }
}

.subtitle-3 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: $mainTextColor;

  @media (max-width: $portableScreenSize) {
    font-size: 28px;
    line-height: 100%;
  }
}

.subtitle-4 {
  font-weight: 500;
  font-size: $subtitle4Size;
  line-height: 100%;
  text-transform: uppercase;
  color: $subTitle4Color;
}

.subtitle-5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: $contentTextColor;
}

.subtitle-6 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: $mainTextColor;
}

.content-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: $contentTextColor;
}

.date-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  color: $secondaryColor;
}
