.heading {
  padding: 0 136px 60px;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: $color-for-additional-titles;
  white-space: nowrap;

  @media screen and (max-width: 1280px) {
    padding-left: 55px;
    padding-right: 55px;
  }

  @media screen and (max-width: 1200px) {
    padding: 0 34px 50px;
  }

  @media screen and (min-width: 1920px) {
    padding-left: 175px;
    padding-right: 175px;
  }

  @media screen and (max-width: 613px) {
    padding: 0 20px 40px;

    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    white-space: unset;
    text-align: center;
  }
}
