.header {
  position: relative;
  height: 655px;
  display: grid;

  &__image {
    // position: absolute;
    // z-index: -1;
    // top: 0;
    // right: 0;
    justify-self: end;
    background-image: url("../images/image_header.jpg");
    width: calc(100% - 555px);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__top {

    width: 527px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    position: absolute;
    top: 45px;
  }

  &__logo {
    position: absolute;
    top: 15px;
    right: calc(50% - #{$logo-width / 2});
  }

  &__heading {
    position: absolute;
    top: 235px;
    left: 255px;
    max-width: 462px;
    height: 302px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
  }

  &__transparent {
    color: transparent;
    -webkit-text-stroke: 1px black;
  }

  &__promo {
    display: flex;
  }

  &__text {
    width: 150px;
    height: 70px;
    padding: 27px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #1a5a4c;
  }

  &__item {
    position: absolute;
    top: 530px;
    font-weight: 700;
    color: $color-item;
    line-height: 1;
    text-transform: uppercase;
    transform: rotate(-90deg);

    &::before {
      content: "";
      position: absolute;
      right: 70px;
      bottom: calc(50% - 1px / 2);
      display: block;
      width: 70px;
      height: 1px;
      background: $color-date;
    }
  }
}
