.icon {
  height: 24px;
  width: 24px;

  &--menu {
    background-image: url(../images/icons/icon--menu.svg);
  }

  &--tickets {
    background-image: url(../images/icons/icon--tickets.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--close {
    background-image: url(../images/icons/icon--close.svg);
  }
}
