.icon {
  width: 24px;
  height: 24px;

  @include onTablet {
  }

  @include onDesktop {
  }

  &--menu {
    background-image: url(../images/icons/burger-menu.svg);
  }

  &--close {
    background-image: url(../images/icons/close.svg);
  }
}
