.input {
  width: 470px;
  padding: 24px 43px;

  display: flex;
  justify-content: center;

  border: 1px solid #fff;

  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $color-for-additional-text;

  @media screen and (max-width: 1200px) {
    width: 395px;
  }

  @media screen and (max-width: 613px) {
    width: 230px;
    height: 50px;
    padding: 15px 30px;
  }
}
