.lection {
  $blockName: &;
  
  margin-bottom: -($lectionContentBottom);

  &__img {
    width: 100%;
    height: $lectionImgLargeHeight;
    object-fit: cover;
    transition: height $mockupSizingAnim;

    @media (max-width: $notebookScreenSize) {
      height: $lectionImgNotebookHeight;
    }

    @media (max-width: $tabletScreenSize) {
      height: $lectionImgTabletHeight;
    }

    @media (max-width: $portableScreenSize) {
      height: $lectionImgPortableHeight;
    }
  }

  &__content {
    $PaddingX: 100px;
    $PaddingY: 50px;
    $portablePaddingX: 10%;
    $portablePaddingY: 25px;

    position: relative;
    bottom: $lectionContentBottom;
    width: $lectionContentLargeWidth;
    padding: $PaddingY $PaddingX;
    background-color: $bgColor;
    box-shadow: $lectionElemShadow;

    @media (min-width: $portableScreenSize + 1px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: $portableScreenSize) {
      width: inherit;
      padding: $portablePaddingY $portablePaddingX;
    }

    &:hover #{$blockName}__text {
      transform: scale(1.2);
      cursor: pointer;
    }
  }

  &__text {
    text-align: left;
    transition: transform $mockupSizingAnim;

    @media (max-width: $portableScreenSize) {
      text-align: center;
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 15px;
  }

  &__date {
    padding-right: 30px;

    @media (max-width: $portableScreenSize) {
      padding-right: 0;
    }
  }
}
