.lecture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  &__img {
    max-height: 675px;
    width: 100%;
  }

  &__anons {
    position: relative;
    bottom: 110px;
    height: 205px;
    width: 570px;
    padding: 45px 100px 50px;

    background: #fff;
    box-shadow: 0 2px 0 $color-green;
  }

  &__mark {
    display: inline;
    margin-right: 146px;
  }
  &__date {
    display: inline;
  }

  &__heading {
    font-size: 36px;
    margin-top: 16px;
  }

  @media (max-width: 900px) {
    &__anons {
      width: 470px;
    }

    &__heading {
      font-size: 24px;
    }
  }
}
