.lecture {

  &__image-wrapper {
    width: 100%;
    height: 210px;

    @media (min-width: 390px) {
      height: 290px ;
    }
  }
  &__image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__description-wrapper {
    position: relative;
  }

  &__description {
    width: 278px;
    height: 154px;
    position: absolute;
    bottom: -97px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0  2px rgba(26, 90, 76, 0.25);
  }

  &__event-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 238px;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  &__mark {
    @extend %mark;
  }

  &__date {
    @extend %date;
  }

  &__title {
    @extend %title;
    width: 236px;
    margin: 0 auto;
  }
}
