.lection {

  position: relative;
  &__image {
    background-image: url(../images/lection.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 210px;

    @media (min-width: 768px) {
      height: 390px;
    }

    @media (min-width: 1280px) {
      height: 550px;
    }

    @media (min-width: 1440px) {
      height: 619px;
    }

    @media (min-width: 1920px) {
      height: 674px;
    }
  }

  &__content {
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
    padding: 25px 20px;
    margin: 0 auto;
    transform: translate(0, -75px);
    background-color: #fff;
    margin-bottom: 100px;

    @media (min-width: 768px) {
      width: 570px;
      height: 204px;
      padding: 45px 100px 50px;
    }
  }

  &__heading {

    @media (min-width: 768px) {
      justify-content: space-between;
      margin-bottom: 23px;
    }
  }

  &__date {
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }

}
