.logo {
  width: $logo-small-width;
  height: $logo-small-height;
  background: url("../images/logo-NAMU.svg") no-repeat center / contain;

  @media (min-width: 768px) {
    width: $logo-width;
    height: $logo-height;
  }
}
