.menu {
  grid-column-start: 1;

  color: $color-for-additional-titles;

  &__item {
    width: 18px;
    height: 1px;
    background-color: black;
    margin: 4px 0;
  }

  @media screen and (max-width: 613px) {
    padding-left: 20px;

    top: 33px;
  }
}
