.menu {
  position: absolute;
  top: 45px;
  grid-column-start: 1;

  color: #0f0e08;

  &__item {
    width: 18px;
    height: 1px;
    background-color: black;
    margin: 4px 0;
  }

  @media screen and (max-width: 613px) {
    top: 33px;
  }
}
