@mixin sectionsHeading {
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  color: #0f0e08;
  margin-bottom: 60px;
}

@mixin buttonMore {
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin buttonMoreHover {
  background-color: #f14a27;
  cursor: pointer;
}

@mixin logo {
  z-index: 2;
  width: fit-content;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
}

@mixin futerText {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #0f0e08;
  margin-bottom: 20px;
}

@mixin menuBut {
  position: absolute;
  top: 45px;
  left: calc((100% - #{$contentWidth}) / 2 + 3px);
  width: 18px;
  height: 12px;
  background-image: url("../images/menu.svg");
  background-size: contain;

  @media (min-width: $normalWidth) {
    left: calc((100% - #{$contentWidthBig}) / 2 + 3px);
  }
}

@mixin mediumSectionsHeading {
  text-align: center;
}
