@mixin sectionsHeading {
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  color: #0F0E08;
  margin-bottom: 60px;
}

@mixin buttonMore {
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin logo {
  z-index: 2;
  width: fit-content;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
}

@mixin futerText {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #0F0E08;
  margin-bottom: 20px;
}
