.nav {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    padding: 0 25px;
    list-style-type: none;
    transition: color 1s, transform 1s;

    &:hover {
      color: $color-green;
      border-radius: 40px;
      transform: scale(1.2);
    }
  }

  &__link {
    white-space: nowrap;
    font-family: $IBM;
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
    color: $color-black;
    text-decoration: none;
  }

  @media (max-width: 1200px) {
    &__item {
      padding: 0 15px;
    }
  }
}
