.nav {
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__list {
    width: fit-content;
    @include hoverEffect(transform, scale(1.2));
  }

  &__list:not(:last-child) {
    margin-bottom: 20px;
  }
}
