.nav {

  display: none;

  &--open {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    transition: 0.3s;
    background-color: #fff;

    @media (min-width: 1280px) {
      margin-left: 50px;
    }
  }

  &__logo {
    display: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #0f0e08;

    @media (min-width: 1280px) {
      display: block;
    }
  }

  &__list {
    display: grid;
    column-gap: 50px;
    justify-items: center;
    background-color: #1a514c;
    width: 100%;

    @media (min-width: 1280px) {
      grid-template-columns: repeat(8, 1fr);
      background-color: #fff;
    }
  }

  &__link {
    display: block;
    width: 100%;
    padding: 12px 24px;
    color: #0f0e08;
    border-radius: 15px;
    transition-duration: 0.3s;

    &:hover {
      background-color: #fff;
    }

    @media (min-width: 1280px) {
      padding: 20px 0;

      &:hover {
        border: none;
        font-weight: bold;
        color: #1a514c;
      }
    }
  }
}
