* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transition-duration: $transDuration;

  padding: 0;
}

li {
  list-style: none;
}
