.overlay {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);

  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

body.no-scroll {
  overflow: hidden;
}
