.page {
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transition: 0.3s;
    opacity: 0;
    transform: translatey(-100%);
    pointer-events: none;
    z-index: 1;

    &:target {
      opacity: 1;
      transform: translatey(0);
      pointer-events: all;
    }
  }

  &__header {
    margin-bottom: 70px;

    @include onTablet {
      margin-bottom: 90px;
    }

    @include onDesktop {
      margin-bottom: 200px;
    }
  }

  &__galery {
    margin-bottom: 130px;
  }
}

.no-scroll {
  overflow: hidden;
}
