.promo {
  &__heading {
    padding: 0 20px;
    margin-bottom: 70px;
  }

  // &__image-wrapper {
  //   @media screen and (min-width: 500px) {

  //   }
  // }

  &__image {
    max-width: 100%;

  }

  &__title {
    max-width: 462px;
    margin: 20px auto;
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
  }

  &__button-container {
    margin: 0 auto;
  }

  &__link {
    display: none;
  }
}
