body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

a {
  padding: 0;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

//select {
//  // A reset of styles, including removing the default dropdown arrow
//  appearance: none;
//  // Additional resets for further consistency
//  background-color: transparent;
//  border: none;
//  padding: 0 1em 0 0;
//  margin: 0;
//  width: 100%;
//  font-family: inherit;
//  font-size: inherit;
//  cursor: inherit;
//  line-height: inherit;
//}
