* {
  box-sizing: border-box;
}

html {
  font-family: $Montserrat;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body,
div,
p,
span,
ul,
li,
a,
section,
button {
  margin: 0;
  padding: 0;
}

@media (min-width: 2500px) {
  .page {
    max-width: 2500px;
    margin: 0 auto;
    box-shadow: 1px 1px 10px $color-gray;
  }
}
