div,
li,
h1,
h2,
p,
h3,
figure {
  margin: 0;
}

li {
  list-style-type: none;
}

html,
button,
ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #0f0e08;
}
