.schedule {
  &__title {
    font-family: $font-family--2;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #fff;
    margin-bottom: 20px;

    &--footer {
      color: #0F0E08;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    font-weight: 400;
    color: #fff;
    font-family: $font-family--2;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0em;

    &--footer {
      color: #0F0E08;
    }
  }

  &__bold {
    font-family: $font-family--1;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
  }
}
