.schedule {
  width: #{$grid-gap + 2 * $grid-column};

  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  @media screen and (max-width: 613px) {
    width: 130px;
  }

  &__week {
    white-space: nowrap;

    @media screen and (max-width: 613px) {
      white-space: normal;
    }
  }
}
