.section {
  padding: 100px calc((100% - #{$contentWidth}) / 2);
}

@media (min-width: $normalWidth) {
  .section {
    padding: 100px calc((100% - #{$contentWidthBig}) / 2);
  }
}

@media (max-width: 1200px) {
  .section {
    padding: 90px 34px;
  }
}

@media (max-width: 500px) {
  .section {
    padding: 30px 20px;
  }
}
