@import "utils";

.section1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: $color2;
  color: $color1;
  font-family: "Raleway", sans-serif;
  padding-top: $section1__padding-top;
  overflow-x: hidden;
  overflow-y: visible;

  &__info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
  }

  &__date {
    margin-bottom: 20px;
  }

  &__title {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: $titleFontSize-mobile;
    line-height: $titleFontSize-mobile;
  }

  &__content-slider {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content-slider2 {
    display: flex;
    flex-direction: column;
  }

  &__link-container {
    width: 60%;
  }

  &__sub-title {
    width: 230px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  &__link-buy-ticket {
    display: block;
    width: $btn-BuyTicketWidth;
    height: $btn-BuyTicketHeight;
    margin-bottom: 100px;
    text-align: center;
    line-height: $btn-BuyTicketHeight;
    text-decoration: none;
    color: $color1;
    background: $color3;
    cursor: pointer;
  }

  &__img {
    position: absolute;
    width: 245px;
    height: 273px;
    bottom: 0;
    left: 50%;
    background-image: url("../../src/images/main-girl.png");

    background-size: cover;
    background-position: center;
    z-index: 2;
  }
}
