.section {
  max-width: calc(1500px);
  margin: 0 auto;
  padding: 0 55px;

  &__heading {
    margin-top: 200px;
    margin-bottom: 60px;

    font-family: $title-font;
    font-size: 48px;
    font-weight: 700;
  }
}

@media screen and (max-width: 1279px) {
  .section {
    padding: 0 33px;

    &__heading {
      margin-top: 100px;
    }
  }
}

@media screen and (max-width: 425px) {
  .section {
    padding: 0 20px;
    
    &__heading {
      margin-top: 50px;
    }
  }
}
