.section {
  width: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, $grid-column);
  gap: $grid-gap;
  justify-content: start;

  @media screen and (max-width: 320px) {
    grid-template-columns: repeat(auto-fill, 140px);
    gap: 20px;
  }
}
