.slider-button {
  $buttonWidth: 48px;

  position: absolute;
  width: $buttonWidth;
  height: $buttonWidth;
  top: calc(50% - #{$buttonWidth} / 2);

  &:first-child {
    left: 5px;
  }

  &:nth-child(2) {
    right: 5px;
  }

  &:hover {
    cursor: pointer;
  }

  @media (min-width: 768px) {
    &:first-child {
      left: 20px;
    }

    &:nth-child(2) {
      right: 20px;
    }
  }

  @media (min-width: 1300px) {
    display: none;
  }
}
