.slider {

  @media (min-width: 1280px) {
    display: none;
  }

  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  column-gap: 22px;

  &__button {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #e0e0e0;

    &--active {
      background-color: #1a5a4c;
    }
  }
}
