.subscription {
  position: relative;

  &__item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  &__title {
    font-family: $title-font;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 18px;
    margin-bottom: 66px;
  }

  &__form {
    display: flex;
  }

  &__input {
    box-sizing: border-box;
    width: 470px;
    height: 70px;
    padding: 20px;
    margin-right: 30px;
    border: none;

    &::placeholder {
      font-family: $title-font;
    }
  }

  &__button {
    box-sizing: border-box;
    align-self: start;
    width: 70px;
    height: 70px;
    font-size: 30px;
    background-color: #f14a27;
    border: none;
  }

  &__img {
    width: 100%;
    height: 650px;
    object-fit: cover;
  }
}

@media screen and (max-width: 1024px) {
  .subscription {
    &__input {
      margin-right: 10px;
    }

    &__img {
      height: 386px;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 768px) {
  .subscription {
    &__title {
      font-size: 36px ;
    }
    &__text {
      text-align: center;
      margin-bottom: 48px;
    }

    &__input {
      width: 233px;
      height: 50px;
      padding: 20px;
      margin-right: 0;
      border: none;
    }
    &__button {
      align-self: start;
      width: 50px;
      height: 50px;
      font-size: 25px;
    }
  }
}
