.subscribe {
  background-image: url(../images/black-img.jpg);

  padding-block: 88px;

  @include onTablet {
    padding-block: 82px;
  }

  @include onDesktop {
    padding-block: 163px;
  }

  &__title {
    margin: 0;
    color: $white-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 48px */
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 72px;

    color: #fff;
    text-align: center;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 18px */
  }

  &__form {
    margin: 0;
    display: flex;

    align-items: center;

    @include onTablet {
      // margin-inline: 154px;
    }

    @include onDesktop {
      // margin-inline: 355px;
      // gap: 30px;
    }
  }

  &__input {
    margin: 0;

    height: 50px;
    width: 230px;
    padding: 18px 24px;
    margin-left: auto;

    @include onTablet {
      width: 324px;
      height: 70px;
      padding: 18px 24px;
    }

    @include onDesktop {
      height: 70px;
      padding: 28px 32px;
      width: 470px;
    }

    &::placeholder {
      color: #687480;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 14px */
    }
  }

  &__btn {
    margin: 0;
    padding: 0;
    display: block;
    width: 50px;
    height: 50px;
    margin-right: auto;

    background-color: $color-red;
    background-image: url(../images/icons/arrow-black.svg);
    background-position: center;
    background-repeat: no-repeat;

    @include onTablet {
      width: 70px;
      height: 70px;
    }

    @include onDesktop {
      width: 70px;
      height: 70px;
      margin-left: 30px;
    }
  }
}

.subscribe__input:focus {
  outline: none;
}
