.subscribe {
  background-image: url(../images/subscribe.png);
  background-size: cover;
  background-position: center;
  height: 386px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

  @media (min-width: 1280px) {
    height: 550px;
  }

  @media (min-width: 1920px) {
    height: 650px;
  }

  &__title {
    color: #fff;
    text-align: center;
  }

  &__text {
    color: #fff;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 50px;

    @media (min-width: 768px) {
      margin-bottom: 60px;
    }
  }
}
