.subscribe {
  background-image: url(../images/bg-image-folow.png);

  @include background-image;
  
  background-position: center !important;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__description {
    &_title {
      text-align: center;
      color: #fff;
    }
    &_text {
      text-align: center;
      color: #fff;
    }
  }

  &__buttom {
    display: flex;
  }
}

.input--submit {
  background-color: $c-coub;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.icone {
  width: 24px;
  height: 24px;
}

.form {
  display: flex;
}
