.subscription {
  height: 550px;
  width: 100%;
  background-image: url(../images/subscription.jpg);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    margin-bottom: 20px;
    
    font-family: $Montserrat;
    font-weight: bold;
    font-size: $title-size;
    color: $color-white;
  }

  &__info {
    margin-bottom: 60px;

    font-family: $IBM;
    font-size: 18px;
    color: $color-white;
  }

  &__input {
    width: 470px;
    height: 70px;
    padding: 0 35px;

    &::placeholder {
      font-size: $item-size;
    }
  }

  @media (max-width: 700px) {
    &__heading {
      font-size: 38px;
    }

    &__button {
      width: 50px;
      height: 50px;
    }
    
    &__input {
      width: 370px;
      height: 50px;
    }
  }

  @media (max-width: 450px) {
    height: 300px;
    
    &__input {
      width: 270px;
    }

    &__info {
      text-align: center;
    }
  }
}
