.tickets {
  border: 1px solid #1a5a4c;
  height: 50px;
  display: flex;
  justify-content: space-between;

  @include onTablet {
    grid-column: 1 / 4;
    width: 270px;
    height: 70px;
  }

  @include onDesktop {
    grid-column: 3 / 6;
  }

  &__text {
    width: 200px;
    text-align: center;
    margin-block: auto;

    font-family: $font-family--2;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-transform: uppercase;
    color: $fontColorDark--2;
  }

  &__button {
    width: 48px;
    height: 48px;
    background-color: #1a5a4c;
    transition: .5s;

    &:hover {
      background-color: #257d6b;
    }

    @include onTablet {
      width: 68px;
      height: 68px;
    }
  }
}
