.title {
  position: relative;
  height: 655px;
  padding-left: $general-padding;
  margin-bottom: 100px;

  &__img {
    position: absolute;
    left: 555px;
    z-index: -1;

    height: 100%;
    width: 100%;
    float: right;

    object-fit: cover;
    object-position: bottom;

    &-size {
      height: 655px;
    }
  }

  &__heading {
    position: absolute;
    top: 40%;
    left: 255px;
    margin: 0 auto;

    font-weight: bold;
    font-size: 72px;
    text-transform: uppercase;

    &--opacity {
      color: transparent;
      -webkit-text-stroke: 1.5px $color-black;
    }
  }

  &__logo {
    position: absolute;
    top: 15px;
    left: 50%;

    background: center / cover no-repeat url(../images/NA_MU.png);
  }

  &__ticket {
    position: absolute;
    top: 467px;
    left: 255px;

    display: flex;
    width: 220px;
    height: $btn-size;
    padding-left: 35px;
    justify-content: space-between;
    align-items: center;

    font-family: $IBM;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;

    background-color: $color-white;
    border: 2px solid $color-green;
  }

  &__mark {
    position: absolute;
    bottom: 120px;
    transform: rotate(-90deg);

    &::before {
      position: relative;
      right: 100px;
      top: 10px;

      display: block;
      width: 70px;
      height: 1px;
      background-color: $color-green;
      content: "";
    }
  }
}
