.title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: #0f0e08;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    font-size: 48px;
    margin-bottom: 50px;
    text-align: start;
  }

  @media (min-width: 1280px) {
    margin-bottom: 60px;
  }
}
