$IBM: "IBM Plex Sans", sans-serif;
$Montserrat: "Montserrat", sans-serif;

$color-black: black;
$color-white: white;
$color-gray: gray;
$color-green: #1a5a4c;
$color-orange: #f14a27;
$btn-size: 70px;
$general-padding: 5%;
$heading-size: 36px;
$item-size: 14px;
$title-size: 48px;

@mixin ticket {
  width: 220px;
  height: $btn-size;
  padding-left: 35px;
  justify-content: space-between;
  align-items: center;

  font-family: $IBM;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;

  background-color: $color-white;
  border: 2px solid $color-green;
}

@mixin mark {
  font-family: $IBM;
  font-weight: 500;
  font-size: $item-size;
  text-transform: uppercase;
  opacity: 0.8;
}
