$logoWidth: 55px;
$logoHeight: 61px;
$blackColor: #0f0e08;
$greenColor: #1a5a4c;
$orangeColor: #f14a27;
$hoverColor: #f16545;

$largeGap: 175px;
$bigGap: 135px;
$mediumGap: 55px;
$smallGap: 20px;
$bottomGap: 70px;

@mixin page($width, $height) {
  align-items: center;
  display: flex;
  height: $height;
  justify-content: center;
  width: $width;
}

@mixin coloredSquare($rightPosition, $width) {
  &::after {
    background-color: #f14a27;
    content: "";
    height: $width;
    position: absolute;
    right: $rightPosition;
    width: $width;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 darkgray;
  }
}

@keyframes linksUnderline {
  0% {
    transform: scale(0.2);
  }

  100% {
    transform: scale(1);
  }
}
