$IBM: "IBM Plex Sans", sans-serif;
$Montserrat: "Montserrat", sans-serif;

$color-black: black;
$color-green: #1a5a4c;
$color-white: white;
$btn-size: 70px;
$general-padding: 5%;
$color-orange: #f14a27;
$heading-size: 36px;
