$max-desctop-section-width: 1600px;
$base-font-size: 16px;
$small-font-size: 14px;
$tiny-font-size: 12px;
$base-titles-font-size-mobile: 28px;
$base-titles-font-size-not-mobile: 36px;
$big-font-size: 48px;
$button-size-mobile: 50px;
$button-size: 70px;
$event-type-color: #687480;
$green-elements-color: #1a5a4c;
$red-elements-color: #f14a27;
$bg-color: #fff;
$titles-color: #0f0e08;
$content-text-color: #4e4e4e;
$light-arrow-color: #d7dde3;
$footer-links-hover-color: #0075ff;
$menu-items-padding: 12px;
$desctop-image-height: 100vh;
$grid-first-position: 1;
$grid-second-position: 2;
$base-spaces-mobile: 6.25vw;
$base-spaces-tablet: 4.4vw;
$base-spaces-desctop: 4.4vw;
$mobile-gallery-image-min-width: 87.5vw;
$tablet-gallery-image-min-width: 44.4vw;
$event-title-margin-mobile: 12px;
$event-title-margin: 16px;
$event-title-lecture-padding-mobile: 20px;
$event-title-lecture-padding: 52px;
$events-image-margin-bottom-desctop: 104px;
$lecture-block-margin-mobile: 40px;
$lecture-block-margin-tablet: 4px;
$transition-duration: 0.5s;
