$mainBgColor: #e5e5e5;
$fontMontserrat: "Montserrat", "Arial", "Helvetica", sans-serif;
$fontUbuntu: "Ubuntu", "Arial", "Helvetica", sans-serif;
$darkColor: #0f0e08;
$greyColor: #687480;
$greenColor: #1a5a4c;
$darkGrey: #4e4e4e;
$whiteColor: #fff;
$redColor: #f14a27;
