.weekend {
  font-weight: 400;
  color: #fff;
  font-family: $font-family--2;
  font-size: 14px;
  line-height: 21px;

  @include onTablet {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 144px;
  }

  &__bold {
    font-family: $font-family--1;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
  }
}
