.actual {
  margin: 20px auto;
}

.actual__container {
  width: 100%;
  margin: 240px auto;
  display: flex;
  flex-direction: column;
  @include Mobile {
    margin: 290px auto 0;
  }
  @include SmallPhone {
    margin: 100px auto 0;
  }
  @include Tablet {
    margin: 80px auto 0;
  }
  @include Notebook {
    margin: 80px auto 0;
  }
  @include t1440 {
    margin: 190px auto 0;
  }
  @include TheDesign {
    margin: 190px auto 0;
  }
  @include FullHD {
    margin: 390px auto 0;
  }
  @include LargeScreens {
    margin: 450px auto 0;
  }
}

.actual__card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  width: 90%;
  @include Mobile {
    margin: 30px auto;
  }
  @include SmallPhone {
    margin: 0 auto;
  }
  @include Tablet {
    flex-direction: row;
    margin: 40px auto;
  }
  @include Notebook {
    flex-direction: row;
    margin: 40px auto;
  }
  @include t1440 {
    flex-direction: row;
    margin: 40px auto;
  }
  @include TheDesign {
    flex-direction: row;
    margin: 40px auto;
  }
  @include FullHD {
    flex-direction: row;
    margin: 40px auto;
  }
  @include LargeScreens {
    flex-direction: row;
    margin: 40px auto;
  }
}

.actual__card_2 {
  display: flex;
}

.actual__info_container {
  @include Mobile {
    width: 90%;
  }
  @include SmallPhone {
    width: 600px;
  }
  @include Tablet {
    padding-top: 40px;
    width: 360px;
  }
  @include Notebook {
    padding-top: 40px;
    width: 500px;
  }
  @include t1440 {
    padding-top: 40px;
    width: 600px;
  }
  @include TheDesign {
    padding-top: 40px;
    width: 800px;
  }
  @include FullHD {
    padding-top: 40px;
    width: 860px;
  }
  @include LargeScreens {
    padding-top: 40px;
    width: 1160px;
  }
}

.actual__card-position {
  position: relative;
  width: 278px;
  top: 190px;
  transform: translate(0, -300px);
  @include Mobile {
    transform: translate(0, -250px);
  }

  @include SmallPhone {
    border: 1px solid #fff;
    transform: translate(0, -280px);
  }

  @include Notebook {
    transform: translate(0, -290px);
  }

  @include t1440 {
    transform: translate(0, -290px);
  }

  @include TheDesign {
    transform: translate(0, -290px);
  }
  @include FullHD {
    transform: translate(0, -290px);
  }
  @include LargeScreens {
    transform: translate(0, -290px);
  }
}

.actual__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;

  /* or 36px */
  text-align: center;

  color: #0f0e08;
}

.actual__image-hover {
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.actual__image {
  margin-top: 40px;
  width: 100%;
  display: block;
  @include Mobile {
    margin-top: 40px;
  }
  @include SmallPhone {
    margin-top: 40px;
  }
  @include Tablet {
    width: 600px;
  }
  @include Notebook {
    width: 600px;
  }
  @include t1440 {
    width: 670px;
  }
  @include FullHD {
    width: 870px;
  }
  @include LargeScreens {
    width: 870px;
  }
}

.actual__image_2 {
  order: 2;
  @include Mobile {
    order: 0;
  }
  @include SmallPhone {
    order: 0;
  }
}

.actual__image_3 {
  width: 1440px;
  @include Mobile {
    width: 100%;
    height: 100%;
  }
  @include SmallPhone {
    width: 640px;
  }
  @include Tablet {
    width: 1024px;
  }
  @include Notebook {
    width: 1280px;
  }
  @include t1440 {
    width: 1440px;
  }
  @include TheDesign {
    width: 1600px;
  }
  @include FullHD {
    width: 1920px;
  }
  @include LargeScreens {
    width: 2560px;
  }
}

.actual__image-position {
  width: 100%;
  @include Mobile {
    position: relative;
    left: 0;
    padding: 0;
    margin: 0;
    height: 210px;
  }
  @include SmallPhone {
    position: relative;
    padding: 0;
    margin-top: 20px;
  }
  @include Tablet {
    position: relative;
    padding: 0;
    margin-top: 20px;
    width: 100vw;
  }
  @include Notebook {
    position: relative;
    padding: 0;
    margin-top: 20px;
  }
  @include t1440 {
    position: relative;
    padding: 0;
    margin-top: 20px;
  }
  @include TheDesign {
    width: 100vw;
    position: relative;
    padding: 0;
    margin-top: 20px;
  }
  @include FullHD {
    width: 100vw;
    position: relative;
    padding: 0;
    margin-top: 20px;
  }
  @include LargeScreens {
    width: 100vw;
    position: relative;
    padding: 0;
    margin-top: 20px;
  }
}

.actual__event {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @include Mobile {
    margin-top: 19px;
  }
  @include SmallPhone {
    margin-top: 30px;
  }
  @include Tablet {
    margin: 20px;
  }
  @include Notebook {
    margin: 20px;
  }
  @include t1440 {
    margin: 20px;
  }
  @include TheDesign {
    margin: 20px;
  }
  @include FullHD {
    margin: 20px;
  }
  @include LargeScreens {
    margin: 20px;
  }
}

.actual__event-card {
  margin: 25px 20px 15px;
}

.actual__event-position {
  background: #fff;
  box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
  @include Mobile {
    border: 1px solid #fff;
    transform: translate(0, -50px);
  }
}

.actual__type {
  font-family: IBM Plex Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  /* or 16px */

  color: #687480;
}

.actual__date {
  font-family: IBM Plex Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;

  /* identical to box height, or 24px */

  color: #1a5a4c;
}

.actual__name {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 100%;
  display: flex;
  align-items: center;

  /* or 28px */

  color: #0f0e08;
  margin-top: 10px;
  @include SmallPhone {
    margin-top: 30px;
  }
  @include Tablet {
    margin: 20px;
  }
  @include Notebook {
    margin: 20px;
  }
  @include t1440 {
    margin: 20px;
  }
  @include TheDesign {
    margin: 20px;
  }
  @include FullHD {
    margin: 20px;
  }
  @include LargeScreens {
    margin: 20px;
  }

  &::after {
    content: "";
    width: 15px;
    height: 15px;
    background: #f14a27;
    margin-left: 10px;
  }
}

.actual__name_1 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;

  /* or 28px */

  color: #0f0e08;
  margin-top: 10px;
  @include Mobile {
    margin-bottom: 34px;
  }
}

.actual__info {
  font-family: IBM Plex Sans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;

  /* or 24px */

  color: #4e4e4e;
  @include Mobile {
    margin-top: 10px;
  }
  @include SmallPhone {
    margin-top: 20px;
  }
  @include Tablet {
    margin: 20px;
  }
  @include Notebook {
    margin: 20px;
  }
  @include t1440 {
    margin: 20px;
  }
  @include TheDesign {
    margin: 20px;
  }
  @include FullHD {
    margin: 20px;
  }
  @include LargeScreens {
    margin: 20px;
  }
}
