.actual-events {
  margin-top: 70px;

  &-title {
    margin: 0;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #0F0E08;
  }

  &-first-link, &-second-link, &-third-link {
    margin-top: 40px;
    display: flex;
    width: 100%;

    &-photo {
      width: 100%;
    }
  }

  &-container-for-dates {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    &-title {
      margin: 0;
      font-family: IBM Plex Sans;
      font-size: 16px;
      font-weight: 500;
      text-align: left;
      color: #687480;
    }

    &-date {
      margin: 0;
      font-family: IBM Plex Sans;
      font-size: 16px;
      text-align: left;
      color: #1A5A4C;
    }
  }

  &-container-for-nameandsquare {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;

    &-name {
      margin: 0;
      font-family: Montserrat;
      font-size: 28px;
      text-align: left;
      color: #0F0E08;
    }

    &-link {
      display: flex;
      width: 100%;

      &-square {
        width: 10px;
        height: 10px;
      }
    }
  }

  &-description {
    margin-top: 10px;
    font-family: IBM Plex Sans;
    font-size: 16px;
    text-align: left;
    color: #4E4E4E;
  }

  &-container-for-lection {
    display: flex;
    justify-content: space-between;
    // margin-top: 20px;
    padding-inline: 20px;
    padding-block: 20px;

    &-title {
      margin: 0;
      font-family: IBM Plex Sans;
      font-size: 16px;
      font-weight: 500;
      text-align: left;
      color: #687480;
    }

    &-date {
      margin: 0;
      font-family: IBM Plex Sans;
      font-size: 16px;
      text-align: left;
      color: #1A5A4C;
    }

    &-name {
      margin: 0;
      padding-bottom: 20px;
      border-bottom: solid 2px grey;
      font-family: Montserrat;
      font-size: 28px;
      font-weight: 400;
      text-align: center;
      color: #0F0E08;
    }
  }

  &-third-link {
    position: relative;
  }
}

.container-lection {
  margin-inline: 20px;
  // padding-inline: 20px;
  position: absolute;
  transform: translateY(55%);
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 2px 0px 0px #1A5A4C40;
  background-color: white;
}
