.actual-event {
  flex-direction: column;

  &__title {
    font-family: $Montserrat-font-family;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    margin: 318px 0 60px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 130px;
    margin-bottom: 100px;
  }

  &__wrapper--second {
    justify-content: flex-end;
  }

  &__img {
    width: 870px;
    height: 520px;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 370px;
  }
  &__subtitle {
    font-family: $IBM-font-family;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #687480;
    margin-bottom: 32px;
  }

  &__date {
    font-weight: 700;
    line-height: 150%;
    color: #1a5a4c;
    margin-left: 26px;
  }

  &__name {
    font-family: $Montserrat-font-family;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 15px;

    &::after {
      display: inline-block;
      content: "";
      width: 15px;
      height: 15px;
      background-color: #f14a27;
      margin-left: 15px;
      vertical-align: middle;
    }
  }

  &__description {
    font-family: $IBM-font-family;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #4e4e4e;
  }
}
