.actual-event {
  flex-direction: column;

  &__title {
    font-family: $Montserrat-font-family;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    margin: 200px 0 60px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 130px;
    margin-bottom: 100px;
  }

  &__wrapper--second {
    justify-content: flex-end;
  }

  &__img {
    width: 870px;
    height: 520px;
    transition: height 1s;
  }

  &__img--one {
    background: url("../images/Photo_1.jpg") no-repeat center;
    background-size: cover;
  }

  &__img--two {
    background: url("../images/Photo_2.jpg") no-repeat center;
    background-size: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 370px;
  }

  &__subtitle {
    font-family: $IBM-font-family;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #687480;
    margin-bottom: 32px;
  }

  &__date {
    font-weight: 700;
    line-height: 150%;
    color: #1a5a4c;
    margin-left: 26px;
  }

  &__name {
    font-family: $Montserrat-font-family;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 15px;

    &::after {
      display: inline-block;
      content: "";
      width: 15px;
      height: 15px;
      background-color: #f14a27;
      margin-left: 15px;
      vertical-align: middle;
    }
  }

  &__description {
    font-family: $IBM-font-family;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #4e4e4e;
  }

  @media (max-width: 1500px) {
    &__img {
      width: 670px;
    }
  }

  @media (max-width: 1280px) {
    &__title {
      font-size: 36px;
      margin: 90px 0 50px;
    }

    &__wrapper {
      flex-direction: column;
      gap: 30px;
      margin-bottom: 50px;
    }

    &__wrapper--second {
      flex-direction: column-reverse;
    }

    &__info {
      align-self: flex-start;
    }

    &__subtitle {
      margin-bottom: 30px;
    }

    &__img {
      width: 100%;
    }
  }

  @media (max-width: 700px) {
    &__title {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      align-self: center;
      width: 197px;
    }

    &__img {
      width: 100%;
      height: 210px;
    }

    &__info {
      width: 280px;
    }

    &__name {
      font-size: 28px;

      &::after {
        width: 10px;
        height: 10px;
      }
    }
    &__subtitle {
      width: 280px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  @media (max-width: 320px) {
    &__title {
      font-size: 36px;
      margin: 70px 0 40px;
    }

    &__wrapper {
      gap: 15px;
      margin-bottom: 60px;
    }

    &__subtitle {
      margin-bottom: 10px;
    }
  }
}
