.address {
  font-size: 14px;

  @include on-tablet {
    grid-column: 4 / 7;
  }

  @include on-desktop {
    grid-column: 5 / 7;
  }

  &__title {
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 18px;
  }

  &__contacts {
    font-weight: 400;
    line-height: 150%;
  }

  &__link {
    color: $c-black-text;
    position: relative;

    &::after {
      @include after-line;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
