.arrow-button {
  @include font($defaultFont, 14px, 500, 1em);
  text-transform: uppercase;
  text-decoration: none;
  color: $greenColor;
  border: 1px solid $greenColor;
  padding: 15px 43px 16px 42px;
  text-align: center;

  &::after {
    display: inline-block;
    content: ">";
    line-height: $smallArrowSize;
    width: $smallArrowSize;
    height: $smallArrowSize;
    transform: translateX(43px);
    color: white;
    background-color: $greenColor;
  }

  @media screen and (min-width: $breakpoint1) {

    padding: 25px 43px;

    &::after {
      display: inline-block;
      content: ">";
      line-height: $bigArrowSize;
      width: $bigArrowSize;
      height: $bigArrowSize;
      transform: translateX(43px);
      color: white;
      background-color: $greenColor;
    }
  }
}
