.art-museum {
  position: relative;

  &__event {
    font-family: $IBM-font-family;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #687480;
    transform-origin: left;
    transform: translate(0, 140px) rotate(-90deg);
    width: fit-content;
    height: fit-content;
    align-self: flex-end;

    &::before {
      display: inline-block;
      vertical-align: middle;
      content: "";
      width: 70px;
      height: 1px;
      background-color: black;
      margin-right: 20px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    width: 462px;
    height: 152px;
    font-family: $Montserrat-font-family;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 80px;
    text-transform: uppercase;
  }

  &__letters {
    font-family: $Ubuntu-font-family;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
  }

  &__button {
    border: none;
    padding: 0;
    display: flex;
    align-items: stretch;
    width: 220px;
    height: 70px;
  }

  &__ticets {
    text-transform: uppercase;
    font-family: $IBM-font-family;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    background-color: $white;
    padding-top: 27px;
    flex-basis: 66%;
    border: 1px solid #1a5a4c;
  }

  &__pointer {
    padding-top: 29px;
    background-color: #1a5a4c;
    flex-basis: 34%;
  }

  &__img-container {
    position: absolute;
    left: 27%;
    top: -260px;
    width: 73vw;
    height: 690px;
    background: url("../images/national-museum.jpg") no-repeat bottom;
    background-size: cover;
    z-index: -1;
  }
}
