.art-museum {
  margin-top: 20px;

  &-title {
    margin: 0;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;

    text-align: center;
    color: #000000;
  }

  &-link {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;

    &-img {
      // width: 100%;
    }
  }
}
