.banner {

  position: relative;
  width: 100%;

  &__image {
    background-image: url(../images/header/natsionalnij-hudozhnij-muzej-ukrayini-kiyiv.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include onTablet {
      height: 384px;
    }

    @include onDesktop {
      height: 655px;
    }
  }

  &__logo {
    position: absolute;
    top: 9px;
    left: 132px;

    width: 55px;
    height: 61px;
    align-items: center;

    @include onTablet {
      top: 15px;
      left: 0;
      right: 154px;

      width: 220px;
      height: 72px;
    }

    @include onDesktop {
      width: 170px;
      right: 555px;
    }
  }
}
