.bottom-margined {
  margin-bottom: 60px + $lectionSmallHeight / 2;

  @media screen and (min-width: $breakpoint1) {
    margin-bottom: 90px + $lectionBigHeight / 2;
  }

  @media screen and (min-width: $breakpoint2) {
    margin-bottom: 200px + $lectionBigHeight / 2;
  }
}
