.burger {
  margin-left: 40px;
  z-index: 4;

  @media screen and (max-width: 768px) {
    margin-left: 10px;
  }

  cursor: pointer;

  &__menu {
    position: relative;
    z-index: 4;

    &-line1,
    &-line2,
    &-line3 {
      display: block;

      width: 55px;
      height: 8px;
      margin-bottom: 10px;
      background: #515758;
      border-radius: 3px;
      transition: all 0.5s cubic-bezier(0.08,0.81,0.87,0.71);
    }

    &-line1 {
      transform-origin: 4px 0;
    }

    &-line3 {
      transform-origin: bottom right;
    }

    @media screen and (max-width: 1280px) {
      transform: scale(0.8);
    }

    @media screen and (max-width: 768px) {
      transform: scale(0.6);
    }
  }
}

.header__burger--open .header__nav2 {
  visibility: visible;
  animation: menu-open 1s forwards;
}

.header__burger--open .burger__menu {
  &-line1,
  &-line2,
  &-line3 {
    background-color: #7f8fa6;
  }

  &-line1 {
    transform: rotate(45deg) translate(8px);
  }

  &-line2 {
    transform: rotate(495deg) translate(4px);
  }

  &-line3 {
    transform: rotate(45deg);
    opacity: 0;
  }
}

@keyframes menu-open {
  0% {
    background: $darkGreen;
    opacity: 0.5;
    transform: translate(-400px, 0);
  }

  100% {
    background: $darkGreen;
    transform: translate(-10px, 0);
  }
}
