.burger {
  margin-left: 40px;
}

.header {
  &__burger {
    position: relative;
    width: 40px;
    height: 35px;
    display: block;
    margin-left: 10px;
    color: $darkGrey;
  }

  &__burger .burger-menu,
  &__burger::after,
  &__burger::before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: $middleGrey;
    margin: 0 auto;
  }

  &__burger .burger-menu {
    top: 17px;
  }

  &__burger::after,
  &__burger::before {
    content: "";
  }

  &__burger::after {
    bottom: 5px;
  }

  &__burger::before {
    top: 5px;
  }
}
