.button {
  display: flex;
  width: 70px;
  height: 70px;
  background-color: $c-textDate;
  background-image: url("../images/Vector.png");
  background-position: center;
  background-repeat: no-repeat;

  @include MobileScreen {
    width: 50px;
    height: 50px;
  }
}
