.button {
  width: 70px;
  height: 70px;
  background-color: $museum-green;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @include onTablet {
    height: 70px;
    width: 70px;
  }

  @include onDesktop {
    height: 70px;
    width: 70px;
  }

  &--red {
    position: absolute;
    right: 0;
    background-image: url(../images/arrow-black.png);
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(255, 0, 0, 0.5);
    }
  }
}
