.buttons {
  display: flex;
}

.button {
  display: flex;
  height: 70px;
  width: 70px;
  background-color: #1a5a4c;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  border: none;

  @include onMob {
    height: 50px;
    width: 50px;
  }

  &-bottom {
    background-color: #f14a27;
  }

  &:hover {
    scale: 110%;
    border-radius: 10px;
  }
}
