.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 70px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  border: 1px solid $generalColor;
  cursor: pointer;
  transition: border-color 0.3s, width 1s;
  left: -400px;
  margin-top: 180px;
  
  &--buy {
    border: 1px solid $generalColor;
  }

  &__arrow {
    background-color: $generalColor;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $arrowSize;
    height: $arrowSize;
    right: -70px;
    position: relative;
    transition: $transitionDuration;
    
    &:hover {
      background-color: $hoverColor;
    }

    &:after {
      content: ">";
      position: absolute;
      color: $mainColor;
      font-weight: bold;
    }
  }
}
