.card {
  display: flex;

  justify-content: center;
  padding: 0 0 50px;

  &__image {
    flex-basis: 50%;
    height: 520px;
    max-width: 870px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  &__text {
    display: flex;
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
  }
  &__type {
    font-size: 14px;
    font-family: "IBM Plex Sans", sans-serif;
    color: #687480;
    font-weight: 500;
    &-event {
      display: flex;
      justify-content: space-between;
      padding: 0;
      padding-bottom: 16px;
      margin: 0;
    }
  }
  &__date {
    color: #1a5a4c;
    font-weight: 700;
  }
  &__name {
    font-size: 36px;
    font-weight: 400;
  }
  &__details {
    font-size: 14px;
    color: #4e4e4e;
    font-weight: 300;
  }
}
