.carousel {
  display: block;
  width: 100%;

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-height: 410px;
    max-height: 410px;
    max-width: 280px;
    object-fit: cover;

    @include onTablet {
      min-height: 540px;
      max-height: 540px;
      max-width: 340px;
      width: calc(95%);
    }
  }

  @include onDesktop {
    display: none;
  }
}

.tns-nav {
  display: flex;
  gap: 22px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  button {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #e0e0e0;
    border: 0;
    outline: 0;
  }

  .tns-nav-active {
    background: $main-color;
  }
}
