.circles {
  display: none;
  margin-top: 30px;
  &__item {
    width: $circleSize;
    height: $circleSize;
    border-radius: calc(#{$circleSize / 2});
    margin-right: 20px;
    
    background-color: $circleColor;

    &--active {
      background-color: $generalColor;
    }
  }
}

@media screen and (max-width: 900px) {
  .circles {
    display: flex;
    justify-content: center;
  }
}
