.classicism {
  justify-content: center;

  &__info {
    position: relative;
    top: calc(674px - 102px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $white;
    width: 570px;
    height: 204px;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
  }

  &__subtitle {
    width: calc(100% - 200px);
    margin-top: 45px;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-family: $IBM-font-family;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #687480;
  }

  &__date {
    margin-left: 146px;
    font-weight: 700;
    color: #1a5a4c;
  }

  &__name {
    width: 370px;
    margin-bottom: 50px;
    font-family: $Montserrat-font-family;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: #0f0e08;
  }

  @media (max-width: 1280px) {
    &__info {
      top: calc(394px - 102px);
      width: 570px;
      height: 204px;
    }
  }

  @media (max-width: 700px) {
    &__info {
      top: calc(394px - 77px);
      width: 278px;
      height: 154px;
    }

    &__subtitle {
      width: calc(100% - 40px);
      margin-top: 25px;
      margin-bottom: 16px;
      font-size: 16px;
    }

    &__date {
      margin-left: 14px;
      font-size: 16px;
      line-height: 150%;
    }

    &__name {
      width: 236px;
      margin-bottom: 34px;
      font-size: 28px;
    }
  }
}
