.container {
  position: relative;
  display: flex;
  max-width: $containerMaxWidth;
  margin: 0 auto;
  padding-left: $containerSideIndentDesk;
  padding-right: $containerSideIndentDesk;

  @media (max-width: 690px) {
    max-width: 690px;
    padding-left: $containerSideIndentMobile;
    padding-right: $containerSideIndentMobile;
  }
}
