.contacts {
  width: 176px;
  line-height: 21px;

  &__title {
    margin-bottom: 20px;
  }

  &__links {
    color: $links-color;

    transition: color $transition-time;
    &:hover {
      color: $hover-links-color;
    }
  }
}

@media (max-width: $tablet-width - 100px) {
  .contacts {
    width: 130px;
  }
}

@media (max-width: $phone-width - 50px) {
  .contacts {
    width: 128px;
  }
}
