.content {
  background-color: #fff;
  color: $blackColor;
  display: flex;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  justify-content: center;
  
  &__promo {
    margin-bottom: $bottomGap;
  }

  &__actual-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 $smallGap $bottomGap;
  }

  &__event-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__actual-title {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    text-align: center;
  }

  &__lecture {
    margin-bottom: 167px;
  }

  &__lecture-img {
    width: 100%;
  }

  &__lecture-description {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__lecture-info {
    background-color: #fff;
    bottom: -97px;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
    height: 154px;
    padding: 29px $smallGap 34px;
    position: absolute;
    width: 278px;
  }

  &__gallery {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 $smallGap;
  }

  &__gallery-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  &__gallery-img-holder {
    $arrowHeight: 12px;
    $arrowWidth: 7.41px;
    $buttonWidth: 48px;

    margin-bottom: 30px;
    position: relative;
    width: 100%;

    &::before {
      background: url("../images/gallery-arrow-1.png") center no-repeat;
      content: "";
      cursor: pointer;
      height: $arrowHeight;
      left: calc(5px + #{$buttonWidth} / 2 - #{$arrowWidth} / 2);
      position: absolute;
      top: calc(50% - #{$arrowHeight} / 2);
      width: $arrowWidth;
      z-index: 2;
    }

    &::after {
      background: url("../images/gallery-arrow-2.png") center no-repeat;
      content: "";
      cursor: pointer;
      height: $arrowHeight;
      position: absolute;
      right: calc(5px + #{$buttonWidth} / 2 - #{$arrowWidth} / 2);
      top: calc(50% - #{$arrowHeight} / 2);
      width: $arrowWidth;
      z-index: 2;
    }
  }

  &__gallery-img {
    width: 100%;
  }

  &__gallery-img--hidden,
  &__gallery-square {
    display: none;
  }

  &__gallery-circles {
    margin-bottom: $bottomGap;
  }
  
  &__subscribe {
    align-items: center;
    background: url("../images/subscribe-1000.png") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 0 $smallGap;
  }

  &__subscribe-title {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    margin: 55px 0 30px;
  }

  &__subscribe-description {
    color: #fff;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 48px;
    text-align: center;
  }

  &__subscribe-input-container {
    margin-bottom: 113px;
    position: relative;
    width: 283px;
  }

  &__subscribe-square {
    position: absolute;
    right: 0;
    top: 0;

  }

  &__subscribe-input {
    border: none;
    height: 50px;
    width: 233px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 100%;
    padding-left: 31px;

    &::placeholder {
      font-size: 16px;
      line-height: 100%;
    }

  }

  @media (min-width: 768px) {

    &__promo {
      margin-bottom: 90px;
    }

    &__actual-info {
      margin: 0 35px 90px;
    }

    &__actual-title {
      font-size: 3rem;
    }

    &__lecture {
      margin: 0 35px 210px;
    }

    &__lecture-img {
      min-height: 390px;
    }

    &__lecture-info {
      height: 204px;
      padding: 45px 100px 50px;
      width: 570px;

      .info__container {
        margin-bottom: 23px;
      }

      .info__type {
        margin-right: 146px;
      }
    }

    &__gallery {
      margin: 0 35px;
    }

    &__gallery-title {
      font-size: 3rem;
      margin-bottom: 50px;
    }

    &__gallery-img-holder {
      $arrowWidth: 7.41px;
      $buttonWidth: 48px;
      display: grid;

      &::before {
        left: calc(20px + #{$buttonWidth} / 2 - #{$arrowWidth} / 2);
      }

      &::after {
        right: calc(20px + #{$buttonWidth} / 2 - #{$arrowWidth} / 2);
      }
    }

    &__gallery-img-top {
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }

    &__gallery-img--3 {
      display: block;
      height: 100%;
    }

    &__gallery-circles {
      margin-bottom: 90px;
    }

    &__subscribe-title {
      margin: 64px 0 20px;
      font-size: 3rem;
    }

    &__subscribe-description {
      margin-bottom: 66px;
    }

    &__subscribe-input-container {
      width: 475px;
      margin-bottom: 94px;

      &::before {
        width: 70px;
        height: 70px;
      }
    }

    &__subscribe-input {
      width: 395px;
      height: 70px;
    }
  }

  @media (min-width: 992px) {
    &__actual-title,
    &__gallery-title {
      align-self: flex-start;
    }

    &__actual-info {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0 $mediumGap 100px;
    }

    &__gallery {
      margin: 0 $mediumGap;
    }

    &__lecture {
      margin: 0 0 216px;
    }

    &__lecture-img {
      height: 500px;
    }
  }

  @media (min-width: 1300px) {

    &__promo {
      margin-bottom: 100px;
    }

    &__gallery {
      margin: 0 $mediumGap 100px;
    }

    &__gallery-title {
      margin-bottom: 60px;
    }

    &__gallery-img-holder {
      grid-row-gap: 30px;

      &::before,
      &::after {
        display: none;
      }
    }

    &__gallery-img--hidden {
      display: block;
    }

    &__gallery-img--3,
    &__gallery-img--6 {
      display: none;
    }

    &__gallery-img--2,
    &__gallery-img--4 {
      height: 100%;
    }

    &__gallery-img-top {
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 30px;
    }

    &__gallery-img-bottom {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 30px;
    }

    &__gallery-square {
      display: block;
      align-self: flex-start;

    }

    &__subscribe-title {
      margin: 140px 0 20px;
    }

    &__subscribe-input-container {
      margin-bottom: 188px;
      width: 570px;
    }

    &__subscribe-input {
      width: 470px;
      height: 70px;
    }
  }

  @media (min-width: 1500px) {
    &__actual-info {
      margin: 0 $largeGap 100px;
    }

    &__gallery {
      margin: 0 $largeGap 100px;
    }

    &__gallery-img {
      cursor: pointer;

    }

    &__gallery-img--3,
    &__gallery-img--6 {
      display: block;
    }

    &__gallery-img-top {
      grid-template-columns: 1fr 2fr 1fr;
      grid-column-gap: 30px;
    }

    &__gallery-img-bottom {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      grid-column-gap: 30px;
    }

    &__subscribe-title {
      margin: $largeGap 0 20px;
    }

    &__subscribe-input-container {
      margin-bottom: 253px;
    }
  }

  @media (min-width: 1920px) {
    &__lecture-img {
      height: 650px;
    }
  }
} 
