.contacts {
  width: 176px;
  line-height: 21px;

  &__title {
    margin-bottom: 20px;
  }

  &__links {
    color: #0f0e08;
  }
}

@media (max-width: 700px) {
  .contacts {
    width: 130px;
  }
}

@media (max-width: 450px) {
  .contacts {
    width: 128px;
  }
}
