.container {
  max-width: 1900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 4vw;
  padding-left: 4vw;
}

@media screen and (min-width: 1500px) {
  .container {
    min-width: 1240px;
  }
}
