.container {
  @include pageGrid;
  margin-inline: $margin-container-320px;

  @include on768px {
    margin-inline: $margin-container-768px;
  }

  @include on1280px {
    margin-inline: $margin-container-1280px;
  }
}
