.contacts {

  &__title {
    margin-bottom: 20px;
  }

  &__link {
    text-decoration: none;
    color: inherit;

    transition: color 0.2s ease-in-out;
    
    &:hover {
      color: #96bde3;
    }
  }
}
