.current-events {
  margin-top: 100px;

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 100%;
    color: #0f0e08;
  }

  &__row {
    margin-top: 60px;
    display: flex;
    align-items: center;
  }

  &__photo {
    margin-right: 130px;
  }

  &__about {
    margin-bottom: 30px;
  }

  &__caption {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #687480;
    margin-right: 26px;
    font-family: IBM Plex Sans, Arial, Helvetica, sans-serif;
  }

  &__date {
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    color: #1a5a4c;
    font-family: IBM Plex Sans, Arial, Helvetica, sans-serif;
  }

  &__heading {
    position: relative;
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 36px;
    line-height: 100%;
    color: #0f0e08;

    &::after {
      position: absolute;
      content: url("../images/redsquare.png");
      width: 15px;
      height: 15px;
      bottom: 25px;
      right: 200px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #4e4e4e;
    font-family: IBM Plex Sans, Arial, Helvetica, sans-serif;

  }
}
