.current-events {
  /*margin: 0 auto;*/
  margin-top: 755px;
  margin-right: 5vw;
  margin-left: 5vw;
  &__title {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    line-height: 100%;
  }
  
  &__text {
    display: block;
    margin-top: 15px;
    color: $textColor;
    width: 100%;
    max-width: 380px;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    margin-right: 140px;
    width: 230px;
  }

  &__unit1 {
    @include grid;
    grid-template-columns: 2fr 1fr;
    justify-items: start;
  }

  &__unit2 {
    @include grid;
    grid-template-columns: 1fr 2fr;
    justify-items: end;
  }

  &__picture {
    overflow: hidden;
    /*max-width: 870px;*/
    transition: width $scaleDuration;
  }
}

@media screen and (max-width: 1500px) {
  .current-events {
    margin-right: 4vw;
    margin-left: 4vw;
  }
}

@media screen and (max-width: 800px) {
  .current-events {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
}
