section {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
}

.current__events {
  @include content;
  margin-top: 70px;

  @include onTablet {
    margin-top: 107px;
  }
}

.current__events--title {
  margin: 0 auto;
  grid-column: 1 / -1;
  width: min-content;

  @include onTablet {
    font-size: 48px;
    width: fit-content;
    grid-column: 1 / 5;
  }

  @include onDesktop {
    width: fit-content;
    grid-column: 1 / 6;
  }
}
