.current-events {
  margin-right: 175px;
  margin-left: 175px;
  margin-top: 220px;
  width: 100%;

  &__title {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    line-height: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  &__description {
    &--descript {
      margin-left: 200px;
    }
  }
  &__text {
    display: block;
    margin-top: 15px;
    width: 100%;
    max-width: 380px;
    color: $textColor;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    margin-right: 140px;
    width: 230px;
  }

  &__unit1 {
    margin-top: 60px;
    /*display: flex;
    justify-content: space-between;*/
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 130px;
    align-items: center;
  }

  &__unit2 {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 130px;
    justify-items: end;
    align-items: center;
  }

  &__picture {
    overflow: hidden;
    width: 870px;
    transition: width $scaleDuration;
  }
}
