.cutaway {
  width: 100%;
  height: 565px;

  &__image {
    position: absolute;
    display: block;
    top: 0;

    right: 0;
    width: 65%;
    height: 655px;

    background-size: cover;

    background-repeat: no-repeat;
    background-image: url(../images/Natsionalnij-hudozhnij-muzej-Ukrayini-Kiyiv-10-1800x1200.svg);

    &-name {
      position: absolute;
      width: 462px;
      height: 152px;
      left: -300px;
      top: 235px;
      z-index: 1;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 72px;
      line-height: 100%;
      color: #000;
    }

    &-transparent {
      color: transparent;
      -webkit-text-stroke: 1px #000;
    }
  }
}
