.daigest {
  position: relative;
  display: flex;
  flex-direction: column;
  // box-sizing: border-box;
  height: 459px;
  width: 100vw;
  padding-top: 160px;
  padding-bottom: 160px;
  padding-left: calc(50% - 640px);
  padding-right: calc(50% - 640px);


  background-color: #cd4d31;

  &__title {
    margin-bottom: 41px;

    font-weight: bold;
    font-size: 48px;
    line-height: 120%;

    color: #f1f5f4;
  }

  &__text {
    width: 570px;

    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 150%;
    color: #f1f5f4;

  }

  &__form {
    position: relative;
    bottom: 40px;
    left: 925px;
    // padding-left: 5px;
    // padding-bottom: 5px;

    width: 300px;
    border-bottom: 1px solid  #f1f5f4;
  }

  &__email {
    width: 290px;

    border: none;
    outline: none;
    background-color: #cd4d31;
    color: white;

    &::placeholder {
      color: #f1f5f4;
    }
  }
}
