.description {
  width: 100%;

  @media screen and (min-width: $breakpoint1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 370px;
    flex-grow: 1;
    margin-bottom: 0;
  }
  
  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @media screen and (min-width: $breakpoint1) {
      justify-content: flex-start;
    }
  }

  &__details--stretched {
    width: 100%;
    justify-content: space-between;
  }

  &__type {
    @include font($defaultFont, 14px, 500);
    color: $grayColor;
    padding-top: 1px;
    margin-right: 26px;
  }

  &__date {
    @include font($defaultFont, 14px, 700, 21px);
    color: $greenColor;
  }
  
  &__content {
    width: 100%;
    @media screen and (min-width: $breakpoint1) {
      // max-width: 370px;
      width: calc(100% - 42px);
    }
  }

}
