.header__menu {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.header__menu__tablet {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.events__foto1 {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.events__foto2 {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.selection__foto {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.selection__foto2 {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.selection__foto2pc {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.selection__foto3 {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.selection__foto4 {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.header__namu {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.lastpage__logo {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.lastpage2__logo {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.header__exit {
  transform: scale(1);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.header__fullgalery {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.header__fullpodii {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.header__fullaboutas {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.header__fullcontact {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.lastpage__facebook {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.lastpage__instagram {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.lastpage__up {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.lastpage__gallery {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.lastpage__podii {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.lastpage__abousas {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.lastpage2__facebook {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.lastpage2__instagram {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.lastpage2__gallery {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.lastpage2__podii {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.lastpage2__aboutas {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.lastpage2__cont {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.lastpage__fix {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.lastpage2__fix {
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}