.events {
  margin-top: 70px;

  &__title {
    text-align: center;

    @include onTablet {
      text-align: left;
    }
  }

  &__exhibition {
    margin-block: 40px 60px;
    box-sizing: border-box;
    row-gap: 60px;
    display: grid;

    @include onTablet {
      margin-block: 48px 112px;
    }

    @include onDesktop {
      margin-block: 56px 104px;
    }
  }
}
