.event {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 60px;

  @media screen and (min-width: $breakpoint1) {
    flex-direction: row;
    margin-bottom: 100px;

    &--left {
      flex-direction: row-reverse;
    }

    &--right {
      flex-direction: row;
    }
  }

  &__title {
    width: 100%;
    
    @media screen and (min-width: $breakpoint2) {
      width: 40%;
    }
    margin-bottom: 30px;
  }

  &__image {
    width: 100%;

    @media screen and (min-width: $breakpoint2) {
      width: 50%;
    }
  }
 
}
