@import "utils";

.events {
  position: relative;

  &__title {
    @include title(48px, 58px, $colorBlack);
    margin-left: $column * 3;
    margin-bottom: 36px;
  }

  &__block {
    margin-bottom: 10px;
  }

}

.event {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__info {
    display: flex;
    max-width: $column * 7;
    padding-right: $gridGap;
    padding-bottom: $gridGap;
  }

  &__date {
    padding-right: $gridGap;
    width: $column * 2;

  }
  &__day {
    @include title(55px, 55px, transparent);
    -webkit-text-stroke: 1px $colorMainOrange;
    padding-right: $column / 2;
    margin-bottom: 10px;
  }

  &__time {
    @include title(36px, 36px, $colorMainOrange);
    text-align: right;
  }

  &__type {
    @include smallText($colorBlack);
    margin-bottom: 10px;
  }

  &__title {
    @include title(24px, 30px, $colorBlack);
    margin-bottom: 10px;
  }

  &__text {
    @include smallText($colorBlack);
  }
}
