.ex-card {
  position: relative;
  display: flex;
  padding-left: 10px;
  height: 700px;
  width: 1280px;

  &__image {
    position: relative;
    bottom: 0;

    order: 1;
  }

  &__image-11 {
    position: relative;
    bottom: 160px;
    left: -10px;

    width: 544px;
  }

  &__image-21 {
    position: relative;
    width: 609px;
    right: -80px;
    top: 50px;

    z-index: 2;
  }

  &__image-22 {
    position: absolute;
    right: 0;
  }

  &__image-31 {
    position: relative;
    width: 584px;

    z-index: 2;
  }

  &__image-32 {
    position: absolute;
    left: 0;
  }

  &__container-text {
    display: flex;
    flex-direction: column;
    height: 450px;
    padding-top: 100px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 50px;
    order: 2;

    &--margin {
      margin-left: 170px;
      margin-right: 40px;
    }
  }

  &__date {
    margin-bottom: 10px;

    @include Raleway-small-font;

    line-height: 150%;

    color: #cd4d31;

    &--big {
      margin-bottom: 20px;

      @include headers-font;

      line-height: 120%;

      transform: translateX(-100px);
    }
  }

  &__title {
    margin-bottom: 21px;

    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;

    color: #1c1b29;
  }

  &__text {
    width: 370px;
    margin-bottom: 50px;

    @include Raleway-small-font;

    line-height: 150%;

    color: #504f5e;
  }

  &__link {
    height: 60px;
    width: 270px;

    padding: 18px 80px;

    @include Raleway-small-font;

    text-decoration: none;
    color: $white-text;
    background-color: #cd4d31;
    border: 3px solid #3f5252;
    border-color: transparent;

    transition: 300ms;

    &:hover {
      box-shadow: 1px 1px 19px #3f5252;
    }
  }

  @media screen and (max-width: 1250px) {
    & {
      padding-left: 0;
      width: 100vw;
      height: 400px;

      &__link {
        display: none;
      }

      &__image-11 {
        width: 293px;
      }

      &__image-21 {
        width: 298px;
        right: -20px;
      }

      &__image-22 {
        width: 298px;
      }

      &__image-31 {
        width: 295px;
      }

      &__image-32 {
        width: 298px;
      }

      &__container-image {
        width: 293px;
      }

      &__container-text {
        width: 370px;
        padding-top: 55px;
        padding-left: 20px;
      }

      &__container-text--margin {
        margin-left: 80px;
      }

      &__text {
        width: 270px;
        font-weight: 200;
      }
    }
  }

  @media screen and (max-width: 760px) {

    &__text {
      width: 130px;
    }

    &__image-11 {
      transform: scaleX(-1);
    }

    &__title {
      width: 260px;
      margin-bottom: 30px;
    }

    &__date--big {
      width: 150px;
      margin-bottom: 10px;

      font-size: 24px;
      transform: translate(0);
    }

    &__container-text {
      width: 280px;
      margin-left: 0;
    }

    &__container-text--margin > :nth-child(3) {
      margin-left: 150px ;
    }

    &__image-21 {
      transform: scaleX(-1) scaleY(-1);
      left: -40px;
    }

    &__image-22 {
      display: none;
    }

    &__image-32 {
      display: none;
    }
  }

  @media screen and (min-width: 1550px) {
    & {
      transform: scale(1.1);
    }
  }
}
