.ex-card {
  display: flex;
  padding-left: 41px;


  &__container-img {
    position: relative;
    width: 585px;
    height: 580px;

    margin-right: 30px ;

    order: 1;

    &--2 {
    background-image: url("../images/Мистецтво ХХ ст. - ХХі ст..png");
    background-position: left;
    background-repeat: no-repeat;

    order: 3;
    }

    &--3 {
      background-image: url("../images/Старо давнє мисте цтво.png");
      background-position: left;
      background-repeat: no-repeat;
    }
  }

  &__image-11 {
    transform: translateY(-220px);
  }

  &__image-21 {
    transform: translate(50px, 80px);
  }

  &__image-31 {
    transform: translate(5px, 15px);
  }

  &__container-text {
    display: flex;
    flex-direction: column;
    width: auto;

    padding-top: 100px;
    padding-left: 70px;

    order: 2;

    &--2 {
      margin-left: 170px;
      margin-right: 40px;
    }
  }



  &__date {
    margin-bottom: 10px;

    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    color: #cd4d31;

  &--1{
    margin-bottom: 20px;

    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;

    transform: translateX(-100px);
  }
  }

  &__title {
    margin-bottom: 21px;

    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;

    color: #1c1b29;
  }

  &__text {
    width: 370px;
    margin-bottom: 50px;

    font-family: "Raleway", sans-serif;
     font-size: 16px;
    line-height: 150%;

    color: #504f5e;
  }

  &__link {
    height: 60px;
    width: 270px;

    padding: 18px 80px;

    font-family: "Raleway", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #f1f5f4;
    background-color: #cd4d31;
    border: 3px solid #3f5252;
    border-color: transparent;

    transition: 300ms;

    &:hover {
      border-color: #3f5252 ;
      box-shadow: 1px 1px 23px #3f5252;
    }

  }

}
