.exhibiton {
  @include set-padding-bottom-all-screens(100px, 88px, 200px);

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 60px;

    margin-top: 40px;
    margin-bottom: 60px;

    @include on-tablet {
      gap: 64px;
      margin-top: 48px;
      margin-bottom: 112px;
    }
  }
}
