.exhibition {
  display: flex;
  flex-direction: column;

  padding-top: 170px;
  padding-bottom: 260px;
  padding-left: calc(50% - 640px);
  padding-right: calc(50% - 640px);

  &__title {
    text-align: center;

    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;

    color: #1C1B29;
  }

  &__link {
    position: relative;
    margin-left: calc(50% + 400px);
    margin-right: auto;

    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #1c1b29;
    text-decoration: none;

    transition: 300ms;

    &:hover {
      transform: scale(1.1);
      text-decoration: underline;
    }

    &::after {
      content: "";
      position: absolute;
      top: 9px;
      left: 138px;

      width: 70px;
      height: 1px;
      background-color: #1c1b29;
    }
  }
}
