.exhibition {
  display: flex;
  flex-direction: column;

  @media (max-width: $breakpointMedium) {
    justify-content: center;
  }

  &__duration {
    @extend %p;
    margin-bottom: 10px;
    color: $colorComplementary;

    &--angels {
      margin-left: $durationIndent;
      margin-bottom: 20px;
      font-family: "Playfair Display", serif;
      font-weight: bold;
      font-size: 48px;
      line-height: 120%;

      @media (max-width: $breakpointSmall) {
        margin-left: 0;
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 125%;
      }
    }

    &--present {
      @media (max-width: $breakpointSmall) {
        margin-left: $durationIndent;
        margin-bottom: 5px;
      }
    }

    &--ancient {
      @media (max-width: $breakpointSmall) {
        margin-bottom: 5px;
      }
    }
  }

  &__name {
    width: 100%;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;
    color: $colorHeading;

    &--angels {
      @media (max-width: $breakpointSmall) {
        width: 260px;
      }
    }

    &--present {
      @media (max-width: $breakpointSmall) {
        width: 200px;
        margin-left: $durationIndent;
      }
    }

    &--ancient {
      @media (max-width: $breakpointSmall) {
        width: 280px;
      }
    }
  }

  &__about {
    width: 370px;
    margin-bottom: 50px;
    @extend %p;
    color: $colorText;

    @media (max-width: $breakpointMedium) {
      width: 270px;
      margin-bottom: 0;

      &--angels {
        width: 300px;
      }
    }

    @media (max-width: $breakpointSmall) {
      width: 140px;
    }

    @media (max-width: 500px) {
      &--present {
        margin-left: 50px;
      }
    }
  }

  &__button {
    @extend %red-button;

    @media (max-width: $breakpointMedium) {
      display: none;
    }
  }
}
