.follow {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 380px;
  background-image: url(../images/follow-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include onDesktop {
    height: 550px;
  }

  .section__title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    padding-bottom: 20px;
    
    
    color: #fff;

    @include onTablet {
      font-size: 48px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__description {
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    
    color: #fff;
    
    @include onTablet {
      padding-bottom: 64px;
    }

    @include onDesktop {
      padding-bottom: 72px;
    }

    @include onTablet {
      line-height: 100%;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    width: 230px;

    @include onTablet {
      gap: 16px;
      width: 374px;
    }

    @include onDesktop {
      gap: 30px;
      width: 470px;
    }
  }

  &__input {
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 24px;
    color: #0f0e08;
    border-radius: 0;

    &::placeholder {
      color: #687480;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
    }

    &:focus::placeholder {
      color: #0f0e08;
    }

    &:hover::placeholder {
      color: #0f0e08;
    }

    @include onTablet {
      max-width: 374px;
    }

    @include onDesktop {
      max-width: 470px;
    }

    @include onTablet {
      height: 70px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
    background-color: #f14a27;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    @include onTablet {
      min-width: 70px;
    }

    &:hover {
      background-color: #c92704;
    }
  }
} 
