.follow {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  background-image: url(../images/main/Rectangle22.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 386px;
  width: 100%;

  @include onDesktop {
    height: 550px;
  }

  &__container {
    text-align: center;
    align-items: center;
  }

  &__title {
    @include fontMontserrat;
    font-size: 36px;

    @include onTablet {
      font-size: 48px;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    width: 280px;
    margin-bottom: 50px;

    @include onTablet {
      width: 460px;
      margin-bottom: 60px;
    }

    @include onDesktop {
      width: 570px;
      margin-bottom: 72px;
    }
  }

  &__form-input {
    @include fontMontserrat;
    padding-left: 24px;
    width: 215px;
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    border: none;
    outline: none;
    vertical-align: middle;

    @include onTablet {
      width: 374px;
      height: 70px;
    }

    @include onDesktop {
      padding-left: 32px;
      width: 470px;
    }
  }

  &__form-submit {

    border: none;
    background-color: $red;
    width: 50px;
    height: 50px;
    vertical-align: middle;

    @include onTablet {
      width: 70px;
      height: 70px;
    }
  }
}
