.folowing {
  padding: 88px 20px;
  background-image: url(/images/bg_footer_photo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;

  @include onTablet {
    padding: 82px 154px;
  }

  @include onDesktop {
    padding: 163px 355px;
  }

  &__header {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;

    @include onTablet {
      margin-bottom: 16px;
    }

    @include h2_font_white;
  }

  &__text {
    width: 100%;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    @include onTablet {
      margin-bottom: 64px;
      line-height: 18px;
    }

    @include onDesktop {
      margin-bottom: 72px;
    }
  }

  &__form {
    display: flex;
    justify-content: center;

  }

  &__input {
    width: 230px;
    height: 50px;
    padding-left: 24px;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $fc-secondary-gray;
    border: none;
    cursor: pointer;

    @include onTablet {
      width: 374px;
      height: 70px;
    }

    @include onDesktop {
      width: 470px;
    }

    &:hover {
      border: 1px solid $fc-main-black;
      outline: 1px solid $fc-white;

      @include onTablet {
        border-radius: 5px;
        border: 1px solid $fc-main-black;
        outline: 1px solid $fc-white;
      }
    }
  }

  &__submit {
    height: 50px;
    width: 50px;
    background-color: $c-orange;
    background-image: url(/images/icon/icon_black_arrow.svg);
    background-size: inherit;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;

    @include onTablet {
      height: 70px;
      width: 70px;
      margin-left: 16px;
    }

    @include onDesktop {
      margin-left: 30px;
    }

    &:hover {
      background-image: url(/images/icon/icon_white_arrow.svg);
      border: 1px solid $fc-main-black;
      outline: 1px solid $fc-white;

      @include onTablet {
        border-radius: 5px;
        border: 1px solid $fc-main-black;
        outline: 1px solid $fc-white;
      }
    }
  }
}
