.fon {
  max-width: 1920px;
  margin: 100px auto 116px;
  position: relative;

  &__photo {
    width: 100%;
    height: 674px;
  }

  &__title {
    position: absolute;
    width: 570px;
    height: 204px;
    background-color: #fff;
    left: calc(50% - 270px);
    bottom: -102px;
    padding: 45px 0 0 100px;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
  }
}

@media screen and (max-width: 1500px) {
  .fon {
    &__photo {
      height: 550px;
      transition-duration: 1s;
    }
  }
}

@media screen and (max-width: 1300px) {
  .fon {
    &__photo {
      height: 390px;
    }
  }
}

@media screen and (max-width: 720px) {
  .fon {
    &__photo {
      height: 210px;
    }

    &__title {
      width: 278px;
      height: 154px;
      left: calc(50% - 140px);
      padding: 29px 20px 0;
    }
  }
}
