.footer {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 50px 1fr max-content 1fr 70px;
  gap: 0 30px;
  line-height: 150%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #0F0E08;


  &__logo {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  &__media {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  &__copyright {
    grid-column: 1 / 4;
    grid-row-start: 5;
    font-size: 12px;
    font-weight: 300;
  }

  &__schedule {
    grid-column: 3 / 5;
    grid-row-start: 2;

    &-title {
      margin-bottom: 20px;
    }

    &-main {
      margin-bottom: 20px;

      & strong {
        font-weight: 600;
      }
    }
  }

  &__contacts {
    grid-column: 6 / 8;
    grid-row-start: 2;

    &-title {
      margin-bottom: 20px;
    }
  }

  &__nav-site {
    grid-column: 10 / 12;
    grid-row-start: 2;
    display: grid;
    grid-template-rows: repeat(4, max-content);
    grid-auto-flow: row;
    gap: 20px 0;
    
    &-link {
      color: #0F0E08;
    }
  }

  &__nav-general {
    grid-column: 13 / 14;
    grid-row-start: 2;
    display: grid;
    grid-template-rows: repeat(4, max-content);
    grid-auto-flow: row;
    gap: 20px 0;

    &-link {
      color: #0F0E08;
    }
  }
}