.footer-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  &__item {
    width: 100%;
    margin-bottom: 20px;
    list-style: none;
  }

  &__link {
    position: relative;
    text-decoration: none;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    color: $fc-main-black;

    &:hover {
      color: $c-dark-green;
      border-bottom: 1px solid $c-dark-green;
    }
  }
}
