.footer {
  padding-top: 51px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-color: rgba(26, 90, 76, 0.5);
    width: 1px;
    height: 260px;
    top: 51px;
    left: 50%;
  }

  &__content-wrap {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  &__items {
    margin-right: 5%;
  }

  &__left {
    width: 55%;
    display: flex;
    justify-content: space-between;
  }

  &__right {
    display: flex;
    width: 30%;
    justify-content: space-between;
  }

  &__soc {
    margin-top: 62px;
    width: 68px;
  }

  &__facebook {
    margin-right: 27px;
  }

  &__schedule {
    width: 170px;
    margin-right: 5%;

    &-t {
      color: #0f0e08;
      line-height: 21px;
      @extend %ibm;
      font-size: 14px;
      font-weight: 400;
    }

    &-s {
      color: #0f0e08;
      line-height: 21px;
      @extend %ibm;
      font-size: 14px;
      font-weight: 600;

      &-last {
        margin-bottom: 24px;
      }

      &-first {
        margin-top: 24px;
      }
    }
  }

  &__b2 {
    display: flex;
    justify-content: space-between;
  }

  &__contacts {
    width: 177px;
  }

  &__h4 {
    margin-bottom: 20px;
  }

  &__nav-l {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
  }

  &__nav-r {
    display: flex;
    flex-direction: column;
  }

  &__b3 {
    margin-top: 85px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
  }

  &__licens {
    font-size: 12px;
    @extend %ibm, %w3;
    line-height: 17px;
  }

  &__link {
    text-decoration: none;
    @extend %w4, %ibm;
    color: #0f0e08;
    font-size: 14px;
    margin-bottom: 20px;
  }
}
