.footer-frame {
  // border: 1px solid black;
  font-family: Oswald, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #0f0e08;

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 74px 135px;
    // border: 1px solid black;

    &::after {
      position: absolute;
      left: calc(50% - 0.5px);
      right: calc(50% - 0.5px);
      width: 1px;
      height: 260px;
      content: "";
      background-color: #1a5a4c;
    }
  }

  &__logo {
    width: 58px;
    margin-right: 144px;
  }

  &__nav {
    top: 20px;
    left: -114px;
  }

  .nav__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 0;
  }

  .nav__link {
    height: 20px;
  }

  &__schedule {
    width: 200px;

    :first-child {
      margin-bottom: 20px;
    }
  }

  &__contacts {
    :first-child {
      margin-bottom: 20px;
    }
  }

  &__facebook-link {
    position: absolute;
    top: 135px;
    left: 0;
    width: 11.2px;
    height: 24px;
    background: url("../images/Facebook.png") center no-repeat;
    background-size: contain;
  }

  &__instagram-link {
    position: absolute;
    top: 135px;
    left: 37.6px;
    width: 24px;
    height: 24px;
    background: url("../images/instagram-1.png") center no-repeat;
    background-size: contain;
  }
}
