.footer {
  display: flex;
  flex-direction: column;

  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  margin: auto;

  &__container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 1300px) {
      &::after {
        position: absolute;
        right: 45%;
        width: 1px;
        height: 20%;
        content: "";
        background-color: rgba(26,90,76,0.5);
      }
    }
  }

  &__content {
    width: 70%;
    margin: 0 auto 100px;
    align-self: center;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    max-width: 136px;
  }

  &__us {
    max-width: 62px;
  }
  
  &__icon {
    max-width: 68px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__time-works,
  &__contacts {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }

  &__time-works {
    margin-left: 135px;
    max-width: 180px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }

  &__line {
    height: 1px;
    width: 80%;
    margin-left: 20%;
    margin-bottom: 50px;
    margin-top: 45px;

    background: rgba(26,90,76,0.5);
    @media (min-width: 1300px) {
      display: none;
    }
  }

  &__design {
    display: flex;

    justify-content: space-evenly;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 12px;
  }

  &__nav {
    position: relative;
    font-size: 16px;
    line-height: 40px;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  width: 400%;
}

.icon__fb {
  padding-right: 18px;
}

.mini-title {
  margin-bottom: 20px;
}

@media screen and (max-width: 1600px) {
  .footer__time-works {
    margin-left: 80px;
  }

  .footer__info {
    max-width: 500px;
  }
}

@media screen and (max-width: 1300px) {
  .footer__content {
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    max-height: 700px;
  }
  
  .nav__list {
    justify-content: space-between;

    &-left {
      margin-left: 180px;
    }
  }
  .footer__icon {
    margin-left: 40px;
  }

  .footer__design {
    justify-content: space-between;
    margin-right: 70px;
    margin-left: 70px;
  }

  .footer {
    justify-content: center;
  }

  .footer__container {
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .footer {
    justify-content: center;
  }

  .footer__container {
    justify-content: center;
  }

  .footer__icon {
    margin-left: 0;
  }

  .nav__list {
    &-left {
      margin-left: 140px;
    }
    &-right {
      margin-left: 10px;
    }
  }
}

@media (max-width: 550px) {
  .footer {
    justify-content: center;
    height: 930px;
    font-size: 12px;
  }

  .footer__container {
    flex-direction: column;
    justify-content: center;
  }

  .footer__icon {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    height: 70px;
    margin-bottom: 20px;
  }

  .footer__left {
    flex-direction: column;
  }

  .footer__time-works {
    margin: 0;
  }

  .footer__nav {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav__list-left {
    margin: 0;
  }

  .footer__design {
    flex-direction: column;
    margin: auto;
    margin-top: 130px;
  }

  .footer__line {
    width: 100%;
    margin: auto;
  }

  .footer-contacts {
    align-items: flex-end;
    align-self: flex-end;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    font-size: 10px;
  }
  .footer__icon {
    margin-top: 50px;
  }
  .footer__details {
    margin-right: 10px;
  }
  .footer__line {
    width: 250px;
  }
  .footer__left,
  .footer__nav {
    width: 250px;
  }
}
