.form {
  position: relative;
  width: 90%;
  display: flex;
  margin: 20px auto;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: $title-black;
  border: 1px solid $museum-green;
  text-align: center;
  justify-content: space-between;
  align-items: center;

  &__description {
    margin: 0 auto;
    text-transform: uppercase;
  }

  &-input {
    outline: none;
    border: transparent;
    width: 100%;
    height: 70px;

    &::placeholder {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: #687480;

    }
  }

  &--header {
    @include onTablet {
      margin-top: 40px;
      margin-left: 34px;
      width: 30%;
      height: 70px;
    }

    @include onDesktop {
      margin-top: 10%;
      margin-left: 200px;
      width: 20%;
      height: 70px;
    }
  }

  &--sub {
    @include onTablet {
      margin-top: 64px;
      width: 70%;
    }

    @include onDesktop {
      margin-top: 72px;
      width: 50%;
    }
  }
}
