.future {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 184px;
  padding-left: calc(50% - 640px);
  padding-right: calc(50% - 640px);

  &__title {
    margin-bottom: 63px;
    margin-left: 355px;
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
  }

  &__calendar {
    position: relative;

    margin-top: 60px;
    margin-left: 1040px;

    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #1c1b29;
    text-decoration: none;

    transition: 300ms;

    &:hover {
      transform: scale(1.1);
      text-decoration: underline;
    }

    &::after {
      content: "";
      position: absolute;
      top: 9px;
      left: 138px;

      width: 70px;
      height: 1px;
      background-color: #1c1b29;
    }
  }

  @media screen and (max-width: 1250px) {
    & {
      padding-bottom: 134px;
    }

    &__title {
      margin: 0;
      text-align: center;
    }

    &__calendar {
      margin-left: auto;
      margin-right: auto;

      &::after {
        top: 25px;
        left: -20px;
        width: 160px;
      }
    }
  }
}
