.galery {
  display: block;
  padding: 130px 55px;
  position: relative;

  // @media (min-width: 768px) {
  //   max-width: 720px;
  // }

  // @media (min-width: 1280px) {
  //   max-width: 1300px;
  // }
}

.galery__title {
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #0f0e08;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 48px;
    text-align: start;
  }
}

.galery__container {
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 1280px) {
    max-width: 1300px;
  }
}

.galery__slider {
  display: flex;
  position: absolute;
  height: 9px;
  width: 102px;
  left: 40%;

  @media (min-width: 1280px) {
    display: none;
  }
}

.galery__pictures {
  display: flex;
  padding-bottom: 20px;
  margin: 0 auto;
  max-width: 100%;

  @media (min-width: 768px) {
    display: flex;
    gap: 20px;
    max-width: 720px;
  }

  @media (min-width: 1280px) {
    display: grid;

    --columns: 12;

    column-gap: 30px;
    grid-template-columns: repeat(var(--columns), 1fr);
    overflow: hidden;
    max-width: 1300px;
  }
}

.picture-1 {
  width: 280px;
  justify-self: center;
  transition: transform 0.3s ease;

  @media (min-width: 768px) {
    width: 340px;
  }

  @media (min-width: 1280px) {
    grid-column: 1 / 5;
    display: block;
    height: auto;
    width: 100%;
    align-self: stretch;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.picture-2 {
  display: none;
  transition: transform 0.3s ease;

  @media (min-width: 768px) {
    display: flex;
    max-width: 340px;
  }

  @media (min-width: 1280px) {
    display: none;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.picture-3 {
  display: none;
  transition: transform 0.3s ease;

  @media (min-width: 1280px) {
    grid-column: 5 / 13;
    display: block;
    max-width: 100%;
    align-self: stretch;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.picture-4 {
  display: none;
  transition: transform 0.3s ease;

  @media (min-width: 1280px) {
    grid-column: 1 / 9;
    display: block;
    max-width: 100%;
    align-self: stretch;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.picture-5 {
  display: none;
  transition: transform 0.3s ease;

  @media (min-width: 1280px) {
    grid-column: 9 / 13;
    display: block;
    max-width: 100%;
    align-self: stretch;
  }

  &:hover {
    transform: scale(1.05);
  }
}
