@import "./mixins";

.galery {
    @include maingrid;

    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 143px;
        grid-column: 1 / -1;
        background-size: 100%;
        margin-top: -70px;
        z-index: 1;
        background-color: #fff;
        border-bottom: 2px solid #1A5A4C40;

        @media (min-width: 769px) and (max-width: 1280px) {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            column-gap: 30px;
            height: 207px;
            width: 570px;
            margin-left: auto;
            margin-right: auto;
            margin-top: -90px;
        }

        @media (min-width: 1281px) {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            column-gap: 30px;
            height: 207px;
            width: 570px;
            margin-left: auto;
            margin-right: auto;
            margin-top: -90px;
        }
    }

    &__lecture {
        font-weight: 500;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 16px;
        line-height: 16px;
        color: #687480;
        margin-bottom: 80px;

        @media (min-width: 769px) and (max-width: 1280px) {
            grid-column: 2;
        }

        @media (min-width: 1281px) {
            grid-column: 2;
        }
    }

    &__date {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #1A5A4C;
        font-family: 'IBM Plex Sans', sans-serif;
        margin-left: 30px;
        margin-bottom: 80px;

        @media (min-width: 769px) and (max-width: 1280px) {
            grid-column: 4 / 7;
        }

        @media (min-width: 1281px) {
            grid-column: 4 / 7;
        }
    }

    &__text {
        font-family: Montserrat, sans-serif;
        z-index: 1;
        grid-column: 1 / -1;
        font-weight: 400;
        font-size: 28px;
        line-height: 28px;
        color: #0F0E08;
        text-align: center;
        margin-top: -70px;

        @media (min-width: 769px) and (max-width: 1280px) {
            display: none;
        }

        @media (min-width: 1281px) {
            display: none;
        }
    }

    &__text--tablet {
        display: none;

        @media (min-width: 769px) and (max-width: 1280px) {
            color: #0F0E08;
            font-weight: 400;
            font-family: Montserrat, sans-serif;
            display: block;
            grid-column: 2 / 6;
            font-size: 36px;
            line-height: 36px;
            margin-top: -70px;
        }

        @media (min-width: 1281px) {
            color: #0F0E08;
            font-weight: 400;
            font-family: Montserrat, sans-serif;
            display: block;
            grid-column: 2 / 6;
            font-size: 36px;
            line-height: 36px;
            margin-top: -70px;
        }
    }
}