.gallery {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 34px;
  }

  &__title {
    margin-top: 240px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: $c-black;
    text-align: center;
    padding-bottom: 40px;

    @include onTablet {
      margin-top: 208px;
      padding-bottom: 48px;
      text-align: left;
    }
  }

  &__slider {
    display: flex;
    gap: 16px;
    overflow-x: hidden;
    padding-bottom: 20px;

    // @include onTablet {
    //   gap: 20px;
    // }
  }

  &__image {
    width: 280px;
    height: 410px;

    @include onTablet {
      width: 340px;
      height: 543px;
    }
  }

  &__slider__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;

    & :nth-child(-n + 3) {
      margin-right: 22px;
    }
  }

  &__slider__item {
    width: 9px;
    height: 9px;
  }

  &__slider__item::after {
    content: "";
    border-radius: 50%;
    background-color: #1A5A4C;
    display: block;
    height: 100%;
  }
}
