.gallery-item {
  position: relative;

  &__info {
    position: absolute;
    left: 10px;
    bottom: 10px;

    display: none;

    padding: 10px 15px 15px;

    height: 100px;
    min-width: 300px;

    background-color: #fff;

  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
  }

  &__title {
    text-align: center;
  }

  @media (min-width: $min-desktop-width) {
    &:hover &__info {
      display: block;
    }
  }
}
