.gallery {
  &__title {
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #0f0e08;
    text-align: center;

    @include onTablet {
      margin-bottom: 48px;
      font-size: 48px;
      text-align: left;
    }

    @include onDesktop {
      margin-bottom: 56px;
    }
  }

  &__slider {
    margin-right: -20px;

    @include onTablet {
      margin-right: -34px;
    }

    @include onDesktop {
      margin-right: 0;
    }
  }
}
