.general {
  &__img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 1245px;
    height: 655px;

    &--outside {
      width: 100%;
    }
  }

  &__title {
    position: relative;
    width: 360px;

    top: 130px;
    left: -400px;
    font-family: "Montserrat", sans-serif;

    text-transform: uppercase;
    font-size: 45px;
    line-height: 200%;

    &--opacity {
      color: transparent;

      -webkit-text-stroke: 1px #000;
    }
  }

  &__events {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    bottom: 300px;
    left: 8px;
    height: 14px;
    width: 135px;
    transform: rotate(-90deg);
    transition: left 1s;
    position: absolute;
    
    &-line {
      content: "";
      height: 1px;
      display: block;
      background-color: $generalColor;
      position: relative;
      width: 70px;
    }

    &-mark {
      text-transform: uppercase;
      color: $secondColor;
    }
  }
}
