@import '../../node_modules/@splidejs/splide/dist/css/splide.min.css';
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.gallery-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 130px 20px 130px;
  grid-template-columns: repeat(2, 130px);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding-inline: 20px;
  max-width: 320px;
  margin-top: 90px;
  row-gap: 40px;
  visibility: visible;
}
@media (min-width: 768px) {
  .gallery-section {
    -ms-grid-columns: 90px 30px 90px 30px 90px 30px 90px 30px 90px 30px 90px;
    grid-template-columns: repeat(6, 90px);
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    padding-inline: 39px;
  }
}
@media (min-width: 1280px) {
  .gallery-section {
    -ms-grid-columns: (70px)[12];
    grid-template-columns: repeat(12, 70px);
    padding-inline: 55px;
  }
}
@media (min-width: 768px) {
  .gallery-section {
    max-width: 768px;
  }
}
@media (min-width: 1280px) {
  .gallery-section {
    max-width: 1280px;
  }
}
.gallery-section__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.25em;
  font-weight: 700;
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .gallery-section__title {
    text-align: left;
  }
}
.gallery-section__wrapper {
  grid-column: 1/-1;
}
@media (min-width: 1280px) {
  .gallery-section__wrapper {
    display: none;
  }
}
.gallery-section__wraper-list {
  gap: 20px;
}
.gallery-section__slide {
  text-align: center;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
}
.gallery-section__slide:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.gallery-section__pagination {
  gap: 22px;
  bottom: -2em !important;
}
.gallery-section__pagination-page {
  background-color: #e0e0e0;
}
.gallery-section__pagination-page.is-active {
  background-color: #1a5a4c !important;
}
.gallery-section__pc-wrapper {
  display: none;
}
@media (min-width: 1280px) {
  .gallery-section__pc-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-column: 1/-1;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 20px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media (min-width: 1280px) {
  .header {
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__header-left {
  background-image: url(../images/header-image-lap-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 320px;
  height: 300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .header__header-left {
    max-width: 374px;
    height: 384px;
    margin: 0;
    padding: 19px 0 0 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .header__header-left {
    max-width: 725px;
    height: 656px;
    padding: 19px 0 0 95px;
  }
}
.header__logo-link {
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
}
.header__logo-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header__header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .header__header-right {
    gap: 38px;
    padding: 0 0 20px 39px;
  }
}
@media (min-width: 1280px) {
  .header__header-right {
    gap: 90px;
    padding: 0 0 0 55px;
  }
}
.header__title {
  font-size: 2.8125em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 3.375em;
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .header__title {
    font-size: 4.5em;
  }
}
.header__header-tickets-button-cont {
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  place-content: center;
}
@media (min-width: 768px) {
  .header__header-tickets-button-cont {
    height: 70px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .header__header-tickets-button-cont {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.header__header-tickets-button-cont:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header__tickets-button {
  padding: 14px 80px;
  border: 1px solid #1a5a4c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
@media (min-width: 768px) {
  .header__tickets-button {
    padding-block: 23px;
  }
}
.header__tickets-button-arrow {
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
  height: 50px;
  width: 50px;
  padding: 15px 21px;
  background-color: #1a5a4c;
}
.header__tickets-button-arrow:hover {
  background-color: gray;
}
@media (min-width: 768px) {
  .header__tickets-button-arrow {
    height: 70px;
    width: 70px;
    padding: 24px 31px;
  }
}
.header__events-space-text {
  display: none;
  color: #687480;
  text-decoration: none;
  font-weight: 700;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  top: 522px;
  left: 55px;
}
@media (min-width: 1280px) {
  .header__events-space-text {
    display: inline-block;
  }
}
.header__events-space-line {
  display: none;
  position: absolute;
  background-color: #687480;
  height: 1px;
  width: 70px;
  content: "";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 600px;
  left: 41px;
}
@media (min-width: 1280px) {
  .header__events-space-line {
    display: inline-block;
  }
}

/* #region menu */
.menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 63vh;
  background-color: #1a5a4c;
  overflow: hidden;
  padding: 27px 0;
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 130px 20px 130px;
  grid-template-columns: repeat(2, 130px);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding-inline: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .nav {
    -ms-grid-columns: 90px 30px 90px 30px 90px 30px 90px 30px 90px 30px 90px;
    grid-template-columns: repeat(6, 90px);
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    padding-inline: 39px;
  }
}
@media (min-width: 1280px) {
  .nav {
    -ms-grid-columns: (70px)[12];
    grid-template-columns: repeat(12, 70px);
    padding-inline: 55px;
  }
}
.nav__first-collum, .nav__second-collum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
  padding-bottom: 24px;
}
.nav__first-collum--pad-left, .nav__second-collum--pad-left {
  padding-left: 27px;
}
@media (min-width: 768px) {
  .nav__first-collum--pad-left, .nav__second-collum--pad-left {
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .nav__first-collum, .nav__second-collum {
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  .nav__first-collum {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
@media (min-width: 1280px) {
  .nav__first-collum {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}
@media (min-width: 768px) {
  .nav__second-collum {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}
@media (min-width: 1280px) {
  .nav__second-collum {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
  }
}
.nav__link {
  font-weight: 500;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
}
.nav__link:hover {
  text-decoration: underline;
}
.nav__grafic-weekend-cont {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 21px;
  color: #fff;
  padding-top: 24px;
  border-top: 1px solid #fff;
}
@media (min-width: 768px) {
  .nav__grafic-weekend-cont {
    grid-column: 3/-1;
    border-left: 1px solid #fff;
    border-top: none;
    padding-top: 0;
    padding-left: 38px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
@media (min-width: 1280px) {
  .nav__grafic-weekend-cont {
    grid-column: 7/-1;
    padding-left: 102px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
.nav__weekend-cont {
  max-width: 144px;
}
.nav__title {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;
}

/* #endregion */
/* #region icon */
.icon {
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
  position: absolute;
  top: 30px;
  left: 20px;
}
@media (min-width: 768px) {
  .icon {
    left: 39px;
    top: 39px;
  }
}
.icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.icon--menu {
  background-image: url(../images/icon-menu-close.svg);
  height: 12px;
  width: 18px;
}
.icon--close-menu {
  background-image: url(../images/burger-menu-icon-open.svg);
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 90px;
}

.actual-events-section {
  max-width: 320px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 130px 20px 130px;
  grid-template-columns: repeat(2, 130px);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding-inline: 20px;
  row-gap: 60px;
  padding-top: 70px;
}
@media (min-width: 768px) {
  .actual-events-section {
    max-width: 768px;
  }
}
@media (min-width: 1280px) {
  .actual-events-section {
    max-width: 1280px;
  }
}
@media (min-width: 768px) {
  .actual-events-section {
    -ms-grid-columns: 90px 30px 90px 30px 90px 30px 90px 30px 90px 30px 90px;
    grid-template-columns: repeat(6, 90px);
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    padding-inline: 39px;
  }
}
@media (min-width: 1280px) {
  .actual-events-section {
    -ms-grid-columns: (70px)[12];
    grid-template-columns: repeat(12, 70px);
    padding-inline: 55px;
  }
}
.actual-events-section__section-title {
  grid-column: 1/-1;
  font-family: "Montserrat", sans-serif;
  font-size: 2.25em;
  text-align: center;
  font-weight: 700;
}
@media (min-width: 768px) {
  .actual-events-section__section-title {
    grid-column: 1/-3;
    font-size: 3em;
    text-align: left;
  }
}
.actual-events-section__event-cont {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media (min-width: 1280px) {
  .actual-events-section__event-cont {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.actual-events-section__img {
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
  max-width: 280px;
  max-height: 210px;
  width: 100%;
  height: 100%;
}
.actual-events-section__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (min-width: 768px) {
  .actual-events-section__img {
    max-width: 700px;
    max-height: 520px;
  }
}
@media (min-width: 1280px) {
  .actual-events-section__img {
    max-width: 670px;
    max-height: 520px;
  }
}
@media (min-width: 1280px) {
  .actual-events-section__event-date-description-cont {
    max-width: 370px;
  }
}
.actual-events-section__event-date-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 768px) {
  .actual-events-section__event-date-cont {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 27px;
  }
}
.actual-events-section__event-text {
  font-weight: 500;
  color: #687480;
}
.actual-events-section__event-date {
  font-weight: 700;
  line-height: 150%;
  color: #1a5a4c;
}
.actual-events-section__event-description-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .actual-events-section__event-description-cont {
    padding-top: 15px;
  }
}
.actual-events-section__event-description-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75em;
  font-weight: 400;
}
.actual-events-section__event-description-title::after {
  content: "";
  display: inline-block;
  background-color: #f14a27;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .actual-events-section__event-description-title::after {
    width: 15px;
    height: 15px;
  }
}
@media (min-width: 768px) {
  .actual-events-section__event-description-title {
    font-size: 2.25em;
  }
}
.actual-events-section__event-description-text {
  font-weight: 300;
  line-height: 150%;
  color: #4e4e4e;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .actual-events-section__event-description-text {
    max-width: 460px;
  }
}

.lection-date-section__lection-date-cont {
  position: relative;
}
.lection-date-section__lection-img {
  max-width: 320px;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .lection-date-section__lection-img {
    max-width: 768px;
  }
}
@media (min-width: 1280px) {
  .lection-date-section__lection-img {
    max-width: 1280px;
  }
}
.lection-date-section__lection-cont {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  gap: 15px;
  background-color: #fff;
  top: 60%;
  left: 6%;
  max-width: 280px;
  -webkit-box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);
          box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);
  padding: 24px 0 20px;
}
@media (min-width: 768px) {
  .lection-date-section__lection-cont {
    max-width: 570px;
    padding: 45px 55px;
    left: 13%;
    top: 65%;
  }
}
@media (min-width: 1280px) {
  .lection-date-section__lection-cont {
    padding: 50px 100px;
    left: 28%;
    top: 76%;
  }
}
.lection-date-section__date-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (min-width: 768px) {
  .lection-date-section__date-cont {
    gap: 185px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .lection-date-section__date-cont {
    gap: 146px;
  }
}
.lection-date-section__date-text {
  font-weight: 500;
  color: #687480;
}
.lection-date-section__date {
  font-weight: 700;
  line-height: 150%;
  color: #1a5a4c;
}
.lection-date-section__lection-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75em;
  text-align: center;
  font-weight: 400;
}
@media (min-width: 768px) {
  .lection-date-section__lection-title {
    font-size: 2.25em;
    text-align: left;
    max-width: 460px;
  }
}
@media (min-width: 1280px) {
  .lection-date-section__lection-title {
    max-width: 370px;
  }
}

.subscribe-section {
  position: relative;
}
.subscribe-section__subscribe-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
  position: absolute;
  top: 20%;
  left: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-inline: 20px;
}
@media (min-width: 768px) {
  .subscribe-section__subscribe-cont {
    left: 18%;
    top: 18%;
  }
}
@media (min-width: 1280px) {
  .subscribe-section__subscribe-cont {
    left: 26%;
    top: 27%;
  }
}
.subscribe-section__subscribe-description-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .subscribe-section__subscribe-description-cont {
    row-gap: 16px;
  }
}
.subscribe-section__title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25em;
  color: #fff;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 768px) {
  .subscribe-section__title {
    font-size: 3em;
  }
}
.subscribe-section__description {
  line-height: 150%;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.subscribe-section__subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .subscribe-section__subscribe-form {
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
}
@media (min-width: 1280px) {
  .subscribe-section__subscribe-form {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
.subscribe-section__email-input {
  height: 50px;
  width: 230px;
  text-indent: 20px;
}
@media (min-width: 768px) {
  .subscribe-section__email-input {
    width: 374px;
    height: 70px;
  }
}
@media (min-width: 1280px) {
  .subscribe-section__email-input {
    width: 470px;
  }
}
.subscribe-section__button-input {
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
  height: 50px;
  width: 50px;
  background-color: #f14a27;
}
.subscribe-section__button-input:hover {
  background-color: gray;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (min-width: 768px) {
  .subscribe-section__button-input {
    height: 70px;
    width: 70px;
  }
}

.footer {
  padding-top: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1280px) {
  .footer {
    padding-top: 47px;
  }
}
.footer__logo-grafic-contants-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 130px 20px 130px;
  grid-template-columns: repeat(2, 130px);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding-inline: 20px;
  max-width: 320px;
}
@media (min-width: 768px) {
  .footer__logo-grafic-contants-cont {
    -ms-grid-columns: 90px 30px 90px 30px 90px 30px 90px 30px 90px 30px 90px;
    grid-template-columns: repeat(6, 90px);
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    padding-inline: 39px;
  }
}
@media (min-width: 1280px) {
  .footer__logo-grafic-contants-cont {
    -ms-grid-columns: (70px)[12];
    grid-template-columns: repeat(12, 70px);
    padding-inline: 55px;
  }
}
@media (min-width: 768px) {
  .footer__logo-grafic-contants-cont {
    max-width: 768px;
  }
}
@media (min-width: 1280px) {
  .footer__logo-grafic-contants-cont {
    max-width: 1280px;
  }
}
.footer__logo-sites-cont {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .footer__logo-sites-cont {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
    row-gap: 62px;
  }
}
.footer__logo-link, .footer__site-link {
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
}
.footer__logo-link:hover, .footer__site-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.footer__sites-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.footer__grafic-weekend-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  padding-bottom: 64px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
@media (min-width: 768px) {
  .footer__grafic-weekend-cont {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}
@media (min-width: 1280px) {
  .footer__grafic-weekend-cont {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
}
.footer__grafic-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 141%;
}
.footer__contacts-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
@media (min-width: 768px) {
  .footer__contacts-cont {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
  }
}
@media (min-width: 1280px) {
  .footer__contacts-cont {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5/7;
  }
}
.footer__contacts-title {
  font-weight: 400;
  font-size: 14px;
}
.footer__contacts-address, .footer__contacts-tel, .footer__contacts-email {
  text-decoration: none;
  color: #000;
}
.footer__contacts-address:hover, .footer__contacts-tel:hover, .footer__contacts-email:hover {
  text-decoration: underline;
}
.footer__button-return-cont {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding-bottom: 25px;
  text-align: right;
}
@media (min-width: 768px) {
  .footer__button-return-cont {
    display: none;
  }
}
.footer__button-return-link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 20px;
  border: 1px solid #1a5a4c;
  border-radius: 50%;
}

.nav-cont {
  border-top: 1px solid #1a5a4c;
  padding-top: 42px;
  grid-column: 1/-1;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 130px 20px 130px;
  grid-template-columns: repeat(2, 130px);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding-inline: 20px;
  padding-inline: 0 !important;
}
@media (min-width: 768px) {
  .nav-cont {
    -ms-grid-columns: 90px 30px 90px 30px 90px 30px 90px 30px 90px 30px 90px;
    grid-template-columns: repeat(6, 90px);
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    padding-inline: 39px;
  }
}
@media (min-width: 1280px) {
  .nav-cont {
    -ms-grid-columns: (70px)[12];
    grid-template-columns: repeat(12, 70px);
    padding-inline: 55px;
  }
}
@media (min-width: 1280px) {
  .nav-cont {
    grid-column: -7/-1;
    -ms-grid-columns: (70px)[5];
    grid-template-columns: repeat(5, 70px);
    border-left: 1px solid #1a5a4c;
    border-top: none;
    padding-top: 0;
  }
}
.nav-cont__first-collum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .nav-cont__first-collum {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}
.nav-cont__second-collum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .nav-cont__second-collum {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
  }
}
.nav-cont__nav-link {
  text-decoration: none;
  color: #000;
}
.nav-cont__nav-link:hover {
  text-decoration: underline;
}

.page-body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1em;
  font-weight: 400;
  scroll-behavior: smooth;
  padding-bottom: 173px;
}
.page-body__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  overflow: auto;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
}
.page-body__menu:target {
  opacity: 1;
  pointer-events: all;
}
.page-body:has(.page-body__menu:target) {
  overflow: hidden;
}