.container {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 39px;
  }

  @include onDesktop {
    max-width: 1170px;
    margin: 0 auto;
    padding-inline: 55px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
