* {
  margin: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  transition: all, 0.5s;
}

.container {
  width: 100%;
  padding-inline: 55px;
  @include grid;

  @include onTablet {
    padding-inline: 35px;
  }

  @include onMobile {
    padding-inline: 20px;
  }
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  display: flex;
}

// #region h1-h6
h1 {
  font-size: 72px;
  line-height: 120%;

  @include onTablet {
    font-size: 54px;
  }

  @include onMobile {
    font-size: 45px;
    line-height: 100%;
  }
}

h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;

  @include onMobile {
    font-size: 36px;
  }
}

h4 {
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;

  @include onMobile {
    font-size: 28px;
  }
}

h6 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
// #endregion
