@import "utils";
@import "fonts";
@import "typography";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: $c-gray;
  overflow-x: hidden
}

@import "./header/header-main";
@import "./asside/asside-importer";
@import "./main/main-importer";
@import "./footer/footer-importer"
