* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

.container {
  padding-inline: var(--padding-inline);
}

a {
  color: $primary;
  text-decoration: none;
}

.mb-100 {
  margin-bottom: 100px;
}
