.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 33;
  @include font($defaultFont, 14px, 400);
  background-color: $whiteColor;
  display: none;
  box-shadow: 0 2px 4px $grayColor;

  &__close-button {
    box-sizing: content-box;
    width: 22px;
    height: 22px;
    margin-top: 33px;
    margin-left: $leftSmallMargin;
    background-image: url("../images/icons/close.svg");
    background-size: 100%;
    z-index: 2;
    cursor: pointer;

    @media screen and (min-width: $breakpoint1_2) {
      margin-top: 0;
      margin-left: $leftMediumMargin;
    }

    @media screen and (min-width: $breakpoint2) {
      margin-left: $leftBigMargin;
    }

    @media screen and (min-width: $breakpoint3) {
      margin-left: calc((100% - 1570px) / 2);
    }
  }

  &__wrapper {
    max-width: $maxWidth;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (min-width: $breakpoint1_2) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    padding: 10px 0;
    @include  font($alternateFont, 36px, 700);

    margin-left: $leftSmallMargin;

    @media screen and (min-width: $breakpoint1_2) {
      padding: 10px;
      margin-left: 0;
    }
  }

  &__nav {
    display: none;
    overflow: hidden;
    margin-left: $leftSmallMargin;

    @media screen and (min-width: $breakpoint1_2) {
      margin-left: 0;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    gap: 0;

    @media screen and (min-width: $breakpoint1_2) {
      flex-direction: row;
      justify-content: flex-end;
    }

    @media screen and (min-width: $breakpoint2) {
      gap: 20px;
    }
    
    @media screen and (min-width: $breakpoint3) {
      gap: 40px;
    }
  }

  &__nav-item {
    display: flex;

    width: 100%;
    color: black;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.1s;
    
    &:hover {
      color: $whiteColor;
      background-color: $grayColor;
    }

  }

  &__nav-link {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
    padding: 15px 5px;
    transition: color $hoverDuration;

    &:hover {
      color: $whiteColor;
    }

    @media screen and (min-width: $breakpoint1_2) {
      padding: 15px 10px;
    }

    @media screen and (min-width: $breakpoint2) {
      padding: 15px;
    }
  }
 
}
