.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 33;
  display: none;
  height: 100vh;
  @include font($alternateFont, 22px, 500);
  background-color: $grayColor;

  &__button {
    position: absolute;
    top: $menuSmallTop;
    transform: translateY(-50%);
    left: $leftSmallMargin;
    width: 16px;
    height: 16px;
    border: none;
    background-color: transparent;
    background-image: url("../images/icons/menu_opened.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    cursor: pointer;

    @media screen and (min-width: $breakpoint1) {
      top: $menuTop;
      left: $leftMediumMargin;
    }

    @media screen and (min-width: $breakpoint2) {
      left: $leftBigMargin;
    }
  }

  &__nav {
    padding-top: 80px;
    overflow: hidden;
  }
  
}
