.header__top-bar {
  display: flex;
  grid-column: span 7;
  justify-content: space-between;
  align-items: center;

  @include onTablet {
    grid-column: span 4;
  }

  @include onMobile {
    grid-column: 1/2;
  }
}

.menu-icon {
  @include icon-size(24px, 24px);
  background-image: url(../images/header/menu-icon.svg);

  &:hover {
    @include zoom;
  }
}

.logo {
  @include logo-options;
}
