.hours {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include on-tablet {
    flex-direction: row;
    gap: 26px;
  }

  &--footer {
    @include on-tablet {
      grid-column: 2 / 4;
      flex-direction: column;
    }

    @include on-desktop {
      grid-column: 3 / 5;
    }
  }

  &__shedule {
    font-weight: 400;
  }

  &__work {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-wrap: nowrap;
  }

  &__holiday {
    font-weight: 400;

    @include on-tablet {
      margin-top: 38px;
    }
  }

  &__item {
    font-weight: 400;
  }

  &__time {
    line-height: 150%;
    font-weight: 600;
  }
}
