.hover {
  position: relative;
  transition: color 0.2s ease;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: calc(100% + 5px);
    width: 0;
    right: 0;
    height: 3px;
  }

  &::before {
    transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
    background: $generalColor;
  }

  &::after {
    transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: $hoverColor;
  }

  &:hover {
    color: $hoverColor;

    &::before {
      width: 100%;
      left: 0;
    }

    &::after {
      width: 100%;
      left: 0;
    }
  }
}
