.how-to-contact {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 40px 0 70px;
  line-height: 21px;
  color: $fc-main-black;
  border-bottom: 1px solid rgba(26, 90, 76, 0.5);

  @include onTablet {
    padding: 51px 0 64px;
  }

  @include onDesktop {
    border-bottom: none;
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
  }

  &__text {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
  }

  &__bold {
    font-weight: 600;
  }

  &__button {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 20px;
    right: 0;
    background-image: url(/images/icon/icon_arrow_up.svg);

    @include onTablet {
      display: none;
    }
  }
}
