.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--menu {
    background-image: url(../images/icons/menu.svg);
    @include hover(background-image, url(../images/icons/menu-hover.svg));
  }

  &--logo {
    width: 55px;
    height: 61px;
    background-image: url(../images/logo-NA-MU.svg);
    @include forLogo;
  }

  &--close {
    background-image: url(../images/icons/close.svg);
    background-size: cover;
    @include hover(background-image, url(../images/icons/close-hover.svg));
  }

  &__footer--logo {
    width: 63px;
    height: 72px;
    background-image: url(../images/logo-NA-MU.svg);
    @include forLogo;
  }

  &--facebook {
    background-image: url(../images/socials/facebook.svg);
    @include hover(background-image, url(../images/socials/facebook-hover.svg));
  }

  &--instagram {
    background-image: url(../images/socials/instagram.svg);
    @include hover(background-image, url(../images/socials/instagram-hover.svg));
  }
}
