.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-image: url(../images/icons/icon-menu.svg);
  background-size: cover;
  background-position: center;

  @include hover(transform, scale(1.2));

  @include onTablet {
    height: 32px;
    width: 32px;
  }

  &--menu {
    background-image: url(../images/icons/icon-menu.svg);
  }

  &--cross {
    background-image: url(../images/icons/icon-cross.svg);
  }
}
