.icon {
  position: relative;
  width: 24px;
  height: 24px;

  &--menu {
    background: url("../images/icons/burger-menu.svg") center no-repeat;
    background-size: cover;
  }

  &--close {
    background: url("../images/icons/close.svg") center no-repeat;
    background-size: cover;
  }
}
