/* #region icon */
.icon {
  @include transition;

  position: absolute;
  top: 30px;
  left: 20px;

  @include on-tablet {
    left: 39px;
    top: 39px;
  }

  &:hover {
    transform: $main-transform-animation;
  }

  &--menu {
    background-image: url(../images/icon-menu-close.svg);
    height: 12px;
    width: 18px;
  }

  &--close-menu {
    background-image: url(../images/burger-menu-icon-open.svg);
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
  }
}
