.icon {
  display: block;

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-size: cover;

  &--menu {
    position: absolute;
    top: 27px;
    left: 20px;
    background-image: url(../images/icons/icon-menu.svg);

    @include on-tablet {
      top: 39px;
      left: 34px;
    }

    @include on-desktop {
      left: 55px;
    }

    &:hover {
      background-image: url(../images/icons/menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }
}
