.icons {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;

  @include onTablet {
    flex-direction: column;
    justify-content: flex-start;
  }

  &__logo {
    width: 62px;
    height: 72px;
    background-image: url(../images/icon/namu_logo.svg);
    background-position: center;
    background-repeat: no-repeat;

    transition: transform $speedAnimation;

    @include onTablet {
      margin-bottom: 62px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    height: 24px;
    width: 24px;
    padding: 5px;
    background-position: center;
    background-repeat: no-repeat;

    transition: transform $speedAnimation;

    @include onTablet {
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__link--facebook {
    margin-right: 20px;
    background-image: url(../images/icon/icon_facebook.svg);
  }

  &__link--instagram {
    background-image: url(../images/icon/icon_instagram.svg);
  }
}
