.info {
  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    color: $title-black;
    text-transform: uppercase;

    @include onTablet {
      margin-bottom: 60px;
    }

    @include onDesktop {
      margin-bottom: 60px;
    }
  }

  &__emblems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px 64px;

    @include onTablet {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    @include onDesktop {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      grid-column: 1 / 4;
    }

    &-logos {
      display: flex;
      gap: 24px;

      &-image {
        width: 24px;
        height: 24px;

        &--fb {
          width: 12px;
        }
      }
    }

  }

  &__description {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    padding-bottom: 70px;
    column-gap: 20px;
    width: 90%;
    margin: 0 auto 40px;
    border-bottom: 1px solid rgba(26, 90, 76, 0.5);

    @include onDesktop {
      border-bottom: transparent;
      border-right: 1px solid rgba(26, 90, 76, 0.5);
      padding-top: 48px;
    }

    @include onTablet {
      padding-top: 50px;
    }

    &-title {
      font-family: "IBM Plex Sans", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140.62%;
      color: #0f0e08;
      margin-bottom: 20px;

    }

    &-schedule {
      font-family: "IBM Plex Sans", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #0f0e08;
    }

    &-contacts {
      @include onTablet {
        grid-column: 4 / 6;
      }

      @include onDesktop {
        grid-column: 4 / 6;
      }
    }

    @include onTablet {
      grid-column: 2 / 6;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 2 / 6;

    @include onDesktop {
      padding-top: 48px;
      height: 10%;
      grid-column: 6 / 10;
    }

    &-link {
      margin: 10px 20px;
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: #0f0e08;

    }
  }

  &__copyright {
    margin-top: 70px;
    margin-bottom: 50px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 200%;
    text-align: center;
    color: #0f0e08;

    @include onTablet {
      grid-column: 2 / 6;
    }

    @include onDesktop {
      grid-column: 1 / 12;
    }
  }

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  @include onDesktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}

.bold {
  font-weight: 700;
}
