.info-card {
  font-family: IBMPlexSans, sans-serif;

  @include on-desktop {
    display: flex;
    gap: 130px;
  }

  &__photo {
    width: 100%;
    height: 210px;
    margin-bottom: 16px;

    @include hover(transform, scale(1.02));

    @include on-tablet {
      height: 520px;
      margin-bottom: 40px;
    }

    @include on-desktop {
      width: 670px;
      height: 520px;
    }
  }

  &__content {
    @include on-desktop {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__schedule {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 10px;

    font-size: 16px;

    @include on-tablet {
      gap: 30px;
      justify-content: start;
      margin-bottom: 30px;
      font-size: 14px;
    }
  }

  &__subtitle {
    font-weight: 500;
    color: $subitle-color;
    text-transform: uppercase;
  }

  &__date {
    font-weight: 700;
    line-height: 150%;
    color: $color-green;
  }

  &__title {
    display: flex;
    align-items: center;

    margin: 0;
    margin-bottom: 10px;

    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: $title-color;

    @include on-tablet {
      margin-bottom: 15px;
      font-size: 36px;
    }
  }

  &__square {
    width: 10px;
    height: 10px;
    background-color: #f14a27;

    &--ml-10 {
      margin-left: 10px;
    }

    &--ml-20 {
      margin-left: 20px;

      @include on-tablet {
        margin-left: 10px;
      }
    }
  }

  &__description {
    margin: 0;

    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    color: #4e4e4e;

    @include on-tablet {
      max-width: 460px;
    }
  }
}
