@import "./mixins";

.lastpage {
    @include maingrid;

    &__block {
        grid-column: 1 / -1;
        display: flex;

        @media (min-width: 769px) and (max-width: 1280px) {
            display: none;
        }

        @include ondesktop {
            display: none;
        }
    }

    &__fix {
        text-decoration: none;
        color: #0F0E08;
    }

    &__logo {
        grid-column: 1;
        width: 62.9px;
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
        font-family: Montserrat, sans-serif;
        color: black;
        text-decoration: none;
        margin: 50px 0 0;
    }

    &__facebook {
        grid-column: 2;
        background-image: url(../images/lastpage__facebook.svg);
        width: 23.96px;
        height: 24px;
        background-size: 23.96px;
        margin-top: 74px;
        margin-left: auto;
    }

    &__instagram {
        grid-column: 2;
        background-image: url(../images/lastpage__instagram.svg);
        width: 24px;
        height: 24px;
        background-size: 24px;
        background-repeat: no-repeat;
        margin-left: 20px;
        margin-top: 74px;
    }

    &__decoration {
        text-decoration: none;
    } 

    &__margin {
        text-decoration: none;
        margin-left: auto;
    }

    &__textblock {
        grid-column: 1 / -1;
        display: grid;

        @media (min-width: 769px) and (max-width: 1280px) {
            display: none;
        }

        @include ondesktop {
            display: none;
        }
    }

    &__grafik {
        grid-column: 1;
        margin: 40px 0 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 19.69px;
        color: #0F0E08;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    &__time {
        grid-column: 1;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
    }

    &__contact {
      grid-column: 2;
      font-weight: 400;
      font-size: 14px;
      line-height: 19.69px;
      color: #0F0E08;
      font-family: 'IBM Plex Sans', sans-serif;
      margin: 40px 0 0 45px;
    }

    &__vihid {
        grid-column: 1;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;

        @media (min-width: 769px) and (max-width: 1280px) {
            display: none;
        }

        @include ondesktop {
            display: none;
        }
    }

    &__adress {
        margin-left: 45px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        color: #0F0E08;
    }

    &__up {
        background-image: url(../images/up.svg);
        width: 50px;
        height: 50px;
        background-size: 50px;
        margin: auto 0 auto auto;

        @media (min-width: 769px) and (max-width: 1280px) {
            display: none;
        }

        @include ondesktop {
            display: none;
        }
    }

    &__hr {
        grid-column: 1 / -1;
        width: 100%;
        margin: 20px 0 0;
        border-bottom: none;
        border-right: none;
        border-left: none;

        @media (min-width: 769px) and (max-width: 1280px) {
            display: none;
        }

        @include ondesktop {
            display: none;
        }
    }

    &__blockk {
        grid-column: 1;
        display: grid;

    }

    &__gallery {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #0F0E08;
        margin: 40px 0 0;
        text-decoration: none;
        width: fit-content;

        @media (min-width: 769px) and (max-width: 1280px) {
            display: none;
        }

        @include ondesktop {
            display: none;
        }
    }

    &__podii {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #0F0E08;
        margin: 20px 0 0;
        text-decoration: none;
        width: fit-content;

        @media (min-width: 769px) and (max-width: 1280px) {
            display: none;
        }

        @include ondesktop {
            display: none;
        }
    }

    &__contactblock {
        grid-column: 2;
        display: grid;

        @media (min-width: 769px) and (max-width: 1280px) {
            display: none;
        }

        @include ondesktop {
            display: none;
        }
    }

    &__designed {
        grid-column: 1 / -1;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 300;
        font-size: 12px;
        line-height: 16.88px;
        color: #0F0E08;
        margin-top: 80px;
        text-align: center;

        @media (min-width: 769px) and (max-width: 1280px) {
            display: none;
        }

        @include ondesktop {
            display: none;
        }
    }

    &__Copyright {
        grid-column: 1 / -1;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 300;
        font-size: 12px;
        line-height: 16.88px;
        color: #0F0E08;
        margin-top: 10px;
        text-align: center;

        @media (min-width: 769px) and (max-width: 1280px) {
            display: none;
        }

        @include ondesktop {
            display: none;
        }
    }
}

.lastpage2 {
    @include maingrid;

    grid-auto-flow: column;

    &__logo {
        grid-column: 1;
        font-family: Montserrat, sans-serif;
        font-size: 36px;
        line-height: 36px;
        color: #0F0E08;
        font-weight: 700;
        margin: 51px 0 0;
        width: 62.9px;

        @include ondesktop {
            margin: 48px 0 0;
            width: 62.9px;
        }

        @include onmobile {
            display: none;
        }
    }

    &__fix {
        text-decoration: none;
        color: #0F0E08;
    }


    &__timeblock {
        grid-column: 2 / 4;

        @include ondesktop {
            grid-column: 3 / 5;
        }

        @include onmobile {
            display: none;
        }
    }

    &__logoblock {
        grid-column: 1;

        @include onmobile {
            display: none;
        }
    }

    &__block {
        grid-column: 1;
        display: flex;
        margin: 62px 0 0;

        @include onmobile {
            display: none;
        }
    }

    &__facebook {
        background-image: url(../images/lastpage__facebook.svg);
        width: 24px;
        height: 24px;

        @include onmobile {
            display: none;
        }
    }

    &__instagram {
        background-image: url(../images/lastpage__instagram.svg);
        width: 24px;
        height: 24px;
        margin-left: 32px;

        @include onmobile {
            display: none;
        }
    }

    &__grafik {
        grid-column: 2 / 4;
        height: 20px;
        width: auto;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 19.69px;
        margin: 51px 0 0;

        @include onmobile {
            display: none;
        }
    }

    &__time {
        margin: 20px 0 0;
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 400;
        font-size: 14px;
        line-height: 21px;

        @include onmobile {
            display: none;
        }
    }

    &__dayoff {
        margin-top: 5px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 400;
        font-size: 14px;
        line-height: 21px;

        @include onmobile {
            display: none;
        }
    }

    &__contactblock {
        grid-column: 4 / 6;

        @include ondesktop {
            grid-column: 5 / 7;
        }

        @include onmobile {
            display: none;
        }
    }

    &__contact {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 19.69px;
        margin: 51px 0 0;
        height: 20px;

        @include onmobile {
            display: none;
        }
    }

    &__tell {
        margin: 20px 0 0;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 19.69px;

        @include ontablet {
            max-width: 220px;
        }

        @include onmobile {
            display: none;
        }
    }

    &__hr {
        margin: 64px 0 0;
        grid-column: 2 / 6;
        width: 100%;
        transform: rotate(180);

        @include ondesktop {
            width: 1px;
            border-bottom: none;
            border-right: none;
            border-top: none;
            grid-column: 7;
            margin-left: auto;
            margin-right: auto;
        }

        @include onmobile {
            display: none;
        }
    }

    &__galeryblock {
        grid-column: 2 / 4;
        margin: 64px 0 0;
        display: flex;
        flex-direction: column;

        @include ondesktop {
            grid-column: 8 / 10;
        }

        @include onmobile {
            display: none;
        }
    }

    &__gallery {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #0F0E08;
        text-decoration: none;
        width: fit-content;

        @include onmobile {
            display: none;
        }
    }

    &__podii {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #0F0E08;
        text-decoration: none;
        margin-top: 20px;
        width: fit-content;

        @include onmobile {
            display: none;
        }
    }

    &__blockabout {
        grid-column: 4 / 6;
        margin: 64px 0 0;
        display: flex;
        flex-direction: column;

        @include ondesktop {
            grid-column: 10 / 12;
        }

        @include onmobile {
            display: none;
        }
    }

    &__aboutas {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #0F0E08;
        text-decoration: none;
        width: fit-content;

        @include onmobile {
            display: none;
        }
    }

    &__cont {
        font-family: 'IBM Plex Sans', sans-serif;
        margin: 20px 0 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 19.69px;
        color: #0F0E08;
        text-decoration: none;
        width: fit-content;

        @include onmobile {
            display: none;
        }
    }

    &__copyright {
        grid-column: 1 / 3;
        margin: 120px 0 0;
        font-size: 12px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 300;
        line-height: 16.88px;

        @include ondesktop {
            grid-column: 1 / 4;
        }

        @include onmobile {
            display: none;
        }
    }

    &__designed {
        grid-column: 5 / 7;
        text-align: end;
        margin: 120px 0 0;
        font-size: 12px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 300;
        line-height: 16.88px;

        @include ondesktop {
            grid-column: 10 / 13;
        }

        @include onmobile {
            display: none;
        }
    }
}