.lection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 674px;
  
  background: url(..\images\sunshine.png) no-repeat;
  background-size: cover;

  &__card {
    position: absolute;
    bottom: -15%;
    width: 570px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 204px;
    padding: 0 100px;
    background-color: #fff;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

    transition: transform 1s;

    &:hover {
      transform: translate(0, -10px);
    }
  }

  &__caption {
    display: flex;
    justify-content: start;
    margin-bottom: 16px;
  }

  &__name {
    margin-right: 146px;

    font-weight: 500;
    font-size: 0.9rem;
    line-height: 21px;
    color: #687480;
  }

  &__date {
    font-weight: $fw-bold;
    font-size: 0.9rem;
    line-height: 21px;
    color: #1a5a4c;
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-size: 2.1rem;
    line-height: 36px;
    font-weight: $fw-medium;

    color: $header-text-color;
  }
}

@media (max-width: 600px) {
  .lection {
    height: 390px;

    &__caption {
      justify-content: space-between;
    }
    &__card {
      width: 278px;
      height: 154px;
      padding: 0 20px;
    }

    &__name {
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
      margin: 0;
    }

    &__date {
      font-size: 16px;
      line-height: 16px;
      font-weight: $fw-bold;
    }

    &__title {
      font-size: 28px;
      line-height: 28px;
      font-weight: $fw-medium;
    }
  }
}
