.lection {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lection__img {
  width: 100%;
  display: block;
}

.lection__info {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 280px;
  gap: 23px;
  border-bottom: #1a5a4c40 1px solid;

  @media (min-width: 768px) {
    width: 570px;
    padding: 50px 55px;
  }
}

.lection__data {
  display: flex;
  padding: 20px 20px 0;
  place-content: baseline space-between;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.lection__data-title {
  font-size: 16px;
  font-weight: 500;
  color: #687480;
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
}

.lection__data-date {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: #1a5a4c;
  font-family: 'IBM Plex Sans', sans-serif;
}

.lection__title {
  display: flex;
  font-size: 28px;
  font-weight: 400;
  color: #0f0e08;
  font-family: Montserrat, sans-serif;
  align-self: center;
  justify-content: center;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    font-size: 36px;
    padding-bottom: 50px;
  }
}
