.lection {
  display: flex;
  flex-direction: column;
  align-items: center;
  @extend %side-padding0;

  &__image {
    width: 100%;

    height: 210px;
    @media screen and (min-width: $breakpoint1) {
      height: 390px;
    }

    @media screen and (min-width: $breakpoint2) {
      height: 674px;
    }

  }

  &__rectangle {
    $bigHeight : 204px;
    $smallHeight : 154px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(100% - 42px);
    height: $smallHeight;
    transform: translateY(-50%);
    padding: 8px;
    background-color: white;

    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

    @media screen and (min-width: $breakpoint1) {
      width: 570px;
      height: $bigHeight;
      transform: translateY(-50%);
    }
  }
}
