.lecture {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  align-items: center;

  &__image {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;

    @include onTablet {
      width: 90%;
      left: auto;
    }
    @include onDesktop {
      width: 100%;
      height: 70%;
    }
  }

  &__subtitle {
    flex-wrap: wrap;
    width: 90%;

    padding: 20px;
    margin-top: 40%;

    background: #fff;
    box-shadow: 0px 2px 0px rgba(26, 90, 76, 0.25);

    @include onTablet {
      width: 60%;
      justify-content: space-between;
      padding: 45px 55px;
      margin-top: 50%;
    }

    @include onDesktop {
      width: 50%;
      justify-content: space-between;
      padding: 45px 100px;
    }
  }

  &__title {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #0F0E08;
    padding-top: 20px;

    @include onTablet {
      text-align: start;
    }
    @include onDesktop {
      text-align: start;
    }
  }
}
