.lections {
  background-image: url(..//images/mobile-muzej-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: auto;
  height: 210px;
  padding-inline: 20px;
  position: relative;

  @include onTablet {
    height: 390px;
  }

  @include onDesctop {
    height: calc(100vh - 160px);
    background-repeat: no-repeat;
    height: 550px;
  }


  &__wrapper {
    @include onTablet {
      margin-inline: 34px;
    }

    @include onDesctop {
      margin-inline: 0;
    }
  }

  &__container {
    position: absolute;
    bottom: -35%;
    background-color: $background-c-white;
    text-align: center;
    width: 280px;
    padding-top: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 0 0 #1a5a4c40;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    @include onTablet {
      width: 570px;
      height: 204px;
      bottom: -20%;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: $c-grey;

    @include onTablet {
      text-align: left;
      padding-left: 55px;
    }
  }

  &__date {
    padding-left: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $background-c-green;

    @include onTablet {
      padding-left: 180px;
    }
  }

  &__name {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    padding: 20px 0;

    @include onTablet {
      font-size: 36px;
      line-height: 36px;
      padding: 30px 55px 50px;
      text-align: left;
    }
  }
}
