.link-button {
  display: flex;
  width: 70px;
  height: 70px;
  background-color: #1a5a4c;

  cursor: pointer;

  transition: background-color 0.5s ease-in;

  &:hover {
    background-color: #847b74;
  }

  &__arrow {
    margin: auto;
  }

  @include mobileScreen {
    width: 50px;
    height: 50px;
  }
}
