.links {

  &__logo {
    margin-bottom: 63px;

    @extend %logo;
  }

  &__socials {
    margin-right: 26px;
  }
}

@media (max-width: $tablet-width - 100px) {
  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__socials {
      margin: 0 10px 0 0;
    }

    &__photos {
      margin-top: 25px;
    }
  }
}
