.svg {
  transition: 0.3s;

  &:hover {
    scale: 120%;
    color: #2060f6;
    path {
      fill: #2060f6;
    }
  }
}

.social {
  display: flex;
  gap: 22px;
  // justify-content: space-between;
  @include onMob {
    gap: 20px;
  }
  @include onTablet {
    gap: 32px;
  }
}
