.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  line-height: 100%;
  font-weight: bold;
  text-align: start;
  cursor: default;
  transition: all 1s;

  &:hover {
    color: #1a5a4c;
  }
}
