.logo {
  width: $logoWidth;
  height: $logoHeight;
  margin-top: 9px;
  z-index: 3;
  background: url("../images/logo.svg") center no-repeat;
  background-size: contain;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.1);
  }

  @media (min-width: 768px) {
    width: 58px;
    height: 72px;
  }

  @media (min-width: 1300px) {
    margin-top: 0;
  }
}
