.main-frame {
  font-weight: 500;
  font-family: Oswald, sans-serif;
  font-size: 18px;
  line-height: 27px;

  &__container {
    margin: 58px 0 140px 135px;
  }

  &__info {
    $infoChildWidth: 300px;
    $infoChildGapX: 100px;

    width: $infoChildWidth * 2 + $infoChildGapX;
    display: flex;
    justify-content: space-between;
  }

  &__get-schedule {
    @include pageActionsProps(300px, 70px);
    color: #847b74;
    text-transform: uppercase;
    background-color: #d7dde3;
    transition: color 2s, background-color 2s;

    &:link,
    &:visited,
    &:active {
      color: #847b74;
      text-decoration: none;
    }

    &:hover {
      color: #d7dde3;
      background-color: #f14a27;
      text-decoration: none;
    }
  }

  &__visit-event {
    @include pageActionsProps(300px, 70px);
    color: #d7dde3;
    text-transform: uppercase;
    background-color: #1a5a4c;
    transition: color 2s, background-color 2s;

    &:link,
    &:visited,
    &:active {
      color: #847b74;
      text-decoration: none;
    }

    &:hover {
      color: #d7dde3;
      background-color: #f14a27;
      text-decoration: none;
    }
  }

  &__buy-tickets {
    $buyTicketsWidth: 258px;
    $buyTickestDecorWidth: 70px;

    position: relative;
    width: $buyTicketsWidth + $buyTickestDecorWidth;
    margin-top: 146px;
  }

  &__buy-link {
    @include pageActionsProps(258px, 70px);
    font-weight: 200;
    font-size: 24px;
    color: #0f0e08;
    background-color: #e5e5e5;
    transition: color 2s, background-color 2s;

    &:link,
    &:visited,
    &:active {
      color: #0f0e08;
      text-decoration: none;
    }

    &:hover {
      color: #d7dde3;
      background-color: #f14a27;
      text-decoration: none;
    }
  }

  &__link-decor {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    background: #847b74 url("../images/arrow.png") center no-repeat;
  }
}
