h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.museum__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 320px) and (max-width: 639px) {
  .museum__container {
    width: 320px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .museum__container {
    padding: 0 20px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .museum__container {
    padding: 0 145px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .museum__container {
    padding: 0 400px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .museum__container {
    padding: 0 400px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .museum__container {
    padding: 0 570px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .museum__container {
    padding: 0 420px;
  }
}
@media (min-width: 2560px) {
  .museum__container {
    padding: 0 1060px;
  }
}

.museum__title {
  display: inline;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 100%;
  color: #000;
}
@media (min-width: 320px) and (max-width: 639px) {
  .museum__title {
    margin-top: 330px;
    order: 1;
    z-index: 1;
    width: 320px;
    font-size: 45px;
    padding: 20px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .museum__title {
    order: 1;
    z-index: 1;
    width: 360px;
    text-align: start;
    margin-top: 80px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 100%;
    color: #000;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .museum__title {
    order: 1;
    z-index: 1;
    width: 360px;
    text-align: start;
    margin-top: 80px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 100%;
    color: #000;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .museum__title {
    order: 1;
    z-index: 1;
    width: 360px;
    text-align: start;
    margin-top: 80px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 100%;
    color: #000;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .museum__title {
    order: 1;
    z-index: 1;
    width: 360px;
    text-align: start;
    margin-top: 80px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 100%;
    color: #000;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .museum__title {
    order: 1;
    z-index: 1;
    width: 360px;
    text-align: start;
    margin-top: 80px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 100%;
    color: #000;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .museum__title {
    width: 460px;
    margin-top: 80px;
    order: 1;
    z-index: 1;
    text-align: start;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 100%;
    color: #000;
  }
}
@media (min-width: 2560px) {
  .museum__title {
    order: 1;
    width: 400px;
    text-align: start;
    margin-top: 80px;
    z-index: 1;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 100%;
    color: #000;
  }
}

.museum__button_container {
  display: flex;
  margin: 40px auto;
}
@media (min-width: 320px) and (max-width: 639px) {
  .museum__button_container {
    order: 1;
    margin: 30px auto;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .museum__button_container {
    order: 1;
    margin: 40px 0;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .museum__button_container {
    order: 1;
    margin: 40px 0;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .museum__button_container {
    order: 1;
    margin: 40px 0;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .museum__button_container {
    order: 1;
    margin: 40px 0;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .museum__button_container {
    order: 1;
    margin: 40px 0;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .museum__button_container {
    order: 1;
    margin: 40px 0;
  }
}
@media (min-width: 2560px) {
  .museum__button_container {
    order: 1;
    margin: 40px 0;
  }
}

.museum__button {
  border: 1px solid #1a5a4c;
  box-sizing: border-box;
  font-family: IBM Plex Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  /* or 16px */
  color: #0f0e08;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 639px) {
  .museum__button {
    width: 200px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .museum__button {
    width: 110px;
  }
}

.museum__arrow {
  display: flex;
  width: 50px;
  height: 50px;
  background: #1a5a4c;
  justify-content: center;
  align-items: center;
}

.img__arrow {
  color: #d7dde3;
}

.header__container {
  position: relative;
  top: 0;
}
@media (min-width: 320px) and (max-width: 639px) {
  .header__container {
    width: 320px;
    height: 300px;
  }
}

.header__top-actions {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.top-actions {
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 10px;
  z-index: 1;
  text-align: center;
}

.header__image {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 639px) {
  .header__image {
    width: 320px;
    height: 300px;
    object-fit: fill;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 0;
    order: 2;
    top: 0;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .header__image {
    width: 450px;
    justify-content: right;
    align-items: right;
    height: 300px;
    object-fit: fill;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 0;
    order: 2;
    top: 0;
    right: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .header__image {
    width: 650px;
    justify-content: right;
    align-items: right;
    height: 400px;
    object-fit: fill;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 0;
    order: 2;
    top: 0;
    right: 0;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .header__image {
    width: 650px;
    justify-content: right;
    align-items: right;
    height: 400px;
    object-fit: fill;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 0;
    order: 2;
    top: 0;
    right: 0;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .header__image {
    width: 805px;
    justify-content: right;
    align-items: right;
    height: 500px;
    object-fit: fill;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 0;
    order: 2;
    top: 0;
    right: 0;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .header__image {
    width: 805px;
    justify-content: right;
    align-items: right;
    height: 500px;
    object-fit: fill;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 0;
    order: 2;
    top: 0;
    right: 0;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .header__image {
    width: 1245px;
    justify-content: right;
    align-items: right;
    height: 700px;
    object-fit: fill;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 0;
    order: 2;
    top: 0;
    right: 0;
  }
}
@media (min-width: 2560px) {
  .header__image {
    width: 1245px;
    justify-content: right;
    align-items: right;
    height: 700px;
    object-fit: fill;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 0;
    order: 2;
    top: 0;
    right: 0;
  }
}

.icon {
  background-image: url(/images/cross.svg);
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
  filter: invert(1);
  padding-top: 20px;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
  transform: translateX(-100%);
  z-index: 1;
}

.page__menu:target {
  transform: translateX(0);
}

.menu__content {
  background-color: #fff;
  height: 100vh;
  padding: 20px 20px 0;
}

.menu__link {
  font-family: "Halyard", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000;
  transition: all 0.3s;
  margin-right: 48px;
  text-decoration: none;
}

.menu__link:hover {
  text-shadow: 1px 1px 2px black, 0 0 1em black;
  color: #1a5a4c;
}

.menu__list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.menu__item {
  padding-top: 10px;
  list-style: none;
}
@media (min-width: 320px) and (max-width: 639px) {
  .menu__item {
    width: 150px;
  }
}

.menu-btn {
  order: 1;
  cursor: pointer;
  position: relative;
  display: block;
  height: 15px;
  width: 20px;
  z-index: 0;
  border-radius: 10px;
  box-sizing: border-box;
}

@media (min-width: 640px) and (max-width: 1023px) {
  .menu-btn {
    display: block;
    margin-left: 10px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .menu-btn {
    display: block;
    margin-left: 20px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .menu-btn {
    display: block;
    margin-left: 80px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .menu-btn {
    display: block;
    margin-left: 80px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .menu-btn {
    display: block;
    margin-left: 80px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .menu-btn {
    display: block;
    margin-left: 80px;
  }
}
@media (min-width: 2560px) {
  .menu-btn {
    display: block;
    margin-left: 280px;
  }
}

.menu-btn .menu {
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background: #0f0e08;
}

.menu-btn .menu:nth-child(2) {
  margin-top: 4px;
  opacity: 1;
}

.menu-btn .menu:nth-child(3) {
  margin-top: 4px;
}

.header__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  width: 60px;
  /* or 30px */
  color: #0f0e08;
  text-decoration: none;
  order: 2;
  transition: all 0.5s ease-in-out;
}

.header__title:hover {
  text-shadow: 1px 1px 2px black, 0 0 1em black;
  color: #1a5a4c;
}
@media (min-width: 640px) and (max-width: 1023px) {
  .header__title {
    margin-left: 50px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .header__title {
    margin-left: 200px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .header__title {
    margin-left: 350px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .header__title {
    margin-left: 350px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .header__title {
    margin-left: 400px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .header__title {
    margin-left: 350px;
  }
}
@media (min-width: 2560px) {
  .header__title {
    margin-left: 691px;
  }
}

.header__outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0f0e08;
}
@media (min-width: 320px) and (max-width: 639px) {
  .header__outline {
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-width: 0;
  }
}

.actual {
  margin: 20px auto;
}

.actual__container {
  width: 100%;
  margin: 240px auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 320px) and (max-width: 639px) {
  .actual__container {
    margin: 290px auto 0;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .actual__container {
    margin: 100px auto 0;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .actual__container {
    margin: 80px auto 0;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .actual__container {
    margin: 80px auto 0;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .actual__container {
    margin: 190px auto 0;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .actual__container {
    margin: 190px auto 0;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .actual__container {
    margin: 390px auto 0;
  }
}
@media (min-width: 2560px) {
  .actual__container {
    margin: 450px auto 0;
  }
}

.actual__card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 90%;
}
@media (min-width: 320px) and (max-width: 639px) {
  .actual__card {
    margin: 30px auto;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .actual__card {
    margin: 0 auto;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .actual__card {
    flex-direction: row;
    margin: 40px auto;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .actual__card {
    flex-direction: row;
    margin: 40px auto;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .actual__card {
    flex-direction: row;
    margin: 40px auto;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .actual__card {
    flex-direction: row;
    margin: 40px auto;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .actual__card {
    flex-direction: row;
    margin: 40px auto;
  }
}
@media (min-width: 2560px) {
  .actual__card {
    flex-direction: row;
    margin: 40px auto;
  }
}

.actual__card_2 {
  display: flex;
}

@media (min-width: 320px) and (max-width: 639px) {
  .actual__info_container {
    width: 280px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .actual__info_container {
    width: 600px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .actual__info_container {
    padding-top: 40px;
    width: 360px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .actual__info_container {
    padding-top: 40px;
    width: 500px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .actual__info_container {
    padding-top: 40px;
    width: 600px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .actual__info_container {
    padding-top: 40px;
    width: 800px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .actual__info_container {
    padding-top: 40px;
    width: 860px;
  }
}
@media (min-width: 2560px) {
  .actual__info_container {
    padding-top: 40px;
    width: 1160px;
  }
}

.actual__card-position {
  position: relative;
  width: 278px;
  top: 190px;
  transform: translate(0, -300px);
}
@media (min-width: 320px) and (max-width: 639px) {
  .actual__card-position {
    transform: translate(0, -250px);
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .actual__card-position {
    border: 1px solid #fff;
    transform: translate(0, -280px);
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .actual__card-position {
    transform: translate(0, -290px);
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .actual__card-position {
    transform: translate(0, -290px);
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .actual__card-position {
    transform: translate(0, -290px);
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .actual__card-position {
    transform: translate(0, -290px);
  }
}
@media (min-width: 2560px) {
  .actual__card-position {
    transform: translate(0, -290px);
  }
}

.actual__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;
  /* or 36px */
  text-align: center;
  color: #0f0e08;
}

.actual__image-hover {
  transition: all 0.5s ease-in-out;
}

.actual__image-hover:hover {
  transform: scale(1.02);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.actual__image {
  margin-top: 40px;
  width: 100%;
  display: block;
}
@media (min-width: 320px) and (max-width: 639px) {
  .actual__image {
    margin-top: 40px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .actual__image {
    margin-top: 40px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .actual__image {
    width: 600px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .actual__image {
    width: 600px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .actual__image {
    width: 670px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .actual__image {
    width: 870px;
  }
}
@media (min-width: 2560px) {
  .actual__image {
    width: 870px;
  }
}

.actual__image_2 {
  order: 2;
}
@media (min-width: 320px) and (max-width: 639px) {
  .actual__image_2 {
    order: 0;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .actual__image_2 {
    order: 0;
  }
}

.actual__image_3 {
  width: 1440px;
}
@media (min-width: 320px) and (max-width: 639px) {
  .actual__image_3 {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .actual__image_3 {
    width: 640px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .actual__image_3 {
    width: 1024px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .actual__image_3 {
    width: 1280px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .actual__image_3 {
    width: 1440px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .actual__image_3 {
    width: 1600px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .actual__image_3 {
    width: 1920px;
  }
}
@media (min-width: 2560px) {
  .actual__image_3 {
    width: 2560px;
  }
}

@media (min-width: 320px) and (max-width: 639px) {
  .actual__image-position {
    width: 320px;
    position: relative;
    left: 0;
    padding: 0;
    margin: 0;
    height: 210px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .actual__image-position {
    width: 640px;
    position: relative;
    left: -30px;
    padding: 0;
    margin-top: 20px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .actual__image-position {
    width: 1024px;
    position: relative;
    left: -51px;
    padding: 0;
    margin-top: 20px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .actual__image-position {
    width: 1280px;
    position: relative;
    left: -65px;
    padding: 0;
    margin-top: 20px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .actual__image-position {
    width: 1440px;
    position: relative;
    left: -72px;
    padding: 0;
    margin-top: 20px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .actual__image-position {
    width: 100vw;
    position: relative;
    left: -80px;
    padding: 0;
    margin-top: 20px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .actual__image-position {
    width: 100vw;
    position: relative;
    left: -95px;
    padding: 0;
    margin-top: 20px;
  }
}
@media (min-width: 2560px) {
  .actual__image-position {
    width: 100vw;
    position: relative;
    left: -127px;
    padding: 0;
    margin-top: 20px;
  }
}

.actual__event {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 320px) and (max-width: 639px) {
  .actual__event {
    margin-top: 19px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .actual__event {
    margin-top: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .actual__event {
    margin: 20px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .actual__event {
    margin: 20px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .actual__event {
    margin: 20px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .actual__event {
    margin: 20px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .actual__event {
    margin: 20px;
  }
}
@media (min-width: 2560px) {
  .actual__event {
    margin: 20px;
  }
}

.actual__event-card {
  margin: 25px 20px 15px;
}

.actual__event-position {
  background: #fff;
  box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
}
@media (min-width: 320px) and (max-width: 639px) {
  .actual__event-position {
    border: 1px solid #fff;
    transform: translate(0, -50px);
  }
}

.actual__type {
  font-family: IBM Plex Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  /* or 16px */
  color: #687480;
}

.actual__date {
  font-family: IBM Plex Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  color: #1a5a4c;
}

.actual__name {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 100%;
  display: flex;
  align-items: center;
  /* or 28px */
  color: #0f0e08;
  margin-top: 10px;
}
@media (min-width: 640px) and (max-width: 1023px) {
  .actual__name {
    margin-top: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .actual__name {
    margin: 20px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .actual__name {
    margin: 20px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .actual__name {
    margin: 20px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .actual__name {
    margin: 20px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .actual__name {
    margin: 20px;
  }
}
@media (min-width: 2560px) {
  .actual__name {
    margin: 20px;
  }
}

.actual__name::after {
  content: "";
  width: 15px;
  height: 15px;
  background: #f14a27;
  margin-left: 10px;
}

.actual__name_1 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  /* or 28px */
  color: #0f0e08;
  margin-top: 10px;
}
@media (min-width: 320px) and (max-width: 639px) {
  .actual__name_1 {
    margin-bottom: 34px;
  }
}

.actual__info {
  font-family: IBM Plex Sans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #4e4e4e;
}
@media (min-width: 320px) and (max-width: 639px) {
  .actual__info {
    margin-top: 10px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .actual__info {
    margin-top: 20px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .actual__info {
    margin: 20px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .actual__info {
    margin: 20px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .actual__info {
    margin: 20px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .actual__info {
    margin: 20px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .actual__info {
    margin: 20px;
  }
}
@media (min-width: 2560px) {
  .actual__info {
    margin: 20px;
  }
}

.gallery__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 320px) and (max-width: 639px) {
  .gallery__container {
    display: flex;
    flex-direction: column;
    margin: -20px auto 0;
  }
}

.gallery__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;
  /* identical to box height, or 36px */
  color: #0f0e08;
  text-align: center;
}

.gallery__image_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 40px auto;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 639px) {
  .gallery__image_container {
    margin-top: 50px;
    width: 280px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .gallery__image_container {
    margin: 50px auto;
    width: 640px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .gallery__image_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .gallery__image_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .gallery__image_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .gallery__image_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .gallery__image_container {
    display: flex;
    flex-direction: row;
    width: 1920px;
  }
}
@media (min-width: 2560px) {
  .gallery__image_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 2260px;
  }
}

.gallery__image {
  margin: 20px auto;
  transition: all 0.5s ease-in-out;
}

.gallery__image:hover {
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@media (min-width: 320px) and (max-width: 639px) {
  .gallery__image {
    width: 280px;
    margin-bottom: 20px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .gallery__image {
    margin-bottom: 20px;
    width: 600px;
    height: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .gallery__image {
    width: 300px;
    height: 100%;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .gallery__image {
    margin: 20px 15px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .image_1 {
    width: 400px;
    height: 100%;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .image_1 {
    width: 370px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .image_2 {
    width: 400px;
    height: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .image_3 {
    width: 400px;
    height: 100%;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .image_3 {
    order: 2;
  }
}
@media (min-width: 2560px) {
  .image_3 {
    order: 2;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .image_4 {
    width: 400px;
    height: 100%;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .image_4 {
    order: 2;
  }
}
@media (min-width: 2560px) {
  .image_4 {
    order: 2;
  }
}

.image_5,
.image_6 {
  display: none;
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .image_5,
  .image_6 {
    display: inline;
    order: 1;
  }
}
@media (min-width: 2560px) {
  .image_5,
  .image_6 {
    display: inline;
  }
}

@media (min-width: 1920px) and (max-width: 2559px) {
  .image_6 {
    order: 3;
  }
}
@media (min-width: 2560px) {
  .image_6 {
    order: 3;
  }
}

.gallery__image_controls {
  margin: 0 auto;
  display: none;
}
@media (min-width: 320px) and (max-width: 639px) {
  .gallery__image_controls {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .gallery__image_controls {
    display: flex;
    flex-direction: row;
  }
}

.image__controls {
  width: 9px;
  height: 9px;
  background: #e0e0e0;
  border-radius: 5px;
  margin-right: 22px;
}
@media (min-width: 320px) and (max-width: 639px) {
  .image__controls {
    margin-right: 22px;
  }
}

.image__controls:active {
  background: #1a5a4c;
}

.subscription {
  background: 50%/cover url(/images/subscription/subscription__background.png);
}
@media (min-width: 320px) and (max-width: 639px) {
  .subscription {
    margin-top: 100px;
    width: 320px;
    height: 386px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .subscription {
    margin-top: 80px;
    width: 640px;
    height: 386px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .subscription {
    margin-top: 80px;
    width: 1024px;
    height: 386px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .subscription {
    margin-top: 80px;
    width: 1280px;
    height: 386px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .subscription {
    margin-top: 80px;
    width: 1440px;
    height: 386px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .subscription {
    margin-top: 80px;
    width: 1600px;
    height: 386px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .subscription {
    margin-top: 80px;
    width: 1920px;
    height: 386px;
  }
}
@media (min-width: 2560px) {
  .subscription {
    margin-top: 80px;
    width: 2560px;
    height: 386px;
  }
}

.subscription__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  padding: 140px 69px 0;
  /* identical to box height, or 36px */
  color: #fff;
}
@media (min-width: 320px) and (max-width: 639px) {
  .subscription__title {
    padding: 55px 69px 0;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .subscription__title {
    padding: 55px 69px 0;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .subscription__title {
    padding: 55px 69px 0;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .subscription__title {
    padding: 85px 69px 0;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .subscription__title {
    padding: 85px 69px 0;
  }
}
@media (min-width: 2560px) {
  .subscription__title {
    padding: 85px 69px 0;
  }
}

.subscription__info {
  font-family: IBM Plex Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  text-align: center;
  padding: 20px 20px 0;
  color: #fff;
}
@media (min-width: 320px) and (max-width: 639px) {
  .subscription__info {
    padding: 30px 20px 0;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .subscription__info {
    padding: 30px 20px 0;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .subscription__info {
    padding: 30px 20px 0;
  }
}

.subscription__form {
  width: 470px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
@media (min-width: 320px) and (max-width: 639px) {
  .subscription__form {
    margin-left: 17px;
    width: 233px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .subscription__form {
    margin-left: 17px;
    width: 380px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .subscription__form {
    margin-left: 17px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}

.subscription__form_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 66px;
}
@media (min-width: 320px) and (max-width: 639px) {
  .subscription__form_container {
    margin-top: 48px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .subscription__form_container {
    margin-top: 48px;
    justify-content: center;
  }
}

.subscription__button {
  background: #f14a27;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription__button_arrow {
  width: 7px;
  height: 12px;
}

.placeholder__text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */
  color: #687480;
  width: 100%;
  height: 100%;
  padding-left: 31px;
}

.footer__container {
  display: grid;
}
@media (min-width: 320px) and (max-width: 639px) {
  .footer__container {
    margin: 50px 20px 0;
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .footer__container {
    grid-template-columns: 20% 40% 40%;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .footer__container {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .footer__container {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .footer__container {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .footer__container {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .footer__container {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}
@media (min-width: 2560px) {
  .footer__container {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}

.footer__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;
  height: 70px;
  /* or 36px */
  color: #0f0e08;
  transition: all 0.5s ease-in-out;
}

.footer__title:hover {
  text-shadow: 1px 1px 2px black, 0 0 1em black;
  color: #1a5a4c;
}
@media (min-width: 640px) and (max-width: 1023px) {
  .footer__title {
    grid-column: 1/2;
    justify-self: center;
    margin-top: 51px;
    grid-row: 1;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .footer__title {
    grid-column: 1/2;
    grid-row: 1;
    margin-top: 51px;
    justify-self: center;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .footer__title {
    grid-column: 1/2;
    grid-row: 1;
    margin-top: 51px;
    justify-self: center;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .footer__title {
    grid-column: 1/2;
    grid-row: 1;
    margin-top: 51px;
    justify-self: center;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .footer__title {
    grid-column: 1/2;
    grid-row: 1;
    margin-top: 51px;
    justify-self: center;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .footer__title {
    grid-column: 1/2;
    grid-row: 1;
    margin-top: 51px;
    justify-self: center;
  }
}
@media (min-width: 2560px) {
  .footer__title {
    grid-column: 1/2;
    grid-row: 1;
    margin-top: 51px;
    justify-self: center;
  }
}

.footer__socials {
  display: flex;
  align-self: center;
  justify-self: end;
}
@media (min-width: 640px) and (max-width: 1023px) {
  .footer__socials {
    grid-column: 1/2;
    justify-self: center;
    margin-top: 62px;
    grid-row: 1;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .footer__socials {
    grid-column: 1/2;
    grid-row: 1;
    justify-self: center;
    margin-top: 162px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .footer__socials {
    grid-column: 1/2;
    grid-row: 1;
    justify-self: center;
    margin-top: 162px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .footer__socials {
    grid-column: 1/2;
    grid-row: 1;
    justify-self: center;
    margin-top: 162px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .footer__socials {
    grid-column: 1/2;
    grid-row: 1;
    justify-self: center;
    margin-top: 162px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .footer__socials {
    grid-column: 1/2;
    grid-row: 1;
    justify-self: center;
    margin-top: 162px;
  }
}
@media (min-width: 2560px) {
  .footer__socials {
    grid-column: 1/2;
    grid-row: 1;
    justify-self: center;
    margin-top: 162px;
  }
}

.footer__facebook {
  background-image: url(/images/footer/Facebook.svg);
  content: "";
  width: 12px;
  height: 24px;
  transition: all 0.5s ease-in-out;
  margin-right: 26px;
  cursor: pointer;
}

.footer__facebook:hover {
  transform: scale(1.1);
  filter: invert(80%)
    sepia(60%)
    saturate(3207%)
    hue-rotate(130deg)
    brightness(95%)
    contrast(80%);
}
@media (min-width: 320px) and (max-width: 639px) {
  .footer__facebook {
    margin-right: 20px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .footer__facebook {
    margin-right: 26px;
  }
}

.footer__instagram {
  background-image: url(/images/footer/instagram.svg);
  content: "";
  width: 24px;
  height: 24px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.footer__instagram:hover {
  transform: scale(1.1);
  filter: invert(80%)
    sepia(60%)
    saturate(3207%)
    hue-rotate(130deg)
    brightness(95%)
    contrast(80%);
}

.footer__schedule {
  grid-column: 1/2;
}
@media (min-width: 320px) and (max-width: 639px) {
  .footer__schedule {
    width: 128px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .footer__schedule {
    grid-column: 2/3;
    grid-row: 1;
    margin-top: 51px;
    margin-left: 55px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .footer__schedule {
    grid-column: 2/3;
    margin-top: 55px;
    width: 200px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .footer__schedule {
    grid-column: 2/3;
    margin-top: 55px;
    width: 200px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .footer__schedule {
    grid-column: 2/3;
    margin-top: 55px;
    width: 200px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .footer__schedule {
    grid-column: 2/3;
    margin-top: 55px;
    width: 200px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .footer__schedule {
    grid-column: 2/3;
    margin-top: 55px;
    width: 200px;
  }
}
@media (min-width: 2560px) {
  .footer__schedule {
    grid-column: 2/3;
    margin-top: 55px;
    width: 200px;
  }
}

.footer__schedule_title {
  font-family: IBM Plex Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;
  /* identical to box height, or 20px */
  color: #0f0e08;
}
@media (min-width: 320px) and (max-width: 639px) {
  .footer__schedule_title {
    margin-top: 40px;
  }
}

.footer__schedule_hours {
  font-family: IBM Plex Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  /* or 21px */
  color: #0f0e08;
}
@media (min-width: 320px) and (max-width: 639px) {
  .footer__schedule_hours {
    margin-top: 20px;
  }
}

@media (min-width: 320px) and (max-width: 639px) {
  .footer__contacts {
    margin-top: 40px;
    width: 128px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .footer__contacts {
    margin-top: 51px;
    width: 190px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .footer__contacts {
    margin-top: 55px;
    width: 190px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .footer__contacts {
    margin-top: 55px;
    width: 190px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .footer__contacts {
    margin-top: 55px;
    width: 190px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .footer__contacts {
    margin-top: 55px;
    width: 190px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .footer__contacts {
    margin-top: 55px;
    width: 190px;
  }
}
@media (min-width: 2560px) {
  .footer__contacts {
    margin-top: 55px;
    width: 190px;
  }
}

.footer__contacts_title {
  font-family: IBM Plex Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;
  /* identical to box height, or 20px */
  color: #0f0e08;
}

.footer__contacts_map {
  font-family: IBM Plex Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;
  /* identical to box height, or 20px */
  color: #0f0e08;
}
@media (min-width: 320px) and (max-width: 639px) {
  .footer__contacts_map {
    margin-top: 20px;
  }
}

.footer__arrow-up {
  background-image: url(/images/footer/Arrow-up.svg);
  width: 50px;
  height: 50px;
  justify-self: end;
  content: "";
  transition: all 0.5s ease-in-out;
}

.footer__arrow-up:hover {
  transform: rotate(360deg) scale(1.3);
}
@media (min-width: 320px) and (max-width: 639px) {
  .footer__arrow-up {
    margin-top: 147px;
    margin-left: 90px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .footer__arrow-up {
    display: none;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .footer__arrow-up {
    display: none;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .footer__arrow-up {
    display: none;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .footer__arrow-up {
    display: none;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .footer__arrow-up {
    display: none;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .footer__arrow-up {
    display: none;
  }
}
@media (min-width: 2560px) {
  .footer__arrow-up {
    display: none;
  }
}

.footer__line {
  background: rgba(26, 90, 76, 0.5);
  transform: rotate(0deg);
  height: 1px;
  grid-column: 1/2;
  margin-top: 20px;
  width: 400px;
  justify-self: auto;
  align-items: center;
  margin-left: 120px;
}
@media (min-width: 320px) and (max-width: 639px) {
  .footer__line {
    background: rgba(26, 90, 76, 0.5);
    transform: rotate(0deg);
    height: 1px;
    grid-column: auto;
    margin-top: 20px;
    width: 280px;
    margin-left: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .footer__line {
    transform: rotate(90deg);
    grid-column: 3/4;
    align-items: flex-start;
    margin-left: 0;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .footer__line {
    transform: rotate(90deg);
    grid-column: 3/4;
    align-items: flex-start;
    margin-left: 20px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .footer__line {
    transform: rotate(90deg);
    grid-column: 3/4;
    align-items: flex-start;
    margin-left: 20px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .footer__line {
    transform: rotate(90deg);
    grid-column: 3/4;
    align-items: flex-start;
    margin-left: 50px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .footer__line {
    transform: rotate(90deg);
    grid-column: 3/4;
    align-items: flex-start;
    margin-left: 80px;
  }
}
@media (min-width: 2560px) {
  .footer__line {
    transform: rotate(90deg);
    grid-column: 3/4;
    align-items: flex-start;
  }
}

@media (min-width: 320px) and (max-width: 639px) {
  .footer__links_container {
    margin-top: 40px;
  }
}

@media (min-width: 320px) and (max-width: 639px) {
  .list__left {
    margin-top: 40px;
    grid-column: 1/2;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .list__left {
    grid-column: 2/3;
    margin-top: 40px;
    justify-self: center;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .list__left {
    grid-column: 4/5;
    grid-row: 1;
    margin-top: 55px;
    margin-left: 20px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .list__left {
    grid-column: 4/5;
    grid-row: 1;
    margin-top: 55px;
    margin-left: 20px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .list__left {
    grid-column: 4/5;
    grid-row: 1;
    margin-top: 55px;
    margin-left: 20px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .list__left {
    grid-column: 4/5;
    grid-row: 1;
    margin-top: 55px;
    margin-left: 20px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .list__left {
    grid-column: 4/5;
    grid-row: 1;
    margin-top: 55px;
    margin-left: 20px;
  }
}
@media (min-width: 2560px) {
  .list__left {
    grid-column: 4/5;
    grid-row: 1;
    margin-top: 55px;
    margin-left: 20px;
  }
}

@media (min-width: 320px) and (max-width: 639px) {
  .list__right {
    margin-top: 40px;
    justify-self: end;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .list__right {
    grid-column: 3/4;
    margin-top: 40px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .list__right {
    grid-column: 5/6;
    grid-row: 1;
    margin-top: 55px;
    margin-left: 20px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .list__right {
    grid-column: 5/6;
    grid-row: 1;
    margin-top: 55px;
    margin-left: 20px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .list__right {
    grid-column: 5/6;
    grid-row: 1;
    margin-top: 55px;
    margin-left: 20px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .list__right {
    grid-column: 5/6;
    grid-row: 1;
    margin-top: 55px;
    margin-left: 20px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .list__right {
    grid-column: 5/6;
    grid-row: 1;
    margin-top: 55px;
    margin-left: 20px;
  }
}
@media (min-width: 2560px) {
  .list__right {
    grid-column: 5/6;
    grid-row: 1;
    margin-top: 55px;
    margin-left: 20px;
  }
}

.list__item {
  list-style: none;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 639px) {
  .list__item {
    margin-bottom: 20px;
  }
}

.list__link {
  text-decoration: none;
  font-family: IBM Plex Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */
  color: #0f0e08;
  transition: all 0.5s ease-in-out;
}

.list__link:hover {
  text-shadow: 1px 1px 2px black, 0 0 1em black;
  color: #1a5a4c;
}

.footer__copyright_container {
  grid-column: 1/4;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 639px) {
  .footer__copyright_container {
    margin-top: 70px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .footer__copyright_container {
    margin-top: 50px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .footer__copyright_container {
    margin-left: 65px;
    margin-top: 85px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .footer__copyright_container {
    margin-left: 65px;
    margin-top: 85px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .footer__copyright_container {
    margin-left: 65px;
    margin-top: 85px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .footer__copyright_container {
    margin-left: 65px;
    margin-top: 85px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .footer__copyright_container {
    margin-left: 65px;
    margin-top: 85px;
  }
}
@media (min-width: 2560px) {
  .footer__copyright_container {
    margin-left: 65px;
    margin-top: 85px;
  }
}

@media (min-width: 320px) and (max-width: 639px) {
  .footer__design {
    grid-column: 1/3;
    justify-self: center;
    margin-top: 70px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .footer__design {
    grid-column: 2/3;
    margin-top: 55px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .footer__design {
    grid-column: 2/3;
    margin-top: 85px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .footer__design {
    grid-column: 2/3;
    margin-top: 85px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .footer__design {
    grid-column: 2/3;
    margin-top: 85px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .footer__design {
    grid-column: 2/3;
    margin-top: 85px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .footer__design {
    grid-column: 2/3;
    margin-top: 85px;
  }
}
@media (min-width: 2560px) {
  .footer__design {
    grid-column: 2/3;
    margin-top: 85px;
  }
}

@media (min-width: 320px) and (max-width: 639px) {
  .footer__copyright {
    grid-column: 1/3;
    justify-self: center;
    margin-top: 14px;
    margin-bottom: 48px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .footer__copyright {
    grid-column: 3/4;
    grid-row: 3;
    margin-top: 55px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .footer__copyright {
    grid-column: 5/6;
    margin-top: 85px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .footer__copyright {
    grid-column: 5/6;
    margin-top: 85px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .footer__copyright {
    grid-column: 5/6;
    margin-top: 85px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .footer__copyright {
    grid-column: 5/6;
    margin-top: 85px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .footer__copyright {
    grid-column: 5/6;
    margin-top: 85px;
  }
}
@media (min-width: 2560px) {
  .footer__copyright {
    grid-column: 5/6;
    margin-top: 85px;
  }
}

.page {
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 639px) {
  .page {
    width: 320px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .page {
    width: 640px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .page {
    width: 1024px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .page {
    width: 1280px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .page {
    width: 1440px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .page {
    width: 1600px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .page {
    width: 1920px;
  }
}
@media (min-width: 2560px) {
  .page {
    width: 2560px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  width: 100vw;
  max-width: 100vw;
  margin: 0 auto;
  background: #eee;
}
@media (min-width: 320px) and (max-width: 639px) {
  body {
    width: 320px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  body {
    width: 640px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  body {
    width: 1024px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  body {
    width: 1280px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  body {
    width: 1440px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  body {
    width: 1600px;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  body {
    width: 1920px;
  }
}
@media (min-width: 2560px) {
  body {
    width: 2560px;
  }
}

/*# sourceMappingURL=main.css.map */
