@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-family: ibm plex sans, sans-serif;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montserrat, sans-serif;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

p {
  font-family: ibm plex sans, sans-serif;
}

input {
  outline: none;
}

.html {
  position: relative;
}

.header__sidebar {
  display: grid;
  grid-template-columns: minmax(300px, 500px) 1fr;
  height: 655px;
}

.block {
  position: absolute;
  top: 235px;
  left: -300px;
}

.menu-image {
  position: relative;
  display: block;
  background-image: url("../images/Natsionalnij-hudozhnij-muzej-Ukrayini-Kiyiv-10-1800x1200.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100%;
}

.menu-image__text {
  font-family: montserrat, sans-serif;
  font-size: 72px;
  line-height: 100%;
  font-weight: 700;
}

.menu-image__text span {
  -webkit-text-stroke: 2px #000;
  color: transparent;
}

.nav {
  margin-top: 39px;
  display: flex;
  align-items: center;
}

.nav__toggler {
  display: none;
}

.nav__logo {
  position: absolute;
  right: calc(50% - (62px / 2));
  font-size: 36px;
  font-family: montserrat, sans-serif;
  font-weight: bold;
  line-height: 100%;
  z-index: 1;
}

.label {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6px 3px;
  width: 18px;
  height: 12px;
  cursor: pointer;
}

.label span {
  display: block;
  width: 12px;
  height: 2px;
  background-color: #000;
  color: #000;
}

.tickets {
  display: flex;
  width: 220px;
  margin-top: 80px;
  font-size: 16px;
  border: 1px solid #1a5a4c;
}

.tickets__option {
  width: 150px;
  font-weight: 500;
  text-align: center;
  line-height: 70px;
}

.tickets__button {
  width: 70px;
  height: 70px;
}

.tickets__button--primary {
  background: url("../images/Vector.svg") no-repeat 50%;
  background-color: #1a5a4c;
}

.tickets__button--secondary {
  background: url("../images/Vector.svg") no-repeat 50% #000;
  background-color: #f14a27;
}

.tickets__button:hover {
  cursor: pointer;
}

.option__text {
  font-family: ibm plex sans, sans-serif;
  font-weight: 500;
}

.page {
  padding-left: 55px;
}

.container {
  margin: 100px 0;
  padding: 0 55px;
}

.main-events__event {
  margin-top: 60px;
}

.event {
  display: flex;
}

.event--position {
  align-items: end;
}

.content {
  display: flex;
  flex-direction: column;
  width: 370px;
}

.content__header {
  margin: 30px 0 15px;
}

.event .content {
  margin-top: 50px;
}

.event .content__header {
  position: relative;
  font-family: montserrat, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.event .content__header::after {
  content: " ";
  position: absolute;
  margin-left: 15px;
  top: 12px;
  line-height: 36px;
  width: 15px;
  height: 15px;
  background-color: #f14a27;
}

.event__nature-image {
  background-position: center top;
  background-size: cover;
}

.event__nature-image--first {
  margin-right: 130px;
}

.event__nature-image--second {
  margin-left: 130px;
}

.type {
  display: flex;
  align-items: center;
}

.type__name {
  margin-right: 26px;
  font-family: ibm plex sans, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.type__date {
  font-family: ibm plex sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  color: #1a5a4c;
}

.content__text {
  font-family: ibm plex sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}

.lection {
  background-image: url("../images/Rectangle 20.1.png");
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: relative;
}

.lection__nature {
  position: absolute;
  bottom: -102px;
  left: calc(50% - (570px / 2));
}

.part {
  margin: 45px 100px 50px;
}

.nature {
  width: 570px;
  box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
  background-color: #fff;
}

.nature__header {
  margin-top: 16px;
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 100%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info__name {
  font-family: ibm plex sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}

.info__date {
  font-family: ibm plex sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  color: #1a5a4c;
}

.email {
  padding-left: 35px;
}

.galery__album {
  margin-bottom: 60px;
}

.album {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 660px 360px;
  grid-gap: 30px;
}

.album__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.album__image-cell--1 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.album__image-cell--2 {
  grid-column-start: 5;
  grid-column-end: 13;
}

.album__image-cell--3 {
  grid-column-start: 1;
  grid-column-end: 9;
}

.album__image-cell--4 {
  grid-column-start: 9;
  grid-column-end: 13;
}

.footer-top {
  background-image: url("../images/Rectangle 22.png");
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
}

.footer-top__subscribe {
  position: absolute;
  left: calc(50% - (570px / 2));
  top: 140px;
}

.subscribe {
  text-align: center;
}

.subscribe__field {
  margin-top: 66px;
}

.subscribe__header {
  width: 570px;
  color: #fff;
}

.subscribe__text {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.field {
  display: flex;
  justify-content: space-between;
}

.field__email {
  width: 470px;
}

.footer-bottom {
  margin: 50px 0 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
  position: relative;
}

.footer-bottom::after {
  position: absolute;
  top: 0;
  left: 50%;
  content: "";
  height: 260px;
  width: 1px;
  background-color: rgba(26, 90, 76, 0.5);
}

.left-side {
  display: flex;
  justify-content: space-between;
}

.icons {
  display: inline-flex;
  flex-direction: column;
}

.icons__social {
  margin-top: 62px;
  display: flex;
  justify-content: space-between;
}

.shedule {
  display: flex;
  flex-direction: column;
}

.shedule__days {
  margin-top: 20px;
  font-size: 14px;
}

.shedule__days span {
  font-weight: 600;
}

.right-side {
  display: flex;
  justify-content: space-around;
}

.item {
  padding-bottom: 20px;
}

@media (min-width: 1280px) {
  .container {
    padding: 0 175px;
  }

  .page {
    padding-left: 175px;
  }
}

@media (min-width: 1850px) {
  .menu-image {
    background-position: center -400px;
  }
}

@media (min-width: 1920px) {
  .container {
    padding: 0 400px;
  }
}
