.main-event {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 102px;
  justify-items: center;
  margin: 50px 0 100px;

  &__image {
    max-width: 100%;

    & img {
      object-fit: cover;
    }
  }

  &__description {
    align-self: end;
    width: 570px;
    height: 204px;
    padding: 45px 100px 50px;
    background-color: #fff;
    box-shadow: 0px 2px 0px rgba(26, 90, 76, 0.25);

    &-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-type {
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: #687480;
    }

    &-date {
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      color: #1A5A4C;
    }

    &-name {
      font-family: 'Montserrat', sans-serif;
      font-size: 36px;
      font-weight: normal;
    }
  }
}
