@import "utils";
@import "typography";
@import "container";
@import "font-icons/style";
@import "header/header";
@import "header/overlay";
@import "header/menu";
@import "header/nav";
@import "wrapper.container";
@import "title";
@import "carousel";
@import "main/current-events";
@import "main/current-event";
@import "main/gallery";
@import "main/subscription";
@import "footer/footer";

* {
  box-sizing: border-box;
}

html {
  font-family: "IBM Plex Sans", "Arial", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

.block-scroll {
  overflow: hidden;
}

#myBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  border: 1px solid $main-color;
  background: url("../images/icons/arrow-up.svg") center center no-repeat;
  bottom: 200px;
  right: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;

  @include onTablet {
    right: 50px;
  }

  @include onDesktop {
    right: 100px;
  }

  &:hover {
    box-shadow: 0 0 10px $main-color;
  }
}
