@media screen and (max-width: 1724px) {
  .gallery {
    width: 1170px;
    margin-left: 55px;
    margin-right: 55px;

    &__photo:nth-child(3),
    &__photo:nth-child(6) {
      display: none;
    }

    &__photo:nth-child(2),
    &__photo:nth-child(5) {
      margin-right: 0;
    }

    &__pictures {
      max-width: 1170px;
    }
  }

  .event__heading {
    margin-left: 55px;
    margin-right: 55px;
  }

  .event__event1 {
    margin-left: 55px;
    margin-right: 55px;
  }

  .event__event2 {
    margin-left: 55px;
    margin-right: 55px;
  }

  .footer {
    margin: 700px 55px 0;
  }

  .design {
    margin: 84px 55px 35px;
  }
}
