.menu {

  &__background {
    background-color: $c-dark-green;
  }

  &__content {
    margin-left: 20px;
    margin-right: 20px;
    padding-block: 27px;

    @include onTablet {
      display: flex;
      padding-block: 40px;
      margin-left: 39px;
      margin-right: 39px;
    }

    @include onDesktop {
      margin-left: 55px;
      margin-right: 55px;
    }
  }

  &__top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    @include onTablet {
      width: 50%;
      border-bottom: none;
    }
  }

  &__bottom-bar {
    @include onTablet {
      padding-left: 38px;
      width: 50%;
      border-left: 1px solid rgba(255, 255, 255, 0.5);
    }

    @include onDesktop {
      padding-left: 102px;
    }
  }

  &__close {
    background-image: url(/images/icon/icon_close_menu.svg);
    height: 24px;
    width: 24px;
    margin-right: 28px;
    transition: transform $speedAnimation;

    &:hover {
      transform: scale(1.1);
    }

    @include onTablet {
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__nav {
    margin: 0 auto;
  }
}
