.nav {
  position: relative;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    list-style: none;
    margin-bottom: 20px;
  }

  &__link {
    position: relative;
    font-size: 14px;
    color: #0f0e08;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: #0f0e08;
      text-decoration: none;
    }
  }

  @media (min-width: 1200px) {
    &__list {
      width: 300px;
    }
  }
}
