.nav {
  display: flex;
  flex-direction: row;
  
  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 54px;
    padding: 0 $leftSmallMargin;
    color: black;
    transition: background-color 0.5s, color 0.1s;
    
    &:hover {
      color: $grayColor;
      background-color: white;
    }
        
    @media screen and (min-width: $breakpoint1) {
      padding: 0 $leftMediumMargin;
    }

    @media screen and (min-width: $breakpoint2) {
      padding: 0 $leftBigMargin;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    transition: color $hoverDuration;

    &:hover {
      color: $grayColor;
    }
  }

  @media screen and (min-width: $breakpoint1) {
    // display: flex;
    flex-direction: row;
  }
}
