.navigation {
    padding: 40px 0 80px;
    display: grid;
    row-gap: 20px;
    grid-template-columns: 50% 50%;

    &__link {
      text-decoration: none;
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: $c-for-text;
    }
  }
