.navigation {
  &__list {
    position: absolute;
    top: 216px;
    left: $containerSideIndentDesk;
    width: 570px;
    display: none;
    list-style: none;
    border-bottom: 1px solid rgba(241, 245, 244, 0.3);

    @media (max-width: 690px) {
      top: 140px;
      border-bottom: none;
    }
  }

  &__link {
    display: block;
    margin-bottom: 60px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    color: $colorLight;

    @include hover(opacity, 0.6);

    @media (max-width: 690px) {
      font-size: 24px;
      margin-bottom: 40px;
    }
  }
}
