.news {
  position: relative;
  display: flex;
  flex-direction: column;


  width: 100vw;

  padding-top: 120px;
  padding-bottom: 240px;
  padding-left: calc(50% - 585px);
  padding-right: calc(50% - 585px);

  &__title {
    margin-bottom: 75px;
    margin-left: 200px;
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    margin-bottom: 95px;
  }

  &__link {
    position: relative;

    margin-left: calc(50% + 325px);
    margin-right: auto;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #1c1b29;
    text-decoration: none;

    transition: 300ms;

    &:hover {
      transform: scale(1.1);
      text-decoration: underline;
    }

    &::after {
      content: "";
      position: absolute;
      top: 7px;
      left: 100px;
      width: 70px;
      height: 1px;
      background-color: #1c1b29;
    }
  }

  // @media screen and (max-width: 800px) {
  // }
}
