.news {

  &__date {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
  }

  &__name {
    margin-bottom: 15px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: $colorHeading;
  }

  &__slider {
    display: none;
    width: 48px;
    height: 8px;
    margin-top: 20px;

    &-item {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $colorMain;
      opacity: 0.3;

      @include hover(opacity, 1);
    }

    @media (max-width: $breakpointSmall) {
      display: flex;
      justify-content: space-between;
      align-self: center;
    }
  }
}
