h2 {
  display: flex;
  justify-content: center;

  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #0f0e08;

  @include biggerScreen {
    font-size: 48px;
    justify-content: start;
  }
}
