* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h4 {
  margin-bottom: 20px;
}

a {
  margin: 0;
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

ul {
  list-style-type: none ;
  margin: 0;
  padding: 0;
}
