.outside-title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  line-height: 100%;
  font-weight: normal;
  display: flex;
  align-items: center;
  margin-top: 30px;

  &::after {
    position: relative;
    right: -30px;
    height: 15px;
    width: 15px;
    background-color: #f14a27;
    content: "";
    margin-right: 9px;
  }
}

@media screen and (max-width: 550px) {
  .outside-title {
    font-size: 28px;
  }
}
