.Promo {
  position: relative;
  display: grid;
  grid-template-columns: 555px 1fr;

  &__title {
    position: absolute;
    margin-top: 235px;
    margin-left: 255px;
 

    font-family: $titleFont;
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
    -webkit-text-stroke: 1px #0f0e08;
    color: #0f0e08;
    text-transform: uppercase;
  }

  &__toggler {
    position: absolute;
  }

  &__pointer {
    margin-top: 585px;
    margin-left: 55px;

    font-family: $textFont;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #687480;

    transform: rotate(-90deg);
    transform-origin: left;

    &::before {
      content: "";
      display: inline-block;
      width: 70px;
      height: 1px;
      background-color: #1a5a4c;
      margin-right: 20px;
      margin-bottom: 4px;

    }
  }

  &__image {
    padding-top: 15px;
    padding-left: 50px;

    font-family: $titleFont;
    font-size: 36px;
    color: #0f0e08;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;

    background: url(/images/Natsionalnij-hudozhnij-muzej-Ukrayini-Kiyiv-10-1800x1200.png);
    background-position: center;
    background-size: cover;
  }

  &__link {
    position: absolute;
    display: flex;
    justify-content: center ;
    align-items: center;

    margin-left: 255px;
    top: 467px;

    font-family: $textFont;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: black;

    width: 150px;
    height: 70px;

    border: 1px solid #1a5a4c;

    transition: 0.3s;

    &:hover {
      color: white;
      background-color: #1a5a4c;
      transform: scale(1.1);
    }
  }
}
