* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
button,
input,
form,
ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
a,
li {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "IBM Plex Sans", sans-serif;
}
