* {
  transition: all 0.3s;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: unset;
}
