* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1 { /*ХУДОЖНІЙ МУЗЕЙ*/
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  color: #000;

  @media (max-width: $min-desktop-width) {
    font-size: 55px;
  }

  @media (max-width: $min-tablet-width) {
    font-size: 45px;
    text-align: center;
  }
}

h2 { /*Актуальні події*/
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: $color-black-text;

  @media (max-width: $min-tablet-width) {
    font-size: 36px;
    text-align: center;
  }
}

h3 { /*Йду і повертаюсь*/
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: $color-black-text;

  @media (max-width: $min-tablet-width) {
    font-size: 28px;
  }

}

h4 { /*date*/
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: $color-green;

  @media (max-width: $min-tablet-width) {
    font-size: 16px;
  }
}

h5 { /*exhibition*/
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: $color-grey-subtitle;
  text-transform: uppercase;

  @media (max-width: $min-tablet-width) {
    font-size: 16px;
  }
}

h6 { /*Бути в курсі всіх актуальних подій та останніх новин.*/
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #fff;

  @media (max-width: $min-tablet-width) {
    line-height: 150%;
  }

}

p {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $color-grey-text;
}
