.from-romantism {
  width: 100%;
  position: relative;
  height: 674px;
  margin-bottom: 216px;
  
  &__background {
    width: 100%;
    position: relative;
    height: 674px;
  }
  
  &__options {
    display: flex;
    flex-wrap: nowrap;
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 45px 0 16px 100px;
  }
  
  &__type {
    color: #687480;
    text-transform: uppercase;
    font-family: inherit;
    margin-right: 146px;
  }
  
  &__description {
    position: absolute;
    width: 570px;
    height: 204px;
    top: calc(100% - 88px);
    left: calc(50% - 570px / 2);
    background-color: #fff;
    border-bottom: 2px solid #e5e5e5;
  }
  
  &__date {
    color: #1a5a4c;
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 500;
    font-size: 14px;
  }

  &__name {
    display: inline-block;
    position: relative;
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #0f0e08;
    margin-left: 100px;
  }

  .smll-scr {
    display: none;
  }
}
