.schedule {
  color: $main-white;
  font-weight: 400;

  &--footer {
    color: $main-dark;
  }

  &__content {
    margin-top: 20px;
    display: flex;
    gap: 16px;
    flex-direction: column;

    @include on-tablet {
      flex-direction: row;
      gap: 26px;
    }

    @include on-desktop {
      gap: 30px;
    }

    &--footer {
      @include on-tablet {
        flex-direction: column;
      }
    }
  }

  &__list {
    padding: 0;
    list-style: none;
  }

  &__list-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $main-white;

    &--footer {
      color: $main-dark;
    }
  }

  &__list-day {
    font-weight: 400;
  }

  &__daysoff {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    @include on-tablet {
      width: 40%;
    }

    &-title {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: $main-white;
    }

    &--footer {
      width: 100%;
    }
  }
}
