.schedule {
  @include on-tablet {
    display: flex;
    gap: 26px;
  }

  @include on-desktop {
    gap: 30px;
  }

  &__work {
    margin-bottom: 16px;

    @include on-tablet {
      margin: 0;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;

    font-size: 14px;
    font-weight: 400;
    line-height: 141%;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__text {
    font-family: IBMPlexSans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    &--bold {
      font-weight: 600;
    }

    &--black {
      color: $title-color;
    }
  }

  &__weekend {
    @include on-tablet {
      max-width: 144px;
      margin-top: 40px;
    }
  }
}
