.schedule {

  &__title {
    margin-bottom: 20px;
  }

  &__span {
    font-weight: 600;
  }

  &__list {
    margin-bottom: 20px;
  }
}

@media (max-width: 550px) {
  .schedule {
    &__item {
      display: grid;
      grid-template-rows: repeat(2,1fr);
    }
  }
}
