.scroll__top {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid $background-c-green;
  background-color: transparent;

  background-image: url(../images/icons/arrow-up.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(0.9);
  transition: 0.3 ease-in-out transform;

  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99;
  cursor: pointer;

  &:hover {
    transform: scale(1);
  }
}
