.second-row {
  display: none;

  @include onDesktop {
    @include pageGrid;

    &__image {
      &--1 {
        @include onDesktop {
          grid-column: span 8;
          height: 100%;
          width: 100%;
          transition: scale 0.3s;

          @include hover (transform, scale(1.05));
        }
      }

      &--2 {
        grid-column: span 4;
        width: 100%;
        height: 100%;
        transition: scale 0.3s;

        @include hover (transform, scale(1.05));
      }
    }
  }
}
