.section {
  text-align: center;

  &__events {
    @include contentPaddingInline;
    text-align: center;
    margin: 253px 0 40px;

    @include onTablet {
      text-align: left;
      margin: 88px 0 48px;
    }

    @include onDesktop {
      margin: 200px 0 56px;
    }
  }

  &__subscription {
    color: $white;
    margin-bottom: 20px;
  }

  &__gallery {
    margin: 183px 0 56px;

    @include onDesktop {
      text-align: left;
    }
  }
}
