.section {
  width: 100%;
  // background-color: pink;
  padding-left: $leftSmallMargin;
  padding-right: $leftSmallMargin;

  &__title {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $breakpoint1) {
    padding-left: $leftMediumMargin;
    padding-right: $leftMediumMargin;
  }

  @media screen and (min-width: $breakpoint2) {
    padding-left: $leftBigMargin;
    padding-right: $leftBigMargin;
  }
}
