.section {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 175px;

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    padding: 100px 0 60px;
  }
}

@media screen and (max-width: 1920px) {
  .section {
    padding: 0 55px;
  }
}

@media screen and (max-width: 1250px) {
  .section {
    text-align: start;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .section {
    padding: 0 55px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 0 34px;
    margin-bottom: 90px;

    &__title {
      font-size: 36px;
      line-height: 100%;
      text-align: center;
      padding: 70px 0 40px;
    }
  }
}
