.selection {
  position: absolute;
  top: $containerTopIndent + 8px;
  right: $containerSideIndentDesk + 17px;
  width: 31px;
  z-index: 5;

  &__languages {
    display: block;
  }

  &__item {
    display: none;
  }

  &__label {
    @extend %p;
    color: $colorLight;
    cursor: pointer;
  }
}
