.schedule {
  font-family: $ff-ibm;
  line-height: 21px;

  &__title {
    margin-bottom: 20px;
  }
  
  &__hours {
    font-size: 14px;
  }

  &__hours--font-weight {
    font-weight: $fw-bold;
  }

  &__text {
    margin-top: 20px;
  }

  &__text--font-weight {
    font-weight: $fw-bold;
  }
}

@media (max-width: calc(#{$tablet-width} - 100px)) {
  .shedule {
    width: 130px;
  }
}

@media (max-width: calc(#{$phone-width} - 50px)) {
  .schedule {
    width: 100px;
  }
}
