.side-link {
  padding: 20px 20px 20px 0;

  display: flex;

  align-items: center;

  text-decoration: none;
  color: $color-grey-subtitle;

  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 0.02s;

  &:hover {
    cursor: pointer;
    animation-name: bounce;
  }

  &__line {
    position: relative;
    top: 2px;

    margin-right: 20px;

    width: 70px;
    height: 1px;

    background-color: $color-green;
  }

  &__word {
    text-transform: uppercase;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
  }

  @media (max-width: $min-desktop-width) {
    display: none;
  }
}
