.sign-up {
  margin-top: 100px;
  position: relative;

  @include onTablet {
    margin-top: 92px;
  }

  @include onDesktop {
    margin-top: 200px;
  }

  &-link {
    width: 100%;

    &-photo {
      width: 100%;
      display: block;
      height: 386px;
      object-fit: cover;
      object-position: center;
    }
  }

  &-title {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #FFF;

    @include onTablet {
      font-size: 48px;
    }
  }

  &-description {
    margin-top: 20px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    text-align: center;
    color: #FFF;

    @include onTablet {
      white-space: nowrap;
      margin-top: 16px;
    }
  }

  &-contact-form {
    margin-top: 50px;
    display: flex;

    // flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: center;

    @include onTablet {
      gap: 16px;
      margin-top: 64px;
    }


    &-email {
      width: 230px;
      height: 50px;
      background-color: #FFF;
      padding: 18px 24px;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      text-align: left;
      color: #687480;
      cursor: pointer;
      border: none;
      box-sizing: border-box;
      margin: 0;
    }

    &-red-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border: none;
      background-color: #F14A27;
      margin: 0;
    }
  }

  // &-red-box {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 50px;
  //   height: 50px;
  //   border: none;
  //   background-color: #F14A27;
  //   margin: 0;
  // }
}

// .container-for-form-and-square {
//   margin-top: 50px;
//   display: flex;

//   // flex-direction: row;
//   gap: 0;
//   align-items: center;
//   justify-content: center;

//   @include onTablet {
//     gap: 16px;
//     margin-top: 64px;
//   }

// }

.container-for-all-form {
  position: absolute;
  bottom: 88px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0; /* Зменшення внутрішніх відступів */
}
