.sign-up {

  &-link {
    display: flex;
    width: 100%;

    &-photo {
      width: 100%;
      display: block;
      // height: 390px;
      object-fit: cover;
      object-position: center;
    }
  }
}
