.slider {
  margin-top: 30px;
  display: none;
  gap: 22px;
  justify-content: center;

  &__round {
    width: 9px;
    height: 9px;
    background-color: grey;
    border-radius: 50%;

    &:target {
      background-color: #1a5a4c;
    }
  }

  @include onTablet {
    display: flex;
  }
}
