.square {
  cursor: pointer;

  &--green {
    background: #1a5a4c url("../images/arrow-top.png") center no-repeat;
  }

  &--orange {
    background: #f14a27 url("../images/arrow-top.png") center no-repeat;
  }

  @media (min-width: 320px) {
    $squareWidth: 50px;

    width: $squareWidth;
    height: $squareWidth;
  }

  @media (min-width: 768px) {
    $squareWidth: 70px;

    width: $squareWidth;
    height: $squareWidth;
  }

  @media (min-width: 1300px) {
    display: block;
    align-self: flex-start;
  }
}
