.square {
  cursor: pointer;

  &--green {
    background: $greenColor url("../images/arrow-top.png") center no-repeat;
  }

  &--orange {
    background: $orangeColor url("../images/arrow-top.png") center no-repeat;
  }

  @media (min-width: 320px) {
    width: 50px;
    height: 100%;
  }

  @media (min-width: 768px) {
    width: 70px;
    height: 100%;
  }

  @media (min-width: 1300px) {
    &--hidden {
      width: 70px;
      height: 70px;
    }
  }
}
