* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}

h3 {
  padding: 0;
}

* {
  box-sizing: border-box;
  transition: all 0.5s;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

a {
  font-style: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.container__section {
  margin: 0 auto 200px;
}
.container__section-footer {
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .container__section {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 800px) {
  .container__section {
    margin-bottom: 70px;
  }

  .container__section-footer {
    margin: 0 auto;
  }
}
.header {
  width: 100%;
  max-width: 1920px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(8, 1fr);
  padding-left: 175px;
}
.header__namu {
  margin-top: 25px;
  grid-column: 8/10;
  grid-row: 1/3;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;
  color: #0f0e08;
  z-index: 1;
}
.header__img {
  grid-column: 7/17;
  grid-row: 1/9;
  display: block;
  align-self: stretch;
  justify-self: stretch;
}
.header__title {
  grid-column: 4/7;
  grid-row: 4/6;
  justify-self: end;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 72px;
  line-height: 100%;
  color: #000;
  text-transform: uppercase;
}
.header__title2 {
  display: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 72px;
  line-height: 100%;
  color: #000;
  text-transform: uppercase;
}
.header__clear-text {
  grid-column: 7/9;
  grid-row: 4/5;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 72px;
  line-height: 100%;
  color: #000;
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: transparent;
}
.header__button {
  position: relative;
  width: 120px;
  height: 70px;
  grid-column: 3/5;
  grid-row: 7/9;
  justify-self: end;
  border: 1px solid #1a5a4c;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 70px;
  color: #0f0e08;
  text-transform: uppercase;
}
.header__button::after {
  content: "";
  width: 70px;
  height: 70px;
  position: absolute;
  top: -1px;
  right: -70px;
  background: url(../images/header_button.svg) center no-repeat;
  background-color: #1a5a4c;
  transition: all 0.5s;
}
.header__button:hover::after {
  background-color: #28ceaa;
}
.header__nameContainer {
  position: relative;
  grid-column: 1/3;
  grid-row: 7/9;
  min-width: 18px;
  height: 155px;
}
.header__name {
  display: block;
  width: 45px;
  transform-origin: left top;
  transform: rotate(-90deg) translate(-100%, 0);
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  color: #687480;
}
.header__name::before {
  content: "";
  position: absolute;
  transform-origin: left top;
  top: 50%;
  transform: rotate(-90deg) translate(0, calc(-100% - 15px));
  width: 1px;
  height: 60px;
  background: #687480;
}

@media screen and (max-width: 1280px) {
  .header {
    padding-left: 55px;
  }
}
@media screen and (max-width: 1440px) {
  .header {
    padding-left: 136px;
  }
}
@media screen and (max-width: 800px) {
  .header {
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header__title, .header__clear-text, .header__nameContainer {
    display: none;
  }
  .header__namu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 30px;
  }
  .header__title2 {
    margin-top: 20px;
    display: block;
    text-align: center;
    font-size: 45px;
  }
  .header__button {
    width: 230px;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    align-self: center;
    transform: translate(-25px, 0);
  }
  .header__button::after {
    right: -50px;
    height: 50px;
    width: 50px;
  }
  .header__picture {
    width: 100%;
  }
}
.events {
  padding: 0 175px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(12, 1fr);
  column-gap: 30px;
  overflow-x: hidden;
}
.events__title {
  grid-column: 1/9;
  grid-row: 1/3;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  color: #0f0e08;
}
.events__one {
  display: flex;
  gap: 130px;
  grid-column: 1/17;
  grid-row: 2/7;
}
.events__two {
  grid-column: 1/17;
  grid-row: 8/13;
  display: flex;
  flex-direction: row-reverse;
  gap: 130px;
}
.events__container {
  max-width: 370px;
}
.events__typeDate {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 26px;
}
.events__type {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #687480;
}
.events__date {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  color: #1a5a4c;
}
.events__name {
  position: relative;
  margin-top: 30px;
  transform: translate(-0.5%, 0);
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 100%;
  color: #0f0e08;
}
.events__name::after {
  content: "";
  position: absolute;
  bottom: 0;
  transform: translate(50%, -50%);
  height: 15px;
  width: 15px;
  background-color: #f14a27;
}
.events__description {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #4e4e4e;
}

@media screen and (max-width: 1440px) {
  .events {
    padding-left: 136px;
    padding-right: 136px;
  }
}
@media screen and (max-width: 1440px) {
  .events {
    padding-left: 136px;
    padding-right: 136px;
  }
}
@media screen and (max-width: 1200px) {
  .events {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .events__title {
    align-self: start;
  }
  .events__one {
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
  }
  .events__typeDate {
    margin-top: 0;
  }
  .events__two {
    margin-top: 50px;
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (max-width: 800px) {
  .events {
    padding: 0;
  }
  .events__title {
    max-width: 280px;
    font-size: 36px;
    align-self: center;
    text-align: center;
  }
  .events__picture {
    display: block;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .events__one, .events__two {
    width: 100%;
  }
  .events__container {
    margin-right: 20px;
    margin-left: 20px;
  }
  .events__type, .events__date {
    font-size: 16px;
  }
  .events__name {
    margin-top: 10px;
    font-size: 28px;
  }
  .events__description {
    margin-top: 10px;
    font-size: 16px;
  }
}
.lection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lection__img {
  width: 100%;
}
.lection__container {
  max-width: 570px;
  height: 240px;
  margin-top: -100px;
  padding: 50px 100px;
  background: #fff;
  box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
}
.lection__typeDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lection__type {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #687480;
}
.lection__date {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  color: #1a5a4c;
}
.lection__name {
  position: relative;
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 100%;
  color: #0f0e08;
}

@media screen and (max-width: 800px) {
  .lection__container {
    width: 80%;
    height: auto;
    padding: 45px 100px 50px;
  }
  .lection__type, .lection__date {
    font-size: 16px;
  }
  .lection__name {
    font-size: 28px;
  }
}
@media screen and (max-width: 550px) {
  .lection__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
    padding: 25px 20px 35px;
  }
  .lection__typeDate {
    width: 100%;
    max-width: 280px;
  }
  .lection__type, .lection__date {
    font-size: 14px;
  }
  .lection__name {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .lection__type, .lection__date {
    font-size: 14px;
  }
  .lection__name {
    text-align: center;
    font-size: 24px;
  }
}
.gallery {
  width: 100%;
  max-width: 1580px;
}
.gallery__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1580px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 100px 600px 360px;
  gap: 10px;
}
.gallery__title {
  grid-column: 1/5;
  grid-row: 1/1;
  margin-left: 175px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  color: #0f0e08;
}
.gallery__img-1 {
  grid-column: 1/5;
  grid-row: 2/2;
}
.gallery__img-2 {
  grid-column: 5/13;
  grid-row: 2/2;
}
.gallery__img-3 {
  grid-column: 13/17;
  grid-row: 2/2;
}
.gallery__img-4 {
  grid-column: 1/9;
  grid-row: 3/3;
}
.gallery__img-5 {
  grid-column: 9/13;
  grid-row: 3/3;
  align-self: end;
}
.gallery__img-6 {
  grid-column: 13/17;
  grid-row: 3/3;
}

@media screen and (max-width: 1600px) {
  .gallery__container {
    max-width: 1170px;
    grid-template-columns: repeat(9, 1fr);
  }

  .gallery__title {
    grid-column: 1/4;
  }

  .gallery__img-1 {
    grid-column: 1/4;
  }

  .gallery__img-2 {
    grid-column: 4/10;
  }

  .gallery__img-3,
.gallery__img-6 {
    display: none;
  }

  .gallery__img-4 {
    grid-column: 1/7;
  }

  .gallery__img-5 {
    grid-column: 7/10;
  }
}
@media screen and (max-width: 1400px) {
  .gallery {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .gallery__container {
    display: flex;
    margin-left: 25px;
  }

  .gallery__img-3,
.gallery__img-6 {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .gallery {
    gap: 30px;
  }
  .gallery__title {
    margin-left: 0;
    font-size: 36px;
    text-align: center;
  }
  .gallery__img {
    max-height: 420px;
  }
}
.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 550px;
  background-image: url("../images/subscription_img.svg");
  background-position: top center;
}
.subscription__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  color: #fff;
}
.subscription__text {
  margin-top: 20px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
}
.subscription__form {
  display: flex;
  margin-top: 60px;
}
.subscription__email {
  width: 470px;
  height: 70px;
  padding-left: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: #687480;
}
.subscription__button {
  width: 70px;
  height: 70px;
  margin-left: 30px;
  background: url("../images/subscription_button.svg") no-repeat 50%;
  background-color: #f14a27;
}
.subscription__button:hover {
  background-color: #a51b00;
}

@media screen and (max-width: 800px) {
  .subscription {
    height: 386px;
  }
  .subscription__title {
    font-size: 36px;
  }
  .subscription__text {
    max-width: 280px;
    text-align: center;
    line-height: 150%;
  }
  .subscription__form {
    margin-top: 50px;
  }
  .subscription__email {
    width: 233px;
    height: 50px;
    padding-left: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #687480;
  }
  .subscription__button {
    width: 50px;
    height: 50px;
    margin-left: 0;
  }
}
.footer {
  width: 100%;
  max-width: 1570px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(10, 1fr);
  column-gap: 30px;
}
.footer__text {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;
  color: #0f0e08;
}
.footer__namu {
  grid-column: 1/3;
  grid-row: 2/4;
  margin-left: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;
  color: #0f0e08;
}
.footer__socialFI {
  grid-column: 1/3;
  grid-row: 5/7;
  margin-left: 25px;
  display: flex;
  gap: 25px;
}
.footer__schedule {
  grid-column: 3/5;
  grid-row: 2/8;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__time {
  font-weight: bold;
}
.footer__contacts {
  grid-column: 6/8;
  grid-row: 2/6;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__links {
  grid-column: 10/12;
  grid-row: 2/6;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__links a:hover {
  color: #f14a27;
}
.footer__links-right {
  grid-column: 13/15;
  grid-row: 2/6;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__links-right a:hover {
  color: #f14a27;
}
.footer__rights {
  grid-column: 1/4;
  margin-left: 25px;
}
.footer__author {
  grid-column: 12/14;
}
.footer__line {
  grid-column: 8/10;
  grid-row: 2/8;
  justify-self: center;
  width: 1px;
  height: 260px;
  background: rgba(26, 90, 76, 0.5);
}

@media screen and (max-width: 1200px) {
  .footer {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(15, 1fr);
  }
  .footer__namu {
    grid-column: 1/3;
    grid-row: 2/4;
  }
  .footer__socialFI {
    grid-column: 1/3;
    grid-row: 5/7;
  }
  .footer__schedule {
    grid-column: 2/4;
    grid-row: 2/8;
  }
  .footer__text-weekend {
    max-width: 160px;
  }
  .footer__contacts {
    grid-column: 4/6;
    grid-row: 2/6;
    width: 160px;
  }
  .footer__links {
    grid-column: 2/4;
    grid-row: 10/14;
  }
  .footer__links-right {
    grid-column: 4/6;
    grid-row: 10/14;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer__rights, .footer__author {
    grid-row: 16/17;
    font-size: 12px;
  }
  .footer__author {
    grid-column: 4/5;
    justify-self: end;
  }
  .footer__line {
    width: 460px;
    height: 1px;
    align-self: center;
    grid-column: 2/5;
    grid-row: 7/9;
  }
}
@media screen and (max-width: 800px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(16, 1fr);
  }
  .footer__namu {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .footer__socialFI {
    grid-column: 2/3;
    grid-row: 2/4;
    justify-self: end;
    align-self: center;
    margin-right: 25px;
  }
  .footer__schedule {
    grid-column: 1/2;
    grid-row: 4/10;
    margin-left: 25px;
  }
  .footer__text-weekend {
    max-width: 140px;
  }
  .footer__contacts {
    grid-column: 2/3;
    grid-row: 4/8;
    width: 160px;
  }
  .footer__links {
    grid-column: 1/2;
    grid-row: 12/15;
    margin-left: 25px;
  }
  .footer__links-right {
    grid-column: 2/3;
    grid-row: 12/15;
  }
  .footer__rights, .footer__author {
    grid-row: 16/17;
    font-size: 12px;
  }
  .footer__rights {
    grid-column: 1/2;
  }
  .footer__author {
    grid-column: 2/3;
    justify-self: start;
  }
  .footer__line {
    width: 280px;
    height: 1px;
    align-self: center;
    grid-column: 1/3;
    grid-row: 10/11;
  }
}
@media screen and (max-width: 400px) {
  .footer__text {
    font-size: 10px;
  }
}
.nav {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 50vh;
  display: flex;
}
.nav__checkbox {
  display: none;
}
.nav__navBurgerMenu {
  width: 25px;
  height: 25px;
  margin-top: 45px;
  margin-left: 175px;
  position: relative;
  display: block;
  cursor: pointer;
  z-index: 3;
}
.nav__burger {
  width: 25px;
  height: 3px;
  background-color: black;
}
.nav__burger--one, .nav__burger--two, .nav__burger--three {
  position: absolute;
}
.nav__burger--one {
  top: 0;
}
.nav__burger--two {
  top: 50%;
  transform: translate(0, -50%);
}
.nav__burger--three {
  position: absolute;
  bottom: 0;
}
.nav__checkbox:checked ~ .nav__navBurgerMenu > .nav__burger--two {
  transform: rotate(-45deg);
}
.nav__checkbox:checked ~ .nav__navBurgerMenu > .nav__burger--one {
  top: calc(50% + 1px);
  transform: translate(0, -50%) rotate(45deg);
}
.nav__checkbox:checked ~ .nav__navBurgerMenu > .nav__burger--three {
  top: calc(50% + 1px);
  transform: translate(0, -50%) rotate(-45deg);
}
.nav__bar {
  transform: translate(0, -100%);
}
.nav__list {
  display: none;
}
.nav__checkbox:checked ~ .nav__bar {
  width: 90%;
  height: 40%;
  position: absolute;
  transform: translate(0, 0);
  z-index: 2;
  background-color: white;
  border-radius: 20px;
  border-top-left-radius: 0;
}
.nav__checkbox:checked ~ .nav__bar .nav__list {
  width: 100%;
  height: 100%;
  padding-right: 150px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav__item {
  display: block;
  padding-left: 25px;
}
.nav__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  color: #0f0e08;
}
.nav__item:hover .nav__link {
  color: #189c80;
}
.nav__namu {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;
  color: #0f0e08;
}

@media screen and (max-width: 1440px) {
  .nav {
    left: 0;
  }
  .nav__navBurgerMenu {
    margin-left: 136px;
  }
  .nav__checkbox:checked ~ .nav__bar .nav__list {
    margin-left: 225px;
    flex-direction: column;
    gap: 0;
    justify-content: start;
    align-items: start;
  }
  .nav__link {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 1280px) {
  .nav__navBurgerMenu {
    margin-left: 55px;
  }
  .nav__checkbox:checked ~ .nav__bar {
    height: 100%;
  }
  .nav__checkbox:checked ~ .nav__bar .nav__list {
    margin-left: 95px;
  }
}
@media screen and (max-width: 800px) {
  .nav {
    top: 0;
  }
  .nav__navBurgerMenu {
    margin-left: 50px;
  }
  .nav__checkbox:checked ~ .nav__bar {
    width: 80vw;
    height: 120%;
  }
  .nav__checkbox:checked ~ .nav__bar .nav__list {
    margin-top: 80px;
    margin-left: 50px;
    align-items: center;
  }
  .nav__item {
    width: 75vw;
  }
  .nav__link {
    text-align: center;
    font-size: 16px;
    line-height: 5px;
    color: black;
  }
}

/*# sourceMappingURL=style.css.map */
