.subscribe {
  padding-top: 140px;

  height: 550px;
  width: 100%;

  background-image: url($img-subscribe);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__description {
    text-align: center;
    color: #fff;
  }

  &__title {
    margin-bottom: 20px;
    color: #fff;
  }

  &__subtitle {
    margin-bottom: 66px;
  }

  &__form {
    display: flex;
    justify-content: center;

  }

  &__input {
    @include input;

    margin-right: 30px;
    padding-left: 35px;

    width: 470px;
    height: 70px;

    border: none;

    &:focus {
      outline: none;
    }

    @media (max-width: $min-desktop-width) {
      width: 395px;
    }

    @media (max-width: $min-tablet-width) {
      width: 233px;
      margin-right: 0;
    }

  }

  &__button {
    position: relative;
    z-index: 1;

    padding: 29px 30px;

    width: 70px;
    height: 70px;

    background-color: $color-orange;
    border: none;

    background-image: url($img-arrow);
    background-size: 8px;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

  }
}
