.subscription {
  background-image: url(../images/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 650px;

  position: relative;

  margin-top: 100px;

  &__container {
    margin-top: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__name {
    color: $mainColor;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 100%;
  }

  &__description {
    margin-top: 20px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    line-height: 100%;
    color: $mainColor;
  }

  &-input-container {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    width: 570px;
  }

  &__input {
    width: 470px;
    height: 70px;
    padding-left: 35px;
  }

  &__btn {
    background-color: $hoverColor;
    right: 0;
    transition: $transitionDuration;

    &:hover {
      background-color: $generalColor;
    }
  }
}
