.subscribe {
  background-image: url(..//images/mobile-muzej-3.png);
  background-size: contain;
  padding: 0 20px;

  &__conteiner {
    height: 386px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: $background-c-white;
    margin-bottom: 20px;
  }

  &__description {
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $background-c-white;
    margin-bottom: 50px;
  }

  &__input__conteiner {
    display: flex;
    justify-content: center;
    align-items: end;
  }

  &__input {
    box-sizing: border-box;
    color: $c-for-text;
    width: 230px;
    padding: 16px 0 17px 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    border: none;
    outline: 0;

    &::placeholder {
      font-family: inherit;
      color: $c-grey;
    }
  }

    &__image {
      display: block;
      background-color: $c-orange;
      padding: 19px 21px;
    }
  }
