.subscription {
  position: relative;
  background-image: url(../images/subscription.png);
  background-size: cover;
  background-position: center;
  padding: 88px 20px;

  @include onTablet {
    margin-top: 50px;
    background-image: url(../images/subscription-desktop.png);
  }

  @include onDesktop {
    background-image: url(../images/subscription-desktop.png);
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #fff;
  }

  &__description {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    margin-top: 20px;
  }

  &__form {
    width: 100%;
    background-color: #fff;
    padding-left: 32px;
    &-button {
      background-color: #f14a27;
    }
  }
}
