.subscription {
  height: 650px;
  background-image: url(../images/subscription-back.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  padding-top: 175px;
  
  @include mediumScreen {
    height: 550px;
    padding-top: 140px;
  }
  @include tabletScreen {
    height: 380px;
    padding-top: 64px;
  }
  @include mobileScreen {
    height: 386px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include secondary-title-text;
    color: #fff;
    @include mobileScreen {
      font-size: 36px;
      line-height: 36px;
    }
  }

  &__text {
    margin-top: 20px;
    @include normal-text;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;

    @include mobileScreen {
      margin-top: 30px;
      text-align: center;
    }
  }

  &__form {
    display: flex;
    margin-top: 66px;

    @include mobileScreen {
      margin-top: 48px;
    }

    &-mail {
      margin-right: 30px;
      width: 470px;
      height: 70px;
      
      padding-left: 35px;

      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      color: #687480;

      @include tabletScreen {
        width: 395px;
        margin-right: 10px;
      }

      @include mobileScreen {
        margin-right: 0;
        width: 233px;
        height: 50px;
      }
    }
    &-button {

      background-color: #f14a27;
      

      &-img {
        transform: rotate(180deg);
      }
    }
  }
}
