.subscribe {
  background-image: url(..//images/mobile-muzej-3.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 20px;

  @include onTablet {
    background-image: url(..//images/mobile-muzej-4.png);
  }

  @include onLargeScreen {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__conteiner {
    height: 386px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include onDesctop {
      height: 550px;
    }
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: $background-c-white;
    margin-bottom: 20px;

    @include onTablet {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__description {
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $background-c-white;
    margin-bottom: 50px;

    @include onTablet {
      line-height: 18px;
      margin-bottom: 64px;
    }
  }

  &__input__conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    box-sizing: border-box;
    color: $c-for-text;
    width: 230px;
    height: 50px;
    padding-left: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    border: none;
    border-radius: 0;
    outline: 0;
    transition: all 0.3s;

    &::placeholder {
      font-family: inherit;
      color: $c-grey;
    }

    @include onTablet {
      width: 374px;
      height: 70px;

      &:hover {
        @include forHoverBtn;
      }
    }
  }

  &__input__button {
    border: none;
    background-color: transparent;
    padding: 0;
  }

    &__image {
      display: block;
      background-color: $c-orange;
      padding: 19px 21px;
      transition: all 0.3s;

      @include onTablet {
        padding: 29px 31px;
        margin-left: 16px;

        &:hover {
          transform: scale(110%);
        }
      }

      @include onDesctop {
        margin-left: 30px;
      }
    }
  }
