.swiper {
  width: 100%;

  &--mobile {
    height: 440px;

    @include on-tablet {
      display: none;
    }
  }

  &--tablet {
    height: 584px;

    @include on-desktop {
      display: none;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    display: block;
    object-fit: cover;
    object-position: left;

    &--mobile {
      width: 280px;
      height: 410px;
    }

    &--tablet {
      width: 340px;
      height: 543px;
    }

    &--positioned-left {
      object-position: left;
    }
  }

  &-pagination {
    bottom: -5px !important;

    &-bullet {
      margin-right: 22px !important;
      background-color: $menu-bg !important;
    }
  }

  &__wrapper {
    &--mobile {
      height: 410px;
    }

    &--tablet {
      height: 543px;
    }
  }
}
