.swiper {
  width: 100%;
  height: 410px;
  margin: 40px 0 20px;

  &-pagination-bullet-active {
    background: #1a5a4c !important;
  }

  &-pagination-bullets {
    gap: 22px !important;
  }
}

.pagination {
  justify-content: center;
  display: flex;
}

.swiper-visible {
  display: none;

  @include onTablet {
    display: block;
  }
}
