.tickets {
  height: 655px;
  margin-bottom: 200px;
  background-image: url("../images/header-muzej-1800x1200.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left: 35%;
}

.tickets__events {

  display: flex;
  transform: rotate(-90deg);
  position: relative;
}

.tickets__events-stick {
  width: 70px;
  height: 1px;
  background: #1a5a4c;
  margin-right: 20px;
}

.tickets__events-title {
  font-family: $IBM-Plex-Sans-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  color: $gray-small-heading;
  // position: relative;
  //   right: 26%;
  //   top: 100%;
}

.tickets__wrapper {
  position: relative;
  top: 235px;
  left: -13%;
}

.tickets__heading {
  font-family: $Montserrat-font;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  margin-bottom: 80px;

}

.tickets__heading-letters {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #0f0e08;
}

.tickets__button {
  display: flex;
  cursor: pointer;
  padding: 0;
  border: 1px solid ##1a5a4c;
  // width: 150px;
  // height: 70px;
  // font-family: $IBM-Plex-Sans-font;
  // font-size: 16px;
  // font-style: normal;
  // font-weight: 500;
  // line-height: 16px;
  // text-transform: uppercase;
}

.tickets__button-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 70px;
  font-family: $IBM-Plex-Sans-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

.tickets__button-img {
  width: 70px;
  height: 70px;
  background: #1a5a4c;
  display: flex;
  justify-content: center;
  align-items: center;
}
