.tickets {
  height: 655px;
  width: 1245px;
  margin-bottom: 155px;
  background-image: url("../images/header-muzej-1800x1200.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 675px;
  top: -45px;
  transition: left $transition-time;
}

.tickets__events {
  transform: rotate(-90deg);
  position: absolute;
  display: flex;
  bottom: 60px;
  left: -450px;
}

.tickets__events-stick {
  width: 70px;
  height: 1px;
  background: #1a5a4c;
  margin-right: 20px;
}

.tickets__events-title {
  font-family: $IBM-Plex-Sans-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  color: $gray-small-heading;
}

.tickets__wrapper {
  position: relative;
  top: 235px;
  left: -260px;
}

.tickets__heading {
  font-family: $Montserrat-font;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  margin-bottom: 80px;
  transition: font-size $transition-time;

}

.tickets__heading-letters {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #0f0e08;
}

.tickets__button {
  display: flex;
  cursor: pointer;
  padding: 0;
  border: 1px solid #1a5a4c;
  background-color: #fff;
  transition: background-color 3s;

  &:hover {
    border: 1px solid #fff;
    background-color: #1a5a4c;
  }

  &:active {
    transform: translateY(1px);
  }
}

.tickets__button-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 70px;
  font-family: $IBM-Plex-Sans-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

.tickets__button-img {
  width: 70px;
  height: 70px;
  background: #1a5a4c;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1920px) {
  .tickets {
    width: 825px;
  }
}

@media screen and (max-width: 1440px) {
  .tickets {
    width: 765px;
  }
}

@media screen and (max-width: 1280px) {
  .tickets {
    background-size: auto;
    width: 605px;
  }
}

@media screen and (max-width: 768px) {
  .tickets {
    left: 263px;
    width: 500px;

    &__heading {
      font-size: 55px;
      margin-left: 35px;
    }
  }

  .tickets__wrapper {
    left: -230px;
  }
}

@media screen and (max-width: 320px) {
  .tickets {
    position: static;
    height: 300px;
    width: 320px;
    background-size: cover;
    background-image: none;
    margin-bottom: 253px;
  }

  .tickets__events {
    width: 320px;
    height: 300px;
    position: static;
    background-image: url("../images/header-muzej-1800x1200.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: none;
    margin-bottom: 20px;
  }

  .tickets__events-stick,
  .tickets__events-title {
    display: none;
  }

  .tickets__wrapper {
    position: static;
  }

  .tickets__heading {
    font-size: 45px;
    line-height: 45px;
    margin: 0 20px 20px;
    text-align: center;
  }

  .tickets__heading-letters {
    -webkit-text-fill-color: #000;
    -webkit-text-stroke: #000;
  }

  .tickets__button {
    margin: 0 auto;
  }

  .tickets__button-title {
    width: 230px;
    height: 50px;
  }

  .tickets__button-img {
    width: 50px;
    height: 50px;
  }
}
