.timetable {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  &__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    margin-bottom: 20px;
  }

  &__schedule {
    margin-bottom: 20px;
  }

  &__style {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
  }

  &__text {
    font-family: $Montserrat-font-family;
  }
}
