.title {
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: $main-dark;
  font-family: Montserrat, serif;

  @include on-tablet {
    text-align: left;
  }

  &--section {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 48px;
    }

    @include on-desktop {
      margin-bottom: 56px;
    }
  }

  &--white {
    color: $main-white;
    margin-bottom: 20px;
    text-align: center;

    @include on-tablet {
      margin-bottom: 16px;
    }
  }
}
