.top-bar {
  display: flex;
  align-items: center;
  gap: 88px;
  padding-block: 9px;

  @include on-tablet {
    gap: 336px;
    padding-block: 15px;
  }

  @include on-desktop {
    gap: 476px;
  }

  &__photo {
    height: 61px;
    width: 55px;

    @include on-tablet {
      width: 220px;
      height: 72px;
    }

    @include on-desktop {
      width: 170px;
      height: 72px;
    }

    &--footer {
      width: 63px;
      height: 72px;
    }
  }
}
