.top__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 61px;
  width: 60%;
  margin-top: 10px;

  grid-column: 1 / -1;

  @include onTablet {
    height: fit-content;
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55px;
  height: 61px;

  @include TextHover;
}

.logo__picture {
  width: 100%;
}
