.heading-1 {
  padding: 0;
  margin: 0;
  font-family: $font-montserrat;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-transform: uppercase;

  @include tablet {
    font-size: 54px;
    line-height: 120%;
  }

  @include desktop {
    font-size: 72px;
    line-height: 120%;
  }
}

.heading-2 {
  padding: 0;
  margin: 0;
  font-family: $font-montserrat;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: $c-black;

  @include tablet {
    font-size: 48px;
    line-height: 48px;
  }
}

.heading-3 {
  padding: 0;
  margin: 0;
  font-family: $font-montserrat;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: $c-black;

  @include tablet {
    font-size: 36px;
    line-height: 36px;
  }
}

.main-text {
  padding: 0;
  margin: 0;
  font-family: $font-ibm;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $c-grey;

  @include tablet {
    font-weight: 300;
  }
}

.secondary-text {
  padding: 0;
  margin: 0;
  font-family: $font-ibm;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $c-black;

  &--bold {
    font-weight: 600;
  }
}

.button-text {
  padding: 0;
  margin: 0;
  font-family: $font-ibm;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $c-black;
}

.label-text {
  padding: 0;
  margin: 0;
  font-family: $font-ibm;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $c-grey;

  @include tablet {
    font-size: 14px;
    line-height: 14px;
  }
}

.date-text {
  padding: 0;
  margin: 0;
  font-family: $font-ibm;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $c-green;

  @include tablet {
    font-size: 14px;
    line-height: 21px;
  }
}

.nav-text {
  padding: 0;
  margin: 0;
  font-family: $font-ibm;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: $c-black;

  &--menu {
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    font-weight: 400;

    @include tablet {
      font-weight: 500;
    }

    @include desktop {
      font-size: 22px;
      line-height: 22px;
    }
  }
}

.form-text {
  padding: 0;
  margin: 0;
  font-family: $font-montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $c-black;
}

.sign-up-text {
  padding: 0;
  margin: 0;
  font-family: $font-ibm;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

.copyright-text {
  padding: 0;
  margin: 0;
  font-family: $font-ibm;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: $c-black;
}
