$pageLogoWidth: 55px;
$pageLogoHeight: 61px;
$mainBlackColor: #0f0e08;
$mainGreenColor: #1a5a4c;
$mainOrangeColor: #f14a27;
$hoverButtonColor: #f16545;

$largeScreensGap: 175px;
$wideScreensGap: 135px;
$mediumScreensGap: 55px;
$smallScreensGap: 20px;
$mainBottomGap: 70px;

@mixin pageActionsProps($width, $height) {
  width: $width;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin coloredSquare($rightPosition, $width) {
  &::after {
    position: absolute;
    right: $rightPosition;
    width: $width;
    height: $width;
    content: "";
    background-color: #f14a27;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 darkgray;
  }
}

@keyframes linksUnderline {
  0% {
    transform: scale(0.2);
  }

  100% {
    transform: scale(1);
  }
}
