@mixin pageActionsProps($width, $height) {
  width: $width;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin coloredSquare($rightPosition, $width) {
  &::after {
    position: absolute;
    right: $rightPosition;
    width: $width;
    height: $width;
    content: "";
    background-color: #f14a27;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 darkgray;
  }
}
