$darkGrey: #0f0e08;
$tinnyGrey: #4e4e4e;
$middleGrey: #515758;
$lightGrey: #687480;
$darkGreen: #1a5a4c;
$classicRed: red;
$classicBlack:  #000;
$classicWhite: #fff;
$pageColor: #f0eeee;

$Montserrat: "Montserrat", sans-serif;
$IBM:  "IBM Plex Sans", sans-serif;
$Oswald: "Oswald", sans-serif;
