// #region global vars
$logo-color: hsl(51, 30%, 5%);
$headline-color: hsl(210, 10%, 45%);
$after-for-headline-color: hsl(167, 55%, 23%);
$page-text-color: hsl(51, 30%, 5%);
// #endregion

// #region header
$border-color-for-header-link: hsl(167, 55%, 23%);
$bgc-for-after-header-link: hsl(167, 55%, 23%);
// #endregion

// #region menu
$menu-content-bgc: hsl(167, 55%, 23%);
$menu-text-color: hsl(0, 0%, 100%);
$menu-bgc: rgba(0, 0, 0, 0.5);
// #endregion

// #region nav links
$nav-links-color-hover: aqua;
$nav-links-color-active: rgb(66, 211, 231);
// #endregion

// #region main
// #region exhibition
$exhibition-text-color: hsl(0, 0%, 31%);
$after-for-exhibitions__card-name-color: hsl(10, 88%, 55%);
// #endregion

// #region about-us
$about-us-text-color: hsl(0, 0%, 100%);
$about-us-button-bgc: hsl(10, 88%, 55%);
$about-us-button-bgc-hover: hsl(10, 70%, 46%);
$about-us-input-placeholder-color: hsl(210, 10%, 45%);
$about-us-input-placeholder-color-hover: hsl(0, 0%, 0%);
// #endregion
// #endregion

// #region footer

// #endregion
