// ------------------------------------------VARS-------------------------------------
$white-text: #f1f5f4;
$max-monitor: 2560px;
$button-color: #cd4d31;
$background-subcolor: #3f5252;

// ------------------------------------------MIXINS-----------------------------------

@mixin Raleway-small-font {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 16px;
}

@mixin headers-font {
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  font-size: 48px;
}

@mixin burger-size {
  width: 25px;
  height: 2px;
}
