.visit {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 190px;
  background-image: url(../images/paintings/lady.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;

  @media (max-width: $containerMaxWidth - 1px) {
    background-size: 45%;
    background-position: left bottom;
  }

  @media (max-width: $breakpointMedium) {
    padding-top: 120px;
    background-size: 43%;
  }

  @media (max-width: $breakpointSmall) {
    padding-top: 80px;
    background-image: none;
  }

  &__name {
    align-self: flex-end;
    width: 700px;
    margin-right: 40px;
    margin-bottom: 60px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 96px;
    line-height: 100%;
    color: $colorLight;

    @media (max-width: 1200px) {
      width: 700px / $containerMaxWidth * 100vw;
      font-size: 72px;
    }

    @media (max-width: $breakpointMedium) {
      align-self: flex-end;
      width: 530px;
      margin-bottom: 80px;
    }

    @media (max-width: $breakpointTabletSmall) {
      align-self: flex-start;
      margin-left: 100px;
    }

    @media (max-width: $breakpointSmall) {
      align-self: flex-start;
      width: 280px;
      margin-bottom: 40px;
      margin-left: 20px;
      font-size: 48px;
    }
  }

  &__about {
    width: 470px;
    margin-bottom: 60px;
    margin-left: 655px;
    @extend %p;
    color: $colorLight;

    @media (max-width: $containerMaxWidth - 1px) {
      margin-left: 655px / $containerMaxWidth * 100vw;
      width: 470px / $containerMaxWidth * 100vw;
    }

    @media (max-width: $breakpointMedium) {
      width: 380px;
      margin-bottom: 82px;
    }

    @media (max-width: $breakpointTabletSmall) {
      margin-left: 310px;
    }

    @media (max-width: 730px) {
      width: 280px;
    }

    @media (max-width: $breakpointSmall) {
      margin-bottom: 60px;
      margin-left: 20px;
    }
  }

  &__button {
    @extend %red-button;
    margin-left: 655px;

    @media (max-width: $containerMaxWidth - 1px) {
      margin-left: 655px / $containerMaxWidth * 100vw;
    }

    @media (max-width: $breakpointTabletSmall) {
      margin-left: 310px;
    }

    @media (max-width: $breakpointSmall) {
      width: 280px;
      margin-left: 20px;
    }
  }
}
