@import "utils";

.visit {
  height: 800px;
  background-color: $colorMainGreen;
  display: flex;
  align-items: center;

  &__info {
    //padding-top: 190px;
  }

  &__image-wrap {
    max-width: 580px;
    max-height: 800px;
    align-self: flex-end;
  }

  //&__image {
  //  height: auto;
  //  width: 100%;
  //}

  &__title {
    @include title(96px, 96px, $colorLightGray);
    margin-bottom: 60px;
  }

  &__description {
    @include smallText($colorLightGray);
    max-width: $column * 6;
    padding-left: $column;
  }

  &__button {
    margin-left: $column;
  }

}
