@import "utils";

.visit {
  height: 800px;
  background-color: $colorMainGreen;
  display: flex;
  align-items: center;

  @media (max-width: 1050px) {
    height: 600px;

    @media (max-width: 870px) {
      height: 500px;
    }
  }

  &__info {
    padding-right: $gridGap;

    @media (max-width: 670px) {
      padding-left: $gridGap;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__image-wrap {
    max-width: 580px;
    max-height: 800px;
    align-self: flex-end;

    @media (max-width: 670px) {
      display: none;
    }
  }

  &__image {
    height: auto;
    width: 100%;
    margin-bottom: -7px;
  }

  &__title {
    @include title(96px, 96px, $colorLightGray);
    margin-bottom: 60px;

    @media (max-width: 1050px) {
      font-size: 70px;
      line-height: 70px;
      margin-bottom: 40px;
    }

    @media (max-width: 870px) {
      font-size: 56px;
      line-height: 56px;
    }

    @media (max-width: 500px) {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__description {
    @include smallText($colorLightGray);
    max-width: $column * 6;
    padding-left: $column;

    @media (max-width: 870px) {
      padding-left: 0;
    }
  }

  &__button {
    margin-left: $column;

    @media (max-width: 870px) {
      margin-left: 0;
    }
  }

}
