.visit-us {
  box-sizing: border-box;
  position: relative;

  width: 100vw;
  padding-top: 190px;
  padding-bottom: 195px;

  padding-left: calc(50% - 640px);
  padding-right: calc(50% - 640px);

  background-color: #3f5252;

  &__img {
    position: absolute;
    height: 800px;

    left:0;
    bottom: 0;
  }

  &__title {
    height: 200px;
    width: 700px;

    margin-left: calc(50% - 80px);

    font-weight: bold;
    font-size: 96px;

    color: #f1f5f4;
    line-height: 100%;
  }

  &__text {
    width: 470px;
    margin: 60px 0 60px 655px;

    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 150%;
    color: #f1f5f4;
  }

  &__item {
    margin-left: 285px;
  }

  &__link {
    margin-left: 655px;

    padding: 17.5px 99px;

    font-family: "Raleway", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #f1f5f4;
    background-color: #cd4d31;
    border: 3px solid #f1f5f4;
    border-color: transparent;

    transition: 300ms;

    &:hover {
      border-color: #f1f5f4 ;
      box-shadow: 1px 1px 23px;
    }
  }

  @media screen and (max-width: 1250px) {
    & {
      padding-top: 120px;
      padding-bottom: 170px;
    }

    &__img {
      height: 460px;
    }

    &__title {
      height: 200px;
      width: 523px;
      margin-left: 130px;

      font-size: 72px;
    }

    &__text {
      margin-left: 330px;
      width: 370px;
    }

    &__link {
      margin-left: 330px;
    }

  }
}
