.work-schedule {
  padding-top: 24px;

  @include onTablet {
    padding: 0 0 0 38px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  @include onDesktop {
    padding-left: 102px;
  }

  &__title {
    margin-bottom: 20px;

    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    color: #fff;

    &--footer-style {
      color: #0f0e08;
    }
  }

  &__schedule-container {
    display: flex;
    flex-direction: column;

    @include onTablet {
      flex-direction: row;
      gap: 38px;
    }

    @include onDesktop {
      gap: 30px;
    }

    &--footer-style {
      @include onTablet {
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  &__schedule {
    flex-shrink: 0;
    margin-bottom: 16px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #fff;

    @include onTablet {
      margin-bottom: 0;
    }

    &--footer-style {
      color: #0f0e08;
    }
  }

  &__day-off {
    width: 260px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #fff;

    @include onTablet {
      width: 155px;
    }

    @include onDesktop {
      width: 170px;
    }

    &--footer-style {
      min-width: 140px;
      width: 100%;
      color: #0f0e08;
    }
  }

  &--footer-style {
    padding: 0;
    
    @include onTablet {
      margin-bottom: 64px;
    }
  }
}
