.wrapper-container {
  max-width: 768px;
  margin-inline: auto;
  position: relative;

  @include onTablet {
    padding: 0 34px;
  }

  @include onDesktop {
    max-width: 1280px;
    padding: 0 55px;
  }

  &--header {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include onTablet {
      justify-content: space-between;
      padding-right: 0;
    }
  }

  &--menu {
    display: flex;
    flex-direction: column;
    padding: 0;

    @include onTablet {
      padding: 0;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
