.wrapper {
  position: relative;
  width: 1570px;
  margin: 0 auto;

  @include mediumScreen {
    width: 1170px;

  }

  @include tabletScreen {
    width: 700px;
  }

  @include mobileScreen {
    width: 280px;
  }
}
