.footer {
  grid-column: 1 / -1;

  &__content {
    @include page-grid;
  }

  &__icon-block {
    grid-column: 1 / -1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 40px;

    @include on-tablet {
      grid-column: 1 / 1;

      flex-direction: column;
      gap: 62px;
    }
  }

  &__link {
    display: block;
  }

  &__text-logo {
    margin: 0;
    padding: 0;

    font-size: 36px;
    font-weight: 700;
    line-height: 100%;

    color: $dark-text-color;
  }

  &__socials {
    display: flex;
    gap: 20px;

    @include on-tablet {
      gap: 32px;
    }

    @include on-desktop {
      gap: 22px;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__text {
    font-family: $secondary-font;
    font-size: 14px;
    line-height: 150%;
    color: $dark-text-color;

    &--bold {
      font-weight: 600;
    }
  }

  &__schedule {
    grid-column: 1 / 1;

    @include on-tablet {
      grid-column: 2 / 4;
    }

    @include on-desktop {
      grid-column: 3 / 5;
    }
  }

  &__day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include on-tablet {
      flex-direction: row;
    }
  }

  &__section-title {
    font-family: $secondary-font;
    font-size: 14px;
    line-height: 140.63%;
    color: $dark-text-color;
  }

  &__contacts {
    grid-column: 2 / 2;

    @include on-tablet {
      grid-column: 4 / -2;
    }

    @include on-desktop {
      grid-column: 5 / 7;
    }
  }

  &__anchor {
    position: absolute;
    right: 0;
    bottom: 20px;

    @include on-tablet {
      right: -100px;
    }

    @include on-desktop {
      right: -500px;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $green-text-color;
    border-radius: 50%;
  }

  &__split-line {
    position: relative;

    margin-top: 70px;

    grid-column: 1 / -1;

    background: rgba(26, 90, 76, 0.5);
    height: 1px;

    @include on-tablet {
      grid-column: 2 / -2;

      margin-top: 64px;
    }

    @include on-desktop {
      margin-top: 0;
      margin-inline: auto;

      width: 1px;
      height: 260px;

      grid-column: 7 / 7;
    }
  }

  &__links-block {
    @include page-grid;

    margin-top: 40px;

    grid-column: 1 / -1;

    color: $dark-text-color;
    font-size: 14px;
    line-height: 100%;

    font-family: $secondary-font;

    @include on-tablet {
      grid-column: 2 / -2;

      grid-template-columns: repeat(2, 1fr);
    }

    @include on-desktop {
      margin-top: 0;

      grid-column: 8 / -2;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &--group-1 {
      grid-column: 1 / 1;
    }

    &--group-2 {
      grid-column: 2 / 2;
    }
  }

  &__copyright {
    margin: 80px 0 60px;

    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    gap: 10px;

    color: $dark-text-color;
    text-align: center;
    font-family: $secondary-font;
    font-size: 12px;
    font-weight: 300;
    line-height: 140.63%;

    @include on-tablet {
      flex-direction: row;
      justify-content: space-between;

      margin: 120px 0 36px;
    }

    @include on-desktop {
      margin: 87px 0 35px;
    }
  }
}
