.header {
  grid-column: 1 / -1;

  background: url(../images/header-bg-mobile.png) no-repeat center / cover;

  height: 300px;
  margin-inline: -20px;

  @include on-tablet {
    grid-column: 4 / -1;

    height: 384px;
    background-image: url(../images/header-bg-tablet.png);

    margin: 0;
    margin-right: -39px;
  }

  @include on-desktop {
    grid-column: 6 / -1;

    height: 655px;
    background-image: url(../images/header-bg-desktop.png);

    margin-right: -55px;
  }
}
