.menu {
  @include content-padding-inline;
  @include page-grid;

  background-color: $green;
  height: 399px;

  @include on-tablet {
    height: 225px;
  }

  @include on-desktop {
    height: 233px;
  }

  &__content {
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    gap: 24px;

    padding-block: 27px;

    @include on-tablet {
      padding-block: 39px;

      flex-direction: row;
      gap: 38px;
    }

    @include on-desktop {
      padding-block: 40px;

      gap: 102px;
    }
  }

  &__top-bar {
    display: flex;
    gap: 28px;

    @include on-tablet {
      gap: 38px;
    }

    @include on-desktop {
      gap: 102px;
    }
  }

  &__groups {
    display: flex;
    gap: 28px;

    @include on-tablet {
      gap: 20px;
    }

    @include on-desktop {
      gap: 31px;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 24px;

    color: #fff;
    font-family: $secondary-font;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;

    &--link {
      width: 100px;
    }

    @include on-desktop {
      font-size: 22px;

      gap: 30px;
    }
  }

  &__split-line {
    width: 280px;
    height: 1px;

    background: rgba(255, 255, 255, 0.5);

    @include on-tablet {
      width: 1px;
      height: 145px;
    }
  }

  &__title {
    line-height: 140.63%;
  }

  &__text {
    color: #fff;
    font-family: $secondary-font;
    font-size: 14px;
    line-height: 150%;

    &--bold {
      font-weight: 600;
    }
  }

  &__schedule {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__week {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-tablet {
      flex-direction: row;
      gap: 38px;
    }

    @include on-desktop {
      gap: 30px;
    }
  }

  &__days {
    display: flex;
    flex-direction: column;
  }

  &__day {
    display: flex;
    gap: 5px;
  }

  &__info {
    display: flex;
    flex-direction: column;

    @include on-tablet {
      max-width: 144px;
    }

    @include on-desktop {
      max-width: 170px;
    }
  }

  &__weekends {
    display: flex;
    gap: 5px;

    @include on-tablet {
      flex-direction: column;
    }
  }
}
