.button {
  position: relative;
  width: 280px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid $dark-green;
  background-color: $white;
  overflow: hidden;
  box-sizing: border-box;
  color: $black1;

  &,
  &__icon,
  &__text {
    transition: all 0.3s;
  }

  &__text {
    transform: translateX(70px);
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &__icon {
    position: absolute;
    transform: translateX(230px);
    height: 100%;
    width: 50px;
    background-color: $dark-green;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__arrow {
    width: 24px;
    fill: #fff;
  }

  &:hover {
    background: $dark-green;
    color: $white;
  }

  &:hover &__icon {
    width: 70px;
    transform: translateX(0);
  }

  &:active &__icon {
    background-color: $dark-green;
  }

  &:active {
    border: 1px solid $dark-green;
  }
}
