.container {
  @include content-padding-inline;

  &__section {
    margin-block: 70px;

    @include on-tablet {
      margin-block: 80px;
    }

    @include on-desktop {
      margin-block: 200px;
    }
  }
}
