.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;

  &--menu {
    background-image: url(../images/icon-menu.svg);
  }

  &--close {
    background-image: url(../images/icon-close.svg);
  }

  &--facebook {
    background-image: url(../images/facebook.svg);
  }

  &--insta {
    background-image: url(../images/instagram.svg);
  }

  @include hover(transform, scale(1.05));
}
