.section {
  &__title {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 40px;

    @include on-tablet {
      text-align: left;
      font-size: 48px;
      line-height: 48px;
      padding-bottom: 48px;
    }

    @include on-desktop {
      padding-bottom: 56px;
    }
  }
}
