@import "../../utils/animation/animation";

.subscription {
  margin-top: 60px;
  position: relative;

  &__picture {
    max-width: 100%;
    margin: 3px auto;
    object-fit: cover;
    width: 100vw;
    object-position: top center;
    transition: 1s;
  }

  &__text {
    position: absolute;
    top: calc(50% - 200px / 2);
    left: calc(50% - 600px / 2);
    width: 570px;
    height: 170px;
    color: white;

    transition: 1s;
  }

  &__title {
    font-size: 48px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }

  &__paragraph {
    text-align: center;
    margin-bottom: 66px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    width: 450px;
    height: 70px;
    padding: 0 35px;
  }

  &__button {
    background-color: red;
    width: 70px;
  }
}

@include onIpad {
  .subscription {
    &__text {
      left: calc(50% - 400px / 2);
      width: 450px;
      height: 150px;
    }

    &__input {
      width: 350px;
      height: 50px;
    }

    &__title {
      font-size: 36px;
      margin-bottom: 5px;
    }

    &__paragraph {
      margin-bottom: 20px;
    }
  }
}

@include forGallery {
  .subscription {
    &__picture {
      height: 210px;
    }

    &__text {
      left: calc(50% - 280px / 2);
      width: 280px;
    }

    &__input {
      width: 230px;
      height: 50px;
    }

    &__title {
      font-size: 36px;
      margin-bottom: 5px;
    }

    &__paragraph {
      margin-bottom: 20px;
    }
  }
}

@include onMobile {
  .subscription {
    &__picture {
      height: 386px;
    }
  }
}
