@font-face {
  font-family: 'IBM Plex Sans';
  src: url('fonts_files/IBMPlexSans/IBMPlexSans-Medium/IBMPlexSans-Medium.eot');
  src:
    url('fonts_files/IBMPlexSans/IBMPlexSans-Medium/IBMPlexSans-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('fonts_files/IBMPlexSans/IBMPlexSans-Medium/IBMPlexSans-Medium.woff2')
      format('woff2'),
    url('fonts_files/IBMPlexSans/IBMPlexSans-Medium/IBMPlexSans-Medium.woff')
      format('woff'),
    url('fonts_files/IBMPlexSans/IBMPlexSans-Medium/IBMPlexSans-Medium.ttf')
      format('truetype'),
    url('fonts_files/IBMPlexSans/IBMPlexSans-Medium/IBMPlexSans-Medium.svg')
      format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('fonts_files/IBMPlexSans/IBMPlexSans-Bold/IBMPlexSans-Bold.eot');
  src:
    url('fonts_files/IBMPlexSans/IBMPlexSans-Bold/IBMPlexSans-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('fonts_files/IBMPlexSans/IBMPlexSans-Bold/IBMPlexSans-Bold.woff2')
      format('woff2'),
    url('fonts_files/IBMPlexSans/IBMPlexSans-Bold/IBMPlexSans-Bold.woff')
      format('woff'),
    url('fonts_files/IBMPlexSans/IBMPlexSans-Bold/IBMPlexSans-Bold.ttf')
      format('truetype'),
    url('fonts_files/IBMPlexSans/IBMPlexSans-Bold/IBMPlexSans-Bold.svg')
      format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('fonts_files/IBMPlexSans/IBMPlexSans-Regular/IBMPlexSans-Regular.eot');
  src:
    url('fonts_files/IBMPlexSans/IBMPlexSans-Regular/IBMPlexSans-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('fonts_files/IBMPlexSans/IBMPlexSans-Regular/IBMPlexSans-Regular.woff2')
      format('woff2'),
    url('fonts_files/IBMPlexSans/IBMPlexSans-Regular/IBMPlexSans-Regular.woff')
      format('woff'),
    url('fonts_files/IBMPlexSans/IBMPlexSans-Regular/IBMPlexSans-Regular.ttf')
      format('truetype'),
    url('fonts_files/IBMPlexSans/IBMPlexSans-Regular/IBMPlexSans-Regular.svg')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts_files/Montserrat/Montserrat-Bold/Montserrat-Bold.eot');
  src:
    url('fonts_files/Montserrat/Montserrat-Bold/Montserrat-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('fonts_files/Montserrat/Montserrat-Bold/Montserrat-Bold.woff2')
      format('woff2'),
    url('fonts_files/Montserrat/Montserrat-Bold/Montserrat-Bold.woff')
      format('woff'),
    url('fonts_files/Montserrat/Montserrat-Bold/Montserrat-Bold.ttf')
      format('truetype'),
    url('fonts_files/Montserrat/Montserrat-Bold/Montserrat-Bold.svg')
      format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts_files/Montserrat/Montserrat-Regular/Montserrat-Regular.eot');
  src:
    url('fonts_files/Montserrat/Montserrat-Regular/Montserrat-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('fonts_files/Montserrat/Montserrat-Regular/Montserrat-Regular.woff2')
      format('woff2'),
    url('fonts_files/Montserrat/Montserrat-Regular/Montserrat-Regular.woff')
      format('woff'),
    url('fonts_files/Montserrat/Montserrat-Regular/Montserrat-Regular.ttf')
      format('truetype'),
    url('fonts_files/Montserrat/Montserrat-Regular/Montserrat-Regular.svg')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts_files/Montserrat/Montserrat-Medium/Montserrat-Medium.eot');
  src:
    url('fonts_files/Montserrat/Montserrat-Medium/Montserrat-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('fonts_files/Montserrat/Montserrat-Medium/Montserrat-Medium.woff2')
      format('woff2'),
    url('fonts_files/Montserrat/Montserrat-Medium/Montserrat-Medium.woff')
      format('woff'),
    url('fonts_files/Montserrat/Montserrat-Medium/Montserrat-Medium.ttf')
      format('truetype'),
    url('fonts_files/Montserrat/Montserrat-Medium/Montserrat-Medium.svg')
      format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
