.logo {
  p, a {
    color: $main-text-title-color;

    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;

    @include on-tablet {
      font-size: 36px;
    }
  }

  a {
    transition: all;

    @include add-transition;

    &:hover {
      color: $button-background-color;
      transform: scale(1.1);
    }
  }
}
