.schedule {
  @include on-tablet {
    &__container {
      min-width: 170px;

      @include on-desktop {
        grid-column: span 2;
      }
    }
  }

  &__title {
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 140.63%;
    margin-bottom: 20px;
  }

  &__list {
    margin-bottom: 16px;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__item,
  &__weekend {
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;

    &--strong {
      font-weight: 600;
    }
  }

  &__weekend {
    @include on-desktop {
      grid-column: span 2;

      &--strong-footer {
        font-weight: 600;
      }
    }

    &--footer {
      margin-top: 25px;
    }
  }
}
