.burger {
  height: 30px;
  width: 30px;
  position: relative;
  padding: 5px 3px;

  & span {
    background-color: $white;
    display: block;
    width: 25px;
    height: 2px;

    &:nth-child(1) {
      position: absolute;
      top: 5px;
    }

    &:nth-child(2) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      position: absolute;
      bottom: 5px;
    }
  }


}
