.events-card {
  &:not(:last-of-type) {
    margin-bottom: 60px;
  }

  @include onTable {
    grid-column: span 6;
    
    @include pageGrid;
    grid-template-rows: min-content 1fr;

    &:not(:last-of-type) {
      margin-bottom: 70px;
    }
  }

  @include onDesktop {
    grid-column: span 12;

  }

  &__img {
    margin-bottom: 20px;

    @include onTable {
      margin-bottom: 0;
      grid-column: 1 / 4;
      grid-row: span 2;
    }

    @media (min-width: 860px) {
      grid-column: 1 / 3;
    }

    @include onDesktop {
      grid-column: 1 / 5;
    }
  }

  &__content {
    @include onTable {
      grid-column: 4 / 7;
    }

    @media (min-width: 860px) {
      grid-column: 3 / 6;
    }

    @include onDesktop {
      grid-column: 5 / 11;
    }
  }

  &__date {
    margin-bottom: 10px;
    line-height: 24px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 30px;

    @include onTable {
      margin-bottom: 50px;
    }
  }

  &__btn {

    @include onTable {
      grid-column: 4 / 7;
      height: 60px;
    }

    @media (min-width: 860px) {
      grid-column: 3 / 6;
    }

    @include onDesktop {
      grid-column: 5 / 8;
    }
  }
}
