.exhibition-card {
  &:not(:last-of-type) {
    margin-bottom: 60px;
  }

  @include onTable {
    grid-column: span 3;
    
    @include pageGrid;

    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }

  @include onDesktop {
    grid-column: span 6;
  }

  &__link {
    @include onTable{
      grid-column: span 6;
    }

    @include onDesktop {
      grid-column: span 12;
    }
  }

  &__img {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    max-height: 356px;
    object-fit: cover;

    @include onTable {
      max-height: 420px;
      justify-self: stretch;
      margin-bottom: 30px;

      // width: 100%;
      // max-height: 484px;
      // height: 100%;
      // object-fit: cover;
      // padding-bottom: 30px;
      // height: 100%;
      // width: 100%;
      // grid-row: 1 / 2;
      // align-self: stretch;
    }

    @include onDesktop {
      margin-bottom: 20px;
      max-height: 484px;
      grid-column: span 12;
    }
  }

  &__date {
    margin-bottom: 10px;
    line-height: 24px;

    @include onTable {
      grid-column: span 6;
    }

    @include onDesktop {
      grid-column: span 12;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include onTable {
      grid-column: span 6;
    }

    @media (min-width: 738px) and (max-width: 880px) {
      height: 60px;
    }

    @include onDesktop {
      grid-column: span 12;
    }
  }

  &__text {
    margin-bottom: 30px;
    grid-column: span 6;

    @include onTable {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 50px;
      grid-column: span 12;
    }
  }

  &__btn {
    height: 60px;
    grid-column: span 6;
    align-self: self-end;

    @include onDesktop {
      width: calc(50% - 15px);
      grid-column: span 12;
    }
  }
}
