.news-card {
  &:not(:last-of-type) {
    margin-bottom: 50px;
  }

  @include onTable {
    grid-column: span 3;

    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }

  @include onDesktop {
    grid-column: span 6;
  }

  &__link {

    @include onTable{
      grid-column: span 6;
    }

    @include onDesktop {
      grid-column: span 12;
    }
  }

  &__img {
    margin-bottom: 20px;

    @include onTable {
      margin-bottom: 30px;
    }

    @include onDesktop {
      margin-bottom: 20px;
    }
  }

  &__date {
    font-size: 14px;
    line-height: 19.6px;
    color: $black;
  }

  &__title {
    margin-bottom: 20px;

    @include onTable {
      grid-column: span 6;
    }

    @include onDesktop {
      grid-column: span 12;
    }
  }

  &__text {
    line-height: 24px;
  }
}
