.swiper {
  height: 100%;
  margin-top: 40px;
  padding-bottom: 30px;

  @include onTable {
    margin-top: 50px;
    padding-bottom: 40px;
  }

  @include onDesktop {
    display: none !important;
  }
}

.swiper-wrapper {
 padding-bottom: 40px;
}

// .swiper-slide {
//   width: 80% !important;
// }


.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,11px)!important;
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: $green !important;
}

