.swiper {
  height: 100%;
  margin-top: 40px;
  padding-bottom: 30px;

  @include onTable {
    margin-top: 50px;
    padding-bottom: 40px;
  }

  @include onDesktop {
    display: none !important;
  }
}

.swiper-wrapper {
 padding-bottom: 40px;
}

// .swiper-slide {
//   width: 80% !important;
// }

.gallery__swiper {
  overflow: visible;
}

.swiper-slide img {
  width: 100%;
}

#gallery .swiper-pagination-bullet {
  margin-inline: 10px;
}

#gallery .swiper-pagination-bullet-active {
  opacity: 1;
  background: $green;
}
