.icon {
  display: flex;
  height: 24px;
  width: 24px;

  @include background;
  @include transform;
}

.menu--icon {
  background-image: url(../images/burger-menu.png);
}

.icon--close {
  background-image: url(../images/icon-close.png);
}

.facebook-icon {
  background-image: url(../images/facebook-icon.png);
}

.insta-icon {
  background-image: url(../images/instagram-icon.png);
}
