.icon {
  width: 24px;
  height: 24px;
  display: block;
  background-size: cover;

  &--menu {
    background-image: url(../images/icons/menu.svg);

    @include mobile {
      position: absolute;
      top: 27px;
      left: 20px;
    }

    @include tablet {
      position: static;
    }
  }

  &--close {
    background-image: url(../images/icons/close.svg);
  }
  &--facebook {
    background-image: url(../images/icons/facebook.svg);
  }
  &--instagram {
    background-image: url(../images/icons/instagram.svg);
  }
}
