.icon {
  background-position: center;
  background-size: cover;
  height: 24px;
  width: 24px;
}

.menu-icon {
  background-image: url(../images/burger-menu.png);
}

.facebook-icon {
  background-image: url(../images/facebook-icon.png);
}

.insta-icon {
  background-image: url(../images/instagram-icon.png);
}
