.gallery__picture {

  &__important {
    display: flex;
    justify-content: space-between;

    margin-bottom: 30px;
  }

  &__secondary {
    display: flex;
    justify-content: space-between;
  }
}
