// font colors
$main-color: #0f0e08;
$secondary-color: #687480;
$third-color: #4e4e4e;

// button colors
$green-color: #1a5a4c;
$white-color: #fff;
$orange-color: #f14a27;

// slider colors
$inactive-color: #e0e0e0;
$active-color: #1a5a4c;

// animations
$transition-time: 0.2s;
$standard-transition: all $transition-time linear;
$scale: scale(1.05);
