@keyframes animation-rotate {
  0% {
    transform: rotate(180deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  75% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes animation-move {
  0% {
    background-position: center;
  }
  100% {
    background-position: right;
  }
}

@keyframes animation-scale {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
