html {
  scroll-behavior: smooth;
  color: $text-color;
  font-family: $ff-main;
  background-color: $bg-color;

  &:has(.menu:target) {
    overflow: hidden;
  }
}

body {
  min-width: 320px;
  background-color: $bg-color;
}
