.carousel {
  width: 100%;

  @include onDesktop {
    display: none;
  }

  &__cell {
    height: 410px;
    width: 80vw;
    margin-inline: 10px;
    overflow: hidden;

    &:first-child {
      padding-left: 20px;
    }

    &:last-child {
      padding-right: 20px;
    }

    @include onTablet {
      width: 340px;
      height: 542px;
      image-rendering: unset;

      &:first-child,
      &:last-child {
        width: 360px;
      }
    }

    &--image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.flickity-button {
  display: none;
}

.flickity-page-dots {
  @include onTablet {
    bottom: -44px;
  }
  .dot {
    background: $green !important;
  }
}
