$black-color: #000;
$fonts-main-color: #0f0e08;
$dark-grey-color: #1a5a4c;
$light-grey-color: #d7dde3;
$medium-gray-color: #687480;
$white-color: #fff;
$red-accent: #f14a27;
$dots-color: #e0e0e0;
$text-gray-accent: #4e4e4e;
