html,
body {
  min-width: 100%;
  min-height: 100vh;
  width: 100%;
  font-size: 100%;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  color: $color-base;

  overflow-x: hidden;
}

.section {
  &__title {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: $color-base;
    text-align: center;
    margin-bottom: 40px;

    @include on-tablet {
      font-size: 48px;
      margin-bottom: 48px;
      text-align: left;
    }

    @include on-desktop {
      margin-bottom: 56px;
    }
  }
}

.button {
  height: 50px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-primary;
  transition: border-colot 0.3s;

  @include on-tablet {
    height: 70px;
    width: 270px;
  }

  @include on-desktop {
    align-self: end;
  }

  &__icon {
    padding: 13px;
    background-color: $color-primary;
    transition: background-color 0.3s;

    @include on-tablet {
      padding: 23px;
    }
  }
}
