body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: $color-default;
  color: $color-base;
  font-family: $font-family-base;
}

.section {
  &__title {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: $color-base;
    text-align: center;
    margin-bottom: 40px;

    @include tablet {
      font-size: 48px;
      text-align: left;
      margin-bottom: 48px;
    }

    @include desktop {
      margin-bottom: 56px;
    }
  }
}
