[class*="__container"] {
  @if ($maxWidthContainer > 0) {
    max-width: rem($maxWidthContainer);
    box-sizing: content-box;
    margin: 0 auto;
  }
  @if ($containerPadding > 0) {
    padding: 0 rem(20);

    @include md-device {
      padding: 0 rem(39);
    }

    @include lg-device {
      padding: 0 rem($containerPadding / 2);
    }
  }
}
