.main {
  margin: 0;

  &__head {
    @include headOne;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include onTablet {
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin: 0 0 56px 55px;
      justify-content: flex-start;
    }
  }

  &__section {
    margin: 0 20px 60px;

    @include onTablet {
      margin: 0 34px 64px;
    }

    @include onDesktop {
      margin: 0 55px 104px;
    }

    &--lection {
      margin: 0;
    }

    &__item {
      margin-bottom: 20px;

      @include onTablet {
        margin-bottom: 40px;
      }

      &__photo {
        width: 100%;

        &--hover {
          transition: transform 300ms;

          &:hover {
            transform: scale(1, 1.1);
          }
        }
      }
    }
  }

  &__description {
    @include onDesktop {
      margin-top: 50%;
    }

    &--lection {
      margin: auto;
      padding-top: 20px;
      width: max-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid $colorGreyText;
      transform: translateY(-87px);
      background-color: #fff;

      @include onTablet {
        padding: 45px 55px 50px;
        align-items: unset;
        transform: translateY(-125px);
      }

      @include onDesktop {
        padding: 45px 100px 50px;
      }
    }

    &__act {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 15px;

      &--add {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        @include onTablet {
          justify-content: space-between;
          margin-bottom: 15px;
        }
      }

      &__exhibition {
        @include event;
        padding-right: 25px;

        transition: transform 300ms;

        &:hover {
          color: $colorOrange;
        }
      }

      &__date {
        @include date;

        transition: transform 300ms;

        &:hover {
          color: $colorOrange;
        }
      }
    }

    &__item {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include onTablet {
        margin-bottom: 0;
        align-items: unset;
      }
    }

    &__name {
      @include headTwo;
      margin-bottom: 10px;

      transition: transform 300ms;

      &:hover {
        color: $colorOrange;
      }

      @include onTablet {
        margin-bottom: 15px;
      }

      &--klasytsyzm {
        @include onTablet {
          margin-bottom: 0;
        }
      }

      &--square {
        position: relative;

        @include square {
          top: 12px;
          left: 265px;
        }
      }

      &--squareTwo {
        position: relative;

        @include square {
          top: 12px;
          left: 225px;
        }
      }
    }

    &__topic {
      display: flex;
      @include paragraph;

      @include onTablet {
        max-width: 700px;
      }
    }
  }
}
