h1 {
  font-family: Montserrat, serif;
}

h2 {
  font-family: Montserrat, serif;
}

h3 {
  font-family: Montserrat, serif;
}

h4 {
  font-family: Montserrat, serif;
}

h5 {
  font-family: 'IBM Plex Sans', serif;
}

p {
  font-family: 'IBM Plex Sans', serif;
}

span {
  font-family: 'IBM Plex Sans', serif;
}

input {
  font-family: Montserrat, serif;
}

a {
  font-family: 'IBM Plex Sans', serif;
}

button {
  font-family: 'IBM Plex Sans', serif;
}

li {
  font-family: 'IBM Plex Sans', serif;
}
