.footer {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 20px 80px;

  @include onTablet {
    margin: 0 35px 35px;
  }

  @include onDesktop {
    margin: 0 55px 35px;
  }

  &__box {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 0;
    }

    @include onDesktop {
      display: flex;
      justify-content: space-between;
      max-width: 1300px;
      margin-bottom: 87px;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @include onTablet {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 0;
    }

    &__double {
      display: flex;
      @include onTablet {
        display: flex;
        flex-direction: row;
      }
    }

    &__facebook {
      margin-right: 20px;
      background-image: url(../images/signs/Facebook.svg);
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;

      &:hover {
        background-image: url(../images/signs/fb_hover.png);
        width: 25px;
        height: 25px;
      }

      @include onTablet {
        margin-right: 38px;
      }
    }

    &__instagram {
      background-image: url(../images/signs/Instagram.svg);
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;

      &:hover {
        background-image: url(../images/signs/insta_hover.png);
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
      }
    }
  }

  &__logo {
    @include onTablet {
      margin-bottom: 62px;
    }

    &__NAMU {
      width: 62px;
      height: 72px;
    }
  }

  &__second {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include onTablet {
      display: flex;
      justify-content: center;
    }

    &__block {
      flex-basis: 50%;
      margin: 0 20px 20px 0;
      max-width: 200px;
      @include onTablet {
        margin: 0 40px 64px 0;
      }

      @include onDesktop {
        margin: 0 30px 0 0;
      }
    }

    &__schedule {
      @include schedule;
      margin-bottom: 20px;
      color: $colorFooter;

      transition: transform 300ms;

      &:hover {
        color: $colorGreen;
      }
    }

    &__time {
      margin-bottom: 20px;

      &__items {
        @include schedule;
        color: $colorFooter;

        transition: transform 300ms;

        &:hover {
          color: $colorGreen;
        }
      }
    }

    &__days {
      @include schedule;
      color: $colorFooter;

      transition: transform 300ms;

      &:hover {
        color: $colorGreen;
      }
    }

    &__contact {
      flex-basis: 50%;
      max-width: 200px;
    }

    &__name {
      @include schedule;
      margin-bottom: 20px;
      color: $colorFooter;

      transition: transform 300ms;

      &:hover {
        color: $colorGreen;
      }
    }

    &__adress {
      margin-bottom: 20px;

      &__item {
        &__link {
          @include schedule;
          color: $colorFooter;
          text-decoration: none;

          transition: transform 300ms;

          &:hover {
            color: $colorGreen;
          }
        }
      }
    }
  }

  &__round {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 0;
    }

    &__arrow {
      width: 10px;
      height: 10px;
      padding: 20px;
      border: 1px solid $colorGreen;
      border-radius: 50%;

      @include onTablet {
        width: 0;
        height: 0;
        padding: 0;
        border: none;
      }

      &__item {
        margin-bottom: 5px;

        @include onTablet {
          width: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  &__stick {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;

    @include onTablet {
      justify-content: center;
      margin-bottom: 64px;
    }

    &__item {
      display: flex;
      height: 1px;
      width: 100%;
      background-color: $colorGreen;

      @include onTablet {
        max-width: 450px;
      }

      @include onDesktop {
        width: 1px;
        height: 210px;
        margin: auto;
      }
    }
  }

  &__list {
    margin-bottom: 80px;

    @include onTablet {
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
    }

    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @include onTablet {
        display: flex;
      }
    }

    &__left {
      margin-right: 40px;
      @include onDesktop {
        margin-right: 30px;
      }
    }

    &__right {
      // margin-right: 140px;

      @include onTablet {
        margin-right: 0;
      }
    }
  }

  &__item {
    margin-bottom: 20px;
    min-width: max-content;
    list-style-type: none;

    @include onTablet {
      margin-right: 117px;
    }

    @include onDesktop {
      margin-right: 0;
    }
  }

  &__link {
    @include schedule;
    color: $colorFooter;
    text-decoration: none;
    transition: transform 300ms;

    &:hover {
      color: $colorGreen;
    }
  }

  &__down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include onTablet {
      flex-direction: row;
      justify-content: space-between;
    }

    &__paragraph {
      @include schedule;
      font-size: 12px;
      line-height: 17px;
      color: $colorParagraph;
    }
  }
}
