.header {
  position: relative;
  height: 100vh;

  &__top-nav {
    margin: 0;

    &__museum {
      position: absolute;
      background-image: url(../images/photos/actual-acts/Muzej.svg);
      width: 100%;
      height: 350px;
      right: 0;
      top: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform: translateY(-9px);
      z-index: 0;

      @include onTablet {
        width: 42%;
        height: 550px;
        margin-bottom: 88px;
      }

      @include onDesktop {
        width: 60%;
        height: 655px;
      }
    }

    &__container {
      display: flex;
      margin: 0 23px;
      line-height: 61px;

      @include onTablet {
        display: grid;
        margin: 0 0 40px;
        line-height: 72px;
      }

      @include onDesktop {
        margin: 0;
        display: grid;
        line-height: 72px;
      }
    }

    &__link {
      margin: 9px 91px 0 0;
      z-index: 1;

      @include onTablet {
        margin: 15px 0 0 35px;
      }

      @include onDesktop {
        margin: 15px 0 0 45px;
      }
    }

    &__menu-image {
      cursor: pointer;
    }

    &__logo {
      margin: 9px 0 250px;
      z-index: 1;

      @include onTablet {
        margin-bottom: 0;
        margin-top: 15px;
      }

      @include onDesktop {
        margin-bottom: 80px;
      }

      &__NAMU {
        height: 61px;
        @include onTablet {
          height: 72px;
        }
      }
    }

    &__name {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 23px;

      @include onTablet {
        margin: 0 0 0 35px;
        display: grid;
      }

      @include onDesktop {
        margin: 0 0 0 45px;
        display: grid;
      }

      &--h {
        margin-top: 20px;

        @include onTablet {
          margin-top: 0;
        }

        @include onDesktop {
          margin-top: 0;
        }
      }

      &--m {
        margin-bottom: 20px;

        @include onTablet {
          margin-bottom: 40px;
        }

        @include onDesktop {
          margin-bottom: 89px;
        }
      }

      &__item {
        margin: 0;
        font-family: "Montserrat", sans-serif;
        font-size: 45px;
        line-height: 45px;
        color: $colorBlack;

        @include onTablet {
          font-size: 54px;
          line-height: 65px;
        }

        @include onDesktop {
          font-size: 72px;
          line-height: 86px;
        }
      }
    }

    &__tickets {
      text-decoration: none;
      &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 23px;
        border: 1px solid $colorGreen;

        @include onTablet {
          margin: 0 0 0 35px;
          width: 260px;
        }

        @include onDesktop {
          margin: 0;
          margin-left: 218px;
          width: 260px;
        }

        &__item {
          padding-left: 50px;
          font-family: "IBM Plex Sans", sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: $colorText;
          text-decoration: none;
        }

        &__right {
          margin: 0;
          position: relative;
          background-image: url(../images/signs/Rectangle.svg);
          background-repeat: no-repeat;
          height: 50px;
          width: 50px;
          z-index: 0;
          transition: transform 300ms;

          &:hover {
            background-image: none;
            background-color: red;
          }

          @include onTablet {
            height: 70px;
            width: 70px;
          }

          &::after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 40%;
            right: 42%;
            background-image: url(../images/signs/right-white.svg);
            background-repeat: no-repeat;
            width: 7px;
            height: 12px;
            z-index: 1;

            @include onTablet {
              top: 43%;
            }
          }
        }
      }
    }

    &__act {
      margin: 0;
      text-decoration: none;
      color: transparent;
      cursor: none;

      @include onDesktop {
        &__actions {
          position: relative;
          margin-left: 45px;
          writing-mode: tb-rl;
          transform: rotate(180deg);
          font-family: "IBM Plex Sans", sans-serif;
          font-weight: 700;
          font-size: 14px;
          cursor: pointer;
          color: $colorGreyText;

          &::before {
            content: "";
            position: absolute;
            display: inline-block;
            background-image: url(../images/signs/Stick.svg);
            background-repeat: no-repeat;
            width: 1px;
            height: 70px;
            bottom: 145%;
            left: 10px;
          }
        }
      }
    }
  }
}
