.header {
  position: relative;

  &__top-nav {
    margin: 0;

    @include onTablet {
      margin: 15px 34px 0;
    }

    @include onDesktop {
      margin: 15px 55px 0;
    }

    &__museum {
      position: absolute;
      background-image: url(../images/photos/actual-acts/Muzej.svg);
      width: 100%;
      height: 300px;
      right: 0;
      top: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform: translateY(-9px);
      z-index: 0;

      @include onTablet {
        margin-bottom: 88px;
        height: 450px;
        width: 39%;
        transform: translateY(-15px);
      }

      @include onDesktop {
        margin-bottom: 200px;
        width: 58%;
        height: 655px;
        transform: translateY(-15px);
      }
    }

    &__container {
      display: flex;
      margin: 9px 23px 0;
      line-height: 61px;

      @include onTablet {
        display: grid;
        margin: 0;
        line-height: 72px;
      }

      @include onDesktop {
        margin: 0;
        display: grid;
        line-height: 72px;
      }
    }

    &__link {
      margin-right: 91px;
      z-index: 1;

      @include onTablet {
        margin-right: 0;
      }

      @include onDesktop {
        margin-right: 0;
      }
    }

    &__menu-image {
      cursor: pointer;
    }

    &__logo {
      margin-bottom: 200px;
      z-index: 1;

      @include onTablet {
        margin-bottom: 40px;
      }

      @include onDesktop {
        margin-bottom: 80px;
      }
    }

    &__name {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 23px;

      @include onTablet {
        margin: 0;
        display: grid;
      }

      @include onDesktop {
        display: grid;
      }

      &--h {
        margin-top: 20px;

        @include onTablet {
          margin-top: 0;
        }

        @include onDesktop {
          margin-top: 0;
        }
      }

      &--m {
        margin-bottom: 20px;

        @include onTablet {
          margin-bottom: 38px;
        }

        @include onDesktop {
          margin-bottom: 89px;
        }
      }

      &__item {
        margin: 0;
        font-family: "Montserrat", sans-serif;
        font-size: 45px;
        color: $colorBlack;

        @include onTablet {
          font-size: 54px;
          line-height: 65px;
        }

        @include onDesktop {
          font-size: 72px;
          line-height: 86px;
        }
      }
    }

    &__tickets {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $colorGreen;
      margin: 0 23px;

      @include onTablet {
        margin: 0;
        width: 260px;
      }

      @include onDesktop {
        margin-left: 218px;
        width: 260px;
      }

      &__item {
        padding-left: 50px;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: $colorText;
        z-index: 0;
      }

      &__right {
        margin: 0;
        position: relative;
        background-image: url(../images/signs/Rectangle.svg);
        background-repeat: no-repeat;
        height: 70px;
        width: 70px;
        z-index: 0;

        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 45%;
          right: 45%;
          background-image: url(../images/signs/right-white.svg);
          background-repeat: no-repeat;
          width: 7px;
          height: 12px;
          z-index: 1;
        }
      }
    }

    &__act {
      text-decoration: none;
      color: transparent;
      cursor: none;

      @include onDesktop {
        &__actions {
          position: relative;
          writing-mode: tb-rl;
          transform: rotate(180deg);
          font-family: "IBM Plex Sans", sans-serif;
          font-weight: 700;
          font-size: 14px;
          color: $colorGreyText;

          &::before {
            content: "";
            position: absolute;
            display: inline-block;
            background-image: url(../images/signs/Stick.svg);
            background-repeat: no-repeat;
            width: 1px;
            height: 70px;
            bottom: 145%;
            left: 10px;
          }
        }
      }
    }
  }
}
