.icon {
  display: block;
  background-size: cover;
  width: 24px;
  height: 24px;

  @include hover(transform, scale(1.2));

  &--menu {
    position: relative;
    // position: absolute;
    // left: 20px;
    z-index: 1;
    background-image: url(/images/header/menu.svg);
  }

  &--close {
    width: 24px;
    height: 24px;
    background-image: url(/images/menu/close.svg);
  }
}
