@keyframes movetop {
  0% {
    top: -420px;
    left: 0;
  }

  100% {
    top: 0;
    left: 0;
  }
}

@keyframes movetop-tablet {
  0% {
    top: -220px;
    left: 0;
  }

  100% {
    top: 0;
    left: 0;
  }
}


@keyframes movetop-desktop {
  0% {
    top: -200px;
    left: 0;
  }

  100% {
    top: 0;
    left: 0;
  }
}

@keyframes movedown {
  0% {
    top: 0;
    left: 0;
  }

  100% {
    top: -420px;
    left: 0;
  }
}

@keyframes movedown-tablet {
  0% {
    top: 0;
    left: 0;
  }

  100% {
    top: -220px;
    left: 0;
  }
}


@keyframes movedown-desktop {
  0% {
    top: 0;
    left: 0;
  }

  100% {
    top: -200px;
    left: 0;
  }
}
