@media (max-width: 1439px) {
  .leacture {
    height: 550px;
  }

  .gallery {
    padding: 0 35px;

    &__wrap {
      width: 1170px;
    }

    &__item-3 {
      display: none;
    }

    &__item-6 {
      display: none;
    }
  }

  .subscribing {
    height: 550px;
  }

  .footer {
    padding: 0 35px;
  }
}

@media (min-width: 1440px) {
  .header {
    margin-left: 136px;
  }

  .event {
    padding: 0 136px;
  }

  .leacture {
    height: 619px;
  }

  .gallery {
    padding: 0 55px;

    &__wrap {
      width: 1170px;
    }

    &__item-3 {
      display: none;
    }

    &__item-6 {
      display: none;
    }
  }

  .footer {
    padding: 0 55px;
  }

  .subscribing {
    height: 550px;
  }
}

@media (min-width: 1600px) {
  .header {
    margin-left: 175px;
  }

  .event {
    padding: 0 175px;

    &__item-wrap {
      margin: 0 auto;
      justify-content: center;
    }

    &__img {
      max-width: 870px;
    }
  }

  .leacture {
    height: 674px;
  }

  .gallery {

    &__wrap {
      width: 1570px;
    }

    &__item-3 {
      display: block;
    }

    &__item-6 {
      display: block;
    }
  }

  .footer {
    padding: 0 175px;
  }

  .subscribing {
    height: 650px;
  }
}
