/*
- The design 1440px
- Desktop 1280px
- Tablet 640px
- Mobile (> 320px)
*/


$desktop-above: 1281px;
$desktop: 1280px;

$tablet-above: 641px;
$tablet: 640px;

$mobile-above: 481px;
$mobile: 480px;

$mobile-s-above: 321px;
$mobile-s: 320px;


@mixin desktop-above {
  @media(min-width: $desktop-above) {
    @content;
  }
}

@mixin desktop {
  @media(max-width: $desktop) {
    @content;
  }
}

@mixin tablet-above {
  @media(min-width: $tablet-above) {
    @content;
  }
}

@mixin tablet {
  @media(max-width: $tablet) {
    @content;
  }
}

@mixin mobile-above {
  @media(min-width: $mobile-above) {
    @content;
  }
}

@mixin mobile {
  @media(max-width: $mobile) {
    @content;
  }
}

@mixin mobile-s-above {
  @media(min-width: $mobile-s-above) {
    @content;
  }
}

@mixin mobile-s {
  @media(max-width: $mobile-s) {
    @content;
  }
}
