* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  min-width: 320px;

  @include onDesktopLarge {
    max-width: $breakPointDesktopL;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
