.page {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;

  &__body {
    margin: 0;
    padding: 0;
  }
}

a,
li {
  text-decoration: none;
  list-style: none;
}

p,
ul {
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: $black !important;
  transition: background-color 9999s ease-in-out 0s;
}
