%imgProperty {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
%Plex {
  font-family: "IBM Plex Sans", sans-serif;

}
%Mont {
  font-family: "Montserrat", sans-serif;
}
