* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
  
h1,
h2,
h3,
h4,
h5,
p,
div,
a,
ul,
li,
button,
form {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
