* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
