*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
button,
ul {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

button {
  border: none;
  border-radius: 0%;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

ul {
  list-style: none;
}
