html {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  scroll-behavior: smooth;
}

.conteiner {
  padding: 0 55px;

}

* {
  box-sizing: border-box;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
}

.tile3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
}

.title,
.title3,
.title4 {
  color: $tile-color;
}
