html {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  scroll-behavior: smooth;
}

.container {
  padding: 0 55px;

  @include tablet {
    padding: 0 35px;
  }

  @include mobile {
    padding: 0 20px;
  }

}

* {
  box-sizing: border-box;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;

  @include tablet {
    font-size: 48px;
  }

  @include mobile {
    font-size: 36px;
    line-height: 100%;
    text-align: center;
  }
}

.tile3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;

  @include mobile {
    font-size: 28px;
  }
}

.title,
.title3,
.title4 {
  color: $tile-color;
}
