// Шрифты
$font-main: "IBM Plex Sans", sans-serif;
$font-second: Montserrat, sans-serif;

// Размеры
$size-mobile: 320px;
$size-tablet: 640px;
$size-desktop: 1280px;
$size-large: 1440px;

// Цвета
$color-bg-main: #1A5A4C;
