$main-color: #fff;
$color-text-events-top: #687480;
$menu-color: #1a5a4c;
$text-color: #0f0e08;
$title-color: #000;
$menu-decoration-color: #18181a;
$actual-events-text: #4e4e4e;
$event-subscribe-color: #f14a27;

$size-icon-top: 18px;
