$tablet-min-width: 768px;
$tablet-max-width: 1023.98px;
$desktop-min-width: 1024px;
$desktop-max-width: 1280px;
$mobile-min-width: 320px;
$mobile-max-width: 767.98px;
$font-family-base: 'IBM Plex Sans', sans-serif;
$effect-duration: 0.3s;
