// Device sizes
$onMobile: 320px;
$onMobileContent: 280px;
$onTablet: 768px;
$onTabletContent: 690px;
$onDesktop: 1170px;
$onDesktopContent: 1170px;

$main-background-color: #fff;
$content-font: "IBM Plex Sans", "Helvetica", "Arial", sans-serif;
$header-font: "Montserrat", "Helvetica", "Arial", sans-serif;
$header-font-color: #0f0e08;
$logo-font-color:#0f0e08;

// Modal Window
$modal-main-background-color: #1a5a4c;
$modal-secondary-background-color: rgba(24, 24, 26, 0.5);

// Main menu
$nav-font-color: #fff;
$nav-font-color-hover: #1a5a4c;
$nav-font-color-active: #000;

// Tickets button
$border-color: #1a5a4c;
$background-color: #1a5a4c;

// Events
$name-font-color: #687480;
$date-font-color: #1a5a4c;
$title-font-color: #0f0e08;
$point-background-color: #f14a27;
$content-font-color: #4e4e4e;

// Gallery
$dots-color: #e0e0e0;
$dots-active-color: #1a5a4c;

// Form
$submit-btn-background-color: #f14a27;
$submit-btn-background-color-hover: #b83920;
$placeholder-font-color: #687480;

// Contacts
$border-color: #1a5a4c;
$social-background-color-hover: #f14a27;
$schedule-font-color: #0f0e08;
$nav-link-font-color: #0f0e08;
$nav-link-font-color-hover: #f14a27;

// Info
$content-font-color: #0f0e08;
