
$green-bg-color: #1A5A4C;
$secondary-text: #687480;
$text-color-white: #fff;
$button-color: #F14A27;
$placeholder-text-color: #687480;
$copyright-text: #0F0E08;
$dots-color: #E0E0E0;
$second-font: 'IBM Plex Sans', sans-serif;
$mobile-max-width: 639px;
$tablet-max-width: 1279px;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;

