.actual {

  &__products {
    @include pageGrid;

  }

  &__product {
    grid-column: span 2;
    padding-block: 0 60px;

    @include onTablet {
      grid-column: span 4;
      padding-block: 0 64px;
    }

    @include onDesktop {
      grid-column: 9/-1;
      margin-top: 159px;
    }
  }
}
