@keyframes logo-rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  from {
    transform: translateY(3px);
  }

  25% {
    transform: translateY(7px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-3px);
  }

  to {
    transform: translateY(-7px);
  }
}
