.box {
  box-sizing: border-box;
  width: 280px;
  height: 140px;
  background: #fff;
  box-shadow: 0px 2px 0px rgba(26, 90, 76, 0.25);
  margin: 20px;
  transform: translateY(-60%);
  padding-bottom: 20px;

  @include onTablet {
    width: 570px;
    height: 204px;
    margin: 0 auto;
    padding: 45px 55px 50px;
    transform: translateY(-45%);
  }

  @include onDesktop {
    padding: 45px 100px 50px;
  }

  &__subtitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
    margin: 0;
    box-sizing: border-box;

    color: #0F0E08;

    @include onTablet {
      font-size: 36px;
      text-align: start;
      padding-top: 15px;
    }

  }

  &--date {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    @include onTablet {
      padding: 0;
    }
  
    &__title {
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
  
      color: #687480;

      @include onTablet {
        font-size: 14px;
        margin: 0;
      }
    }
  
    &__date {
      font-family: "IBM Plex Sans";
      font-weight: bold;
      font-size: 16px;
      line-height: 150%;
      color: #1A5A4C;

      text-decoration: none;

      @include onTablet {
        font-size: 14px;
        padding-right: 90px;
      }
    }
  
  }
}