$colorBlack: rgba(15, 14, 8, 1);
$colorGreen: rgba(26, 90, 76, 1);
$colorWhite: rgba(255, 255, 255, 1);
$colorGary: rgba(104, 116, 128, 1);
$colorText: rgba(78, 78, 78, 1);
$colorRed: rgba(241, 74, 39, 1);
