.container {
  padding-inline: $padding-inline-mobile;

  @include on-tablet {
    padding-inline: $padding-inline-tablet;

    @include on-desktop {
      padding-inline: $padding-inline-desktop;
    }
  }
}
