.contact-us {
  width: 130px;

  @include onTablet {
    width: 100%;
  }

  &__info-link {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-decoration: none;
    
    
  
    color: #0f0e08;
  }

}
