%h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;

  color: $c-dark;
}

%h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 400;

  color: $c-dark;
}

%menu-link {
  font-family: "Montserrat", sans-serif;
  /* font-size: 28px;
  font-weight: 400; */
}
