.footer {
  padding: 50px 0;

  &__logo {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #0f0e08;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.2);
      color: red;
      text-shadow: #fff 0 0 40px;
    }
  }

  &__text {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #0f0e08;
    transition: all 0.3s ease;

    &:hover {
      color: red;
    }
  }

  &__icon {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 40px;

    @include onTablet {
      flex-direction: column;
      height: 160px;
    }

    &-social {
      display: flex;
      width: 60px;
      justify-content: space-between;

      @include onTablet {
        width: 80px;
      }

      @include onDesktop {
        width: 70px;
      }
    }
  }
}

.footer__timetable {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140.62%;
  color: #0f0e08;
  margin-bottom: 20px;

  &-title,
  &-day,
  &-remark {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    color: #0f0e08;
    width: 160px;
  }
  &-title {
    margin-bottom: 20px;
  }

}

.footer__line {
  margin-top: 50px;
  margin-bottom: 40px;
  height: 1px;
  width: 100%;
  background: rgba(26, 90, 76, 0.5);

  @include onTablet {
    margin: 64px 0;
  }

  @include onDesktop {
    margin: 0 auto;
    margin-top: 20px;
    width: 1px;
    height: 260px;
  }
}

.nav__link {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #0f0e08;
  transition: all 0.3s ease;

  &:hover {
    color: red;
  }
}

.nav__box--footer {
  margin-bottom: 20px;
}

.nav__item--footer {
  margin-bottom: 60px;
}

.footer__bottom {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 140.62%;
  text-align: center;
  color: #0f0e08;

  &-text {
    margin-bottom: 10px;

  }

  @include onTablet {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
}
