.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding: 40px 0;

  &__text {
    font-family: $font-ibm-plex-sans;
    font-size: 12px;
    font-weight: 300;
    line-height: 16.88px;
  }
}
