body {
  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 150%;
  background: $c-gray;
  margin: 0;
}

* {
  margin: 0;
}

a {
  cursor: pointer !important;
  display: inline-block;
  text-decoration: none;
  color: $primary-color;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
}
