.header {
  height: 500px;
  box-sizing: border-box;

  @include onTablet {
    height: 385px;
  }

  @include onDesktop {
    height: 655px;
  }

  &__nav {

    display: flex;
  }

  &__logo {
    width: 55px;
    height: 60px;
    z-index: 1;

    @include onTablet {
      height: 72px;
    }

  }

  &__menu-opener {
    display: block;
    width: 18px;
    height: 12px;
    background-image: url(../images/menu.svg);
    z-index: 1;
    margin: 24px 90px 0 0;

    @include onTablet {
      margin-right: 400px;
    }

    @include onDesktop {
      margin-right: 540px;
    }
  }

  &__background {
    background-image: url(../images/background.svg);
    width: 320px;
    height: 300px;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;

    @include onTablet {
      width: 374px;
      height: 384px;
      position: absolute;
      right: 0;
      top: 0;
    }

    @include onDesktop {
      width: 725px;
      height: 655px;
      position: absolute;
      right: 0;
    }

  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 45px;
    line-height: 100%;
    text-align: center;

    color: #000;
    margin-top: 250px;

    @include onTablet {

      margin-top: 35px;
      font-size: 54px;
      line-height: 120%;
      text-align: start;

    }

    @include onDesktop {
    
      font-size: 72px;
      margin-top: 119px;

    }

  }

  &__actions {

    display: flex;
    cursor: pointer;
    margin-top: 20px;

    @include onTablet {

      font-size: 54px;
      line-height: 120%;
      margin-top: 38px;

    }

    @include onDesktop {
      margin-top: 89px;
    }

    &-text {
      border: 1px solid #1a5a4c;
      box-sizing: border-box;
      height: 50px;
      width: 230px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;

      @include onTablet {
        height: 70px;
        width: 190px;
      }
    }

    &-action {
      width: 50px;
      height: 50px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      background-color: #1a5a4c;

      &:hover {
        box-shadow: 1px 4px 16px rgba(19, 56, 2, 0.4);
      }

      @include onTablet {
        width: 70px;
        height: 70px;

      }

      &--right {
        background-image: url(../images/arrow-right--white.svg);
        width: 8px;
        height: 12px;
      }
    }
  }

}
