.header {
  height: 100%;
  padding-block: 0 70px;

  @include onTablet {
    padding-block: 0 88px;
  }

  @include onDesktop {
    padding-block: 0 200px;
  }

  &__content {
    @include pageGrid;
  }

  &__image {
    background-image: url(../images/bg-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-bottom: 20px;
    height: 300px;
    width: 100%;
    right: 0;

    @include onTablet {
      height: 384px;
      width: 374px;
      background-size: contain;
      right: 0;
    }

    @include onDesktop {
      // background-size: 55%;
      width: 725px;
      height: 655px;
      background-size: contain;
      right: 0;
    }
  }

  &__text {
    margin-top: 250px;
    color: $color-black;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 20px;
    grid-column: span 2;

    @include onTablet {
      grid-column: span 3;
      text-align: left;
      margin-top: 20px;
      font-size: 54px;
      margin-bottom: 38px;
    }

    @include onDesktop {
      margin-top: 120px;
      grid-row: 2;
      margin-bottom: 89px;
      grid-column: span 5;
      font-size: 72px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
    transition: transform $time-transition;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    @include onTablet {
      grid-row: 3;
      margin-bottom: 19px;
      justify-content: flex-start;
    }

    @include onDesktop {
      margin-bottom: 118px;
      grid-column: 3/6;
    }
  }

  &__top {
    border: 1px solid $color-green;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    align-items: center;

    @include onTablet {
      height: 70px;
    }
  }

  &__ticket {
    color: $color-black-black;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    text-decoration: none;
    display: flex;
    margin-left: 80px;
    margin-right: 80px;

    @include onTablet {
      margin-left: 68px;
      margin-right: 68px;
    }
  }

  &__tickets {
    padding: 13px;
    background: $color-green;
    display: flex;

    @include onTablet {
      padding: 23px;
    }
  }
}
