.main {
  display: grid;

  &__event {
    @include page-grid;
  }

  &__title {
    grid-column: 1/-1;
  }

  &__picture {
    grid-column: 1/-1;

    @include on-desktop {
      grid-column: 1/8;
    }
  }

  &__playbill {
    grid-column: 1/-1;

    @include on-desktop {
      grid-column: 9/-1;
    }
  }

  &__inform {
    display: grid;
  }

  &__grid {
    @include page-grid;
  }

  &__network {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/2;
      flex-direction: column;
      gap: 62px;
    }

    @include on-desktop {
      grid-column: 1/3;
    }
  }

  &__time {
    grid-column: 1/2;

    @include on-tablet {
      grid-column: 2/4;
    }

    @include on-desktop {
      grid-column: 3/5;
    }
  }

  &__address {
    grid-column: 2/-1;

    @include on-tablet {
      grid-column: span 2;
    }
  }

  &__butt {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 2/-2;
    }

    @include on-desktop {
      grid-column: 7/8;
    }
  }

  &__activites {
    grid-column: 1/2;

    @include on-tablet {
      grid-column: 2/4;
    }

    @include on-desktop {
      grid-column: 8/10;
    }
  }

  &__data {
    grid-column: 2/-1;

    @include on-tablet {
      grid-column: 4/5;
    }

    @include on-desktop {
      grid-column: 10/-1;
    }
  }
}

