.menu {
  height: 500px;
  box-sizing: border-box;
  background-color: #1a5a4c;

  @include onTablet {
    height: 385px;
  }

  @include onDesktop {
    height: 655px;
  }


  &__nav {

    display: flex;
  }
   
  &__logo {
    width: 55px;
    height: 60px;
    margin-bottom: 48px;
  }

  &__cross {
    display: block;
    width: 18px;
    height: 18px;
    background-image: url(../images/cross.svg);
    background-repeat: no-repeat;

    margin: 24px 0 0 100px;


    @include onTablet {
      margin: 24px 0 0 220px;
    }

    @include onDesktop {
      margin: 24px 0 0 540px;
    }

    
  }

  &__list {
    margin: 0 ; 
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;

    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    
    color: #0F0E08;

    &:hover {
      border-color: #0f0e08;
    }
  }

}