@mixin create-page-grid {
  @media (min-width: $tablet-min-width) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0 30px;
  }

  @media (min-width: $desktop-min-width) {
    grid-template-columns: repeat(12, 1fr);
  }
}
