@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin onMobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin containerPadding() {
  padding-inline: 20px;

  @include onTablet() {
    padding-inline: 34px;
  }

  @include onDesktop() {
    padding-inline: 55px;
  }
}

@mixin pageGrid() {
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;

  @include onTablet() {
    --columns: 6;
    column-gap: 30px;
  }

  @include onDesktop() {
    --columns: 12;
  }
}

@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;

  @media (hover:hover) {
    &:hover {
      #{$_property}: $_toValue;
    }
  }
}

@mixin transformElement {
  cursor: pointer;
  transition: all .3s;
  &:hover {
    transform: scale(0.9);
  }
}
