.navigation {

  &__item {
    width: 130px;
    transform-origin: left;
    transition: transform $time-transition ;
    cursor: pointer;
    &:hover {
      transform: scale(1.1) ;
    }

    @include onTablet {
      width: 220px;
    }

    @include onDesktop {
      width: 169px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
  }

  &__link {
    color: $color-black-black;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    text-decoration: none;
    text-align: left;
  }
}
