html {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #4e4e4e;
}

body {
  margin: 0;
  background: $c-gray;
}

h1,
p,
h3 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  width: fit-content;
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
