html {
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: $colorBlack;
}

p {
  margin: 0;
}

a,
a:visited {
  color: $colorBlack;
}
