* {
  box-sizing: border-box;
  transition: all 0.5s;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

a {
  font-style: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}
