.page {
  &__menu {
    background-color: $color-green;
    height: 400px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;

    &:target {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.menu {
  &__close {
    background-image: url(../images/close.svg);
    height: 24px;
    width: 24px;
    display: block;
    background-size: cover;
    background-position: center;
  }

  &__top {
    display: flex;
    flex-direction: row;
    gap: 28px;
    justify-content: start;
    padding: 27px 0 24px;
    border-bottom: 1px solid $color-white;
  }

  &__information {
    padding: 24px 0 27px;
    color: $color-white;

  }

  &__work {
    padding: 16px 0;
  }

  &__schedule {
    display: flex;
    gap: 3px;
    font-family: $font-ibm-plex-sans;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }


  &__about {
  border-top: 1px solid $border-top;
  display: flex;
  flex-direction: row;
  gap: 28px;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__nav {
    color: $color-white;
    font-family: $font-ibm-plex-sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
  }
}
