%font-M400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

%font-M700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

%font-I300 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
}

%font-I400 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
}

%font-I500 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
}

%font-I700 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
}
