* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.html--active {
  overflow-y: hidden;
}

body {
  background: $c-white;
  margin: 0;
  font-family: "Montserrat", "IBM Plex Sans", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul,
li {
  list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0;
  box-shadow: 0;
  transition: background-color 5000s ease-in-out 0s;
}
