.page {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  &__body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    &--with-menu {
      overflow: hidden;
    }
  }
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}
