.section-title {
  color: $color-black-black;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 0;
  grid-column: span 2;

  @include onTablet {
    grid-column: span 4;
    margin-bottom: 48px;
    font-size: 48px;
    text-align: left;
  }

  @include onDesktop {
    grid-column: span 5;
    text-align: left;
  }

  &__top {
    color: $color-black-black;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    grid-column: span 2;
    margin-top: 100px;

    @include onTablet {
      margin-bottom: 48px;
      grid-column: 1/4;
    }
  }
}
