.to-top {
  border: 1px solid #1A5A4C;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
  margin-bottom: 20px;
  transform: translateY(-50%);
 
  @include onTablet {
    display: none;
  }

  &__up {

    width: 10px;
    height: 10px;
    transform: translateY(160%);
  }

}