.top-bar {
  display: flex;
  gap: 90px;
  align-items: center;

  &__logo {
    font-family: $font-montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: none;
    color: $color-black;
  }

  &__icon {
    background-image: url(../images/Vector.svg);
    width: 18px;
    height: 12px;
    display: block;
    background-size: cover;
    background-position: center;

  }
}
