$c-gray: #eee;
$mobile-max-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$gap-mobile: 20px;
$padding-mobile: 20px;
$gap-tablet: 30px;
$padding-tablet: 39px;
$gap-desktop: 30px;
$padding-desktop: 55px;
$lecture-content-top: 57px;
