/* #region BREACKPOINTS */
$tablet-width: 768px;
$desktop-width: 1280px;
/* #endregion */

/* #region COLORS */
$color-white: #fff;
$color-black: #000;
$color-dark-accent: #0f0e08;
$color-blue-gray-accent: #687480;
$color-dark-green-accent: #1a5a4c;
$color-gray-accent: #4e4e4e;
/* #endregion */
