$second-font-family: Montserrat, sans-serif;
$main-font-family: 'IBM Plex Sans', serif;
$font-color-main-black: #0f0e08;
$font-color-grey: #4e4e4e;
$transition-time: 0.3s;
$accent-color: #1a5a4c;
$main-color-white: #fff;
$color-orange: #f14a27;
$tablet-min-width: 640px;
$desktop-min-width: 1280px;
