$green-color: #1a5a4c;
$black-color: #0f0e08;
$white-color: #e0e0e0;
$grey-color: #687480;
$red-color: #f14a27;
$light-color: #4e4e4e;
$transition: 0.5s;
$ff-ibm: ibm plex sans, sans-serif;
$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$padding-container: 20px;
$padding-container-t: 34px;
$padding-container-d: 55px;
