$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$black-color: rgba(15, 14, 8, 1);
$green-color: rgba(26, 90, 76, 1);
$grey-color: rgba(78, 78, 78, 1);
$grey-blue-color: rgba(104, 116, 128, 1);
$orange-color: rgba(241, 74, 39, 1);
$white-color: rgba(255, 255, 255, 1);
