 //Colors
$ligh-gray-background-color-fourth: #e0e0e0;
$green-color-border-color: #1a5a4c;
$white-background-color: #fff;
$dark-blue-background-second-color: #18181a;
$black-color-text: #000;
$dark-gray-text-color-second: #0f0e08;
$gray-text-color-fourth: #4e4e4e;
$grayish-text-color-third: #687480;
$white-gray: #d7dde3;
$orange-background-color-third: #f14a27;

//Screens
$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$design-min-width: 1440px;

//animations
$time-duration: 0.3s;

