$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$c-green: #1a5a4c;
$c-orange: #f14a27;
$c-black: #0f0e08;
$c-grey: #687480;
$font-montserrat: 'Montserrat', sans-serif;
$font-ibm: 'IBM Plex Sans', sans-serif;
$effectDuration: 0.3s;
