.subscription {
  background-image: url(../images/main/subscription/subscription.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 88px;

  @include tablet {
    padding-block: 82px;
  }

  @include desktop {
    padding-block: 163px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;

    @include tablet {
      gap: 16px;
      margin-bottom: 64px;
    }

    @include desktop {
      margin-bottom: 72px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 27px;
    color: $background-color;
    text-align: center;

    @include tablet {
      line-height: 18px;
    }
  }

  &__center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form {
    display: flex;

    @include tablet {
      gap: 16px;
    }

    @include desktop {
      gap: 30px;
    }
  }

  &__input {
    font-family: $montserrat;
    border: none;
    width: 230px;
    height: 50px;
    font-size: 14px;
    line-height: 14px;
    outline: none;
    padding-left: 24px;

    @include tablet {
      width: 374px;
      height: 70px;
    }

    @include desktop {
      width: 470px;
      padding-left: 32px;
    }

    &:hover {
      cursor: pointer;
    }

    &::placeholder {
      color: $gray-main-color;
    }
  }

  &__button {
    background-color: $orange-color;
    border: none;
    flex-basis: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      flex-basis: 70px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
