@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 39px;
  }

  @include on-desktop {
    padding-inline: 55px;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;

    column-gap: 30px;
  }

  @include on-desktop {
    --columns: 12;
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

@keyframes bounce {
  0%,
  10% {
    transform: rotate(-90deg) translateX(0);
  }
  20% {
    transform: rotate(-90deg) translateX(-5px);
  }
  30% {
    transform: rotate(-90deg) translateX(0);
  }
  40% {
    transform: rotate(-90deg) translateX(-3px);
  }
  50% {
    transform: rotate(-90deg) translateX(0);
  }
  100% {
    transform: rotate(-90deg) translateX(0);
  }
}
