.lection {
  @include page-grid;

  position: relative;

  margin-bottom: 183px;

  @include on-tablet {
    margin-bottom: 208px;
  }

  @include on-desktop {
    margin-bottom: 302px;

    margin-inline: unset;
  }

  &__photo-block {
    grid-column: 1 / -1;

    margin-inline: -20px;

    @include on-tablet {
      margin-inline: 0;
    }

    @include on-desktop {
      margin-inline: -55px;
    }
  }

  &__img {
    display: flex;

    width: 100%;

    max-height: 210px;

    @include on-tablet {
      max-height: 390px;
    }

    @include on-desktop {
      max-height: 550px;
    }
  }

  &__card-block {
    grid-column: 1 / -1;

    position: absolute;
    bottom: -83px;
    left: 0;
    right: 0;
    margin-inline: auto;

    max-width: 570px;
    max-height: 204px;

    background: #fff;
    box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);

    @include on-tablet {
      bottom: -120px;
    }

    @include on-desktop {
      bottom: -102px;
    }
  }

  &__title-block {
    margin: 0 0 20px;

    @include on-tablet {
      margin: 0 55px 50px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 20px 21px;

    font-family: $secondary-font;

    @include on-tablet {
      margin: 45px 55px 16px;
    }
  }

  &__type {
    color: $grey-text-color;

    font-size: 16px;
    font-weight: 500;
    line-height: 100%;

    text-align: center;

    @include on-tablet {
      font-size: 14px;
    }
  }

  &__dates {
    color: $green-text-color;

    font-size: 16px;
    font-weight: 700;
    line-height: 150%;

    @include on-tablet {
      font-size: 14px;
    }
  }

  &__title {
    margin: 0;

    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    color: $dark-text-color;

    @include on-tablet {
      text-align: left;

      font-size: 36px;
    }
  }
}
