.newsletter {
  margin-bottom: 50px;

  margin-inline: -20px;

  @include on-tablet {
    margin-bottom: 51px;

    margin-inline: -34px;
  }

  @include on-desktop {
    margin-bottom: 47px;

    margin-inline: -55px;
  }

  background-image: url(../images/newsletter/newsletter-bg.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    @include page-grid;
    @include content-padding-inline;

    padding-block: 88px;
    row-gap: 50px;

    @include on-tablet {
      padding-block: 82px;
    }

    @include on-desktop {
      padding-block: 163px;
    }
  }

  &__title-block {
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    gap: 20px;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 4 / -4;
    }
  }

  &__title {
    color: $white-text-color;

    @include on-tablet {
      text-align: center;
    }

    @include on-desktop {
      text-align: center;
    }
  }

  &__description {
    margin: 0;

    color: $white-text-color;

    font-family: $secondary-font;
    font-size: 18px;
    line-height: 150%;
    text-align: center;

    @include on-tablet {
      margin-top: 16px;

      line-height: 100%;
      text-align: left;
    }

    @include on-desktop {
      text-align: center;
    }
  }

  &__button {
    grid-column: 1 / -1;

    display: flex;
    align-items: unset;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 4 / -4;
    }
  }

  &__form {
    position: relative;

    display: flex;
    flex-grow: 1;

    @include on-tablet {
      gap: 16px;
    }

    @include on-desktop {
      gap: 30px;
    }
  }

  &__input {
    padding: 0;
    margin: 0;
    outline: none;

    display: flex;
    flex-grow: 1;

    background-color: #fff;

    color: $grey-text-color;
    font-family: $main-font;
    font-size: 14px;
    line-height: 100%;
    font-weight: 400;
    padding-inline: 24px;

    border: 1px solid transparent;
  }

  &__link-block {
    background-color: $red;
    padding: 12px;

    border: 1px solid $red;

    @include on-tablet {
      padding: 22px;
    }
  }
}
