.form-2 {
  &__input {
    display: block;
    margin: 0;
    width: 230px;
    height: 50px;
    padding: 18px 24px;

    &::placeholder {
      font-family: Montserrat, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #687480;
    }

    @include on-small-desktop {
      width: 374px;
      height: 70px;
      padding: 26px 24px;
    }

    @include on-large-desktop {
      width: 570px;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      border: 1px solid #0f0e08;
      -webkit-text-fill-color: #0f0e08;
      -webkit-box-shadow: 0 0 0 1000px #f8f8fa inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  &__button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    background-color: #f14a27;

    @include on-small-desktop {
      width: 70px;
      height: 70px;
    }

    &:hover {
      cursor: pointer;
    }

    &--img {
      display: block;
      width: 35px;
      height: 35px;
      padding: 10px;

      @include hover(transform, scale(1.5));
    }
  }
}
