.main {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include on-tablet {
    align-items: start;
  }

  @include content-space-inline;

  &__title {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;

    @include on-tablet {
      align-items: start;
      margin-bottom: 48px;
    }

    @include on-large-desktop {
      margin-bottom: 56px;
    }

    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #0f0e08;

    &--white {
      color: #fff;
      margin-bottom: 20px;

      @include on-tablet {
        margin-bottom: 16px;
      }
    }

    @include on-tablet {
      font-size: 48px;
    }
  }

  &-actuals {
    padding-top: 70px;

    &__action {
      @include page-grid;
    }
  }
}
