.section-gallery {
  padding-block: 30px 100px;
  width: 100%;

  @include on-small-desktop {
    padding-block: 0 92px;
  }

  @include on-large-desktop {
    padding-block: 98px 200px;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 20px;

  @include on-small-desktop {
    gap: 32px;
  }

  &__content {
    display: block;
    margin: 0;
    padding: 0;
    width: 280px;
    height: 410px;
    background-image: url(../images/slider/slider-slider.png);
    background-position: center;
    background-size: contain;
    border: 1px solid #1a5a4c;

    @include on-small-desktop {
      width: 700px;
      height: 543px;
    }

    @include on-large-desktop {
      width: 1330px;
      height: 990px;
    }
  }
}

.stick {
  display: flex;
  margin: 0;
  padding: 0;
  height: 9px;
  width: 102px;
  justify-content: space-between;

  @include on-large-desktop {
    display: none;
  }

  &__element {
    display: block;
    margin: 0;
    padding: 0;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #e0e0e0;

    @include on-large-desktop {
      display: none;
    }

    &--gray {
      background-color: #1a5a4c;
    }
  }
}
