.title__events {
  margin-bottom: 60px;

  font-size: 48px;
  line-height: 100%;
  color: #0f0e08;
}

.exhibition-day {
  margin-bottom: 32px;

  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #687480;

  &__span {
    color: rgba(26, 90, 76, 1);
    line-height: 21px;
    font-weight: 700;
  }
}

.name {
  display: flex;
  position: relative;

  &__picture {
    margin-bottom: 15px;

    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 400;

    &__rectangle {
      position: absolute;
      right: 0;
      top: calc(50% - 10px);

      width: 15px;
      height: 15px;
      background-color: red;
      margin-right: 10px;
    }
  }
}

.text-picture {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #4e4e4e;
}
