.menu {
  z-index: 2;
  background-color: $greenColor;

  &__container {
    height: 100vh;
    margin: 0 20px;

    @include onTablet {
      margin: 0 39px;
    }

    @include onDesktop {
      margin: 0 55px;
    }
  }

  &__list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    margin: auto 0;
  }

  &__list {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @include onTablet {
      gap: 40px;
    }

    @include onDesktop {
      gap: 60px;
    }
  }

  &__link {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #fff;

    transition: all 0.3s;

    &:hover {
      color: $textDarkColor;
    }

    @include onTablet {
      font-size: 30px;
    }

    @include onDesktop {
      font-size: 36px;
    }
  }
}
