.exhibitions {
margin-bottom: 50px;

  &__events {

    @include on-tablet {
      @include page-grid;
    }

    &__title {
      @include montserat;
      font-size: 36px;
      line-height: 36px;
      text-align: center;
      margin-bottom: 40px;

      @include on-tablet {
        grid-column: 1 / 5;
        text-align: left;
      }
    }

    &__card {
      padding-bottom: 60px;

      @include on-tablet {
        grid-column: 1 / -1;
      }

      @include on-desktop {
        @include page-grid;
      }

      &__exponat {
        height: 210px;
        width: 100%;

        @include on-tablet {
          height: 520px;
          padding-bottom: 40px;
        }

        @include on-desktop {
          grid-column: 1 / 8;
        }
      }

      &__description {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include on-tablet {
          width: 460px;
          gap: 32px;
        }

        @include on-desktop {
          grid-column: 9 / -1;
          justify-content: center;
        }

        &__header {
          display: flex;
          gap: 20px;

          &__event {
            @include lection;
          }

          &__date {
            @include date;
          }
        }

        &__title {
          display: flex;
          align-items: center;

          &__text {
            @include montserat;
            font-size: 28px;
            line-height: 28px;
            font-weight: 500;
            margin-right: 12px;
          }

          &__squere {
            padding-top: 5px;
            height: 10px;
            width: 10px;
          }
        }

        &__text {
          @include ibm;
        }
      }
    }
  }

  &__background {
    background: url(../images/exponats/exp-7.png) no-repeat;
    background-size: cover;
    height: 210px;

    @include on-tablet {
      height: 390px;
    }

    @include on-desktop {
      height: 560px;
    }
  }

  &__lection {
    box-shadow: 0px 2px 0px 0px #1A5A4C40;
    transform: translateY(-50px);
    background-color: $c-gray;
    padding-bottom: 20px;

    @include on-tablet {
      width: 570px;
      height: 204px;
      justify-self: center;
      transform: translateY(-100px);
    }

    @include on-desktop {
      grid-column: 4 / 10;
    }

    &__header {
      padding-inline: 21px;
      padding-block: 24px;
      display: flex;
      justify-content: space-between;

      &__text {
        @include lection;
      }

      &__date {
        @include date;
      }
    }

    &__text {
      font-family: "Montserrat", sans-serif;
      font-size: 28px;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
      color: $h-color;

      @include on-tablet {
        font-size: 36px;
        line-height: 36px;
      }

      @include on-desktop {
        font-size: 40px;
      }
    }
  }
}
