.describe {
  @include anim-on-scroll(__title, transform,
    translate(0, 120%), translate(0, 0), 0);
  @include anim-on-scroll(__description, transform,
    translate(0, 120%), translate(0, 0), 400ms);

  &__content {
    padding-block: 88px;

    @include on-tablet {
      padding-block: 82px;

      @include page-grid;
    }

    @include on-desktop {
      padding-block: 163px;
    }
  }

  &__title {
    color: $menu-text-color;

    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;

    @include on-tablet {
      font-size: 48px;
      grid-column: 1 / -1;
      letter-spacing: 0;
    }

    @include on-desktop {
      grid-column: 5 / -5;
    }
  }

  &__description {
    color: $menu-text-color;

    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;

    margin-top: 20px;

    @include on-tablet {
      margin-top: 16px;
      line-height: 100%;

      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: 4 / -4;
    }
  }

  &__form {
    margin-top: 50px;

    @include on-tablet {
      margin-top: 64px;

      grid-column: 2 / -2;
    }

    @include on-desktop {
      margin-top: 72px;

      grid-column: 4 / -4;
    }
  }
}
