.main {
  display: grid;
  row-gap: 50px;

  @include on-tablet {
    row-gap: 88px;
  }

  @include on-desktop {
    row-gap: 200px;
  }

  &__gallery {
    overflow: hidden;
  }

  &__describe {
    background-image: url(../images/describe/describe-mobile.jpg);

    @include on-tablet {
      background-image: url(../images/describe/describe-1x.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    @include on-desktop {
      background-image: url(../images/describe/describe-2x.jpg);
    }
  }
}
