.subscription {
  background-image: url(../images/background/Rectangle-22.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  &__container {
    @include flex-column {
      justify-content: center;
      gap: 50px;
    }

    padding: 0 20px;
    height: 386px;
  }

  &__title {
    @include font-style (700, 36px, 36px, $white);
  }

  &__text {
    @include font-style (400, 18px, 27px, $white);
  }

  &__content {
    @include flex-column {
      gap: 20px;
    }
  }

  &__input {
    display: flex;
    justify-content: center;


    &--input {
      box-sizing: border-box;
      width: 230px;
      height: 50px;
      cursor: pointer;
      outline: none;
      padding-left: 24px;
    }

    &::placeholder {
      font-family: Montserrat, Helvetica, sans-serif;
      
      @include font-style (400, 14px, 14px, $grayish);
    }

    &--label {
      cursor: pointer;
      background-color: $pink;
      width: 50px;

      background-image: url(../icons/arrow_right_dark.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
