@keyframes test {
  0% {
    color: black;
  }
  100% {
    color: red;
  }
}

@keyframes run-line {
  0% {
    width: 0;
    color: black;
  }

  30% {
    width: 30%;
    background-color: #400b00;
  }

  60% {
    width: 60%;
    background-color: #a50b00;
  }

  100% {
    width: 100%;
    background-color: #ff0200;
  }
}

@keyframes run-line-2 {
  0% {
    width: 100%;
    color: black;
  }

  30% {
    width: 60%;
    background-color: #400b00;
  }

  60% {
    width: 30%;
    background-color: #a50b00;
  }

  100% {
    width: 0;
    background-color: #ff0200;
  }
}

@keyframes line__sub {
  0% {
    width: 0;
    color: black;
  }

  30% {
    width: 30%;
    background-color: #00234b;
  }

  60% {
    width: 60%;
    background-color: #003e97;
  }

  100% {
    width: 100%;
    background-color: #0076ff;
  }
}

@keyframes line__sub-2 {
  0% {
    width: 100%;
    color: black;
  }

  30% {
    width: 60%;
    background-color: #00234b;
  }

  60% {
    width: 30%;
    background-color: #003e97;
  }

  100% {
    width: 0;
    background-color: #0076ff;
  }
}

@keyframes icons-rotate {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-45deg);
  }
}

@keyframes rectangle-rotate {
  0% {
    transform-origin: center;
    transform: rotate(360deg);
  }

  100% {
    transform-origin: center;
    transform: rotate(-360deg);
  }
}

@keyframes down-up {
  0% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(-50px);
  }
}
