.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 22px;

  @mixin create-grid-nap($resolution-type, $grid-columns) {
    @for $index from 1 through $grid-columns {
      @for $new-index from $index through $grid-columns {
        &__#{$resolution-type}--#{$index}-#{$new-index} {
          grid-column: #{$index} / #{$new-index +1};
        }
      }
    }
  }

  @include create-grid-nap("mob", 2);

  @include on-tablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;

    @include create-grid-nap("tabl", 6);
  }

  @include on-lap-top {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;

    @include create-grid-nap("desk", 12);
  }
  @include on-hd-resolution {
    grid-template-columns: repeat(16, 1fr);
    column-gap: 30px;

    @include create-grid-nap("hd-res", 16);
  }
}
