@import 'mixins';

$colorBlackMain: #0f0e08;
$colorWhite: #fff;
$colorRed: #f14a27;
$colorGreen: #1a5a4c;
$colorGry: #687480;

$transitionDuration: 0.3s;

$monserratFont: 'Monserrat', sans-serif;
$fontWeightBold: 700;
$fontWeightMedium: 500;
$fontSizeAdditional: 14px;
$lineHeightAdditional: 1;
$letterSpacing: 1.5px;
