.footer {
  &__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-block: 80px 128px;

    @include content-padding-inline;

    @include on-tablet {
      padding-block: 120px 36px;
      flex-direction: row;
      justify-content: space-between;
    }

    @include on-desktop {
      padding-block: 87px 35px;
    }
  }

  &__text {
    @extend %body-text;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12px;
    line-height: 141%;
    text-align: center;
  }
}
