.about {

  &__subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      width: 220px;
      margin-top: 44px;
    }

    &-lection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 21px;

      @include onTablet {
        padding: 45px 55px 23px;
      }
    }

    &-name {
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: #687480;

      @include onTablet {
        font-size: 14px;
      }
    }

    &-date {
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: $colorGreen;

      @include onTablet {
        font-size: 14px;
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: $colorBlack;
    margin-top: 10px;

    @include onTablet {
      font-size: 36px;
      margin-top: 30px;
    }

    &-center {
      text-align: center;
      border-bottom: 2px solid #b2bcc6;
      margin: 0 0 120px;
      padding-bottom: 20px;

      @include onTablet {
        text-align: left;
        padding-left: 55px;
        padding-bottom: 50px;
        margin-bottom: 88px;
      }
    }

    &-img {
      margin-left: 10px;
      width: 10px;

      @include onTablet {
        margin-left: 15px;
        margin-bottom: 5px;
      }
    }
  }

  &__text {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #4e4e4e;
    margin: 10px 0 60px;

    @include onTablet {
      width: 460px;
      margin: 15px 0 64px;

      &:last-child {
        margin: 15px 0 112px;
      }
    }

    @include onDesktop {
      width: 370px;
    }
  }
}
