.actual-events {
  margin-top: 70px;

  @include onTablet {
    margin-top: 88px;
  }

  @include onDesktop {
    margin-top: 200px;
  }

  &__container {
    @include container;
  }

  &__title {
    @extend %h2;
    text-align: center;
    padding-bottom: 40px;

    @include onTablet {
      text-align: left;
      font-size: 48px;
      padding-bottom: 48px;
    }

    @include onDesktop {
      padding-bottom: 56px;
    }
  }

  &__event {
    position: relative;

    @include onTablet {
      @include pageGrid;
    }
  }
}
