.art-museum {
  padding: 0 0 70px;

  @include onTablet {
    padding: 127px 0 0 34px;
  }

  @include onDesctop {
    padding: 205px 0 0 55px;
  }

  &__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $color-black;

    padding-bottom: 20px;

    @include onTablet {
      line-height: 120%;
      text-align: left;
      @include onTabletTitle {
        font-size: 54px;
      }

      padding-bottom: 38px;
    }

    @include onDesctop {
      font-size: 72px;
      padding-bottom: 90px;
    }
  }

  &__events {
    display: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: $text-color-2;
    text-transform: uppercase;
    transform: rotate(-90deg);

    &:active {
      color: $text-color-2;
    }

    @include onDesctop {
      display: flex;
      align-items: center;
      position: absolute;
      top: 570px;
      left: 5px;

      &::before {
        content: "";
        width: 70px;
        height: 1px;
        background-color: $border-color;
        position: relative;
        right: 20px;
      }
    }
  }
}
