.article {

  &__header {
    margin-bottom: 15px;
    font-family: $monseratFontFamili;
    font-size: 36px;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    width: max-content;

  }

  &__header--red {

    &::after {
      content: "";
      position: absolute;
      right: -30px;
      bottom: 25%;
      height: 15px;
      width: 15px;
      background-color: $colorRed;
    }
  }

  &__text {
    font-family: $IBMPlexSansFontFamili;
    color: $colorLithtBlack;
    font-size: 16px;
    line-height: 24px;
    max-width: 350px;
  }
}
