.menu {
  &__top {
    width: 100vh;
    height: min-content;
    @include on-tablet {
      width: min-content;
    }
  }

  &__nav {
    margin: 27px 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);

    @include on-tablet {
      margin: 0;
      border: none;
      border-right: 1px solid rgba(255, 255, 255, 0.50);
      padding-bottom: 63px;
    }

    @include on-desktop {
      padding-bottom: 80px;
    }

    .nav__list {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 72px;
      width: 228px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 20px 0 52px;

      @include on-tablet {
        margin-top: 40px;
      }

      @include on-desktop {
        margin: 40px 102px 0 150px;
      }
    }

    .nav__item {
      width: 100px;
      height: min-content;
    }

    .nav__link {
      text-decoration: none;
      color: $acide-text-color;
      font-family: $ff-ibm;
      width: 100px;
    }
  }

  &__bottom {
    color: $acide-text-color;
    font-family: $ff-ibm;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    height: min-content;

    @include on-tablet {
      display: flex;
    }

    &-container {
      @include on-tablet {
        display: flex;
        margin: 40px 38px;
        flex-direction: column;
        height: min-content;
      }

      @include on-desktop {
        margin: 40px 30px 48px 102px;
      }
    }

    &__graf {
      line-height: 140.625%;
      display: block;
      margin: 24px 130px 20px 20px;

      @include on-tablet {
        margin: 0;
        margin-bottom: 20px;
      }

      &--day {
        line-height: 150%;
        margin: 0 20px;

        @include on-tablet {
          margin: 0;

        }
      }

      &--freeday {
        line-height: 150%;
        margin: 16px 20px 27px 20px;

        @include on-tablet {
          margin: 80px 35px 40px 38px;
          width: 144px;
          height: 105px;
        }
      }
    }
  }
}

.bcg {
  opacity: 0.5;
  background: #18181A;
  height: 100%;
}

.time {
  font-weight: 600;
}
