.button-primary {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid $c-green;

  @include hover(color, $c-green, '.button-primary__text');

  &__icon-wrapper {
    background-color: $c-green;
  }

  &__text {
    flex-grow: 1;
    text-align: center;
  }
}
