.button {
  width: 280px;

  grid-column: 1 / -1;

  @include on-tablet {
    width: 270px;

    grid-column: 1 / 4;
  }

  @include on-desctop {
    grid-column: 3 / 6;
    padding-bottom: 20px;
  }


  &__top {
    display: flex;
    border: 1px solid $green-color;
    cursor: pointer;
  }

  &__text {
    width: 230px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #0F0E08;
    text-align: center;
    border: none;


    @include on-tablet {
      width: 200px;
    }
  }

  &__arrow {
    padding: 0;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background-image: url(../images/buttons/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $green-color;
    border: none;

    @include on-tablet {
      height: 70px;
      width: 70px;
    }
  }

  @include hover(transform, scale(1.05));
}
