.button {
  display: flex;
  justify-content: center;

  @include onTablet {
    justify-content: start;
  }

  @include onDesctop {
    justify-content: end;
  }

  &--sign {
    @include onTablet {
      justify-content: center;
      gap: 16px;
    }

    @include onDesctop {
      gap: 30px;
    }
  }

  &__first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 50px;
    border: 1px solid $border-color;

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: $text-color;
    background-color: $text-color-4;

    &:hover {
      text-shadow: 0 0 1px $text-color;
    }

    @include onTablet {
      width: 200px;
      height: 70px;
    }

    &--sign {
      @include fontFooter;
      border-color: $text-color-4;
      outline: none;
      text-transform: none;
      justify-content: start;
      font-family: "Montserrat", sans-serif;

      padding-left: 24px;

      &:hover {
        background-color: #f7f2f2;
      }

      &::placeholder {
        color: $text-color-2;
      }

      @include onTablet {
        width: 374px;
      }

      @include onDesctop {
        width: 470px;
        padding-left: 32px;
      }
    }
  }

  &__second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    width: 50px;
    height: 50px;
    background-color: $border-color;
    border: 1px solid $border-color;

    &:hover {
      background-color: #1a493f;
    }

    &--sign {
      background-color: $button-bgc-red;
      border-color: $button-bgc-red;

      &:hover {
        background-color: #ee301f;
      }
    }

    @include onTablet {
      width: 70px;
      height: 70px;
    }
  }

  &__arow {
    background-image: url(../images/icon/arow.svg);
    width: 8px;
    height: 12px;

    &--sign {
      background-image: url(../images/icon/arowBlack.svg);
    }
  }
}
