.button {
  cursor: pointer;
  pointer-events: all;
  width: 230px;
  height: 50px;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: $black-color;
  background-color: #fff;
  outline: none;
  border: 1px solid $green-color;

  @include on768 {
    width: 200px;
    height: 70px;
  }

  &:hover {
    background-color: $green-color;
    color: #fff;
  }

  &--square {
    width: 50px;
    height: 50px;
  
    @include on768 {
      width: 70px;
      height: 70px;
    }
  }

  &__header {
    margin: 0 auto;
    margin-top: 20px;
    grid-column: 1/-1;
  
    width: 280px;
    display: flex;
    flex-direction: row;
    align-content: center;
  
  
    @include on768 {
      margin-top: 0;
      grid-column: 1/2;
      grid-row: 3/-1;
    }
  
    @include on1280 {
      grid-column: 3/-8;
    }
  }
}
