.classic {
  position: relative;
  margin-bottom: 100px;
  height: 293px;

  @include onTablet {
    margin-bottom: 88px;
    height: 520px;

  }

  @include onDesktop {
    margin-bottom: 302px;
    height: 550px;
  }

  &__picture {
    position: relative;
    height: 210px;
    background-image: url(../images/section2/photo3.png);
    background-size: cover;
    background-position: center;

    @include onTablet {
      height: 390px;
    }

    @include onDesktop {
      height: 550px;
    }
  }
}
