.classic {
  &__block {
    position: relative;
    bottom: 60px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    height: 140px;
    margin: 0 auto;
    gap: 20px;
    background-color: $c-white;
    box-shadow: 0 2px 0 0 $c-darkgreen;
    width: 280px;

    @include onTablet {
      height: 204px;
      padding: 45px 100px 50px;
      margin: auto;
      width: 570px;
      bottom: 80px;
    }

    @include onDesktop {
      bottom: 100px;
    }
  }

  &__picture {
    max-height: 390px;
    width: 100%;

    @include onTablet {
      padding: 0 34px;
    }

    @include onDesktop {
      padding: 0;
    }
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include onTablet {
      justify-content: space-between;
    }
  }

  &__name {
    @extend %name-event;
  }

  &__date {
    @extend %date-event;
  }

  &__title {
    @extend %event-title;
    text-align: center;

    @include onTablet {
      text-align: left;
    }
  }
}
