.contacts {
  @include page-grid;

  margin: 50px 0 80px;

  @include on-tablet {
    margin: 51px 0 120px;
  }

  @include on-desktop-small {
    margin: 48px 0 87px;
  }
}

.contact {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @include on-tablet {
    grid-column: 1 / 2;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 62px;
    margin: 0;
  }

  &__icon-namu {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 72px;
    width: 63px;

    @include hover(transform, scale(1.1));

    transform-origin: left;

    @include on-tablet {
      height: 72px;
      width: 100%;
    }

    &--text {
      font-family: Monserrat, sans-serif;
      font-weight: 700;
      font-size: 36px;
      line-height: 36px;
      color: $c-text-black;
      text-transform: uppercase;
      margin: 0;
    }
  }

  &--socials {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;

    &__facebook {
      height: 24px;
      width: 24px;
      background-image: url(../images/contacts/facebook.png);
      background-position: center;
      background-size: cover;
      cursor: pointer;

      @include hover(transform, scale(1.2));
    }

    &__instagram {
      height: 24px;
      width: 24px;
      background-image: url(../images/contacts/instagram.png);
      background-position: center;
      background-size: cover;
      cursor: pointer;

      @include hover(transform, scale(1.2));
    }
  }
}

.work-schedule-bottom {
  grid-column: 1 / 2;

  @include on-tablet {
    grid-column: 2 / 4;
  }

  @include on-desktop-small {
    grid-column: 3 / 5;
  }

  &__head {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: $c-text-h3;
    margin: 0;
    padding-bottom: 20px;
  }

  &__nav {
    width: 100%;
    padding-bottom: 16px;

    &--list {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    &--item {
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: $c-text-h3;
      text-decoration: none;
    }
  }

  &--description {
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: $c-text-h3;
    margin: 0;

    @include on-tablet {
      padding: 0;
    }
  }

  &__contact {
    grid-column: 2 / 3;

    @include on-tablet {
      grid-column: 4 / 6;
    }

    @include on-desktop-small {
      grid-column: 5 / 7;
    }
  }

  &--description-contact {
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: $c-text-h3;
    margin: 0;
    padding-top: 0;
    text-decoration: none;
    cursor: pointer;
  }

  &--text {
    margin: 0;

    @include hover(transform, scale(1.05));

    transform-origin: left;
  }
}

.gray-line {
  grid-column: 1 / -1;
  border-top: 1px solid $c-green;
  opacity: 50%;
  margin: 70px 0 40px;

  @include on-tablet {
    grid-column: 2 / 6;
  }

  @include on-desktop-small {
    border-top: none;
    border-left: 1px solid rgba(26, 90, 76, 0.5);
    grid-column: 7 / 8;
    margin: 0;
    width: 1px;
    height: 260px;
  }
}

.nav-bottom-right {
  grid-column: 1 / 2;

  @include on-tablet {
    grid-column: 2 / 3;
  }

  @include on-desktop-small {
    grid-column: 8 / 10;
  }
}

.nav-bottom-left {
  grid-column: 2 / 4;

  @include on-tablet {
    grid-column: 4 / 6;
  }

  @include on-desktop-small {
    grid-column: 10 / 12;
  }
}

.nav-bottom {
  display: grid;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    position: relative;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $c-text-h3;
    text-decoration: none;
  }

  &__item {
    width: 100px;

    @include hover(transform, scale(1.07));

    &-padding-bottom {
      padding: 0 0 24px;

      @include on-tablet {
        padding-top: 0;
      }
    }
  }
}
