.contacts {
  @include page-grid;

  grid-column: 1 / -1;

  padding-top: 50px;

  @include on-tablet {
    padding-top: 51px;
  }

  @include on-desctop {
    padding-top: 48px;
  }

  &__namu {
    height: 72px;
    width: 63px;
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    grid-column: 1 / -1;

    @include on-tablet {
      justify-content: flex-start;
      gap: 62px;
      grid-column: 1 / 2;
      flex-direction: column;
      align-items: start;
    }

    &-namu {
      @include on-tablet {
        width: 98px;
        height: 72px;
      }

      @include hover(transform, scale(1.05));
    }
  }

  &__icons {
    display: flex;
    gap: 20px;

    @include on-tablet {
      gap: 32px;
    }
  }

  &__worktime {
    padding-top: 40px;

    grid-column: 1 / 2;

    @include on-tablet {
      grid-column: 2 / 4;

      padding-top: 0;
    }

    @include on-desctop {
      grid-column: 3 / 5;
    }
  }

  &__contact {
    padding-top: 40px;

    grid-column: 2 / 3;

    @include on-tablet {
      grid-column: 4 / 6;

      padding-top: 0;
    }

    @include on-desctop {
      grid-column: 5 / 7;
    }
  }

  &__line {
    grid-column: 1 / -1;

    border-top: 1px solid $green-color;
    margin: 70px 0 40px;

    @include on-tablet {
      grid-column: 2 / 6;
    }

    @include on-desctop {
      grid-column: 7 / 8;

      border-top: none;
      border-left: 1px solid $green-color;
      width: 1px;
      margin: 0 35px;
    }
  }

  &-nav__left {
    grid-column: 1 / 2;

    @include on-tablet {
      grid-column: 2 / 4;
    }

    @include on-desctop {
      grid-column: 8 / 10;
    }
  }

  &-nav__right {
    grid-column: 2 / 3;

    @include on-tablet {
      grid-column: 4 / 6;
    }

    @include on-desctop {
      grid-column: 10 / 12;
    }
  }
}
