.contact {
  width: 130px;

  &:hover {
    color: $green-color;
  }

  @include on768 {
    width: 200px;
  }

  @include on1280 {
    width: 170px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__link {
    text-decoration: none;
    font-family: "IBM Plex Sans",serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    color: $black-color;
    text-align: start;

    &:hover {
      color: $green-color;
      border-bottom: 1px solid $green-color;
    }
  }
}
