.contact-us {
  padding: 50px 20px;

  @include on-tablet {
    padding: 51px 36px 36px;
  }

  @include on-desktop {
    padding: 48px 55px 35px;
  }

  &__content {
    @include on-desktop {
      display: flex;
      flex-direction: row;
      padding-bottom: 87px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;

    @include on-tablet {
      flex-direction: row;
      gap: 40px;
    }

    @include on-desktop {
      gap: 130px;
    }
  }

  &__container {
    padding-block: 40px 20px;
    border-bottom: 1px solid #1a5a4c80;

    @include on-tablet {
      padding-block: 0 64px;
      max-width: 460px;
    }

    @include on-desktop {
      padding: 0;
      border-bottom: none;
      border-right: 1px solid #1a5a4c80;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include on-tablet {
      flex-direction: column;
      justify-content: flex-start;
      gap: 62px;
    }
  }

  &__logo-link {
    text-decoration: none;
  }

  &__logo {
    margin: 0;

    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0f0e08;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__media {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    @include on-tablet {
      gap: 32px;
    }

    @include on-desktop {
      gap: 22px;
    }
  }

  &__information {
    display: flex;
    flex-direction: row;
    gap: 20px;

    @include on-desktop {
      gap: 31px;
      padding-right: 65px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    width: 130px;
    gap: 20px;

    @include on-tablet {
      width: 220px;
    }

    @include on-desktop {
      width: 170px;
    }

    &--title {
      margin: 0;

      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 141%;
      letter-spacing: 0%;
      color: #0f0e08;
    }

    &--time {
      margin: 0;

      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #0f0e08;
    }

    &--description {
      margin: 0;

      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #0f0e08;
    }

    &--contacts {
      margin: 0;

      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #0f0e08;
    }

    &--address {
      margin: 0;

      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #0f0e08;
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @include on-tablet {
      display: none;
    }

    &--arrow {
      order: 1;
      padding: 17px;
      width: 16px;
      height: 16px;
      border: 1px solid #1a5a4c;
      border-radius: 50%;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__bottom {
    margin-top: 40px;

    @include on-tablet {
      margin-top: 64px;
    }

    @include on-desktop {
      margin: 0;
    }
  }

  &__bottom-block {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 80px;

    @include on-tablet {
      padding: 0 118px 120px;
      width: 460px;
    }

    @include on-desktop {
      padding: 0 0 0 65px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 130px;

    @include on-tablet {
      width: 220px;
    }
  }

  &__link {
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0f0e08;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__designer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

    @include on-tablet {
      flex-direction: row;
      justify-content: space-between;
    }

    &--text {
      margin: 0;

      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 300;
      font-size: 12px;
      line-height: 141%;
      letter-spacing: 0%;
      text-align: center;
      color: #2b2b2a;
    }
  }

  &__social {
    text-decoration: none;
    color: #0f0e08;
  }
}
