.date {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  @include on-tablet {
    gap: 17px;
    justify-content: start;
  }

  &__name {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: $color-dark-grey;

    @include on-tablet {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__number {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-left: 30px;
    color: $green-color;

    @include on-tablet {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
