.description {
  grid-column: 1 / -1;
  justify-content: center;

  @include on-tablet {
    justify-content: space-between;
  }

  &__date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px 20px;

    @include on-tablet {
      padding: 45px 55px 16px;
    }

    @include on-desctop {
      padding: 45px 100px 16px;
    }
  }

  &__title {
    grid-column: 1 / -1;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 100;
    line-height: 28px;
    text-align: center;
    color: $color-black;

    @include on-tablet {
      font-weight: 300;
      font-size: 36px;
      line-height: 36px;
      text-align: left;
      padding: 0 55px 50px;
    }

    @include on-desctop {
      padding: 0 100px 50px;
    }
  }

  @include hover(transform, scale(1.05));
}
