.event {
  padding: 0 20px;
  max-width: 1170px;
  margin: 0 auto;

  @include onTablet {
    padding: 0 34px;
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: $colorBlack;
    margin-top: 70px;
    margin-bottom: 56px;

    @include onTablet {
      text-align: left;
      font-size: 48px;
    }

    &--first {
      @include  onDesktop {
        display: flex;
        flex-direction: row;
        margin-bottom: 104px;
      }

      &-img {
        height: 210px;
        width: 260px;
        display: flex;
        object-fit: cover;
        transition: 0.5s;

        &:hover {
          transform: scale(1.1);
        }

        @include onTablet {
          width: 100%;
          height: 100%;
        }

        @include  onDesktop {
          width: 670px;
          height: 520px;
        }
      }

      &-about {
        margin-top: 20px;

        @include  onDesktop {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 370px;
          margin-left: 130px;
          margin-right: 55px;
        }
      }
    }
  }
}
