.event {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  @media screen and(max-width: $beakpointIPood) {
    flex-direction: column;
  }

  &__img {
    height: 560px;
    width: 60%;
    object-fit: cover;
    object-position: center;
    transition: transform $durarion, border-radius $durarion;

    &:hover {
      transform: scale(1.1);
      border: 1px solid $colorDarkGreen;
      border-radius: 8px;
    }

    @media screen and(max-width: $beakpointIPood) {
      width: 100%;
    }

    @media screen and(max-width: $beakpointTele) {
      height: 210px;
    }
  }

  &__discribe {
    @media screen and(max-width: $beakpointIPood) {
      width: 100%;
      margin: 40px 0;
    }
  }

  &--left {
    flex-direction: row-reverse;
    @media screen and(max-width:$beakpointIPood) {
      flex-direction: column;
    }
  }

  .event__discribe--left {
    margin: 40px 130px 40px 0;
  }
}
