.events {
  &__wrapper {
    display: grid;
    row-gap: 60px;

    @include on-tablet {
      row-gap: 64px;
    }

    @include on-desctop {
      row-gap: 104px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 48px;
      font-size:48px;
      text-align: left;
    }

    @include on-desctop {
      margin-bottom: 56px;
    }
  }

  &__banner {
    display: block;
    position: relative;
    height: 210px;

    background-image: url(/src/images/events/events3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin-inline: 0;
    margin: 60px 0 100px;

    @include on-tablet {
      height: 390px;
      margin-inline: 34px;
      margin-block: 112px;
    }

    @include on-desctop {
      height: 550px;
      margin: 104px 0 80px;
      margin-inline: 0;
    }

    &-info {
      position: absolute;
      left: 50%;
      top: 80%;
      width: 280px;
      height: 140px;
      background-color: $white;
      border-bottom: 2px solid $main-color;

      transform: translateX(-50%);

      @include on-tablet {
        top: 77%;
        width: 570px;
        height: 204px;
      }

      @include on-desctop {
        width: 570px;
        height: 204px;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-inline: 0;
      padding-block: 20px 0;

      @include on-tablet {
        padding-inline: 55px;
        padding-block: 45px 50px;
      }

      @include on-desctop {
        padding-inline: 100px;
      }
    }

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 20px;
      padding-inline: 20px;

      @include on-tablet {
        column-gap: 140px;
        padding-inline: 0;
      }
    }

    &-type {
      font-weight: 500;
      text-align: left;
      font-size: 16px;
      color: $event-color;
      line-height: 16px;
      margin: 0;
    }

    &-data {
      font-size: 16px;
      text-align: left;
      color: $main-color;
      line-height: 24px;
      margin: 0;
      font-weight: 700;
    }

    &-subtitle{
      font-family: Montserrat, sans-serif;
      line-height: 28px;
      text-align: center;
      font-size: 28px;
      color: $button-text;
      margin: 0;
      padding-block: 20px;
      font-weight: 400;

      @include on-tablet {
        font-size: 36px;
        line-height: 36px;
        padding-top: 16px;
        padding-bottom: 0;
        text-align: left;
      }
    }
  }
}
