.events {
  @include page-grid;
  
  grid-column: 1 / -1;

  &__title {
    margin: 0;
    padding-bottom: 40px;

    grid-column: 1 / -1;

    @include on-tablet {
      padding-bottom: 48px;
    }

    @include on-desctop {
      padding-bottom: 56px;

      grid-column: 1 / 6;
    }
  }

}
