.events {
  @include page-grid;

  grid-column: 1 / -1;

  &__title {
    margin: 70px 0 0;
    padding-bottom: 40px;

    grid-column: 1 / -1;

    @include on-tablet {
      margin: 88px 0 0;
      padding-bottom: 48px;
    }

    @include on-desctop {
      margin: 80px 0 0;
      padding-bottom: 56px;

      grid-column: 1 / 6;
    }
  }

}
