.footer {
  margin-top: 50px;
  margin-bottom: 25px;
  font-family: $IBMPlexSansFontFamili;
  font-size: 14px;

  &__logo {
    max-width: 68px;
    text-transform: uppercase;
    font-family: $monseratBoldFontFamili;
    font-size: 36px;
    line-height: 1em;
    letter-spacing: 1.1px;
    margin-bottom: 63px;
  }

  &--main {
    display: flex;

    @media screen and(max-width: $beakpointTele) {
      flex-direction: column;
    }
  }

  &__copyrigth {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 1.1em;
    font-family: $IBMPlexSansFontFamili;
    font-weight: 300;

    @media screen and(max-width: $beakpointTele) {
      display: grid;
      justify-content: center;
      gap: 10px;
    }
  }
}
