.footer {
  color: $color-link-button;

  &__inf {
    @include onTablet {
      display: flex;
      gap: 20px;
    }

    @include onDesctop {
      gap: 130px;
      margin-top: 47px;
    }
  }

  &__top {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      flex-direction: column;
      gap: 62px;
      justify-content: flex-start;
      margin-right: 20px;
    }
  }

  &__icons {
    display: flex;
    gap: 20px;
  }

  &__icons-link,
  &__logo {
    @include hover(transform, scale(1.2));
  }

  &__content {
    @include onDesctop {
      display: flex;
      justify-content: space-around;
    }
  }

  &__body {
    margin-top: 40px;
    display: flex;
    gap: 20px;

    @include onTablet {
      margin-top: 50px;
    }

    @include onDesctop {
      margin-top: 0;
      gap: 30px;
      flex-basis: 50%;
      justify-content: space-between;
    }
  }

  &__shedule {
    @include onTablet {
      max-width: 220px;
    }

    @include onDesctop {
      flex-basis: 50%;
      max-width: 170px;
    }
  }

  &__subtitle {
    margin-bottom: 20px;
    @extend %p;
  }

  &__text {
    @extend %p;

    @include onDesctop {
      width: max-content;
    }
  }

  &__time {
    @extend %p;
    font-weight: 600;
  }

  &__weekend {
    margin-top: 30px;
    @extend %p;
  }

  &__contacts {
    flex-basis: 50%;
  }

  &__contacts-name {
    margin-bottom: 20px;
    @extend %p;
  }

  &__adress-link,
  &__phone-link,
  &__email-link {
    display: inline-block;
    position: relative;
    @extend %p;
    text-decoration: none;
    color: $color-link-button;

    @include hoverAfterFooter(transform, scale(1));
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    @include square(50px);
    border-radius: 50%;
    border: 1px solid $color-menu;

    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: 0.2s;

    &:hover {
      border: 3px solid $color-menu;
      background-color: $color-button-hover;
    }
    @include hover(transform, scale(1.2));
  }

  &__line {
    margin-top: 70px;
    height: 1px;
    width: 100%;
    background-color: $color-menu;

    @include onTablet {
      margin-top: 64px;
    }

    @include onDesctop {
      margin: 0 65px;
      height: 100%;
      width: 1px;
    }
  }

  &__navigation {
    margin-top: 40px;
    display: flex;
    flex-basis: 50%;
    gap: 20px;

    @include onTablet {
      margin-top: 64px;
    }

    @include onDesctop {
      margin-top: 0;
      justify-content: space-between;
    }
  }

  &__row1 {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    gap: 20px;
  }

  &__row2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__text-link {
    @extend %p;
    color: $color-link-button;
    text-decoration: none;
    position: relative;

    @include hoverAfterFooter(transform, scale(1));
  }

  &__other {
    @include onTablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 120px 0 36px;
    }

    @include onDesctop {
      margin: 87px 0 35px;
    }
  }

  &__autor {
    margin-top: 80px;
    @extend %footer;

    @include onTablet {
      margin-top: 0;
    }
  }

  &__copyright {
    margin: 10px 0 55px;
    @extend %footer;

    @include onTablet {
      margin: 0;
    }
  }
}
