.footer-nav {
  width: 30%;
  margin-left: 40px;

  @media screen and(max-width: $beakpointTele) {
    width: 90%;
    margin-left: 10px;
    padding-bottom: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    row-gap: 10px;
    justify-content: space-between;
  }

  &__link {
    font-size: 14px;
    line-height: 1em;
    font-family: $IBMPlexSansFontFamili;
    color: $colorBlack;
  }
}
