.footer {
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;

  &__container {
    margin: 80px 0 36px;

    @include on-tablet {
      @include content-padding-inline;

      display: flex;
      justify-content: space-between;
      margin: 120px 0 36px;
    }

    @include on-desktop {
      @include content-padding-inline;

      margin: 87px 0 35px;
    }
  }

  &__text {
    margin: 0;

    font-size: 12px;
    font-weight: 300;
    line-height: 141%;
    color: #0f0e08;
    text-align: center;
    letter-spacing: 0%;

    &:first-of-type {
      margin-bottom: 10px;
    }
  }
}
