.form {
  &__location {
    display: flex;
    justify-content: space-between;

    @include on-tablet {
      width: 100%;
    }
  }

  &__mail {
    box-sizing: border-box;

    background-color: $color-white;
    border: none;
    padding: 0 24px;
    margin: 0;
    color: $color-dark-grey;
    font-size: 14px;
    line-height: 14px;
    font-family:  'Montserrat', sans-serif;
    font-weight: 400;
    text-align: left;
    outline: none;
    resize: none;
    width: 230px;

    &::placeholder {
      outline: none;
    }

    &:focus {
      outline: none;
    }

    &:-webkit-autofill {
      outline: none;
      -webkit-text-fill-color: $color-dark-grey;
      -webkit-box-shadow: 0 0 0 40rem $color-white inset;
    }

    @include on-tablet {
      width: 77%;
    }

    @include on-desctop {
      width: 470px;
    }
  }

  &__button {
    padding: 0;
    width: 50px;
    box-sizing: border-box;
    background-image: url(../images/buttons/arrow_black.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $red-color;
    border: none;

    @include on-tablet {
      width: 70px;
    }
  }
}
