.form {

  &__input {
    height: 70px;
    width: 370px;

    &::placeholder {
      font-size: 14px;
      text-transform: capitalize;
      padding-left: 40px;
    }
  }

  &__button {
    height: 70px;
    width: 70px;
    background-color: $colorRed;
    color: $colorRed;
    margin-left: 30px;
    background-image: url("../images/VectorBlack.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}
