.form {
  @include hover(border, 2px solid $c-orange, '.form__input');

  &__input {
    @include autofill;

    box-sizing: border-box;
    text-decoration: none;
    padding-inline: 24px;
    height: 50px;
    flex-grow: 1;
    border: 2px solid #fff;

    &::placeholder {
      color: $c-grey;
    }

    &:focus-visible {
      outline: none;
      border: 2px solid $c-orange;
    }

    @include tablet {
      height: 70px;
    }
  }

  &__button {
    border: none;
    cursor: pointer;
    padding: 0;
  }

  &__icon-wrapper {
    background-color: $c-orange;
  }
}
