.from-to {
  @include onTablet {
    padding: 0 34px;
  }

  @include onDesctop {
    padding: 0;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0;
    height: 210px;
    background-image: url(../images/picture5.jpg);
    @include imgPosition;
    background-position: 30%;

    @include onTablet {
      height: 390px;
    }

    @include onDesctop {
      height: 550px;
    }
  }

  &__content {
    width: 280px;
    height: 140px;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    transform: translateY(80px);

    @include onTablet {
      width: 570px;
      height: 204px;
      transform: translateY(120px);
    }

    @include onDesctop {
      transform: translateY(104px);
      align-items: start;
    }
  }

  &__inner-container {
    padding: 20px 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    @include onTablet {
      padding: 45px 55px 16px;
      justify-content: start;
    }

    @include onDesctop {
      padding: 45px 100px 23px;
    }
  }

  &__text {
    @include fontText;

    @include onTablet {
      padding-right: 185px;
    }

    @include onDesctop {
      padding-right: 145px;
    }
  }

  &__date {
    @include fontData;
  }

  &__title {
    @include secondTitle;

    @include onTablet {
      padding: 0 55px;
    }

    @include onDesctop {
      padding: 0 100px;
    }
  }
}
