.galery {
  margin-bottom: 100px;

  @include onTablet {
    margin-bottom: 92px;
  }

  @include onDesktop {
    margin-bottom: 200px;
  }

  &__buttons {
    display: flex;
    gap: 22px;
    justify-content: center;
  }

  &__round {
    height: 9px;
    width: 9px;
    background-color: $bck-color;
    border-radius: 50%;

    &:first-child {
      background-color: $c-botton;
    }

    @include onDesktop {
      display: none;
    }
  }

  &__grid {
    margin-bottom: 30px;
  }
}
