.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include on768 {
    padding: 0 39px;
  }
  @include on1280 {
    padding: 0 55px;
  }

  &__title {
    padding-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: $black-color;
  
    @include on768 {
      padding-top: 38px;
      font-size: 48px;
      align-self: flex-start;
    }
    @include on1280 {
      padding-top: 50px;
    }
  }

  &__container {
    padding-top: 40px;
    
    @include on768 {
      display: flex;
      gap: 20px;
      padding-top: 48px;
    }
    
    @include on1280 {
      gap: 30;
      padding-top: 56px;
      flex-wrap: wrap;
      padding-bottom: 200px;
    }
  
    &-image1 {
      width: 280px;

      &:hover {
        border-bottom-left-radius: 30%;
        border-top-right-radius: 30%;
      }
      @include on768 {
        width: 340px;
      }
      @include on1280 {
        flex-grow: 1;
      }
    }
  
    &-image2 {
      display: none;
    
      @include on768 {
        display: block;
      }
      @include on1280 {
        display: none;
      }
    }
  
    &-image3 {
      display: none;
    
      @include on1280 {
        display: block;
        flex-grow: 2;
      }
    }
  
    &-image4 {
      display: none;
      @include on1280 {
        display: block;
        flex-grow: 2;
      }
    }
  
    &-image5 {
      display: none;
      @include on1280 {
        display: block;
        flex-grow: 1;
      }
    }
  }

  &__dots {
    padding-top: 20px;
    padding-bottom: 100px;

    @include on768 {
      padding-top: 32px;
      padding-bottom: 92px;
    }
    @include on1280 {
      display: none;
    }
  }
}
