.gallery {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  padding: 0 0 0 20px;

  @include onLaptop {
    padding: 0 0 0 34px;
  }

  @include onDesktop {
    padding: 0;
    justify-content: center;
  }

  &__title {
    align-self: center;
    font-size: 36px;

    color: $c-main-black;

    margin-bottom: 40px;

    @include onLaptop {
      align-self: flex-start;

      font-size: 48px;
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin: 0 0 56px 55px;
    }
  }

  &__scroll {
    display: flex;

    overflow-x: hidden;
    height: 410px;

    margin-bottom: 20px;

    @include onLaptop {
      height: 544px;
      margin-bottom: 32px;
    }

    @include onDesktop {
      max-width: 1600px;
      height: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-self: center;
      gap: 20px;
    }
  }

  &__img {
    margin-right: 16px;

    @include onLaptop {
      margin-right: 20px;
    }

    @include onDesktop {
      margin-right: 0;
      // margin-bottom: 30px;
    }
  }

  &__circle-position {
    display: none;
    align-self: center;
    width: 94px;
  }
}
