.gallery {
  position: relative;
  padding: 180px 20px 0;

  @include onTablet {
    padding: 208px 34px 0;
  }

  @include onDesctop {
    padding: 302px 55px 0;
  }

  &__title {
    @include theTitle;
  }

  &__container {
    height: 100%;
    width: 100%;
    overflow: hidden;

    padding: 40px 0 100px;

    @include onTablet {
      padding: 48px 0 92px;
    }

    @include onDesctop {
      padding: 56px 0 200px;
    }
  }
}
