.gallry {
  &__conteiner {
    padding: 0 20px;

    @include on-tablet {
      padding: 0 39px;
    }

    @include on-desktop {
      padding: 0 55px;
    }
  }

  &__title {
    font-family: Montserrat, sans-serif;
    line-height: 100%;
    margin: 0;
    font-size: 36px;
    text-align: center;
    padding-bottom: 40px;

    @include on-tablet {
      font-size: 48px;
      text-align: left;
      padding-bottom: 48px;
    }

    @include on-desktop {
      padding-bottom: 56px;
    }
  }

  &__desktop {
    display: none;

    @include on-desktop {
      @include page-grid;

      row-gap: 30px;
    }

    &--img {
      width: 100%;
      height: 100%;

      @include hover(transform, scale(103%));
    }

    &--link {
      &-wide {
        grid-column: span 8;
      }

      &-square {
        grid-column: span 4;
      }
    }
  }

  &__swiper {
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    @include on-desktop {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__item {
    flex: 0 0 auto;
  }

  &__img {
    @include hover(transform, scale(1.05));

    &--swiper {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
