.general-info {
  width: 50%;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid  $colorDarkGreen;
  margin-bottom: 85px;
  align-items: flex-start;

  @media screen and(max-width: $beakpointTele) {
    width: 100%;
    display: grid;
    grid-template-areas: "social social"
      "suduel info";
    border-bottom: 1px solid  $colorDarkGreen;
    border-right: 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  &__logo-socia {
    display: flex;
    flex-direction: column;

    @media screen and(max-width: $beakpointTele) {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      grid-area: social;
    }
  }

  &__socia-media {
    display: flex;
    justify-content: space-between;

  }

  &__header {
    font-family: $IBMPlexSansFontFamili;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2em;
    margin-bottom: 20px;
  }

  &__discribe {
    margin-top: 20px;
    max-width: 130px;
  }

  &__schedule {
    font-size: 14px;
    line-height: 1.3em;
    font-family: $IBMPlexSansFontFamili;

    @media screen and(max-width: $beakpointTele) {
      grid-area: suduel;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    max-width: 220px;
    padding-right: 50px;

    @media screen and(max-width: $beakpointTele) {
      grid-area: info;
      padding-right: 0;
      max-width: 100px;
    }
  }

  &__link {
    color: $colorBlack;
  }

  &__facebook-logo {

    @media screen and(max-width: $beakpointTele) {
      margin-left: 10px;
    }
  }
}
