.grid {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(2, 1fr);

  @for $start from 1 to 2 {
    @for $end from $start to 2 {
      &__mob--#{$start}-#{$end} {
        grid-column: #{$start} / #{$end + 1};
      }
    }
  }

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;

    @for $start from 1 to 7 {
      @for $end from $start to 7 {
        &__tab--#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;

    @for $start from 1 to 13 {
      @for $end from $start to 13 {
        &__desk--#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }
  }
}
