.header-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 72px;
  background-color: $colorWhite;
  display: none;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid $colorDarkGreen;

  &__list {
    display: flex;
  }

  &__item {
    margin-bottom: 20px;
    margin-right: 20px;
  }

  &__link {
    color: $colorBlack;
    font-family: $monseratBoldFontFamili;
    font-weight: 600;
    font-size: 14px;
    line-height: 1em;
    padding: 10px 15px;
    transition: background-color $durarion;

    &:hover {
      background-color: $colorDarkGray;
      border-radius: 8px;
    }
  }

  &__search {
    transform: translateY(-65%);
  }

  &__logo {
    max-width: 68px;
    text-transform: uppercase;
    font-family: $monseratBoldFontFamili;
    font-size: 36px;
    line-height: 1em;
    letter-spacing: 1.1px;
  }
}

.header-nav--active {
  display: flex;
}
