.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $colorDarkGreen;

  @media screen and(max-width: $beakpointIPood) {
    flex-direction: column;
    justify-content: start;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @media screen and(max-width: $beakpointIPood) {
      flex-direction: column;
      margin-bottom: 40px;
      align-items: left;
    }
  }

  &__search {

    @media screen and(max-width: $beakpointIPood) {
      display: none;
    }
  }

  &__item {
    margin-right: 20px;

    @media screen and(max-width: 1380px) {
      margin-right: 0;
    }

    @media screen and(max-width: $beakpointIPood) {
      margin: 15px 0;
    }
  }

  &__link {
    color: $colorWhite;
    font-family: $monseratBoldFontFamili;
    font-weight: 600;
    font-size: 14px;
    line-height: 1em;
    padding: 10px 15px;
    transition: background-color $durarion;
    text-align: left;

    &:hover {
      background-color: $colorDarkGray;
      border-radius: 8px;
    }

    @media screen and(max-width: $beakpointIPood) {
      font-size: 26px;
      padding: 10px 2px;
    }
  }

  &__logo {
    color: $colorWhite;
    text-transform: uppercase;
    font-family: $monseratBoldFontFamili;
    font-size: 36px;
    line-height: 1em;
    letter-spacing: 1.1px;
    padding: 0 40px;

    @media screen and(max-width: $beakpointIPood) {
      margin-top: 20px;
    }
  }
}

.header-nav--active {
  display: flex;
  justify-content: space-around;
}
