.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;

  @include hover(transform, scale(1.1));


  &--menu {
    background-image: url(/src/images/icons/baseline-menu.svg);
  }

  &--close {
    background-image: url(/src/images/icons/close.svg);
  }

  &--facebook {
    background-image: url(/src/images/icons/facebook-logo.svg);
  }

  &--instagram {
    background-image: url(/src/images/icons/instagram-logo.svg);
  }
}

