.icon {
  display: flex;
  align-items: center;
  gap: 88px;

  @include on-tablet {
    gap: 45%;
  }

  &__menu {
    background-image: url(../images/icon/burger_menu.png);
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: cover;

    @include hover(transform, scale(1.25));
  }

  &__namu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding-top: 9px;
    height: 61px;
    width: 55px;

    @include on-tablet {
      height: 72px;
      width: 220px;
      padding-top: 16px;
    }

    @include on-desktop-small {
      height: 72px;
      width: 170px;
      padding-top: 15px;
    }

    @include hover(transform, scale(1.1));

    &--text {
      font-family: Monserrat, sans-serif;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      color: $c-text-black;
      text-transform: uppercase;
      margin: 0;

      @include on-tablet {
        font-size: 36px;
        line-height: 36px;
      }
    }
  }

  &__close {
    display: block;
    background-image: url(../images/icon/close_menu.png);
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: cover;
    margin-right: 28px;

    @include hover(transform, scale(1.25));

    @include on-tablet {
      margin-top: 0;
      margin-right: 38px;
    }

    @include on-desktop-small {
      margin-top: 0;
      margin-right: 102px;
    }
  }
}
