.icon {
  display: block;
  background-position: center;
  background-repeat: no-repeat;

  &--menu {
    background-image: url(../images/header/polos.png);
    height: 12px;
    width: 18px;
  }

  &--cross {
    background-image: url(../images/header/cross.png);
    height: 13px;
    width: 13px;
    @include hover(scale, 1.2);
  }
}
