.lecture {
  padding-bottom: -100px;

  &__background {
    display: block;
    background-image: url(../images/pictures/classic_mobile.png);
    height: 30vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    @include onTablet {
      background-image: url(../images/pictures/classic_tablet.png);
      height: 65vh;
    }

    @include onDesktop {
      background-image: url(../images/pictures/classic.png);
      height: 550px;
    }

  }

  &__about {
    display: block;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
    transform: translateY(-40%);

    @include onTablet {
      width: 85%;
    }

    @include onDesktop {
      width: 53%;
    }
  }

  &__date-wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

    @include onTablet {
      justify-content: space-between;
      padding-left: 55px;
      padding-right: 55px;
      padding-top: 45px;
    }

    @include onDesktop {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  &__type {
    line-height: 150%;
  }

  &__date {
    font-weight: 700;
    line-height: 150%;
    color: #1a5a4c;
  }

  &__subtitle {
    @extend %titles;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    @include onTablet {
      padding-left: 55px;
      padding-bottom: 50px;
      font-size: 36px;
      text-align: start;
    }

    @include onDesktop {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}
