.lecture {
  display: flex;
  flex-direction: column;

  align-items: center;

  @include onTablet {
    padding: 0 34px;
  }

  @include onDesktop {
    padding: 0;
  }

  &__img {
    width: 100%;
  }

  &__type {
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 500;
    font-size: 16px;

    color: #687480;
  }

  &__date {
    font-family: IBM Plex Sans, sans-serif;
    font-size: 16px;
    line-height: 24px;

    color: $c-dark-green;
  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    font-size: 28px;

    text-align: center;

    color: $c-main-black;

    transition: transform 0.3s;

    &:hover {
      transform: scale(102%);
    }

    @include onTablet {
      font-size: 36px;
    }
  }

  &__event {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 20px;
  }

  &__title-date {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    width: 280px;

    margin-top: -60px;
    padding: 20px 0;

    background: #fff;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

    @include onTablet {
      width: 570px;
      height: 204px;

      margin-top: -84px;
      padding: 44px 56px 52px;
    }
  }
}
