.lecture {
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 320px;
  min-height: 293px;
  &__discription {
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 270px;
    height: 140px;
    background: $c-w;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
    transform: translateY(-50%);
    @include onTablet {
      padding: 45px 50px 55px;
      width: 570px;
      height: 204px;
    }
    @include onLaptop {
      padding: 45px 100px 55px;
      width: 570px;
      height: 204px;
    }
  }
  &__img {
    width: 100vw;
    min-height: 210px;
  }
  &__undertitle {
    margin-bottom: 16px;
    width: 100%;
    @include onTablet {
      width: 376px;
    }
    @include onLaptop {
      width: 340px;
    }

  }
  &__card-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
    color: $t-but;
    @include onTablet {
      font-size: 36px;
    }
  }
}
