.leftbar {
  display: none;


  @include on1280 {
    display: flex;
    align-items: center;

    grid-column-start: 1;
    grid-row-start: 3;
    align-self: center;
    margin-left: -55px;
    transform: rotate(-90deg);

    &:hover {
      transform: scale(1.1);
    }
  }

  &-line {
    width: 70px;
    height: 1px;
    background-color: $green-color;
    margin-right: 20px;
  }

  &-text {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: $gray-color;
  }
  
}