.logo {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-decoration: none;
  color: $colorBlack;

  position: absolute;
  top: 9px;
  left: 45%;
  right: 55%;
  z-index: 1;

  @include onTablet {
    left: 60%;
  }

  @include onDesktop {
    left: 48%;
    font-size: 36px;
  }
}
