.main {
  &-title {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    margin: 0;

    @include on-tablet {
      text-align: left;
      font-size: 48px;
      line-height: 48px;
    }
  }
}
