.main {
  &__actual-events {
    margin-bottom: 100px;

    @include onLaptop {
      margin-bottom: 88px;
    }

    @include onDesktop {
      margin-bottom: 200px;
    }
  }

  &__gallery {
    margin-bottom: 100px;

    @include onLaptop {
      margin-bottom: 92px;
    }

    @include onDesktop {
      margin-bottom: 200px;
    }
  }

  &__subscribe {
    margin-bottom: 50px;

    @include onDesktop {
      margin-bottom: 48px;
    }
  }
}
