.menu {
  box-sizing: border-box;

  &__content {
    @include container;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $green-color;
    opacity: 1;
    height: max-content;

    @include onTablet {
      display: flex;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__bg {
    background: #18181a;
    opacity: 0.5;
    height: 100vh;
  }

  &__top {
    display: flex;
    padding-bottom: 24px;
    border-bottom: 1px solid #fff;

    @include onTablet {
      border-bottom: none;
      border-right: 1px solid #fff;
    }
  }

  &__bottom {
    padding-top: 16px;

    @include onTablet {
      padding-top: 40px;
      padding-left: 38px;
    }
  }

  &__bottom-text {
    @extend %p;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    max-width: 170px;

    &--bold {
      font-weight: 600;
    }
  }

  &__icon-close-img {
    @include hover(transform, scale(1.2));
  }
}
