.nav {
  font-weight: 400;
  color: $white;

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 20px 28px;

    @include on-tablet {
      gap: 24px 20px;
    }

    @include on-desctop {
      gap: 30px 31px;
      grid-template-columns: 169px 169px;
    }

    &--footer {
      gap: 20px 20px;
      grid-template-columns: 130px 130px;

      @include on-tablet {
        grid-template-columns: 220px 220px;
      }

      @include on-desctop {
        grid-template-columns: 168px 168px;
        gap: 20px 32px;
      }
    }
  }

  &__link {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: $white;


    text-decoration: none;
    display: block;
    width: fit-content;
    cursor: pointer;

    @include hover(transform, scale(1.1));

    @include on-tablet {
      max-width: 100%;
    }

    @include on-desctop {
      font-size: 22px;
      max-width: 128px;
      border-radius: 10px;
    }

    &--footer {
      color: $black;
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 400;
      line-height: 14px;
      text-align: left;
      font-size: 14px;
    }
  }
}
