.nav {
  margin-bottom: 24px;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    position: relative;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: $c-text-white;
    text-decoration: none;

    @include on-desktop-small {
      font-size: 22px;
      line-height: 22px;
    }
  }

  &__item {
    width: 100px;

    @include hover(transform, scale(1.07));

    &-padding-bottom {
      padding: 0 0 24px;

      @include on-tablet {
        padding-top: 0;
      }
    }
  }
}
