.news {
  &__title {
    margin-bottom: 48px;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: $t-but;
    @include onTablet {
      font-size: 48px;
    }
  }
  &__card {
    min-height: 423px;
    margin-bottom: 60px;
    @include onTablet {
      margin-bottom: 64px;
    }
    @include onLaptop {
      margin-bottom: 104px;
    }
    &-title {
      position: relative;
      width: max-content;
      padding-right: 25px;
      margin-bottom: 10px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
      color: $t-but;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 15px;
        height: 15px;
        background-color: $c-or;
        transform: translateY(-50%);
      }
      @include onTablet {
        margin-bottom: 15px;
        font-size: 36px;
      }
    }
    &--lecture {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__img {
    margin-bottom: 16px;
    width: 100%;
    height: auto;
    @include onTablet {
      margin-bottom: 30px;
    }
    @include onLaptop {
      margin: 0;
    }
  }
  &__undertitle {
    margin-bottom: 10px;
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include onTablet {
      width: 250px;
      margin-bottom: 30px;
    }
    &-text {
      font-family: "IBM", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: $c-bgr;
    }
    &-date {
      font-family: "IBM", sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: $c-gb;
    }
  }
  &__discription {
    font-family: "IBM", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: $t-main;
  }
}
