.page {
  scroll-behavior: smooth;
  box-sizing: border-box;

  &__body {
    margin: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
    transform: translateX(-100%);

    &:target {
      transform: translateX(0);
    }
  }

  &__back-to-top {
    display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 10vh;
    right: 20px;
    z-index: 2;
    outline: none;
    border: 1px solid rgb(15, 152, 118);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      transform: scale(1.2);
      box-shadow: 1px 1px 18px rgba(25, 25, 25, 0.5) ;
    }

    @include onTablet {
      right: 30px;
    }

    @include onDesktop {
      right: 50px;
    }
  }
}
