.schedule {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__label {
    color: inherit;
  }

  &__summary {
    display: flex;
    gap: 20px;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      gap: 30px;
    }

    @include desktop {
      gap: 45px;
    }

    &--footer {
      @include tablet {
        flex-direction: column;
      }
    }
  }

  &__summary-working-days-items {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  &__summary-working-days-item {
    list-style: none;
    color: inherit;
  }

  &__summary-weekend-wrapper {
    flex: 1;
    color: inherit;

    &__summary-weekend {
      color: inherit;
    }
  }
}
