.schedule {
  &--menu {
    @include onTablet {
      display: flex;
      align-items: flex-end;
      gap: 38px;
    }

    @include onDesktop {
      gap: 30px;
    }
  }

  &__list {
    @extend %text-schadule;
    list-style: none;
    padding: 0;
    margin: 0;
    width: max-content;
  }

  &__name {
    @extend %text-schadule;
    line-height: 20px;
    margin: 0 0 20px;
  }

  &__time {
    font-weight: 600;
  }

  &__block {
    margin-bottom: 16px;

    @include onTablet {
      margin-bottom: 0;

      &--footer {
        margin-bottom: 16px;
      }
    }
  }

  &__weekends {
    @extend %text-schadule;
    margin: 0;

    &--menu {
      @include onTablet {
        width: 148px;
      }
    }
  }
}
