.schedule {
  padding-inline: 20px;

  @include on-tablet {
    padding: 40px 35px 0 38px;
    width: 340px;
  }

  @include on-desktop {
    padding: 40px 155px 0 102px;
    width: 370px;
  }

  &__content {
    @include on-tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__name {
    padding: 0;
    margin-block: 24px 20px;
    font-family: IBMPlexSans, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.69px;
    color: #FFF;

    @include on-tablet {
      margin: 0;
      margin-bottom: 20px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  &__wickend,
  &__item {
    font-family: IBMPlexSans, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFF;

    &-name {
      font-weight: 600;
    }
  }

  &__wickend {
    @include on-tablet {
      width: 144px;
      margin: 0;
    }
  }
}
