.section-subscription {

  &__art {
    display: flex;
    background-image: url("../images/sub1440.png");
    height: 550px;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  &__header {
    font-size: 48px;
    line-height: 1em;
    font-family: $monseratBoldFontFamili;
    color: $colorWhite;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  &__text {
    color: $colorWhite;
    font-family: $IBMPlexSansFontFamili;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 86px;
  }
}
