.section-romantism {

  &__art {
    background-image: url("../images/Art/Sky1440.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
    background-position: center center;
    position: relative;
  }

  &__title {
    height: 205px;
    background-color: $colorWhite;
    margin: 0 auto;
    width: max-content;
    position: absolute;
    bottom: -102px;
    right: 0;
    left: 0;
    padding: 45px 100px 30px;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

    @media screen and(max-width: $beakpointTele) {
      width: 300px;
      height: 154px;
      padding: 10px 20px;
    }
  }
}
