.section {

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: $color-green;
    transform: translateX(-100%);
    transition: all 0.3s;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   right: 0;
    //   left: 0;
    //   bottom: 0;
    //   background-color: #18181A;
    //   display: block;
    //   width: 100%;
    //   z-index: ;
    // }

    &:target {
      transform: translateX(0);
    }
  }

}
