.sign {
  height: 385px;
  background-image: url(../images/footer1.jpg);
  @include imgPosition;

  @include onTablet {
    background-image: url(../images/footer.jpg);
  }

  @include onDesctop {
    height: 550px;
  }

  &__title {
    @include theTitle;
    color: $text-color-4;

    padding-top: 88px;

    @include onTablet {
      text-align: center;
    }

    @include onDesctop {
      padding-top: 163px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: $text-color-4;
    padding: 20px 20px 50px;

    @include onTablet {
      padding: 16px 0 64px;
    }

    @include onDesctop {
      padding: 16px 0 72px;
    }
  }
}
