.sing-up {
  padding-top: 100px;

  @include tablet {
    padding-top: 92px;
  }

  @include desktop {
    padding-top: 200px;
  }

  &__wrapper {
    background-color: rgba(0, 0, 0, 0.75);
    background-image: url('../images/sing-up/sing-up.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: color;
  }

  &__content {
    padding-block: 88px;

    @include grid-markup;

    @include tablet {
      padding-block: 82px;
    }

    @include desktop {
      padding-block: 163px;
    }
  }

  &__heading {
    color: #fff;
    margin-bottom: 20px;
    grid-column: 1/-1;
    text-align: center;

    @include tablet {
      margin-bottom: 16px;
    }
  }

  &__description {
    grid-column: 1/-1;
    margin-bottom: 50px;
    text-align: center;

    @include tablet {
      margin-bottom: 64px;
    }
  }

  &__form {
    display: flex;
    grid-column: 1/-1;

    @include tablet {
      grid-column: 2/-2;
      gap: 16px;
    }

    @include desktop {
      grid-column: 4/-4;
      gap: 30px;
    }
  }
}
