.slaider {
  &__container {
    @include onTablet {
      width: max-content;
      margin: 0 auto;
    }
  }
  &__item {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    @include onTablet {
      margin-bottom: 32px;
      justify-content: space-around;
      gap: 20px;
    }

    @include onDesctop {
      margin-bottom: 30px;
      justify-content: center;
      gap: 30px;
    }
  }

  &__images-1 {
    margin: 0 auto;
    @include hover(opacity, 0.7);
    @include hover(transform, scale(1.05));

    @include onTablet {
      margin: 0;
    }
  }

  &__images-2 {
    display: none;
    @include hover(opacity, 0.7);
    @include hover(transform, scale(1.05));

    @include onDesctop {
      display: block;
    }
  }

  &__images-3 {
    display: none;
    @include hover(opacity, 0.7);
    @include hover(transform, scale(1.05));

    @include onTablet {
      display: block;
    }

    @include onDesctop {
      display: none;
    }
  }

  &__images-4 {
    display: none;
    @include hover(opacity, 0.7);
    @include hover(transform, scale(1.05));

    @include onDesctop {
      display: block;
    }
  }

  &__images-5 {
    display: none;
    @include hover(opacity, 0.7);
    @include hover(transform, scale(1.05));

    @include onDesctop {
      display: block;
    }
  }

  &__dots {
    display: flex;
    gap: 33px;
    justify-content: center;

    @include onDesctop {
      display: none;
    }
  }

  &__dot--dark {
    background-color: $color-menu;
    @include square(9px);
    border-radius: 50%;
  }

  &__dot--light {
    background-color: $color-dots-light;
    @include square(9px);
    border-radius: 50%;
  }
}
