.slider {
  margin-bottom: 20px;

  @include onTablet {
    margin-bottom: 32px;
  }

  @include onDesktop {
    margin-bottom: 0;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
    @include hover (scale, 1.05);

    @include onTablet {
      height: 543px;
    }

    &--1 {
      
      @include onDesktop {
        height: 600px;
      }
    }

    &--2 {
      display: none;

      @include onTablet {
        display: block;
      }

      @include onDesktop {
        display: none;
      }
    }

    &--3 {
      display: none;

      @include onDesktop {
        display: block;
        height: 600px;
      }
    }

    &--4 {
      display: none;

      @include onDesktop {
        display: block;
        height: 360px;
      }
    }

    &--5 {
      display: none;

      @include onDesktop {
        display: block;
        height: 360px;
      }
    }
  }
}
