.slider {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @include onTablet {
    margin-top: 32px;
  }

  @include onDesktop {
    display: none;
  }

  &__dot {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-left: 22px;

    &:first-child {
      margin-left: 0;
      background-color: #1a5a4c;
    }
  }
}
