.subscription {
  @include page-grid;

  &-bgi {
    background-image: url(../images/subscription/subscription.svg);
    background-position: center;
    background-size: cover;
  }

  &--header-h2 {
    grid-column: 1 / -1;
    margin: 88px 0 20px;
    padding: 0;
    font-family: Monserrat, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: $c-text-white;

    @include on-tablet {
      font-size: 48px;
      line-height: 48px;
      margin: 82px 0 16px;
    }

    @include on-desktop-small {
      margin-top: 163px;
    }
  }

  &--header-h3 {
    grid-column: 1 / -1;
    margin: 0 0 50px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: $c-text-white;

    @include on-tablet {
      line-height: 18px;
      margin-bottom: 64px;
    }

    @include on-tablet {
      margin-bottom: 72px;
    }
  }
}

.form-email {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 2 / 6;
  }

  @include on-desktop-small {
    grid-column: 4 / 10;
  }
}

.buttons-form {
  display: flex;

  &__subscription {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    border: none;
    margin-bottom: 88px;

    @include hover(transform, scale(1.05));

    @include on-tablet {
      height: 70px;
      margin-bottom: 82px;
    }

    @include on-desktop-small {
      margin-bottom: 163px;
    }
  }

  &--text-email {
    display: flex;
    width: 230px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 16px;
    resize: none;

    @include on-tablet {
      width: 100%;
    }
  }

  &__email {
    width: 90%;
    padding: 18px 0 18px 24px;
    border: none;

    &::placeholder {
      outline: none;
    }

    &:focus {
      outline: none;
    }
  }

  &--button-square-orange {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #f14a27;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    @include on-tablet {
      padding: 0;
      width: 79px;
      height: 100%;
    }

    &--arrow {
      background-position: center;
      background-size: cover;
      height: 24px;
      width: 24px;

      &-right {
        background-image: url(../images/button/arrow_right.png);
        filter: invert(100%);
      }
    }
  }
}
