.subscription {
  margin-bottom: 50px;

  @include onTablet {
    margin-bottom: 51px;
  }

  @include onDesktop {
    margin-bottom: 48px;
  }

  &__img {
    background-image: url(../images/subscription.jpg);
    width: 100%;
    height: 386px;
    background-size: cover;
    background-position: center;
    padding: 88px 0;

    @include onTablet {
      height: 380px;
      padding: 82px 0;
    }

    @include onDesktop {
      height: 550px;
      padding: 163px 0;
    }
  }

  &__title {
    color: $clor-white;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    font-size: 36px;
    margin-bottom: 20px;

    @include onTablet {
      font-size: 48px;
      margin-bottom: 16px;
    }
  }

  &__text {
    color: $clor-white;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    margin: 0 0 50px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: 72px;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    gap: 0;

    @include onTablet {
      gap: 16px;
    }

    @include onDesktop {
      gap: 30px;
    }
  }

  &__email {
    width: 100%;
    height: 50px;
    color: #687480;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding-left: 24px;
    border: none;

    @include onTablet {
      width: 374px;
      height: 70px;
    }

    @include onDesktop {
      width: 470px;
      padding-left: 32px;
    }
  }

  &__button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #f14a27;
    background-image: url(../images/formButton.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s;

    @include onTablet {
      width: 70px;
      height: 70px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
