.subscribe {
  margin-top: 100px;

  @include on768 {
    margin-top: 92px;
  }

  @include on1280 {
    margin-top: 200px;
  }

  &__container {
    margin: 0 auto;
    background-image: url(../images/bcksubscription.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    @include on768 {
      width: 768px;
    }
  
    @include on1280 {
      width: 1280px;
    }
  }

  &__title {
    @include h2;
    color: #fff;
    text-align: center;
    padding-top: 88px;

    &:hover {
      color: $red-color;
    }
  
    @include on768 {
      padding-top: 82px;
    }
  
    @include on1280 {
      padding-top: 163px;
    }
  }

  &__text {
    width: 280px;
    margin: 0 auto;
    margin-top: 50px;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #fff;

    &:hover {
      color: $red-color;
      border-bottom: 1px solid $red-color;
    }
  
    @include on768 {
      line-height: 100%;
      width: 460px;
      margin-top: 16px;
    }
  
    @include on1280 {
      width: 570px;
    }
  }

  &__form {
    margin: 0 auto;
    margin-top: 50px;
    width: 280px;
    display: flex;
    padding-bottom: 50px;
  
    @include on768 {
      margin-top: 64px;
      width: 460px;
      justify-content: space-between;
      padding-bottom: 82px;
    }
  
    @include on1280 {
      margin-top: 72px;
      width: 570px;
      padding-bottom: 163px;
    }
  
    &--input {
      width: 230px;
      height: 50px;
      outline: none;
      border: 1px solid #fff;
      padding-left: 24px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: $gray-color;

      &:hover {
        background-color: $red-color;
        color: #fff;
      }
      
      @include on768 {
        width: 374px;
        height: 70px;
      }
    
      @include on1280 {
        width: 470px;
        padding-left: 32px;
      }
    }

    &--button {
      width: 50px;
      height: 50px;
      outline: none;
      border: none;

      background-image: url(../images/Group57.png);
      background-repeat: no-repeat;
      background-size: contain;

      @include on768 {
        width: 70px;
        height: 70px;
      }
    }
  }
}
