.subscription {
  padding: 88px 20px;
  background-image: url(../images/backgroundpidpnska.png);
  height: 386px;
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;

  @include onTablet {
    padding: 82px 154px;
    height: 380px;
    background-position: top;
  }

  @include onDesktop {
    padding: 163px 355px;
    height: 550px;
  }

  &__title {
    color: $c-white;
    text-align: center;
    margin-bottom: 20px;
    

    @include onTablet {
      margin-bottom: 16px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: $c-white;
    margin: 0 0 50px;
    

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: 72px;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;

    @include onTablet {
      gap: 16px;
    }

    @include onDesktop {
      gap: 30px;
    }
  }

  &__input {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    width: 230px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 28px;
    @include hover(border, 1px solid $c-grayd);

    &::placeholder {
      color: $c-grayd;
    }

    @include onTablet {
      height: 70px;
      width: 374px;
    }
  }

  &__button {
    background-color: $c-red;
    border: none;
    cursor: pointer;
    @include hover(background-color, $c-botton);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px $c-white inset !important;
  -webkit-text-fill-color: #000 !important;
}
