.subscription {
  padding: 88px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  text-align: center;

  background-image: url(/src/images/bg-subscribtion.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include on-tablet {
    padding: 82px;
  }

  @include on-desctop {
    padding: 163px;
  }

  &__title {
    color: $white;
    font-weight: 700;
    line-height: 36px;
    font-size: 36px;
    padding-bottom: 20px;


    @include on-tablet {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__text {
    color: $white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 50px;
  }

  &__form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: none;

    @include on-tablet {
      gap: 16px;
      max-width: 470px;
    }

    @include on-desctop {
      gap: 30px;
      max-width: 570px;
    }
  }

  &__input {
    flex-grow: 1;
    min-height: 50px;
    height: 100%;
    padding-left: 24px;
    border: none;

    line-height: 14px;
    text-align: left;
    font-size: 14px;

    &:focus {
      outline: none;
    }

    &:autofill,
    &:-webkit-autofill {
      background-color: $white;
      color: $black;
      border-bottom: 2px solid $special;
      transition: background-color 5000s ease-in-out 0s;
    }

    &:autofill:hover,
    &:-webkit-autofill:hover,
    &:autofill:focus,
    &:-webkit-autofill:focus {
      background-color: $white;
      color: $black;
      border-bottom: 2px solid $special;
    }
  }

  &__button {
    border: none;
    background-color: $special;
    width: 50px;
  }
}
