.subscribe {
  height: 386px;
  box-sizing: border-box;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url(../images/subscribe-mobile.png);
  background-position: center;
  background-size: cover;

  @include onTablet {
    background-image: url(../images/subscribe-laptop.png);
  }

  @include onDesktop {
    background-image: url(../images/subscribe-desktop.png);
    height: 550px;
  }

  &__title {
    font-size: 36px;
    color: #fff;

    margin-bottom: 20px;

    @include onTablet {
      font-size: 48px;
      margin-bottom: 16px;
    }
  }

  &__sub-title {
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    text-align: center;

    color: #fff;

    margin-bottom: 50px;

    @include onTablet {
      line-height: 18px;
      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: 72px;
    }
  }

  &__form {
    display: flex;
    box-sizing: border-box;
  }

  &__input {
    box-sizing: border-box;

    width: 230px;
    height: 50px;
    padding-left: 24px;

    font-weight: normal;
    font-size: 14px;

    color: #687480;
    outline: none;
    border-color: transparent;

    @include onTablet {
      width: 374px;
      height: 70px;
      margin-right: 16px;
    }

    @include onDesktop {
      width: 470px;
      margin-right: 30px;
    }
  }

  &__button {
    box-sizing: border-box;
    background-color: $c-orange;
    height: 50px;
    width: 50px;

    border-color: transparent;
    color: #000;
    font-weight: bold;

    transition: background-color 0.2s;

    @include onTablet {
      font-size: 25px;
      width: 70px;
      height: 70px;
    }

    &:focus {
      background-color: #f00a07;
    }

    &:hover {
      background-color: #f00a07;
    }

    &:active {
      background-color: #a00a07;
    }
  }
}
