.swiper {

  @include onDesktop {
    display: none;
  }

  &-pagination {

    padding-top: 20px;

    @include onTablet {
      margin-top: 32px;
    }

    &-bullet-active {
      color: green;
    }
  }
}
