.title {
  display: block;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;

  text-align: center;
  text-transform: uppercase;

  @include onTablet {
    font-size: 57px;
    line-height: 68px;

    text-align: left;
  }

  @include onDesktop {
    font-size: 72px;
    line-height: 86px;
  }

  &__transparent {
    @include onTablet {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 2px $c-main-black;
    }
  }
}
