.title {
  @extend %h1;
  text-align: center;
  margin: 20px 0;

  @include onTablet {
    text-align: left;
    font-size: 54px;
    line-height: 120%;
    margin: 64px 0 38px;
  }

  @include onDesctop {
    font-size: 72px;
    margin: 143px 0 89px;
  }
}
