.top-bar {
  display: flex;
  padding: 27px 0 24px;
  gap: 28px;

  @include on-tablet {
    padding: 39px 0 64px;
    gap: 48px;
  }

  @include on-desctop{
    padding: 39px 0 143px;
    gap: 48px;
  }

  &__logo {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 9px;
  }
}

.logo {
  display: inline-block;

  @include on-tablet {
    font-size: 36px;
    line-height: 36px;
    left: 60%;
    top: 15px;
  }
}
