.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  flex-direction: row;
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 34px;
  }

  @include on-desktop {
    padding-inline: 55px;
  }

  &__space {
    width: 24px;
  }

  &__logo-link {
    text-decoration: none;
  }

  &__logo {
    margin: 0;
    padding-block: 9px;
    cursor: pointer;

    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    color: #0f0e08;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    @include on-tablet {
      font-size: 36px;
      padding-block: 15px;
      margin-left: 30vw;
    }

    @include on-desktop {
      margin-left: 0;
    }
  }
}
