.work-schedule {
  grid-column: 1 / -1;
  margin-top: 24px;

  @include on-tablet {
    grid-column: 4 / 7;
    margin: 35px 0 40px;
  }

  @include on-desktop-small {
    grid-column: 8 / 12;
    margin: 40px 0 48px;
  }

  &__head {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: $c-text-white;
    margin: 0;
    padding-bottom: 20px;
  }

  &__content {
    @include on-tablet {
      display: flex;
      flex-direction: row;
      gap: 38px;
      padding-bottom: 40px;
    }

    @include on-desktop-small {
      padding-bottom: 48px;
    }
  }

  &__nav {
    width: 100%;

    &--list {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    &--item {
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: $c-text-white;
      text-decoration: none;
    }
  }

  &--description {
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: $c-text-white;
    margin: 0;
    padding: 16px 0 27px;

    @include on-tablet {
      padding: 0;
    }

    &-p {
      margin: 0;
    }
  }
}

.text-semibold {
  font-weight: 500;
}
