.worktime {
  color: $color-white;

  @include on-tablet {
    display: flex;
    gap: 26px;
  }

  @include on-desctop {
    gap: 30px;
  }

  &__onepart {
    width: 100%;

    @include on-tablet {
      margin-left: 38px;
    }

    @include on-desctop {
      width: 170px;
      margin-left: 102px;
    }
  }

  &__twopart {
    width: 100%;
    
    @include on-desctop {
      width: 170px;
    }
  }

 &__title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 19.69px;
  text-align: left;
  height: 20px;
  margin: 0;
  padding: 24px 0 20px;

  @include on-tablet {
    padding: 0 0 20px;
  }
 }

 &__date {
  margin: 0;
  padding: 0;
 }

 &__time {
  list-style: none;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
  margin: 0;
 }

 &__description {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
  margin: 0;
  padding-top: 16px;

  @include on-tablet {
    padding-top: 40px;
  }
 }
}

.time,
.bottom-time {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  margin: 0;
}
