@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat, Helvetica, sans-serif;
  src: url(../fonts/Montserrat-Bold.ttf) format("ttf");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: Montserrat, Helvetica, sans-serif;
  src: url(../fonts/Montserrat-SemiBold.ttf) format("ttf");
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: Montserrat, Helvetica, sans-serif;
  src: url(../fonts/Montserrat-Regular.ttf) format("ttf");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: IBMPlexSans, Helvetica, sans-serif;
  src: url(../fonts/IBMPlexSans-Bold.ttf) format("ttf");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: IBMPlexSans, Helvetica, sans-serif;
  src: url(../fonts/IBMPlexSans-Medium.ttf) format("ttf");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: IBMPlexSans, Helvetica, sans-serif;
  src: url(../fonts/IBMPlexSans-Regular.ttf) format("ttf");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: IBMPlexSans, Helvetica, sans-serif;
  src: url(../fonts/IBMPlexSans-Light.ttf) format("ttf");
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}
