h1 {
  font-family: Montserrat, Helvetica, sans-serif;
}

h2 {
  font-family: IBMPlexSans, Helvetica, sans-serif;
}

p {
  font-family: IBMPlexSans, Helvetica, sans-serif;
}

li
{
  font-family: IBMPlexSans, Helvetica, sans-serif;
}
