// media
$on-tablet: 768px;
$on-desktop: 1280px;

// colors:
$c-gray: #eee;
$light-gray: #e0e0e0;
$green: #1a5a4c;
$dark-green: #1a5a4c40;
$white: #fff;
$black: #000;
$dark-gray: #0f0e08;
$gray: #4e4e4e;
$grayish: #687480;
$light-gray: #d7dde3;
$pink: #f14a27;
