.page__menu {
  background-color: $bg-border-color;
  padding-block: 27px;
  color: $secondary-text-color;

  @include onTablet {
    padding-block: 40px;
  }

  @include onDesktop {
    padding-bottom: 48px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @include onTablet {
      flex-direction: row;
      gap: 38px;
    }

    @include onDesktop {
      gap: 102px;
    }
  }

  &-bar {
    display: flex;
    gap: 28px;

    @include onTablet {
      gap: 38px;
    }

    @include onDesktop {
      gap: 102px;
    }

    &__icon--close {
      width: 24px;
      height: 24px;
      background-image: url(../images/icon-close.svg);
      display: block;

      @include hover(scale, 1.2);
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);

    @include onTablet {
      height: 145px;
      width: 1px;
    }
  }

  &__schedule {
    &-title {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      margin: 0 0 20px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include onTablet {
        flex-direction: row;
        gap: 38px;
      }

      @include onDesktop {
        gap: 30px;
      }
    }

    &__item {
      margin: 0;
      padding: 0;

    }

    &__link {
      font-style: normal;
      font-weight: 600;
      list-style-type: none;
    }

    &-description {
      margin: 0;
      font-style: normal;
      font-weight: 600;

      @include onTablet {
        width: 144px;
      }
    }

    &-text {
      font-weight: 400;

      &__link {
        display: block;
        text-decoration: none;
        color: $main-text-color;
        br {
          display: none;
        }

        @include onDesktop {
          br {
            display: inherit;
          }
        }

        @include hover(color, red);
      }
    }
  }
}
