.button {
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 0;

  @include onTablet {
    width: 70px;
    height: 70px;
  }

  &--header {
    background-color: $color-menu;
    background-image: url(../images/icon/arrow__right.svg);
  }

  &--subscription {
    background-color: #f14a27;
    background-image: url(../images/icon/arrow__right_black.svg);

    @include onTablet {
      margin-left: 16px;
    }

    @include onDesktop {
      margin-left: 30px;
    }
  }
}
