.footer {
  background-color: #fff;
  padding-top: 50px;

  @include onDesktop {
    padding-top: 48px;
  }

  &__schedule {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    line-height: 20px;
    color: $color-subtitle;
    font-weight: 400;
    font-size: 14px;

    &--title {
      margin-bottom: 20px;
    }

  }

  &__schedule-description {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    color: $color-subtitle;
    font-weight: 400;
    line-height: 21px;
    font-size: 14px;

    &--time {
      margin-bottom: 21px;
    }

    &--note {
      margin-bottom: 70px;

      @include onTablet {
        margin-bottom: 64px;
      }

      @include onDesktop {
        margin-bottom: 0;
      }
    }

    &--bold {
      display: inline-block;
      font-weight: 600;

      @include onDesktop {
        font-weight: 600;
      }
    }

    &--normal {
      display: inline-block;
    }
  }

  &__contacts {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-subtitle;

    &--title {
      margin-bottom: 20px;
    }

    &--email-adress {
      text-decoration: none;
      color: $color-subtitle;
    }
  }

  &__line {
    width: 100%;
    border-bottom: 1px solid rgba(26, 90, 76, 0.5);
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      position: relative;
      border-left: 1px solid rgba(26, 90, 76, 0.5);
      width: 1px;
      height: 260px;
      left: 35px;

      margin-bottom: 0;
    }
  }

  &__back-button {
    justify-self: end;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid $color-menu;
    background-image: url(../images/icon/arrow_up.svg);
    background-position: center;
    background-repeat: no-repeat;

    margin-bottom: 20px;

    @include onTablet {
      display: none;
    }
  }

  &__menu {
    width: 100%;
    margin-bottom: 0; // tablet 80px descktop 87px

    @include onDesktop {
      position: relative;
      //top: -300px;
    }
  }

  &__menu-item {
    font-size: 0;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  &__menu-list {
    list-style: none;
    padding: 0;
    margin: 0;

    margin-bottom: 80px;

    @include onTablet {
      margin-bottom: 120px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__menu-link {
    font-family: "IBM Plex Sans", sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: $color-subtitle;
  }

  &__bottom {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: $color-subtitle;

    padding-bottom: 50px;

    @include onTablet {
      display: flex;
      justify-content: space-between;

      padding-bottom: 36px;
    }
  }

  &__designed {
    margin-bottom: 10px;

    @include onTablet {
      margin: 0;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 40px;

    @include onTablet {
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
    }
  }

  &__logo {
    display: block;

    @include onTablet {
      margin-bottom: 62px;
    }

    @include onDesktop {
      margin-bottom: 62px;
    }
  }

  &__social {
    display: inline-block;
    justify-self: end;

    @include onTablet {
      display: block;
    }
  }

  &__facebook {
    text-decoration: none;
    margin-right: 26px;

    @include onTablet {
      margin-right: 38px;
    }

    @include onDesktop {
      margin-right: 27px;
    }
  }

  &__grid {
    @include onDesktop {
      margin-bottom: 87px;
    }
  }
}
