.footer {
  @include contentPaddingInline;
  @include pageGrid;

  background-color: #fff;
}

.footer__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 150px;

  margin-bottom: 40px;
  margin-top: 32px;

  grid-column: 1 / -1;

  @include onTablet {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 62px;

    margin-top: 51px;
    margin-right: 20px;

    grid-column: 1 / 1;
  }
}

.footer__top-logo {
  background-image: url(./../images/NAMU.svg);
  background-repeat: no-repeat;
  height: 63px;
  width: 72px;
}

.footer__icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__facebook {
  background-image: url(./../images/icons/facebook-footer-icon.svg);
}

.footer__instagram {
  background-image: url(./../images/icons/instagram-footer-icon.svg);
}

.footer__average {
  grid-column: 1 / -1;

  @include pageGrid;

  position: relative;

  @include onTablet {
    grid-column: 2 / 5;

    margin-top: 51px;
  }
}

.footer__average::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(26, 90, 76, 0.5);
  z-index: 1;
  top: 500px;

  @include onTablet {
    top: 300px;
  }
}

.footer__schedule {
  display: flex;
  flex-direction: column;
  width: 130px;

  margin-bottom: 111px;

  @include onTablet {
    width: 220px;
  }
}

.footer__schedule-title {
  color: rgba(15, 14, 8, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  margin-bottom: 20px;
}

.footer__schedule-info {
  color: rgba(15, 14, 8, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.footer__contact-us {
  display: flex;
  flex-direction: column;
  width: 130px;

  @include onTablet {
    width: 220px;
  }
}

.footer__btn-to-top {
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(26, 90, 76, 1);
  height: 50px;
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: 2 / -1;

  margin-left: 80px;
  margin-top: -100px;

  @include onTablet {
    display: none;
  }
}

.footer__bottom {
  grid-column: 1/ -1;

  @include onTablet {
    grid-column: 2 / 4;
  }
}

.footer__wrap {
  @include pageGrid;

  margin-bottom: 80px;

  @include onTablet {
    margin-bottom: 120px;
  }
}

.footer__menu__elements {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.first {
  grid-column: 1 / 2;
}

.second {
  grid-column: 2 / -1;
}

.footer__menu__text {
  width: 130px;
  color: rgba(15, 14, 8, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  @include onTablet {
    width: 220px;
  }
}

.footer__end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  grid-column: 1 / -1;

  margin-bottom: 30px;

  @include pageGrid;
}

.footer__end-text {
  font-size: 12px;
  font-weight: 300;
  line-height: 17px;
}

.footer__end-text-first {
  grid-column: 1 / -1;

  @include onTablet {
    grid-column: 5 / -1;
  }
}

.footer__end-text-second {
  grid-column: 1 / -1;

  @include onTablet {
    grid-column: 1 / 3;
  }
}
