.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 100px;
}

.gallery__title {
  color: rgba(15, 14, 8, 1);
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;

  margin-bottom: 40px;
}

.gallery__image {
  margin-bottom: 20px;
}

.gallery__slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery__dots {
  display: flex;
  gap: 22px;
}

.gallery__dot {
  background-color: rgba(224, 224, 224, 1);
  height: 9px;
  width: 9px;
  border-radius: 50%;
}

.active {
  background-color: rgba(26, 90, 76, 1);
}

.subscribe {
  margin-bottom: 18px;
}
