.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 100px;

  @include contentPaddingInline;
}

.gallery__title {
  color: rgba(15, 14, 8, 1);
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;

  margin-bottom: 40px;
}

.gallery__image {
  margin-bottom: 20px;
  height: 410px;

  @include onDesktop {
    height: 600px;
    width: 470px;
  }
}

.gallery__slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery__dots {
  display: flex;
  gap: 22px;

  @include onDesktop {
    display: none;
  }
}

.gallery__dot {
  background-color: rgba(224, 224, 224, 1);
  height: 9px;
  width: 9px;
  border-radius: 50%;
}

.active {
  background-color: rgba(26, 90, 76, 1);
}

.subscribe {
  margin-bottom: 18px;
}

.hidden {
  display: none;

  @include onTablet {
    display: block;
  }

  @include onDesktop {
    display: none;
  }
}

.gallery__images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @include onDesktop {
    gap: 30px;
  }
}

.gallery-image__four {
  display: none;

  @include onDesktop {
    display: block;
    height: 600px;
    width: 770px;

    margin-top: -20px;
  }
}

.gallery__images-desktop {
  display: none;

  @include onDesktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

.gallery__image__third {
  width: 870px;
  height: 360px;
}

.gallery__image__five {
  height: 360px;
  width: 410px;
}
