.gallery {
  //background-color: #fff;
  &__title {
    text-align: center;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: $color-subtitle;

    margin-bottom: 40px;

    @include onTablet {
      text-align: left;
      font-size: 48px;
    }
  }

  &__images {
    display: none;

    @include onDesktop {
      display: grid;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}
