.grid {
  display: grid;
  gap: 30px;

  &__item {
    @for $start from 1 through 12 {
      @for $end from 1 through 12 {
        @include onDesktop {
          &--#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
