.header {
  @include pageGrid;

  @include onTablet {
    margin-bottom: 88px;
  }
}

.header__bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  grid-column: 1 / -1;

  @include onTablet {
    grid-column: 1 / 3;

    margin-left: 104px;
    margin-top: -150px;
  }

  @include onDesktop {
    grid-column: 1 / 6;
    margin-left: -100px;
    margin-top: -500px;
  }
}

.header__icon-hidden {
  display: none;

  @include onTablet {
    display: block;

    margin-left: -250px;
    margin-top: -210px;
    margin-bottom: 64px;
  }

  @include onDesktop {
    margin-bottom: 143px;
  }
}

.header__title {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  width: 280px;
  text-transform: uppercase;

  margin-bottom: 20px;
  margin-top: 0;

  @include onTablet {
    font-size: 54px;
    line-height: 64.8px;
    text-align: start;
  }

  @include onDesktop {
    font-size: 72px;
    line-height: 86.4px;
    margin-bottom: 89px;
  }
}

.header__mixed {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-bottom: 70px;

  @include onDesktop {
    margin-right: -300px;
  }
}

.header__tickets {
  border: 1px solid rgba(26, 90, 76, 1);
  box-sizing: border-box;
  width: 230px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  @include onDesktop {
    width: 200px;
    height: 70px;
  }
}

.header__tickets-text {
  font-style: 16px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

.header__button {
  height: 50px;
  width: 50px;
  border: 1px solid rgba(26, 90, 76, 1);
  background-color: rgba(26, 90, 76, 1);
  box-sizing: border-box;
  transition: all linear 0.5s;

  display: flex;
  justify-content: center;
  align-items: center;

  @include onDesktop {
    height: 70px;
    width: 70px;
  }

  &:hover {
    background-color: darkcyan;
  }
}
