.header {
  //height: 685px;
  background-image: url(../images/Natsionalnij-hudozhnij-muzej-Ukrayini-Kiyiv-10-1800x1200.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100vw 300px;

  @include onTablet {
    //height: 975px;
    background-position: top right;
    background-size: calc(100vw * 0.5) 374px;
  }

  @include onDesktop {
    //height: 800px;
    background-position: top right;
    background-size: calc(100vw * 0.5 + #{$width-logo-tablet} * 0.5) 655px;
  }

  &__top {
    @include top-action;
    margin-bottom: 250px;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 119px;
    }
  }

  &__logo {
    justify-self: center;
    margin-top: 9px;

    @include onTablet {
      margin-top: 15px;
      transform: translateX(50%);
    }

    @include onDesktop {
      transform: translateX(0);
    }
  }

  &__icon {
    font-size: 0;
    margin-left: 3px;
    margin-top: 33px;

    @include onTablet {
      margin-top: 45px;
    }
  }

  &__title {
    margin: 0 0 20px;
    text-align: center;

    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    color: $color-text-title;

    @include onTablet {
      font-size: 54px;
      line-height: 120%;

      text-align: left;
      max-width: 340px;
      margin: 0 0 38px;
    }

    @include onDesktop {
      font-size: 72px;

      text-align: left;
      max-width: 340px;
      margin: 0 0 89px;
    }
  }

  &__form {
    display: flex;
    justify-content: center;

    @include onTablet {
      justify-content: left;
    }

    @include onDesktop {
      margin-left: 201px;
    }
  }

  &__input-text {
    box-sizing: border-box;

    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: $color-subtitle;
    border: 1px solid $color-menu;
    appearance: none;
    width: 100%;
    height: 50px;
    line-height: 48px;
    text-align: center;

    @include onTablet {
      //margin-bottom: 107px;
      height: 70px;
      line-height: 70px;
      width: 200px;
    }
  }

  &__events {
    display: none;

    @include onDesktop {
      display: block;
      font-family: "IBM Plex Sans", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      color: #687480;

      transform: rotate(-90deg);
      width: 43px;
      height: 14px;

      &::after {
        display: block;
        position: relative;
        content: "";
        border: 1px solid #1a5a4c;
        width: 70px;
        right: 90px;
        bottom: 50%;
      }
    }
  }
}
