.lecture {
  background-image: url(../images/pictures/lecture_backgr_mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 210px;
  text-align: center;

  @include onTablet {
    background-image: none;
    height: 390px;
  }

  @include onDesktop {
    background-image: url(../images/pictures/lecture_backgr_desktop.png);

    height: 550px;
  }

  &__container {
    @include onTablet {
      background-image: url(../images/pictures/lecture_backgr_tablet.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      height: 390px;
    }

    @include onDesktop {
      background-image: none;
    }
  }

  &__info {

    display: block;
    position: relative;

    background-color: #fff;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

    padding-top: 24px;
    top: 153px;
    max-width: 570px;
    margin: 0 auto;

    @include onTablet {
      top: 306px;
      padding-top: 45px;
    }

    @include onDesktop {
      top: 448px;
    }
  }

  &__info-title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: $color-subtitle;

    padding-bottom: 20px;

    @include onTablet {
      padding-bottom: 50px;
      font-size: 36px;
      text-align: left;
    }
  }

  &__info-event {
    margin-bottom: 24px;
    margin-left: 21px;

    @include onTablet {
      margin-left: 0;
      margin-bottom: 23px;
    }
  }

  &__info-content {
    margin: 0 auto;
    @include onTablet {
      width: 460px;

    }

    @include onDesktop {
      width: 370px;
    }

    &--date {
      width: 174px;

      @include onTablet {
        width: 220px;
      }

      @include onDesktop {
        width: 170px;
      }
    }
  }
}
