.menu {
  height: 100%;

  &__green {
    background-color: $color-menu;
  }

  &__block {
    display: block;

    @include onTablet {
      display: grid;
      grid-template-columns: 18px auto 1px auto;
    }
  }

  &__top {
    display: inline-flex;
    align-items: flex-start;

    @include onTablet {
      border-bottom: 0;
      justify-self: center;
    }
  }
  
  &__line {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 24px;
    width: 100%;

    @include onTablet {
      display: block;
      height: 145px;
      width: 1px;
      align-self: center;
      border-right: 1px solid rgba(255, 255, 255, 0.5);

      margin-top: 40px;
    }
  }

  &__icon {
    margin-left: 3px;
    margin-top: 33px;
    font-size: 0;

    margin-right: 34px;

    @include onTablet {
      margin-top: 44px;
    }

    @include onDesktop {
      margin-left: 6px;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 27px 0 0;
    flex-wrap: wrap;
    max-width: 230px;

    @include onTablet {
      padding: 40px 0 0;
    }

    @include onDesktop {
      max-width: 370px;
      justify-self: center;
    }
  }

  &__item {
    margin-right: 28px;
    width: 100px;
    font-size: 0;
    margin-bottom: 24px;

    @include onTablet {
      margin-right: 20px;
    }

    @include onDesktop {
      width: 168px;
      margin-right: 32px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;

    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    @include onDesktop {
      font-size: 22px;
    }
  }

  &__content,
  &__content-description {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #fff;
  }

  &__content {
    @include onTablet {
      justify-self: center;
    }

    @include onDesktop {
      justify-self: center;
    }

    &--title {
      font-weight: 400;
      line-height: 20px;

      margin-bottom: 20px;

      @include onTablet {
        margin-top: 40px;
      }
    }
  }

  &__content-description {
    @include onTablet {
      display: flex;
      justify-content: space-between;
    }

    &--time {
      font-weight: 600;
      line-height: 21px;

      margin-bottom: 16px;

      @include onTablet {
        margin-right: 38px;
        margin-bottom: 40px;
      }

      @include onDesktop {
        margin-right: 30px;
        margin-bottom: 48px;
      }
    }

    &--note {
      padding-bottom: 27px;

      @include onTablet {
        max-width: 144px;
      }
    }
  }
}

h5 {
  display: inline-block;
  padding: 0;
  margin: 0;

  font-weight: 400;
}
