body {
  background: $c-gray;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;

  &:has(.menu:target) {
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
}

.page {
  position: relative;

  &:has(.menu:target) {
    overflow: hidden;
  }

  scroll-behavior: smooth;
}

.main {
  @include onTablet {
    @include contentPaddingInline;
  }
}
