body {
  background: $c-gray;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.page {
  &:has(.menu:target) {
    overflow: hidden;
  }
  scroll-behavior: smooth;
}

.main {
  @include onTablet {
    @include contentPaddingInline;
  }
}
