.top-bar__wrap {
  grid-column: 1 / -1;

  @include onTablet {
    grid-column: 4 / -1;
  }

  @include onDesktop {
    grid-column: 7 / -1;
  }
}

.top-bar {
  background-image: url(./../images/header-image.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;

  @include onTablet {
    height: 374px;
  }

  @include onDesktop {
    height: 655px;
  }

  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;
}

.topbar__icon-menu {
  background-image: url(./../images/icons/menu-burger-icon.svg);

  margin-top: 27px;
  margin-left: 20px;
}

.top-bar__logo {
  background-image: url(./../images/NAMU.svg);
  background-repeat: no-repeat;
  height: 61px;
  width: 55px;

  margin-top: 10px;

  position: absolute;
  left: 45%;

  @include onTablet {
    left: 10%;
    width: 220px;
    height: 72px;

    margin-top: 15px;
  }
}

.mobile-show {
  @include onTablet {
    display: none;
  }
}
