.content {
  &__title {
    @include montserrat-high;

    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: #000;

    @include on-tablet {
      text-align: left;
    }

    @media (min-width: 760px) {
      font-size: 54px;
      line-height: 54px;
    }

    @include on-desktop {
      font-size: 72px;
      line-height: 72px;
    }
  }
}
