.icon {
  display: block;
  height: 24px;
  width: 24px;

  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  &--menu {
    background-image: url(../images/icons/burger-menu.svg);
  }

  &--close {
    background-image: url(../images/icons/close.svg);
  }
}
