.tickets {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 1 / -1;
  margin-top: 20px;
  border: 1px solid $c-dark-green;
  margin-inline: 20px;

  @include onTablet {
    height: 70px;
    width: 270px;
    margin-inline: 0;
    margin-top: 38px;
  }

  @include onDesktop {
    height: 70px;
    margin-top: 89px;
    margin-left: 201px;
  }

  transition: all $effectDuration;

  &:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.03),
      0 6.7px 5.3px rgba(0, 0, 0, 0.05),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.07),
      0 41.8px 33.4px rgba(0, 0, 0, 0.09),
      0 100px 80px rgba(0, 0, 0, 0.12)
    ;
  }

  &__text {
    width: calc(100% - 50px);

    font-family: "IbmPlexSans-Medium", sans-serif;
    text-align: center;

    @include onTablet {
      width: calc(100% - 70px);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;

    background-color: $c-dark-green;
    transition: all $effectDuration;

    @include onTablet {
      height: 70px;
      width: 70px;
    }

    &:active {
      background-color: $c-orange;
    }
  }
}
