.top-bar {
  &__mobile {
    background-image: url(../images/bg/bg-header.png);
    background-position: center;
    background-size: cover;

    height: 50vh;

    @include onTablet {
      display: none;
    }

    &__items {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-logo {
      position: relative;
      left: calc(50% - 72px);
      display: flex;
      margin-top: 9px;

      @include hover(transform, scale(1.2));
    }
  }

  &__tablet {
    display: none;

    @include onTablet {
      display: block;
      width: 100%;
      margin-left: 39px;
      
      background-image: url(../images/bg/bg-header.png);
      background-position: center;
      background-size: cover;
    }

    &-logo {
      display: flex;
      justify-content: center;
      margin-top: 15px;
      width: 220px;

      @include hover(transform, scale(1.2));

      @include onDesktop {
        width: 170px;
      }
    }
  }
}
