.top-bar {
  display: flex;
  position: relative;
  align-items: center;

  &__logo {
    @include montserrat-high;

    position: absolute;
    width: fit-content;
    color: #0f0e08;
    font-size: 30px;
    line-height: 30px;
    text-align: center;

    @include hover(transform, scale(1.2));

    left: 40%;

    @include on-tablet {
      left: 60%;
      font-size: 36px;
      line-height: 36px;
    }
  }

  &__icon {
    @include hover(transform, scale(1.2));
  }
}
