.lection {
  background-image: url("../images/dusk.png");
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: relative;
  margin-bottom: 200px;

  &__nature {
    position: absolute;

    @media (min-width:320px) {
      left: calc(50% - (280px / 2));
      bottom: -70px;
    }
  
    @media (min-width:768px) {
      left: calc(50% - (570px / 2));
      bottom: -102px;
    }
  }
}

.part {

  @media (min-width:320px) {
    margin: 25px 20px 35px;
  }

  @media (min-width:768px) {
    margin: 45px 100px 50px;
  }
}

.nature {
  box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);
  background-color: #fff;

  @media (min-width:320px) {
    width: 280px;
    
  }

  @media (min-width:768px) {
    width: 570px;
  }

  &__header {
    margin-top: 16px;
    font-family: $montserratFontFamily;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;

    @media (min-width:320px) {
      font-size: 28px;
      
    }
  
    @media (min-width:768px) {
      font-size: 36px;

    }
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__name {
    font-family: $plexSansFontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
  }

  &__date {
    font-family: $plexSansFontFamily;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    color: $secondaryColor;
  }
}

.email {
  padding-left: 35px;
}
