.bottom {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 40px;

  @include on-large-desktop {
    padding-block: 0;
    padding-left: 65px;
  }

  &__sections {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 20px;

    @include on-large-desktop {
      gap: 32px;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
    padding: 0;
    gap: 20px;

    @include on-large-desktop {
      width: 169px;
    }
  }

  &__link {
    display: block;
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0f0e08;
    text-decoration: none;
    transform-origin: left;

    @include hover(transform, scale(1.1));
  }
}
