.contacts {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 20px;

  @include on-tablet {
    width: 50%;
  }

  &__title {
    display: block;
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 141%;
    letter-spacing: 0%;
    color: #0f0e08;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 4px;
  }

  &__link {
    display: block;
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #0f0e08;
    text-decoration: none;
    transform-origin: left;

    @include hover(transform, scale(1.1));
  }
}
