.socials {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  gap: 20px;

  @include on-small-desktop {
    gap: 32px;
  }

  @include on-large-desktop {
    gap: 22px;
  }

  &__link {
    display: flex;
    place-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
  }

  &__image {
    display: block;

    @include hover(transform, scale(1.2));
  }
}
