.contact-block {
  width: 128px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @include on-tablet {
    width: 220px;
  }

  &__name {
    margin: 0;
    font-weight: 400;
    line-height: 19.69px;
  }

  &__contacts {
    margin: 0;

    @include on-desktop {
      width: 175px;
      height: 126px;
    }
  }

  &__adress {
    display: block;
    text-decoration: none;
    color: #0F0E08;

    @include transformer(1.02);
  }

  &__tel {
    display: block;
    text-decoration: none;
    color: #0F0E08;

    @include transformer(1.02);
  }

  &__fax {
    display: block;
    text-decoration: none;
    color: #0F0E08;

    @include transformer(1.02);
  }

  &__email {
    display: block;
    text-decoration: none;
    color: #0F0E08;

    @include transformer(1.02);
  }
}
