.contacts {
  margin-left: 150px;
  &__title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__address {
    font-size: 14px;
    line-height: 21px;
  }
}

.contacts__address-1:hover,
.contacts__address-2:hover,
.contacts__address-3:hover {
  border: 1px solid #1a5a4c;
}

@include onMobileMax {
  .contacts {
    margin-left: 0;
  }
}

@include onMobile {
  .contacts__address {
    width: 130px;
  }
}
