.footer-top {
  background-image: url("../images/secondary_background.png");
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;

  &__subscribe {
    position: absolute;
    left: calc(50% - (570px / 2));
    top: 140px;

    @media (min-width:320px) {
      left: calc(50% - (280px / 2));
    }

    @media (min-width:768px) {
      left: calc(50% - (480px / 2));
    }

    @media (min-width:1280px) {
      left: calc(50% - (570px / 2));
    }
  }
}

.subscribe {
  text-align: center;
  margin: 0 auto;

  @media (min-width:320px) {
    width: 280px;
  }

  @media (min-width:768px) {
    width: 480px;
  }

  @media (min-width:1280px) {
    width: 570px;
  }

  &__field {
    margin-top: 66px;

    @media (min-width:320px) {
      height: 50px;
    } 
    
    @media (min-width:768px) {
      height: 70px;
    }

    
  }

  &__header {
    // text-align: center;
    
    color: #fff;

    
  }

  &__text {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
  }
}

.field {
  display: flex;
  justify-content: space-between;

  &__email {
    @media (min-width:320px) {
      width: 230px;
    }

    @media (min-width:768px) {
      width: 400px;
    }

    @media (min-width:1280px) {
      width: 470px;
    }
  }
}
