.footer {
  color: #0f0e08;
  @include  IBM;
  font-size: 14px;
}

.footer a {
  color: #0f0e08;
}

.bottom__wrapper {
  position: relative;
}

.footer__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 70px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 40px;
}

.footer__text {
  text-align: left;
}

.top__icons {
  @include flex-sps-center;
  gap: 20px;
}

.arrow-up {
  position: absolute;
  right: 0;
  bottom: 20px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  @include center;
}

.footer__grid {
  margin-top: 40px;
  margin-bottom: 80px;
}

.copyright__subtitle {
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
}

@include phone-max {
  .row__item {
    display: flex;
    flex-direction: column;
  }
  .footer__grid {
    font-size: 14px;
    line-height: 14px;
  }
}

@include tablet {
  .footer__top {
    width: 460px;
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
  }

  .footer__wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .arrow-up {
    display: none;
  }
  .footer__grid {
    width: 55%;
    margin: 64px 18% 120px;
  }
  .footer__copyright {
    display: flex;
    justify-content: space-between;
  }
  .footer__bottom {
    margin-top: 50px;
  }
}

@include tablet-max {
  .bottom__wrapper {
    border-bottom: 1px solid #1a5a4cb0;
  }

}

@include desktop {
  .footer__top {
    width: 100px;
    height: 170px;
  }
  .bottom__wrapper {
    width: 100%;
    position: relative;
  }
  .footer__wrap {
    position: relative;
    display: flex;
  }
  .grid {
    grid-template-rows: 0fr 0fr;
  }
  .footer__bottom {
    margin-right: 64px;
  }
  .footer__wrapper {
    gap: 35%;
  }

  .footer__wrapper::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #1a5a4cb0;
    left: 55%;
  }

}

.grid__item {
  font-size: 14px;
}

.footer__grid > ::before {
  border-bottom: 1px solid #000;
}
