.footer__credits {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include on-tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__credit-text {
    text-align: center;

    font-family: IBM Plex Sans, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
  }
}
