.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @include on-tablet {
    flex-direction: column;
    justify-content: normal;
    gap: 62px;
  }

  .footer__title {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
  }

  .footer__social {
    display: flex;
    gap: 20px;

    @include on-tablet {
      gap: 32px;
    }

    @include on-small-desktop {
      gap: 22px;
    }

    .footer__social-link {
      width: 24px;
      height: 24px;
    }
  }
}
