.footer {
  display: grid;
  height: 100vh;/////////////test-version
  column-gap: 6.87vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 72px /*486px*/ auto 157px; //////test-version
  padding: 50px 6.25vw;

  color: #0f0e08;

  &__links {
    grid-row: 1/2;
    grid-column: 1/3;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__socials {
    width: 17.8vw;
    display: flex;
    justify-content: space-between;
  }

  &__section-header {
    margin: 40px 0 20px;

    font-family: "IBM Plex Sans", sans-serif;
    font-size: 4.37vw;
    font-style: normal;
    font-weight: 400;
    line-height: 6.25vw;
    text-align: left;
  }

  &__timetable-list {
    list-style: none;
  }

  &__timetable-item {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 4.37vw;
    font-style: normal;
    font-weight: 400;
    line-height: 6.56vw;
    text-align: left;

    &--bold {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 4.37vw;
      font-style: normal;
      font-weight: 600;
      line-height: 6.56vw;
      text-align: left;
    }
  }

  &__text {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 4.37vw;
    font-style: normal;
    font-weight: 400;
    line-height: 6.56vw;
    text-align: left;

    margin-bottom: 70px;
  }

  &__nav {
    grid-row: 3/4;
    grid-column: 1/3;

    padding-top: 40px;

    &::before {
      display: block;
      content: "";
      border-bottom: 0.3vw solid rgba(26, 90, 76, 0.5);
      position: relative;
      top: -40px;
    }
  }

  &__nav-list {
    list-style: none;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: 36.25vw + 3.12vw * 4;
  }

  &__nav-item {
    padding: 3.12vw 0;
  }

  &__nav-link {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 4.37vw;
    font-style: normal;
    font-weight: 400;
    line-height: 4.37vw;
    text-align: left;
    color: #0f0e08;

    padding: 3.12vw 5vw 3.12vw 0;
  }
}

@media screen and (min-width:768px) {
  .footer {
    display: grid;
    height: 689px;
    column-gap: 2.6vw;
    grid-template-columns: repeat(6, 13.02vw);
    grid-template-rows: auto auto;
    justify-content: center;
    padding: 0;
    margin: 51px 0;

    color: #0f0e08;

    &__links {
      grid-row: 1/2;
      grid-column: 1/2;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__socials {
      width: 61.5px;
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }

    &__timetable {
      grid-row: 1/2;
      grid-column: 2/4;
    }

    &__section-header {
      margin: 0 0 20px;

      font-family: "IBM Plex Sans", sans-serif;
      font-size: 1.82vw;
      font-style: normal;
      font-weight: 400;
      line-height: 2.56vw;
      text-align: left;
    }

    &__timetable-list {
      list-style: none;
    }

    &__timetable-item {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 1.82vw;
      font-style: normal;
      font-weight: 400;
      line-height: 2.73vw;
      text-align: left;

      &--bold {
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 1.82vw;
        font-style: normal;
        font-weight: 600;
        line-height: 2.73vw;
        text-align: left;
      }
    }

    &__contacts {
      grid-row: 1/2;
      grid-column: 4/6;
    }

    &__text {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 1.82vw;
      font-style: normal;
      font-weight: 400;
      line-height: 2.73vw;
      text-align: left;

      margin-bottom: 46px;
    }

    &__nav {
      grid-row: 3/4;
      grid-column: 2/6;

      padding-top: 51px;

      &::before {
        display: block;
        content: "";
        border-bottom: 0.13vw solid rgba(26, 90, 76, 0.5);
        position: relative;
        top: -51px;
      }
    }

    &__nav-list {
      list-style: none;

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-self: start;
      max-width: 52.9vw;

      height: 15.1vw + 2.6vw * 3;
    }

    &__nav-item {
      padding: 0;
      max-width: 29vw;
    }

    &__nav-link {
      display: block;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 1.82vw;
      font-style: normal;
      font-weight: 400;
      line-height: 1.82vw;
      text-align: left;
      color: #0f0e08;

      padding: 1.5vw 1vw 1.5vw 0;
    }
  }
}

@media screen and (min-width:1280px) {
  .footer {
    display: grid;
    height: 457px;
    column-gap: 5.5vw;
    grid-template-columns: 70px 12.48vw 13.81vw 37vw;
    grid-template-rows: auto;
    justify-content: space-between;
    padding: 0;
    margin: 51px 4.3vw;

    color: #0f0e08;

    &__links {
      grid-row: 1/2;
      grid-column: 1/2;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__socials {
      width: 61.5px;
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }

    &__timetable {
      grid-row: 1/2;
      grid-column: 2/3;
    }

    &__section-header {
      margin: 0 0 20px;

      font-family: "IBM Plex Sans", sans-serif;
      font-size: 1.64vw;
      font-style: normal;
      font-weight: 400;
      line-height: 1.54vw;
      text-align: left;
    }

    &__timetable-list {
      list-style: none;
    }

    &__timetable-item {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.64vw;
      text-align: left;

      &--bold {
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 1.64vw;
        font-style: normal;
        font-weight: 600;
        line-height: 1.64vw;
        text-align: left;
      }
    }

    &__contacts {
      grid-row: 1/2;
      grid-column: 3/4;
      &::after {
        content: "";
        display: block;
        width: 0.08vw;
        height: 20.31vw;
        background-color: rgba(26, 90, 76, 0.5);
        transform: translate(15.6vw, -14.37vw);
      }
    }

    &__text {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 1.64vw;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      text-align: left;

      margin-bottom: 46px;
    }

    &__nav {
      grid-row: 1/2;
      grid-column: 4/5;

      padding-top: 0;

      &::before {
        display: none;
      }
    }

    &__nav-list {
      list-style: none;

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-self: start;
      max-width: 52.9vw;

      height: 13.74vw;
    }

    &__nav-item {
      padding: 0;
      max-width: 29vw;
    }

    &__nav-link {
      display: block;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      text-align: left;
      color: #0f0e08;

      padding: 0.3vw 1vw 1.4vw 0;
    }
  }
}

@media screen and (min-width:1920px) {
  .footer {
    max-width: 1920px;
    display: grid;
    height: 457px;
    column-gap: 30px;
    grid-template-columns: repeat(16, 70px);
    grid-template-rows: auto;
    justify-content: center;
    padding: 0;
    margin: 51px auto;

    color: #0f0e08;

    &__links {
      grid-row: 1/2;
      grid-column: 1/2;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__socials {
      width: 61.5px;
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }

    &__timetable {
      grid-column: 3/5;
      grid-row: 1/2;
    }

    &__section-header {
      margin: 0 0 20px;

      font-family: "IBM Plex Sans", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 19.69px;
      text-align: left;
    }

    &__timetable-list {
      list-style: none;
    }

    &__timetable-item {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      text-align: left;

      &--bold {
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
        text-align: left;
      }
    }

    &__contacts {
      grid-row: 1/2;
      grid-column: 6/8;
      &::after {
        content: "";
        display: block;
        width: 1px;
        height: 260px;
        background-color: rgba(26, 90, 76, 0.5);
        transform: translate(300px, -205.8px);
      }
    }

    &__text {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      text-align: left;

      margin-bottom: 46px;
    }

    &__nav {
      grid-row: 1/2;
      grid-column: 10/14;

      padding-top: 0;

      &::before {
        display: none;
      }
    }

    &__nav-list {
      list-style: none;

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-self: start;
      max-width: 52.9vw;

      height: 50px + 88px;
    }

    &__nav-item {
      padding: 0;
      max-width: 29vw;
    }

    &__nav-link {
      display: block;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      text-align: left;
      color: #0f0e08;

      padding: 10px 10px 10px 0;
    }
  }
}
