@import "footer-top";
@import "footer-content";
@import "footer-arrow";
@import "footer-divider";
@import "footer-menu";
@import "footer-credits";

.footer {
  color: #0F0E08;
  padding: 50px 20px;

  @include on-tablet {
    padding-block: 50px 36px;
    padding-inline:  $tablet-padding-inline;
  }

  @include on-small-desktop {
    padding-inline: $small-desktop-padding-inline;
  }

  .footer__content-block {

    @include on-tablet {
      display: flex;
      gap: 40px;
    }

    @include on-small-desktop {
      gap: 130px;
    }
  }
}
