.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__title {
    @include hover(scale, 1.12);
    color: $text-color;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
  }

  &__block {
    display: flex;
    gap: 20px;

    &--facebook {
      width: 24px;
      height: 24px;
      @include hover(scale, 1.2);
    }

    &--instagram {
      width: 24px;
      height: 24px;
      @include hover(scale, 1.2);
    }
  }

  @include onTablet {
    flex-direction: column;
    justify-content: left;
    align-items: start;
    gap: 62px;

    &__block {
      gap: 32px;
    }
  }
}
