@import "./links";

.media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;

  &__logo {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 450px) {
  .media {
    justify-content: space-around;
  }
}

//IPad Mini/9.7
@media screen and (min-width: 768px) {
  .media {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-right: 20%;

    &__logo {
      margin-bottom: 62px;
    }
  }
}
