.nav {
  &__item-footer {
    margin-bottom: 20px;
    transition: 0.5s;
    &:hover {
      transform: scale(1.2);
    }
  }

  &__item-footer--second {
    margin-left: 200px;
    transition: 0.5s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

@include onTVMini {
  .nav__item-footer--second {
    margin-left: 20px;
  }
}
