.schedule {
  margin-right: 22px;

  &__work {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__time {
    font-size: 14px;
    font-weight: 400;
  }
}

@include onMobile {
  .schedule {
    &__time {
      width: 130px;
    }
  }
}
