.container {
  min-width: 280px;
  margin: 0 20px;

  @include on-tablet {
    min-width: 700px;
    margin: 0 34px;
  }
  @include on-lap-top {
    min-width: 1170px;
    margin: 0 55px;
  }
  @include on-desktop {
    min-width: 1170px;
    margin: 0 135px;
  }
  @include on-hd-resolution {
    min-width: 1570px;
    margin: 0 175px;
  }
}
