@import "../utils";
@import "../fonts";


.container2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 104px;
  gap: 100px;


  @include Note {
    padding-left: 34px;
    padding-right: 34px;
  }

  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__events {
    display: flex;

    font-family: $font_mont;
    font-weight: 700;
    font-size: 48px;

    @include mobile {
      font-size: 36px;
      margin-top: 0;
      justify-content: center;
      text-align: center;
    }
  }


  &__info {
    display: flex;
    justify-content: space-between;
    padding-right: 55px;

    @include Note {
      flex-direction: column;
      padding-right: 0;
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__pic {
    display: block;
    height: 520px;
    transition: ease-in-out 0.3s;

    @include ipad {
      width: 700px;
    }

    @include mobile {
      width: 100%;
    }

    @media(max-width:320px) {
      width: 280px;
      height: 210px;
      padding-bottom: 60px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }


  &__text {
    display: flex;
    justify-content: center;
    width: 370px;
    flex-direction: column;

    @include Note {
      width: 460px;
    }

    @include mobile {
      width: 280px;
    }
  }

  &__det {
    display: flex;
  }


  &__ser {
    color: $secondary_color;
    font-size: 14px;
    font-family: $font_ibm;
    font-weight: 500;

    @include mobile {
      font-size: 16px;
    }
  }

  &__number {
    margin-left: 15px;
    color: $number_color;
    font-size: 14px;
    font-family: $font_ibm;
    font-weight: 700;

    @include mobile {
      font-size: 16px;
    }
  }

  &__about {
    display: flex;
    align-items: center;
    color: $primary_color;
    font-size: 36px;
    font-family: $font_mont;
    font-weight: 400;

    &::after {
      margin-left: 15px;
      margin-top: 5px;
      display: block;
      content: "";
      width: 15px;
      height: 15px;
      background: $cube_color;
    }

    @include mobile {
      font-size: 28px;

      &::after {
        margin-left: 10px;
      }
    }
  }

  &__about2 {
    display: flex;
    align-items: center;
    color: $primary_color;
    font-size: 36px;
    font-family: $font_mont;
    font-weight: 400;

    &::after {
      margin-left: 15px;
      margin-top: 5px;
      display: block;
      content: "";
      width: 15px;
      height: 15px;
      background: $cube_color;
    }

    @include mobile {
      font-size: 28px;
    }
  }

  &__para {
    color: $text_color;
    font-size: 16px;
    font-family: $font_ibm;
    font-weight: 400;
  }
}
