@import "../utils";
@import "../fonts";



.container4 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 200px;
  padding-bottom: 200px;
  gap: 30px;

  @include Note {
    padding-left: 34px;
    padding-right: 0;
  }

  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__head {
    display: flex;
    font-family: $font_mont;
    font-weight: 700;
    font-size: 48px;

    @include mobile {
      font-size: 36px;
      margin-top: 0;
      justify-content: center;
      text-align: center;
    }
  }

  &__gallery {
    box-sizing: border-box;

    @media (min-width:2030px) {
      width: 60%;
    }

    @include Note {
      display: flex;
      overflow: hidden;
    }

    @include mobile {
      display: flex;
      overflow: hidden;
    }
  }

  &__pics {
    transition: ease-in-out 0.3s;

    &:hover {
      transform: scale(1.1);
    }

  }

  &__dots {
    display: flex;
    justify-content: space-evenly;
  }

  &__circle1 {
    display: none;
    width: 9px;
    height: 9px;
    background: $number_color;
    border-radius: 50%;

    @include mobile {
      display: flex;
    }

    @include Note {
      display: flex;
    }

  }

  &__circle {
    display: none;
    width: 9px;
    height: 9px;
    background: $circle_color;
    border-radius: 50%;

    @include mobile {
      display: flex;
    }

    @include Note {
      display: flex;
    }
  }
}
