* {
  margin: 0;
  padding: 0;
  transition: all $effect-duration ease;
}

.page {
  scroll-behavior: smooth;
}

.body {
  display: grid;
}

.main {
  display: grid;
}

.main:target + menu {
  transform: translateY(-100%);
}
