* {
  margin: 0;
  padding: 0;
  transition-duration: $effect-duration;
}

.page {
  scroll-behavior: smooth;

  // &:has(.menu:target) {
  //   overflow: hidden;
  // }
}

.body {
  display: grid;
}

.main {
  display: grid;
}

