.arrow {
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  right: 0;
  transition: all .3s;

  &:hover {
    background-position: right;
  }

  &--header {
    background-image: url(../images/arrow/arrow-white.svg);
    background-color: $green;
  }

  &--red {
    position: static;
    background-image: url(../images/arrow/arrow-black.svg);
    background-color: $red;
    flex-shrink: 0;
  }

  @include on-tablet {
    height: 70px;
    width: 70px;
  }
}
