.burger {
  &-menu {
    &__top {
      display: flex;
      gap: 28px;
    }

    &__container {
      @include on-tablet {
        display: flex;
        flex-direction: row;
        gap: 25px;
        padding: 40px 0 0;

      }

      display: block;
      overflow: auto;
      padding: 27px 0;

      @include container;

      max-height: 399px;
      top: 0;
      left: -100%;
      color: $c-white;
      z-index: 1;

      margin: 0;

      list-style: none;
      background-color: $c-green;

      transition-duration: 0.25s;
    }

    &__close {
      display: block;
      cursor: pointer;
      padding: 1px;
      width: 24px;
      height: 24px;
      background-image: url('../images/rectangle/close.png');
      background-repeat: no-repeat;
      background-position: center;
    }

    &__line {
      @include on-tablet {
        height: 145px;
        width: 0.1px;
        padding: 0.5px;
      }

      height: 1px;
      width: 100%;

      margin: 24px 0;
      background-color: #FFFFFF80;
    }

    &__subtitle {
      margin: 0;
    }

    &__schedule {
      margin-bottom: 16px;
    }

    @include on-tablet {
      &__top {
        gap: 38px;
      }

      &__schedule {
        width: 170px;
      }

      &__info {
        margin-top: 40px;
        width: 144px;
      }

      &__bottom {
        display: flex;
        gap: 18px;
      }
    }
  }

  &-schedule {
    &__date {
      margin: 0;
    }

    &__title {
      font-weight: 400;
      margin: 0 0 20px;
    }
  }

  &-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    column-gap: 28px;
    color: $c-white;

    @include on-tablet {
      height: 72px;
      column-gap: 20px;
    }

    &__item {
      cursor: pointer;
      color: $c-white;
      text-decoration: none;
      font-family: 'IBM Plex Sans',  sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      text-align: left;

      &:visited {
        color: $c-white;
      }
    }
  }
}
