.content-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  margin-top: 251px;

  @include onTablet {
    gap: 38px;
    margin-top: 40px;
  }

  @include onDesktop {
    gap: 89px;
    margin-top: 119px;
  }

  &__title {
    color: $header-title-color;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;

    @include onTablet {
      font-size: 54px;
      text-align: left;
      line-height: 120%;
    }

    @include onDesktop {
      font-size: 72px;
    }
  }

  &__tickets {
    display: flex;
    justify-content: center;

    @include onTablet {
      justify-content: flex-start;
    }

    @include onDesktop {
      justify-content: flex-end;
    }
  }

  &__tickets-left {
    width: 220px;
    height: 50px;
    border: 1px solid $subtitle-date-color;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    @include onTablet {
      height: 70px;
      width: 200px;
    }

    &--text {
      color: $title-color;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 100%;
      text-transform: uppercase;
    }
  }

  &__tickets-right {
    width: 50px;
    height: 50px;
    background-color: $subtitle-date-color;
    display: flex;
    justify-content: center;
    align-items: center;

    @include onTablet {
      width: 70px;
      height: 70px;
    }

    &--row {
      background-image: url(../images/icons/row.svg);
      background-repeat: no-repeat;
      background-position: center;
      padding: 50%;
    }
  }
}
