.header__content {
  position: relative;
  max-width: 340px;
  margin-inline: auto;

  @include on-tablet {
    min-width: 270px;
    margin-top: 127px;
    margin-right: auto;
    margin-inline: 0;

    @include on-small-desktop {
      margin-top: 206px;
      min-width: 460px;
    }
  }

  .header__main-title {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    margin-inline: auto;

    font-family: Montserrat, sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;

    @include on-tablet {
      text-align: left;
      margin-bottom: 38px;
      margin-inline: 0;

      line-height: 64px;
      font-size: 54px;
    }

    @include on-small-desktop {
      margin-bottom: 86px;

      line-height: 86px;
      font-size: 72px;
    }
  }

  .header-event {
    position: absolute;
    top: 265px;
    left: -52px;
    display: none;
    transform: rotate(270deg);

    &__line {
      width: 70px;
      height: 1px;
      background-color: #1A5A4C;
    }

    @include on-small-desktop {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  .header__tickets {
    position: relative;
    display: flex;
    width: 280px;
    height: 50px;
    border: 1px solid #1A5A4C;
    margin-inline: auto;

    @include on-tablet {
      width: 270px;
      height: 70px;
      margin-inline: 0;
      margin-right: auto;

      @include on-small-desktop {
        margin-left: auto;
        margin-right: 0;
      }
    }

    .header__tickets-info-box {
      width: 230px;
      height: 100%;

      @include on-tablet {
        width: 200px;
      }
    }

    .header__tickets-info {
      text-align: center;
      line-height: 50px;
      color: #0F0E08;

      font-family: IBM Plex Sans, sans-serif;
      font-size: 16px;
      font-weight: 500;

      @include  on-tablet {
        line-height: 70px;
      }
    }

    .header__tickets-link {
      width: 50px;
      height: 100%;
      position: absolute;
      right: 0;
      cursor: pointer;

      .header__tickets-link-img {
        width: 100%;
      }

      @include on-tablet {
        width: 70px;
        height: 70px;

      }
    }
  }

  //.header-event {
  //  display: none;
  //
  //  &__line {
  //    width: 70px;
  //    height: 1px;
  //    background-color: #1A5A4C;
  //  }
  //
  //  @include on-small-desktop {
  //    display: flex;
  //    align-items: center;
  //    gap: 20px;
  //  }
  //}

  li {
    list-style: none;
  }
}


