.header {
  display: grid;
  grid-template-columns: $phone-width;
  grid-template-rows: 300px 113px 70px;
  justify-items: center;
  margin: 0 auto;
  width: $phone-width;
  height: 300px + 183px;
  background: #fff;
  background-image: url(/images/header/muz.png);
  background-size: $phone-width 300px;
  background-repeat: no-repeat;
  position: relative;

  &__switch {
    position: absolute;
    top: 33px - 14px;
    left: 23px - 7px;
  }

  &__logo {
    position: absolute;
    height: 61px;
    left: 41.25%;
    right: 41.56%;
    top: 9px;
    z-index: 0;
  }

  &__page-name {
    grid-row: 2/3;

    font-family: Montserrat, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
  }

  &__search-form {
    grid-row: 3/4;
    align-self: end;
  }
}

@media screen and (min-width:768px) {
  .header {
    padding-left: 34px;
    display: grid;
    grid-template-columns: 266px;
    grid-template-rows: 114px + 135px 135px;
    justify-items: center;
    align-items: end;

    margin: 0 auto;
    width: $tablet-width;
    height: 300px + 183px;
    background: #fff;
    background-image: url(/images/header/muz.png);
    background-size: 502px 384px;
    background-position: right top;
    background-repeat: no-repeat;
    position: relative;

    &__switch {
      position: absolute;
      top: 45px - 14px;
      left: 37px - 7px;
    }

    &__logo {
      position: absolute;
      height: 61px;
      left: 41.25%;
      right: 41.56%;
      top: 9px;
      z-index: 0;
    }

    &__page-name {
      grid-row: 1/2;
      padding-left: 34px;

      font-family: Montserrat, sans-serif;
      font-size: 55px;
      font-style: normal;
      font-weight: 700;
      line-height: 55px;
      text-align: left;
      &--transparent {
        font-family: Ubuntu, sans-serif;
        font-size: 55px;
        font-style: normal;
        font-weight: 700;
        line-height: 55px;
        text-align: left;
      }
    }

    &__search-form {
      grid-row: 2/3;
      align-self: end;
    }
  }
}
