
.top {
  width: 100%;
}

.header__top {
  @include flex-align-center;
  position: relative;
  top: 9px;
}

.top__text {
  display: block;
  width: 50%;
  text-align: right;
  right: 0;
  @include monts-bold;
  font-size: 30px;
  line-height: 30px;
  perspective: 300px;
}

.top__link {
  color: #000;
  transition: all 0.3s ease;
  &:hover {
    color: #fff;
  }
}

@include phone {
  .header__bottom {
    margin-bottom: 70px;
  }
  .header__top {
    margin-bottom: 250px;
  }
  .title {
    text-align: center;
  }

}

@include tablet {
  .header__top {
    margin-bottom: 40px;
  }
  .top__text {
    width: 64%;
    font-size: 36px;
    line-height: 36px;
    color: #000;
  }
  .top {
    top: 15px;
  }
}

@include desktop {
  .header__top {
    margin-bottom: 119px;
  }
  .top__text {
    width: 50%;
    text-align: right;
  }
}
