.top__burger {
  background-image: url(../images/icons/burger.svg);
  width: 24px;
  height: 24px;
  // transition: transform 0.3s ease;
  // &:hover {
  //   transform: scale(1.2);
  // }
  @include transition (transform, scale(1.2));
}

.header__img {
  background-image: url(../images/header-bg.svg);
  background-repeat: no-repeat;
  height: 300px;
}

@include phone {
  .header__img {
    background-size: cover;
    background-position: bottom;
    margin-bottom: 253px;
  }
}

@include tablet {
  .header {
    height: 384px;
  }
  .header__img {
    height: 384px;
    background-position: 110%;
    background-size: 54%;
  }
}

@include desktop {
  .header__img {
    height: 655px;
    background-size: 60%;
  }
  .header {
    padding-bottom: 800px;
  }
}
