.header {
  position: relative;
  display: none;
  height: 655px;
  &__nav {
    display: none;
  }

  &__title {
    &__main {
      font-family: Montserrat, sans-serif;
      font-size: 72px;
      line-height: 100%;
      font-weight: 700;
      &__span {
        -webkit-text-stroke: 2px #000;
        color: transparent;
      }
    }
  }

  &__photo {
    display: block;
    flex: 0 0 70%;
    object-fit: cover;
    width: 70vw;
    height: 655px;
    object-position: center;
  }
}
