.icon {
  &--menu {
    height: 24px;
    width: 24px;
    background-image: url(../images/icons/menu.svg);
    @include hover(transform, scale(1.1));
  }

  &--menu-hidden {
    visibility: hidden;
    height: 24px;
    width: 24px;

    @include onTablet {
      display: none;
    }
  }

  &--close {
    height: 24px;
    width: 24px;
    background-image: url(../images/icons/close.svg);
    @include hover(transform, scale(1.1));
  }
}
