
.icon {
  display: block;
  position: absolute;
  z-index: 1;
  height: 24px;
  width: 24px;
  top: 27px;
  left: 23px;


  &:hover {
    transition: all 0.7s;
    transform: scale(1.4);
  }

  @include onTablet {
    top: 39px;
    left: 33px;
  }
  @include onDesktop {
    left: 55px;
  }

  &--menu {
    background-image: url(../images/icons/menu.svg);
  }

  &--close {
    background-image: url(../images/icons/close.svg);
  }
}
