.icon {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  width: $icon-side;
  height: $icon-side;
  transition: transform .3s;

  &:hover {
    @include scale;
  }

  &--menu {
    position: absolute;
    background-image: url(../images/logo/menu.svg);

    @include on-tablet {
      position: relative;
      margin-right: 190px;
    }
  }

  &--close {
    position: absolute;
    background-image: url(../images/logo/menu-close.svg);

    @include on-tablet {
      position: relative;
      margin-right: 190px;
    }
  }

  &--logo {
    width: 55px;
    height: 61px;
    background-image: url(../images/logo/NAMU-logo.svg);
    margin: auto;

    @include on-tablet {
      width: 72px;
      height: 72px;
    }
  }

  &--footer {
    margin: 0;
  }

  &--facebook {
    background-image: url(../images/icon/facebook.svg);
    margin: auto;
  }

  &--instagram {
    background-image: url(../images/icon/instagram.svg);
    margin: auto;
  }
}
