.logo {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  &__link {
    color: #0f0e08;
    width: 55px;
    height: 61px;
  }
}

@media screen and (min-width:768px) {
  .logo {
    font-size: 36px;
    font-weight: 700;
    &__link {
      color: #0f0e08;
      width: 55px;
      height: 61px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    font-size: 36px;
    font-weight: 700;
    &__link {
      color: #0f0e08;
      width: 55px;
      height: 61px;
    }
  }
}
