.menu {
  box-sizing: border-box;
  padding-top: 27px;
  height: 400px;
  background-color: $subtitle-date-color;
  overflow: auto;
  top: 0;
  z-index: 1;

  @include onTablet {
    padding-top: 39px;
    height: 225px;

    &__content {
      @include pageGrid;
    }

    &__left {
      grid-column: 1 / 4;
    }
  }

  @include onDesktop {
    height: 233px;

    &__left {
      grid-column: 1 / 6;
    }
  }

  &__top {
    display: flex;
    gap: 28px;

    @include onTablet {
      gap: 38px;
    }

    @include onDesktop {
      gap: 102px;
    }

    &--right {
      display: flex;
      gap: 28px;

      @include onTablet {
        gap: 20px;
      }

      @include onDesktop {
        gap: 72px;
      }
    }
  }
}
