.header {
  &__menu {
    position: absolute;
    z-index: 1;
    @media screen and (min-width: 768px) {
      height: auto;
      top: 0;
    }
    display: none;
    &--has-popup {
      display: block;
      position: absolute;
    }
  }

  &__menu-item {
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgba(#fff, 0.08);
  }

  &__menu-list {
    list-style: none;
    @media screen and (min-width: 768px) {
      height: 114px + 135px + 135px;
    }

    @media screen and (min-width: 768px) {
      height: 235px + 152px + 268px;
    }
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(#fff, 0.92);
  }

  &__menu-link {
    font-size: 4.37vw;
    padding: 5px auto;
    background-color: rgba(#fff, 0.13);

    color: #000;

    &:hover {
      color: #414141;
    }

    &:active {
      color: #313131;
    }

    @media screen and (min-width: 768px) {
      font-size: 2.37vw;
    }
    @media screen and (min-width: 1920px) {
      font-size: 45px;
    }

  }
}

@media screen and (min-width: 1280px) {
  .header {
    &__menu {
      position: absolute;
      display: none;
      &--has-popup {
        display: block;
        position: absolute;
        height: 200px;
      }
    }

    &__menu-list {
      height: 80px;
      //width: 1920px;
      transform: translate(12px, 0);
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    &__menu-link {
      font-size: 1.46vw; //28px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .header {
    &__menu {
      position: absolute;

      top: -200px;
      transition-duration: 1s;
      &--has-popup {
        display: block;
        position: absolute;
        height: 200px;
        transform: translate(0, 200px);
        transition-duration: 1s;
      }
    }

    &__menu-list {
      height: 80px;
      transform: translate(12px, 0);
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    &__menu-link {
      font-size: 1.46vw;
    }
  }
}

@media screen and (min-width: 1650px) {
  .header {
    &__menu {
      position: absolute;
      display: none;
      &--has-popup {
        display: block;
        position: absolute;
        height: 200px;
      }
    }

    &__menu-list {
      width: 1650px;
    }

    &__menu-link {
      font-size: 28px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .header {
    &__menu {
      position: absolute;
      display: none;
      &--has-popup {
        display: block;
        position: absolute;
        height: 200px;
      }
    }

    &__menu-list {
      width: 1920px;
    }

    &__menu-link {
      font-size: 28px;
    }
  }
}
