.overlay {
  background: #18181a;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;

  &--active {
    opacity: 0.5;
  }
}
