.container {

  margin: 0 20px;

  @media (min-width: 320px) {
    min-width: 280px;
  }

  @media (min-width:768px) {
    width: 700px;
    margin: 0 auto;
  }

  @media (min-width:1280px) {
    min-width: 1170px;
  }

  @media (min-width:1800px) {
    min-width: 1570px;
  }
}

.inner-padding {
  padding: 70px 0;

  @media (min-width:768px) {
    padding: 90px 0;
  }

  @media (min-width:1280px) {
    padding: 100px 0;
  }
}
