.container {

  margin: 100px 20px;

  @media (min-width: 320px) {
    min-width: 280px;
  }

  @media (min-width:768px) {
    padding: 0 55px;
    max-width: 870px;
    margin: 100px auto;
  }

  @media (min-width:1280px) {
    margin: 100px auto;
    padding: 0;
    min-width: 1170px;
  }

  @media (min-width:1800px) {
    min-width: 1570px;
  }
}
