.right {
  position: absolute;
  right: 0;
  width: 60%;

  &__namu {
    position: absolute;
    left: 250px;
    transition: 1s;
  }

  &__title {
    display: none;
  }

  &__span {
    position: absolute;
    top: 226px;
    z-index: 1;

    font-family: Montserrat, sans-serif;
    font-size: 72px;
    -webkit-text-stroke: 2px #000;
    color: transparent;
    transition: 0.5s;

    &:hover {
      color: black;
    }
  }

  &__photo {
    width: 100%;
    height: 655px;
    object-fit: cover;
    object-position: center;
  }
}

@include onTVMini {
  .right {

    &__namu {
      left: 50px;
    }
  }
}
@include onIpadMini {
  .right {
    width: 72%;

    &__namu {
      left: 87px;
    }

    &__span {
      top: 140px;
      font-size: 50px;
    }
    &__photo {
      height: 384px;
    }
  }
}

@include onMobileMax {
  .right {
    width: 100%;

    &__namu {
      font-size: 30px;
    }

    &__title {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 239px;
      width: 100%;

      -webkit-text-stroke: 2px #000;
      color: white;
    }

    &__span {
      display: none;
    }

    &__photo {
      height: 300px;
    }
  }
}

@include onMobile {
  .right__namu {
    left: 38%;
  }
}
