.logo {
  display: flex;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  @include hover(transform scale(1.1));
  background-image: url();
  height: 60px;
  width: 55px;

  &__menu {
    margin: 0 auto;
  }
}
