/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title__header {
  color: #0F0E08;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 30px */
  display: flex;
  flex-direction: column;
  margin: 0 calc((100% - 140px) / 2);
}
.title-1 {
  color: #000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 45px */
  margin: 20px auto;
}
.title-secondary {
  color: #0F0E08;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 36px */
  margin: 70px 20px 40px;
}
.title__galery {
  color: #0F0E08;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 36px */
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.header {
  width: 320px;
  height: 300px;
  background-color: white;
  background-image: url("../images/project/header_background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
}

.nav {
  height: 70px;
  width: 320px;
  padding: 9px 0 0;
  display: flex;
  align-items: center;
}

.menu {
  width: 24px;
  height: 24px;
  margin-left: 20px;
}

.container {
  width: 320px;
  height: 50px;
  display: flex;
  margin: 0 auto;
}

.rectangle {
  width: 230px;
  height: 50px;
  border: 1px solid #1A5A4C;
  margin: 0 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangle__title {
  color: #0F0E08;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 16px */
}
.rectangle__arrow {
  width: 50px;
  height: 50px;
  border: 1px solid #1A5A4C;
  background-color: #1A5A4C;
  display: flex;
}

.section {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.section__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px 10px;
}
.section__title {
  color: #0F0E08;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 28px */
  margin-bottom: 10px;
}
.section__title__container {
  height: 33px;
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
}
.section__rectangle {
  width: 10px;
  height: 10px;
  background: #F14A27;
  display: flex;
  margin: auto 0;
}
.section__description {
  color: #4E4E4E;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  /* 24px */
  margin: 0 20px 60px;
  text-align: justify;
}

.galery {
  margin: 0 auto;
}
.galery__group {
  display: block;
  margin: 20px auto 100px;
}

.main {
  min-width: 320px;
}

.pictures {
  width: 280px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.picture_3 {
  width: 320px;
  height: 210px;
}
.picture_4 {
  width: 280px;
  height: 410px;
}

.span-title {
  color: #687480;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 16px */
}
.span-data {
  color: #1A5A4C;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 24px */
}

.div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.div__info {
  width: 280px;
  height: 57px;
  background-color: #FFF;
  position: relative;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: -57px auto 0;
}
.div__info__lesson {
  color: #687480;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 16px */
}
.div__info__data {
  color: #1A5A4C;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 24px */
}
.div__info__bottom {
  width: 280px;
  height: 83px;
  display: flex;
  align-items: center;
  margin: 0 auto 100px;
  box-shadow: 0px 2px 0px 0px rgba(26, 90, 76, 0.25);
  background-color: #FFF;
}
.div__info__title {
  color: #0F0E08;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 28px */
}

.footer {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.footer__background {
  width: 320px;
  height: 386px;
  background-color: #000;
  background-image: url("../images/project/dark.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
}
.footer__title {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 36px */
  margin-top: 88px;
}
.footer__description {
  width: 280px;
  margin: 20px auto 50px;
  color: #FFF;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
}
.footer__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 20px 0;
}
.footer__menu-first {
  color: #0F0E08;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 36px */
}
.footer__menu__icons {
  display: flex;
  flex-direction: row;
  width: 24px;
  height: 24px;
}
.footer__menu__icon-1 {
  margin-left: -40px;
  margin-right: 20px;
}
.footer__contact__items {
  color: #0F0E08;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.625%;
  /* 19.688px */
  margin: 40px 20px 20px;
}
.footer__contact--grid {
  margin: 0 20px;
}
.footer__contact__span {
  color: #0F0E08;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-style: bold;
  font-weight: 700;
  line-height: 150%;
  /* 21px */
  margin-bottom: 40px;
}
.footer__contact__day {
  color: #0F0E08;
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer__contact__paragraph {
  margin-top: 40px;
}
.footer__contact__paragraph--right {
  color: #0F0E08;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
}
.footer__links {
  color: #0F0E08;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 14px */
  display: flex;
  justify-content: center;
  row-gap: 20px;
}

.line {
  height: 1px;
  width: 280px;
  background-color: rgba(26, 90, 76, 0.5);
  display: block;
  margin: 20px auto 40px;
}

.designed {
  display: flex;
  margin: 80px auto 20px;
}

.copyright {
  display: flex;
  margin: 0 auto 64px;
}

.input {
  display: flex;
  align-items: center;
}
.input__footer {
  width: 230px;
  height: 50px;
  margin: 0 0 0 20px;
}
.input__footer::placeholder {
  padding-left: 24px;
}
.input__rectangle {
  width: 46px;
  height: 50px;
  border: 2px solid #F14A27;
  background: #F14A27;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input__arrow {
  width: 24px;
  height: 24px;
}

.grid {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(2, 130px);
}

.ellipse {
  stroke-width: 1px;
  stroke: #1A5A4C;
  margin-right: 20px;
}
.ellipse__container {
  display: flex;
  justify-content: flex-end;
  width: 320px;
}
.ellipse__position {
  display: flex;
  margin-right: 20px;
}

.arrow-up {
  margin-left: -53px;
}

body {
  min-width: 320px;
  height: 100vh;
  background-color: white;
  box-sizing: border-box;
}

/*# sourceMappingURL=styles.css.map */
