.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--open {
    background-image: url("../images/icons/icon-menu-open.svg");
  }

  &--close {
    background-image: url("../images/icons/icon-menu-close.svg");
  }

  &--logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;

    @include onTablet {
      font-size: 36px;
    }

    @include hover(transform, scale(1.05));
  }

  @include hover(transform, scale(1.2));
}
