.icon {
  aspect-ratio: 1 / 1;

  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;

  &--arrow-right {
    background-image: url("../images/icons/arrow-right.svg");
  }

  &--facebook {
    background-image: url("../images/icons/facebook-logo.svg");
  }

  &--instagram {
    background-image: url("../images/icons/instagram-logo.svg");
  }
}
