.menu-button {
  display: block;
  @include squareIcon(24px);
  padding: 6px 3px;

  background-position: center;
  background-repeat: no-repeat;

  &--burger {
    background-image: url("../images/icons/burger.svg");
  }

  &--cross {
    background-image: url("../images/icons/cross.svg");
  }

  @include onDesktop {
    @include hover(scale, 1.25);
  }
}
