.section__title {
  font-family: "Montserrat", sans-serif;
  line-height: 100%;
  font-weight: 700;
  font-size: 36px;

  text-align: center;

  @include onTablet {
    text-align: left;
    font-size: 48px;
  }
}
