.top-bar {
  padding-top: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;

  @include onTablet {
    padding-top: 15px;
    width: 69%;
  }

  @include onDesktop {
    width: 52%;
  }

  &__logo {
    text-align: center;
  }
}
