.header-content__button {
  display: block;
  justify-self: center;
  grid-column: 1 / -1;

<<<<<<< HEAD
  cursor: pointer;

=======
>>>>>>> 1436c503079978e53214d800f7776737eeeac7df
  @include fontDescription;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
<<<<<<< HEAD

  color: #000;
  width: 280px;
  border: 1px solid $green-color;
=======
  
  color: #000;
  width: 280px;
  border: 1px solid #1a5a4c;
>>>>>>> 1436c503079978e53214d800f7776737eeeac7df
  text-align: center;
  box-sizing: border-box;

  @include onTablet {
    grid-column: 1 / 4;
    justify-self: left;
    width: 280px;
    line-height: 70px;
  }

  @include onDesktop {
    grid-column: 3 / 6;
<<<<<<< HEAD
    // justify-self: left;
    // width: 280px;
    // line-height: 70px;
=======
    justify-self: left;
    width: 280px;
    line-height: 70px;
>>>>>>> 1436c503079978e53214d800f7776737eeeac7df
  }

  &::after {
    content: "";
    grid-column: 1 / -1;
    float: right;
    display: block;
    height: 50px;
    width: 50px;
<<<<<<< HEAD
    background-color: $green-color;
=======
    background-color: #1a5a4c;
>>>>>>> 1436c503079978e53214d800f7776737eeeac7df
    background-image: url(../images/icons/keyboard_arrow_right.svg);
    background-repeat: no-repeat;
    background-position: center;

    @include onTablet {
      height: 70px;
      width: 70px;
    }

    @include onDesktop {
      height: 70px;
      width: 70px;
    }
  }
}
