.header-content__button {
  display: block;
  justify-self: center;
  grid-column: 1 / -1;

  cursor: pointer;

  @include fontDescription;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;

  color: $c-black;
  width: 280px;
  border: 1px solid $green-color;
  text-align: center;
  box-sizing: border-box;

  @include onTablet {
    grid-column: 1 / 4;
    justify-self: left;
    width: 280px;
    line-height: 70px;
  }

  @include onDesktop {
    grid-column: 3 / 6;
  }

  &::after {
    content: "";
    grid-column: 1 / -1;
    float: right;
    display: block;
    height: 50px;
    width: 50px;
    background-color: $green-color;
    background-image: url(../images/icons/keyboard_arrow_right.svg);
    background-repeat: no-repeat;
    background-position: center;

    @include onTablet {
      height: 70px;
      width: 70px;
    }

    @include onDesktop {
      height: 70px;
      width: 70px;
    }
  }
}
