.event-card {
  grid-column: span 2;
  @include pageGrid;
  row-gap: 16px;

  @include onTablet {
    grid-column: 1 / -1;
    row-gap: 44px;

  }

  &__image {
    width: 100%;
    grid-column: span 2;

    &--lecture {
      height: 210px;

      @include onTablet {
        height: 390px;
      }
    }

    @include onTablet {
      grid-column: 1 / -1;
    }

    @include onDesktop {
      grid-column: 1 / span 7;
    }
  }

  &__info {
    @include pageGrid;

    grid-column: span 2;
    row-gap: 10px;

    background-color: $c-white;

    @include onTablet {
      grid-column: 1 / -1;
      row-gap: 15px;

    }

    @include onDesktop {
      grid-template-rows: min-content;
      grid-column: 9 / span 4;
      align-content: center;
    }

    &--lecture {
      padding: 20px 0;
      @include pageGrid;
      grid-column: 1 / -1;
      row-gap: 20px;
      box-shadow: 0 2px 0 0 #1a5a4c40;
      transform: translateY(-57px);

      @include onTablet {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;

        max-width: 450px;
        margin: 0 auto;
        padding: 45px 55px 50px;
        top: -84px;
      }

      @include onDesktop {
        grid-column: 4 / 10;
        padding: 45px 100px 50px;
      }
    }
  }

  &__type-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: span 2;

    @include onTablet {
      grid-column: span 2;
      padding-bottom: 17px;
    }

    @include onDesktop {
      grid-column: 1 / -1;
      gap: 30px;
      justify-content: flex-start;
    }

    &--lecture {
      justify-content: space-evenly;

      @include onTablet {
        grid-column: 1 / -1;
        justify-content: space-between;
        padding-bottom: 0;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
      }
    }

    &--type {
      color: $blue-gray-color;
      font-family: IBM Plex Sans, sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 100%;

      @include onTablet {
        font-size: 14px;

        grid-column: 1 / 3;
      }
    }

    &--date {
      color: $green-color;
      font-family: IBM Plex Sans, sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;

      @include onTablet {
        font-size: 14px;

        grid-column: 3 / 5;
      }
    }
  }

  &__title {
    position: relative;
    grid-column: span 2;

    display: flex;
    gap: 14px;
    align-items: center;

    color: $general-text-color;
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;

    &::after {
      content: "";
      display: block;
      float: right;
      align-self: center;
      width: 10px;
      height: 10px;
      background: $orange-marcker-color;

      @include onTablet {
        width: 15px;
        height: 15px;
        align-self: center;
      }
    }

    @include onTablet {
      grid-column: 1 / 5;
      font-size: 36px;
      gap: 24px;
    }

    @include onDesktop {
      grid-column: 1 / -1;
    }

    &--lecture {
      text-align: center;
      justify-content: center;

      &::after {
        display: none;
      }

      @include onTablet {
        grid-column: 1 / -1;
        text-align: left;
      }
    }

  }

  &__description {
    grid-column: span 2;

    color: $darck-grey-color;

    @include fontDescription;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;

    @include onTablet {
      grid-column: 1 / 5;
    }

    @include onDesktop {
      grid-column: 1 / -1;
    }
  }

  &__lecture {
    max-height: 300px;

    @include onTablet {
      max-height: 547px;
    }
  }
}
