.events {
  display: grid;
  row-gap: 60px;

  &__wrapper {
    @include pageGrid;
    row-gap: 60px;

    @include onTablet {
      row-gap: 64px;
    }

    @include onDesktop {
      row-gap: 104px;
    }
  }

  &__title {
    padding-bottom: 40px;
    text-align: center;

    @include fontTitle;
    font-size: 36px;
    font-weight: 700;
    color: $general-text-color;

    @include onDesktop {
      font-size: 48px;
      text-align: start;

    }
  }
}
