.footer {
  background-color: #fff;

  &__wrapper {
    @include pageGrid;
    row-gap: 40px;
  }

  &__top {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include onTablet {
      grid-column: 1 / 2;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: 62px;
    }

    &-logo {
      display: block;
      font-size: 36px;
      text-align: left;
    }

    &-icon {
      display: block;
      width: 24px;
      height: 24px;

      &--facebook {
        background-image: url(../images/icons/facebook-letter-logo.svg);
      }

      &--instagram {
        background-image: url(../images/icons/instagram-logo.svg);
      }
    }
  }

  &-schedule {
    grid-column: 1 / 2;

    @include onTablet {
      grid-column: 2 / 4;
    }

    @include onDesktop {
      grid-column: 3 / 5;
    }

    &__wrapper {
      @include onTablet {
        flex-direction: column;
      }
    }

    &__title {
      color: #0f0e08;
    }

    &__item {
      color: #0f0e08;
      overflow-wrap: break-word;
      white-space: wrap;
    }

    &__weekend {
      color: #0f0e08;
    }
  }

  &-contact {
    @include onTablet {
      grid-column: 4 / 6;

      @include onDesktop {
        grid-column: 5 / 7;
      }
    }

    &__title {
      color: #0f0e08;
    }

    &__content {
      display: block;
      text-decoration: none;
      color: #0f0e08;

      @include fontDescription;
      font-size: 14px;
      line-height: 150%;
    }
  }

  &-border {
    height: 1px;
    width: 100%;
    grid-column: 1 / -1;
    background-color: #1a5a1c80;

    @include onTablet {
      grid-column: 2 / 6;
      grid-row: 2 / 3;
    }

    @include onDesktop {
      grid-column: 7 / 8;
      grid-row: 1 / 2;
      justify-self: center;
      height: 100%;
      width: 1px;
    }
  }

  &-nav {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 2 / 6;
      grid-row: 3 / 4;
    }

    @include onDesktop {
      grid-column: 8 / 12;
      grid-row: 1 / 1;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 28px;
      row-gap: 24px;
      margin: 0;
      padding: 0;
      height: 72px;
      list-style: none;
    }

    &__link {
      @include fontDescription;
      font-size: 14px;
      text-decoration: none;
      color: #0f0e08;
    }
  }

  &-copyright {
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    padding: 40px 0 60px;

    @include fontDescription;
    font-size: 12px;
    line-height: 140%;
    text-align: center;

    @include onTablet {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}

.icon-wrapper {
  display: flex;
  gap: 20px;
}
