.header {
  // padding-bottom: 70px;
  height: 480px;
<<<<<<< HEAD
  // background-color: #fff;
=======
  background-color: #fff;
>>>>>>> 1436c503079978e53214d800f7776737eeeac7df

  @include onTablet {
    height: 384px;
  }

  @include onDesktop {
    height: 655px;
  }

  &__image {
    position: absolute;
    width: 100%;
    @include pageGrid;
<<<<<<< HEAD
    z-index: -1;
  }

  &__image--background {
    grid-column: 1 / -1;
=======
    // z-index: -1;
  }
  &__image--background {
    grid-column: 1 / -1 ;
>>>>>>> 1436c503079978e53214d800f7776737eeeac7df
    height: 300px;
    width: 100%;
    background-image: url(../images/namu-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    // z-index: -1;

    @include onTablet {
<<<<<<< HEAD
      grid-column: 4 / -1;
=======
      grid-column: 4 / -1 ;
>>>>>>> 1436c503079978e53214d800f7776737eeeac7df
      height: 384px;
    }

    @include onDesktop {
<<<<<<< HEAD
      grid-column: 6 / -1;
=======
      grid-column: 6 / -1 ;
>>>>>>> 1436c503079978e53214d800f7776737eeeac7df
      height: 655px;
    }
  }

  &-content {
    grid-column: 1 / -1;
    @include pageGrid;
    row-gap: 20px;

    @include onTablet {
      row-gap: 38px;
    }

    @include onDesktop {
      row-gap: 89px;
    }

    &__title {
      grid-column: 1 / -1;
      text-align: center;

      @include fontTitle;
      font-size: 45px;
      line-height: 100%;
      text-transform: uppercase;
      color: #000;

      @include onTablet {
        grid-column: 1 / 4;
        text-align: left;
        font-size: 54px;
        line-height: 120%;
      }

      @include onDesktop {
        font-size: 72px;
      }
    }

    &__events {
      display: none;
      position: relative;
      justify-self: start;

      @include fontDescription;
      font-size: 14px;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      color: #687480;
      transform: rotate(270deg);
      bottom: 95px;

      &::before {
        content: "";
        position: absolute;
        right: 100px;
        top: 50%;
        left: -90px;
        width: 70px;
        height: 1px;
<<<<<<< HEAD
        background-color: $green-color;
=======
        background-color: #1a5a4c;
>>>>>>> 1436c503079978e53214d800f7776737eeeac7df
      }

      @include onDesktop {
        display: block;
        grid-row: 3 / 3;
      }
    }
  }
}
