.icon {
  position: absolute;
  display: block;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  width: 24px;
  height: 24px;

  &--menu {
    position: absolute;
    background-image: url(../images/icons/menu-icon.svg);
  }

  &--close {
    align-self: start;
    background-image: url(../images/icons/close-icon.svg);
  }
}
