.main {
<<<<<<< HEAD
  // background-color: #fff;

=======
  background-color: #fff;
  
>>>>>>> 1436c503079978e53214d800f7776737eeeac7df
  &__content {
    display: grid;
    row-gap: 100px;
    padding-block: 70px;
  }
}
