.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.3s;
  transform: translateY(-100%);
  pointer-events: none;
  padding: 27px 0;
<<<<<<< HEAD
  background-color: $green-color;
=======
  background-color: #1a5a4c;
>>>>>>> 1436c503079978e53214d800f7776737eeeac7df

  @include onTablet {
    padding: 40px 0;
  }

  @include onDesktop {
    padding: 40px 0;
  }

  &:target {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }

  &__border {
    padding-inline: 20px;
    grid-column: 1 /-1;
    display: block;
    height: 1px;
    background-color: #ffffff80;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

    @include onTablet {
      flex-direction: row;
      justify-content: space-around;
      gap: 38px;
    }
  }
}
