.nav {

  &__top {
    display: flex;
    gap: 28px;
    justify-content: center;
    padding-left: 28px;

    @include onTablet {
      padding-left: 62px;
    }

    @include onDesktop {
      padding-left: 126px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 28px;
    row-gap: 24px;
    margin: 0;
    padding: 0;
    height: 72px;
    list-style: none;
  }

  &__link {
    display: block;
    width: 100px;

    @include fontDescription;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;

    @include onDesktop {
      font-size: 22px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -8px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: #292929;
      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  &__border {
    height: 1px;
    width: 100%;
    background-color: #fff;

    @include onTablet {
      height: 100%;
      width: 1px;
      padding-top: 145px;
    }
  }
}
