.schedule {
  grid-column: 1 / -1;

  @include onTablet {
    gap: 38px;
    flex-direction: row;
    border-top: none;
    padding-top: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include onTablet {
      gap: 38px;
      flex-direction: row;
      border-top: none;
      padding-top: 0;
    }
  }

  &__title {
    padding-bottom: 20px;
    color: #fff;
    @include fontDescription;
    font-size: 14px;
    line-height: 140%;
  }

  &__work {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
  }

  &__item {
    color: #fff;
    @include fontDescription;
    font-size: 14px;
    line-height: 150%;
  }

  &__weekend {
    color: #fff;
    @include fontDescription;
    font-size: 14px;
    line-height: 150%;

    @include onTablet {
      max-width: 170px;
    }
  }
}
