.top-bar {
  position: relative;
  grid-column: 1 / -1;

  @include pageGrid;

  align-items: center;
  padding-top: 9px;

  @include onTablet {
    padding-top: 15px;
  }

  @include onDesktop {
    padding-top: 15px;
  }

  &--header {
    padding-bottom: 248px;

    @include onTablet {
      padding-bottom: 40px;
    }

    @include onDesktop {
      padding-bottom: 120px;
    }
  }

  &__logo {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
    text-decoration: none;
    color: $general-text-color;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;

    @include onTablet {
      grid-column: 4 / 6;
      font-size: 36px;
    }

    @include onDesktop {
      grid-column: 6 / 8;
      font-size: 36px;
    }

    @media (min-width: 1600px) {
      grid-column: 6 / 9;
    }
  }
}
