.arrow {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all $effect-duration;

  &:hover {
    background-position: right;
  }

  @include on-tablet {
    height: 70px;
    width: 70px;
  }
}
