.contacts {

  &__title {
    margin-bottom: 20px;
    text-decoration: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #0f0e08;
  }

  &__item {
    display: block;
    text-decoration: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #0f0e08;

    &:hover {
      color: #1a5a4c;
      font-weight: 700;
    }
  }
}
