.footer {
  margin-top: 395px;
  padding-left: 55px;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: black;
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(12, 70px);

  @include on-tabl-desk {
    margin-top: 230px;
    padding-left: 39px;
    column-gap: 30px;
    grid-template-columns: repeat(6, 90px);

  }

  @include on-mob-tabl {
    padding-left: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(2, 130px);
    margin-top: 150px;
  }

  &__logo {
    grid-column: 1;

    height: 72px;

    @include on-tabl-desk{
      grid-column: 1;
    }
  }

  .header__all--text{
    @include on-mob-tabl{
      grid-column: 1/1;
    }
  }

  &__un {
    @include hover(transform, scale(1.07));

    width: 23.96px;
    height: 24px;
    display: flex;
    gap: 22px;

    @include on-mob-tabl{
      position: relative;
      left: 200px;
      top: -100px;
    }
  }

  &__menu--schedule {
    grid-column: 2/3;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    width: 170px;
    height: 271px;
    color: black;
    text-decoration: none;

    @include on-tabl-desk{
      grid-column: 2/3;
    }

    @include on-mob-tabl{
      grid-column: 1;
      margin-left: 0;
      margin-top: 40px;
      width: 130px;
height: 336px;


    }
  }

  &__menu--contact {
    grid-column: 5/6;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    width: 169px;
    height: 169px;

    @include on-tabl-desk{
      grid-column: 4/5;
    }

    @include on-mob-tabl{
      grid-column: 2;
      margin-top: 40px;
      width: 128px;
height: 189px;
    }
  }

  &__hr {
    grid-column: 7;
    height: 260px;
    color: #1a5a4c80;

    @include on-tabl-desk{
      transform: rotate(-90deg);
      grid-column: 3/5;
      height: 460px;
      margin-top: -166px;
    }

    @include on-mob-tabl{
      transform: rotate(-90deg);
      grid-column: 1/-1;
      margin-top: -30px;
    }
  }

  &__menu--adress {
    color: black;
    text-decoration: none;

    @include hover(transform, scale(1.07));
  }

  &__menu--phone {
    color: black;
    text-decoration: none;

    @include hover(transform, scale(1.07));
  }

  &__menu--phone1 {
    color: black;
    text-decoration: none;

    @include hover(transform, scale(1.07));
  }

  &__menu--email {
    color: black;
    text-decoration: none;

    @include hover(transform, scale(1.07));
  }
}

.menu__content1--c1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;

  color: black;
  grid-column: 8/9;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include on-tabl-desk{
    grid-column: 2;
    margin-top: -166px;
  }

  @include on-mob-tabl{
    grid-column: 1;
    margin-top: -100px;
  }

}

.menu__content1--c2 {
  color: black;
  grid-column: 10;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include on-tabl-desk{
    grid-column: 4;
    margin-top: -166px;
  }

  @include on-mob-tabl{
    grid-column: -1;
    margin-top: -100px;
  }
}


.footik {
  display: flex;
  justify-content: space-between;
  padding: 35 55px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 16.88px;
  color: #0f0e08;
  margin-top: 67px;

  @include on-tabl-desk {
    padding-right: 34px;
    margin-top: 1px;
  }

  @include on-mob-tabl {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    top: 500px;
  }
}

.footer__link {

  &__d {
    @include hover(transform, scale(1.07));

    @include on-mob-tabl {
      display: none;
    }

    @include on-tabl-desk {
      display: none;
    }
  }

  &__m {
    @include hover(transform, scale(1.07));

    @include on-desktop {
      display: none;
    }
  }

  &__a{
    @include hover(transform, scale(1.07));
  }

  &__b{
    @include hover(transform, scale(1.07));
  }

  &__c{
    @include hover(transform, scale(1.07));
  }
}

.nondecor {
  color: black;
  text-decoration: none;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
