.container {
  @include on-mob-tabl {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }
}

.footer {
  @include on-tabl-desk {
    padding-left: 34px;
    margin-top: 70px;
  }

  padding-left: 55px;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  width: 100%;
  top: 407px;
  height: 457px;
  color: black;
  position: relative;

  @include on-tabl-desk {
    height: 657px;
    top: 150px;
  }

 

  &__bottom {
    margin-top: 0;

    @include on-tabl-desk {
      justify-content: left;
      position: absolute;
      top: 390px;
      left: 50px;
    }

    @include on-mob-tabl {
      position: relative;
      top: 60px;
      left: -110px;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__logo {
    width: 170px;
    height: 72px;

    @include on-mob-tabl {
      position: absolute;
      top: -265px;
      left: 20px;
    }
  }

  &__un {
    width: 68px;
    position: relative;
    text-decoration: none;

    @include on-mob-tabl {
      position: relative;
      left: 280px;
      top: -105px;
    }

    &--right {
      margin-left: 10px;
    }
  }

  &__menu {
    box-sizing: border-box;
    display: flex;
    margin-left: 20px;
    margin-top: 15px;

    @include on-tabl-desk {
      margin-left: 0;
    }

    @include on-mob-tabl {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: -250px;
      left: 15px;
    }

    &--contact {
      @include on-tabl-desk {
        width: 220px;
        height: 145px;
        margin-left: 200px;
      }

      @include on-mob-tabl {
        width: 130px;
        height: 210px;
        position: relative;
        top: 106px;
        left: 150px;
      }

      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      width: 169px;
      height: 166px;
    }

    &--schedule {
      @include on-tabl-desk {
        width: 230px;
        height: 250px;
        position: absolute;
        left: 154px;
        top: 14px;
      }

      @include on-mob-tabl {
        width: 130px;
        height: 356px;
        position: absolute;
        top: 105px;
        left: 20px;
      }
    }

    &--schedule2 {
      @include on-tabl-desk {
        position: relative;
        left: 0;
        top: 0;
      }

      @include on-mob-tabl {
        width: 130px;
        position: absolute;
        top: 250px;
        left: 30px;
      }
    }
  }

  &__hr {
    position: relative;
    left: 48px;
    border: 1px solid #1a5a4c(50%);
    grid-column: 7/7;
    height: 260px;

    @include on-tabl-desk {
      height: 460px;
      transform: rotate(-90deg);
      position: absolute;
      left: 378px;
      top: 105px;
    }

    @include on-mob-tabl {
      transform: rotate(-90deg);
      left: -90px;
      top: 200px;
      height: 280px;
      margin-bottom: 40px;
    }
  }
}

.footer__inst {
  position: relative;
}

.footer__facebook {
  text-decoration: none;
}

.footer__link {
  &__d {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: black;
  }
  &__m {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: black;
  }

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: black;
}

.footik {
  position: relative;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 16.88px;
  color: #0f0e08;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 55px;
  top: 120px;

  @include on-tabl-desk {
    padding-right: 34px;
    top: 400px;
  }

  @include on-mob-tabl {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    top: 500px;
  }
}
