.galery {
  margin: 0 auto;
  padding: 0 55px;
  max-width: 1280px;

  text-align: center;

  @include on-tabl-desk {
    padding-left: 34px;
    padding-right: 34px;
    display: none;
  }

  @include on-mob-tabl {
    padding-left: 20px;
    padding-right: 20px;
    display: none;
  }

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .gallery-photo--1 {
    width: 340px;
    height: 543px;
    margin-right: 10px;
  }

  .gallery-photo--1::before {
    display: block;
    text-align: center;
    content: counter('');
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 100%;
  }

  &__title1 {
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin-top: 302px;

    @include on-tabl-desk {
      margin-left: 34px;
      margin-top: 88px;
      margin-bottom: 48px;
    }

    @include on-desktop {
      display: none;
    }

    @include on-mob-tabl {
      margin-top: 40px;
      text-align: center;
      margin-bottom: 48px;
    }
  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin-top: 302px;

    @include on-tabl-desk {
      margin-left: 34px;
    }

    @include on-mob-tabl {
      margin-top: 100px;
    }
  }

  &__photo--1 {
    margin-top: 30px;
    margin-right: 20px;

    @include hover(transform, scale(1.07));

    @include on-tabl-desk {
      width: 340px;
      height: 543px;
    }
  }

  &__photo--4 {
    margin-bottom: 200px;

    @include hover(transform, scale(1.07));

    @include on-tabl-desk {
      width: 340px;
      height: 543px;
    }
  }

  &__photo--3 {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 200px;

    @include hover(transform, scale(1.06));

    @include on-tabl-desk {
      width: 340px;
      height: 543px;
    }
  }

  &__photo--2 {
    @include hover(transform, scale(1.06));

    @include on-tabl-desk {
      width: 340px;
      height: 543px;
    }
  }
}
