.scale {
  @include on-desktop {
    margin: 0 auto;
    padding: 0 55px;
    max-width: 1280px;
  }
}

.scale1 {
  margin: 0 auto;
  max-width: 1280px;
}

.scale2 {
  @include on-desktop {
    // margin-left: auto;
    // margin-right: auto;
    max-width: 1280px;
  }
}

// .scale3{
// @include on-desktop{
// }
// }

.had {
  // width: 100vh;
  // height: 100vh;
  @include on-desktop {
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(12, 1fr);
  }

  @include on-tabl-desk {
    margin: 0 auto;
  }
}

.header {
  box-sizing: border-box;
  padding-left: 55px;

  @include on-tabl-desk {
    padding-left: 34px;
  }

  @include on-mob-tabl {
    padding-left: 0;
  }

  &__pict {
    width: 725px;
    height: 655px;
    background-image: url(../images/header.png);
    background-size: cover;
    background-position: center;
    grid-column: 6/13;

    @include on-tabl-desk {
      width: 374px;
      height: 384px;
      position: absolute;
      top: 0;
      right: 0;
    }

    @include on-mob-tabl {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 300px;
    }
  }
}

.header__all {
  margin-bottom: 200;
  height: 655px;

  @include on-tabl-desk {
    margin-bottom: 0;
    height: 472px;
  }

  @include on-mob-tabl {
    margin-bottom: 70px;
  }

  &--title {
    width: 470px;
    height: 172px;
    margin-top: 87px;
    grid-column: 1/5;
    font-size: 72px;
    font-weight: 700;
    line-height: 86.4px;
    text-align: left;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;

    @include on-desktop {
      position: absolute;
      top: 119px;
    }

    @include on-tabl-desk {
      font-size: 54px;
      line-height: 64.8px;
      grid-column: 1/5;
      position: absolute;
      margin-top: 64px;
      left: 34;
    }

    @include on-mob-tabl {
      text-align: center;
      font-size: 45px;
      font-weight: 700;
      line-height: 45px;
      width: 280px;
      height: 93px;
      margin: 20 auto;
      position: relative;
      top: 300px;
    }
  }

  &--logo {
    @include on-tablet {
      width: 170px;
      height: 72px;
      text-align: center;
    }

    @include on-mob-tabl {
      text-align: center;
    }
  }

  &--text {
    margin-bottom: 62px;
    margin-top: 15px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
  }

  &--ticbox {
    @include on-mob-tabl {
      position: absolute;
      top: 0;
      margin: 433px 20%;
    }

    @include on-tabl-desk {
      position: absolute;
      left: 74px;
      top: 0;
      grid-column: 1/3;
    }

    @include on-desktop {
      position: absolute;
      top: 467px;
      padding-left: 200px;
    }
  }
  &--ticket {
    max-width: 269px;
    height: 70px;

    @include on-tabl-desk {
      position: absolute;
      left: -38px;
      top: 300;
    }

    @include on-mob-tabl {
      width: 100vh;
      height: 50px;
      position: relative;
      left: 0%;
    }
  }

  &--vertical {
    margin-top: 45px;
    margin-left: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    line-height: 0;
    grid-column: 1/1;
    color: #687480;
    text-transform: uppercase;
    text-align: center;
    border-left: 70px solid #687480;
    height: 1px;
    transform: rotate(-90deg);
    opacity: 0;
  }
}

.hr {
  @include on-mob-tabl {
    display: none;
  }

  @include on-tabl-desk {
    display: none;
  }

  position: absolute;

  top: 575px;
  left: -55px;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  line-height: 0px;
  font-weight: 600;
  color: #687480;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  gap: 20px;

  &__border {
    border-left: 70px solid #687480;
    margin-top: 13px;
    height: 1px;
  }

  transform: rotate(-90deg);
}

.icon {
  &--menu {
    display: block;
    height: 24px;
    width: 24px;
    background-size: cover;
    background-position: center;
    margin-top: 39px;
    background-image: url(../images/baseline-menu.png);

    @include on-mob-tabl {
      position: absolute;
      margin-top: -40;
      top: 27px;
      left: 20px;
    }

    @include on-mob-tabl {
      z-index: 1;
      margin-top: 0;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &--close {
    @include on-mob-tabl {
      position: absolute;
      width: 24px;
      height: 24px;
      left: 20px;
      top: 27px;
      display: block;
      z-index: 1;
    }

    position: relative;
    bottom: 66px;
    display: block;
    height: 24px;
    width: 24px;
    background-image: url(../images/close.png);

    &:hover {
      transform: scale(1.2);
    }
  }
}
