.main {
  box-sizing: border-box;

  @include on-mob-tabl {
    position: relative;
    top: -160px;
  }
}

.subscript {
  @include on-tabl-desk {
    margin-top: 92px;
  }

  @include on-mob-tabl {
    margin-top: 100px;
  }
}

.events {
  margin: 0 auto;
  padding: 0 55px;
  max-width: 1280px;

  @include on-tabl-desk {
    padding-left: 34px;
    padding-right: 34px;
  }

  @include on-mob-tabl {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.events__title {
  margin-bottom: 56px;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;

  @include on-mob-tabl {
    width: 280px;
    height: 72px;
    text-align: center;
    position: relative;
    top: 0;
    right: -30;
  }
}

.events__one {
  @include on-desktop {
    position: relative;
    top: -10vh;
  }

  @include on-tabl-desk {
    width: 460px;
    height: 177px;
  }

  @include on-mob-tabl {
    margin-bottom: 60px;
  }
}

.events__two {
  @include on-desktop {
    position: relative;
    top: -10vh;
  }

  @include on-tabl-desk {
    width: 460px;
    height: 177px;
  }

  @include on-mob-tabl {
    margin-bottom: 60px;
  }
}

.events__collection {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: left;

  @include on-tabl-desk {
    flex-direction: column;
  }

  @include on-mob-tabl {
    flex-direction: column;
  }

  &--about {
    width: 370px;
    height: 228px;
    margin-left: 130px;

    @include on-tabl-desk {
      margin-left: 0;
      margin-bottom: 64px;
      width: 100%;
    }

    @include on-mob-tabl {
      width: 100%;
      height: 100%;
      margin-left: 0;
    }

    &--about--up {
      width: 570px;
      height: 204px;

      @include on-mob-tabl {
        width: 280px;
        height: 140px;
      }
    }
  }

  &--img {
    @include on-tabl-desk {
      width: 100%;
      height: 100%;
      margin-bottom: 40px;
    }

    margin-bottom: 104px;

    @include on-mob-tabl {
      margin-bottom: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &--name1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #687480;

    @include on-mob-tabl {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 16px;
      line-height: 16px;
    }
  }

  &--data {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: #1a5a4c;

    @include on-mob-tabl {
      width: 170px;
      height: 24px;
      font-size: 16px;
      line-height: 16px;
    }
  }

  &--data1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: #1a5a4c;
    padding-left: 180px;

    @include on-mob-tabl {
      padding-left: 10px;
      width: 174px;
      height: 24px;
      font-size: 16px;
      line-height: 16px;
    }
  }

  &--name2 {
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-align: left;

    @include on-mob-tabl {
      width: 280px;
      height: 34px;
      font-size: 28px;
      line-height: 28px;
    }

    @include on-tabl-desk {
      width: 460px;
      height: 39px;
    }
  }

  &--name3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #4e4e4e;
    font-weight: 200;

    @include on-tabl-desk {
      width: 460px;
      height: 96px;
    }
  }

  &--about--up {
    box-shadow: 0 2px 0 0 #1a5a4c40;
    background-color: #fff;
    width: 570px;
    height: 204px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 42%;

    @include on-tabl-desk {
      margin-top: 35%;
    }

    @include on-mob-tabl {
      width: 280px;
      height: 140px;
      margin-top: 30%;
    }
  }

  &--subscript {
    top: 163px;

    @include on-tabl-desk {
      top: 70px;
    }

    @include on-mob-tabl {
      font-size: 36px;
      line-height: 36px;
      width: 280px;
      height: 110px;
      left: 15%;
      top: 88px;
    }

    color: #fff;
    position: relative;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
  }

  &--subscript1 {
    margin: 0;

    @include on-tabl-desk {
      margin: 0;
    }
  }

  &--email {
    width: 570px;
    height: 70px;
    position: relative;
    top: 52px;

    @include on-tabl-desk {
      top: 33%;
      width: 55%;
      height: 55%;
    }

    @include on-mob-tabl {
      width: 280px;
      height: 40px;
      margin-top: -10;
      margin-left: 0;
    }
  }

  &--subscript2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 46px;

    @include on-tabl-desk {
      line-height: 18px;
      margin-bottom: 46px;
    }

    @include on-mob-tabl {
      line-height: 27px;
    }
  }
}

.events__collection--cover {
  width: 100%;
  justify-content: center;
  position: relative;

  @include on-tabl-desk {
    padding-right: 34px;
    padding-left: 34px;
    margin-top: 56px;
    width: 100%;
    height: 100%;
  }

  @include on-mob-tabl {
    width: 100%;
    height: 210px;
  }
}

.events__collection--cover--down {
  width: 100%;
  height: 550px;
  position: absolute;

  @include on-tabl-desk {
    width: 100%;
    height: 380px;
  }

  @include on-mob-tabl {
    width: 100%;
    height: 386px;
  }
}

.lection {
  margin-left: 100px;

  @include on-mob-tabl {
    margin-left: 21;
    text-align: center;
  }

  &--name {
    margin-left: 100px;

    @include on-mob-tabl {
      margin: auto;
      text-align: center;
    }
  }
}

.search-form__container {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
}

.search-form__container::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-form__field {
  padding-left: 32px;
  width: 470px;
  height: 70px;
  background-color: #f9f9f9;
  color: #7e7e83;
  border: 1px solid #f9f9f9;

  @include on-tablet {
    width: 374px;
  }

  @include on-mob-tabl {
    width: 280px;
    height: 50px;
  }
}

.search-form__field::placeholder {
  color: inherit;
}

.search-form__field:hover {
  text-shadow: none;
  border: 1px solid #dbdbdb;
  color: #1b2129;
}

.search-form__field:focus {
  border: 1px solid #f98921;
  color: #1b2129;
  text-shadow: none;
  box-shadow: none;
  outline: none;
}

.search-form {
  display: flex;
  gap: 30px;
  justify-content: center;

  @include on-mob-tabl {
    gap: 0;
  }

  @include on-tabl-desk {
    gap: 16px;
  }
}

.search-form__button {
  background-image: url(../images/Group\ 57.png);
  background-size: cover;
  background-position: center;
  width: 70px;
  height: 70px;

  @include hover(transform, scale(1.07));

  @include on-mob-tabl {
    width: 50px;
    height: 50px;
  }
}
