.schedule {
  display: grid;

  @include on-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  &__title {
   font-size: 14px;
   line-height: 19.69px;
   font-weight: 400;

   @include on-tablet {
    grid-column: 1 / -1;
  }
  }

  &__time {
    font-weight: 600;
  }

  &__item {
   font-size: 14px;
   font-weight: 400;
   line-height: 21px;
  }

  &__weekend {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;

    @include on-tablet {
      max-width: 144px;
    }
  }
}
