@import '../generals';

.hero {
  &__wrapper {
    @include onTablet {
      display: flex;
      align-items: end;

      .hero__background {
        order: 2;
      }
      .hero__container {
        order: 1;
      }
    }
  }

  &__background {
    max-width: 100vw;
    width: 100%;
    height: 66vh;
    max-height: 655px;

    background-image: url('../images/hero/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__block {
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    @include onTablet {
      gap: 38px;
    }
    @include onDesktop {
      align-items: end;
      gap: 89px;
    }
  }

  &__title {
    font-family: $monserratFont;
    font-size: 45px;
    font-weight: $fontWeightBold;
    line-height: $lineHeightAdditional;
    text-align: center;
    letter-spacing: $letterSpacing;

    color: $colorBlackMain;

    @include onTablet {
      text-align: start;
      font-size: 54px;
      line-height: 1.2;
    }
    @include onDesktop {
      font-size: 72px;
    }
  }
}

.hero-link {
  display: flex;

  @include onTablet {
    max-width: 270px;
    width: 100%;
  }

  &:hover {
    .button-arrow__icon {
      transform: translateX(100%) scale(1.3);
    }
  }
  &__title {
    padding: 18px;
    font-weight: $fontWeightMedium;
    line-height: $lineHeightAdditional;
    text-align: center;

    border: 1px solid $colorGreen;
    color: $colorBlackMain;
    background-color: transparent;

    flex-grow: 1;
  }
}
