* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.lock {
  overflow: hidden;
}

.lock > :not(:nth-child(2)) {
  opacity: 0.5;
  background-color: #e0dfdc;
}
// body {
//   background: $c-gray;
//   background-color: #fff;
// }

a {
  text-decoration: none;
}

.container {
  max-width: 88%;
  margin: 0 auto;
}
