.top__close {
  background-image: url(../images/icons/close.svg);
  width: 24px;
  height: 24px;
  background-position: center;
  position: relative;
  top: 6px;
  @include transition(transform,scale(1.2));
}
