.current-events {

  @include on-tablet {
    padding-bottom: 40px;
  }
  @include on-lap-top {
    padding-bottom: 0;
  }

  &__list {
    list-style-type: none;
  }

  &__title {
    @extend %h2-font-style;

    margin-bottom: 40px;
    color: $c-dark-first;
    text-align: center;

    @include on-tablet {
      margin-bottom: 50px;
    }

    @include on-lap-top {
      margin-bottom: 60px;
    }
  }
}
