.button {
  display: inline-block;
  color: $color-white;
  background-image: url("../images/icons/btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 50px;

  @include tablet {
    width: 70px;
  }

  &--green {
    background-color: $color-green;

    &:hover {
      background-color: rgb(55, 160, 137);
      background-image: url("../images/icons/btn-hover.svg");
    }
  }
}
