.icon {
  position: absolute;
  display: none;
  width: 18px;
  height: 12px;
  margin: 33px 0;
  padding: 15px;
  background-image: url("../images/icons/menu.svg");
  background-repeat: no-repeat;
  background-position: center;

  transition: all 0.5s;

  &--menu {
    background-image: url("../images/icons/menu.svg");

    &:hover {
      background-image: url("../images/icons/menu-hover.svg");
    }

    &:active {
      transform: scale(0.2);
    }
  }

  &--close {
    display: block;
    background-image: url("../images/icons/close.svg");

    &:hover {
      transform: scale(1.5);
    }

    &:active {
      transform: scale(0.2);

    }
  }
}
