.lecture {
  max-height: 210px;
  margin-bottom: 180px;

  position: relative;
  display: flex;
  flex-direction: column;

  @include tablet {
    max-height: 390px;
    margin-bottom: 200px;
  }

  @include desktop {
    max-height: 550px;
    margin-bottom: 300px;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__main {
    transform: translateY(-50%);
    text-align: center;
    max-width: 280px;
    margin: 0 auto;
    padding: 20px 0;

    background: $color-white;
    box-shadow: 0 2px 0 rgba(26, 90, 76, 0.25);

    @include tablet {
      text-align: left;
      max-width: 570px;
      padding: 45px 55px 50px;
    }

    @include desktop {
      padding: 45px 100px 50px;
    }
  }

  &__subtitle {
    padding: 0 20px;

    @include tablet {
      padding: 0;
    }
  }
}
