.logo {
  display: inline-block;
  min-width: 60px;
  max-width: 70px;
  height: 61px;
  background-image: url("../images/icons/logo.svg");
  background-position: center;
  background-repeat: no-repeat;

  @include tablet {
    height: 72px;
  }
}
