h1,
h2,
h3 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 100%;
  color: $clearDay;

  @media (max-width: $bigContainer) {
    font-size: 80px;
  }

  @media (max-width: $notebookSize) {
    font-size: 72px;
  }

  @media (max-width: $mediumSize) {
    font-size: 60px;
  }

  @media (max-width: $mobileXLsize) {
    font-size: 48px;
  }
}

h2 {
  font-size: 48px;
  line-height: 120%;
  color: $jaguar;
}

h3 {
  font-size: 24px;
  line-height: 125%;
  color: $jaguar;
}
